[2021-07-16 15:06] hjonnala commented on #417
Hmm..I have also tried cv2.destroyWindow and it is not solving the issue.
Will let you know if I find a way to clear the old detections before going to a new frame.

[2021-07-16 17:54] hjonnala commented on #419
@letdivedeep switching the model architecture might resolve the issue.
Transpose operation could be supported be in future releases.

[2021-07-16 18:07] hjonnala commented on #409
@caijinana are you able to change the model input size?

[2021-07-17 09:24] jumpingbrowntrout commented on #280
Do anyone know if the Rock Pi 4, Rock Pro 64 (RK3399) supports coral pcie/m.2?

I'm guessing if the the  CPU supports msi-x it should?

[2021-07-18 19:44] ricardodeazambuja commented on #324
What is the black magic behind "Off-chip memory used for streaming uncached model parameter"?
[code]
Another curiosity. This model is made of two other tflite models in parallel (two inputs). However, if I compile the models for shared cache (using the original two tflite files), depending on the order it changes the amount of "Off-chip memory used for streaming uncached model parameters" assigned

[2021-07-19 05:27] home9464 commented on #296
same issue

[2021-07-19 07:20] manoj7410 commented on #421
@kueblert Have you tried using opencv ?

[2021-07-19 07:28] kueblert commented on #421
@manoj7410 I tried that first, but I guess it depends extremely on the codec used. Also, I didn't really figure oput how to configure the codecs in detail using opencv (setting bitrate or profile). That's why I also tried other libraries (via Gstreamer) that provide more fine-grained access. Do you have any suggestions for the codec? h264 reached ~15 fps with my tests. VPX even a bit less. The onl

[2021-07-19 13:21] brunovollmer opened #422 "Running three D430 on Coral Dev Board"
_Note: I've created the same Issue on the librealsense repo: intelrealsense/librealsense#9443_

Hey everybody,

I'm not sure if this is the right place but I thought maybe somebody had the same problem or some idea. I'm currently trying to connect three D430 + D4 vision boards to a coral dev board through one USB-C hub. Unfortunately I can't make it work as I either receive a segmentation fault (m

[2021-07-19 13:42] brunovollmer commented on #410
Sorry for the late reply. Everything works fine! Thanks for the help

[2021-07-19 13:42] #410 closed, assigned to hjonnala

[2021-07-19 13:50] hjonnala commented on #415
Unfortunately, we don't have official support for issues with edge devices on Virtual Machines as  errors on Virtual Machines are unpredictable and are out of our control. But, some users are successful in using edge devices on virtual machines.

[2021-07-19 13:50] #415 closed, assigned to hjonnala

[2021-07-19 13:59] xmoov commented on #188
I’m very surprised this has gotten so little traction. @Namburger has there been any new developments on the topic?

[2021-07-19 13:59] eric-benjamin commented on #188
I’m very surprised this has gotten so little traction. @Namburger has there been any new developments on the topic?

[2021-07-19 15:50] hjonnala commented on #418
@ycunxi are you able to cross check the output tensors and fix the issue?

[2021-07-19 16:06] hjonnala commented on #381
@wwooster do you have any others questions regarding batched matrix vector multiplication on coral TPU

[2021-07-19 16:15] hjonnala commented on #372
@ernielikesapple are you still facing the issue?

[2021-07-19 16:20] ycunxi commented on #418
thanks for following up. we have not checked the output tensors yet. we found that a certain models (included on CORAL website/github) have this issue, but simple models work fine (e.g., a simple 5-layer CNN). We also find that even this thread error (looks like the error comes from collecting output of the inference) does not stop the inference.  We will take a look at the output tensors.

[2021-07-19 16:21] hjonnala commented on #377
@dragonvenenoso do you still have any issues?

[2021-07-19 16:26] hjonnala commented on #370
closing the issue due to inactivity. Fell free to open id issue still exist.

[2021-07-19 16:26] #370 closed, assigned to hjonnala

[2021-07-19 16:39] hjonnala commented on #365
@WKMan To debug the issue further can you share .h5 and tflite versions of Model B ?

[2021-07-20 04:16] manoj7410 commented on #422
Can you share the output of :

v4l2-ctl --list-devices

v4l2-ctl --list-formats-ext --device /dev/video1

[2021-07-20 07:40] brunovollmer commented on #422
[code]

[2021-07-20 09:55] #402 closed, assigned to hjonnala

[2021-07-20 14:03] brunovollmer commented on #422
Another thing I realized is that only connecting three but not using all of them leads to problem. So if I connect all three but only initialize two it won't work. I get more and more the feeling the problem is not related to the actual bandwidth but some USB connectivity issue of the coral dev board.

[2021-07-20 16:01] brunovollmer commented on #422
@manoj7410 Do you think this problem could be related to the kernel and a newer version could fix it?

[2021-07-20 17:33] zhanghp0451 commented on #312
@manoj7410 using SSH WSL will solve this problem.

[2021-07-20 20:18] hjonnala commented on #113
@laibilly are you still having issues?

[2021-07-21 05:30] manoj7410 commented on #312
Feel free to reopen this issue if it still persists.

[2021-07-21 05:30] #312 closed, assigned to manoj7410

[2021-07-21 07:54] fjparrado commented on #377
I am very sorry for my late reply.

Unfortunately, the resolution of 512x256 was one of the internal requirements for the project so we decided to move forward using another device.

I could not cross check that my trained model works fine using other resolutions.

[2021-07-21 08:20] ghost opened #423 "Can not install drivers on my Raspberry CompNode and the M.2 module"
I would very much like to use the M.2 - module on my RaspBerry ComputeBoard.

About the commands lsmod and lspci I see the module, but when installing the two software - packages I get the following error message:

Module build for kernel 5.10.17-v8+ was skipped since the kernel headers for this kernel does not seem to be installed.

The HEADER library for this computer are installed:

apt list li

[2021-07-21 11:01] Drulludanni opened #424 "Simpler model runs slower on edgetpu than a complex one"
So, I'm quite stumped by this. So I had this model that I compiled for the edge tpu that runs an inference in about 0.017 seconds which is a tiny bit slow for me so I decided to simplify the model a little bit and I did this by reducing the number of filters in some convolutional layers, however after doing that the model takes 0.034 seconds which is 2x slower than before which doesn't really make

[2021-07-21 13:45] brunovollmer commented on #422
Any ideas on this?

[2021-07-21 13:49] kueblert commented on #421
Am I doing something terribly wrong or has noone ever tried to write a decently sized video to disk on one of these boards?

I started dumping jpeg frames compressed with libturbojpeg to file. That works with up to 60 fps using limited cpu. h264 compression does not go beyond 30 fps even when occupying all available cpu (which is not exactly the point of the board, is it?).
Any hints on which libr

[2021-07-21 16:29] ting3000 opened #425 "RuntimeError: InvokeWithMemBuffer failed: Regular TensorFlow ops are not supported by this interpreter"
Running inference on Coral Dev Board with the re-trained ssd_mobilenet_v2_320x320_coco17_tpu-8 model, I get "RuntimeError: InvokeWithMemBuffer failed: Regular TensorFlow ops are not supported by this interpreter" when running inference with the re-trained ssd_mobilenet_v2_320x320_coco17_tpu-8 model.

Here is the steps that I build this model, is something I missed? Thanks!
1. I trained the model w

[2021-07-22 04:43] manoj7410 commented on #422
I don't see 'YUYV' format supported in your camera. Can you please confirm if your camera supports 'YUYV' ?

[2021-07-22 07:51] brunovollmer commented on #422
It seems to only support Y8 as a format for the infrared image and Z16 as format for the depth image. We are using D430s:
![image](https://user-images.githubusercontent.com/8973456/126605860-a1633f4e-2102-46a4-894c-db20090ca628.png)

[2021-07-22 07:54] brunovollmer commented on #422
If I compile librealsense without RUSB support it unfortunately does not work at all, as it only finds two of the three cameras and it can't initialize them. My question is if you have an idea of a possible patch to the native usb driver in the 4.14 kernel to make this work?

[2021-07-22 08:14] brunovollmer commented on #422
I checked some more and it appears anyways even if the document says otherwise:
[code]

[2021-07-22 08:30] manoj7410 commented on #422
I see YUY2 which is similar to YUYV. See this note at https://coral.ai/docs/dev-board/camera/#connect-a-usb-camera : Be sure that your list includes Pixel Format: 'YUYV'. Currently, YUYV is the only format supported. But the commands below refer to this format with the name YUY2, which is just a different name for the same thing.

Did you try to connect a single camera instead of multiple cameras

[2021-07-22 08:40] manoj7410 commented on #425
Have you compiled the model using edgetpu_compiler ? Can you share the compilation logs ?

[2021-07-22 08:51] brunovollmer commented on #422
Single camera does not work if I don't enable RUSB support when I built the library.

[2021-07-22 11:42] ulrichMarco commented on #417
Solved this issue by rewriting the complete project in c++.

[2021-07-22 11:42] #417 closed, assigned to hjonnala

[2021-07-22 11:55] manoj7410 commented on #176
Feel free to reopen if the issue still persists.

[2021-07-22 11:55] #176 closed

[2021-07-22 12:11] hjonnala commented on #417
Awesome, what do you think that is causing the issue with python. Is it tflite_runtime or opencv or something else?

[2021-07-22 12:22] ulrichMarco commented on #417
I dont think it was opencv, images looked good before feeding them into the interpreter and the drawed boxes matched the one the interpreter returned.
So i assume it might be some tflite_runtime issue not clearing the interpreter data correctly before the next image. But im not that deep into that to be sure.

[2021-07-22 13:48] cappittall opened #426 "tflite Assertion Error utils.same_input_image_sizes(interpreters)"
Hi,
I have created tflite model through colab demo : [Retrain EfficientDet-Lite detector for the Edge TPU (TF2)](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_efficientdet_model_maker_tf2.ipynb?authuser=1)

So far, .tflite model works very well. Before Compile for the Edge TPU.
Here the log file of compile :
Edge TPU Compiler version 15.0.340273435
Input: /con

[2021-07-22 14:09] hjonnala commented on #426
can you share your uncompiled tflite model and command executed that raises the assert error.

[2021-07-22 14:16] hjonnala commented on #425
It seems you have missed the quantization and edgetpu compilation steps.

Refer this tutorial section tf lite conversion: https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=srOYhMYfx9XH

[2021-07-22 14:21] hjonnala commented on #424
can you share your edgeptu compilation logs.

[2021-07-22 15:03] cappittall commented on #426
Hi, @hjonnala

Thanks for quick reply. here the all files :

https://drive.google.com/drive/folders/1mz0X0E5bDsQUY3k-UCjAkI26iGvRE7WP?usp=sharing

I executed exactly the same file in **edgetpu_demo --stream** file (just changed the name of model, label, and mp4 video file.  (The demo comes with Coral Dev Board, which is [car detection at highway ](https://pixabay.com/videos/road-autobahn-motorway-

[2021-07-22 15:15] hjonnala commented on #423
Hi, can you share the output of following commands:

- uname -r

- lsmod | grep apex

[2021-07-22 15:38] Drulludanni commented on #424
sure, but they seem identical.
[large model](https://github.com/google-coral/edgetpu/files/6863469/test_unet-5ch-extradata-gauss-shuffled-1626868003_edgetpu.log)
[small model](https://github.com/google-coral/edgetpu/files/6863482/test_unet-5ch-extradata-gauss-shuffled-1626874190_edgetpu.log)

the only difference I see is in which order the operations are listed.

[2021-07-22 16:20] magic-blue-smoke commented on #423
Are you using Raspberry Pi CM4? CM4 PCIe has compatibility issues with Coral TPU that don’t seem to be fixed: google-coral/edgetpu/issues/280

[2021-07-22 16:21] hjonnala commented on #424
Thanks for sharing logs.
Which coral device you are using to run the edgetpu inference?
If possible, please share the edgeptu models, uncompiled tflite models and examples to run to test the speed on my machine.

[2021-07-22 17:10] cappittall commented on #426
Sorry, I have shared wrong link. Here is the link which you can access : https://drive.google.com/drive/folders/1mz0X0E5bDsQUY3k-UCjAkI26iGvRE7WP?usp=sharing

[2021-07-22 20:06] ting3000 commented on #425
@hjonnala Thanks! You are correct that I missed those two steps.

When I try to quantize the model, I got the following error:
_Some ops are not supported by the native TFLite runtime, you can enable TF kernels fallback using TF Select. See instructions: https://www.tensorflow.org/lite/guide/ops_select
TF Select ops: ConcatV2, StridedSlice_

I tried to resolve it by using following code, then it g

[2021-07-23 08:05] ricardodeazambuja opened #427 "What is the black magic behind "Off-chip memory used for streaming uncached model parameter"?"
What is the black magic behind "Off-chip memory used for streaming uncached model parameter"?
[code]
Another curiosity. This model is made of two other tflite models in parallel (two inputs). However, if I compile the models for shared cache (using the original two tflite files), depending on the order it changes the amount of "Off-chip memory used for streaming uncached model parameters" assigned

[2021-07-23 09:46] Drulludanni commented on #424
Hi, I'm using the coral usb accelerator.

github wouldn't allow me to upload the files so I put them in this google drive: https://drive.google.com/drive/folders/1-u9GpNwRdbCAxtaMuAdDZazMWqeMIt_n

So, I'm not sure about my company's policy on sharing the models online so I made new basically untrained ones, however this small model seems faster than the trained one (only on the edgetpu, uncompiled

[2021-07-23 11:34] cappittall commented on #426
hello @hjonnala I updated the link which was wrong. Now no need autorisation.

As I  undertood, previous model input image size : (384,384) and after compile, its became (300,300) and this assortion error raise out.  So,
- Those should be the same?
-  And if it should be the same, how can switch this at the beginning of model creation?

[2021-07-23 12:44] hjonnala commented on #426
Hi, I am able to get the files. Will get back you soon.

[2021-07-23 16:17] hjonnala commented on #426
Hi, I am not able to reproduce the issue. Are you trying to do image detection?

I have used the model, images and labels in the shared drive and run with pycoral detect_image.py.

python3 examples/detect_image.py \
  --model /home/mendel/models/besas-lite-model_edgetpu.tflite \
  --labels /home/mendel/models/besas-labels.txt  \
  --input /home/mendel/models/test.jpg \
  --output /home/mendel/mode

[2021-07-23 18:31] hjonnala commented on #424
HI, Thanks for sharing models. I don't see much difference in inference time.
[code]
large.tflite
0.1496358060030616
0.1485976780022611
0.1483854780017282
0.15367160199821228
0.14959113300574245
0.15088106799521483
0.15082832500047516
0.15193483600160107
0.15003243799583288
0.15038035700126784
inference time: 0.15039387210053973
small.tflite
0.11584167899854947
0.11599051600205712
0.11696850499720

[2021-07-23 19:22] hjonnala commented on #427
Hi, please refer to this link : https://coral.ai/docs/edgetpu/compiler/#co-compiling-multiple-models

For example, consider if you co-compile two models as shown here:

**edgetpu_compiler model_A.tflite model_B.tflite**

In this case, cache space is first allocated to model A's data (as much as can fit). If space remains after that, cache is given to model B's data. If some of the model data canno

[2021-07-24 01:11] hjonnala commented on #425
@ting3000 please share your model training script and quantization script.

[2021-07-24 08:42] cappittall commented on #426
Hi @hjonnala,

Thanks for your effors,  yes model works enouh good. My question was different, as above.  My question lite model should be the same input image size with copiled version or not as edgetpu_demo cheking that? I also uploaded a video for the test. But unable to run at  Coral board yet. However, I will find another way to test. Closing the issue.
Thanks again.

[2021-07-24 08:42] #426 closed, assigned to hjonnala

[2021-07-24 14:42] hjonnala commented on #426
Hi, I have added sample script to test the video. please check detect.py and recorder.MP4 files.

https://drive.google.com/drive/folders/170BsALyM9gnSBE7DSgnPUSf029ej19TD?usp=sharing

Thanks.

[2021-07-25 08:53] cappittall commented on #426
Thanks @hjonnala
As per many testing on coral dev board, I do not want to use external library like opencv. (It takes too long building time and cunsuming almost %92 or root momery) because of I tried to use installed libraries like gsreamer instead opencv. I have to ask that its working very nice at own installed video. But at my uploaded video; object detecting is working but video is black (as

[2021-07-25 11:15] Drulludanni commented on #424
yeah, but what I don't get is why the smaller model runs slower than the larger one 😅 because the intention with the smaller model was to improve the speed, not make it worse. Because the smaller one has strictly fewer operations so I don't understand how it can possibly be slower. (note that the larger model is generally a bit faster except in the 2 seeming outliers that take 0.017 and 0.018)

[2021-07-25 12:06] hjonnala commented on #424
Actually, there is no change in number of operations, which are 59 in both cases.

![image](https://user-images.githubusercontent.com/86132058/126898292-4b14367e-d22c-4142-a199-531c67d7fef5.png)

[2021-07-25 19:40] Drulludanni commented on #424
yeah I know, but some of the convolution operations are twice as small in terms of the number of filters (and this is has a noticeable difference in performance on the uncompiled models) Why does the same not remain true for the compiled models?

[2021-07-26 00:22] hjonnala commented on #426
Hi, I am not sure why  the background is black.

I am able to run the video demo using USB accelerator and dev board connected to monitor using gstreamer.

The script I have used: https://github.com/google-coral/examples-camera/blob/master/gstreamer/detect.py

changed this line: https://github.com/google-coral/examples-camera/blob/master/gstreamer/detect.py#L114
to **src_size=(640, 380)**

Here ar

[2021-07-26 01:07] hjonnala commented on #424
The time difference coming from interpreter.invoke() line from this script ../lib/python3.8/site-packages/tflite_runtime/interpreter.py

**please check with tensor flow team** why `self._interpreter = (
          _interpreter_wrapper.CreateWrapperFromFile(
              model_path, custom_op_registerers_by_name,
              custom_op_registerers_by_func))`  line taking more time for small_edgetp

[2021-07-26 06:26] marbortoli commented on #84
@dmfolgado I am testing coral ai usage on a time series data set, but I ran in the same problem, I guess.. would you mind explaining a bit more in details how you could solve it?

[2021-07-26 16:39] ghost opened #428 "Conflict python3-edgetpu vs. python3-pycoral"
Hi, I have connected two Edge TPU accelerators to a Raspberry Pi 4. With this I want to run an object detection and secondly a bird classification. Each program works in itself. For this I would have to install "python3-edgetpu" and "python3-pycoral" in parallel. But only one of them works at a time. What can I do there.

[2021-07-26 16:57] cappittall commented on #426
Thanks @hjonnala, I have changed the video size with web whatsapp sending utility. Its working good. Also when I run $ `edgetpu_demo --device`   on device with orginal video size (not on local .html server) its working also quite good too. Now need to implements another things. (like object trackings) So far, really I appretiated your honest effort and help. Thanks again.

[2021-07-26 17:21] hjonnala commented on #428
python3-edgetpu is deprecated. please use python3-pycoal

[2021-07-26 18:52] dmfolgado commented on #84
Hi @marbortoli! Yes, sure. We actually published a paper on that topic. It's available here - [TIP4.0: Industrial Internet of Things Platform for Predictive Maintenance](https://www.mdpi.com/1424-8220/21/14/4676). Check Section 4. I hope that helps!

[2021-07-26 19:41] ting3000 commented on #425
The model was re-trained with custom dataset and TensorFlow OD API, https://github.com/tensorflow/models/blob/master/research/object_detection/model_main_tf2.py.
The pre-trained model SSD ResNet101 V1 FPN 640x640 (RetinaNet101) was downloaded from TensorFlow 2 detection model zoo https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md

The quantization

[2021-07-26 21:06] hjonnala commented on #425
@ting3000 I am able to reproduce the issue. Unfortunately, I am not able to resolve it.  Please check with tensor flow team for any post integer quantization errors.

There is also an open issue for this error in tensorflow. https://github.com/tensorflow/tensorflow/issues/46821

[2021-07-27 07:04] ghost commented on #423
Hello together and sorry for my delay, but I had a little timeout with holiday over my weekend.

uname -r:
5.10.17-v8+

but name -a:
5.10.17-v8+ #1421 SMP PREEMPT Thu May 27 14:01:37 BST 2021 aarch64 GNU/Linux

I think, that is the problem, why no driver was installed or compiled, or?

lsmod | grep apex
-> nothing!

But, lspci -v:
01:00.0 System peripheral: Global Unichip Corp. Coral Edge TPU (pro

[2021-07-27 07:11] ghost opened #429 "Cannot enable /use PCIe - Module on SLURM....."
Hello together,
i had a small question about Coral and SLURM (WorkLoad Manager).

On my Intel-based system I install the PCIe - Modul from CORAL and installed all necessary software on it and - if I see it right - it's work.

lspci -v:
02:00.0 System peripheral: Global Unichip Corp. Coral Edge TPU (prog-if ff)
        Subsystem: Global Unichip Corp. Coral Edge TPU
        Flags: bus master, fast d

[2021-07-27 08:09] manoj7410 commented on #423
@Zhexue-M We haven't been able to run Coral M.2 module on CM4 yet. Please https://github.com/google-coral/edgetpu/issues/280 for more details.

[2021-07-27 09:06] ricardodeazambuja commented on #427
Hi @hjonnala,

Thank you for your reply, but I understand the compiler will off load stuff if there isn't enough memory. My problem is that I want to understand how to get the best of it. It seems the compiler has limits that go beyond simply "amount of memory", and the type / order / number of ops used will play a role as well. However, Google does NOT document these details making me think the E

[2021-07-27 09:50] ghost commented on #423
Thank you,
but this is NOT the same ISSUE, like my ISSUE.
You can see, that the system don't compile your driver, because you've got a wrong machine type, see:

uname -r:
5.10.17-v8+

but name -a:
5.10.17-v8+ #1421 SMP PREEMPT Thu May 27 14:01:37 BST 2021 aarch64 GNU/Linux

I am using DEBIAN 11 - Image directly, not RaspianOS.... IT IS NOT THE SAME!!!
Can you check it again, please!

Best regards

[2021-07-27 11:08] Hana-Ali opened #430 "None of the Demo Edge TPU Models Work - "Module Provided has model identifier 'l><b', should be 'TFL3'""
Using a Coral Devboard, and trying to run the `detect.py` file from https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py with the models on the https://coral.ai/models/object-detection/ page. Tried `ssd mobilenetv2` and `EfficientDet Lite,` both get the same error:

[code]

Not sure what the problem is, since both get the exact same error. Help is appreciated!

[2021-07-27 11:45] manoj7410 commented on #430
@Hana-Ali Can you share the exact command that you are executing ?

[2021-07-27 11:47] Hana-Ali commented on #430
@manoj7410
It’s `python3 detect.py -m model.tflite -i image.jpg -l coco_labels.txt -o result.jpg`

[2021-07-27 11:49] manoj7410 commented on #430
@Hana-Ali What I want to know is the exact model name that you are trying to run.

[2021-07-27 11:53] Hana-Ali commented on #430
@manoj7410
Ah, yes. I've tried EfficientDet-Lite3 and SSD MobileNet V2 from https://coral.ai/models/object-detection/

[2021-07-27 12:06] manoj7410 commented on #430
Can you make sure that you are using edgetpu compatible models ?

[2021-07-27 12:07] Hana-Ali commented on #430
I downloaded them from the official coral page, so I think they should be compatible :/

[2021-07-27 12:09] manoj7410 commented on #430
At https://coral.ai/models/object-detection/ both edgetpu and CPU models are available. Please make sure that you download edgetpu models and not the CPU models. Can you please take a look again and confirm ?

[2021-07-27 12:34] Hana-Ali commented on #430
Yes, I've downloaded the Edge TPU model (has that in the file name as well)

[2021-07-27 15:25] hjonnala commented on #321
@marcin-kamionowski producing large output model got resolved with the new release of edgetpu compiler

![image](https://user-images.githubusercontent.com/86132058/127181665-5837ca8c-b7b3-481c-b999-d173c075a296.png)

[2021-07-27 15:39] hjonnala commented on #420
@Xoisai support for RESIZE_NEAREST_NEIGHBOR is added in new version of edgetpu compiler. But I see not all of the operations  mapped to Edge TPU.

![image](https://user-images.githubusercontent.com/86132058/127183666-21e0d05e-903e-4666-a837-5a83c82a4337.png)

[2021-07-27 15:44] Xoisai commented on #420
@hjonnala It needs the -sa argument, however with this included, 2 RESIZE_NEAREST_NEIGHBOUR ops are still not mapped, as with your compilation:

![Screenshot 2021-07-27 at 16 50 21](https://user-images.githubusercontent.com/48554828/127185977-d061869d-1e02-472e-8cc2-00f4b1de3d34.png)

[2021-07-27 16:12] hjonnala commented on #419
@ akanksharma are you able to modify the model that can compiled with edgetpu compiler?

[2021-07-27 16:28] hjonnala commented on #420
Yes, it is. It is  recommended not to use -a flag as this flag is still experimental.

Just curious out of 24 conv_2d layers there are 16 mapped to edge tpu and 8 are not mapped. May I ask is there any deference in those layers?

[2021-07-27 17:44] Xoisai commented on #420
The layers (see model [here](https://drive.google.com/file/d/1BBqmoqAjfpsgdRRVoxXzqHnj_HFQZThx/view?usp=sharing)) vary in filter dimension and kernel size, with some upsampling and concatenation - could it be the concatenated Conv2D layers causing the issue?

The concatenation ops are currently optimised for quantisation aware training, but I've tried to compile with a non-QAT, post training full-

[2021-07-27 21:57] hjonnala commented on #396
@Johannes-vaki new compiler version got released. @agjunyent please try with new compiler and let us know if you are facing any issues.

[2021-07-28 02:58] yangohuang commented on #152
tf2.4.2 （maybe >2.3.0 is ok）have a try

[2021-07-28 15:17] hjonnala commented on #430
@Hana-Ali can you try with latest tflite_runtime and pycoral releases. https://github.com/google-coral/pycoral/releases

[code]

[2021-07-28 16:56] hjonnala commented on #427
Hi, Please check new compiler version. Changes have been made to help the users to know more about the errors.

[2021-07-28 17:18] hjonnala commented on #418
can you please share the models that are not working, so that I can test them with new release versions.

Thanks

[2021-07-28 19:37] ferbulous opened #431 "Install M.2 Edge (B+M) TPU (not detected)"
HI, I'm trying to get this working on my  Ezbook 3 Pro
I installed the M.2 Accelerator B+M key type but doesn't seem to be detected
I'm stuck on step 5 & 6 for this instruction

https://coral.ai/docs/m2/get-started/#2a-on-linux

Typing this
`lspci -nn | grep 089a`

Does not give me any results

[code]

[code]
modinfo gasket
[code]

lspci
[code]
modinfo apex
[code]

[2021-07-29 00:21] ycunxi commented on #418
My student has prepared an example using MobileNetV2 (_model=tf.keras.applications.MobileNetV2(input_shape=IMG_SHAPE,include_top=False,weights='imagenet')_
). EdgeTPU itself can do it in 2-stage pipelining without any problem.

We have prepared the models that are split into 2-stage using **toco** in this google drive (see a zip file), including original model (.pb), original model frozen graph (.

[2021-07-29 05:01] manoj7410 commented on #431
@ferbulous Can you paste the output of below command:
- dmesg | grep pci

[2021-07-29 05:34] manoj7410 commented on #156
The latest compiler release supports LSTM(Unidirectional only). Please check supported operations at https://coral.ai/docs/edgetpu/models-intro/#supported-operations

[2021-07-29 16:43] ferbulous commented on #431
Hi, this is the output

[code]

[2021-07-29 18:02] hjonnala commented on #411
Issue got fixed in new edgetpu runtime release version.

![image](https://user-images.githubusercontent.com/86132058/127542445-fc309f21-685e-408a-8182-3c9bc9c2057f.png)

[2021-07-29 18:02] #411 closed, assigned to hjonnala

[2021-07-30 13:04] letdivedeep commented on #419
@hjonnala

we were able to resolve the issue by having a workaround with openvino2tensorflow :

Pytorch -> onnx -> openViNO -> edge_tpu

https://github.com/PINTO0309/openvino2tensorflow

blog: https://qiita.com/PINTO/items/ed06e03eb5c007c2e102

[2021-07-30 13:09] hjonnala commented on #419
@letdivedeep Thanks for sharing the workaround links.

[2021-07-30 14:54] #428 closed, assigned to hjonnala

[2021-07-30 18:10] hjonnala commented on #405
@taloot please check this comment if it helps https://github.com/google-coral/edgetpu/issues/419#issuecomment-889878751

[2021-07-30 19:12] taloot commented on #405
Thanks this look like new way to convert the model i will try it and let
you know
On Fri, 30 Jul 2021 at 9:10 PM Hemanth-Jonnala ***@***.***>
wrote:

[2021-07-30 19:57] hjonnala commented on #424
Hi, I have test for 1000 trails with new [release](https://coral.ai/software/#pycoral-api) versions of tflite_runtime and pycoral. With these smaller model performing better than large model.

![image](https://user-images.githubusercontent.com/86132058/127705254-01ad7dcd-5379-4fb2-b8a4-94eb93fc96c2.png)

[2021-07-30 20:35] hjonnala commented on #412
@dentigo please try with the new compiler. I am able to compile the tflite files with new compiler.
![image](https://user-images.githubusercontent.com/86132058/127709004-64f8a366-5a9c-4c60-aad5-9c74d216977a.png)

[2021-07-31 18:11] ferbulous commented on #431
Hi, any feedback on this?

[2021-07-31 23:51] Drulludanni commented on #424
Oh, thanks for notifying me, I won't be able to take a look at it until Tuesday unfortunately, but if it works then I'll report back and close the issue.

[2021-08-01 14:02] magic-blue-smoke commented on #431
@ferbulous most likely your m.2 slot is SATA, not PCIe.
m.2 specification allows both PCIe and SATA at the same form factor and keying

[2021-08-02 01:41] ferbulous commented on #431
I see, is there way I can verify that on the device?

[2021-08-02 10:16] magic-blue-smoke commented on #431
You can check specs of your laptop if it clearly says NVMe or SATA.

Alternatively, take a look at m.2 pinout and traces on PCB. PCIe implementation has RefClk differential pair at pins 53 and 55

[2021-08-02 12:57] #419 closed, assigned to hjonnala

[2021-08-02 13:57] DiscretePython commented on #156
Thank you for the update! This is fantastic news. I have an CRNN model I've now been able to compile and run on the Coral Dev Board.

Unfortunately, I'm running into a runtime error when trying invoke the same model on the USB TPU connected to a Raspberry PI 4.
`RuntimeError: Failed to execute request. Executable 'model' must have fully deterministic DMA hints when DMA descriptors from device are

[2021-08-02 22:47] taloot commented on #405
both ways didnt work for me

im only able to have 7 class on 512 max
this is the best result i reached with yolov5

[2021-08-02 22:50] taloot commented on #419
i try it but didnt work it gave me error
it give this error
 line 520, in _quantize
    return _mlir_quantize(
  File "/usr/local/lib/python3.8/dist-packages/tensorflow/lite/python/convert_phase.py", line 218, in wrapper
    raise error from None  # Re-throws the exception.
  File "/usr/local/lib/python3.8/dist-packages/tensorflow/lite/python/convert_phase.py", line 208, in wrapper
    return func

[2021-08-02 22:59] #427 closed, assigned to hjonnala

[2021-08-03 04:32] manoj7410 commented on #387
Closing this as this issue is not reproducible.

[2021-08-03 04:32] #387 closed, assigned to manoj7410

[2021-08-03 08:31] ricardodeazambuja commented on #427
I'm sorry, but that is not a reasonable answer. Which version of the compiler has improved error debugging????

[2021-08-03 08:44] pmdaye opened #432 "makefile_build missing symbol"
Hello,

I followed the process to compile libedgetpu using the makefile_build approach.
Everything went OK during the compilation.
However, we I run the test using:

I have a missing symbol:

I checked that this was not a mismatch between my tensorflow commit using this:

Which corresponds to the commit provided in [https://github.com/google-coral/libedgetpu#makefile](https://github.com/google-cor

[2021-08-03 08:47] pmdaye commented on #432
I am sorry, I realized I posted this message in the wrong repo... Closing now.

[2021-08-03 08:47] #432 closed, assigned to nobody

[2021-08-03 09:04] manoj7410 commented on #427
@ricardodeazambuja Compiler version 16 has better error reporting. You can see the detailed changes at https://coral.ai/news/updates-07-2021.

[2021-08-03 09:14] MekhailS commented on #193
+1, badly need this feature

[2021-08-03 09:21] manoj7410 commented on #193
Compiler version 16 supports 'Transpose' operations. Please see the list of supported operations at https://coral.ai/docs/edgetpu/models-intro/#supported-operations.

[2021-08-03 09:58] ricardodeazambuja commented on #427
@manoj7410, thank you for your reply. My problem is that I don't get an error, I just don't know how to improve / optimize the model. Is there a way to get more info about the "Off-chip memory" than what I get below?
[code]
[tflite_model.zip](https://github.com/google-coral/edgetpu/files/6923222/tflite_model.zip)

[2021-08-03 10:24] MekhailS opened #433 "Can't compile due to TRANSPOSE "Operation is otherwise supported, but not mapped due to some unspecified limitation""
I am trying to compile my .tflite model to Edge TPU, but most of the operations are not converted

<details>
<summary>Compiler output</summary>

[code]

</details>

Log file:
[code]

From log it seems like the problem caused by `TRANSPOSE` operations, which are, for some reason, not compiled

<details>
<summary>Code I used to quantize my model</summary>

[code]
</details>

.tflite model: https://d

[2021-08-03 12:02] Drulludanni commented on #424
so, I ran the small model compiled with the new and old compiler and it turns out the new compiler yields a slower model which is the opposite of what I had hoped 😅

small_new_edgetpu.tflite
0.08563881000736728
0.08766582497628406
0.08628141297958791
0.08632072003092617
0.08548570895800367
0.08619482401991263
0.08511019399156794
0.08478117501363158
0.08991771098226309
0.08939678798196837
inference

[2021-08-03 19:28] agjunyent commented on #396
Hi! Sorry for the delay, vacations kicked in!

Will test as soon as I'm back to work. Thanks!

[2021-08-04 13:58] hjonnala commented on #424
Hi, I haven't test the same small model that is compiled with different versions.

Regarding this error ValueError: Failed to load delegate from edgetpu.dll.. Could you please try with edgetpu_runtime_20210119.zip from this page https://coral.ai/software/#edgetpu-runtime

[2021-08-04 15:34] hjonnala commented on #293
@dothebart python3.9 is supported now. Please let us know if you are still facing any issues.

[2021-08-04 16:18] Drulludanni commented on #424
yeah, edgetpu_runtime_20210119.zip is the one I was using before and that works fine, but it can't run the model compiled with the newest edgetpu_compiler cause it requires runtime version 14.

[2021-08-04 16:21] hjonnala commented on #424
I am also facing issues with edgetpu runtime version 14 on windows. Will check with internal team on this issue.

[2021-08-04 23:20] hjonnala commented on #433
Hi, Transpose operations are too big to fit on edgetpu memory. Please try reducing transpose operation size.

[2021-08-04 23:46] hjonnala commented on #418
HI, the code is breaking due to your output shape is not matching with expected output shape array.

example output shape:  array([   1, 1001], dtype=int32)

[2021-08-05 05:37] JiashuGuo opened #434 "ERROR: Didn't find op for builtin opcode 'FILL' version '3' when compile integer quantized mask_rcnn_inception model"
Does anyone know if the mask_rcnn model is able to be run on the coral edgu_tpu? I got an error when running the compiler on the quantized mask_rcnn TFLite model:
[code]
- tf vesion: 2.7.0-dev20210804

- Pretrained mask_rcnn model is downloaded from: [link](https://tfhub.dev/tensorflow/mask_rcnn/inception_resnet_v2_1024x1024/1)

- Here is the code to quantize and convert the model into TF Lite  in

[2021-08-05 07:32] MekhailS commented on #433
Hello!

The thing is, I am converting my model from PyTorch to Edge Tpu using following pipeline:
PyTorch -> ONNX -> TensorFlow -> TFLite

The conversion from ONNX to TensorFlow is done using onnx2tf, which introduces transpose operations (since torch format is NCHW, and tensorflow's is NHWC)

Could you maybe suggest some workarounds? I'd be very grateful

[2021-08-05 12:58] hjonnala commented on #433
Hi, please check this comment. https://github.com/google-coral/edgetpu/issues/419#issuecomment-889878751

[2021-08-05 13:26] hjonnala commented on #434
Please try with new Edge TPU Compiler version 16.0.384591198.

[2021-08-05 15:45] #377 closed, assigned to hjonnala

[2021-08-05 15:47] MekhailS commented on #433
Thank you, i'll try this

[2021-08-05 18:41] JiashuGuo commented on #434
Got another error with version 16:

Started a compilation timeout timer of 180 seconds.
ERROR: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors.
Compilation failed: Model failed in Tflite interpreter. Please ensure model can be loaded/run in Tflite interpreter.
Compilation child process completed within timeout period.
Compilation fai

[2021-08-05 18:47] hjonnala commented on #434
have you tried to run the inference using tflite Interpreter?

Can you please share your tflite model?

[2021-08-05 20:54] JiashuGuo commented on #434
Here is the [link](https://drive.google.com/file/d/1yvvxl9iq2CpFqZ7_a4LMKZkpTppRJdGV/view?usp=sharing) to tflite model

[2021-08-05 21:13] hjonnala commented on #434
I am not able to run inference on Tflite Interpreter. Please make sure you should be able to make run inference on Tflite Interpreter before compiling to edgetpu.

Please check this link how to run inference on Tflite Interpreter: https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python

![image](https://user-images.githubusercontent.com/86132058/128422222-09435843-e45d-4948-

[2021-08-05 22:37] JiashuGuo commented on #434
May I know what version of TensorFlow you are using?

I run the model with the interpreter and got the different errors:
`Traceback (most recent call last):
  File "converter.py", line 49, in <module>
    interpreter.invoke()
  File "/home/dev/.local/lib/python3.6/site-packages/tensorflow/lite/python/interpreter.py", line 858, in invoke
    self._interpreter.Invoke()
RuntimeError: Input tensor 127

[2021-08-05 22:54] hjonnala commented on #434
I am using tflite runtime 2.5.0post1 from here https://github.com/google-coral/pycoral/releases

[code]

[2021-08-06 05:52] arun-kumark commented on #138
Hi Namburger,

I am testing the performance/throughput of fp32 and quantized models on my platform.
GenuineIntel Intel(R) Core(TM) i5-6442EQ CPU @ 1.90GHz of Logical CPUs    : 4

**My TF versions are as follows:**
[code]
The results on:

**FP32 on CPU**

[code]
And results for
**INT8 on CPU**

[code]

Observations: The performance of FP32 model is almost double than INT8 models on CPU, but Google

[2021-08-07 05:21] manju-rn commented on #256
Does M.2 Accelerator with Dual Edge TPU work with RPI 4  with the adapter?

[2021-08-07 12:02] magic-blue-smoke commented on #256
@manju-rn none of PCIe Coral TPUs are known to work with Raspberry Pi CM4 due to compatibility issue: /issues/280

My adapter only makes two cores available for Dual Edge TPU on a systems with one PCIe bus on m.2 connector (ie where one core is visible and working)

[2021-08-07 12:09] manju-rn commented on #256
Thanks @magic-blue-smoke .  So in order to use in PI 4 the USB accelerator is the only option? I thought internally the USB uses the same chip / setup

[2021-08-07 12:52] fllay opened #435 "Custom model fail to run on edgeTPU"
I follow custom object detection in this notebook

https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_ssdlite_mobiledet_qat_tf1.ipynb

I got the model and download it. However, when I test the model, I got the following error.

detect_image.py \
  --model ssdlite_mobiledet_dog_vs_cat_edgetpu.tflite \
  --labels labels.txt \
  --input dog.jpg \
  --output dog_result

[2021-08-07 15:48] hjonnala commented on #435
Hi, Please compile the model with runtime version 13 by specifying -m flag (https://coral.ai/docs/edgetpu/compiler/#usage)

`! edgetpu_compiler -s -m 13 ssdlite_mobiledet_dog_vs_cat.tflite`

or upgrade edgetpu runtime https://coral.ai/software/#edgetpu-runtime

[2021-08-07 16:17] busyyang opened #436 "Is there another way to install libedgetpu1-std"
I have fond the way to install `libedgetpu1-std` on webpage `https://coral.ai/docs/accelerator/get-started/`.
But we have no access to `packages.cloud.google.com`  since we are in China. Is there another way to install/download relative packages?

[2021-08-07 16:21] hjonnala commented on #436
Hi, please download libedgetpu packages from here: https://coral.ai/software/#edgetpu-runtime

[2021-08-08 03:10] busyyang commented on #436
@hjonnala Thanks for quick response. I would like to make sure if I am doing right.
 I have download the [edgetpu_runtime_20210119.zip](https://coral.ai/software/#edgetpu-runtime) and installed on my Raspiberry 3B.
and also install pycoral API by:
[code]
Then, it seemed that it could work when I try to type command as below without errors.
[code]

But when I run the sample code in [pycoral](https:

[2021-08-08 12:52] hjonnala commented on #436
Hi, Something went wrong with pycoral installation.

can you please paste the output of this command:
`python3 -m pip install --extra-index-url https://google-coral.github.io/py-repo/ pycoral`

The above command installs tflite_runtime and pycoral.

Alternatively, you can also try installing tflite_runtime and pycoral in the same order using .whl files from here:
https://coral.ai/software/#pycoral

[2021-08-08 13:34] fllay commented on #435
thank you very much. it is working now.

[2021-08-08 14:01] busyyang commented on #436
@hjonnala I just fond the version of pycoral is abnormal, which is 0.0.7, but the version of .whl files is 2.0.0. I uninstall them and re-install pycoral by .whl file. Now it works good. Thanks for your kindly support.

[2021-08-09 02:30] ibrahimsoliman97 opened #437 "Issue with Mini PCIe Driver, Coral is not detected."
I am currently testing [Google Coral Mini PCIe Accelerator](https://coral.ai/products/pcie-accelerator/) on Windows 10 x64.
I am facing an issue with the driver, I have followed this [guide](https://coral.ai/docs/m2/get-started/) , but the the coral is not detected in the device manager neither can be detected when running any inference script.

I have tried uninstalling the drivers and install th

[2021-08-09 03:20] #436 closed, assigned to hjonnala

[2021-08-09 04:36] #435 closed, assigned to hjonnala

[2021-08-09 04:40] manoj7410 commented on #437
@ibrahimsoliman97 Which machine are you working with ? Does your PCIe port support devices other than wifi/SSD moudles ?

[2021-08-09 07:38] busyyang opened #438 "edge TPU compiler not mapping any ops to TPU"
I am trying to run a MTCNN model on edge TPU. I have `.h5` models and convert to CPU .tflite model with python API:
[code]
Then I have the .tflite models. Further more, I use the [edge tpu compiler from Google Colab](https://colab.research.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb) to convert CPU .tflite model to TPU .tflite model.

I convert it successfully an

[2021-08-09 09:39] manoj7410 commented on #438
@busyyang The very first operator 'Conv2D' itself is working on float32 and cannot be mapped to the TPU. Please perform the quantization on this model and then try to recompile. For more details on quantization please see : https://coral.ai/docs/edgetpu/models-intro/#quantization

[2021-08-09 13:25] hjonnala commented on #437
@ibrahimsoliman97 please try with edgetpu_runtime_20210119.zip..

[2021-08-09 14:56] hjonnala commented on #409
Feel free to reopen if issue still exist.

[2021-08-09 14:56] #409 closed, assigned to hjonnala

[2021-08-09 15:03] #412 closed, assigned to hjonnala

[2021-08-09 15:13] hjonnala commented on #384
Please try with new compiler version 16.0.384591198. Also make sure you are able run the inference using [tflite Interpreter](https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python) before compilation.

[2021-08-09 20:32] hjonnala commented on #437
@ibrahimsoliman97 have you tried with edgetpu_runtime_20210119.zip?
can you please paste the command you are trying to execute and the error.

[2021-08-10 01:13] ibrahimsoliman97 commented on #437
@hjonnala Yes, I have tried this runtime version edgetpu_runtime_20210119.zip.

I execute following command:
`python examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg`

and I am getting following error:
`ValueError: Failed to load delegate from edgetpu.dll`

I am sure the python can

[2021-08-10 01:14] ibrahimsoliman97 commented on #437
@manoj7410 I will try to confirm this by today, by trying an ubuntu installation.

[2021-08-10 04:18] ibrahimsoliman97 commented on #437
@manoj7410
Ubuntu also cannot detect the coral. I will rename the issue after this.
let me report all the information that you may need.
My device is Dell OptiPlex 5080, i am using the WiFi PCIe slot.
uname -r : 5.11.0-25-generic
lscpu, lspci --vvv, dmesg outputs are attached..
[dmesg.txt](https://github.com/google-coral/edgetpu/files/6958916/dmesg.txt)
[lscpu.txt](https://github.com/google-coral/

[2021-08-10 08:33] manoj7410 commented on #437
@ibrahimsoliman97 I have faced the same issue in the past with Dell OptiPlex 3060 / 9020. both the models were not able to detect the Coral PCIe device. I don't see any Coral entry in your machine's logs too.

[2021-08-10 10:05] Drulludanni commented on #424
Any word from the internal team?

[2021-08-10 14:05] hjonnala commented on #424
Hi, I don't have any updates regarding edgetpu runtime 14 on windows.

I think, you already know the workarounds for now are either compiling the models by specifying -m flag for edgetpu compiler 13 or work with coral dev board or with different operating system.

[2021-08-10 17:34] hjonnala commented on #161
@bguo919 please check the error with new compiler and try to fix it..
![image](https://user-images.githubusercontent.com/86132058/128907416-1b5e0f66-b704-4892-a844-339b3526485d.png)

[2021-08-11 02:05] ibrahimsoliman97 commented on #437
@manoj7410 We have also tested with Dell OPTIPLEX XE3, Also got the same issue. The specifications confirm M.2 PCIe NVMe.
So what is the exact problem with all these Dell PCs?

[2021-08-11 07:16] xsacha opened #439 "Compilation failed due to large activation tensors in model."
Is there any explanation of what this error means? Is there a workaround?
The model is only 800KB so I'm unsure how any part could be too large. It's an INT8 TFLITE model that was created using [this script](https://github.com/AxisCommunications/acap3-examples/blob/master/tensorflow-to-larod/env/convert_model.py) with input size set to (1, 3, 768, 1024) [NCHW].

[code]

Edit: I found targeting an

[2021-08-11 10:27] manoj7410 commented on #439
@xsacha Can you share your CPU .tflite model here ?

[2021-08-11 10:30] xsacha commented on #439
[facedetector.zip](https://github.com/google-coral/edgetpu/files/6967684/facedetector.zip)
Here is the tflite

[2021-08-11 10:45] manoj7410 commented on #439
@xsacha Did you try to reduce the Tensor size of (1, 3, 768, 1024)  ?

[2021-08-11 11:01] xsacha commented on #439
I haven't attempted it yet. The original model runs at any resolution. Is there a limitation on the TPU?
Edit: I tried 640x480 instead and it still fails on runtime version 14 when it is quantised. If it's not quantised, then it works but obviously also fails to map any ops due to it being fp32.
The result is exactly the same as original post unfortunately.

Edit#2: For the second issue I get (on

[2021-08-11 14:27] PINTO0309 commented on #274
EdgeTPU Compiler v16
A lot more layers have been converted than when I posted the issue, but 5D Reshape and Transpose are still not converted.
![Screenshot 2021-08-11 23:24:45](https://user-images.githubusercontent.com/33194443/129047306-87653132-5548-47fa-9b4d-d2d23c15eeef.png)

[2021-08-11 16:05] hjonnala commented on #437
@ibrahimsoliman97 do you have USB accelerator? If yes, can you please try with that to check if any issue with runtime?

Also, please paste the installation log for edgetpu_runtime_20210119.zip. and output of following command:

`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`

[2021-08-11 21:13] jatinsha commented on #437
I am also getting the same error on x64 WIndows 10 device.

[code]

I was able to install the edgetpu driver successfully. Here are some diagnostic steps that I tried-

[code]

[2021-08-11 21:20] hjonnala commented on #437
@jatinsha edgetpu runtime 14 is not working on windows 10.  Which coral device are you using?

Please try with edgetpu_runtime_20210119.zip from https://coral.ai/software/#edgetpu-runtime

[2021-08-11 22:50] jatinsha commented on #437
@hjonnala : This worked. Thank you so much. I have the Coral USB Accelerator and I was following the official documentation (https://www.coral.ai/docs/accelerator/get-started#runtime-on-windows) to get it working on Windows. But definitely switching to Runtime 13 resolved the issue.

[2021-08-12 02:00] ibrahimsoliman97 commented on #437
@hjonnala I don't have a USB Stick. I only have 3 M.2 Dual Coral cards.
Installation output of edgetpu_runtime_20210119:

[code]

[code]

[2021-08-12 02:01] ibrahimsoliman97 commented on #437
@jatinsha Are you using USB stick or M.2 device?

[2021-08-12 05:56] jatinsha commented on #437
I used the USB stick.

On Wed, Aug 11, 2021 at 7:01 PM Ibrahim Soliman ***@***.***>
wrote:

[2021-08-12 09:16] ibrahimsoliman97 commented on #437
@manoj7410 @hjonnala Did you test the coral m.2 with Nvidia Jetson TX2.
I am not able to get it working with TX2 (ubuntu 18.04) as well. The TX2 has M.2 Key E. but lspci shows nothing.
From different issues i can see that it can detect single coral chip with Jetson Nano. But i only have TX2.
My question is, how to know if the m.2 coral will work with a certain hardware or not since it seems not fo

[2021-08-12 09:43] dtlam26 commented on #189
I have quantized the SSD-Resnet50, but it seems to fail on the edgetpu_compiler like everyone, would you mind to check it out?
I attached it [here](https://drive.google.com/drive/folders/1TpE0w5i2Mw4ysY3G-U3p8HDE4KocTKFe?usp=sharing)
Is that because the file is too big?

[2021-08-12 09:46] manoj7410 commented on #437
@ibrahimsoliman97 M.2 (Not M.2 Dual) has been tested with Jetson Nano. Please see this thread https://github.com/google-coral/edgetpu/issues/256#issue-745115468 to see the compatible hardware.

M.2 Dual has been tested with https://www.nexcomusa.com/Products/multi-media-solutions/digital-signage-player/high-performance-player/digital-signage-player-ndis-b537

I haven't yet tried Jetson TX2 though.

[2021-08-12 12:47] hjonnala commented on #189
@dtlam26 are you using new compiler? It says the model has large activation tensors so unable to compile.

![image](https://user-images.githubusercontent.com/86132058/129199122-8e7f8c0e-1802-4885-b41d-d72ca134f197.png)

[2021-08-13 00:51] ibrahimsoliman97 commented on #437
@manoj7410 Why does it work with the tested hardware mentioned in your link and not with my hardware here? How can we expect a thing like this, where we need to test it with every hardware in our production even when it has a standard M.2 Slot?

[2021-08-13 05:35] manoj7410 commented on #437
@ibrahimsoliman97 In some hardware the M.2 slot is just an SSD slot or a Wifi slot and not an A+E key slot. Moreover, to run the Dual Accelerator, the PCIe slot should support two instances of PCIe. Can you confirm if you have 2 x1 pcie on your host ?

[2021-08-13 06:50] ibrahimsoliman97 commented on #437
@manoj7410 According to Dell OptiPlex 5080 specifications, it has a 1 M.2 2230 slot which i am using.
For Jetson TX2 : it has a M.2 Key E, PCI-E x4.
For OPTIPLEX XE3: M.2 PCIe NVMe Class.

So we shouldn't expect it to work with any of these devices? Do you need any other debugging information that may help ?

[2021-08-13 07:19] dtlam26 commented on #189
I see, I still use the old version 15. How can I deal with this problem? Is there anyway I can extend the timeout so that it can manage somehow?

[2021-08-13 12:44] hjonnala commented on #437
@ibrahimsoliman97 Can you see any Coral Accelerator Devices in Device Tree (Device Manager).

Can you please run this [script](https://github.com/google-coral/edgetpu/blob/master/scripts/lstpu.py) and share the ouptut.
-  connecting to the coral device
-  not connecting to the coral device

[2021-08-13 21:16] hjonnala commented on #189
@dtlam26 please try with -t flag with 1000seconds it would compile.

![image](https://user-images.githubusercontent.com/86132058/129419269-f1758e29-8303-4f14-af7b-a0ab32f78195.png)

[2021-08-14 23:40] VelizarVESSELINOV commented on #296
We are at the 11.5.1 version of macOS. Can we assume that Coral AI is a dead project working only with an obsolete version of macOS before 2019 (2 years ago) and since zero efforts to make it compatible with the modern working environment?

[2021-08-15 18:31] dtlam26 commented on #189
awesome! that should be. Thank you

[2021-08-15 22:57] xsacha commented on #439
I've had several more attempts at this. Using v1 converter, using much smaller input size, manually allowing only uint8 ops and such and still can't get it working.

Q1. Does every op have to be uint8 to run on the TPU? I notice the first thing the TFlite does is quantize to signed int8.
Q2. Does Tensorflow 2 not create models compatible with Edge TPU?
Q3. Do I have to use Channels-Last format to

[2021-08-16 00:02] drh746 commented on #296
same issue here.

[2021-08-16 04:08] ibrahimsoliman97 commented on #437
@hjonnala  No coral devices appear at Device Manager.

The script print nothing on both cases (connected or not connected).

[2021-08-16 05:29] manoj7410 commented on #439
Yes. Every operations has to be int8 quantized in order to run on the TPU. Please see the model requirements at https://coral.ai/docs/edgetpu/models-intro/#model-requirements

TF2 models are compatible with the edgeTPU.

Please see the documentation https://coral.ai/docs/edgetpu/models-intro/#compatibility-overview for the model compatibility information.

You can find many tutorials around this i

[2021-08-16 06:20] xsacha commented on #439
@manoj7410
On this page https://coral.ai/docs/edgetpu/faq/ it says:

Is this out of date? I am using the post-training quantization in TF 2.5 right now and wondering if that is an issue. I can set uint8 as input and output but the actual ops have to be int8. Due to this error (**large activation tensors in model**), I cannot use runtimes that support Quantize (13+), so I changed it to use **int8 i

[2021-08-16 07:20] manoj7410 commented on #439
Please see the section : "Can I use TensorFlow 2.0 to create my model?" at https://coral.ai/docs/edgetpu/faq/.
I'll also get this documentation checked once from the team.

[2021-08-16 07:35] #189 closed

[2021-08-16 13:46] hjonnala commented on #438
@busyyang are you able to quantize the model and compile it with edgetpu compiler?

[2021-08-16 13:53] hjonnala commented on #433
Please reach out to community for this specific issue (PyTorch -> ONNX -> TensorFlow -> TFLite).

[2021-08-16 13:53] #433 closed, assigned to hjonnala

[2021-08-16 14:02] hjonnala commented on #434
Feel free to reopen the issue if you are able to run the inference using tflite interpreter and not able to compile with edgetpu compiler.

[2021-08-16 14:02] #434 closed, assigned to hjonnala

[2021-08-16 14:24] hjonnala commented on #430
Closing due to inactivity. Feel free to reopen if issue still exists.

[2021-08-16 14:24] #430 closed, assigned to hjonnala

[2021-08-16 14:42] #321 closed, assigned to hjonnala

[2021-08-16 14:46] manoj7410 commented on #439
@xsacha Channel first approach might fail, as tflite and edgetpu_compiler doesn't fully support all the ops.

[2021-08-16 15:09] publioelon opened #440 "Running grad-cam with PyCoral API"
Hi, I'd like to know if it's possible to run grad-cam using the PyCoral API, so far I was not able to find examples

[2021-08-17 00:45] bluan commented on #280
I'd like to add some clarifications to the comments from SamueldeFaria above... the reason Coral team could not provide the host board design support with CM4 and Coral Accelerator, is due to the fact that we won't know if a certain board design is going to work or not until the board is physically made and tuned, given the stated reason of PHY trace.  And we asked for some information about what

[2021-08-17 01:45] busyyang commented on #438
@hjonnala Thanks, I did quantize the model by tf.Lite.Converter and compile it with web-base edgetpu compiler. It works good right now.

Well, may I have another question? I fond that there are postprocess step if I download the trained model from https://coral.ai/models/. In my custom project, how can I add the postprocess into the _edgetpu.tflite instead of do it by post-process code?

[2021-08-17 05:16] goodboychan opened #441 "code for retraining semantic segmentation model"
Hi, I'm trying to handle semantic segmentation on Edge TPU (w. coral dev board)

I found the example model for Pet/Object/Body segmentation [here](https://coral.ai/models/semantic-segmentation/), but I want to retrain the model for my purpose through same approach. (of course I have my datasets that consists on several polygon)

Is there any place to get retraining code for these purpose?

Thanks

[2021-08-17 06:16] xsacha commented on #439
I used a channels-last version instead (same model would fail on all ops as channels-first) and got the following:

It looks like then that it isn't possible for me to convert a model from PyTorch/ONNX that can then work on the Edge TPU as they only have facility for channels-first ops (channels-last memory layout only).
There should probably be some big red text in the documentation stating this

[2021-08-17 07:48] manoj7410 commented on #441
@goodboychan Code for retraining a semantic segmentation model hasn't been documented/published.

[2021-08-17 07:59] goodboychan commented on #441
Thanks for the notice.

Actually, I found the [DeepLab](https://github.com/tensorflow/models/tree/master/research/deeplab) model from tensorflow repo. I just wonder that this model pipeline is the same as the pretrained model metioned on pages.

[2021-08-17 08:15] manoj7410 commented on #439
@xsacha Can you take a look at this comment once https://github.com/google-coral/edgetpu/issues/419#issuecomment-889878751

[2021-08-17 08:40] xsacha commented on #439
Thanks. That looks promising. From what I can see, it goes via openvino to perform the conversion and that extra step might introduce other limitations but it opens up a better possibility than retraining all the models!

[2021-08-17 08:40] #439 closed, assigned to manoj7410, Naveen-Dodda

[2021-08-17 13:36] hjonnala commented on #438
Hi, There are two ways to create the models that are compatible with Edgeptu.

1. Post integer quantization.
2. Quantization Aware Training

You can use quantization-aware models to avoid post processing.

Please refer to these [tutorials](https://github.com/google-coral/tutorials) for examples.

[2021-08-17 16:56] FHermisch opened #442 "Automatically switching on Dev-Board Mini with power supplied over GPIO 5V"
Hi,

I provide power to the DevBoard-Mini from the GPIOs via our own custom-made PCB HAT (which additionally just features some LEDs and a Fan-Control for an industry-fair showcase).
I seams like I misunderstood 5.1.2 of the DevBoard-Mini technical manual - thinking it would power up automatically like having power supplied via USB OTG.

Is there any way to make the DevBoard-Mini boot automaticall

[2021-08-17 19:03] dungcules opened #443 "swiotlb buffer is full"
I am working with 4GB coral development board and a Flir blackfly usb3 camera (BFS-U3-244S8C-C). The camera works fine with my Ubuntu laptop. I am developing an application with this camera and Coral development board. However, I got following error when trigger this camera:
[code]
I already increase the swiotlb buffer to 65535. My Kernel command line is as following:

`[    0.000000] Kernel comma

[2021-08-18 01:30] hjonnala commented on #442
Hi Florian,

This is not possible without hardware changes. There are two ways to boot the system, via the power button or via charger detection. If you look at page 5 of the schematic (https://github.com/google-coral/electricals/blob/master/dev_board_mini/Coral-Dev-Board-Mini-schematic.pdf) you'll see the detect signal (VCDT) is only sourced when the USB OTG 5V is applied (VBUS_TYPC). This would

[2021-08-18 01:55] busyyang commented on #438
Thanks, it help me a lot.

[2021-08-18 01:55] #438 closed, assigned to hjonnala

[2021-08-18 05:20] xsacha commented on #439
As an update, I managed to convert one of my models that was getting this error using the method you linked to.
Another model failed due to a rounding difference in OpenVino.

[2021-08-18 08:15] FHermisch commented on #442
Hi Hemanth,
thank you. As you searched, I also had a look into the schematics. The VCDT you mentioned as well as the PWRKEY signal is connected to the MT6392 chip. The functionality of this chip is steered by a multitude of register settings via system drivers / device tree overlays. Sadly there is no open available documentation of that chip - it might feature some persistent registers which stee

[2021-08-18 08:17] Davidvm86 commented on #256
Does anybody uses the Mini PCIe Accelerator in combination with a Synology DS1621+ it has a PCIe slot.
I would like to use that slot  for the coral Mini PCIe Accelerator

[2021-08-18 12:33] manoj7410 commented on #443
@dungcules  Can you try the following method:

=> setenv othbootargs swiotlb=65536
=> printenv othbootargs
othbootargs=swiotlb=65536
=> saveenv

And is there a third party library or SDK that you are using here ?

[2021-08-18 13:06] manoj7410 commented on #422
Based on the conversation at https://github.com/IntelRealSense/librealsense/issues/9443 marking this thread as closed for now. Feel free to reopen this issue whenever you need to.

[2021-08-18 13:06] #422 closed, assigned to manoj7410

[2021-08-18 13:18] manoj7410 commented on #421
@kueblert What is the resolution that you are trying to record here?

[2021-08-18 13:29] manoj7410 commented on #147
@fjp Can you try to compile using the 16.0 version of the compiler ?

[2021-08-18 13:50] manoj7410 commented on #156
@DiscretePython Did you try on any other machine except this RPI4 ?

[2021-08-18 13:54] manoj7410 commented on #144
@BotScutters If you are still working on this, can you try to compile your model with the compiler version 16.0 ?

[2021-08-18 13:57] manoj7410 commented on #288
Feel free to reopen if this issue still persists.

[2021-08-18 13:57] #288 closed, assigned to manoj7410

[2021-08-18 13:58] manoj7410 commented on #295
Feel free to reopen if the issue still persists.

[2021-08-18 13:58] #295 closed, assigned to manoj7410

[2021-08-18 14:04] manoj7410 commented on #316
Feel free to reopen if the issue still persists.

[2021-08-18 14:04] #316 closed, assigned to manoj7410

[2021-08-18 14:08] manoj7410 commented on #336
Feel free to reopen this thread if the issue still persists.

[2021-08-18 14:08] #336 closed, assigned to manoj7410

[2021-08-18 14:09] manoj7410 commented on #357
Feel free to reopen this thread if the issue still persists.

[2021-08-18 14:09] #357 closed, assigned to manoj7410

[2021-08-18 14:13] manoj7410 commented on #399
@ulrichMarco Are you still facing any issues while running models on the edgetpu ?

[2021-08-18 14:15] manoj7410 commented on #393
@arya-yazdani did you try to train the model from scratch ?

[2021-08-18 14:18] manoj7410 commented on #341
Closing this due to lack of activity.

[2021-08-18 14:18] #341 closed, assigned to manoj7410

[2021-08-18 14:22] kueblert commented on #421
@manoj7410 960x480 @ 30 fps

[2021-08-18 14:28] dungcules commented on #443
@manoj7410 I already set the environment as you suggest but the error still repeats

[code]

The SDK that I use has name of Spinnaker and it comes from the Camera manufacture. The link is below
https://www.flir.com/products/spinnaker-sdk/

[2021-08-18 14:34] manoj7410 commented on #443
@dungcules I have seen similar issue in the past where the third party lib was blocking the swiotlb buffer size. I would suggest you to check if the SDK that you are using has some soft spot which is causing this issue.

[2021-08-18 15:05] dungcules commented on #443
@manoj7410 I send the SDK developing team an email for this issue. I will update as soon as I heard back from them.

[2021-08-18 15:51] bitbashing commented on #256
@pirazor I've tested the single TPU module with Rock Pi 4 C; 4+ B is newer so I can't comment on that model. The rockpi.org tech specs posted online are unfortunately incomplete, they don't list the actual type of key for their M.2 socket, but in the case of 4 C it's M key. I would imagine 4+ B is also M key; the dual TPU model is E-key so right off the bat you'd need an adapter.

The RK3399 SoC o

[2021-08-18 16:22] BotScutters commented on #144
@manoj7410 I no longer have the code/hardware for this project, so unfortunately I can't, sorry.

[2021-08-18 16:25] #144 closed

[2021-08-18 17:03] magic-blue-smoke commented on #256
@blazczak @pirazor
For second core to work on Dual Edge TPU, system has to have second PCIe interface routed to m.2 connector, which is rare. **Important**: Dual Edge TPU exposes two **independent** PCIe buses, ie times two PCIe x1 interfaces, and not PCIe x2
PCIe m.2 specification defines second PCIe bus for E-key as optional, this is why on most system only one core is visible.
Keys B and M have

[2021-08-18 17:22] hjonnala commented on #442
Hi Florain,

The documentation for MT6392 chip is not open sourced. I have checked with internal team got to know that even the documentation of chip won't help in this case.

Thanks

[2021-08-18 17:24] DiscretePython commented on #156
Yes, I tried connecting the USB Accelerator to a laptop running x86_64 Ubuntu 20.04 and get the same runtime error.

I've had success running the model on a Coral dev board and a Gateworks SBC with a mini PCIe Accelerator so I'm wondering if it may be a problem related to the USB Accelerator.

[2021-08-18 17:25] FHermisch commented on #442
Thanks a lot for checking this!

[2021-08-18 17:25] #442 closed, assigned to hjonnala

[2021-08-18 19:45] dungcules commented on #443
@manoj7410 Could you tell me the correct way to increase the USB-FS memory? This camera transfer captured data directly to host RAM. The installer increase value of `/sys/module/usbcore/parameters/usbfs_memory_mb` to 1000 (from 16). The error message from dwc3 driver also mentions 16MB only. Is that just a coincident?

[2021-08-18 21:18] dyoo-dev opened #444 "Errors when retraining EfficientDet-Lite"
Hello,

I am retraining EfficientDet-Lite models using the Jupyter notebook you shared (https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_efficientdet_model_maker_tf2.ipynb)

When I used Lite2 spec, I was able to get the TPU model successfully. But when I used Lite4 spec, I got errors from the following commands.

1. evaluate a tflite model
This is the command
[co

[2021-08-18 23:51] hjonnala commented on #444
Hi, the issue (InvalidArgumentError: required broadcastable shapes [Op:Mul]) is coming form tensorflow tflite model itself. We are not experts in solving these issues. Please check with tensor flow lite team regarding this.

[2021-08-19 00:03] hjonnala commented on #424
HI, regarding same model inference time with different version of edgeptu compiler, it is possible to get more inference time when compared to previous versions. As new compiler changes mostly focus on improving the accuracy for the existing operations and adding more support to additional operations.

[2021-08-19 06:07] manoj7410 commented on #156
@DiscretePython Are you able to run any other model with this USB Accelerator ?

[2021-08-19 06:15] manoj7410 commented on #443
You can see the usbfs_memory by the command:

cat /sys/module/usbcore/parameters/usbfs_memory_mb
And you can change it's value if you want:

echo 1000 > /sys/module/usbcore/parameters/usbfs_memory_mb

This would assign a maximum of 1000 MB to the USB stack.

[2021-08-19 06:27] manoj7410 commented on #443
Changing the value of /sys/module/usbcore/parameters/usbfs_memory_mb is the correct way I believe. But in your SDK's code as well there should be a buffer referring to swiotlb which is restricted to 16 MB or so.

[2021-08-19 08:57] AkkiSony opened #445 "RuntimeError: Internal: Unsupported data type in custom op handler: 1302091184Node number 1 (EdgeTpuDelegateForCustomOp) failed to prepare."
I converted my darknet model to tflite model using the follwing link. https://github.com/guichristmann/edge-tpu-tiny-yolo

After sucessfully converting the model into tflite, I tried to do inference on the image. During thsi process, I am getting the folwwing error. Please help me fix the issue.

The link to my model and classes can be found in the below link.
https://drive.google.com/drive/folder

[2021-08-19 10:02] AkkiSony commented on #445
I added 'edgetpu.dll' in the path instead of .so file and hence, I could over come the previous error. Now, I have aniother error. Can you please help me with the same?

![coral-TPU-error-21](https://user-images.githubusercontent.com/85996229/130049809-bec4f8b3-e787-4951-8359-da6d11dbe1ad.PNG)

 Thanks in advance!

[2021-08-19 11:16] hjonnala commented on #445
have you complied the model by specifying runtime version 13 with -m flag since you are using runtime 13?

[2021-08-19 11:29] AkkiSony commented on #445
@hjonnala I would like to know if I have to install edgetpu_runtime in the new virtual environment created my me? Becasue, when I type the folllwing command, I get the follwing output.

------------------------------------------------------------------
(yolov3-tflite) C:\pycoral_venv\Scripts\coral\pycoral1>python
Python 3.7.10 | packaged by conda-forge | (default, Feb 19 2021, 15:37:01) [MSC v.191

[2021-08-19 11:43] AkkiSony commented on #445
As per the link(https://github.com/guichristmann/edge-tpu-tiny-yolo) followed, this requires me to install tensorflow 1.15.0 and opencv. Hence, I have installed them in the virtual environment. Apart from that, is there anything, I need to install for running inference on edge tpu? I also installed edgetpu_runtime for python version 3.7.11.
tflite.__version__
'2.5.0.post1'
@hjonnala What needs to

[2021-08-19 11:54] AkkiSony commented on #445
Yes, I did compile it with version 13. Yet same output. :( @hjonnala

[2021-08-19 13:12] hjonnala commented on #445
You are able to get the output details when using detect_image.py but it is failing while doing post processing since the model output details are different from expected ones. you can reference this [script](https://github.com/guichristmann/edge-tpu-tiny-yolo/blob/master/inference.py) how to do post processing of output details. or you can try same script with tensorflow2.5

[2021-08-19 13:22] AkkiSony commented on #445
Does this mean that, my model is working fine? Is there a way where I can check the inference of the tflite model first. If it works fine, I think I can try working on edgetpu.tflite model.

[2021-08-19 13:41] AkkiSony commented on #445
When I upgraded tf to 2.5.0, I got the folllowing output. I am not sure why is it loading more than one .dll file.

![coral-TPU-error-22](https://user-images.githubusercontent.com/85996229/130079258-64676fea-febd-4fe8-99f5-3932b8ce0b8a.PNG)

[2021-08-19 13:52] dyoo-dev commented on #444
Thank you @hjonnala.

How about the compiler error?

[2021-08-19 13:57] hjonnala commented on #444
Compilation is recommended only after successful inference with CPU tflite model. Please get back to us if there are no issues with CPU tflite model.

[2021-08-19 14:09] hjonnala commented on #445
You can use this script to check whether model is working fine or not for both tflite and edgetpu models.

[code]

[2021-08-19 14:45] AkkiSony commented on #445
@hjonnala Thanks for your reply.
After, I updated to tf 2.5.0, the code works without any error. But, there are no predicitions at all.
1. Can you give me some tips where I can start debugging this code from?
2. Or would you suggest me to use detect_image.py script and analyse the output_details?
3. I have no good knowledge of post procesing. Is there any link which helps me learn how to write pos

[2021-08-19 14:52] hjonnala commented on #445
There are no predicitions at all. Are you referring to this [script](https://github.com/guichristmann/edge-tpu-tiny-yolo/blob/master/inference.py)?

[2021-08-19 15:06] hjonnala commented on #445
you can reach out some folks here https://github.com/google-coral/edgetpu/issues/405 on help with running inference.

[2021-08-19 15:08] AkkiSony commented on #445
Yes, this script! :/

[2021-08-19 15:13] AkkiSony commented on #405
Hi Guys,
I converted darknet - Yolov3 model to tflite model using the follwing link - https://github.com/guichristmann/edge-tpu-tiny-yolo

I could successfully convert the model, but when I run inference using Inference.py script, I got no prediction on my image at all.
You can find my model along with the classes here. https://drive.google.com/drive/folders/181npG1SDJnMBBQOm_gXbL0XguSA4gGsy?usp=s

[2021-08-19 15:25] AkkiSony commented on #445
Do you have any idea of any software which helps us to visuzalize the output during debugging? I have heard of "Image Watch" which is used with visual studio. Is there any with PyCharm?

Do you have any info on these?

[2021-08-19 15:32] DiscretePython commented on #156
Yeah, I've never had any other issues running (non-LSTM) models on this particular USB Accelerator. I just ran [this example](https://github.com/google-coral/examples-camera) from the coral website today and it's working fine. This probably doesn't rule out my Accelerator as the problem but makes it seem unlikely.

To make sure it isn't a problem with my particular model, I created a very simple L

[2021-08-19 16:05] arya-yazdani commented on #393
Hi,
No I tried another model with image size of 300x300 which does not have fpn
feature extractor. Fpn’s are not compatible with EdgeTPU
Thanks for the follow up

On Wed, Aug 18, 2021 at 7:15 AM Manoj ***@***.***> wrote:

[2021-08-19 16:11] Drulludanni commented on #424
hmm, ok that is unfortunate for me 😅

[2021-08-19 16:24] AkkiSony commented on #445
When I trying inference with the above mentioned

script.

I am getting the following output.
![coral-TPU-error-24](https://user-images.githubusercontent.com/85996229/130106298-dc9fda88-bbb3-4dc7-b669-8cb049d4cc37.PNG)

[2021-08-19 16:29] hjonnala commented on #445
you might does not have models folder.

replace
`model_path = os.path.join(base_dir, 'models', model_name)`

with
`model_path = os.path.join(base_dir, model_name)`

[2021-08-19 18:05] jveitchmichaelis commented on #187
This is still an issue with current versions, but one possible issue is input sizes. I have a UNet model that fails to map fully with a 256x256 input, but works fine with a 128x128.

For reference, I tried exporting my model with Tensorflow 2.2 and compilation just fails without any reason:

[code]

Here's the output from v15 and TF 2.5.0, note none of the layers are mapped and also the log messag

[2021-08-19 19:51] AkkiSony commented on #445
I changed with      > model_path = os.path.join(base_dir, model_name)

However, I still have the same issue. I guess the issue is with libedgetpu.so or edgetpu.dll. Do I have to mention the path of edgetpu.dll as I am working with Windows.

[2021-08-19 20:18] hjonnala commented on #445
please check the value error path and path to tflite is matching or not.. No need to mention the path of edgetpu.dll.

or you can directly pass edgetpu_tflite.path here: model_path = os.path.join(base_dir, 'models', model_name)

[2021-08-19 20:38] hjonnala commented on #440
Hi, if you have the model ready, you can try converting the model using post integer quantization to tflite and compile with edgetpu compiler.

Please check this tutorial section tflite conversion: https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=w9ydAmHGHUZl

[2021-08-19 21:07] AkkiSony commented on #445
I changed, yet no change in the output :/
![coral-TPU-error-25](https://user-images.githubusercontent.com/85996229/130143915-244b469b-7296-4176-9334-e17e7974b2e6.PNG)

I dint get this.

[2021-08-19 21:19] hjonnala commented on #445
I can see a mismatch after pycoral1. Please use model_path = r'path to tflie'

[2021-08-19 21:22] AkkiSony commented on #445
![coral-TPU-error-25](https://user-images.githubusercontent.com/85996229/130146011-5dd8712b-917b-4efe-9120-f40167f993c2.PNG)

What is this issue with numpy? Current version 1.21.2

When I try to update numpy, I get the followig:

(yolov3-tflite) C:\pycoral_venv\Scripts\coral\pycoral1>pip install -U numpy                                                                                             Re

[2021-08-19 21:29] hjonnala commented on #445
Please install numpy==1.21.1

[2021-08-19 21:38] AkkiSony commented on #445
@hjonnala  Thanks :) It worked! :)
I visualized the output_data shape and found it to be (1, 13, 13, 30). How do I visualize the output? Is there a way where I can pass an image and check the output? How can I use this script to visualize the output image?

[2021-08-19 21:41] hjonnala commented on #445
sorry, we don't have any sample inference scripts to visualize the images for yolov3 models.

[2021-08-19 21:44] AkkiSony commented on #445
Okay thanks. But can you tell me what does this script do then? What does it indicate? Just curious to know what to do with this output.

[2021-08-19 21:46] hjonnala commented on #445
it is just passing some random input based on input shape and checking the model can produce some inference or not..

[2021-08-20 03:32] ibrahimsoliman97 commented on #437
@manoj7410 @hjonnala We are planning to buy a new PC to test the dual coral m.2, could you please advice what are the exact requirements that i should be looking for M.2 slot? should it be M.2 Key E only? or there are any other requirements?

[2021-08-20 06:03] manoj7410 commented on #393
Coral has started supporting FPN now. Please checkout https://coral.ai/news/updates-07-2021.

[2021-08-20 06:03] #393 closed, assigned to manoj7410

[2021-08-20 06:18] bennyryan opened #446 "Coral M.2 Accelerator with Dual Edge TPU Not detected"
Hi all,

Not sure if it a motherboard issue or a software issue but I cannot detect the "Coral M.2 Accelerator with Dual Edge TPU".
Might have to invest in a M.2 E Key adaptor.

Details below:
Motherboard: https://www.asrock.com/MB/Intel/B560M%20Pro4/index.asp#Specification (updated to latest bios)
OS: Ubuntu 20.04.2 LTS

Command runs below:
$ uname -a
`Linux abc 5.10.0-1044-oem #46-Ubuntu SMP Wed

[2021-08-20 08:35] manoj7410 commented on #446
@bennyryan Can you paste the output of :

- lspci -vvv

[2021-08-20 08:38] AkkiSony commented on #445
@hjonnala I have never written a post processing code. I have searched on google and could not find any useful resource. Could you please help me by acknowledging me how to write post processing code or could you share any useful link where I learn how to write them?
In this script, which is the post processing part? https://github.com/guichristmann/edge-tpu-tiny-yolo/blob/master/inference.py
Than

[2021-08-20 08:48] bennyryan commented on #446
Thanks for the quick reply.

Results from: lspci -vvv
`00:00.0 Host bridge: Intel Corporation Device 9b63 (rev 03)
	Subsystem: ASRock Incorporation Device 9b63
	Control: I/O- Mem+ BusMaster+ SpecCycle- MemWINV- VGASnoop- ParErr- Stepping- SERR- FastB2B- DisINTx-
	Status: Cap+ 66MHz- UDF- FastB2B+ ParErr- DEVSEL=fast >TAbort- <TAbort- <MAbort+ >SERR- <PERR- INTx-
	Latency: 0
	Capabilities: <access

[2021-08-20 09:11] ulrichMarco commented on #399
No, the models are working now.

[2021-08-20 09:11] #399 closed, assigned to manoj7410

[2021-08-20 09:27] manoj7410 commented on #446
I don't see any entry of Coral device in the output of lspci. Can you try to connect the device in some other PCIe port? You should see an entry with device ID : 089a

[2021-08-20 12:17] bennyryan commented on #446
Yeah that is my issue.
This is the M.2 E Key variant of Coral. So no other slot to plug it in to.

Guess I need to get an adaptor.

[2021-08-20 17:17] hjonnala commented on #437
@ibrahimsoliman97 PC needs to have M2 with A, E, B or M key  and Standard PCIE lane.

As a note, the port should be able to instantiate two instances of the PCIe device. Which means there should be two devices with the device ID 089a in lspci -vvv

[2021-08-21 22:55] magic-blue-smoke commented on #446
@bennyryan behavior of your system is not what I'd expect, ie I don't believe motherboard doesn't have at least one PCIe interface on m.2 slot

Might be the case that m.2 slot is multiplexed with regular slot and disabled or auto-detection fails to detect m.2 card.

With given above, you should see at least one TPU core. Try to change UEFI settings first.

Getting passive m.2 E key to desktop PCIe

[2021-08-22 23:23] bennyryan commented on #446
Thanks for your input @magic-blue-smoke.
Any specific UEFI settings I should be looking at?

Also let me know when you release your Adapter, I will be ordering!

[2021-08-22 23:37] magic-blue-smoke commented on #446
@bennyryan in my UEFI: Advanced settings -> Onboard Devices Configuration -> M.2(WiFi)&PCIEX1_2 Select, where I have "Auto", but another options are "M.2(WiFi)" and "PCIEX1_2". All my PCIe slots are empty and UEFI switches PCIe to m.2 slot. In your case you might have something in PCIe slot, which "steals" bus from m.2 slot.

Thanks for your interest in adapter, I'll let you know, same time will a

[2021-08-23 14:07] dungcules commented on #443
@manoj7410 I have talked to the SDK developing team and they confirmed that the SDK does not restrict the buffer size to 16MB. Is that any way that we can test the size of `usbfs_memory_mb` on a specific process?

The problem is solved when I reduce the image size to smaller size. This means the setting on `usbfs_memory_mb` is not adopted by the system.

[2021-08-23 15:16] AkkiSony commented on #445
Solution to the problem statement:
1. The following error could be over come following - google-coral/tflite#37 (comment).
2. By upgrading tf version.

[2021-08-23 15:16] #445 closed, assigned to hjonnala

[2021-08-23 19:35] jdubz93 opened #447 "Support TFDF (Decision Forests ML)"
### Description

Could we get edge tpu support for the tensorflow decision forest models?

### Issue Type

Feature Request

### Operating System

Mendel Linux

### Coral Device

Dev Board

### Other Devices

_No response_

### Programming Language

C++

### Relevant Log Output

_No response_

[2021-08-23 20:43] hjonnala commented on #447
Hi, So far Tflite hasn't started to support Decision Forests. Since edgetpu only support full int8 tflite models, Decision Forests/Trees cannot pass through edgetpu_compiler.

Ref: https://github.com/tensorflow/decision-forests/issues/20
https://github.com/tensorflow/decision-forests/issues/5

[2021-08-24 00:51] ryan-keswick opened #448 "Cancelled Script when flashing"
### Description

When flashing the dev board I accidentally canceled the bash script (flash.sh) when running. This was the output up to the point of CTRL+C

Have I bricked the dev board?

<details><summary>Click to expand!</summary>

### Issue Type

Build/Install, Support

### Operating System

Ubuntu

### Coral Device

Dev Board

### Other Devices

_No response_

### Programming Language

_No res

[2021-08-24 06:10] manoj7410 commented on #443
What do you see in the output if you run :

cat /sys/module/usbcore/parameters/usbfs_memory_mb

[2021-08-24 06:14] manoj7410 commented on #448
@ryan-keswick Can you try to flash the dev board with a SDCARD as instructed at https://coral.ai/docs/dev-board/get-started/#flash-the-board ?

[2021-08-24 12:10] NandhiniN85 opened #449 "Compilation failed due to large activation tensors in model"
### Description

I am trying to edge compile yolov5s with a resolution of 512(only one class), but every time the compilation process results in "Compilation failed due to large activation tensors in model". I was referring to the previous issue https://github.com/google-coral/edgetpu/issues/405 and there looks like @taloot  and @pirazor were able to execute the models with image sizes 512 & 416 r

[2021-08-24 13:48] hjonnala commented on #449
Please try with tensorflow==2.5.0 and let us know if unable to compile the model.

[2021-08-24 14:04] NandhiniN85 commented on #449
@hjonnala I quickly reran the process with the suggestion, but the problem still persists. Thanks!

[2021-08-24 14:57] #447 closed, assigned to hjonnala

[2021-08-24 14:59] hjonnala commented on #444
Please reopen the issue if there are no issues with CPU tflite model and the compiler is not able to compile the model.

[2021-08-24 15:13] hjonnala commented on #424
Hi, are there any questions regarding small model vs large model. If not, please close the ticket.

[2021-08-24 15:15] hjonnala commented on #418
@ycunxi are you still having the issue?

[2021-08-24 15:46] hjonnala commented on #391
In this [tutorial](https://www.tensorflow.org/model_optimization/guide/quantization/training_example) setting the model input shape would solve the edgetpu compilation error.
[code]

[code]
![image](https://user-images.githubusercontent.com/86132058/130648003-b7542151-477f-46d5-a169-9ab1988b0b51.png)

![image](https://user-images.githubusercontent.com/86132058/130647863-02cbe86e-6556-42a9-abb0-90d

[2021-08-24 15:46] #391 closed, assigned to hjonnala

[2021-08-24 16:09] dungcules commented on #443
@manoj7410

It gives me 1000 MB:

[code]

I also modified /etc/rc.local as following:

[code]

[2021-08-24 18:08] taloot commented on #449
u should use -a -d flags and wait it should work
i manage to compile yolov5s and m also m6
all works just the problem is the resolution limitation

[2021-08-24 18:18] taloot commented on #449
i check it and it works
Edge TPU Compiler version 16.0.384591198
Input: best-int8.tflite
Output: best-int8_edgetpu.tflite

[code]

[2021-08-25 01:52] bjammin commented on #256
My motherboard doesn't have any spare m.2 slots, and doesn't have mini PCIe.

I do have a spare PCIe x1 slot, so am looking for a reliable, tested PCIe x1 adaptor to use with either the Coral M.2 B/M or Coral M.2 A/E card.  These are both in stock locally for me, but the mini PCIe version is not, and the USB version seems unavailable everywhere.

It seems weird to me that they wouldn't just releas

[2021-08-25 03:08] NandhiniN85 commented on #449
@taloot This is great and the issue is resolved. But one question though, for every step I received the below error. I hope you got a similar one even though the final conversion was successful. Kindly confirm. Thanks!

Try to compile segment with 16 ops
Intermediate tensors: model_1/tf__conv_1/mul,model_1/tf__c3/tf__conv_3/mul
Started a compilation timeout timer of 180 seconds.
ERROR: Restored or

[2021-08-25 03:25] taloot commented on #449
yes sure but what we care most is having working sloution,

[2021-08-25 06:19] sypark155 opened #450 "failed to convert yolov5 to edgeTPU due to img_size"
### Description

Hello
I tried to convert yolov5 to edgeTPU model.
(refer to https://github.com/zldrobit/yolov5/tree/tf-edgetpu)

First, I converted pytorch model to TFLite model.
And then, converted TFLite model to Edge TPU.

When I tried to convert with 320 for image size, there is no problem for converting.
But I failed to convert when converting with bigger size than 320, (ex, 416, 608, 640)

[2021-08-25 06:56] NandhiniN85 commented on #449
Thanks for your timely response!

[2021-08-25 07:41] AkkiSony opened #451 "Inference time"
### Description

I am able to run the model on Edge TPU, however I just have small question with respect to the inference time.

----INFERENCE TIME----
Note: The first inference is slow because it includes loading the model into Edge TPU memory.
154.32 ms
24.17 ms
23.97 ms
21.98 ms
27.74 ms

The first inference is with loading the model and the rest of the inference time is slow as the model is al

[2021-08-25 07:56] manoj7410 commented on #451
@AkkiSony Can you share the link of this snippet ?

[2021-08-25 07:59] AkkiSony commented on #451
@manoj7410 https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L84

[2021-08-25 08:11] manoj7410 commented on #451
@AkkiSony Model has already been loaded at https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L73
Which has been done only once.

[2021-08-25 08:17] AkkiSony commented on #451
But how is it possible that the first inference time is greater when the code is executed here https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L84 even though the loading of the model has already taken place before?

[2021-08-25 08:27] manoj7410 commented on #451
When you compile models individually, the compiler gives each model a unique "caching token" (a 64-bit number). Then when you execute a model, the Edge TPU runtime compares that caching token to the token of the data that's currently cached. If the tokens match, the runtime uses that cached data. If they don't match, it wipes the cache and writes the new model's data instead. (When models are comp

[2021-08-25 08:38] AkkiSony commented on #451
@manoj7410 That was a little complicated for me to understand. However, thank you for your support! :)

But in this marked line (https://github.com/guichristmann/edge-tpu-tiny-yolo/blob/master/inference.py#L60), I get an inferernce time of 1600ms. This sounds strange because, inference time cannot be 1600ms for a yolov3 model with coral tpu attcahed.

I would like to know the inference time, simil

[2021-08-25 08:43] AkkiSony commented on #451
Inference time is printed 5 times here, does that mean inference is run on that image for 5 times? If so, why are we running it 5 times?

[2021-08-25 08:48] manoj7410 commented on #451
@AkkiSony If you see the value of --count at https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L68, the default value is 5. That is why the inference is being executed for 5 times.

[2021-08-25 08:50] AkkiSony commented on #451
Yes, I understood the default value is 5. But why is it executed 5 times? Is there any reason?

Do you mean to say that 'Interpreter.invoke' in the for loop takes more time to load only for the first iteration and further on it doesn't take much time? I am confused of this behaviour!

[2021-08-25 08:57] manoj7410 commented on #451
Yes. This is the correct behavior. During the first inference, parameter caching takes place as explained at https://github.com/google-coral/edgetpu/issues/451#issuecomment-905294024

[2021-08-25 09:08] AkkiSony commented on #451
If just running a for loop for 5 times with "Interpreter.invoke" changes the inference time in detect.py script, then with my code, I have written a for loop just like detect.py example, invoking interpeter 5 times.

But I get the following output, there is no major drop in the inference time at all. Is there any reason?

    for _ in range(5):

        start1 = time()
        # Run model

[2021-08-25 09:24] manoj7410 commented on #451
@AkkiSony Is your model completely mapped to the TPU ?

[2021-08-25 09:27] AkkiSony commented on #451
@manoj7410
![coral-TPU-error-29](https://user-images.githubusercontent.com/85996229/130765555-86d01092-abf7-4d95-9a78-e9e8ced5b175.PNG)

Yes, it is all mapped! :)

[2021-08-25 09:41] manoj7410 commented on #451
@AkkiSony Okay. Can you share your uncompiled model here ?

[2021-08-25 09:44] AkkiSony commented on #451
@manoj7410 https://drive.google.com/drive/folders/181npG1SDJnMBBQOm_gXbL0XguSA4gGsy?usp=sharing
I converted from Yolov3 -> Keras ->  Tensorflow lite -> edgetpu compiled

You can find all the models in the shared link. I think you were asking me for "quant_model.tflite"

[2021-08-25 10:33] manoj7410 commented on #450
@sypark155 Can you walk through https://github.com/google-coral/edgetpu/issues/439 and see if there is anything helpful ?

[2021-08-25 11:07] magic-blue-smoke commented on #256
@bjammin you have several options depending on your enthusiasm:
- "easiest and cheapest": get Coral m.2 B+M key and m.2 NVMe to PCIe x4 adapter and use it in x16 slot
- "trust me, I'm engineer": same as above, but dremel off PCIe pads that won't fit x1 slot and use in x1 slot. If not detected after mod, you'd need to short "card present" pins on PCIe edge connector by soldering a wire.
- "I'm luck

[2021-08-25 11:24] #424 closed, assigned to hjonnala

[2021-08-25 12:08] #449 closed, assigned to hjonnala

[2021-08-25 12:37] AkkiSony commented on #451
@hjonnala Hello :) Can you please help me solve this issue with inference time? Thanks in advance.

[2021-08-25 12:45] hjonnala commented on #451
Inference time also depends on model size and the operation involved. In your case due to large model size  (62.5 MB >>> 8 MB) you might not see much difference in inference time.

On-chip memory used for caching model parameters: 7.06MiB
Off-chip memory used for streaming uncached model parameters: 51.93MiB

[2021-08-25 13:01] hjonnala commented on #450
@sypark155 try with -a -d flag and wait for the full execution. If it fails please share CPU tflite model

[2021-08-25 13:03] AkkiSony commented on #451
Hi,
But i think it is really not feasible that I am getting inference time of 1600ms as shown below for a single input image.

The original darknet model is even bigger in size and there I get an inference of 300ms **without** Coral USB  accelerator.

I would like to measure the inference time of the image after the model is being loaded into the coral usb accelerator memory.
I am actually doing a

[2021-08-25 13:10] AkkiSony commented on #451
On the other hand, i want to visualize the output layer of the model attached. I tried to use the netron app, yet. I got confused to see the output layer of this MbileNetv1SSD model.

https://drive.google.com/drive/folders/1pq8DTzc_b4CWIf65Y26CIzxQxg_WoL2c?usp=sharing

[2021-08-25 14:00] hjonnala commented on #451
I have tested inference time with detet_image.py. Here are the results for  Edgetpu vs CPU models.

If you wanna try this, please comment this line https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py#L87

[code]
[code]

[2021-08-25 14:04] PenguinPaws commented on #256
I think getting a Wi-Fi PCIe x1 card (where you can replace the A/E key wi-fi module) is your best bet.

Early on in the thread, one confirmed model was: Low Profile HP WN7004 PCIe WLAN Card (716869-001).

[2021-08-25 14:07] AkkiSony commented on #451
Okay, so by doing the above steps, we basically are not doing any object detection, but just getting to know the time required for the inference right?
But since, we commment that line 87, where exactly is the inference happening? Since we do not get any objject detections on the input image?

[2021-08-25 14:09] AkkiSony commented on #451
I am really not sure if this is right, because, the inference time has to reduce the second count onwards as the model is already loaded into the coral memory right?

[2021-08-25 14:18] AkkiSony commented on #451
@hjonnala When I did it with 'quant_model_edgetpu.tflite' model, I was getting an inference time of:
----INFERENCE TIME----
Note: The first inference is slow because it includes loading the model into Edge TPU memory.
1691.73 ms
1490.07 ms
1492.52 ms
1486.94 ms
1500.40 ms

[2021-08-25 14:43] NandhiniN85 opened #452 "yolov5s - inference on edgetpu - coral pi (32 bit)"
### Description

Reference Issue: https://github.com/google-coral/edgetpu/issues/449

@taloot @hjonnala The raspberry pi I am using is limited to 32 bits and thus restricts me from installing the torch version provided in the requirements(for using detect.py). Is there any workaround for making inference by using the edge compiled version, as the post-processing involves NMS that refers to the tor

[2021-08-25 14:52] hjonnala commented on #451
are you using detect_image.py to run the inference?
detect_image.py and this script (https://github.com/guichristmann/edge-tpu-tiny-yolo/blob/master/inference.py#L60) use different tflite runtime packages..

[2021-08-25 14:58] AkkiSony commented on #451
Yes, I used detect_image.py to run the script. Yet, teh inferece time for me is higher.
![coral-TPU-error-30](https://user-images.githubusercontent.com/85996229/130814484-7980f8f1-ae20-4cf7-ac13-83adebcd6558.PNG)

What do you mean by this? I sm sorry, I dont understand. Becasue, I am using the same tflite_runtime version for both. Can you please explain?

[2021-08-25 16:45] hjonnala commented on #451
How much time it is taking for quant_model.tflite?
Inference of 300ms  is it coming from the same machine? can you share some screenshots for it?
Please try to run the model connecting USB accelerator to USB 3.0 port.

[2021-08-25 23:57] hjonnala commented on #444
@dyoo-dev to resolve the compilation failure due to large activation tensors in model try with -a -d flags and **wait** for the full execution of command. To know more about the details of flags please refer to this resource: https://coral.ai/docs/edgetpu/compiler/#usage

`!edgetpu_compiler -s -a -d -k 10 efficientdet-lite-salads.tflite`

[2021-08-26 00:43] bjammin commented on #256
Thanks @magic-blue-smoke and @PenguinPaws for your replies.

The HP WN7004 would be a good option, but everywhere is out of stock of the Coral Mini-PCIe product.  If they come back into stock and I still haven't found another solution, that's probably my best option.

However still curious to see if there's a known working M.2 to PCIe adaptor for use with the "Coral M.2 Accelerator B+M key", somet

[2021-08-26 03:40] georgejung commented on #256
Hello, @pdecat I assume that when you tried this adapter you also had the usb connection hooked up? I found what looks like a similar card that claims to support both the PCIe & USB at the same time for a dual wifi/bluetooth card like the intel 7260.  http://eshop.sintech.cn/index.php?main_page=product_info&products_id=1220
I was hopeful that it would work with a dual coral in the same way, but un

[2021-08-26 07:19] AkkiSony commented on #451
The accelerator is connected to USB 3.0. Things all worked fine when I had trained a model with MobileNet with TF. I had an inference time of 18ms.

I am getting problem only with this model. Please find the attached sceenshot. (Please note that in order to be sure, I downloaded the model from google drive link that I shared and hence I have renamed the file appened with '_gdrive'. I just had to t

[2021-08-26 12:36] johannes-do commented on #352
It is been a while. But I can now finally say for sure, yes, it is the USB 2 vs USB 3 issue. I am now using a "normal" Coral DevBoard and it has the same (slightly faster actually) speed as with the coral usb stick.
So lessons learned: For real time img processing tasks the Mini is probably the wrong piece of hardware, rather go with the regular DevBoard.

[2021-08-26 12:45] hjonnala commented on #451
Hi,

- USB accelerator is primarily designed for prototype the models. With USB accelerator Inference speeds would differ based on **host system** and whether you're using **USB 2.0 or 3.0.**
- Inference time also depends on **model size** and the **operations** involved. So, we can't expect the same inference time for each model. (mobilenet vs yolov3)

[2021-08-26 12:49] AkkiSony commented on #451
Hi, @hjonnala

Thank you for the clarity. I would just like to know one thing which is suspicious to me.

How did you get this inference time so less, when I am also using the same model attached to a USB port 3. (refer above)

My output can be seen as above. I am just curious about it.

[2021-08-26 12:51] hjonnala commented on #451
Its because I am using Linux machine with Intel core I7, Which are different from your host machine.

[2021-08-26 12:54] AkkiSony commented on #451
@hjonnala This is the system configuration, I am using. (Windows 10)

Intel(R) Core(TM) i7-10700 CPU @ 2.90GHz   2.90 GHz

I think this is a quiet goof processor too. Just windows 10 and linux should not have this much variation in inference time, I hope.

[2021-08-26 19:13] johannes-do opened #453 "Compiler fails to compile int8 quantized TFLite Model"
### Description

I want to convert a int8 quantized tflite model:

[code]

I can load the quantized tflite model without issues and run inference with it. But when I want to convert it the edgetpu compiler fails with many of these errors:
[code]

I assume this means that somewhere in the quantized model there are integers outside of int8 range. But that should not happen with the quantized tflite

[2021-08-26 20:29] hjonnala commented on #453
Hi, @j-o-d-o can you please try commenting out this line:

`converter.experimental_new_converter = True`

if problem still persist, can you please share your saved model?

[2021-08-26 21:46] hemanthreddyjonnala commented on #451
Hi, I didn't remember when installing edgetpu runtime whether I chose y or n. (https://coral.ai/docs/accelerator/get-started#runtime-on-windows). It would also impact the inference time.
I have tested the model on my Windows machine with dummy input array. It has Intel Core I5 and the results are:

[code]

[2021-08-26 22:17] hjonnala commented on #451
I would suggest to focus on testing the accuracy of the model with USB accelerators and inference time on the devices where it is going to be deployed.

[2021-08-27 05:36] NandhiniN85 commented on #452
@hjonnala
Kindly close this issue, I have found a way for using arrays instead of tensors for NMS processing. Reference link - https://github.com/ZFTurbo/Weighted-Boxes-Fusion/tree/master/ensemble_boxes

Thanks!

[2021-08-27 05:38] manoj7410 commented on #452
@NandhiniN85 Thank you for sharing that link.

[2021-08-27 05:38] #452 closed, assigned to hjonnala

[2021-08-27 06:00] johannes-do commented on #453
@hjonnala, tried with both new and old converter, same result

[2021-08-27 06:09] johannes-do commented on #453
https://www.dropbox.com/s/4hakehtsmhuepsh/tf_model_4.zip?dl=0

[2021-08-27 08:50] ZhouKai90 commented on #450
I have the same problem when I compile EfficientDet to edgetpu model. Here is the CPU tflite model.https://drive.google.com/file/d/1FwjEKZgOF6RQKyCBOqd1tkSQRKbAYJ9_/view?usp=sharing

[2021-08-27 09:06] AkkiSony commented on #451
@hemanthreddyjonnala Thank you fir taking it home and investigating. During your investigation at home, did you install edge tpu runtime with high frequency?

How di I test teh accuracy of the model on USB accelerator? I am sure there is some loss during the conversion as the score value for the same image is different. There is a depletion in the score value, when I did did inference using USB ac

[2021-08-27 09:08] AkkiSony commented on #451
I do not know why am I not getting this inference time with quant_model_edgetpu.tflite. My inference time is way higher as I said before. :/

[2021-08-27 09:27] AkkiSony commented on #451
As I had told earlier, I am just doing an investigation on different hardware acceleators. Hence, as of now there is no scope of deployment. I need to get results of the different hardware accelerators. So inference time is one parameter, I am measuring. I do not know how to measure the accuracy of the model after conversion. Do you have any suggestions?
Also, what other parameters can be measured

[2021-08-27 12:25] magic-blue-smoke commented on #256
@bjammin I didn't see these before, keeping in mind that no designer going to make NVMe adapter that passes only one lane out of four, cutting max NVMe bandwidth.
There is nothing specific that m.2 B+M key TPU card requires: https://coral.ai/static/files/Coral-M2-datasheet.pdf page 8
So I'd assume any of these two adapters is fine for B+M key TPU card

[2021-08-27 14:40] georgejung commented on #256
I just ordered one of these along with some single Coral B+M key Accelerators.
https://www.aliexpress.com/item/32898293772.html?spm=a2g0s.9042311.0.0.27424c4ddmpyYF
I'm hoping that it will work as it was the cheapest option ($4 shipped to me). Granted it will be a few weeks before I get it and can report back :) In my case I needed the pcie 1x as it is the only slot I had.

[2021-08-28 09:35] bjammin commented on #256
That's certainly a nice cheap option!  Please do report back and let us know how you go.

There's also this one which is also PCIE x1 and has a slot bracket (it's the same as one of the Amazon ones I linked).  I might order one of those and see how it goes.
https://www.aliexpress.com/item/4000221883956.html

[2021-08-29 09:00] ykhorzon opened #454 "Mini PCIe Accelerator: Assign TPUs to different docker containers"
### Description

Is there any way to assign(mount) apex_0 to container_0 then apex_1 to container_1?
I tried docker run --device and --cap-add flag but nothing work.

[code]

It will give run time error. It seems to something wrong in driver or device mounting.
[code]

But I checked /dev/apex and it look fine.
[code]

If using --privileged, all the apex_* will mount in container.
`docker run --rm

[2021-08-29 09:01] ykhorzon commented on #454
For more detail about my environment.

I already confirmed that my TPUs can work in host and container.
I had 4 PCIe coral TPUs on my x86 ubuntu System. The TPUs can work properly in host system.
and also work perfectly in single container.

[code]

[2021-08-29 09:09] ykhorzon commented on #143
@Namburger

I tried the similar `docker run -it --device=/dev/apex_0:/dev/apex_0 /bin/bash` for Coral mini pcie device but it does not work.

Any hint? thanks

[2021-08-30 02:49] jdubz93 commented on #323
when are you guys planning on providing a fix for this? I am also having the same issue. Is there any work around or must I not use edgetpu.

[2021-08-30 11:59] kiteklan opened #455 "Google Dev Board Ethernet ports fails"
### Description

I working on a project running on Google Dev Board. somehow I could not get the wired connection running.
Seems like it is an hardware problem since I had reflashed the device severel times but no result.
Hereby I am copying the journalctl results ,can someone help me to identify the problem? since I lost 3 days already trying this and that just to get the cable internet running w

[2021-08-30 13:05] hjonnala commented on #323
Hi @jdubz93 UNIDIRECTIONAL_SEQUENCE_LSTM support is added in the new compiler verison 16.0.384591198.
can you please share the files/scripts to reproduce the issue.

[2021-08-30 18:02] hjonnala commented on #453
@j-o-d-o can you try to export the saved_model without batchnorm for layer 31 ?
[model.html.tar.gz](https://github.com/google-coral/edgetpu/files/7078545/model.html.tar.gz)

[2021-08-31 05:52] ukpana opened #456 "I don't understand the role of _tensor_start_index[0], _tensor_start_index[1], _tensor_start_index[2], and _tensor_start_index[3] in engine.py."
### Description

``I don't understand the description of engine.py.

I am getting the following error when I try to run the SSD trained model that I converted by myself on Raspberry Pi and TPU.

[code]

I checked the error and wondered if I could get the output that matched my model structure.
So, I read the error message, but I don't know what the role of "self._tensor_start_index[]" below is.

W

[2021-08-31 10:37] kiteklan opened #457 "Google Dev Board / GPIO give user 'Mendel' permissions to access."
### Description

I am trying to combine the environmental sensor and detect.py functions in one code.
I do not want use sudo on the start , how can I give GPIO noon root permissions.

[code]

<details><summary>Click to expand!</summary>

### Issue Type

Support

### Operating System

Mendel Linux

### Coral Device

_No response_

### Other Devices

_No response_

### Programming Language

Python 3

[2021-08-31 10:53] bhack commented on #441
We have a request also on the official forum:

https://discuss.tensorflow.org/t/suggestion-for-choosing-a-model/4057

[2021-08-31 11:32] HanChangHun opened #458 "edgetpu_compiler is working strangely."
### Description

Hello, I compiled some models with edgetpu_compiler. But there is some weird result.

first, I compiled two models with this command.

[code]

and here is the compiled result

[code]

You can see that all models' parameters are assigned to SRAM.

However, if I increase the number of models here, it will behave differently from official documents.

I executed edgetpu_compiler like

[2021-08-31 13:00] hjonnala commented on #456
Hi @ukpana pyhton3-edgeptu api is deprecated please use python3-pycoral api.

For information on how to install packages on Raspberry Pi please refer to this: https://coral.ai/software/#debian-packages

[2021-08-31 13:29] manoj7410 commented on #143
@ykhorzon Is your Coral PCIe device visible to the host machine ?

[2021-08-31 13:35] manoj7410 commented on #455
Can you paste the output of the command :

nmcli connection show

after connecting the Ethernet cable ?

[2021-08-31 13:38] kiteklan commented on #455
***@***.***:~$ nmcli connection show
NAME                UUID                                  TYPE      DEVICE
TP-Link_16B6        9ce442a3-a3b1-4c3a-b78d-0d6c0cdd4cb2  wifi      wlan0
Wired connection 1  ca797152-fe6a-360a-ac39-bef96ab8aee8  ethernet  --
gadget0             88fd4ec3-37ac-4376-b771-7340166a4996  ethernet  --
gadget1             9a85e468-3bdb-41ec-947c-940563d8b20c  ethernet  --
o

[2021-08-31 13:40] manoj7410 commented on #457
@kiteklan Did you try to change the udev rules for the GPIO ?

[2021-08-31 14:12] kiteklan commented on #457
I did not tried it , I do not know what rules exactly I need write for the
environmental sensor.

Devadm info is as follows ,can you give me a ref to write this rule?

devadm info --path=/sys/class/gpio --attribute-walk

Udevadm info starts with the device specified by the devpath and then

walks up the chain of parent devices. It prints for every device

found, all possible attributes in the udev

[2021-08-31 16:52] ycunxi commented on #418
@hjonnala thanks for following up. Yes the error is caused at the output layer. We have fixed that problem.

Another question, we find another limitation of existing TOCO+EdgeTPU compilation. It looks like the depended operators in the DNN execution graph have to be pipelined in two consecutive pipeline stages. For example, if node A's output is used for B and A is allocated at stage 1, B cannot b

[2021-08-31 18:35] kiteklan commented on #457
I had tried:
sudo nano /lib/udev/rules.d/60-rpi.gpio-common.rules

SUBSYSTEM=="bcm2835-gpiomem", KERNEL=="gpiomem", GROUP="dialout", MODE="0660"
SUBSYSTEM=="gpio", KERNEL=="gpiochip*", ACTION=="add", PROGRAM="/bin/sh -c 'chown root:dialout /sys/class/gpio/export /sys/class/gpio/unexport ; chmod 220 /sys/class/gpio/export /sys/class/g$
SUBSYSTEM=="gpio", KERNEL=="gpio*", ACTION=="add", PROGRAM="/bi

[2021-08-31 21:13] kiteklan opened #459 "Enviromental Board "enviro.ambient_light" coral.enviro.board delay detection"
### Description

I am working on a project where I am using google dev board and environmental sensor.
Currently testing to overlay sensor data on detection screen.
 when I am using the  the 'enviro.ambient_light' from   coral.enviro.board',  the frame rates are  decreasing from 25fps to 1.

How can I call these sensor values to the screen without affecting the fps.

Below is the sample code:

[co

[2021-09-01 03:42] ukpana commented on #456
@hjonnala
Thank you for confirming my question, I will check python3-pycoralapi, thanks for giving me the URL.

I have one question, why is pyhton3-edgeptuapi deprecated?

[2021-09-01 04:22] manoj7410 commented on #457
@kiteklan One way is what you have mentioned. Other is mentioned here : https://stackoverflow.com/a/30940526/8321574 (This is for RPI but should also work for the Dev Board)

[2021-09-01 04:32] kiteklan commented on #457
@manoj7410 thanks for the help, it looks better. I will try that too.

[2021-09-01 10:02] manoj7410 commented on #443
1000

This must be displaying the correct value. I only know this method to change usbfs_memory_mb size.

[2021-09-01 10:09] manoj7410 commented on #446
@bennyryan Were you able to resolve this ?

[2021-09-01 10:12] manoj7410 commented on #448
@ryan-keswick Were you able to resolve this issue ?

[2021-09-01 11:09] bennyryan commented on #446
Hey @manoj7410, no luck. I have ordered an adapter from Amazon (still not shipped).
You can close this issue.

Will also get @magic-blue-smoke proper adapter once it is out.

[2021-09-01 11:09] #446 closed, assigned to manoj7410

[2021-09-01 11:14] manoj7410 commented on #441
Helpful threads at https://github.com/google-coral/edgetpu/issues/315 and https://discuss.tensorflow.org/t/suggestion-for-choosing-a-model/4057/11

[2021-09-01 13:18] hjonnala commented on #203
@InCogNiTo124 give it a try with Edge TPU Compiler version 16.0.384591198. Feel free to reopen if issue still persists.

[2021-09-01 13:18] #203 closed

[2021-09-01 19:37] hjonnala commented on #219
Feel free to reopen if issue still persists.

[2021-09-01 19:37] #219 closed

[2021-09-01 19:44] #315 closed, assigned to hjonnala

[2021-09-01 19:49] hjonnala commented on #425
Closing for now. Please check with tensor flow lit team on this error: ValueError: Failed to parse the model: pybind11::init(): factory function returned nullptr"

[2021-09-01 19:49] #425 closed, assigned to manoj7410

[2021-09-01 19:58] hjonnala commented on #396
Feel free to reopen if issue still persists.

[2021-09-01 19:58] #396 closed, assigned to hjonnala

[2021-09-01 20:04] hjonnala commented on #389
Feel free to reopen if issue still persists and share the B4-B7 tflite models to investigate further.

[2021-09-01 20:04] #389 closed, assigned to hjonnala

[2021-09-01 20:06] hjonnala commented on #365
Closing this for now due to inactivity.

[2021-09-01 20:06] #365 closed, assigned to hjonnala

[2021-09-01 20:08] hjonnala commented on #405
@taloot does your issue got resolved with new compiler? If yes, please close the ticket.

[2021-09-01 23:39] hjonnala commented on #418
@ycunxi  yes, your understanding is correct. All the chunks need to pass in the same order.

[2021-09-02 07:42] taloot commented on #405
no still max size 512

[2021-09-02 08:10] RobertChenKFC commented on #323
There seems to be a new issue when running the same code but compiling with the new compiler instead:
[code]
Here is my current environment:
* OS: Ubuntu 20.04
* TensorFlow version: 2.6.0
* tflite-runtime version: 2.5.0.post1
* edgetpu_compiler version: 16.0.384591198
* Device: Coral USB Accelerator

Looking at [this comment](https://github.com/google-coral/edgetpu/issues/156#issuecomment-89104926

[2021-09-02 08:37] kueblert commented on #421
So nobody had the problem of recording/encoding a video on a coral dev board before?! Everyone just streaming?

[2021-09-02 12:34] hjonnala commented on #323
For LSTM model with USB accelerator please try the command below:

`USB_ENABLE_BULK_DESCRIPTORS_FROM_DEVICE=1 python3 run_lstm.py $PATH/weather_forecast_quant.tflite`.
You might experience high latency compared with CPU tflite model. So, it is recommended to use Dev board for LSTM models for better latency.

As a note, on Dev Board USB_ENABLE_BULK_DESCRIPTORS_FROM_DEVICE=1 is not required.

[code]

[2021-09-02 13:10] AkkiSony commented on #451
@hjonnala I wanted to measure the infrence time taken by the model. But I am confused where to actually calculate the inference time. I have attached the main() function of my program. Can you please let me know where do I have to calculate the inference time please? Thanks in advance. :)
![Inference-time-1](https://user-images.githubusercontent.com/85996229/131849176-f90eb07f-bb0b-41fa-a15c-13fd0

[2021-09-02 14:18] hjonnala commented on #456
For better maintenance https://github.com/google-coral/edgetpu has been split into following repos:

https://github.com/google-coral/libedgetpu: The Edge TPU Runtime (libedgetpu)
https://github.com/google-coral/libcoral: The Coral C++ library (libcoral)
https://github.com/google-coral/pycoral: The Coral Python library (PyCoral)
https://github.com/google-coral/test_data: Various models and other te

[2021-09-02 22:38] hjonnala commented on #455
@kiteklan  have you flashed the board using SD card?

[2021-09-03 02:41] hjonnala commented on #451
I am not sure where `interpreter->Invoke()` is happening in your code. Try to get the time taken for  `interpreter->Invoke()`

[2021-09-03 06:38] RobertChenKFC commented on #323
Thanks for the help. Setting `USB_ENABLE_BULK_DESCRIPTORS_FROM_DEVICE=1` did work. I guess I will close this issue.

[2021-09-03 06:38] #323 closed, assigned to hjonnala

[2021-09-03 10:01] RobertChenKFC opened #460 "Edge TPU TFLite Model Produces Vastly Different Output Compared to CPU TFLite Model"
### Description

### Problem

I am trying to run yolov4-tiny on the edge TPU, but found out that when the model is ran on the edge TPU, it produces a very different output compared to the CPU. Using the `-i` flag in the `edgetpu_compiler`, I found out that when all operations before (not including) Conv2D at location 65 (according to netron) were mapped to the edge TPU, the edge TPU produces ident

[2021-09-03 11:34] AkkiSony commented on #451
@hemanthreddyjonnala Thanks for answering.
The training accuracy: 98%
Validation accuracy: 85%

These are the values that I got during the training of the model.

How can I measure the accuracy on the coral TPU? I just wanto check how is the accuracy of the model when it is running with coral USB.

[2021-09-03 12:40] hjonnala commented on #420
@Xoisai two of the RESIZE_NEAREST_NEIGHBOR operations are not mapping to edgetpu due to the size of operation.

[2021-09-03 12:40] PINTO0309 opened #461 "On the meaning implied by "More than one subgraph is not supported""
### Description

## 1. Overview
Using the EdgeTPU Compiler in v16, 99% of operations are converted to TPU models, but only 4 operations close to the input of the model are not converted. This indicates that most of the operations can now be converted by upgrading from the past compiler to the latest compiler.

The part that I want to know the cause and how to fix is why the remaining four Mean x2,

[2021-09-03 12:45] hjonnala commented on #450
@ZhouKai90 the model is failing due to reshape operation memory not fitting on Edge TPU

[2021-09-03 21:44] hjonnala commented on #461
Hi @PINTO0309  edgetpu compiler by default supports only one sub graph. Let's say if we compile the model without -a flag and it has 20 operations, if first 10 operations mapped to edgetpu and 11th operation not able to map to edgetpu for remaining 10 operations (except quantize) we can see the message "More than one subgraph is not supported".

This message won't be appear if we use -a flag. In y

[2021-09-03 21:46] hjonnala commented on #461
It seems Mean operation with input size (1x256x128x3) not able to mapped to edgetpu. If possible, Can you try reducing these Mean size operations or eliminating them.

[2021-09-03 23:21] hjonnala commented on #451
On single image you can use https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py to check the accuracy of detected objects. I don't think so we have any examples for checking accuracy on bulk data.
Also, currently we don't have any example scripts to run inference on yolov3 models.

[2021-09-04 18:22] kiteklan commented on #455
Yes I did flashed with SD card , multiple times reformat , rewrite the image and reflashed.

[2021-09-04 18:24] kiteklan commented on #455
@hjonnala Yes I did flashed with SD card , multiple times reformat , rewrite the image and reflashed.

[2021-09-04 19:21] rafaelmathieu commented on #431
@ferbulous did you ever resolve this issue?

I am having the same exact issue, only difference is I am using an M.2 pcie adapter.

[2021-09-04 21:23] dyoo-dev commented on #444
I don't have issues with CPU tflite model.

I used the -a -d flags but I still have the compiler issue.

[code]

[2021-09-04 21:48] hjonnala commented on #444
@dyoo-dev please share your cpu tflite model.

[2021-09-05 05:17] cappittall opened #462 "Direct connected keyboard does not control the 'Edgetpu_demo' but connected computer (w/mdt shell) does"
### Description

Google Coral dev board has demo packages and one of it is `Edgetpu_demo --[stream or device] `one. When I start the demo through my laptop, demo work good and accepting keyboard commands like q,n (quit, next model) but when I tried this through direct connected any keyboard; i can type and I can run the demo program at its own shell but demo program do not accept same commnad like

[2021-09-05 06:50] PINTO0309 commented on #461
Thank you.  @hjonnala

Although I was a little skeptical, I split **`[1, 256, 128, 3]`** into **`[1, 64, 128, 3]`** with Split, then processed each of them with Mean, and finally merged the results of each calculation, and all operations were mapped to TPUs.

I didn't change the compile option and left it at `edgetpu_compiler -sad -t 3600 model_full_integer_quant.tflite`

If there is a limit to th

[2021-09-05 06:50] #461 closed, assigned to hjonnala

[2021-09-05 14:57] johannes-do commented on #453
@hjonnala that doesnt seem to help. Same error message for the next Layer:
[code]
I mean, I know what the error is trying to tell me. What I do not understand is why they are happening and how I would look into this issue. I am a bit surprised that all batchnorm and bias layers are quantized with int32 despite setting `converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]` an

[2021-09-06 04:11] manoj7410 commented on #462
@cappittall Did you try to connect the keyboard to USB-A instead of USB-C ?

[2021-09-06 04:53] manoj7410 commented on #455
@kiteklan Do you see any LED glowing on the ETH port while a cable is connected to it ?

[2021-09-06 05:31] cappittall commented on #462
@manoj7410 , Thanks for comment, Yes I tried both type-c and type-a. Even I tried to connect throug serial console.. But no way. Actually keyboard working at mendel's own shell as goog as enough.  I can type, run a proğram or edit file with Vi etc.  The only problem, its not responding while working object detect demo which is : edgetpu_demo. When I connected to the board through `mdt shell` comma

[2021-09-06 07:16] AkkiSony commented on #451
So do you mean by just measuring the score values? @hjonnala
Please let me know your answer.

[2021-09-06 10:07] kiteklan commented on #455
@manoj7410 there is a very weak yellow light always on , no change when it is plugged or unplugged.
By the way I had tested it with 100% working cables tested with different switches.
![image](https://user-images.githubusercontent.com/76654299/132200391-e2d64b4d-1731-4819-bddf-44f08a77a483.jpeg)

[2021-09-06 10:50] manoj7410 commented on #455
@kiteklan What is the power source to boot the board ?

[2021-09-06 11:04] cappittall commented on #462
hey, @manoj7410;
New info: When I pressed super + tab (windows + tab) the screen shifts to terminal (background demo continue to work in full screen) This time object detection demo program  accepts the keys.  Now I think before probram disable input from terminal bellow the commands for this purpose. But I have no idea how to fix this :

[code]

[2021-09-06 11:12] kiteklan commented on #455
I had tried with my mi adaptor 3A 5volts

[2021-09-06 23:38] hjonnala commented on #460
@RobertChenKFC Thanks for detailed issue description.

I can see change in number of detentions starting at Node 42. Can you please share some additional images from your training/validation datasets.

[2021-09-07 09:49] Wirg opened #463 "edge_tpu-compiled model file is 2 time larger than the base file"
Hello !

Thank you for the coral products ! :)

### Description

When I compile my tflite model to edge_tpu, the produced file is more than 2 time bigger.
Is this an expected behavior ? How can I work to improve this ?

![image](https://user-images.githubusercontent.com/17848620/132324125-04be7181-d981-42d6-920d-a30b05c411dc.png)

<details><summary>Click to expand!</summary>

### Issue Type

Perfo

[2021-09-07 13:28] Wirg opened #464 "Issue with REVERSE_V2 at runtime"
### Description

Hello,

Thanks to the coral team for the edge tpus and the support.

I am trying to convert a model to tflite then to compile it for edge_tpu.
I am having issue with converting the reverse operation.
Is there any alternative ?
Shouldn't both operation fail if they can not be run ?

Here is my tflite conversion configuration :
[code]

Both operations succeed. But I can not run any

[2021-09-07 13:50] dyoo-dev commented on #444
@hjonnala I attached the model here. Thanks.

[model.zip](https://github.com/google-coral/edgetpu/files/7121989/model.zip)

[2021-09-07 15:27] hjonnala commented on #310
Feel free to reopen if issue still exists.

[2021-09-07 15:27] #310 closed, assigned to hjonnala

[2021-09-07 15:31] hjonnala commented on #264
Though it has been considered, it is not possible to add user stories in near future as we just don't have a process to review  and validate them.

[2021-09-07 15:31] #264 closed, assigned to hjonnala

[2021-09-07 15:32] hjonnala commented on #440
Feel free to reopen if you have any questions.

[2021-09-07 15:32] #440 closed, assigned to hjonnala

[2021-09-07 15:32] #418 closed, assigned to hjonnala

[2021-09-07 16:44] hjonnala commented on #451
You can compare the number of detentions cpu tflite vs edgetpu tflite as well as the individual object scores.
How are you calculating The training accuracy: 98%?

[2021-09-07 17:51] hjonnala commented on #464
@wrig I am able to run the inference for both CPU tflite and edgetpu models.
Are you using tflite-runtime==2.5.0.post1?

![Screenshot from 2021-09-07 10-50-47](https://user-images.githubusercontent.com/86132058/132389010-bd8fca0c-9ad4-465c-8b63-35d84f6bd0d5.png)

[2021-09-07 17:57] hjonnala commented on #463
Hi @Wirg can you please share 7.6MB quatized_size_224.tflite model?

[2021-09-07 20:26] Wirg commented on #464
I am currently running 2.5.0. Should I update ?

[2021-09-07 20:32] Wirg commented on #463
Hi !

Thank you for answering so fast. :)

Here is an equivalent with a smaller version :
![image](https://user-images.githubusercontent.com/17848620/132406982-0c35cee8-559a-4e81-b0d2-51c552cbab7a.png)

[outputs.zip](https://github.com/google-coral/edgetpu/files/7124195/outputs.zip)

[2021-09-07 20:58] hjonnala commented on #464
yes, please get the latest pycoral, tflite runtime and edgetpu runtime from [software](https://coral.ai/software/) page

[code]

[code]

[2021-09-07 21:15] Wirg commented on #464
@hjonnala

So it works for me on cpu. I will test on tpu tomorrow.

I guess the issue has been resolved in the post release then ?

[2021-09-08 06:20] RobertChenKFC commented on #460
@hjonnala I'm not really sure about the training dataset, but the weights of this model was obtained from the [original darknet implementation](https://github.com/AlexeyAB/darknet#pre-trained-models), so I guess that maybe it is trained on the MS COCO dataset. I am also evaluating this model on the [MS COCO 2017 validation images](http://images.cocodataset.org/zips/val2017.zip). Here are some imag

[2021-09-08 07:20] AkkiSony commented on #451
**Training and Validation accuracy:**

acc = history.history['acc']
val_acc = history.history['val_acc']

loss = history.history['loss']
val_loss = history.history['val_loss']

plt.figure(figsize=(8, 8))
plt.subplot(2, 1, 1)
plt.plot(acc, label='Training Accuracy')
plt.plot(val_acc, label='Validation Accuracy')
plt.legend(loc='lower right')
plt.ylabel('Accuracy')
plt.ylim([min(plt.ylim()),1])
plt.

[2021-09-08 19:19] jayavanth opened #465 "How do I find out if a motherboard supports Coral?"
### Description

**Hardware:**
Motherboard: https://www.asus.com/Motherboards-Components/Motherboards/PRIME/PRIME-B450M-A-II/
CPU: AMD Athlon 3000G
Coral: B+M M.2

With the above hardware, Coral doesn't seem to work. I can see that in the tech specs section of the motherboard they have said that with Athlon CPUs M.2 socket can only work on the SATA interface and not on the PCIe x1 which Coral need

[2021-09-08 19:48] hjonnala commented on #465
Hi @jayavanth we haven't tested the Coral with this motheboard: https://www.msi.com/Motherboard/B450M-PRO-M2-MAX

can you please check this [comment](https://github.com/google-coral/edgetpu/issues/256#issue-745115468) for the Hardware that have been tested.

[2021-09-08 21:02] jayavanth commented on #465
Is there more details on what kind of M.2 socket I should look for? Can I use M.2 M type with x2 PCIe?

[2021-09-08 23:46] hjonnala commented on #460
Hi @RobertChenKFC [Edgetpu](https://coral.ai/docs/edgetpu/models-intro/#supported-operations) has some limitation on this PReLU operation which is making the difference in number of detections.

quant_yolov4_edgetpu_65.tflite intermediate tensor at location 65
quant_yolov4_edgetpu_67.tflite intermediate tensor at location 67
quant_yolov4.tflite  CPU tflite model
quant_yolov4_edgetpu.tflite  full e

[2021-09-09 08:06] RobertChenKFC commented on #460
@hjonnala I don't really think it is an issue with the PReLU operation because of the following reasons:
1. When the `--partial-tpu-1` flag is passed, the intermediate tensor was placed at the input of location 65; when the `--partial-tpu-2` flag is passed, the intermediate tensor was placed at the input of location 66. The only difference between the two is whether or not the Conv2D at location 6

[2021-09-09 08:28] RobertChenKFC commented on #463
I'm also having a similar problem with exploding model sizes, not sure if it's the same issue. [Here](https://github.com/google-coral/edgetpu/files/7134760/models.zip) is the CPU tflite model and the compiled tflite model. The following are their model sizes:
[code]

[2021-09-09 11:50] RobertChenKFC opened #466 "New Compiler Yields Worse Performance Compared To Old Compiler"
### Description

### Problem
I found out that a simple LeNet model performs worse when the model is compiled with the new compiler (version `16.0.384591198`) compared to when it is compiled with the old compiler (version `15.0.340273435`).  Here are the results of running the models compiled with the two compilers:
* `edgetpu_compiler` version `16.0.384591198`
[code]
* `edgetpu_compiler` version `

[2021-09-09 13:13] hjonnala commented on #460
@RobertChenKFC sorry, yes the difference is coming because conv_2d layer at location 65. I will check with the internal team and get back to you on this.

[code]

[2021-09-09 14:51] hjonnala commented on #465
From the below references it seems M.2 M supports only PCIe x4 bus.

References:
https://www.atpinc.com/blog/what-is-m.2-M-B-BM-key-socket-3
https://www.howtogeek.com/320421/what-is-the-m.2-expansion-slot/

[2021-09-09 19:20] Luke1962 commented on #99
Hi, everybody
I  want to report  similar problem.
However  it happen after some loops. Could it be generated by some power saving  agents?
My Edgetpu is on USB3.0 HUB , shared with USB camera an arduino platform connected to Jetson Nano board (Ubuntu 16.04LTS) and running two inference models (obj detection +  face detection)

[code]

[2021-09-09 19:29] BernardinD commented on #99
@Luke1962 for me it was a power issue. Using a USB camera along with the USB 3.0 accelerators required too much power. Once switching to a camera with a different connector everything worked fine

[2021-09-09 19:59] Luke1962 commented on #99
@BernardinD Thank you. I cannot exclude this possibility, even if I'm powering USB3 HUB with a dedicated dc-dc  power  supply, different from Jetson power supply (which has its power jack , 20W dedicated dc-dc converter and running on 3cpu @1GHz instead of 4cpu). The strange thing is that this problem appears on a "static" scenario without detections

[2021-09-11 15:42] lairdm commented on #363
It looks like that batch sold out very quickly, which isn't at all surprising. @mbrooksx, may I ask if you know when the next batch might be shipping to distributors? Thank you again for taking the time to answer these questions, it's very much appreciated.

[2021-09-11 15:55] ricardodeazambuja opened #467 "Why some Coral products don't sell or ship to Canada?"
### Description

Hi,

Some friends in Canada are saying they can't buy Coral Dev Mini or Coral USB because nobody sends these products to Canada. Would someone know the reason for Canada to be excluded from only some of the products?

In the UK and I can buy any of the Coral products (when they are in stock, of course).

Cheers,
Ricardo

<details><summary>Click to expand!</summary>

### Issue Type

[2021-09-13 16:01] hjonnala commented on #456
Feel free to open new issues if you have any issues other than with `python3-edgetpu`.

[2021-09-13 16:01] #456 closed, assigned to hjonnala

[2021-09-13 16:03] hjonnala commented on #448
Feel free to reopen if you have any issues with SDCARD flashing.

[2021-09-13 16:03] #448 closed, assigned to hjonnala

[2021-09-13 20:52] hjonnala commented on #466
@RobertChenKFC can you please share old compiler edgetpu tflite file.

Thanks

[2021-09-13 21:05] ngrutas commented on #467
@ricardodeazambuja Those Coral products aren't certified to be sold in Canada. The only products that are available for the Canadian market are the Accelerator module and PCIe accelerators.

[2021-09-13 22:30] beltrame commented on #467
Will they ever be certified? Oddly enough, they also don't ship to France, but they do ship to the rest of the EU.

[2021-09-14 09:33] ksp7518 opened #468 "Coral USB and edgetpu runtime v14 on windows10"
Hello, I use coral USB accelerator on windows10 with conda
After installing edgetpu runtime v14, the following error occurs when running the program, so I had to install v13 and used. Therefore, compiling is also given an option to be compatible with v13..
`Process finished with exit code -1073741819 (0xC0000005)`
![image](https://user-images.githubusercontent.com/60207605/133231786-27da6258-129a-

[2021-09-14 10:57] manoj7410 commented on #468
@ksp7518 your query is not clear. Are you facing an execution related issue or compilation related issue ?

[2021-09-14 11:49] FlexxFR opened #469 "Can't run test model / installation issues on UbuntuVM in Proxmox"
### Description

I believed to have successfully installed the **M.2 with Dual Edge TPU** on a Proxmox ubuntuVM.
I used this guide https://www.reddit.com/r/Proxmox/comments/n34f8q/proxmox_vm_ubuntu_2004_frigate_2x_google_coral_tpu/ and made some small adjustments to make it work. (https://www.reddit.com/r/Proxmox/comments/n34f8q/proxmox_vm_ubuntu_2004_frigate_2x_google_coral_tpu/hcll9wz/?utm_sourc

[2021-09-14 13:15] hjonnala commented on #469
Hi, can you please paste the output of below commnad:

`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`

[2021-09-14 15:43] FlexxFR commented on #469
Ofcourse,
BuildLabel(COMPILER=6.3.0 20170516,DATE=redacted,TIME=redacted), RuntimeVersion(14)

As the command had some reference to pycoral I also executed the same command from ~/coral/pycoral$ but then it crashes.
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/frank/coral/pycoral/pycoral/utils/edgetpu.py", line 24, in <module>
    from pycoral.pybind._pyw

[2021-09-14 16:08] hjonnala commented on #469
`ModuleNotFoundError: No module named 'pycoral.pybind' ` is expected when running from  ~/coral/pycoral$  as pycoral library is loading from `/home/frank/coral/pycoral/pycoral/` instead of `/lib/site-packages/pycoral`

We haven't tested the Coral devices on Virtual Machines. Can you please try on native operating system first?

[2021-09-14 18:14] hjonnala commented on #464
@Wirg  Are you able to test the tpu model?

[2021-09-14 20:29] hjonnala commented on #206
Tested with Edge TPU Compiler version 16.0.384591198. ResizeNearestNeighbor  not able to map to edge TPU due to Image-interpolation layer won't run precisely enough on Edge TPU

![Screenshot from 2021-09-14 13-23-52](https://user-images.githubusercontent.com/86132058/133328639-3762f696-3c96-4368-a78f-be07aac24e99.png)

[2021-09-14 20:29] #206 closed

[2021-09-15 00:23] ksp7518 commented on #468
@manoj7410  I'm sorry for the lack of explanation.
I'm testing the yolov3,v5 detection model.
I installed edgetpu runtime v14 and compilation is fine.
However, when I try to run the detection model, the above error occurs.
So, I re-install edgetpu runtime V13 and give V13 compatibility option when compiling to create a model, it runs fine.
Why does an error occur when running the detection model a

[2021-09-15 03:52] manoj7410 commented on #468
@ksp7518 There is an issue with the runtime version 14 on Windows. engineering team is working on to resolve this but we don't have a timeline available.

[2021-09-15 05:03] RobertChenKFC commented on #466
[Here](https://drive.google.com/file/d/1k2SSTJnXPOW_9RwNH6srULXziq26ZFCE/view?usp=sharing) is the model compiled with `edgetpu_compiler` version `15.0.340273435`.

[2021-09-15 15:28] FlexxFR commented on #469
Ok, I was able to execute all getting starting steps on the proxmox/debian hypervisor itself and it succeeded.
So, at least the hardware is working!

One strange message about an inappropriate ioctl. Does this mean anything?

[code]

But what about the next steps to use this in a VM? I know it's not supported but also many have it working using PCIe passthrough. Anything about it being a dual edge

[2021-09-15 23:09] hjonnala commented on #466
Thanks for sharing the model. I can see the difference in inference time with old compiler  15.0.340273435 vs new compiler 16.0.384591198.

Unfortunately, I don't have` edgetpu_compiler `version `15.0.340273435`. Could you please share the binary so that I can test some other models to see if its the same thing with other models.

Please note that, If its the same thing for other models too, there

[2021-09-15 23:20] hjonnala commented on #469
Can you try with USB accelerator or dev board with ubuntuVM if you have them to check if its working for single edge tpu?

[2021-09-16 09:04] manoj7410 commented on #457
@kiteklan Did it work for you ? Let us know if we can close this ticket ?

[2021-09-16 09:05] kiteklan commented on #457
Yes, it worked . Thanks for the support.

[2021-09-16 09:06] manoj7410 commented on #457
Thanks for confirming.

[2021-09-16 09:06] #457 closed, assigned to manoj7410

[2021-09-16 10:24] Wirg commented on #464
Hi @hjonnala thanks for contacting me again.

This works "properly" when updating to `2.5.0.post1` and the runtime `14`.
By properly I mean it performs in the same way than the normal quantized model.
Right now, quantization yields really bad performance with my last operations,  but I think I have to go and ask tflite team.

I think I have one last question for you : I am compiling using this com

[2021-09-16 10:28] Wirg commented on #463
Hi !

I am looking for an update on this.
Is this an expected behavior ?
In which ratio range should I expect my edgetpu.tflite to be compared to the original one ? (+- 20% ?)

How can I know the real inpact on the edgetpu RAM / cache when loaded ?

[2021-09-16 11:24] RobertChenKFC commented on #466
[Here](https://drive.google.com/file/d/1iRU7LYmLkALTGMpVr8M14KDC51YhHA9H/view?usp=sharing) is the `edgetpu_compiler` version `15.0.340273435`.

[2021-09-16 11:59] RubenKelevra commented on #256
Sooo is there any option to connect the dual TPU card to a RasPi 4B, like with a Hat or an USB3-Adapter?

[2021-09-16 13:18] arun-kumark commented on #26
Hi,

I am running the MLMark benchmarking

[2021-09-16 13:24] arun-kumark opened #470 "edgetpu.swig.edgetpu_cpp_wrapper"
### Description

Hi,

I am running the MLMark benchmarking scripts on my system on Windows 10.
More details about the system are in the header of the script below. The parrot example runs fine on the machine.
But when I run the MLMark scripts,  I am getting the following error
**ModuleNotFoundError: No module named 'edgetpu.swig.edgetpu_cpp_wrapper'**

[code]

Could you help me in debugging this i

[2021-09-16 15:22] FlexxFR commented on #469
Unfortunately I don't have those to test.

What about this message:
driver/beagle/beagle_kernel_top_level_handler.cc:131] Could not set performance expectation : 4 (Inappropriate ioctl for device)

[2021-09-16 16:03] magic-blue-smoke commented on #256
@RubenKelevra
For Dual Edge card there are no options to interface to Raspberry Pi4 or CM4:
- they are not compatible on PCIe interface
- there are no off the shelf converters for USB to PCIe m.2

[2021-09-16 16:05] RubenKelevra commented on #256
Ah sad. So I have to get two USB ones. Thanks for the help! :)

[2021-09-16 16:05] mitchross commented on #256
What about  https://pipci.jeffgeerling.com/

[2021-09-16 16:19] RubenKelevra commented on #256
Well, while might be interesting for a CM4 built like the new Home Assistant Amber, I have already a RasPi 4B. I don't really think I like to replace it.

Additionally it would only run a single TPU board, as there's no secondary PCIe lane (as far as I understand).

[2021-09-16 16:26] magic-blue-smoke commented on #256
@RubenKelevra
Raspberry Pi CM4 and current Coral TPUs are not compatible, nor single, nor dual: https://github.com/google-coral/edgetpu/issues/280

If you already have Pi4B and have no intentions to change SBC, then USB TPU is the only option

[2021-09-16 16:36] RubenKelevra commented on #256
Yeah I know. But technically it should be possible to fixed for single TPUs, right? 🤔

And there's a hacky option to add PCIe to the RasPi
... just for the sake of completion :)

https://hackaday.com/2020/07/01/adding-pcie-to-your-raspberry-pi-4-the-easier-way/

[2021-09-16 19:09] hjonnala commented on #470
HI @arun-kumark edgetpu api is deprecated. It has been modified to libcoral api for c++ and pycoral api for python.

However, you can try installing edgetpu api form with this [whl](https://dl.google.com/coral/edgetpu_api/edgetpu-2.12.1-py3-none-any.whl) from [software](https://coral.ai/software/#alternative-packages) page. After installing please check if you have edgetpu_cpp_warraper.py in `Lib/

[2021-09-16 19:20] hjonnala commented on #466
Hi @RobertChenKFC there are some changes happened to fully connected layer in the latest compiler. please check [this page](https://coral.ai/news/updates-07-2021/) for the updates.

I have tried changing `model.add(tf.keras.layers.Dense(500, activation="relu"))` in main.py  with 100, 500, 1000, 1500.

From results we can see after some point(for sizes with 1000, 1500) compiler 16 is giving better

[2021-09-16 20:27] hjonnala commented on #464
@wrig if you compile the model with` -m 13 flag `you would be able to run this model with [edgetpu runtime 13](https://github.com/google-coral/libedgetpu/releases/download/release-frogfish/edgetpu_runtime_20210119.zip) installation from [software](https://github.com/google-coral/libedgetpu/releases/download/release-frogfish/edgetpu_runtime_20210119.zip) page.

This model would work with `edgetpu r

[2021-09-16 20:54] Flamingi opened #471 "Failed to load delegate from libedgetpu.so.1.0 on Arch"
### Description

I have compiled the Edge TPU runtime, Tensorflow lite and the PyCoral API from source on my Arch installation. After some initial troubles with the paths to my gcc libs, everyting went smoothly and I succesfully installed all necessary libs. When testing I get the mentioned error. I have used `gasket-dkms` from the AUR. The troubleshooting steps return the expected results. What c

[2021-09-16 22:36] hjonnala commented on #463
There is no fixed ratio that we can compare with the original one. It really depends on operations and their sizes it is mapped to edgetpu. And lib edgetpu reserves memory on cpu to stream outputs (which varies depending size and type of output)

For your model please try below commands:
We can see same number of operations mapped to edgetpu but the output size differ by 6MB.

If inference time an

[2021-09-17 07:03] manoj7410 commented on #471
@Flamingi Please share the output of below commands:

- uname -a
- modinfo gasket
- modinfo apex
- lspci -vvv

[2021-09-17 08:24] Flamingi commented on #471
@manoj7410
BTW I failed to mention in the OP, I have tried it with the packages available on AUR as well and get the same error.
 Here is the output:
[code]

[2021-09-17 11:16] FlexxFR commented on #469
Found another solution! I'm using a LXC container within proxmox. TPU is working in this container :)
So, no need for the UbuntuVM anymore

[2021-09-17 11:24] manoj7410 commented on #471
@Flamingi Please share the output of below command as well:

- lscpu

Additionally, have you blacklisted the preinstalled 'apex' driver as mentioned at https://coral.ai/docs/m2/get-started/#2a-on-linux ?

[2021-09-17 11:39] Flamingi commented on #471
@manoj7410 I have not blacklisted the apex driver as it was not preinstalled, `lsmod | grep apex` didn't print anything before installation

[code]

[2021-09-17 12:50] hjonnala commented on #469
Awesome. Can you please share the Hardware details. It would benefit others, who want to use `M.2 Accelerator with dual Edge TPU`.

Thanks

[2021-09-17 15:16] FlexxFR commented on #469
PC Hardware is a "Medion Akoya S30003 MD 34902" where I removed the Wifi/Bluetooth card and installed the  Coral M.2 Accelerator with Dual Edge TPU. Unfortunately  I don't have much info about the motherboard.
![image](https://user-images.githubusercontent.com/65705235/133806321-00574fc8-070e-4069-bd7f-abce7e97e7b2.png)
![image](https://user-images.githubusercontent.com/65705235/133806552-d5d9d1a0

[2021-09-17 16:27] hjonnala commented on #463
@RobertChenKFC I have tested quant_model.tflite with all intermediate tensors layers. I don't see any major jump in output size when adding more layers to edgetpu.

[quant_model.csv](https://github.com/google-coral/edgetpu/files/7187052/quant_model.csv)

[2021-09-17 16:35] hjonnala commented on #469
Thanks for sharing hardware details!

can share the output of below command.

[code]

[2021-09-17 16:51] arun-kumark commented on #470
Hi,
I did the installation of whl from the link.
The error somewhat changed as below:

[code]

_But there is no swig inside site-packages still._

Kind Regards
Arun

[2021-09-17 17:44] FlexxFR commented on #469
[code]

[2021-09-17 20:53] JiashuGuo commented on #325
I got similar results to this one, but when I run the model on Coral Edgetpu it was much slower than the model Coral published. Have you tried to run the compiled model?

[2021-09-17 21:21] hjonnala commented on #469
It seems only one tpu is being used. You can also cross check number of  device ID with 089a in `lspci -vvv`. You should have two of them to use two edge tpus.

[2021-09-17 22:38] hjonnala commented on #470
It seems edgetpu api does not work with windows. You can try with linux or MacOS with` python 3.5, 3,6 or 3.7`.

As edgetpu api deprecated you can use libcoral api for c++ and/or pycoral api for python.

If you are trying to run benchmarks you can try [inference_benchmarks.py](https://github.com/google-coral/pycoral/blob/master/benchmarks/inference_benchmarks.py). You might have to change this [li

[2021-09-18 07:42] FlexxFR commented on #469
Ok, good to know.
Currently there is only one listed.

[code]

Maybe due to the fact this PCIe slot only has one lane available or enabled. There is not much to find on this specific motherboard and in the BIOS I can't find any setting related this PCIe slot. That was a gamble anyway. I'm glad it's working at least in half capacity (probably enough anyway).

But to be sure: If both PCIe lanes woul

[2021-09-19 06:33] shred86 commented on #431
I’m having the same issue on an AWOW AK41 Mini PC. It has two M.2 slots, one SATA and one NVMe (PCI-E). I have the Coral EdgeTPU installed in the M.2 NVMe slot and it’s not detected at all.

Oddly enough, I also have the AWOW AL34 Mini PC, which is very similar but with just a slightly lesser CPU. The motherboard layout is also similar but they’re slightly different. However, the Coral EdgeTPU wor

[2021-09-19 17:11] agrieco commented on #431
Having the same issue here.  I'm using the following adapter: https://www.amazon.com/gp/product/B07JJTVGZM/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1

[2021-09-19 17:13] rafaelmathieu commented on #431
I am using that exact adapter. It is working in windows, but if I try a passthrough for a linux vm that's when it doesn't work.

[2021-09-20 06:39] abdulw976 commented on #290
Hi,
This pretrained model uses fixed batch size of 16, but the number of persons detected in the frame may vary.
Suppose I have 13 persons in the frame, then I will get the input shape of  [batch_size=13, 3, 256, 128]. Currently I am getting error due to this. How to handle this.??

[2021-09-20 11:03] agrieco commented on #431
Fwiw- in my scenario that isn’t working, it Is installed on a native Debian install.  No VMs involved.

[code]

[2021-09-20 15:24] hjonnala commented on #466
@RobertChenKFC please let us know if you have any more questions. If no questions, please close this issue.

Thanks

[2021-09-20 15:34] hjonnala commented on #465
Hi @jayavanth please let us know if you still have any questions.

[2021-09-20 15:34] #464 closed, assigned to hjonnala

[2021-09-20 16:30] hjonnala commented on #437
Hi @ibrahimsoliman97  are you able to test the dual coral m.2 with new PC?

[2021-09-20 19:04] hjonnala commented on #372
Feel free to reopen if issue still exists.

[2021-09-20 19:04] #372 closed, assigned to hjonnala

[2021-09-20 19:07] hjonnala commented on #351
New edgetpu runtime( edgetpu_runtime_20210726.zip)  has been released. Please try the new [runtime](https://coral.ai/software/#edgetpu-runtime) from here and feel free to reopen if issue still exists.

[2021-09-20 19:07] #351 closed, assigned to hjonnala

[2021-09-20 22:33] hjonnala commented on #156
For LSTM model with USB accelerator to resolve:
`
RuntimeError: Failed to execute request. Executable 'model' must have fully deterministic DMA hints when DMA descriptors from device are disabled.Node number 1 (EdgeTpuDelegateForCustomOp) failed to invoke`.

try the command below:

`USB_ENABLE_BULK_DESCRIPTORS_FROM_DEVICE=1 python3 run_lstm.py $PATH/weather_forecast_quant.tflite`

[2021-09-20 22:33] #156 closed

[2021-09-20 22:45] MrAnonymous722 opened #472 "M.2 Dual Edge TPU Not Showing up"
### Description

Using a Lenovo M910Q. I was hoping to see at least one coral device, but I don't see either. I see that MSI-X is enabled on my M.2 Drive, but this is a B+M key'd slot so I cannot try to use my coral there. I didn't get any errors while going through the installation steps outlined [here](https://coral.ai/docs/m2/get-started/). But when running `lspci -nn | grep 089a` there is no o

[2021-09-21 07:59] bdherouville commented on #140
Hi !

On my Rockpro64 with Armbian Here is how I managed to get my Edge TPU M.2 works :

apt update && apt upgrade -y && apt-get install linux-headers-current-rockchip64
sudo apt install -y --reinstall gasket-dkms libedgetpu1-std

reboot

@rockpro64:~/coral/pycoral$ python3 examples/classify_image.py \

----INFERENCE TIME----
Note: The first inference on Edge TPU is slow because it includes loadin

[2021-09-21 12:43] MeenalNarkhede opened #473 "Failed to retrieve TPU context."
I am working on inferencing on ARM and Coral accelerator using TFLite model with C++.

I am creating the Edge TPU Context as follows:

std::unique_ptr<tflite::FlatBufferModel> model;

  model = tflite::FlatBufferModel::BuildFromFile(model_file.c_str());
  if (!model) {
    cerr << "Cannot read model from " << model_file << endl;
    return 1;
  }

  const auto& available_tpus = edgetpu::EdgeTpuMan

[2021-09-21 16:03] hjonnala commented on #472
can you share the output of below commands:

- dmesg
- lspci -vvv

[2021-09-21 16:10] hjonnala commented on #473
Hi @MeenalNarkhede are you using edgetpu runtime 14?

can you share the output of below command:
`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'
`

[2021-09-21 16:25] MeenalNarkhede commented on #473
I am not running the inference with libcoral API. I running the C++ inference with TFLite interpreter with libedgetpu. So I have the libedgetpu.so specific to aarch64 architecture.

[2021-09-21 16:32] hjonnala commented on #473
Okay, can you please share your tflite model? Have you build libedgetpu with the latest code?

[2021-09-21 16:36] MeenalNarkhede commented on #473
Can you also share some command in C++ to check the edgetpu runtime version?

[2021-09-21 17:05] hjonnala commented on #473
Unfortunately, I don't have C++ command to check the edgetpu runtime version. May be this [script](https://github.com/google-coral/libedgetpu/blob/master/api/runtime_version.h) is helpful to crosscheck.

[2021-09-21 17:07] MrAnonymous722 commented on #472
[dmesg.txt](https://pastebin.pl/view/73fd6dbf)
[lspci.txt](https://pastebin.pl/view/b0607504)
edit: links to readable files instead of download only

[2021-09-21 17:35] rthadur opened #474 "test"
### Description

test

### Issue Type

Build/Install

### Operating System

_No response_

### Coral Device

_No response_

### Other Devices

_No response_

### Programming Language

_No response_

### Relevant Log Output

_No response_

[2021-09-21 17:35] #474 closed, assigned to nobody

[2021-09-21 18:02] rthadur opened #475 "test"
### Description

test

<details><summary>Click to expand!</summary>

 ### Issue Type

_No response_

### Operating System

_No response_

### Coral Device

USB Accelerator

### Other Devices

_No response_

### Programming Language

_No response_

### Relevant Log Output

_No response_</details>

[2021-09-21 19:40] hjonnala commented on #472
Thanks.. please share the output of below commands also.

- modinfo gasket
- modinfo apex

[2021-09-21 22:22] MrAnonymous722 commented on #472
[gasket.txt](https://pastebin.pl/view/0da98cdb)
[apex.txt](https://pastebin.pl/view/ce9ef0cd)

[2021-09-22 05:55] RobertChenKFC commented on #466
@hjonnala Thanks for the help. I did some more experiments, and did discover the same phenomenon. However, I think that `edgetpu_compiler` version 15 still yields better performance, it's just that `edgetpu_compiler` version 16 produces a smaller model compared to `edgetpu_compiler` version 15. Please take a look at the results:
|units|new time (seconds)|old time (seconds)|CPU tflite size (MiB)|ne

[2021-09-22 05:56] RobertChenKFC commented on #463
@hjonnala Even though there aren't any major jumps in output sizes when adding more layers to the edge TPU, I wasn't expecting the model size to increase at all. I modified the csv file you provided, keeping only the StridedSlice immediate tensors. Please take a look at the table below:
|Intermediate layer name           |Input size|Output size|On-chip memory used for caching model parameters|On-c

[2021-09-22 05:58] RobertChenKFC commented on #460
@hjonnala I would like to know if there is any update on this, thanks.

[2021-09-22 06:24] manoj7410 commented on #472
@MrAnonymous722 I am not able to see the Device ID 089a in any of these logs. Is the device connected properly ?

[2021-09-22 10:01] RobertChenKFC opened #476 "Inference on TFLite Model Gets Stuck In An Infinite Loop"
### Description

### Problem
I'm trying to run inference on a model on the edge TPU, but there seems to be some issues. When I run the model without setting any environment variables, I get this error:
[code]
and the lights on the edge TPU USB accelerator gets stuck blinking. I have to unplug then replug the USB cable to get it working again. However, when I set the environment variable `USB_ENABL

[2021-09-22 12:22] agrieco commented on #256
Could someone take a look at the post here: https://github.com/google-coral/edgetpu/issues/431#issuecomment-922826985 and give me some advice on what is needed to get this working?  I'm unclear what I'm missing.

[2021-09-22 13:15] mitchross commented on #256
Did you run thru the linux install instructions slowy? You have to disable apex drivers. Its super important to follow that guide super closely. https://coral.ai/docs/m2/get-started/

[2021-09-22 13:25] pdecat commented on #431
Hi, on my working setup I have this:

[code]

The most notable difference being I have `Kernel driver in use: apex` and you do not.

What happens when you try to load the driver with modprobe?

You can check if the drivers are loaded with `lsmod`, e.g.:

[code]

[2021-09-22 15:22] EricXh opened #477 "Cannot install gasket-dkms on nvidia Jetson nano"
### Description

Hi,
I use the USB version for longer time now and want to change to the PCIe verision.
But I struggle to instell the gasket-dkms:

`ait@ait-desktop:~$ sudo apt install gasket-dkms
[sudo] password for ait:
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package gasket-dkms`

In the coral-edgetpu.list there is:
`deb https:

[2021-09-22 15:27] hjonnala commented on #477
@EricXh can you try these [instructions](https://coral.ai/docs/m2/get-started/#2a-on-linux) to install `gasket-dkms`

[2021-09-22 15:29] EricXh commented on #477
@hjonnala This I have done, using the USB version on this device all the time. But I cannot  install the gasket-dkms for the PCIe version!

[2021-09-22 15:30] hjonnala commented on #477
can you try `sudo apt-get install gasket-dkms` instead of `sudo apt install gasket-dkms`

[2021-09-22 15:34] EricXh commented on #477
tried this also, same effect.

[2021-09-22 16:33] hjonnala commented on #477
can you please check your internet connection and try `sudo apt-get update` and install the drivers. I can see some users were able to install https://github.com/google-coral/edgetpu/issues/339 gaskt-dkms on nvidia jetson nano.

[code]

[2021-09-22 17:19] EricXh commented on #477
Hi,
I have internet connection, I use it all the day on the device because I code on it.
The list is boring, I wrote I did that all and I have the USB coral TPU running on this decice and you see my content of my coral-edgetpu.list in my first post...

I also see this posts, but for me it is not working, thats why I am asking here. Maybe there is somthing broken on google side at the moment?

[2021-09-22 17:34] hjonnala commented on #477
Hmm.. I have just tried on Docker Container and it is working.

[code]

[2021-09-22 19:20] agrieco commented on #256
Yep.  Several times.  Not once have I seen the apex drivers loaded (prebuilt or others).  I also went through the troubleshooting steps which included blacklisting the apex drivers and gasket drivers just to make sure the proper things were disable.

[2021-09-22 19:27] agrieco commented on #431
Many thanks for the working output.
[code]
Any ideas of what might the issue causing the module not to get loaded?  thanks

[2021-09-22 19:31] EricXh commented on #477
Hmm, you did this on an X86 machine, but mine is an arm device.
Maybe there is an difference because not the same files are downloaded.

BR
Erich

[2021-09-22 19:36] mitchross commented on #256
Whats output of lspci ?

[2021-09-22 19:53] agrieco commented on #256
Full logs over in https://github.com/google-coral/edgetpu/issues/431#issuecomment-922826985

[code]

[2021-09-22 20:26] pdecat commented on #431
Maybe secure boot related, see https://askubuntu.com/questions/762254/why-do-i-get-required-key-not-available-when-install-3rd-party-kernel-modules

[2021-09-22 21:23] hjonnala commented on #473
can you please try to compile your model with -m flag with 13 version and the run the inference. And also please try with one of the model form [here](https://coral.ai/models/all/).

`! edgetpu_compiler -s -m 13 ssdlite_mobiledet_dog_vs_cat.tflite`

[2021-09-22 21:30] agrieco commented on #431
Ding ding ding!  Winner winner chicken dinner. This fixed it.  THANK YOU!

[2021-09-22 21:32] agrieco commented on #256
This is fixed and is related to secure boot and refusing to load unknown drivers.   I disabled secure boot and it worked great!   I'll see about putting in a PR to change the docs to potentially save some others the same headache.

https://github.com/google-coral/edgetpu/issues/431#issuecomment-925345105

[2021-09-22 22:15] hjonnala commented on #469
yes, you will see another device listed as /dev/apex_1

Ref: https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter/issues/3#issuecomment-885755446

[2021-09-22 22:31] hjonnala commented on #460
@RobertChenKFC yes, it is an issue on our side. Unfortunately, as of now we don't have any plans to fix this issue. I have a filed a internal bug for this issue. Thanks for reporting.

[2021-09-23 05:24] MeenalNarkhede commented on #473
I tried the following:
1. Used the SSD MobileNetv1 EdgeTPU tflite file directly from Coral website.
2. Compiled the SSD MobileNetv1 CPU tflite file from Coral website using:
! edgetpu_compiler -s -m 13 ssd_mobilenet_v1_coco_quant_postprocess.tflite
But still in both cases I am facing the same error.

I have a few questions:
1. Is there any major change in the PCIe driver version 1.0 and 1.1?
2. Al

[2021-09-23 06:54] johannes-do commented on #453
Any updates on this one? I am kind of stuck on here :(

[2021-09-23 07:27] HungryNerd-exe commented on #421
@kueblert , I have to do H264 encoding for 1080p resolution image at 30fps. Considering this issue, I believe it is highly impossible to achieve it without hardware accelerators. Did you have luck or the issue still remains the same?

[2021-09-23 07:33] kueblert commented on #421
If you want to use the processors for anything else but video encoding, I have not found a way to do so. My solution is to move to a raspberry pi or similar with the Coral USB stick. Sucks, but many other platforms have working hardware encoding. Too bad we cannot get any Coral USB sticks anywhere at the moment. It is really a bit disappointing that the actual NN-accelerator works so great but the

[2021-09-23 07:41] manoj7410 commented on #421
@HungryNerd-exe I would use GStreamer overall but unfortunately the iMX8M does not include a hardware video encoder (only a decoder). You could do SW encoding in our GStreamer pipelines by changing the display part of the pipeline (https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py#L240) to something that use SW encoding (for example, x264enc ! mp4mux ! filesink loc

[2021-09-23 07:46] kueblert commented on #421
Good luck with that. I actually tried this with GStreamer and ffmpeg using different codec backends. Without reducing quality to a degree that is inacceptable for anything useful I was unable to get it to work at 30 fps even at a lower resolution. If anyone succeeds with that (iseally without fully utilizing all available cores), I'd be interested in how to.

[2021-09-23 09:10] HungryNerd-exe commented on #421
@manoj7410 Thanks for the suggestion. Let me try software encoding and see what results I wind up with.

[2021-09-23 15:20] HungryNerd-exe commented on #421
@manoj7410 Thanks for the suggestion. Let me try software encoding and see what results I wind up with.

[2021-09-23 20:22] georgejung commented on #256
I just got everything setup on my ubuntu machine with the m2 coral and a pcie1x adapter. I didn't really have any problems and it seems to be working well!

[2021-09-23 21:36] rafaelmathieu commented on #431
I can also confirm this works!!! @pdecat Thank you

[2021-09-23 22:14] hjonnala commented on #453
Have you exported the model with fixed tensor shape? only fixed shape tensors or models will work on edgetpu.

 I have tried to quantize the model the saved model and I am getting
`ERROR: Attempting to use a delegate that only supports static-sized tensors with a graph that has dynamic-sized tensors.`.

[edgetpu_453.ipynb.tar.gz](https://github.com/google-coral/edgetpu/files/7221037/edgetpu_453.ip

[2021-09-24 20:49] hjonnala commented on #476
Hi, With the latest changes it is expected to get the below error to avoid overheating of USB accelerator.
[code]

[2021-09-27 04:27] manoj7410 commented on #431
@ferbulous Are you still facing this issue ?

[2021-09-27 13:18] hjonnala commented on #470
Closing this issue as edgeptu is deprecated and not supported for windows.

[2021-09-27 13:18] #470 closed, assigned to hjonnala

[2021-09-27 13:19] #469 closed, assigned to hjonnala

[2021-09-28 04:45] MeenalNarkhede commented on #473
Any updates on this Coral team?

[2021-09-28 09:03] manoj7410 commented on #473
@MeenalNarkhede Can you paste the output of:
- modinfo gasket
- modinfo apex
- lspci -vvv

[2021-09-28 14:29] hjonnala commented on #444
@dyoo-dev I am not able compile the model with new compiler, but able to compile with `Edge TPU Compiler version 15.0.340273435`. Please check attachment for edgetpu file.

[edgetpu_444.tar.gz](https://github.com/google-coral/edgetpu/files/7244936/edgetpu_444.tar.gz)

[2021-09-28 15:33] MeenalNarkhede commented on #473
**Output of lspci -vvv:**
01:00.0 System peripheral: Device 1ac1:089a (prog-if ff)
	Subsystem: Device 1ac1:089a
	Control: I/O- Mem+ BusMaster+ SpecCycle- MemWINV- VGASnoop- ParErr- Stepping- SERR- FastB2B- DisINTx-
	Status: Cap+ 66MHz- UDF- FastB2B- ParErr- DEVSEL=fast >TAbort- <TAbort- <MAbort- >SERR- <PERR- INTx-
	Latency: 0
	Interrupt: pin A routed to IRQ 54
	Region 0: Memory at 600100000 (64-b

[2021-09-28 16:56] #475 closed, assigned to nobody

[2021-09-28 22:51] hjonnala commented on #473
can you please try this [pycoral demo](https://coral.ai/docs/m2/get-started/#4-run-a-model-on-the-edge-tpu) it would be easy to identify the issue.

[2021-09-29 03:04] RobertChenKFC commented on #476
@hjonnala Thanks for the information. So it is expected behavior that the CPU tflite model compiled with `edgetpu_compiler` version `15.0.340273435` can be run successfully on the edge TPU USB accelerator, but the same CPU tflite model compiled with `edgetpu_compiler` version `16.0.384591198` cannot be successfully run because of potential overheating issues? Does this mean that if the CPU tflite

[2021-09-29 03:06] RobertChenKFC commented on #463
@hjonnala I would like to know if there is any update on this, thanks.

[2021-09-29 03:06] RobertChenKFC commented on #466
@hjonnala I would like to know if there is any update on this, thanks.

[2021-09-29 05:16] MeenalNarkhede commented on #473
**Output of dmesg | grep -i apex**
[    8.258034] apex: module is from the staging directory, the quality is unknown, you have been warned.
[    8.273237] apex 0000:01:00.0: can't enable device: BAR 0 [mem 0x00000000-0x00003fff 64bit pref] not claimed
[    8.291928] apex 0000:01:00.0: BAR 2: assigned [mem 0x600000000-0x6000fffff 64bit pref]
[    8.299991] apex 0000:01:00.0: BAR 0: assigned [mem 0x

[2021-09-29 06:53] ghost opened #478 "Problem to install these two Libraries: gasket-dkms libedgetpu1-std"
Good morning,
I have problems installing the two libraries on my ARM64 computer because the software searches for the "aarch64" infrastructure according to "uname -machine" instead of the "arm64" propagated by the Ubuntu 21.04 operating system.

The command: lspci -nn | grep 089a brings the correct information regarding the hardware:

01:00.0 System peripheral [0880]: Global Unichip Corp. Coral Ed

[2021-09-29 06:59] ghost commented on #477
Hey Erich,
i had the same problem on several machine (see my post too). I want to use the M.2 - Module on RADXA, Raspberry, etc. (all ARM64 - Architecture), but the software told me, that there are no AARCH64 - Headers found. I thin, there is a problem beside implementing ARM - Architecture, or?

Best regards from Berlin

Z. Matthias

[2021-09-29 08:50] manoj7410 commented on #473
@MeenalNarkhede Disabling secure boot has worked for some users. Can you try to disable the secure boot on your machine ?

[2021-09-29 08:55] manoj7410 commented on #478
@Zhexue-M Do you see any error ? Can you paste the error here ?

[2021-09-29 09:41] MeenalNarkhede commented on #473
@manoj7410 The secure boot mode is already disabled.

I tried to run the classify image demo as per the link shared by @hjonnala.

Following are some observations:
1. When the apex is not detected in the lspci -vvv command, the following error is seen.
![error_without_apex_detected](https://user-images.githubusercontent.com/46239922/135243563-420a3f11-fb87-4f36-9721-213de263f480.png)

2. When the

[2021-09-29 10:51] manoj7410 commented on #473
@MeenalNarkhede I haven't faced this NULL pointer error during boot. Does it also occur if the device is not connected to your machine? Which machine are you working with ?

[2021-09-29 11:50] MeenalNarkhede commented on #473
One update on the earlier error:
Now the PCIe driver is getting detected. I can see apex in lspci -vvv. And the error after running the classify image example is as follows:
![error](https://user-images.githubusercontent.com/46239922/135262787-ca977576-1bb5-40dd-b874-769189765811.png)

[2021-09-29 12:51] hjonnala commented on #473
can you  install [libedgetpu runtime](https://coral.ai/docs/accelerator/get-started/#runtime-on-linux) and try the demo.

[2021-09-29 12:59] JoniSuominen opened #479 "Linking Flex Delegates with Edge TPU Compiler"
Hi!

I'm currently trying to compile efficientdet-d0 .tflite model for Edge TPU, but it unfortunately contains some flex ops as can be seen below

[code]

I'm able to run it with tflite-interpreter outside edgetpu_compiler, since I have built tflite-runtime from source (https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package) and added flex delegates to the build the

[2021-09-29 13:13] hjonnala commented on #479
Hi, can you please share the tflite model.

[2021-09-29 13:21] ghost commented on #478
Yes, I see the Error-Message:

DKMS make.log for gasket-1.0 for kernel 5.13.0-1007-raspi (aarch64)
Wed Sep 29 01:17:36 PM UTC 2021
make: Entering directory '/usr/src/linux-headers-5.13.0-1007-raspi'
Makefile:710: arch//Makefile: No such file or directory
make: *** No rule to make target 'arch//Makefile'.  Stop.
make: Leaving directory '/usr/src/linux-headers-5.13.0-1007-raspi'

-------------------

[2021-09-29 19:09] hjonnala commented on #476
Hi, With USB accelerator for models with  15.0 thermal throttling is controlled at runtime level. But the inference shuts off when the temp raises.

with 16.0 such model are not allowed in first place.

[2021-09-29 19:09] #476 closed, assigned to hjonnala

[2021-09-29 19:22] hjonnala commented on #466
Hi, from the results it is clear that inference time for `your model `compiled with compiler 15 are better than compiler 16 in some cases.

In general, it's not a great idea to compare inference time with different compiler versions. Instead, its better to test speed with different CPU architectures and different TPU devices similar to how [benchmarks](https://coral.ai/docs/edgetpu/benchmarks/) ar

[2021-09-29 19:22] #466 closed, assigned to hjonnala

[2021-09-29 19:46] hjonnala commented on #463
Hi, compiler doesn't duplicate weights,  this is the intended behavior. Thanks!

[2021-09-29 19:46] #463 closed, assigned to hjonnala

[2021-09-29 19:50] hjonnala commented on #420
As of now, the only way to map all RESIZE_NEAREST_NEIGHBOR operations to edgetpu is by reducing their size. May be [this strategy](https://github.com/google-coral/edgetpu/issues/461#issuecomment-913096712) is helpful.

[2021-09-29 19:50] #420 closed, assigned to hjonnala

[2021-09-29 20:57] hjonnala commented on #160
closing this issue as EdgeTPU API is deprecated. it has been modeified to [libcoral](https://github.com/google-coral/libcoral) for c++ and [pycoral](https://github.com/google-coral/pycoral) for python.

[2021-09-29 20:57] #160 closed

[2021-09-29 21:05] #161 closed

[2021-09-30 07:42] JoniSuominen commented on #479
Not able to share that specific model as its private, but I'll see if I can reproduce it with a publicly available model.

[2021-09-30 10:14] Drulludanni commented on #466
Why is that a better way to test the speed? We know the CPU's and TPU's on our devices and may not easily be able to change them, but compiling the models is very easy with different compiler versions and that is what we the end users want: the best performance we can get given the hardware we have.

[2021-09-30 11:33] manoj7410 commented on #478
@Zhexue-M Are there any steps to reproduce this ? Which hardware are you working with?

[2021-09-30 13:29] hjonnala commented on #479
okay, can you try to install tflite runtime and test the inference on colab notebook.

`! python3 -m pip install "https://github.com/google-coral/pycoral/releases/download/v2.0.0/tflite_runtime-2.5.0.post1-cp37-cp37m-linux_x86_64.whl"`

[code]

[2021-09-30 16:42] hjonnala commented on #467
Our team is actively working on obtaining certifications for as many markets as possible. Products datasheets would be updated if there is any progress.

Please check the datasheets from time to time for information on where the products can be sold.

 For example --> https://coral.ai/docs/dev-board/datasheet/#certifications.
Another example for USB Accelerator --> https://coral.ai/products/accele

[2021-09-30 16:42] #467 closed, assigned to ngrutas

[2021-09-30 18:56] hjonnala commented on #444
@dyoo-dev  please try the command below, you would be able to compile the model.

`!edgetpu_compiler -s -d  efficientdet-lite.tflite`

[2021-09-30 18:56] #444 closed, assigned to hjonnala

[2021-09-30 19:09] hjonnala commented on #450
@ZhouKai90 please try the command below, you would be able to compile the model.

`!edgetpu_compiler -s -d E0_512_512.tflite`

[2021-09-30 19:29] mbrooksx commented on #479
EfficientDet-D0 is not compatible with the EdgeTPU. You'll need to use an EfficientDet-Lite variant (i.e. EfficientDet-Lite0). You can either use the ones on TFHub, the [Coral test_data repo](https://github.com/google-coral/test_data), or use [TFLite model maker](https://www.tensorflow.org/lite/guide/model_maker) to retrain.

[2021-09-30 20:08] hjonnala commented on #211
please try  below command with Edge TPU Compiler version 16.0.384591198.

`! edgetpu_compiler -s -d file_name.tfltie`

[2021-09-30 20:08] #211 closed

[2021-10-01 09:15] manoj7410 commented on #471
@Flamingi Please make sure that the secure boot is disabled on your machine. Also, I believe your user has access to the device.

I would suggest you to change the log_level of libedgetpu at https://github.com/google-coral/libedgetpu/blob/master/port/default/port_from_tf/logging.cc#L171 and then rebuild this library by following the instructions given at https://github.com/google-coral/libedgetpu#

[2021-10-01 09:24] manoj7410 commented on #472
@MrAnonymous722 Are you still facing the same issue ?

[2021-10-01 11:17] Flamingi commented on #471
Sorry for not updating this issue. I don't have the time and energy to deal with the shenanigans Arch throws into my way. I have abandoned the project and just installed Ubuntu Server, where the module works as expected.

[2021-10-01 11:17] #471 closed, assigned to manoj7410

[2021-10-03 04:37] shred86 commented on #431
Still having this issue. I actually ordered another Mini PC, this time the BMAX B2 Plus, and it's not detecting the M.2 Edge TPU either. The Mini PC looks nearly identical to the AWOW AK41 except with a different CPU but they share the same BIOS version. The Edge TPU seems to not be detected by the system at all, and I've confirmed the M.2 PCI-E slot works fine if I plug in a M.2 NVMe SSD. I've al

[2021-10-04 14:03] xadrianzetx commented on #453
Hi, any updates on this? I'm having the same problem. Converter  setup is:

[code]

and compiling with `edgetpu_compiler -a -s model.tflite` yields

[code]

That's puzzling, since the same model compiles fine with compiler version `15.0.340273435` and `14.1.317412892`. [Here's](https://github.com/google-coral/edgetpu/files/7278575/model.tar.gz) the tflite model in question.

[2021-10-04 14:17] xadrianzetx opened #480 "Is there a way to download older compiler version?"
### Description

I'm having some problems with compiler version `16.0` (described in #453), and was wondering if it's possible to grab previous version of `edgetpu-compiler`. Running

[code]
shows that no other version is available, but maybe I'm just looking in the wrong place.

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Operating System

_No response_

###

[2021-10-04 14:29] hjonnala commented on #480
[Here](https://github.com/google-coral/edgetpu/files/7278734/compiler.zip)  is the edgetpu_compiler version 15.0.340273435.

[2021-10-04 14:40] xadrianzetx commented on #480
Thank you! Is it hosted anywhere public? I would need it to run as part of my CI job, but quick glance at the license tells me that I'm not really allowed to keep it in the public repo.

[2021-10-04 16:09] hjonnala commented on #465
closing due to inactivity. Feel free to reopen if you have any questions.

[2021-10-04 16:09] #465 closed, assigned to hjonnala

[2021-10-04 16:12] hjonnala commented on #451
Feel free to reopen if you still have any questions.

[2021-10-04 18:56] hjonnala commented on #480
Currently we are not maintaing legacy compiler versions. However, We have Edge TPU Compiler version 14.1.317412892 hosted public [here](https://github.com/google-coral/edgetpu/tree/master/compiler/x86_64). I will pass this to the internal team as feature request.

Thanks

[2021-10-05 07:20] AkkiSony commented on #451
@hjonnala I wanted to know how can I measure the power consumption of the TPU? Just wanted to compare this with different accelerators.

[2021-10-05 12:04] xadrianzetx commented on #480
Sounds great, thanks!

[2021-10-05 12:04] #480 closed, assigned to hjonnala

[2021-10-05 18:16] hjonnala commented on #451
The Edge TPU is capable of performing 4 trillion operations (tera-operations) per second (TOPS), using 0.5 watts for each TOPS (2 TOPS per watt).

Please check this paper for additional reference: https://workshops.inf.ed.ac.uk/accml/papers/2020/AccML_2020_paper_4.pdf

Thanks

[2021-10-05 18:17] #451 closed, assigned to manoj7410

[2021-10-05 18:39] #293 closed, assigned to hjonnala

[2021-10-05 20:10] hjonnala commented on #287
@markus-k  I am able to convert the multi input model and compile it with edgetpu compiler. Please check the attachment for details.

Thanks.

[edgetpu_287.tar.gz](https://github.com/google-coral/edgetpu/files/7288923/edgetpu_287.tar.gz)

[2021-10-05 20:16] #287 closed, assigned to hjonnala

[2021-10-05 21:52] hjonnala commented on #450
@sypark155 feel free to reopen if issue still exists and share the tflite model.

Thanks.

[2021-10-05 21:52] #450 closed, assigned to manoj7410

[2021-10-06 06:16] ShaoHao-Chen opened #481 "How to control HDMI drive strength?"
I am facing issues with HDMI port during EMI test.
In the [NXP Community](https://community.nxp.com/t5/i-MX-Processors/HDMI-drive-strength-control-and-where-can-download-HDMi-firmware/m-p/1350833/emcs_t/S2h8ZW1haWx8dG9waWNfc3Vic2NyaXB0aW9ufEtVRVE5SDlGNzdRSEk2fDEzNTA4MzN8U1VCU0NSSVBUSU9OU3xoSw#M181093), it mention the HDMI firmware can be changed.

My Question

1. The NXP only support the YOCTO pro

[2021-10-06 11:44] JoniSuominen commented on #479
Sorry for late reply! That solves the issue, as the lite models seemed to work ok 👍

[2021-10-06 11:44] #479 closed, assigned to hjonnala

[2021-10-06 12:16] magic-blue-smoke commented on #478
Currently Raspberry Pi CM4 and Coral TPU are not working together on PCIe

[2021-10-06 13:33] ghost commented on #478
Hello together,
sorry for my delay, but I had so many Presentation about AI, etc. and there was no time to write back so far.

So, that is NOT my problem. I had it on several machine, like RADXA RockPI4, Raspberry PI include CM4 with M.2 and with the USB - Card. The Reason is, that all the system said, that they are an "AARCH64" - Infrastrucutre they had, but on LINUX-Distribution it's call as ARM

[2021-10-06 13:36] ghost commented on #478
In Addition of my Message.
Please make a look on my Message about the Error - Message. On Line 1 "Get 1 ...." you see, that your software seem, that is is an ARM64 - System.... Later you see, that your system want to build it for aarch64. This is the point, that I had on several systems....

[2021-10-06 13:50] magic-blue-smoke commented on #478
@Zhexue-M
This is the issue for RPi CM4 and m.2 card: https://github.com/google-coral/edgetpu/issues/280

As for other cases (including USB accelerator and other platforms), it should work, but I didn’t try that to tell for sure

[2021-10-06 14:12] ghost commented on #478
Hey, that is not true.
On my RockPI - System is this the same. The big reason is, that ARM64 and AARCH64 doesn't match so far and that is the point.... Sorry..

[2021-10-06 21:43] hjonnala commented on #394
@alexanderfrey  can you please share your saved model and quantization script.

[2021-10-06 22:52] Larosen commented on #256
Does anyone know if the m.2 accelerator b+m key(s) work with Synology? In my case a DS920+ with 2 M.2 Slots at the bottom.

The USB Accelerators are not available but the M.2 keys are in stock...

[2021-10-06 22:57] Larosen commented on #256
Have you tried your luck? I would appreciate a positive feedback :D

[2021-10-07 14:16] hjonnala commented on #384
please try quantize_int8.py with  tensorflow==2.5.0 you would be able compile the model.

[conv_tasnet.tflite.tar.gz](https://github.com/google-coral/edgetpu/files/7304159/conv_tasnet.tflite.tar.gz)

![Screenshot from 2021-10-07 07-13-27](https://user-images.githubusercontent.com/86132058/136402458-6a9c026f-d4b7-44e5-8ec9-377f26b4d027.png)

[2021-10-07 14:16] #384 closed, assigned to hjonnala

[2021-10-07 14:42] hjonnala commented on #380
@BernardinD  can you try with new Edge TPU Compiler version 16.0.384591198 (with a and d flags). I can see better inference time with new compiler.

[code]

[2021-10-07 14:52] hjonnala commented on #473
@MeenalNarkhede are you still having the issue?

[2021-10-07 15:04] manoj7410 commented on #481
Are you looking for https://coral.googlesource.com/imx-firmware/+/refs/heads/master/imx8m/signed_hdmi_imx8m.bin ?

[2021-10-07 16:54] SunAriesCN opened #482 "Segmentation Fault When Compiling EfficientNet Lite0 INT8 Model"
### Description

When I compile my [efficientnet-lite0-int8.tflite](https://github.com/SunAriesCN/image-classifier/blob/master/models/efficientnet-lite0-int8.tflite) with the [Web IPython Scripts](https://colab.research.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb) your team supported, I get the following Segmentation Fault Error.
[code]

Please tell me how to sol

[2021-10-07 17:10] hjonnala commented on #482
Hi, upload the file to co lab and run the command below. You would be able to compile the model.

`! edgetpu_compiler -s /content/efficientnet-lite0-int8.tflite`

Thanks.

[2021-10-07 23:04] ba305 opened #483 "Error in Demo at https://coral.ai/docs/dev-board/camera/#view-with-a-streaming-server"
### Description

Hello, I am running through this section of the camera setup: https://coral.ai/docs/dev-board/camera/#view-with-a-streaming-server. I am using a Coral Camera. In the demo, there are two models--the second one (face detection) works perfectly, but the first one (image classification) gives the following error:

[code]

Does anybody else experience this? Since the face detection wor

[2021-10-07 23:14] hjonnala commented on #483
Hi, looks like line formatting issue. Can you try with this [imagenet_labels.txt](https://raw.githubusercontent.com/google-coral/test_data/cdc17e7b755ed29b93c67acc24df2a2317d03793/imagenet_labels.txt)

[2021-10-07 23:57] ba305 commented on #483
Hi Hemanth, yes, it works now! Thank you!

[2021-10-08 00:18] #483 closed, assigned to hjonnala

[2021-10-08 01:54] ShaoHao-Chen commented on #481
Could I change the bin file setting to rebuild the whole kernel?

[2021-10-08 02:32] mattncsu opened #484 "HIB Error using Dual TPU, USB works OK (Windows 10)"
### Description

I recently got a dual TPU board and tried running the demo code and I get a HIB error:
[code]

If I disable the cards in device manager and leave only the USB TPU plugged in, the code works as expected. I am running the latest v13 (202110119) since I read in other issues that v14 is not compatible with Window 10.  I can see both devices in the device manager and using this script

[2021-10-08 12:21] sfc-gh-mruge opened #485 "Unable to boot and flash Coral dev board"
### Description

Hi,

I have three Coral dev boards, that I'm trying to flash for the first time. I am following the instructions from the get started guide [1], however when I plug the power supply in the led does not turn on. I'm using a Raspberry Pi 5.1 Volt, 3 Ampere power supply and I've also tried another one, that was included in the "Pico Cluster" [2] through which the boards were obtained

[2021-10-08 14:02] ryanm101 commented on #43
@mrshu @mskarbek did either of you get it working? I've NUC with fedora 34 and the M2 tpu..

[2021-10-08 19:22] hjonnala commented on #484
Glad to know it's working with Ubuntu. Can you please share your hardware details that would help others to know this hardware works with dual edge tpu.

Thanks

[2021-10-08 19:31] mattncsu commented on #484
@hjonnala I'm using a pre-production adapter board made by @magic-blue-smoke (based on a PCIe switch) and an m.2 NVME to PCIe adapter board, photos and more info in this issue:https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter/issues/3#issuecomment-889455901

[2021-10-08 20:15] johannes-do commented on #453
@hjonnala This error happens when setting `converter._experimental_new_quantizer = True`. After training I have to train one epoch with a fixed batch size of 1 (instead of 'None') which will resolve this issue. I think it is also possible to fix the batch size to a certain value after training without having to retrain, but my google skills let me down...

So @xadrianzetx, maybe this will help you

[2021-10-09 00:56] settle commented on #256
@Larosen I just tried to find the m.2 accelerator b+m key to buy, but everywhere I looked it is not available.  Where did you manage to find it?

[2021-10-10 19:26] cku239 opened #486 "pose classification example doesn't get the test data"
### Description

I'm trying to run the movenet_pose_estimation.py example.

It fails saying the tflite file is missing  and yes it is.

I ran the bash command to get the files for movenet pose estimation example and it fails.

I ran the bash command without specifying a file to retrieve all the files for all the examples.
This retrieves the files for the other examples but not for pose classificat

[2021-10-11 04:34] manoj7410 commented on #485
@capsfan95 1. Please confirm that you have plugged the power supply in power port and not in the OTG port.
2. Connect a serial console cable (https://coral.ai/docs/dev-board/serial-console/#connect-with-macos) without connecting the power, do you see any LED on the board then ?
3. Please confirm the boot setting is in eMMC mode?

[2021-10-11 04:38] manoj7410 commented on #486
@cku239 Can you please paste the complete error to take a look on ? Please mention the project or repo from which you are following the instructions.

[2021-10-11 09:06] IArchi opened #487 "Run inference on Vagrant VM"
I'm trying to run the image classifier as explained in the **Get started** documentation.

I've set up a Virtualbox VM using Vagrant:

	# -*- mode: ruby -*-
	# vi: set ft=ruby :

	Vagrant.configure("2") do |config|

		# RAM, CPU and USB configuration
		config.vm.provider "virtualbox" do |v|
			v.memory = 4096
			v.cpus = 2
			v.customize ["modifyvm", :id, "--usb", "on"] # Enable USB
			v.customize

[2021-10-11 09:39] IArchi commented on #487
Solution was to remove this useless line !

`worker.vm.synced_folder "/dev/bus/usb", "/dev/bus/usb", SharedFoldersEnableSymlinksCreate: true`

[2021-10-11 09:39] #487 closed, assigned to hjonnala

[2021-10-11 13:40] hjonnala commented on #486
@cku239 we need to update [install_requirements.sh](https://github.com/google-coral/pycoral/blob/master/examples/install_requirements.sh). Meanwhile you can get `test_data/movenet_single_pose_lightning_ptq_edgetpu.tflite` and` test_data/squat.bmp` form this [test_data_repo](https://github.com/google-coral/test_data).

[2021-10-11 14:38] IArchi opened #488 "Run on Kubernetes cluster"
Given the `docker` command is (and works perfectly):

    sudo docker run -t -i --privileged -v /dev/bus/usb:/dev/bus/usb myCoralImage:latest

The `kubernetes` yaml file should looks like this:

    	apiVersion: apps/v1
	kind: DaemonSet
	metadata:
	  name: cameraai
	  labels:
		app.kubernetes.io/name: cameraai
		app.kubernetes.io/instance: cameraai
		app.kubernetes.io/version: "0.1"
	spec:
	  sele

[2021-10-11 15:11] hjonnala commented on #488
can you try to follow [this](https://www.sodalite.eu/blog/deploying-across-heterogeneous-accelerators-edge-kubernetes) and see if it works..
[code]

[2021-10-11 17:13] Homas commented on #256
Unfortunately m.2 E-key was only available option at the moment and I was able to get it working with this adapter: https://www.ebay.com/itm/174362088680
Only one TPU but better than nothing.

[2021-10-11 19:56] hjonnala commented on #453
@xadrianzetx  if you are still having the issue please share your saved model and quantization script.

Thanks

[2021-10-11 19:59] #482 closed, assigned to hjonnala

[2021-10-11 20:03] hjonnala commented on #379
@ricardodeazambuja can you please try with latest compiler and let us know if you are still facing the issue.

[2021-10-11 20:31] hjonnala commented on #347
@YijinLiu are you still having any issues here?

[2021-10-11 20:40] hjonnala commented on #324
@marcin-kamionowski can you please share your saved model and quantization script?

[2021-10-11 20:43] hjonnala commented on #210
@vadim-SX are you still having any questions here?

[2021-10-11 20:45] hjonnala commented on #191
@QING0304 are you still having any issues here?

[2021-10-11 20:50] hjonnala commented on #477
@EricXh are you able to install `gasket-dkms `on nvidia jetson nano now? If not does any other [packages](https://coral.ai/software/#debian-packages) working for you?

[2021-10-11 23:27] scottamain commented on #296
Try these instructions to connect to the serial console with a micro-B USB cable (instead of the USB-C cable):
https://coral.ai/docs/dev-board/serial-console/#connect-with-macos

[2021-10-12 07:29] EricXh commented on #477
@hjonnala  now its even wore. I cannot install anything from the coral packages.
I removed a working libedgetpu1-max and tried to install it new, but this is not working anymore (was working previously) and I used the USB Coral tpu on this device.

`sudo apt-get install libedgetpu1-max
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package libedgetpu1-max

[2021-10-12 09:03] IArchi commented on #488
`dt-labeller` seems to only be suitable for arm64. My server's architecture is amd64.

    nodeSelector:
        kubernetes.io/arch: arm64

Running the DaemonSet or the NFD (even without the `nodeSelector`) failed:

    panic: no valid device tree configuration found
    goroutine 1 [running]:
    main.main()
          /app/main.go:179 +0xd85

[2021-10-12 18:56] miniman commented on #368
The last comment implies the current requirements are pretty stringent, and I will second that assertion. I have a USB-C block with three ports and provides "only" 5 amps. I cannot have three (e.g., 1 - 1GB DevBoard, 2 - 4GB DevBoard) running and successfully flash using the micro-SD card. I have to unplug at least one of the other DevBoards for the SD card flash to succeed and not receive the dre

[2021-10-13 01:59] SunAriesCN commented on #482
Thx

[2021-10-13 11:35] johannes-do commented on #453
@hjonnala The original issue I posted is still present. My last message is only a workaround. I don't think it is a viable solution to this issue to tell developers that they must set an unsupported flag (_experimental_new_quantizer).
Also, if I were to develop this compiler I would really want to know why it fails with the default quantization and works with the experimental_new_quantizer.

[2021-10-13 14:55] hjonnala commented on #453
@j-o-d-o  can you please share saved model and quantization script that you were able to compile the model.

Also, please compare the output quantization at Node number 31. (tflite able to compile vs tflite not able to compile)

[2021-10-13 17:02] dungcules opened #489 "Bluetooth Connection"
### Description

I am developing a webserver over Bluetooth on Google Coral. By using "bluetoothctl", I am able to turn on the bluetooth and pair to my phone(Android). However, the connection drops immediately and I am not able to reconnect any more. In addition, my phone does not see the coral board although "discoverable" is set to on. The detail is below:

[code]

<details><summary>Click to exp

[2021-10-13 17:32] xadrianzetx commented on #453
@hjonnala

[This colab notebook](https://colab.research.google.com/drive/1qHBF_L6od9Ck2Y2_v7POfLelrovc4Db0?usp=sharing) contains reproducible example. The same model will compile with older compilers (14.1 and 15.0). Also, when using newer version of tensorflow to create a model, 16.0 will compile it, but depthwise conv layers will run on CPU, similarly to #75.

[2021-10-13 21:49] hjonnala commented on #477
@EricXh I can see the packages [here](https://packages.cloud.google.com/apt/dists/coral-edgetpu-stable/main/binary-arm64/Packages) not sure why you are not able to install any of them.

[2021-10-13 23:14] davidgressett opened #490 "tflite model maker object detection generated model can't compile"
### Description

Following along with the model maker object detection tutorial here:
https://www.tensorflow.org/lite/tutorials/model_maker_object_detection

I have a custom training set with just 9 classes, recognizing cars, trucks, pedestrians, etc.

And this all works just fine for using EfficientDet-Lite1 as the model. I can compile and run that model and it works.

However, I need something m

[2021-10-13 23:17] hjonnala commented on #490
can you try with this command ` !edgetpu_compiler  -s -d model.tflite`. If it fails please share the tflite model.

[2021-10-13 23:23] davidgressett commented on #490
Thanks for the direction.

Using those parameters, the model does compile, but given the percentage of operations done on the CPU, not sure we can call this "success".

Model successfully compiled but not all operations are supported by the Edge TPU. A percentage of the model will instead run on the CPU, which is slower. If possible, consider updating your model to use only operations supported by

[2021-10-13 23:29] hjonnala commented on #490
you can try this `!edgetpu_compiler -s -a -d model.tflite`

[2021-10-14 05:27] bjammin commented on #256
I finally received my PCIe to m2 adaptor.  I got it from ebay but it's the same as this one:
https://www.amazon.com/MZHOU-Controller-Expansion-Supports-Profile/dp/B082D6RF6S/

The model number is PCENVME-N01 VER006S V3.0

There's not much to it, it's pretty much connecting m2 lanes to PCIe lanes.

It works fine with the Coral m2 B+M TPU in a PCIe x1 slot in my MSI C236A motherboard.

My inference

[2021-10-14 07:18] Larosen commented on #256
Are you using it in a Synology DS or something else?

[2021-10-14 08:06] IArchi commented on #488
I've tried to deploy a very basic pod on my Kubernetes cluster.

[code]

Running directly into a Docker container produces the following results:
`[{'type': 'usb', 'path': '/sys/bus/usb/devices/4-1'}]`

While running in the Kubernetes pods produces:
`[]`

This seems Kubernetes has not mounted the USB dongle.

[2021-10-14 08:21] bjammin commented on #256
Ah no sorry just in a regular PC server.  I was following up with my previous reply (above, before the Synology NAS discussion)

[2021-10-14 14:04] hjonnala commented on #477
@EricXh can you try the below commands and try to install the packages.

[code]

[2021-10-14 16:09] EricXh commented on #477
I deleted the coral-edgetpu.list file and restarted with all steps and now I can install the gasket and the libedgetpu!
Try to do the other steps and will check it in my python app.

[2021-10-14 16:36] EricXh commented on #477
When I type
`lsmod | grep apex`
I get no output, so no apex loaded.
I made the rule and added the current user to the apex group.

[2021-10-14 18:15] davidgressett commented on #490
This completely fails, with the final step looking like this:

ERROR: Restored original execution plan after delegate application failure.
Compilation failed: Compilation failed due to large activation tensors in model.
Compilation child process completed within timeout period.
Compilation failed!
Try to compile segment with 1 ops
Intermediate tensors: tfl.quantize
Started a compilation timeout ti

[2021-10-14 21:53] davidgressett commented on #490
Since a google provided tflite model maker created model can't compile with the tpu compiler, with fewer classes than the original, in the smallest possible size, this sure seems like a bug IMO.

The parameters we've tried so far haven't produced anything usable. Please say we aren't concluding that the tpu compiler doesn't support efficientdetlite0. Are there any other tricks worth trying?