[2021-04-05 11:23] Namburger commented on #330
“Killed” is a signal from the OOM killer... nothing we can do about that, you’ll need more ram, unfortunately

[2021-04-05 11:24] neilyoung commented on #354
@Namburger Do you mean training images or final test images? The answer is no for both. Would you be able to run your own Jupyter book and provide me a file I could load into the Coral? That at least I would see, that kind of this operation would work?

[2021-04-05 11:27] Namburger commented on #354
You could just try a different image for testing, in my colab there are 5 other test images that was evaluated before compiling to the edgetpu and downloading the model

merit: in the evaluation stage, the results is actually shown, which is working. Also, it isn’t Jupiter notebook, colab is a free tool from google that allows you to run the training on Google’s free GPU so you wouldn’t have to wo

[2021-04-05 11:29] neilyoung commented on #354
Yes, I remember. I tried them all in the end. No detection at all.

And the Colab thing is also not working very well for me. It runs for a while then you get locked out for unclear times. You cannot purchase a license ouside US. So what...

[2021-04-05 11:31] Namburger commented on #354
As a matter of fact, just clone my repo and run this (I provided a sample output model with 8 test images):

python3 run_model.py models/ssdlite_mobiledet_dog_vs_cat_edgetpu.tflite test_images

[2021-04-05 11:35] neilyoung commented on #354
Thanks. I appreciate your help, but I would like to create my own with some means at reasonable time. It is not about dogs and cats, in the end I need to adapt a resnet model to detect persons only in order to increase the inference rate. I tried the erroneous Google tutorial, the one, which provided me such nice comments here, as suggested with 500 steps. No detection. With 1000 steps. No detecti

[2021-04-05 11:47] Namburger commented on #354
I wrote an entire article on it along with my colab, that should give you good insight on how to train it on other images. There’s also another colab on the bottom for mask detection plus I BBelieve I linked you to the official tf OD API doc? That’s really where them he source of our model came from

I suggest reopening the issue so the team still have it in the queue and they will get to fixing t

[2021-04-05 11:48] neilyoung commented on #354
Thanks again. And no. They are not interested and I'm not either. Chapter closed. Thanks

[2021-04-05 12:35] neilyoung commented on #354
@Namburger Ran your code on my RPI4. What is it supposed to do?

It prints something but nothing else happens:

pi@detector:~/edgetpu-ssdlite-mobiledet-retrain $ python3 run_model.py models/ssdlite_mobiledet_dog_vs_cat_edgetpu.tflite test_images
Evaluating: test_images/image1.jpg
Evaluating: test_images/image2.jpg
Evaluating: test_images/image3.jpg
Evaluating: test_images/image4.jpg
Evaluating: te

[2021-04-05 12:54] Namburger commented on #354
@neilyoung if you look at the code, it'll show the image (but you need to connect the pi to a monitor and run the code on the pi instead of over a ssh session):
https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain/blob/master/run_model.py#L77

If you want it to print the results also, simply add this on line 76, between the `text = ...` and the `draw....` line line this:
[code]

The show

[2021-04-05 12:59] neilyoung commented on #354
I was running it via SSH first, with export DISPLAY=:0, that works with my inference codes. Then I used a monitor and keyboard. Same results. I suppose I must be missing a dependency.

With the test print the results are clearly different, so it works... Now I would like to have the same :) You said, you did 3000 steps? How many evals? (NUM_STEPS, NUM_EVALS)?

[code]

[2021-04-05 13:08] neilyoung commented on #354
This does not show any image from the test_images directory, not sure why...

[code]

[2021-04-05 13:09] neilyoung commented on #354
`sudo apt-get install imagemagick
`

was missing...

At least it works now, but you should mention it

[2021-04-05 15:51] Namburger commented on #354
@neilyoung I don't remember the exact params but in general, I suggest that you play around with it..
The exact same set of images with the same params may not give the same exact result, welcome to ML :)

[2021-04-05 17:09] Naveen-Dodda commented on #315
Hello,

I am trying to export the fozen graph from your checkpoints (model.ckpt-15000 ) but the export fails if i use the default command from here. https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/quantize.md

can you share the export command you have used for export_model.py .

Thanks

[2021-04-05 17:13] neilyoung commented on #354
Well, the situation is: Here is NO set of params, which gives ANY result (other than "No detection"). If this is ML than thank you very much :)

[2021-04-05 17:29] julled commented on #280
It would be so sad if it would never be possible to use the Coral Boards via PCIE on the CM4.
The combo is the perfect high performance - low power - compact formfactor - multi camera - mainline kernel supported - embedded inference platform.
Please please find a way to make it useable.

[2021-04-06 06:11] jake-g commented on #315
I think the only flag in [export_model.py](https://github.com/tensorflow/models/blob/master/research/deeplab/export_model.py) for all the flags that can be supplied) that i changed was `--num_classes=3`, does it work if you supply that?

[2021-04-06 06:52] aviraljain99 commented on #317
@Namburger I tried using the -a flag however I get an error saying:

`Internal compiler error. Aborting! `

I am trying to compile the ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8 from the [tensorflow object detection model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md). I have trained this model on my own custom dataset and I have used

[2021-04-06 09:00] manoj7410 commented on #317
@aviraljain99 Can you share your CPU .tflite model ?

[2021-04-06 14:46] neilyoung commented on #354
@Namburger OK, thanks to your impulse I tried your Colab again today. By that occasion I found an already "colabed" tflite edgetpu file from Feb 27, showing me, that I already once came through. I tried this model on my PI and found, that it not detected 2 images out of the bunch of test images. If I recall correctly, this was the moment, at which I gave up with Google. And in the past I never mad

[2021-04-06 18:44] Naveen-Dodda commented on #353
Hello,

You can turn on minimalistic=True

A simple model would look like below

base_model = tf.keras.applications.MobileNetV3Large(input_shape=IMG_SHAPE,
                                              include_top=False,
                                              minimalistic=True,
                                              weights='imagenet')

base_model.trainable = True

model = tf.keras.S

[2021-04-06 19:01] Naveen-Dodda commented on #315
It doesn't export.

Can you please take a look at the colab notebook attached and share me back a colab to export the your model with the checkpoints you shared above.
[deep_lab_test.ipynb.zip](https://github.com/google-coral/edgetpu/files/6266982/deep_lab_test.ipynb.zip)

[2021-04-07 00:03] aviraljain99 commented on #317
Hi @manoj7410, this is the [.tflite file](https://drive.google.com/file/d/1tLqu_LJBPKSt97VZQf-RgYLhJUZD4Axn/view?usp=sharing) that I am passing to the edgetpu compiler.

This was created using the following Python script:
<details>

<summary>Python Code to perform full-integer post-training quantization</summary>

[code]

</details>

Running the edgetpu model on the EdgeTPU is also performing infe

[2021-04-07 03:52] jake-g commented on #315
thanks for the example. I got it working on my end with a public colab kernel. I had to change two things.

There first is the `model_variant` flag need to be set to the `mobilenet_edgetpu` like so:
[code]

Second, and less obvious...ive been using tf.slim 1.0 to train and convert models. The reason was related to deeplab training issues i had with newer tf.slip pip releases. Training and everythi

[2021-04-07 04:50] vganjali opened #355 "Bluetooth firmware loader"
Looking into _systemctl_ logs (`sudo systemctl --failed`), I realized a service called **btfw_loader.service** fails to load on my Coral Dev Board. btfw_loader.service executes `ExecStart=/usr/bin/hciattach /dev/ttymxc1 qca 1000000 flow -b -t 120` while there is no **hciattach** in my system. Was wondering if this an issue with my mendel installation or the Bluetooth service is not implemented for

[2021-04-07 08:10] bitbashing commented on #256
Confirmed working: Rock Pi 4C SBC with M.2 B+M TPU. Ubuntu 20.04 and Debian 9.

Seeed's "M.2 Extend Board" accessory holds the module securely in place, but it's a bit wonky - the inference speed slowed to a half when using the extender, from ~2ms to ~4ms. Appears to be caused by electrical interference on the cable/connector/lines.
This is v1.6 with a rather unusual FFC, maybe someone who has thi

[2021-04-07 13:02] KapitanKabzon commented on #353
I have checked myself, everything works well.
Thank you very much.

[2021-04-07 13:02] #353 closed, assigned to Naveen-Dodda

[2021-04-07 16:34] manoj7410 commented on #317
@aviraljain99 I see that you have trained your model with size 640x640.
Can you try with 320x320 and see if there is any improvement in the inference?

[2021-04-07 21:20] F0rged commented on #256
I am trying to do the same with a Dell Optiplex 9020 Micro.  I have a 1TB NVMe drive in the M.2 22x80 slot, and the Coral in the M.2 22x30 slot.  The BIOS doesnt seem to detect the coral.  Did you have any luck? or come up with any workarounds?
Or alternatively have you found anywhere that has the usb version in stock?

[2021-04-07 22:14] Naveen-Dodda commented on #315
Hello Jake,

You have mentioned that you have same problem with model type mobilenetv2 as well right.

[2021-04-08 00:34] jake-g commented on #315
yeah, i repeated the same train/quantize/export steps but trained the regular deeplab moblenetv2 model instead of the edgetpu variant. Although i dont have a checkpoint on hand, it was kind of part of the whirlwind of debugging i did prior to posting this issue.

[2021-04-08 11:19] aviraljain99 commented on #317
@manoj7410 I have also tried the 320x320 model and that model gets compiled by the edgetpu. I am even getting fast inference with the 320x320 model. But I am trying to compare performance across different models and so I was hoping I could also compile the 640x640 model using the edgetpu compiler.

Do you know why the 640x640 model is not getting compiled by using the -a flag on the edgetpu compil

[2021-04-08 12:35] DeepDubbed commented on #339
@pridkett

I've just managed to get my Dual TPU to show-up and work on my Jetson Nano 4GB.

I've basically followed the steps from https://coral.ai/docs/m2/get-started/

I've also had to add apply this https://coral.ai/docs/m2/get-started/#troubleshooting-on-linux - basically edit the  /boot/extlinux/extlinux.conf and add pcie_aspm=off but I've aslo added gasket.dma_bit_mask=32 on the same line.

[2021-04-08 13:54] DeepDubbed commented on #256
I've managed to get 1 TPU out of 2 running on Jetson Nano 4GB

The Harware specs of Jetson Nano state that it has an M.2 E-key - 1 x4 (PCIe Gen2)
More hardware specs here - https://docs.nvidia.com/jetson/l4t/index.html#page/Tegra%20Linux%20Driver%20Package%20Development%20Guide/software_features_jetson_nano.html#wwpID0E0IB0HA

The problem is that Coral Dual TPU explicetly asks for M.2 E-key - with

[2021-04-09 06:38] moscheIT commented on #256
@F0rged I'm sorry but I have not found solutions, currently I havn't try any workarounds

[2021-04-09 12:52] pridkett commented on #339
@DeepDubbed that's really interesting - on your system, what is the PCIe device that shows up when you run `lspci -nn`?

The challenge for me and other people on the NVIDIA forums with similar problems is that the Dual TPU M.2 Coral doesn't even show up when you run `lspci -nn`. The single TPU showed up, but the driver doesn't work until you add `pcie_aspm=off` to `/boot/extlinux/extlinux.conf` (i

[2021-04-09 13:17] DeepDubbed commented on #339
00:01.0 PCI bridge [0604]: NVIDIA Corporation Device [10de:0fae] (rev a1)
00:02.0 PCI bridge [0604]: NVIDIA Corporation Device [10de:0faf] (rev a1)
01:00.0 System peripheral [0880]: Device [1ac1:089a]
02:00.0 Ethernet controller [0200]: Realtek Semiconductor Co., Ltd. RTL8111/8168/8411 PCI Express Gigabit Ethernet Controller [10ec:8168] (rev 15)

The gasket.dma_bit_mask doesn't seem to do anything

[2021-04-09 13:27] pridkett commented on #339
That's the exact same output I get when I have my single TPU installed, which works fine on the Jetson. The dual TPU doesn't even show up in my device tree. We've got the same board revisions too, so that eliminates something.

[code]

@Namburger: Do you know what the PCI device ID for the dual TPU should be? Is it the same as the single TPU?

[2021-04-09 13:39] DeepDubbed commented on #339
I've rechecked my board and it clearly has 2 TPUs on it.
See attachment. ![tpus](https://user-images.githubusercontent.com/79571015/114188543-eb0f9600-9951-11eb-9cb8-8d10b722395a.jpg)

Please note I'm powering my Jetson using a 20W power brick over the barrel and not using USB-C!! It might make a difference in the fact that Jetson has enough power for PCIe ...

[2021-04-09 13:46] pridkett commented on #339
Also powering over a 20W power brick on the barrel.

But, I think we have slightly different revisions of the board. Yours says "2027 06-11" and mine says "2027 02-07" at least this is making progress. I don't see any other physical differences in the cards. I'm glad someone has gotten part of the dual TPU working. Maybe just with a different revision.

<img width="469" alt="image" src="https://us

[2021-04-09 17:35] DeepDubbed commented on #339
I think that's just a serial number, I have another one with 2027 06-10. Both of them from mouser, would expect them to be bulk stocked.

[2021-04-09 22:26] FerreJanssen commented on #290
@arsenal-2004 Is it possible to share your conversion? I am trying to replicate your process but am running into issues with the conversion from onnx to tensorflow.

[2021-04-10 04:17] parthjdoshi commented on #290
@FerreJanssen Sure. I was using Google Colab for this.
1) I installed OpenVINO using the code from [this notebook](https://colab.research.google.com/drive/1xla23daYYbTIfbdHF0nyHzHyoAvVtyaG#scrollTo=PO2uvGWy7oEi).
2) I ran the model optimizer on the Onnx file which I had modified to have a batch size of 1.
[code]
3) After installing the latest version of openvino2tensorflow, I ran the following com

[2021-04-10 12:25] johannes-do commented on #352
@Namburger I finally managed to get the USB Accelerator connected to the DevBoard Mini and I see the same "bad" performance also with the USB Accelerator. Not sure if I should be happy or sad about it :D I think I go with happy because it means I can fix this somehow. Sorry for the false alarm before properly testing it...

[2021-04-10 12:35] Namburger commented on #352
@j-o-d-o so sorry, I gave you incorrect info :(
The usb-c on the mini also only supports usb2: https://coral.ai/products/dev-board-mini/#tech-specs

[2021-04-10 12:39] Namburger commented on #355
@vganjali I believe what's missing is that you'll need to enable this kernel option on the defconfig
[code]
See here for how to do this: https://github.com/f0cal/google-coral/issues/56#issuecomment-632120325

[2021-04-11 07:21] nonegom commented on #259
@Namburger
Hi sir. I want use EdgTPU.
My grep degetpu like that and my tensorflow version is 2.5.0.
but now I have a problem. What could I do?
![2](https://user-images.githubusercontent.com/71921002/114295719-001b2f00-9ae2-11eb-967b-22375889e540.PNG)

thank you!

---------------------------------
pi@raspberrypi:~ $ dpkg -l | grep edgetpu
ii  libedgetpu1-std:armhf                15.0

[2021-04-11 19:13] bitbashing commented on #42
@Namburger FYI I'm experiencing the same issue as OP of the TPU pcie driver affecting Debian KDE on Rock Pi (mine is 4C). Desktop loads fine before installing the TPU drivers, then after the TPU drivers are installed KDE does not load (blank screen with cursor).

Once `gasket-dkms` and `libedgetpu1-std` are uninstalled through a remote shell session, the KDE comes back after reboot. This can be re

[2021-04-12 01:27] aviraljain99 opened #356 "Many operations not mapped and internal error when using -a flag on edgetpu_compiler"
I am trying to compile the ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8 from the [tensorflow object detection model zoo](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md). I have trained this model on my own custom dataset and I have used the [export_tflite_graph_tf2.py](https://github.com/tensorflow/models/blob/master/research/object_detection

[2021-04-12 08:48] Sunkian opened #357 "AttributeError: 'Delegate' object has no attribute '_library'"
Hello @Namburger, I've been trying to run inference on my Coral dev board's TPU but without success. I hope you can help me out on this.

### Setup :
I'm using a Google Coral Dev Board running on Mendel. The command ```uname -a``` gave me this :
```Linux fun-orange 4.14.98-imx #1 SMP PREEMPT Fri Nov 8 23:28:21 UTC 2019 aarch64 GNU/Linux```.
The model used is a facemask detection compiled for edget

[2021-04-12 11:32] manoj7410 commented on #357
@Sunkian First of all, it is recommended to install the latest version of the Mendel on your Dev board. You can reflash the board by following the instructions given at : https://coral.ai/docs/dev-board/reflash/#flash-a-new-system-image

[2021-04-12 14:41] Sunkian commented on #357
Following your advice @manoj7410, I reflashed my board and I'm on this version now :
[code]

But I'm still getting my error. If I remove ```experimental_delegates=[tflite.load_delegate('libedgetpu.so.1```, and change the model to a non quantized .tflite one, everything works fine but on the CPU (turning at 1.3 fps). I got the quantized models on the official page https://github.com/neuralet/models

[2021-04-12 14:51] marcin-kamionowski opened #358 "Internal compiler error"
Hi!
[code]
[internal_err.zip](https://github.com/google-coral/edgetpu/files/6297562/internal_err.zip)
The same problem is present on compiler v14.1
On 2.1 i get: `Didn't find op for builtin opcode 'TRANSPOSE_CONV' version '3'`

[2021-04-12 15:01] marcin-kamionowski commented on #358
Stdout is confusing when min runtime version is selected:
[code]
Status code is zero in this case. Output file has been created but it is invalid.

[2021-04-12 20:03] arun-kumark commented on #125
Hi Namburger,

I am using the above Docker file mentioned but I like to run the Parrot inference example alone, could you help me refining it?
I am using M.2 device connected with the remote x86 machine. I can only check through logs over SSH to test whether the accelerator is working or not, also with some performance indicators like speed over 10 inferences.

Could you let me know if any Dockerf

[2021-04-12 20:39] mbrooksx commented on #280
I completely agree about the potential with the combination. At this point, it looks like a irreparable hardware issue with the antiquated CM4 PCIe module. I have forced all the allocations into simple mapping (see above for more info about this) so that all the virtual addresses are 32-bit, as well as previously setting all reads/writes to 32-bit. However, the device itself (in hardware) makes re

[2021-04-13 15:22] azsecured opened #359 "apex Process X is opening a node held by X"
Hi.

I use M.2 Accelerator TPU on Ubuntu 20.04.

One proccess working normally.But when i run second script (parallel) have error.

Error:

[code]

Code example:

Have solution for multiple use script one TPU?

[2021-04-13 18:23] mkaay commented on #343
Same error messages here with ESXi 7.0 Update 1 and Debian 10 on a Supermicro SYS-E300-8D.
Is there anything we can try to figure this out?

[2021-04-13 18:43] johannes-do commented on #352
@Namburger It really seems like the usb2 is the bottleneck here. I tested with a model:
Input: 320x128x3
Conv2D layer with 1x1 kernel and 16 channels
Output: 320x128x16

Runtime with USB3 and Stick: ~8ms
Runtime on DevBoard Mini: ~115ms

Bummer. Did not expect that, but ok, will have to work with that for now.
I am looking forward to your next-gen products. Hope they will hit the shelves in 2021.

[2021-04-14 03:55] manoj7410 commented on #359
@azsecured Here is an example of Multiple models on single TPU https://github.com/google-coral/pycoral/blob/master/examples/two_models_inference.py. You can take reference from this one.

[2021-04-14 06:39] j-o-d-o commented on #352
Little follow up question. Is it possible to pipeline the datatransfer somehow? So that I transfer the next image already while the inference of the previous is calculated?

But I guess not since the docs state:
"When using a single Edge TPU, throughput is bottlenecked by the fact that the model can execute only one input at a time—the model cannot accept a new input until it finishes processing t

[2021-04-14 10:22] kampff commented on #280
Choosing to believe this is still possible...here are my current *DMESG* and *libedgetpu* logs:
*(Kernel: 5.10.23-v8+ (aarch64) with gasket/apex modules and libedgetpu from mbooksx's repos, custom Buildroot Rootfs)*

**DMESG**
[code]
**libedgetpu (verbosity=10)**
[code]

[2021-04-14 15:06] kmr29499 opened #360 "Jitter on UART with baurate >115200"
Hi, we have an issue using the UART1 & 3 as interface with SLCAN.
We're running the interfaces with 230400 kBaud and observed bits falling over, which leads to wrong data - in terms of SLCAN either wrong/short/long address or corrupted payload. When having traffic in both directions we can also see that transmitting gets stuck sooner or later.
It's easy to reproduce the behavior by just connecting

[2021-04-16 15:30] marcin-kamionowski commented on #256
Hi!
@blazczak  What model has been used for speed test? I want to compare this numbers to Raspberry Pi4 with TPU@USB3.0 so it will be nice if you could provided more information on benchmark. Thanks!

[2021-04-16 16:52] bitbashing commented on #256
@marcin-kamionowski this is with the `mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite` model from the hello parrot example in "Get Started" section (https://coral.ai/docs/m2/get-started/#4-run-a-model-on-the-edge-tpu).

I can get low 2ms inference times consistently on the Rock Pi 4C

[code]

Pozdrawiam 😃

[2021-04-16 16:55] bitbashing commented on #256
Update on the [M.2 extend board](https://www.seeedstudio.com/M-2-Extend-Board-for-Rock-PI-4-p-4146.html) for Rock Pi 4: it appears the slow down might have been caused by the CSI camera (IMX219) attached, once I disconnected the cam the inference times were again comparable to the M.2 module attached directly to the Rock Pi.

[2021-04-17 18:45] strubell commented on #316
I think I have encountered the same issue (potential duplicate [here](https://github.com/google-coral/examples-camera/issues/74)). @steamhyperpolyglot have you made any progress, @Namburger could you take another look?

[2021-04-18 19:47] wb666greene commented on #272
@zldrobit @pliablepixels
I stumbled upon this looking for a solution as to why my MPCIe TPU module works on Ubuntu 20.04 but not Windows 10 (dual boot i3-4025 system) but running a yolo model on the TPU is something I really want to try!  Plugging in the USB3 TPU my Windows code runs, so my PyCoral installation seems correct.  I've just ported my TPU code from "legacy" edgetpu to pycoral.

I'm doi

[2021-04-18 20:25] jake-g commented on #315
@Naveen-Dodda any ideas for things to try? has anybody been able to re-train deeplab and convert to tpu compatible model?

[2021-04-18 21:33] wb666greene opened #361 "MPCIe TPU works on dual boot Ubuntu 20.04 but not Windows 10"
Title pretty much says it all.  I've a i3-4025 "Mini PC" with MPCIe setup for dual boot.  I've ported my Python  edgetpu code tp pycoral and it runs fine on Ubuntu 20.04.

Moving the code to Windows 10 it seems the Coral MPCIe driver doesn't start.  If I plug in a USB3 TPU, the Windows code runs correctly.

I'm not much of a Windows user getting totally off the bus after Windows 7, this system was

[2021-04-19 09:30] glenn-jocher commented on #272
@wb666greene yes person is index 0 in the class vector. You can see the full list of classes in the data.yaml file:
https://github.com/ultralytics/yolov5/blob/238583b7d5c19029920d56c417c406c829569c75/data/coco.yaml#L20-L30

You can print class indices with:
[code]

320 image size works well also.

[2021-04-19 15:43] wb666greene opened #362 "python3-pycoral doesn't install on Ubuntu 16.04"
Ubuntu 16.04 with all current updates as of last night. It had been running edgetpu-1.9.2

I ran the edgetpu_api/unistall.sh and started the PyCoral installation, which I have done successfully on Ubuntu 20.04.   I didn't the gasket,apex blacklist and /dev/apex_0 exists after the dkms build and system reboot.  Wasn't expecting problems but ...
`sudo apt-get install python3-pycoral
Reading package

[2021-04-19 16:19] Namburger commented on #362
@wb666greene you can try the package from here: https://github.com/google-coral/pycoral/releases

[2021-04-19 16:23] wb666greene commented on #272
@glenn-jocher

Thanks, I don't really need the full labels file as once the inference has been run I only look at the output inside an if statement where the object id matches that for a "person" so knowing that person is index zero is sufficient.

You may not have seen my edit where I tried with the assumption that person was index 0 but got an error in detection=detect.get_objects(model, confide

[2021-04-19 16:51] kmr29499 commented on #360
Does anybody from Google care about these issues?

[2021-04-19 17:27] wb666greene commented on #362
@Namburger Thanks, I sudo -H pip3 installed pycoral and tflite and I'm close but this step fails:

from pycoral.utils.edgetpu import make_interpreter, get_runtime_version
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/pycoral/utils/edgetpu.py", line 24, in <module>
    from pycoral.pybind._pywrap_coral import GetRuntimeVersio

[2021-04-19 17:47] Namburger commented on #362
@wb666greene yes, the `apt install python3-pycoral` is a new thing that coral added recently, I guess what it allows is a one step install that includes all necessary libraries. However that failed for you (maybe because the OS is too old?) so I suggested installing the pip package instead and that pip package doesn't include the `so` => you needed an extra step to install the so.
I'm no longer wi

[2021-04-19 22:16] wb666greene commented on #362
The getting started for the M.2 etc. modul page says under "Requirements":

A computer with one of the following operating systems:
Linux: 64-bit version of Debian 10 or Ubuntu 16.04 (or newer), and an x86-64 or ARMv8 system architecture
Windows: 64-bit version of Windows 10, and x86-64 system architecture
All systems require support for MSI-X as defined in the PCI 3.0 specification
At least one a

[2021-04-20 03:22] wb666greene commented on #272
@batrlatom I ran the code you posted and superficially seem to get pretty good performance using  the yolo5 edgetpu.tflite model that @zldrobit linked.

Running Ubuntu 16.04 on an i3-4025 with the USB3 TPU the first inference is ~65 milliSeconds, the 4 repeats average ~49 mS.  Using the MPCIe module the first inference is ~56 mS and the others average ~43 mS.

But I still can't make any sense of t

[2021-04-20 19:25] mbrooksx commented on #355
Thanks for the report @vganjali . Note that we do test hciattach specifically and include a package for bluez tools (https://coral.googlesource.com/bluez-imx-debian/) - perhaps there is something missing in your install.

[2021-04-20 19:32] mbrooksx commented on #357
Are you able to run our default models (i.e. edgetpu_detect)?

Can you verify:
[code]

[2021-04-20 19:34] mbrooksx commented on #358
Hi @marcin-kamionowski,

Can you provide the model that you're running (if you're uncomfortable on a public forum, please email to coral-support@google.com)?

Thanks!

[2021-04-21 00:12] wb666greene commented on #362
I repeated the pycoral installation instructions from here:  https://coral.ai/docs/m2/get-started/ on another Ubuntu 16.02 system that was running the 192*.tar.gz version of edgetpu_api.

This time I did:
sudo ./edgetpu_api/uninstall.sh
sudo apt update
sudo apt upgrade

There were a lot of 16.04 updates as it'd been running in "if it ain't broke, don't fix it" mode since early 2019 and doesn't acc

[2021-04-21 03:15] wb666greene commented on #361
After repeating the Ubuntu 16.04 pycoral installation and duplicating the apt-get install python3-pycoral issue and fixing it with the pip3 install of the tflite & pycoral wheels.  I verified my TPU code ported from edgetpu_api to pycoral worked correctly.

This i5 system also had Windows 10 dual boot so I tried installing PyCoral API to it using the instructions here: https://coral.ai/docs/m2/get

[2021-04-21 09:27] ricardodeazambuja opened #363 "Coral USB Accelerator: silicon shortage or end of production?"
I'm trying to answer the question above, but searching on Google I got nothing. Everywhere I checked (e.g. all the links from coral.ai website) the stocks are zero. So, I'm wondering whether Google is killing the USB Accelerator...

Thanks in advance for any clues!

[2021-04-21 16:04] wb666greene commented on #363
I hope not, unless they are coming up with a new version to support full tensorflow models.

The M2 modules are nice and priced much lower (< 1/2), but my initial experience with them has not been as smooth as with the USB version -- see issues #361 and #362

Not to mention that M2 slots are not common in IOT class machines at the moment, and ones that do (Pi CM4 & nanoPC) has open issues here abo

[2021-04-21 18:08] wb666greene commented on #351
Try downloading the appropriate wheels for tflite-runtime and pycoral from: https://github.com/google-coral/pycoral/releases and installing them with pip

I had to do this on Ubuntu 16.04 when the apt-get pycoral failed.

[2021-04-21 18:13] mbrooksx commented on #363
This is a silicon shortage (the same as everyone else in the industry is dealing with right now). We are currently building as many as we can - we have recently completed and shipped a new batch  that should be available with our distribution partners shortly.

[2021-04-21 19:12] #363 closed, assigned to nobody

[2021-04-22 00:53] mbrooksx commented on #280
These logs look like what I see as well. The HIB error there (hib_error_status = 0000000000000211) still indicates read failures.

I recently became aware of a new-ish DT Overlay from the Pi team for 32 bit DMA (I found it in this [thread for bringing up a USB controller](https://www.raspberrypi.org/forums/viewtopic.php?f=98&t=310166)) - [pcie-32bit-dma.dtbo](https://github.com/raspberrypi/firmwar

[2021-04-22 01:05] julled commented on #280
I think this new overlay originated from this issue over here: https://github.com/raspberrypi/linux/issues/4197#issuecomment-794014591

Maybe you can find some ideas on the problem in there ?

[2021-04-22 11:57] tyouritsugun opened #364 "Failed to load delegate from libedgetpu.1.dylib"
Hi,

I stuck on a problem with the Coral Dev Board, here are my steps:
1, I finished the installation described in
https://coral.ai/docs/dev-board/get-started/
2, I installed the run-time as below into my Mac with 10.15 :
https://coral.ai/software/#edgetpu-runtime
3, I installed the PyCoral as below into my Mac:
https://coral.ai/software/#pycoral-api
4, I have my Mac connected to the Coral Dev Boa

[2021-04-22 12:52] KillahB33 commented on #343
Also trying to work through this.

I got this far but as mentioned in OP I don't have /dev/apex_0 with the same dmesg you have above.

[code]

Out of curiousity, are you guys running this?
`esxcli system settings kernel set -s vga -v FALSE`

[2021-04-22 12:59] manoj7410 commented on #364
@tyouritsugun Can you share the detailed logs here including the command that you executed ?
Also, wanted to confirm that you are trying to perform the inference on the Dev Board and not on your Mac?

[2021-04-22 13:08] tyouritsugun commented on #364
Thank you very much for your reply.
Here are parts of the run time installation message:
[code]
I ran
[code]
It replied `None`
I ran
[code]
It replied `/dev/cu.usbmodemzippy_apple1`
I wondered that the reason might be the device can not be found, but I do not know how to fix it.

Yes, I am trying to perform the inference on the Dev Board but not on my Mac. I expected that the Python script from Ma

[2021-04-22 14:12] judrew commented on #72
+1 Similar issue as @sramirez where it works for EfficientnetB0 up to a certain input size (254x254, 128x510(?)) but throws an "internal compiler error" for larger input sizes (256x256, 128x512).

It also seems to get stuck and have a memory leak for some dimensions such as 510x510.

EdgeTPU Compiler version 15.0.340273435

[2021-04-22 16:10] MEntOMANdo commented on #343
Someone mentioned, either in this thread or a different one, that ESXi was displaying the Coral as Global Unicorp via one pci-usb adapter, but when using a different adapter it showed as Google, and then it worked.

So this may be:
 - totally irrelevant
 - specific to usb vs pci/m2
 - or a clue that the apex driver is looking for a specific identifier, not seeing it, and failing to load

Is there

[2021-04-22 16:25] KillahB33 commented on #343
Also grasping, I spent the morning to see what people were doing to get GPU passthrough to work hoping there would be some overlap.

Do you have any info on the adapter? I would be curious to see what his device looks like in esxi because mine is just showing as
`<class> Non-VGA unclassified device`

[2021-04-22 18:13] mkaay commented on #343
I have the M.2 module plugged in directly to the M.2 slot on my Supermicro board.

This is how it's listed in ESXi:
![image](https://user-images.githubusercontent.com/121547/115761819-0db69b80-a3a3-11eb-97f4-d25875128afb.png)

Looking at the `lspci -vv` output in the guest VM, I can see that MSI and MSI-X is not enabled.
[code]

My dmesg output shows this errors:
[code]

And I do get some logs rel

[2021-04-22 20:09] KillahB33 commented on #343
Would be good thing to know, I have had other things that didn't work on esxi but passed through fine so this seems odd.

I tried a few thing today with no luck.

I updated passthru.map with device info
I then add hypervisor.cpu_0 FALSE (supposed to trick ubuntu into thinking it's not a vm) and reinstalled tpu stuff after this too
I am not sure what's next, I think it's something to do with the pa

[2021-04-22 20:09] neilyoung commented on #354
To finalize this discussion from my side: Today I was able to run successfully another tutorial, which looks pretty much like the Docker tutorial, but works at least. Just 500 steps and full success.

For those, who are interested: https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_detection_qat_tf1.ipynb#scrollTo=ISp0a9D7Ap4A

I'm not sure what the difference is,

[2021-04-22 20:52] mkaay commented on #343
I also tested a fresh install with UEFI instead of legacy BIOS.
Same problem. Only difference is this first extra line:
[code]

Additionally setting `pciPassthru.use64bitMMIO="TRUE"` or `pciPassthru.64bitMMIOSizeGB = “128"` in the .vmx file like mentioned in this KB https://kb.vmware.com/s/article/2142307 doesn't make a difference.

[2021-04-23 00:10] KillahB33 commented on #343
Hm interesting, well I ordered a usb3 card and a enclosure, will update if that works.
It's a no go, unlike the pci cards and everything else the usb drive has firmware in it that tells the OS that it's a storage drive so back to square one. Not sure what I will try next.

[2021-04-23 00:31] tyouritsugun commented on #364
**UPDATE**

I am still working on this problem, here is what I met.

1, I ran ctypes.pydll.LoadLibrary to load 'libedgetpu.1.0.dylib' from Python console, it says
[code]
From this message, I guess that the run-time should be installed correctly.

2, I traced into the Python source, 'self._delegate_ptr' got angry because at 'interpreter.py', line 108:
[code]
it got None from 'tflite_plugin_create_d

[2021-04-23 01:35] Namburger commented on #364
@tyouritsugun just wanted some clarifications, are you using a USB Accelerator or a Coral Dev Board?

If you are using a Coral Dev Board, you’ll need to run code on the board, not on your Mac since the tpu only exists on the board.

Installing the libedgepu dylib means that you are trying to run coral’s libraries which requires the edgetpu on the MAC itself, which means you need to have a USB Acce

[2021-04-23 01:38] Namburger commented on #364
Ahh, just saw this:

In this case, what you should do instead is log into your board using our mdt tool or ssh, the board comes with an OS on it that allows you to log into it and run code!

Here are the instructions that you can follow: https://coral.ai/docs/dev-board/get-started/#connect-internet

[2021-04-23 04:01] tyouritsugun commented on #364
Thank you, Namburger!

Now, I understand that I can not expect the Dev Board to work like that. It is necessary for the host computer to see the TPU as its own device, but Mac can not do that with the Dev Board. So I need a USB one.

However, is it possible for Ubuntu to see the Dev Board as its device? I read the document below,
https://coral.ai/docs/dev-board/mdt/#mdt-on-macos

It says that
[cod

[2021-04-23 07:35] comdet commented on #280
Although i cannot help you but, I came here everyday with a hope to see it can work together ^^

[2021-04-23 08:23] WKMan opened #365 "When using tf.keras.layers.Cropping2D or tf.slice, my Edge TPU Compiler shows: Internal compiler error. Aborting!"
I am building two U Net Models for running on a Coral Dev. Board.

model A dose not use tf.keras.layers.Cropping2D layer and it compiled by Edge Tpu Compiler successfully and works fine on Coral Dev. Board.

The other model B used tf.keras.layers.Cropping2D but can not be compiled and only show the message: Internal compiler error. Aborting!

I tried to replace tf.keras.layers.Cropping2D with tf.s

[2021-04-23 09:19] desmoteo commented on #315
I finally managed to make it compile if I run training with the same flags and doing post-quantization as reported in #325 . But if I make changes to this configuration, e.g. change the crop size, compilation hangs again (even if the quantized tflite model seems well converged and is producing good results).

[2021-04-23 12:03] Namburger commented on #364
@tyouritsugun
Even with Ubuntu, you’ll still have to connect to the board (although usb interface is unlocked meaning you don’t need networks).

On MAC you can actually still ssh to the board via wifi instead of usb (as long as both devices are in the same network).
You can see here for a reference:
https://www.linkedin.com/pulse/tips-connecting-google-coral-edge-tpu-dev-board-macos-arthur

[2021-04-23 12:30] kueblert commented on #319
For future reference, editing /sys/module/usbcore/parameters/usbfs_memory_mb at least canges the error message.
Still, only one camera at a time is recording. But gstreamer now does run three separate pipelines at the same time now and then.

alloc_contig_range is triggered multiple times with PFNs busy before the failure. Perhaps something related to CMU?

(Further notes to myself)
To show the fu

[2021-04-23 13:03] tyouritsugun commented on #364
Thank you!
I connected to my MAC via wifi successfully, yet I will try to use Ubuntu to connect to my Dev Board to see if I can call the inference from U Ubuntu to the board because I am searching for a way to let the host PC can consider the Dev Board as one of its devices, such as the TPU inference can be triggered from the host PC. Alternatively, the USB Accelerator might be better since it is

[2021-04-23 18:24] john-maidbot opened #366 "edgetpu_compiler support for TF2.x quantization and conversion"
tensorflow-gpu version: 2.4.1
Edgetpu compiler version: 15.0.340273435

Hello, I am trying to convert a TF 2.x model to tflite and compile it for the edgetpu. Specifically I would like to perform quantization aware training (QAT) to ensure my final model has as little accuracy decay as possible.

I saw on the Coral.ai website that you do not currently support QAT for TF 2.x, only post-training qua

[2021-04-25 10:43] neilyoung opened #367 "edgetpu_compiler: Model not quantized"
Hi,

I have re-trained an **SSD-MobileNet v1** following this tutorial https://github.com/dusty-nv/jetson-inference/blob/master/docs/pytorch-ssd.md. I'm able to run the retrained model using Nvidia DeepStream SDK 5.1 on a Jetson Nano Dev Kit after having it converted to an ONNX model. The inference rate is not as good as it is with other, especially fine tuned models on the Nano, but at least doub

[2021-04-26 06:41] marcin-kamionowski commented on #358
Hi @mbrooksx
Model is linked in the first comment. This is the link: https://github.com/google-coral/edgetpu/files/6297562/internal_err.zip
Thanks!

[2021-04-26 15:10] shaunmitchellve opened #368 "Unable to flash Coral dev board"
Hello,

I've been trying to re-flash my Coral.ai dev board (4GB) using the microSD card and  / or fastboot (bash flash.sh -H) methods. I've tried an older microSD card and even bought a brand new Samsung 128 GB card (as I've seen a previously reported issue like this and a new SSD card seemed to solve it). Both times I get stuck in an endless loop of booting. I then tried the fast boot using USB m

[2021-04-26 15:16] neilyoung commented on #367
I'm continue to tap in the dark... I could overcome the "model not quantized" compilation error and replaced it by  Internal compiler error. Aborting!". Very helpful, indeed.

My ONNX-TF-TFLite now looks like so, including optimization:

[code]

It runs and produces a .tflite, but the compilation fails with "Abort"...

[2021-04-26 15:36] neilyoung commented on #189
I believe it makes not much sense to say "I have the same problem", but at least I try...

[2021-04-26 15:47] neilyoung commented on #367
ROFL... this works...

`!edgetpu_compiler -s 'ssd-mobilenet.tflite'  -m 10
`

[2021-04-26 15:51] neilyoung commented on #367
...Well kind of :))

[code]

I think I quit here.

[2021-04-26 16:36] ricardodeazambuja commented on #53
I've notice nobody here mentioned heat. Edgetpus may get quite hot and, in the Jetson Nano carrier board, the slot is located under the hottest part (GPU/CPU) without much space for air to circulate or a place to give away heat. Convection, with the carrier board laying flat, will just make things worse. I'm wondering if the problems mentioned here were heat related. Have anyone checked whether th

[2021-04-26 16:52] Naveen-Dodda commented on #358
Hello Marcin,

May I know which version of tensorflow you have used to train and quantize the model ?

[2021-04-26 20:13] shaunmitchellve commented on #368
I've been able to get rid of the *** Warning - bad CRC, using default environment by interrupting the boot loop and saving the current u-boot working environment to disk by running:

[code]

Still stuck i the endless boot loop however. I think the CRC error is a red herring.

I'm not sure if there is relevance here but I noticed that the message states that it is trying to boot from MMC 1 which is

[2021-04-26 22:02] mbrooksx commented on #360
Note this is purely a iMX8M question and will likely be better understood on a NXP forum. There are likely issues with baud rate generation of this value. With an input clock of 25 MHz to UART1:

[code]

It is unclear that you'll be able to generate exactly 230400. You can read the baud rate values as described in the iMX reference manual.

As for the questions regarding busfreq, busfreq is disabl

[2021-04-26 22:14] mbrooksx commented on #280
@julled - Yeah this new overlay is unrelated (and frankly I can't believe that overlay is actually useful). Thanks for finding the source.

[2021-04-27 03:05] zye1996 opened #369 "Different inference speed with C++ and Python for the same model on EdgeTPU using tflite API"
Hi! I recently tried to deploy [yolov5](https://github.com/zye1996/Yolov5_EdgeTPU) onto EdgeTPU with C++. The application runs fine now although the inference speed is not even comparable to the Python version.

I then measure the time spent on the line to invoke the interpreter:

```interpreter->Invoke();``` from C++ versus ```interpreter.invoke()``` from Python

C++ results in around 65ms per fr

[2021-04-27 05:40] Kuan-ChiehHsu commented on #96
I tried the ```pcie_aspm=off``` method but still get the ```ValueError: Failed to load delegate from libedgetpu.so.1``` error.
My single core M.2 edgetpu is attached on jetson nano.

uname -a
[code]
lsmod
[code]

lspci
[code]
dmesg | grep apex
[code]
dmesg | grep pcie
[code]

[2021-04-27 05:54] Kuan-ChiehHsu commented on #256
Hi, I'm curious why I'm still getting the
[code]
after applying the fix and reboot. Does anyone have the same issue?
I use single core M.2. edgetpu on jetson nano, and the edgetpu is visible.

[2021-04-27 07:06] bitbashing commented on #256
@jk78346 how do you define "the edgetpu is visible" in your case? I would see this delegate error when there is an issue with PCIe connectivity or the TPU driver (compiled with mismatched headers or compiled with errors).

`lspci -nn | grep 089a` and `ls /dev/apex_0` show output? What do `modinfo gasket` and `modinfo apex` return.

[2021-04-27 08:02] Gerfindel opened #370 "Error 10049 using MDT on Windows 10"
Hello,

I am trying to use a Coral Dev Board, so I followed the beginner tutorial : [https://coral.ai/docs/dev-board/get-started/](https://coral.ai/docs/dev-board/get-started/)

I am using Windows 10, I did all the steps until the part 4 without any problem, but when I try to use the `mdt devices` command, I always get a WinError 10049, here the output :

[code]

It occurs whether the Dev Board is

[2021-04-27 12:43] Namburger commented on #369
@zye1996 could you show the snippet where your initialized the interpreter?

[2021-04-27 14:03] zye1996 commented on #369
In C++, I initialize the interpreter with:
[code]
where the function BuildEdgeTpuInterpreter is:
[code]

[2021-04-28 10:03] #367 closed, assigned to nobody

[2021-04-29 08:44] vganjali commented on #355
@Namburger  thanks for the reply. I will check kernel options. It would be nicer to have a cmdline.txt to config Coral board during the boot time rather than compiling the kernel for each change (just like RPi).

Thanks @mbrooksx I hadn't heard of bluez tools before, that was very informative!

[2021-05-01 19:30] wb666greene opened #371 "Anyone successful using MPCI-e TPU on WIndows 10?"
I've tried on three different systems.  Software installation seems to go correctly but the Coral PCIe Accelerator Driver fails to start with error code 37 (wrong type)

If I plug in a USB3 TPU my code works correctly.

Two of these computers were dual boot Ubuntu 16.04 and Ubuntu 20.04 and the MPCI-e module works correctly on these so I don't see how it can be a motherboard hardware issue.

My kn

[2021-05-03 05:32] ghumman3131 commented on #315
I am also facing same issue ( compiler gives internal error) , I am doing the quantization aware training as mention [here](https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/quantize.md) but fails to convert tflite model using edge tpu compiler. I have downloaded the 8 bit quantized model ([this](http://download.tensorflow.org/models/deeplabv3_mnv2_pascal_train_aug_8bit_2019_

[2021-05-03 07:28] ghumman3131 commented on #315
I managed to compile deeplab tflite on edgetpu  by doing post quantization and using mobilenet edgetpu as mentioned [here](https://github.com/google-coral/edgetpu/issues/325)

[2021-05-03 08:53] ghumman3131 commented on #315
I run the same code with custom crop size and compiler successfully compiles the tflite model

[2021-05-03 19:03] mbrooksx commented on #371
Hello @wb666greene,

I'm unable to reproduce the issues on Windows 10 but error 37 indicates to me that there is likely an issue with the device driver. When you open device manager, do you see Coral Accelerator Devices:
![Screenshot 2021-05-03 11 42 56 AM](https://user-images.githubusercontent.com/2781600/116918483-cfbc4180-ac04-11eb-8daa-677665de17d2.png)

My recommendation is to remove the driv

[2021-05-04 00:44] ernielikesapple opened #372 "docker build failed, when was trying to rerun the benchmark tests"
Hi Dear Developers
I git clone https://github.com/google-coral/edgetpu this repo to my local
I was trying to reproduce the benchmark test result on my Linux (WSL), inside https://coral.ai/docs/edgetpu/benchmarks/

under the "/edgetpu" directory I was running the in the read me,

"make DOCKER_IMAGE=debian:buster DOCKER_CPUS="k8 armv7a aarch64" DOCKER_TARGETS=tests docker-build"
"make DOCKER_IMAGE=u

[2021-05-04 16:38] wb666greene commented on #371
Yes I see the Coral PCIe Accelerator in Device manager, but it has the yellow triangle with ! in the center.

My inf.name is oem18.inf,  you show oem17.inf

I have installed edgetpu_runtime_20210119.zip

Assuming the oem1x.inf numbering is sequential, perhaps I should try an earlier version to get oem17.inf?

I ran the uninstall batch file as admin and rebooted.  The Coral PCIe Accelerator still s

[2021-05-04 17:26] mbrooksx commented on #371
Well I agree on quitting Windows - buit I want to verify, did you run "pnputil.exe /delete-driver oem##.inf /force " exactly or did you replace ## with the correct values? You'll want to remove all the drivers that are there (seemingly 14,17,18,19, and 20 now - although some should be gone when you run uninstall.bat again

[2021-05-04 17:45] mbrooksx commented on #372
Hello @ernielikesapple ,

Is there a particular reason you want to use edgetpu? This repo is deprecated (although I still would expect it to work. It has been replaced with [libcoral](https://github.com/google-coral/libcoral) for C++ or [pycoral](https://github.com/google-coral/pycoral) for Python.

[2021-05-04 19:11] ernielikesapple commented on #372
Hi @mbrooksx   I  was trying to reproduce the results under https://coral.ai/docs/edgetpu/benchmarks/ for Mobilnetssdv2
so even if with https://github.com/google-coral/libcoral

after I clone the project and cd to libcoral folder, I run
"make DOCKER_IMAGE=debian:buster DOCKER_CPUS="k8 armv7a aarch64" DOCKER_TARGETS=tests docker-build
" from read me

I got the same error

[+] Building 0.5s (16/16)

[2021-05-04 20:27] wb666greene commented on #371
OK I ran the uninstall.bat again, deleted the device and removed the drivers in device manager, and finally repeated the pnputil.exe /delete-driver oem##.inf /force command for ## --> 14 thru 20.

But "Scan for Hardware Changes" somehow still finds Coral Accelerator under PCI devices with oem14.inf  and error code 37. I persisted with "Uninstall Device" in Device Manager until I finally got Device

[2021-05-04 22:21] wb666greene commented on #371
Unzipped the freshly downloaded edgetpu_runtime.202101119.zip and ran the install.bat, got:
[code]
Device Manager still shows error code 37 :(  Inf.name property shows oem14.inf
Driver file details show C:\Windows\system32\DRIVERS\coral.sys
Provider: Google LLC
Driver Date: 1/8/2021
File Version: 13.8.9.820
Digital Signer: Microsoft Windows Hardware Compatibility

Any ideas as to what is wrong?

S

[2021-05-05 21:21] wb666greene commented on #371
There is something wrong with uninstall.bat.  When I tried to remove 20210119 I get:
[code]
I'm going to purge all these drivers and try the previous version.  If that fails I'm done until maybe another version comes out.

[2021-05-05 21:45] wb666greene commented on #371
I'm done.  The Windows 10 support is garbage.  Trying the previous 20201204 version install.bat I get:
[code]

[2021-05-06 20:48] maxlacourchristensen opened #373 "edgetpu_compiler open-source"
Have you considered making the compiler open-source? It would be a great benefit for users

[2021-05-07 05:00] Naveen-Dodda commented on #366
Hello,

While there are few models not fully supported on Coral with QAT , the has not been updated. But you can still few model with QAT to Coral platform.

I see that your above example is inspired from [QAT example](https://www.tensorflow.org/model_optimization/guide/quantization/training_example)

I was able to compile the model by just fixing a input shape of the model. (this chnages shape fo

[2021-05-07 12:36] ricardodeazambuja commented on #342
@shairoz-deci, afaik, as soon as an op is not supported, all the ops that come after that will not be mapped to the Edge TPU.
Check the location of this transpose op in your graph.

[2021-05-07 12:40] ricardodeazambuja commented on #324
I'm having a problem a lot like the one above. My model had all ops mapped to the Edge TPU, but the size grew from 1.4MiB (original tflite) to around 40MiB and off-chip memory used is almost 40MiB! Another different model that was 3MiB only grew to 3.7MiB and had zero off-chip memory used.

I tested the problematic model with (original tflite) and without the Edge TPU. The pure tflite is less than

[2021-05-07 12:41] Awasarmol opened #374 "Power consumption issue on Google Coral Dev board"
Hello all,
i am currently working on the google coral dev board for my thesis project ,
i am running an inference and putting the board to suspend but the power consumption is still very high
i checked the doc for power saving and came across something where we can turn off individual peripherals like ethernet , display , usb etc can someone helpe me do that
i have looked all over for any examples

[2021-05-07 15:07] wb666greene commented on #272
@zldrobit

I've downloaded it and tried to run it on my Coral TPU.  It appears to run but I can't make any sense of the outputs -- I need things like object ID, box points of located object, and detection confidence.

Could you please give me a clue?

I'm using PyCoral TPU support, which is supposed to be just a wrapper around tflite and OpenCV 4.x for visualization and camera rtsp stream decoding

[2021-05-07 16:53] ricardodeazambuja commented on #347
Hi @Namburger.

I'm seeing a big degradation in the performance from tflite to an edgetpu compiled model. I trained a mask/no-mask/poor-mask model based on [the notebook you shared (btw, thanks for sharing!)](https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain/blob/master/mask_detection.ipynb) and I only changed minor things like increasing the data augmentation. When I test the "pure"

[2021-05-07 18:13] Naveen-Dodda commented on #365
@WKMan

Tf.slice is supported on edgetpu, To debug the issue further can you share .h5 and tflite versions of Model B ?

[2021-05-07 18:37] Naveen-Dodda commented on #358
Hello Marcin,

Current version of compiler 15.0 does n't support 'TRANSPOSE_CONV' version '3'. But this support will be added in our next release. For now if you are still interested in using this ops you can train and convert the with TF1.x.

To answer this edgetpu_compiler internal_err.tflite -m 11
The output model of the compiler will completely run on cpu as you can see Number of Edge TPU subg

[2021-05-07 18:45] Naveen-Dodda commented on #356
@aviraljain99

-a flag has few limitation while it maps smaller sub graphs to edgetpu. It fails to create a sub graph if any activation doesn't fit on the memory. In this case reshape ops could be too large to fit on memory.

I tried to dig more into your model ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8 but the model is no longer available

[2021-05-07 18:47] Naveen-Dodda commented on #350
Any updates here

[2021-05-07 21:14] BernardinD opened #375 "Yolov5 Transpose stops graph loading"
We created an edgetpu graph through the Openvino process and the [graph](https://drive.google.com/file/d/1S5hz2l-mrfR8_LKErRhO3IvjKsE_Rpqc/view?usp=sharing)  seemed to be converted successfully. We checked it in Netron and it seemed normal. But when we try to load the graph using the edgetpu library we get the error:

`RuntimeError: Internal: :213 batches * single_output_size != output->bytes (202

[2021-05-08 02:58] jayburkard commented on #343
Anyone have any luck? I'm stuck at same spot. Using ableconn adapter, able to pass the PCI device through and see it in ubuntu VM but apex device isn't created.

[2021-05-08 13:39] thnkim opened #376 "Coral Dev Board Mini on Big Sur"
Hello,

I tried to connect to my new Dev Board Mini through serial communication.
I can see /dev/cu.usbmodem_blabla when I connect USB cables btw my Mac and the Dev Board.
But when I try 'screen /dev/cu.usbmodem_blabla 115200', I see the error:
"Cannot open line '/dev/cu.usbmodem_blabla for r/w: resource busy
  Sorry, could not find a PTY",

I tried to install the latest VCP driver from SilionLabs

[2021-05-08 13:44] thnkim commented on #296
No update yet? I'm waiting for the update.
I tried the latest VCP driver from SiliconLabs, but it did not work.

[2021-05-08 13:46] thnkim commented on #376
the same as https://github.com/google-coral/edgetpu/issues/296#issue-786417660.

[2021-05-08 13:46] #376 closed, assigned to nobody

[2021-05-08 14:36] aviraljain99 commented on #356
@Naveen-Dodda

I see, that makes sense. Do you know where I could read more about these details to understand the conversion process better (and to help me debug and understand when I run into issues in the future)? I also wasn't able to find documentation on what the '-a' flag does - could you point me to the right documentation?

Also, sorry about that, here is another link to the model converte

[2021-05-08 16:27] Naveen-Dodda commented on #350
Hello,

Do you have nay updates here ?

[2021-05-08 21:03] #362 closed, assigned to dmitriykovalev

[2021-05-09 00:08] Naveen-Dodda commented on #369
@zye1996

I have tired to run both to run benchmarks  yolov5s6_int8_edgetpu.tflite, yolov5s_int8_edgetpu.tflite. Using our benchmark scripts in [Pycoral](https://github.com/google-coral/pycoral) and [Libcoral](https://github.com/google-coral/libcoral)

Python  (Avg of 200 iterations)
tf2_mobilenet_v3_edgetpu_1.0_224_ptq_edgetpu.tflite    2.85 ms
yolov5s6_int8_edgetpu.tflite

[2021-05-09 00:48] zye1996 commented on #369
Thank you so much for the feedback. I tried to run one more time and the inference time for c++ is still 60+ms for each frame:
![image](https://user-images.githubusercontent.com/28901953/117557225-c38a1700-b03e-11eb-9218-6f9cd031c1e2.png)

Since I am not familiar with bazel and I did not use libcoral, can you tell me how to run the benchmark in using the script with c++?

[2021-05-09 00:53] Naveen-Dodda commented on #356
@aviraljain99

As this is still a experimental flag we haven't published a detailed documentation about it. I will take this feedback to the team about improving feature and adding more documentation about -a flag.

Coming back; edgetpu_compiler fails to compile as it fails to allocate memory for Reshape ops (such as 1x38400x4 ) with large size.
![image](https://user-images.githubusercontent.com/4

[2021-05-09 19:34] Naveen-Dodda commented on #324
Hello,

Size of the model growing from 1.4MiB to 40MiB, is abnormal. Could you please share your model here, and share details of your training/tflite_convert environment.

[2021-05-09 19:43] Naveen-Dodda commented on #304
Hello Kushal,

Are you able to compile a mobileDet with 16:9 aspect ratio or do you still have same issue

[2021-05-09 19:54] Naveen-Dodda commented on #291
Closing this issue due lack of activity. Please feel free to open if the issue persists

[2021-05-09 19:54] #291 closed, assigned to Naveen-Dodda

[2021-05-09 20:07] Naveen-Dodda commented on #287
@jk78346

If you are still facing this issue Can you share more details reproduce this issue.

@markus-k  I have tried to convert your model but the tflite_convert fails to convert

input->dims->size != 4 (2 != 4)Node number 0 (CONV_2D) failed to prepare.

Can you try to convert model form tf.lite.TFLiteConverter.from_keras_model instead of Saved_model

[2021-05-09 20:18] Naveen-Dodda commented on #283
@dtlam26 If you are using tf1.x and want to map ResizeNearestNeighbor ops to edgetpu you need to chnage config of resize ops as following.
half_pixel_centers=True
tf.compat.v1.image.resize_nearest_neighbor(
    images, size, align_corners=False, name=None, half_pixel_centers=True
)

If you train and export model with TF2.x
half_pixel_centers=True is default in TF2.x so you edgeptu_compiler should

[2021-05-09 20:20] #283 closed, assigned to Naveen-Dodda

[2021-05-09 23:12] Naveen-Dodda commented on #278
@jk78346

Have you tried optimize the model with edgetpu_compiler 15.0. let us know if the path is still being explored.

[2021-05-09 23:16] #276 closed, assigned to Naveen-Dodda

[2021-05-09 23:19] Naveen-Dodda commented on #275
Yolo5 can be mapped to edgetpu please find the [models here ](https://github.com/zye1996/Yolov5_EdgeTPU)

[2021-05-09 23:19] #275 closed, assigned to Naveen-Dodda

[2021-05-09 23:27] Naveen-Dodda commented on #273
@pirazor Great effort in mapping ERFNet to edgetpu. Closing this due lack of activity.

[2021-05-09 23:27] #273 closed, assigned to Naveen-Dodda

[2021-05-09 23:29] #270 closed, assigned to Naveen-Dodda

[2021-05-09 23:32] Naveen-Dodda commented on #253
Closing this due no activity feel free to re open if the issue still exists.

[2021-05-09 23:32] #253 closed, assigned to Naveen-Dodda

[2021-05-09 23:32] #230 closed

[2021-05-09 23:33] Naveen-Dodda commented on #244
Closing this due to lack of activity

[2021-05-09 23:33] #244 closed

[2021-05-09 23:36] Naveen-Dodda commented on #189
@neilyoung are you trying to use yolo5 on edgetpu ?
If so please refer to [this repo](https://github.com/zye1996/Yolov5_EdgeTPU)

[2021-05-09 23:38] #183 closed

[2021-05-09 23:38] #182 closed

[2021-05-10 00:19] Naveen-Dodda commented on #375
@BernardinD

Yes, I can see that runtime fails at me end as well. Can you please share tflite version of the model and also source of the model if possible.

[2021-05-10 01:50] aviraljain99 commented on #356
@Naveen-Dodda

Okay thank you for the information. So the problem is that the EdgeTPU can't allocate enough space to store the output of the Reshape Ops right? That does make sense I think. Although, if that is the case, why doesn't it just make the operation run on the CPU? (Just a note, I am not very knowledgeable about MCUs or hardware in general)

I also had another question. I am also trying

[2021-05-10 06:34] fjparrado opened #377 "Wrong inference results in half image after converting TFLite quantized model into TFLite EdgeTPU model"
Hi,

I have compiled my image segmentation quantized TFLite model for the EdgeTPU.
Everything looks fine during compilation.

[code]

In order to be able to map all the operators, I implement the last part of the graph (the last Resize Bilinear) in CPU. See TFLite model on the left and converted TFLite edgeTPU model on the right.

![image](https://user-images.githubusercontent.com/78713704/1176147

[2021-05-10 08:11] ricardodeazambuja commented on #324
Hi @Naveen-Dodda,

Thank you for your feedback. The model is the tiny LPRNet from this [repo](https://github.com/GreenWaves-Technologies/licence_plate_recognition).
Here is the tflite file: [tflite_model.zip](https://github.com/google-coral/edgetpu/files/6450295/tflite_model.zip).

Output from edgetpu_compiler:
[code]
And the log:
[code]

[2021-05-10 09:47] ZhouKai90 opened #378 "Internal compiler error. Aborting!"
Error message:
edgetpu_compiler tiny_yolov4_540_960.tflite
Edge TPU Compiler version 14.1.317412892

Internal compiler error. Aborting!

Edge TPU Compiler version: both 14.1.317412892 and 15.0.340273435
TensorFlow version:2.3.0

[tiny_yolov4_540_960.tflite.zip](https://github.com/google-coral/edgetpu/files/6451135/tiny_yolov4_540_960.tflite.zip)

[2021-05-10 12:59] Naveen-Dodda commented on #373
@maxlacourchristensen So far google-coral don't have any plans in the road map to open source edgetpu_compiler.

[2021-05-10 12:59] #373 closed, assigned to nobody

[2021-05-10 13:56] BernardinD commented on #375
@Naveen-Dodda here is the [tflite](https://drive.google.com/file/d/19P5xIt_rxxXspqhyDjT-2HSdAvqY-8_R/view?usp=sharing), the source TF [model](https://drive.google.com/file/d/1sx_csuB8g4RBqsggtVaDGZrq5Bw7P9Sv/view?usp=sharing), and the [original pytorch](https://github.com/ultralytics/yolov5/releases/download/v5.0/yolov5s.pt) file

[2021-05-10 15:40] Naveen-Dodda commented on #378
@ZhouKai90

I can see that it fails with 15.0. Can you please share your quantization script and a saved model, to further debug this.

[2021-05-10 15:48] Naveen-Dodda commented on #377
@dragonvenenoso

This hasn't been observed before in any other segmentation models with edgetpu. To reproduce this issue can you share following details in a zip file.
1. Full Tf version of model (saved_model or kears.h5)
2. tflite_convert quantization script that you used to quantise
3. your inference and post processing script.

[2021-05-10 16:09] ricardodeazambuja opened #379 "Crazy stuff happening (e.g. overflows) with some tflite models"
Hi,

I deleted a comment three times in another issue because I thought, three times, it could be my fault instead of a bug in the compiler. Therefore, I decided to test it on my laptop, and the problem is still there :(

I tested [this face detection model](https://github.com/google-coral/edgetpu/blob/master/test_data/ssd_mobilenet_v2_face_quant_postprocess.tflite).
[code]
Using [this image](http

[2021-05-10 16:39] BernardinD opened #380 "Small graph abnormally slow"
We have a edgetpu model that the log file says is mostly mapped to TPU, but when running the graph the speed is abnormally very slow.

Could you help or give some insight? Thanks in advance.

*Log output:*
[code]

*Netron image:*
![model_full_integer_quant_edgetpu tflite](https://user-images.githubusercontent.com/27456730/117692177-c2fe9700-b18a-11eb-91f9-f27059fbd71c.png)

Graphs:

- [Edgetpu](ht

[2021-05-11 02:36] fjparrado commented on #377
Thanks, please check:

https://drive.google.com/file/d/105uciZwuL_jYKVPBVD01MEIaakccQ-1Y/view?usp=sharing

That should be enough to reproduce the issue. Note that the representative dataset for quantization is not included.

[2021-05-11 03:30] ZhouKai90 commented on #378
@Naveen-Dodda
Thanks for your reply. Here is the detail above.
[https://drive.google.com/drive/folders/1FGFKE8k9ZczO_JmiQCBzaZDWf9XgK9gC?usp=sharing](url)

[2021-05-11 06:49] manoj7410 commented on #374
@Awasarmol As informed in the Skyvine, You'll either need to rebuild the kernel or use a device tree overlay. If you have no linux experience - building the kernel is probably easier. You can get the Mendel repo as described here: https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md

You then set status = "disabled" as described in the doc in the items that aren't needed in ht

[2021-05-11 10:19] Awasarmol commented on #374
How can we use the device tree overlay as you suggested .and can we
repeatedly  disable and enable the peripherals as the application is
running.
For example
I want to inference something then before I got to sleep I want to disable
all the peripherals and then enable at wakeup

On Tue, May 11, 2021, 4:49 PM Manoj ***@***.***> wrote:

[2021-05-11 10:20] Awasarmol commented on #374
I am using the suspend to ram mode as you suggested and it is working but
still I'm at 480mA but I want to go more lower as in the power saving mode
PDF it says it can go as low as 0.5 w

On Tue, May 11, 2021, 8:18 PM Tejas Awasarmol ***@***.***>
wrote:

[2021-05-11 10:55] ricardodeazambuja commented on #379
Ok, software bug on my side... sorry!

[2021-05-11 11:49] angelcarro commented on #290
@parthjdoshi Have you verified the correct output of the model comparing it with the original?
I have performed the conversion of other OSNet models but the outputs are very different from the original. It seems that the openvino2tensorflow utility has a bug: https://github.com/PINTO0309/openvino2tensorflow/issues/24

[2021-05-11 12:13] francysuri commented on #351
I have the same Issue, the file is located in `/usr/local/lib/` but `rpath` is not addressing

This is what I get from running `otool -L /usr/local/lib/libedgetpu.1.dylib`

francesco@MacBookPro pycoral % otool -L /usr/local/lib/libedgetpu.1.dylib
/usr/local/lib/libedgetpu.1.dylib:
	@rpath/libedgetpu.1.dylib (compatibility version 0.0.0, current version 0.0.0)
	/usr/lib/libc++.1.dylib (compatibilit

[2021-05-11 13:00] ricardodeazambuja commented on #379
So, it seems to be a non-deterministic behaviour. If I switch from a ssdlite model to the ssd one (both compiled with edgetpu_compiler), after a random number of times the classes or scores start having crazy values (nan, inf,...).
Using the tflite models (CPU), this problem doesn't seem to happen... what makes me think it's a problem on the edgetpu side of things.
Additionally, the problem seems

[2021-05-11 13:26] ricardodeazambuja commented on #379
Another oddity: I have a ssdlite tflite model that, after compiled for the edgetpu, gives me exactly the same first score to a certain input image, but the value for the class changes. I think it's too much of a coincidence the output array giving exactly the same score for the first item, but the class flipping one value down. It looks more like a bug (probably related to conversion between types

[2021-05-11 15:44] parthjdoshi commented on #290
No, I did not compare it to the original. However, I have been training an
OSNet model on custom data, which I'll be converting soo. So, I'll let you
know if I have any issues with that.

On Tue, May 11, 2021 at 5:19 PM whizmo ***@***.***> wrote:

[2021-05-11 18:25] ricardodeazambuja commented on #379
First time I load ssd_mobilenet_v2_face_quant_postprocess_edgetpu.tflite, the scores from a certain image:
[code]
If I delete the object and reload ssd_mobilenet_v2_face_quant_postprocess_edgetpu.tflite, scores for the same image:
[code]

Output (scores) from the original tflite model (the one used with edgetpu_compiler):
[code]

Output (scores, same image) of ssd_mobilenet_v2_face_quant_postproce

[2021-05-11 18:25] Naveen-Dodda commented on #380
@BernardinD the drive links you shared are not open public, can you share access or share them in a zip file thanks

[2021-05-11 18:34] BernardinD commented on #380
@Naveen-Dodda they should be accessible now

[2021-05-11 20:02] Naveen-Dodda commented on #372
@ernielikesapple

Can you try docker-shell instead and see if you still have same error. Please try following

cd libcoral
make docker-shell
make benchmarks     ( make inside the docker shell)

[2021-05-11 20:16] Naveen-Dodda commented on #375
@BernardinD Thanks for sharing the models, tflite models work fine for cpu inference.

I see that you have exported a frozen_graph.pb which uses a TF1.x converter to quantize the model. Is it possible to export a saved_model or keras from original pytorch file. My plan is to quantise the model with TF2.x exp_quantiser and see if that can fix the miss match of layers.

[2021-05-11 20:18] #366 closed, assigned to Naveen-Dodda

[2021-05-11 20:23] #364 closed, assigned to nobody

[2021-05-11 20:28] #361 closed, assigned to nobody

[2021-05-11 20:54] BernardinD commented on #375
@Naveen-Dodda Sorry about that. I've updated the file to include the save_model

[2021-05-11 21:42] Naveen-Dodda commented on #344
@masc-it

You can find more details in this page to train[ EfficientNetDet-lite](https://tfhub.dev/tensorflow/efficientdet/lite1/feature-vector/1).

I shall keep you posted if come across any additional details about Det-lite

[2021-05-11 21:42] #344 closed, assigned to nobody

[2021-05-11 22:18] Naveen-Dodda commented on #338
Yes, edgetpu V1, the hardware itself, designed to be able to only process int8 data type, and not any other types.

[2021-05-11 22:18] #338 closed, assigned to nobody

[2021-05-11 22:33] #350 closed, assigned to Naveen-Dodda

[2021-05-11 23:12] mattroos commented on #339
@DeepDubbed and @pridkett I'm experiencing the same problem, except on the AGX Xavier. Like @pridkett, the device is not reported by ```lspci -nn```. Worse yet, I set ```pcie_aspm=off``` in ```/boot/extlinux/extlinux.conf``` and rebooted, only to have the Xavier lock up just after the NVIDIA splash screen appears then disappears. I get a blank screen with a blinking cursor. No combinations of keys

[2021-05-12 08:42] jagumiel commented on #210
I have quantized SSD-MOBILENET-FPNLITE and SSD-MOBILENET to use them in the Edge TPU.
I have obtained the following results after the compilation

==============================================================================

**USING ssd_mobilenet_v2_fpnlite_320x320_coco17**
Input model: /home/jose/codeWorkspace-2.4.1/tf_2.4.1/tflite/6_Tflite-uint8IO-experimental-quantized.tflite
Input size: 3.70

[2021-05-12 09:44] wwooster opened #381 "Batched matrix vector multiplication on Coral TPU"
I am trying to move batched matrix multiplication to edge tpu. I have 3000 matrices of dimensions 500 * 500 and a vectors of dimensions 500 *1. I want to multiply matrix A_i with vector b_i and return the result. Matrices A_i are fixed while vectors will be variable.

Here are my questions:
**1) Is my conversion code correct? I have followed the instructions at https://www.tensorflow.org/lite/perf

[2021-05-12 09:46] wwooster commented on #381
Here is a code for inference:
[code]

[2021-05-12 13:16] maxlacourchristensen opened #382 "Difference between tflite int8 cpu inference and edgetpu inference"
I am having trouble matching tflite int8 cpu inference results with edgetpu results. To demonstrate this, I took your
retrain_classification_ptq_tf2.ipynb example code and reduced the model to just the first Conv2D layer.

1) The first script creates the keras model, converts to tflite with quantization, runs inference on an image and saves the inferred upon image (example_image.npy) and the resul

[2021-05-12 16:41] dripp33 opened #383 "Can one boot from the SD card on the coral dev board mini?"
Hi, this question was asked on issue #305, but I don't see that it was answered and I can't find an answer on the Web... With no dip-switches on the mini I wonder how/if SD card boot can be set.

Thanks much for any help,
--dave

[2021-05-12 21:40] Naveen-Dodda commented on #375
@BernardinD

I tired to change few options in Tflite_convert and tested model on edgetpu_compiler. But I haven't seen any success.

But I have found an interesting thing when referring to [yolov5 model from here  ](https://github.com/zye1996/Yolov5_EdgeTPU). The same model works fine on edgetpu. when I looked deeper, the only difference between your model and his is (ResizeNearestNeighbor align_co

[2021-05-12 22:59] Naveen-Dodda commented on #380
@BernardinD

Though EdgeTpu does it job to accelerate inference, there is huge to  I/O latency to transfer the operations back and forth between cpu and tpu. The Tensors to be transferred are exceptionally large (26x122x5).

So the model is really slow due latency of i/o operations.

[2021-05-13 09:01] rlee360 opened #384 "No builtin opcode for RSQRT"
Hello, I've been working on deploying a source separation neural network using a custom keras model and am having an issue getting the tflite to compile for the edgetpu. I was able to convert quantize my Keras functional mode to tflite using tf 2.5.0rc3, but when I try to compile for the EdgeTPU, I get:

[code]

I tried creating the tflite with tf2.4.1, but it too seems to not support quantizing R

[2021-05-13 13:25] keslerm opened #385 "https://mendel-linux.org no longer online"
All links and package repos pointing to mendel-linux.org are no longer working.

Can't download the image to flash from the Getting Started page https://mendel-linux.org/images/enterprise/eagle/enterprise-eagle-flashcard-20210204152958.zip

[2021-05-13 23:20] ngrutas commented on #385
The eng team is working on getting this resolved asap. Thanks for reporting.

[2021-05-14 00:15] Naveen-Dodda commented on #369
@zye1996,

You can follow the steps below to libcoral benchmarks

cd libcoral
Move yolov5 models test_data in libcoral
Add the models to [benchamrks.bzl](https://github.com/google-coral/libcoral/blob/master/coral/model_benchmark_cases.bzl). Not that you need a tflite file as well to run this script. As a work around i named a fake file yolov5.tflite.

make docker-shell
make benchmarks (inside dock

[2021-05-14 00:46] Naveen-Dodda commented on #379
Hello,

I tried to your notebook, but it seems like your dataset is large and take lots of time to train.

Please do remember that the output of the detection scores are Float32 and there could a small error due to quantization loss.
You can solve this overshooting of scores by setting a threshold while you export the model with nms op

https://github.com/tensorflow/models/blob/35f33abb8fa40053e87

[2021-05-14 03:06] ZhouKai90 commented on #378
@Naveen-Dodda
May I ask what progress this thing?

[2021-05-14 09:33] ricardodeazambuja commented on #379
HI @Naveen-Dodda,

Thanks for your feedback. Did you mean the score_threshold or iou_threshold?

However, the model that goes nuts is [the one from google](https://github.com/google-coral/edgetpu/blob/master/test_data/ssd_mobilenet_v2_face_quant_postprocess.tflite), not the one I trained. And this problem only happens if you reload the model using the same python interpreter process (you must relo

[2021-05-14 15:53] marcin-kamionowski commented on #42
Hi!
Could you check /var/log/Xorg.0.log ?
If you see msg like `Cannot run in framebuffer mode. Please specify busIDs        for all framebuffer devices`  you should check X.org config files. In my case, I fixed it by adding to `/etc/X11/xorg.conf.d/01-armbian-defaults.conf`:
[code]
It looks like xserver is confused with TPU pci device. Normally it see only framebuffer device. It does not know what

[2021-05-14 21:41] ngrutas commented on #385
The dev team has fixed this issue. Please try to download the image again.

[2021-05-14 21:48] Namburger commented on #385
@ngrutas wootwoot

[2021-05-14 22:57] Naveen-Dodda commented on #378
@ZhouKai90 This issue cannot be fixed with tflite_convert. It was issue with external version of edgetpu_compiler. But i was able to compile it successfully with internal compiler.
So this issues would be fixed with next release of compiler.

I mean time do you want a compiled version of this model or instead will you explore another model ?

[2021-05-14 23:19] keslerm commented on #385
Looks good now, thank you!

[2021-05-14 23:19] #385 closed, assigned to nobody

[2021-05-15 03:47] ZhouKai90 commented on #378
@Naveen-Dodda
Yes, share me the compiled version of this model, please.

[2021-05-15 09:11] HeedfulCrayon commented on #345
I am experiencing this exact same issue.  I am running mine on docker on ubuntu inside proxmox (pcie passthrough is working and everything) Docker for some reason does not like it
![image](https://user-images.githubusercontent.com/5224972/118355049-3c034300-b52b-11eb-87a2-49daac0a650b.png)

[2021-05-17 01:48] fjparrado commented on #377
Hello,
Is there any update on this?

[2021-05-17 15:10] Naveen-Dodda commented on #377
@dragonvenenoso, I was able to reproduce with the issue, with model. I am working on dataset setup for quantization, Will update more details in next 24hrs

[2021-05-17 15:56] bultmann-s opened #386 "no builtin opcode for DepthToSpace operation"
Hello, I have been working on converting a LidAR-Segmentation model (SalsaNext) depending on DepthToSpace operations (called pixel-shuffle in the original architecture)

Are there any plans to support the DepthToSpace operation on the EdgeTPU ?
The inverse operation -- SpaceToDepth -- is already part of the officially supported operations.

When trying to compile my model, quantized and converted

[2021-05-18 00:57] Naveen-Dodda commented on #386
@bultmann-s We don't have any plans to support DepthToSpace operation on EdgeTPU

[2021-05-18 01:05] Naveen-Dodda commented on #378
[tiny_yolov4_540_960.tflite.tar.gz](https://github.com/google-coral/edgetpu/files/6497651/tiny_yolov4_540_960.tflite.tar.gz)

[2021-05-18 02:11] fjparrado commented on #377
Thanks Naveen

[2021-05-18 10:17] wwooster commented on #381
It would be nice to get some answer here. :)

I advanced with this issue a bit so I am posting it here. The idea is that while matmul is not officially supported, the Dense layer can be used as a fake matrix vs vector multiplication. The main point is that matrices are constant so they should be put on tpu and not passed by set_tensor method. With the code below I managed to convert and compile th

[2021-05-18 10:25] mabhijithn commented on #13
@xadrianzetx
Thanks for the instructions! However, I am facing a different problem after compilation to a quantized model for Edge TPU. I get the following error during runtime:
[code]
I have a simple keras model as shown below:
[code]
The inputs to the model are `np.float32`. The model was trained using Tensorflow 2.2.0.
I used the [Colab demo](https://colab.research.google.com/drive/1RnnffvT6wWu

[2021-05-18 13:24] NandhiniN85 commented on #189
+1 I am also facing a similar error of "Internal compiler error. Aborting!" while using -a for compilation.
version used : Edge TPU Compiler version 15.0.340273435

Only one of the ops got mapped to TPU without using option -a. Please find the screenshot below.

![image](https://user-images.githubusercontent.com/57296966/118658822-60506f80-b80a-11eb-82c2-763845a25cf7.png)

[2021-05-18 14:18] slbejaranom opened #387 "Cannot run sudo apt-get and sudo apt dist-upgrade"
Well this is my issue:

I have a 1gb ram Google Coral which I've been using for a while, I flash it using the bash.sh script in ubuntu and normally thinigs used to go well, however, I reflashed it with a new version of mendel some weeks ago and used

sudo apt-get update

which threw this error in many repositories "TLS Handshake failed" Idk if it has to do with the https in the repositories or idk

[2021-05-18 16:13] PeterMalkin commented on #387
Can you please follow the instructions here: https://coral.ai/docs/accelerator/get-started/#runtime-on-linux

[2021-05-18 19:07] slbejaranom commented on #387
Does it work the same with the dev board? I've already followeed the tutorial many times

[2021-05-18 20:43] Naveen-Dodda commented on #189
@NandhiniN85

Every model is fails due to a different reason. Can you please attach your model here to know more details why it fails to compile.
you may refer to this [issue 356](https://github.com/google-coral/edgetpu/issues/356)

[2021-05-18 21:06] Naveen-Dodda commented on #383
@dripp33 Unfortunately you cannot boot dev board mini from a sd card

[2021-05-18 21:06] #383 closed, assigned to nobody

[2021-05-18 21:47] #378 closed, assigned to Naveen-Dodda

[2021-05-19 11:31] manoj7410 commented on #387
@slbejaranom Did you try to upgrade again? If the issue is still persistent then can you please paste the complete error here ?

[2021-05-19 20:25] #386 closed, assigned to nobody

[2021-05-19 22:36] Naveen-Dodda commented on #377
@dragonvenenoso I was able to reproduce the issue, before digging further deep into issue can you help me to get info below so that we can find a resolution.

1. Is this frozen graph generated from onnx or pytorch by any chance
2. Aren't you able to convert / compile the model with ArgMax tensor ?
3. if so do you see a similar issue ?
4. Have you seen similar behavior on different inputs.

[2021-05-20 01:53] fjparrado commented on #377
Hi @Naveen-Dodda
1) The model was defined, trained and frozen using TF1.15.5
2) I will check and come back to you
3) I will check and come back to you
4) Yes, same behaviour with different inputs. I also trained the model using a different dataset (same input resolution) and same behavior was observed.

[2021-05-20 10:24] wwooster commented on #387
Maybe your internet connection on the dev-board is not working. Try pinging some web page, I had the same issue.

https://coral.ai/docs/dev-board/get-started/#connect-internet
https://aallan.medium.com/hands-on-with-the-coral-dev-board-adbcc317b6af (Connecting the development board to your wireless network
)

[2021-05-20 12:55] ricardodeazambuja commented on #379
I tested the tensors received by the TFLite_Detection_PostProcess and they don't show the crazy behaviour. So, it must be a bug in the TFLite_Detection_PostProcess related to not cleaning after itself since it only happens when I load the model multiple times inside the same script (so the interpreter is not killed)...

[2021-05-20 16:52] Naveen-Dodda commented on #377
@dragonvenenoso Thanks for quick response. So you see this behavior only with 256x512 resolution ?

[2021-05-21 00:59] ferhatyaman opened #388 "Recover parameters from EdgeTPU compiled model"
Hi,
I somehow lost the original model and I have only tpu compiled tflite model. I want to recover model parameters and structure. I used Netron to see details of network. That did not work because it just says custom ops and no details about network other than input, output layers.

Any idea how to get details about the model?

Thanks

[2021-05-21 02:42] fjparrado commented on #377
@Naveen-Dodda This is the log when converting the whole model (including ArgMax)

[code]
![image](https://user-images.githubusercontent.com/78713704/119072097-84d06580-ba1d-11eb-8a11-6572634fb3f5.png)

Getting same results as before:

![image](https://user-images.githubusercontent.com/78713704/119074020-d7f7e780-ba20-11eb-89e6-856c295104e1.png)

I only trained the model with 256x512 resolution. Th

[2021-05-21 06:48] LINYOUWEI0804 opened #389 "How many parameters and file size can the model executed by Edgetpu support?"
How many parameters and file size can the model executed by Edgetpu support?

[2021-05-21 13:46] estabanalamedia commented on #280
At Google I/O 2021, the Coral team announced companies they were working with to develop TPU projects, Gumstix was one. Gumstix has a Pixhawk development board which uses Coral and CM4. I asked the Coral team if that unit works (since it uses the PCIe interface to talk to the TPU. There response was:

"Unfortunately, we haven't been able to run the TPU on a 32-bit system (estaban - am assuming thi

[2021-05-21 17:30] dripp33 commented on #383
That's too bad, but thanks for the info.
--dave

[2021-05-21 18:40] mbrooksx commented on #280
Yes, we worked with GumStix to enable a USB3.0 + CM4 solution. They are using a PCIe to USB3 bridge to accomplish this (since the CM4 only pins out USB2.0).  It fully passes [Coral CTS](https://github.com/google-coral/cts) and achieves the expected performance for USB3. They have this in both the [IP Camera form factor](https://www.gumstix.com/manufacturer/cm4-poe-smart-camera.html) and the [Pixha

[2021-05-21 22:36] Naveen-Dodda commented on #377
@dragonvenenoso Thanks for conformation

If you have used TF to retarin have you used this repo https://github.com/MaybeShewill-CV/bisenetv2-tensorflow
to retrain ?

Can you point me to source of retraining.

[2021-05-21 22:38] zlg9folira opened #390 "TensorFlow Lite C++ EdgeTPU: undefined reference to `rdft'"
I am trying to use an edgeTPU USB accelerator with arm64 Pi4 using C++ API. I first tried to build TF/TFLite using [this commit](https://github.com/google-coral/edgetpu/blob/657d2b654101540164af240eacb31440ff6f535d/WORKSPACE#L5) as was suggested in several related issues ([here](https://github.com/mattn/go-tflite/issues/30) and more), it turned out that this commit causes `build` process to termin

[2021-05-22 03:41] fjparrado commented on #377
@Naveen-Dodda yes, I did

[2021-05-22 09:01] binqi-sun commented on #185
Hi @Namburger, I am currently exploring yolo on edgetpu, and I have read Q&A regarding the yolo issues on edgetpu. One thing I don't understand is whether the SRAM on TPU is used only for storing model parameters or it is used for storing both input feature map and model parameters. According to the [description on coral's website](https://www.coral.ai/docs/edgetpu/compiler/#parameter-data-caching

[2021-05-22 11:04] NandhiniN85 commented on #189
Thanks for the update! I think it could be because of the size of the model. The input resolution was 600 x 800. So I tried 640 x 640 as well as 800 x 800 since the image had very small objects.

[2021-05-23 14:33] ricardodeazambuja commented on #324
[code]
The model above, when compiled by edgetpu_compiler, has the same bug I mentioned before.

However, this model compiles just fine:
[code]

I think the edgetpu_compiler has problems with the flatten layer.

[2021-05-23 16:52] neilyoung commented on #189
Here is my problem
https://colab.research.google.com/drive/1y5YlBFzMAJmKR-qRnT7jzgzGRPtJ6AbM

[2021-05-23 23:50] wb666greene commented on #328
When you boot and it doesn't work, what happens if you run:

sudo modprobe apex

[2021-05-24 09:57] ricardodeazambuja opened #391 "Quantization aware training"
Hi,

I was trying to create a model using quantization aware training by following the official documentation:
https://www.tensorflow.org/model_optimization/guide/quantization/training_example

However, even though the notebook says, "After this, you have an actually quantized model with int8 weights and uint8 activations.", edgetpu compiler says, "Model not quantized". Setting ```converter.experi

[2021-05-24 10:23] manoj7410 commented on #391
@ricardodeazambuja Can you share the quantized CPU tflite model here?

[2021-05-24 10:48] ricardodeazambuja commented on #391
I really just followed the colab notebook from the official documentation:
https://colab.research.google.com/github/tensorflow/model-optimization/blob/master/tensorflow_model_optimization/g3doc/guide/quantization/training_example.ipynb

Anyway, here are the generated models:
[model_experimental_true.zip](https://github.com/google-coral/edgetpu/files/6531761/model_experimental_true.zip)
[model_expe

[2021-05-24 20:43] Naveen-Dodda commented on #377
@dragonvenenoso I was able to reproduce this on a fully compiled model as well. I report this internally share more feedback to you to fix this.
I shall get back to you.

Thanks for patience here.

[2021-05-24 23:11] klem-everywhere commented on #280
The Accelerator Module is USB2 but GumStix is using a USB3 version and need to contact sales to purchase, is there any performance benefits to get USB3 version instead of USB2? Is the USB3 version going to be generally available? Thanks.

[2021-05-24 23:14] Naveen-Dodda commented on #391
@ricardodeazambuja

QAT is supported right now.Can you refer the thread https://github.com/google-coral/edgetpu/issues/366

[2021-05-24 23:36] mbrooksx commented on #280
The [accelerator module](https://coral.ai/products/accelerator-module/) supports PCIe, USB3, and USB2. USB3 requires working with us extra design considerations to ensure that the design will work properly.  As we validate more designs, we may make this information generally available but we want to ensure it can work across many designs (instead of setting up people for failure).

As for performa

[2021-05-25 01:42] fjparrado commented on #377
Thanks Naveen!

[2021-05-25 03:25] manoj7410 commented on #387
@slbejaranom Is this issue still reproducible at your end ?

[2021-05-25 04:38] #359 closed, assigned to nobody

[2021-05-25 04:40] #360 closed, assigned to nobody

[2021-05-25 06:02] manoj7410 commented on #389
@LINYOUWEI0804 Detailed model requirements for TPU are mentioned at https://coral.ai/docs/edgetpu/models-intro/#model-requirements. It is recommended to walk through this link.

[2021-05-25 06:34] manoj7410 commented on #390
I see that you have already fixed this. For other's reference, here is the fix: https://github.com/tongtybj/edgetpu_roscpp/issues/5#issuecomment-846348726

[2021-05-25 06:34] #390 closed, assigned to nobody

[2021-05-25 08:05] ricardodeazambuja commented on #391
@Naveen-Dodda What do you mean by "right now"? Which versions of tf/edgetpu_compiler/etc do I need to make it work?

[2021-05-25 10:59] petergerten commented on #280
Reading this thread it is still no clear to me if there is possibly a hardware limitation which prevents us to have CM4 + Edge TPU via PCIe in the future. Is this a complicate software issue or potentially a hardware dead end?

It seems that Gumstix for example has at least one board with the Edge TPU via PCI-E interface:
https://www.gumstix.com/cm4-uprev-ai.html

[2021-05-25 11:04] kklem0 commented on #280
According to Gumstix and Google, their solution is CM4 -> PCIe -> USB3 -> Coral TPU, so you still get the fast performance instead of CM4 -> USB2 -> Coral TPU.
Gumstix is using ASM1142 USBH1 to Coral Accelerator Module.

As long as this issue is still open, there's no working solution yet for CM4 -> PCIe -> Coral TPU.

[2021-05-25 11:13] petergerten commented on #280
So the U1 component here would be the USB3 bridge I guess?
https://www.gumstix.com/media/catalog/product/cache/74c1057f7991b4edb2bc7bdaa94de933/P/K/PKG900000001464_overview.png
It would indeed be very interesting to see the USB3 design.

[2021-05-25 11:30] kklem0 commented on #280
I own this device.
U1 is TCA6416A, not for USB.

In the one in your link it seems like the USB is connected directly to CM4 with USB2.
I also own an updated version of this product that has a SMSC USB2422 and it's only for USB2.

But the other products like the Gumstix Raspberry Pi CM4 PoE Smart Camera is using ASM1142 which is PCIe to USB3 Host Controller, so for now I've put ASM1142 into my proj

[2021-05-25 11:42] Valdiolus commented on #280
Hm, ASM1142 is an interesting solution - I will buy 1 and try it with TPU accelerator module.
I am interesting in the inference speed - on the RPI 4B it is 1/2 of the speed of real USB3.
Still looking for PCIe solution, I have a PCIe-miniPCIe PCB + miniPCIe TPU module and I can test it.

[2021-05-25 13:26] BernardinD commented on #380
@Naveen-Dodda we were able to delete the Transpose operations and get the entire middle portion of the graph to map to the TPU and increase the speed of inference. But the speed is still slower than what we expected.

We've also run the same architecture on Jetson Nano at a higher speed and we were expected even faster speed on EdgeTPU. Any suggestions?

[2021-05-25 18:04] Naveen-Dodda commented on #380
@BernardinD

can you share the new model here without transpose ops and may i know how you are calculating the latency (are you averaging it for 100 inputs ?)

[2021-05-25 18:05] Naveen-Dodda commented on #391
You need edgetpu_compiler 15.0 to compile a QAT model

[2021-05-25 18:12] Naveen-Dodda commented on #388
@ferhatyaman It is not possible to retrieve the structure of model one it is mapped to edgetpu. Even if you use tflite interpreter you can only get details of input and output of the model.

Finding the tflite model is the only way that help you.

[2021-05-25 18:38] ricardodeazambuja commented on #391
The one I've been using: Edge TPU Compiler version 15.0.340273435

[2021-05-26 16:14] #388 closed, assigned to Naveen-Dodda

[2021-05-26 16:15] #358 closed, assigned to Naveen-Dodda

[2021-05-26 16:16] #356 closed, assigned to Naveen-Dodda

[2021-05-26 16:16] #298 closed, assigned to nobody

[2021-05-26 17:01] ricardodeazambuja commented on #324
I just discovered something quite funny. If I move the output of the model, without changing the graph (so I still can access the final value), the edgetpu_compiler stops crazily increasing the size of the model. Same model, just the definition of which tensor is the output changed :D

[2021-05-26 17:24] ricardodeazambuja commented on #324
My hope didn't last, only the original tflite model keeps the whole graph, the compiled one is chopped. However, when I use this:
```edgetpu_compiler -i Conv_14/Relu,Squeeze -s -a model.tflite```
The output is not what I would expect as it maps one FULLY_CONNECTED op but not the other, probably "-a" magic:
[code]
This is the compiled model:
![image](https://user-images.githubusercontent.com/660638

[2021-05-27 00:43] Naveen-Dodda commented on #377
@dragonvenenoso It seems like the error only occurs when the input size is 512x256. Models work fine with other resolutions like (320x640,320x320,512x512).

Can you cross check this on your end and conform.

[test_models.tar.gz](https://github.com/google-coral/edgetpu/files/6550354/test_models.tar.gz)

[2021-05-27 07:52] manoj7410 commented on #336
@Laxnring Were you able to resolve this issue ?

[2021-05-27 08:05] manoj7410 commented on #260
@MSoegtropIMC Is this issue still persistent ?

[2021-05-27 08:11] #320 closed, assigned to nobody

[2021-05-27 08:22] MSoegtropIMC commented on #260
I didn't try any new version since then (I live with the rolled back version). If you did an updated which you expect to fix this, I will try that until next week.

[2021-05-27 09:08] ricardodeazambuja opened #392 "Is there a document with the specification of bytecode / instructions for the Coral EdgeTPU?"
I was thinking about developing a hardware using the [Coral Accelerator Module](https://coral.ai/products/accelerator-module), but I would like to have access to the equivalent of an instruction set as I don't feel safe betting my few coins on a compiler that is not open source. Is this information available to little guys like me?

[2021-05-27 11:15] maxlacourchristensen commented on #382
Hi Naveen, any update on this?
Best, Max

[2021-05-27 22:30] binqi-sun commented on #272
@pirazor Hi, I am wondering if you have solved the prelu issue on edgetpu? I am also trying to use prelu and meet the same problem as yours. I have tried to reduce the input size but it does not work. :( I am Curious if you have solved this issue?

[2021-05-27 22:51] Naveen-Dodda commented on #382
@maxlacourchristensen I see that you we comparing all the probable predictions from the model. Though there are few difference in values, do this effect the real semantic meaning of the output ?

I mean does these differences effect the real meaning or prediction of class.

[2021-05-27 22:58] Naveen-Dodda commented on #342
@ricardodeazambuja thanks for your tip.

@shairoz-deci Yes, by default edgetpu_compiler tires create just one sub graph for edgetpu (which mean that; it maps first continuous block of operations to tpu and when ever a unsupported op is encountered rest of the operations are mapped to edgeptu )

-a flag helps you create mutliple sub graphs that are mapped to edgetpu.

[2021-05-27 22:58] #342 closed, assigned to Naveen-Dodda

[2021-05-27 23:02] Naveen-Dodda commented on #391
@ricardodeazambuja are you able to compile the QAT model ?

[2021-05-28 00:55] Naveen-Dodda commented on #324
@ricardodeazambuja In the above comments you mentioned that removing  flatten layer fixes you issues of large export size. Could you please help me narrow down the issue you are having.

Thanks

[2021-05-28 01:29] arya-yazdani opened #393 "edge TPU compiler not mapping all ops to TPU"
Hi,
I know many people have posted this issue but going through solutions I cannot get the compiler mapping all ops to TPU. I appreciate your advice.
Here is the log from compiler ( I run: edgetpu_compiler --out_dir ./EdgeTPU/ model.tflite)
here is the output:

Edge TPU Compiler version 15.0.340273435

Model compiled successfully in 2644 ms.

Input model: model.tflite
Input size: 4.22MiB
Output mo

[2021-05-28 11:11] maxlacourchristensen commented on #382
Hi Naveen,

Notice that I reduced the model to just the first Conv2D layer to show the difference in the output and to reduce the number of places the difference can originate from. It is not comparing probable predictions. It is simply comparing the output from a single Conv2D layer. This error (max absolute difference of 5.56) is in my opinion too big for many applications. It will propagate thr

[2021-05-28 12:27] alexanderfrey opened #394 "Internal compiler error. Aborting"
Hi,

I'm trying to convert a model from pytorch for edge tpu.

The way I'm doing this is the following: Pytorch > ONNX > TF Frozen Graph (via onnx-tf) > TFLite > edge_tpu_compiler

Compiling with `converter.experimental_new_converter = True` yields a quantized model but trying to compile it with edgetpu_compiler results in an **Internal compiler error**.

Compiling with `converter.experimental_new

[2021-05-28 13:15] ricardodeazambuja commented on #391
Not with Edge TPU Compiler version 15.0.340273435. Have you updated the compiler?

[2021-05-28 13:20] ricardodeazambuja commented on #324
@Naveen-Dodda Yes, sure.
My last experiment was splitting the model into two, exactly before the first fully connected layer. Therefore I had two models, one from the original input until the Conv2D where the model branches, and another where that Conv2D was replaced with an input. The compiler creates normal sized models. If I add a reshape operation after the Conv2D or before the first fully con

[2021-05-30 20:55] SoulSlayerPT opened #395 "Coral M.2 TPU not working / HIB Error"
Hello i am using Ubuntu Server 20.10 with a AMD ryzen CPU gigabyte brix mini PC.

I have connected the coral M.2 and followed the tutorial from https://coral.ai/docs/m2/get-started/#2-install-the-pcie-driver-and-edge-tpu-runtime

I have the following outputs:

lspci -nn | grep 089a
01:00.0 System peripheral [0880]: Global Unichip Corp. Coral Edge TPU [1ac1:089a]

ls /dev/apex_0
/dev/apex_0

When i

[2021-05-31 04:44] manoj7410 commented on #341
@murreletinnovation Are you referring to the serial console LEDs here ?

[2021-05-31 06:46] manoj7410 commented on #393
@arya-yazdani Can you share your CPU .tflite model here ?

[2021-05-31 07:09] manoj7410 commented on #395
@SoulSlayerPT Can you paste the output of the below commands:

- lspci -vvv
- lscpu
- uname -a

[2021-05-31 09:22] SoulSlayerPT commented on #395
Yes, here it is:

- lspci -vvv

[code]

- lscpu

[code]

**uname -a**

Linux homegateway 5.12.2-051202-generic #202105071130 SMP Fri May 7 11:33:24 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-05-31 13:57] SoulSlayerPT commented on #395
Solved, kernel headers were not installed.

[2021-05-31 13:57] #395 closed, assigned to nobody

[2021-05-31 15:14] agjunyent opened #396 "RESIZE_BILINEAR failing to compile. Working before"
Hi,

I've been using the compiler for more than 6 months now, without problem. I've compiled several models, and made them work on the Coral.

Today I've tried to compile an already compiled model that worked before, and I'm getting:

RESIZE_BILINEAR                2          Operation version not supported

Nothing has changed in our side: the file is exactly the same that we compiled around 2 mo

[2021-06-01 04:10] NooLL opened #397 "Edgetpu_compiler compiler error"
[code]

The model I am trying to compile i from google cloud object detection tflite model.

I saw a suggestion on stackoverflow with the same problem which suggest me to downgrade the version to 14.1. However, I can't seem to downgrade it.
https://stackoverflow.com/questions/66998921/compile-automl-tflite-to-edge-tpu

[2021-06-01 14:59] arya-yazdani commented on #393
@manoj7410 thanks for your response, I have attached it here, as I was reading about edge TPU compiler, I believe the pack op in my model is the reason for this issue. I appreciate your feedback on it and possibly how I can fix it?

[model-3.tflite.zip](https://github.com/google-coral/edgetpu/files/6577191/model-3.tflite.zip)

[2021-06-01 21:17] Naveen-Dodda commented on #381
@wwooster I have few questions to understand your end goal here.

so you want to perform matrix multiplication on 3000 matrices each 500x500 size ?
your input =[1, 3000,500,500]
       output = [3000,500]

if so you have huge bottle neck due I/o operations between cpu and tpu. You are trying achieve 1000x more than I/o operations of regular models.

If the above assumption is wrong may I know what

[2021-06-02 07:21] wwooster commented on #381
Hello @Naveen-Dodda!
I would like to understand a few things here. My end goal is to perform batched matrix vs vector multiplication.

I have 3000 matrices of dimensions 500*500 stored in A of shape [3000, 500, 500]
Also 3000 vectors of dimensions 500 stored in B of shape [3000, 500, 1]

I want to multiply each matrix A[i, :, :] with corresponding vector B[i,:,:]
This can be achieved with tf.matmu

[2021-06-02 08:06] dakota commented on #343
I couldn't get it to work and have instead resorted to a small standalone computer with the Coral in instead of in a VM.

[2021-06-02 14:24] KillahB33 commented on #343
Which did you go with? I also did the same, went with a Jetson Nano

[2021-06-02 15:57] dakota commented on #343
An old AMD Athlon 5150 based computer that I had lying around. Busy shopping around for a Dell Optiplex SFF (or similar) with a more modern CPU.

[2021-06-02 16:01] dakota commented on #343
I don't think this is it since it displays exactly the same on my standalone AMD Athlon based system.

[2021-06-02 17:35] strubell commented on #387
This is still an issue. Please reopen. On a fresh flash of the board, attempting to `apt-get update` results in:
[code]
It can be solved using the solution given [here](https://stackoverflow.com/questions/49582490/gpg-error-http-packages-cloud-google-com-apt-expkeysig-3746c208a7317b0f) but it is not fixed on your end nor has the documentation been sufficiently updated. It's not an internet connect

[2021-06-02 23:16] Naveen-Dodda commented on #397
Hello,

Current edgetpu compiler fails to compile models deployed by image object detection api. You can follow steps below to downgrade edgetpu compiler.

git clone https://github.com/google-coral/edgetpu.git
cd edgetpu
sudo cp -r compiler/x86_64/* /usr/local/bin/

I am not sure about your application, if you interested you can try [video object detection.](https://cloud.google.com/video-intellig

[2021-06-02 23:24] Naveen-Dodda commented on #396
Compiler has not been updated recently. I assume you are using  edgetpu_compiler 15.0.

May i know TF version  you have used for training ?

[2021-06-02 23:50] Naveen-Dodda commented on #394
@alexanderfrey Though TF Frozen Graph (via onnx-tf) > TFLite is successful.  There are multiple reasons why model fails to compile for edgetpu.

1. There are many Transpose operations in distributed across the graph. As Transpose ops is not supported on edgetpu they are offloaded to cpu. The remedy if adjust architecture with Transpose op.
2. If you look into the graph there are few operations tha

[2021-06-02 23:52] Naveen-Dodda commented on #392
@ricardodeazambuja  Can you be specific on what kind of information you need ? Do you need info to choose a right host ?

[2021-06-03 02:41] LINYOUWEI0804 commented on #389
Sorry, I still don’t know how many models and model sizes can be supported on the web page.

[2021-06-03 03:14] jayburkard commented on #343
I fixed my issues... first comment on this thread.

Running on an HP proliant gen8, proxmox passing through to ubuntu but had it working with HassOS as well.

I was not successful with ESXi and migrated hypervisors because of it.

There was also some HP specific bug I had to resolve? Getting this working was a deep, dark rabbit hole but it's working great now with frigate.

Here's the HP specific

[2021-06-03 03:54] manoj7410 commented on #387
@strubell The original issue was filed for the error : "TLS Handshake failed" which is not reproducible at our end.
I'll try to reproduce error reported by you and will get back to you on this.

Assuming that you are working on a Coral Dev Board. Please correct me if I am wrong.

[2021-06-03 04:59] manoj7410 commented on #389
@LINYOUWEI0804 It will be helpful if you can elaborate your question. What exact information are you looking for ?
What models can be executed or how many parallel models can be executed?

[2021-06-03 05:41] dakota commented on #343
I also just found this guide https://www.reddit.com/r/Proxmox/comments/n34f8q/proxmox_vm_ubuntu_2004_frigate_2x_google_coral_tpu/

It seems like the root of the issue is that ESXi's implementation of MSI-X is broken, or at least causes issues with the Apex driver.

[2021-06-03 06:10] LINYOUWEI0804 commented on #389
Hi! What is the model size and model parameters greater than that can not be predicted on Edgetpu?

[2021-06-03 07:09] agjunyent commented on #396
Hi, thanks for the comment.

I'm not using TF for training. I use darknet (https://github.com/AlexeyAB/darknet) to train and Yolov4 to convert to TF (https://github.com/hhk7734/tensorflow-yolov4)

The later has not been updated since February, so I don't think that's the problem. I have a converted model that works from late April.

As I say in the OP, I've tested Tensorflow 2.3 to 2.5, all versio

[2021-06-03 09:42] #397 closed, assigned to Naveen-Dodda

[2021-06-03 09:44] ricardodeazambuja commented on #392
@Naveen-Dodda I need info to be able to test what the edgetpu_compiler generates is not something buggy / crazy, or is the compiler open source and I didn't realize?

[2021-06-03 12:49] estabanalamedia commented on #280
Had submitted the PCIe driver issue to Coral/Google (Issue 1011084300), resulting in the earlier posting. As of yesterday (6/2/21), they sent me an email with the following statement "Your issue has been completed". Presumably that could mean the driver has been repaired or the PCIe-USB3 solution has been codified. The Coral site contains some driver troubleshooting information (don't know if it w

[2021-06-03 19:44] strubell commented on #387
Ah, my bad! I was pointed here by someone else when I shared my error and assumed it was the same error (since the same solution works). Yes, I'm using a Coral Dev Board.

[2021-06-03 21:47] Naveen-Dodda commented on #392
Compiler is not open sourced

[2021-06-03 21:50] Naveen-Dodda commented on #391
15.0 is the latest compiler aren't able to compile the model following this thread  #366

[2021-06-03 21:53] Naveen-Dodda commented on #396
Have you tested with TF1.x ?

I am not sure why the model compiled fine in apr and not now while your environment has not changed

[2021-06-03 22:32] Naveen-Dodda commented on #382
@maxlacourchristensen

Thanks very much for debugging any pointing out with in Conv layer. We understand that this would influence position of the pose in your application. Can you identify if the (max absolute difference of 5.56) is consistent each time of inference at similar position in the matrix or with variable input can you see if the max difference occurs only at specific area.

[2021-06-03 22:45] Naveen-Dodda commented on #324
Okay, got it but the other reshape op present in 2nd graph doesn't create this problem.

[2021-06-03 23:15] KillahB33 commented on #343
@jayburkard I am actually just looking at migrating as well because of all of this. My jetson nano isn't working nearly as well as I though it would so I would rather use it for something specific to it's use case and have this in my main docker setup. Will probably do the migration this weekend. Luckily only two vms for me so shouldn't take too long.
@dakota is there similar process that us on es

[2021-06-03 23:42] jayburkard commented on #343
Same here, 2 VMs (had 3 but migrated HassOS to run supervised in ubuntu - every time I provisioned >1TB for it hassos would crash/not boot, known bug with no resolution).

I think you can absolutely get the hardware working on proxmox. I had to dig to find all that but now that it's working it's been flawless and if you have anything but a proliant g8 you should have way fewer steps :)

 I wanted

[2021-06-04 00:13] Naveen-Dodda commented on #381
@wwooster

If it is a Deep learning model all the weights are fused and model would technically have fixed set of matrices on with which input is modified. But in your case you are not storing or fusing any specific matrix or weights in your model.

So technically edgetpu doesn't need cache memory. Yes off-chip memory is needed to off stream the output tensors.

[2021-06-04 05:31] manoj7410 commented on #387
@strubell No problem. Can you share the detailed steps to reproduce this error ? Which Mendel image are you working with ?

[2021-06-04 16:23] tml444 commented on #396
Hello,

I just tested this with the following simple keras model and have the same problems:

[code]

I used the current tf-nightly-gpu package (TF2.5) to generate the model, then int8-quantized with the following configuration:

[code]

Then I used the edgetpu compiler (version 15.0.340273435) and this is the result:

[code]

Shouldn't this code work and get compiled without problems? Or is there

[2021-06-04 16:56] Naveen-Dodda commented on #389
@LINYOUWEI0804 can you please elaborate your question.

There is no limit for size of the model,

[2021-06-04 21:12] jimcortez commented on #328
Nothing, command returns immediately

[2021-06-04 22:54] arya-yazdani commented on #393
@manoj7410  any idea what might be wrong?

[2021-06-05 00:21] Naveen-Dodda commented on #396
Hello,

Your example above is built on TF2.x, current external compiler doesn't support RESIZE_NEAREST_NEIGHBOR  exported from TF2.x. This specific op is supported if it is exported with TF1.x.

So your previous code could be based on TF1. x.

[2021-06-05 10:06] rizawise opened #398 "Hardware failure?"
Hi, I have coral dev board mini and was able to run it.
But somehow i accidentally unplug the power usbc, then i can not boot anymore and  i can not detect the usb on my linux host os. The led constantly red, i don't have jumper cable yet so i can't do the reflash.

can i fix this, or my board already bricked?

[2021-06-05 16:11] jumpingbrowntrout commented on #280
From what I can see neither stable or unstable driver have been updated since 5th and 6th Feb.
https://packages.cloud.google.com/apt/dists/coral-edgetpu-stable/main/binary-arm64/Release
https://packages.cloud.google.com/apt/dists/coral-edgetpu-unstable/main/binary-arm64/Release

Also I checked the wayback time machine and it looks like troubleshooting doco has been there since the beginning or at

[2021-06-05 18:32] wb666greene commented on #328
Does lsmod | grep apex show the apex and gasket devices after running the modprobe command when the non-working system has booted?

modprobe is not very chatty unless a module is not found or there is an error, a quick and quiet return usually means it succeeded, so afterwards apex and gasket modules should be shown with lsmod | grep apex

Presumably once the apex module is installed the /dev/apex

[2021-06-06 20:47] jimcortez commented on #328
After a fresh boot just now:

[code]

[2021-06-06 22:23] wb666greene commented on #328
Now you've gotten above my pay grade here, but it seems when it doesn't work on reboot the apex module is not being loaded.  The modprobe command fixes this but the /dev/apex_0 still doesn't get created, here I suspect something is wrong with udev.

Sorry I can't be of anymore help, later tonight I'll poke around a bit in my 20.04 system and seem if anything jumps out at me to have you check.

Do

[2021-06-06 23:07] jimcortez commented on #328
Seems everything is in order

[code]

Note that rebooting the device several times does get it back. It's pretty non-deterministic, sometimes the next boot is fine, sometimes it isn't. When it does show up, everything works just fine.

[2021-06-07 00:29] wb666greene commented on #328
As I said you've gotten above my pay grade here.  I's suspect some race condition in the systemd start-up.

I'm not a fan of systemd, when it works I don't care, but when it doesn't good luck!

[2021-06-07 05:27] manoj7410 commented on #398
@rizawise Did you also try to connect your board to an HDMI screen ? Do you see anything on that ?

[2021-06-07 05:45] manoj7410 commented on #393
@arya-yazdani pack operation is supported as long as there is no packing in batch dimension. I have seen this in the past with reshape operation however I'll get this checked with my teammate and will get back on this.

[2021-06-07 11:26] rizawise commented on #398
@manoj7410 problem solved by following this https://coral.ai/docs/dev-board-mini/reflash/#force-boot-into-fastboot-mode
Thanks

[2021-06-07 11:26] #398 closed, assigned to nobody

[2021-06-07 12:53] mathislm commented on #280
Hello,
I'm thinking about getting a Coral with my raspberry PI4 (not a Compute Module), the easy way would be to get the usb stick but I live in France and it is not delivered there. Would I get all the problems you guys are getting if I were to plug a mini PCIe Coral on my rasp through something like mini PCIe -> USB -> RPI4 ?

[2021-06-07 12:59] kklem0 commented on #280
This has nothing to do with this issue.
PCIe is used on RPi4 for USB3 and need customization to make use of it.
I think your best chance is still to get the USB Accelerator which is using USB3.

[2021-06-07 13:38] ulrichMarco opened #399 "converting .tflite model to edgetpu.tflite"
Hi,
im trying to convert a .tflite model to an edgetpu.tflite model. the tflite model works fine, but after converting using the edgetpu_compiler it results in relativly low detection scores and therefore just a few detection boxes.

tflite inference example
![tmp3z8qnmha](https://user-images.githubusercontent.com/83692293/121020460-ab71f880-c7a0-11eb-8a69-ec914847a8ca.PNG)

edgetpu.tflite example

[2021-06-07 14:55] alexanderfrey commented on #394
@Naveen-Dodda Thanks for your reply and looking into this. Sharing that (48x48x128) exceeds the memory limit is a valuable insight. Thanks for that ! I will make sure that does not happen again.

From what I understand the Transpose is offloaded to CPU but should not result in a compiler error.

If that is true I have a much simplified model that I'm trying to compile and that still results in a e

[2021-06-07 17:26] arya-yazdani commented on #393
Thank you very much. I am looking forward to your update

[2021-06-08 04:10] manoj7410 commented on #393
@arya-yazdani Can you please share more details on how you have quantized the model? And can you also share the source of the model ?

[2021-06-08 04:34] arya-yazdani commented on #393
hi thanks for your response. I used transfer learning by following instructions in following link:
https://medium.com/swlh/creating-your-own-custom-object-detector-using-transfer-learning-f26918697889
then exported the model for tflite generation purpose, then quantized and converted it to TFlite using following lines:

converter = tf.lite.TFLiteConverter.from_saved_model('.../Project/exported-mod

[2021-06-08 08:05] tml444 commented on #396
Hello Naveen-Dodda,

thank you very much for the reply, you are right. Using tf1 tflite converter and disabling experimental_new_converter param worked for models exported with TF2.5 and also with TF1.15. Is there more support coming for TF2.x in the near future?

[2021-06-08 10:32] thongvhoang opened #400 "Error opening file for writing: edgetpu/best-int8_edgetpu.tflite Internal compiler error. Aborting!"
I use this code for converting full int8 TFLite model to Edge TPU by following link: https://github.com/zldrobit/yolov5/tree/tf-android-tfl-detect:
Code: `!edgetpu_compiler -s -a -o edgetpu $yolov5s_int8_path`

Bug error generate by this code:
[code]

In additional, I run the code:` edgetpu_compiler -a $yolov5s_int8_path` -> Successfully. But deploy mobile when running app on Android Studio, appea

[2021-06-08 15:18] agjunyent commented on #396
I've tried as @tml444 said using tf1, same error.

I'll do more debugging, but I'm running out of options :(

[2021-06-08 15:23] Naveen-Dodda commented on #396
Yes the support for TF2.x resize_bilinear will be added in our next release.

[2021-06-08 19:22] strubell commented on #387
I am using the latest image in the docs: `enterprise-eagle-flashcard-20210204152958.zip`.

I am able to reproduce the error by [connecting to the device via the serial console (from macos)](https://coral.ai/docs/dev-board/serial-console/#connect-with-macos) and following steps (1), (2), (3), (5) and (6) [here](https://coral.ai/docs/dev-board/get-started/).

[2021-06-09 04:41] thongvhoang commented on #400
I fixed the error "Error opening file for writing":
Option 1: Remove "edgetpu"
Option 2: Create folder edgetpu

[2021-06-09 04:50] thongvhoang commented on #400
I fixed the error "Error opening file for writing":
Option 1: Remove "edgetpu"
Option 2: Create folder edgetpu

[2021-06-09 22:46] bitbashing commented on #140
Hey @kampff can you share the hash of the checked-out commit you used to build your working version of Armbian kernel? I have tried a few of the more recent 5.10 versions, prebuilt or custom compiled with no luck; still getting error -110 (one would think a fix to an earlier issue would have persisted in the tree).
I'd like to build the same version as yours to sanity check the hardware.

[2021-06-09 23:04] bitbashing commented on #42
This confirms the interaction between KDE (X11) and tpu driver/software suspected earlier.

@marcin-kamionowski did you get it all to work reliably with the Radxa software after adding the above change? I first saw this issue with the Radxa linux distrib for Rock Pi 4C but since it didn't have a good camera (imx219) support I abandoned the OEM distrib. Armbian server (no desktop) works ok for me.

[2021-06-09 23:08] bitbashing commented on #328
The udev command provided by Coral is used to set the permissions of the apex_* character device so a non-root user can use it, the issue you're experiencing is unlikely related to the udev config.

It sounds like there may be a race condition when loading the drivers after reboot or the configuration gets reverted on subsequent boot. I'm assuming the `gasket` module needs to be loaded before the

[2021-06-10 06:21] manoj7410 commented on #399
@ulrichMarco You are running this on the Dev board or on any other Coral device ?

[2021-06-10 06:53] manoj7410 commented on #393
Did you try with 'experimental_new_converter = False' as well ?

[2021-06-10 07:16] ulrichMarco commented on #399
@manoj7410 Running it seperately on 'Coral Usb Accellerator' and a 'Coral M.2 Accelerator with Dual Edge TPU' both produce similar outputs.

[2021-06-10 09:42] angelcarro commented on #290
@parthjdoshi Have you finally compared your trained OSNet model with the Edge TPU converted version?

[2021-06-10 10:57] kampff commented on #140
I didn't save the specific commit hash that I used for the [Armbian/build Repo](https://github.com/armbian/build), but I am nearly certain it was the master branch on July 1st, 2020 (commit: 3f998600096937454b18b350bea28f73d343fcef).

I then used the following command to build the "dev" branch of the Kernel:

[code]

On July 1st, 2020, I _believe_ this built kernel version 5.7.6 (as seen in the li

[2021-06-10 12:06] parthjdoshi commented on #290
Yes, I did. I didn't have drastically different results but I did suffer a
10% drop in top-1 accuracy

On Thu, Jun 10, 2021, 15:13 whizmo ***@***.***> wrote:

[2021-06-10 14:13] ulrichMarco commented on #399
@manoj7410
Addition:
To get a fully compatible edgetpu model i followed the steps from https://coral.ai/docs/edgetpu/retrain-detection/ with my dataset.
After computing the model i am facing still the same issue.

didnt train it the full 50k steps canceled at 41k to test it.
the new models: [models.zip](https://github.com/google-coral/edgetpu/files/6632011/models.zip)

Correct me if im wrong, but

[2021-06-10 23:21] arya-yazdani commented on #393
I just set 'experimental_new_converter ' to False and still get the same thing. I think the main issue is DepthWiseConv2D location 50 as stride of 2 for width and height which cause dimension mismatch at ad op location 68. this will need a reshape but mainly two pack ops before that have dimensions greater than 3 which breaks the compile loop. Is there a way I can change thesein the model? or shou

[2021-06-11 06:14] bitbashing commented on #140
Thanks @kampff I was able to check out that commit but their build code has galloped forward since that point in time so after being forced to downgrade to 20.04 on the build host I kept running into other issues with outdated downloads and dependencies etc. Gave up trying to build the old version as my time would be better spent trying to get TPU to work with one of the newer versions. Their 5.10

[2021-06-11 10:05] angelcarro commented on #290
Do you experience that accuracy drop if you use the floating point version of the converted model?

[2021-06-11 10:14] parthjdoshi commented on #290
I haven't tested that out. I'll do that and get back to you.

On Fri, Jun 11, 2021, 15:36 whizmo ***@***.***> wrote:

[2021-06-12 02:25] bitbashing commented on #140
Downloaded the official `Armbian_20.08_Nanopct4_bionic_current_5.7.15` image and the -110 PCIe error was gone in that image. `Armbian_20.11.10_Nanopct4_bionic_current_5.9.14` is currently the most recent, equally error free version of bionic for this SBC. Slight issue with the initial configure script using `/usr/bin/bash` instead of `/bin/bash` when setting up the initial user (this will prevent

[2021-06-14 20:31] BernardinD commented on #380
@Naveen-Dodda  Sorry for the late response. Here is the [graph](https://drive.google.com/file/d/1rMP4LVbUJCBt7gAeAeilDvL-kdaM510r/view?usp=sharing) without Transposes. I am able to get the right output. Although it is still slower than we expected

[2021-06-15 05:15] bitbashing commented on #140
@skyler1253 @Namburger you can use the approach I suggested above to get the matching kernel headers for pretty much any Linux version, sufficient to successfully compile the TPU drivers. The kernel.org sources are genuine but generic so they won't have any vendor patches or customizations but that should largely not affect the compilation step needed here.
If one is paranoid about security for pr

[2021-06-15 09:25] ulrichMarco commented on #399
@manoj7410
Anything new?
Can you confirm that you get similar results?

[2021-06-15 09:33] manoj7410 commented on #399
@ulrichMarco Unfortunately, my linux laptop got crashed while training a model. I am yet to reproduce this issue at my end. Will get back to you soon on this.

[2021-06-15 10:42] timayy commented on #280
Damn. So if I'm reading this correctly, there's currently no way to use any of the PCIe or M.2 Coral Accelerators with a Compute Module 4 (`PCIe TPU -> CM4`)?

Is it possible to use a PCIe-to-USB3 with a Compute Module 4 and then use the Coral USB Accelerator? Like: `USB TPU -> PCIe-to-USB3 -> CM4`.

Also,  @browntownington those links seem to indicate that the drivers were updated recently! Could

[2021-06-15 11:50] JanderHungrige commented on #147
Hi, as it seems up to tf version 2.5.0 the issue is still the same.
Just to clarify, is the issue with tf changing the TransConv and the tflite converter not being able to handle it, correct?

@Namburger : Is there an update on solving the TransConv issue in an upcoming tflite version?

thanks

[2021-06-16 02:19] LINYOUWEI0804 commented on #389
I tried to use EfficientNetB0-B7 to train a cat and dog recognition model. B0-B3 can be successfully compiled into an edgetpu model, but B4-B7 cannot, so I was thinking that it might be because of too many parameters or too large model size.

[2021-06-16 07:47] caijinana commented on #132
i connection the wifi but can't ping other website successfully,who can help me ,and i also get the fllowing error:
 Unsupported data type in custom op handler: 0Node number 0 (edgetpu-custom-op) failed to prepare.

[2021-06-16 09:23] caijinana opened #401 "Run Edge tpu error"
RuntimeError: Internal: Unsupported data type in custom op handler: 0Node number 0 (edgetpu-custom-op) failed to prepare.
Failed to allocate tensors.

[2021-06-16 09:34] manoj7410 commented on #400
@thongvhoang Can this issue be closed now ?

[2021-06-16 10:19] thongvhoang commented on #400
Yes, it can.

[2021-06-16 10:40] #400 closed, assigned to Naveen-Dodda

[2021-06-16 14:16] mbrooksx commented on #280
There hasn't been an update to the gasket driver (which I've now moved to https://github.com/google/gasket-driver) or libedgetpu to enable 32-bit operation required by the CM4. The only way we're aware of to communicate between the CM4 and the TPU is via USB3.

This can be accomplished by starting with a known-good design from Gumstix and customizing in Upverter (based on [this board](https://www.

[2021-06-16 16:33] timayy commented on #280
Thanks for the link to the new repo; I'll keep an eye out, @mbrooksx! Is there a fix your team and you (or the RPi team) are currently investigating for this? I think above you mentioned looking at PCIe configuration space (BAR mem)? Sucks its related to memory coherence though.

That reference board and Altium app looks really promising, appreciate the heads up! Those times are good too, not too

[2021-06-17 02:54] manoj7410 commented on #401
@caijinana Is your model quantized ? Can you share your model here ?

[2021-06-17 09:41] timonsku commented on #280
Any update on this?
All the talk about going with a USB3 host controller sounds like there is not much hope left for the PCIe driver to work out? :)

[2021-06-17 11:22] SamueldeFaria commented on #280
Hi,

"...reaching out to Coral Sales to discuss how to build your own USB3 design..." Good luck with that. I've 2 prototype PCIe PCB's made and guess what I had the same problems as you guys. I contacted sales and beside have to sign an NDA, wich would be normal, they also wanted to know what type of product I was designing, who my customer was, volumes of devices to be made, etc, etc... and even

[2021-06-17 17:38] BernardinD commented on #375
@Naveen-Dodda The issue had to do with the unexpected 5 dimensional Transpose at the end of the graph. For some reason the edgetpu library was still compiling it even though it wasn't mapped to the TPU. Reshaping the data down to 4D fixed the issue.

[2021-06-17 17:38] #375 closed, assigned to Naveen-Dodda

[2021-06-18 02:26] pirazor commented on #256
Hello @blazczak, is it possible to run M.2 module with dual edge tpu with Rock Pi 4+ b or did you only test it with single edge tpu module ?

[2021-06-18 03:05] caijinana commented on #401
@manoj7410 i use the  Run a model using the PyCoral API in the edgetpu code

[2021-06-18 03:47] manoj7410 commented on #401
@caijinana Which model are you trying to run ? And on which device are you running it ?

[2021-06-18 10:34] Kampi opened #402 "Wrong results after deploying keras model to Coral Dev Board"
I try to run some examples out of my Deep Learning Books with my Coral Dev Board. Please take a look at the attached files for the source codes.

1. I run `python3 shallownet_train.py --dataset datasets/animals --model model/Animals.h5 --labels model/Animals.pickle` to train the model and got the following results:

[code]

2. I run `python3 shallownet_load.py --dataset datasets/animals --model mo

[2021-06-18 19:37] judahkshitij commented on #189
Hello @Naveen-Dodda I am facing the same error when trying to compile efficientdet-d1 model in tflite int8 format. I tried with two models, one with input 640x640 and one with 320x320 (in hopes to make compilation work). But I am getting "Internal compiler error. Aborting!" error for both models. Models are present here: https://drive.google.com/drive/folders/1dig57pnZD5-XMB7nzF5NbiCk5eiKOx5X?usp=

[2021-06-19 06:45] dansuh17 commented on #296
Same here - waiting for an update.

[2021-06-20 08:44] caijinana commented on #401
@manoj7410  i use mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite and run model in the  Devboard

[2021-06-20 14:07] mezdahun commented on #317
+1 as for the official [SSD MobileNet V2 FPNLite 640x640 ](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md)does not compile with `-a` flag after fine tuning, exporting to tflite and post-training full-integer quantizing it all followed by the official guides.  (using tf 2.5.0 and edgetpu-compiler 1.5). Seemingly experiencing the same as @aviral

[2021-06-21 02:14] caijinana commented on #401
@manoj7410

[2021-06-21 03:59] manoj7410 commented on #401
@caijinana Can you share the output of below commands:
- ls /dev/*
- cat /etc/os-release

[2021-06-21 07:01] ulrichMarco commented on #399
@manoj7410
sry i dont want to be too impatient, but the problem persists.

Were you able to reproduce the issue?
Can you suggest a solving strategy?

[2021-06-21 07:07] caijinana commented on #401
/dev/apex_0           /dev/loop2               /dev/ptyp2      /dev/tty12  /dev/tty37  /dev/tty61    /dev/ttyS1
/dev/autofs           /dev/loop3               /dev/ptyp3      /dev/tty13  /dev/tty38  /dev/tty62    /dev/ttyS2
/dev/btrfs-control    /dev/loop4               /dev/ptyp4      /dev/tty14  /dev/tty39  /dev/tty63    /dev/ttyS3
/dev/cec0             /dev/loop5               /dev/ptyp5      /

[2021-06-21 07:07] caijinana commented on #401
@manoj7410

[2021-06-21 13:02] Namburger commented on #401
`/dev/apex_0` shows that the edgetpu is still present,
Next I'd check version of libedgetpu and the API that you're using, the 2 version must matches, other wise the ABI change between version can cause this issue.
[code]

For reference, libedgetpu version 15.0 goes with pycoral 1.0.1:
[code]

[2021-06-22 00:54] caijinana commented on #401
`mendel@queen-xylophone:~$ dpkg -l | grep edgetpu
ii  edgetpudemo                          3-1                                 all          Edge TPU demo script
ii  libedgetpu1-std:arm64                15.0                                arm64        Support library for Edge TPU
ii  python3-edgetpuvision                7-1                                 arm64        EdgeTPU camera API
mendel@quee

[2021-06-22 00:55] caijinana commented on #401
`
ii  edgetpudemo                          3-1                                 all          Edge TPU demo script
ii  libedgetpu1-std:arm64                15.0                                arm64        Support library for Edge TPU
ii  python3-edgetpuvision                7-1                                 arm64        EdgeTPU camera API
mendel@queen-xylophone:~$  python3 -c 'print(__import__("py

[2021-06-22 01:07] caijinana commented on #401
@manoj7410 @Namburger

[2021-06-22 01:33] caijinana commented on #401
i have install the pycoral 1.01 but i still get the error
Internal: Unsupported data type in custom op handler: 0Node number 0 (edgetpu-custom-op) failed to prepare.
Failed to allocate tensors.

[2021-06-22 04:50] manoj7410 commented on #399
@ulrichMarco I was able to reproduce this and checking within the team regarding what can be the reason for this.

[2021-06-22 04:57] manoj7410 commented on #401
@caijinana  Can you install (via pip) https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp37-cp37m-linux_aarch64.whl (this link comes from https://www.tensorflow.org/lite/guide/python)
Above link is for python3.7. You can install the compatible wheel from https://github.com/google-coral/pycoral/releases/

[2021-06-22 06:52] caijinana commented on #401
i am a chinese student ,i can't connect to https://packages.cloud.google.com, i don't know what i should do

[2021-06-22 09:06] zldrobit commented on #272
@wb666greene Sorry for the late reply.  After some investigations, I found that PyCoral lacks some functions for inference. For example, there isn't an output_details() function to get the quantization parameters for the final output (https://coral.ai/docs/reference/py/pycoral.adapters/#module-pycoral.adapters.common). Would you stick to the tflite inference API since PyCoral is a wrapper of tflit

[2021-06-22 12:16] caijinana opened #403 "how to install edgetpu-compiler"
i am a chinese student ,when i am try to do apt-get update, i am always met the error,The repository 'https://packages.cloud.google.com/apt coral-cloud-stable Release' does not have a Release file.,and i am also can't to install edgetpu-compiler,because i can't update

[2021-06-22 14:48] Naveen-Dodda commented on #399
@ulrichMarco it seems like there is a mis match in the post processing steps of detect_image.py and tflite_run.py

If you can change tflite_run.py and plug in edgetpu model you get same results for both the models.

print()

#interpreter = tflite.Interpreter('model.tflite')
interpreter = tflite.Interpreter('model_edgetpu.tflite', experimental_delegates =[tflite.load_delegate('libedgetpu.so.1')])
i

[2021-06-22 21:14] hjonnala commented on #403
@caijinana
please try the below commands to install edgetpu-compiler:

curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

echo "deb https://packages.cloud.google.com/apt coral-edgetpu-stable main" | sudo tee /etc/apt/sources.list.d/coral-edgetpu.list

sudo apt-get update

sudo apt-get install edgetpu-compiler

requirements:
64-bit version of Debian 6.0 or higher, or a

[2021-06-23 03:02] caijinana commented on #403
@hjonnala thank you very much , now i use web-based compiler using Google Colab. but i met another problem,i use the tensorflow 2.2,when i met the BN,i select jump the BN layer,but i met the following error: Model not quantized

[2021-06-23 07:39] caijinana commented on #366
Have you slove the problem?

[2021-06-23 07:40] ulrichMarco commented on #399
@Naveen-Dodda
i can confirm that the results of both models match. In some cases the detection scores are off by a few percent or the detectionboxes are off by a few pixels, but this is ok for my use cases.

Now i am just wonder why this problem is happening, because the detect_image.py is coming from the official detection example. And the example datasets are working fine with it, but as soon as

[2021-06-23 08:13] caijinana commented on #366
@Naveen-Dodda i have a create a model with tf2.2, using QAT and got .tflite,but in some model which have BN , edgetpu_compiler shows model not quantization

[2021-06-23 08:13] caijinana commented on #391
i have a create a model with tf2.2, using QAT and got .tflite,but in some model which have BN , edgetpu_compiler shows model not quantization

[2021-06-23 12:47] hjonnala commented on #403
@caijinana

please try this command:
converter.experimental_new_converter = False

Reference:
https://github.com/google-coral/edgetpu/issues/168#issuecomment-656115637

if it's not working, please explain the steps  to reproduce the issue.

[2021-06-24 01:51] caijinana commented on #403
i have one model passedgetpu-compiler,but i got the error:Mmap of 'test_data/converted_mlp-new_edgetpu.tflite' failed.

[2021-06-24 01:51] caijinana commented on #403
@hjonnala

[2021-06-24 05:54] #401 closed, assigned to Naveen-Dodda

[2021-06-24 16:16] hjonnala commented on #403
@caijinana can you please share your co lab notebook?

[2021-06-25 02:10] caijinana commented on #403
Edge TPU Compiler version 15.0.340273435
Input: eval_graph3.tflite
Output: eval_graph3_edgetpu.tflite

Operator                       Count      Status

ADD                            4          Mapped to Edge TPU
RESHAPE                        2          Mapped to Edge TPU
MAX_POOL_2D                    2          Mapped to Edge TPU
DEPTHWISE_CONV_2D              1          Mapped to Edge TPU
MUL

[2021-06-25 13:41] Naveen-Dodda commented on #402
@Kampi

Can you attach your both edgetpu.tflite and .tflite models along with examples images that you tested. I Could not find them in the Code.zip

[2021-06-25 13:59] hjonnala commented on #403
@caijinana  try adding the explicit path of the model rather than the directory where the model got saved.

reference: https://github.com/tensorflow/tensorflow/issues/40616

[2021-06-25 16:42] BernardinD opened #404 "How to run your EdgeTPU threaded example in camera loop"
Hi,

We are using your template code for running [2 EdgeTPU in threads](https://github.com/google-coral/edgetpu/blob/master/src/cpp/examples/two_models_two_tpus_threaded.cc) and we're wondering if you have any suggestions on how to use this implementation with a camera loop. We are currently recreating  and joining the thread each iteration of the loop.

Thx in advance

[2021-06-25 19:14] Kampi commented on #402
Please take a look at my updated question.

[2021-06-26 07:23] taloot opened #405 "yolov5 and coral TPU"
hello,
i manage to run yolov5s and yolov5m on coral tpu with very high performace..
but i faced a problem with the compiler,, if i define more than 7 classes the edge compiler fail (if the resolution more than 416)
i prefer to run on 512,, which is very good with coral tpu... except its limited classes
,,if i have more than 7 classes then only 416 and less works
and if i use less than 7 classes i

[2021-06-26 07:30] taloot commented on #405
https://youtu.be/w7txl-fsmV4
video for the performance overview

[2021-06-27 17:42] andrelabelle opened #406 "Dev Board I2C2_SCL Driven High"

[2021-06-27 20:29] taloot commented on #405
https://www.youtube.com/watch?v=D9IExho8pwo
this is updated link

[2021-06-27 20:56] pirazor commented on #405
Hi @taloot, I was able to run 416 model on 98 classes without an issue. Would you mind sharing your postquantized tflite and edgetpu model ? I can maybe give you a suggestion on changing the last transpose operation to 4D.

[2021-06-27 21:21] taloot commented on #405
The problem never happend on 416

It happend if i want more than 416
I m using currently 7 classes and 512
I wish i can run more than 512 coz i never success compiling the 640

On Sun, 27 Jun 2021 at 11:56 PM ENES KARAASLAN ***@***.***>
wrote:

[2021-06-27 21:30] taloot commented on #405
https://www.sendgb.com/upload/?utm_source=iRw3E1XMmHY
this is the files u may want,
when i make the freeze graphic i have to specify the resloution
if i have more than 7 classes the compile stops at 416... any number above this will generate internal error
if i have 7 and less, the max  working is 512
keep in mind im using the -a flag in the compiler

[2021-06-27 21:30] taloot commented on #405
[161Newds-int8_edgetpu.log](https://github.com/google-coral/edgetpu/files/6722344/161Newds-int8_edgetpu.log)
Edge TPU Compiler version 15.0.340273435
Input: 161Newds-int8.tflite
Output: 161Newds-int8_edgetpu.tflite

Operator                       Count      Status

CONV_2D                        86         Mapped to Edge TPU
QUANTIZE                       24         Mapped to Edge TPU
MAX_POOL_2D

[2021-06-27 21:33] taloot commented on #405
try to increases the resolution i m sure will see the problem

[2021-06-27 21:35] taloot commented on #405
`import argparse
import logging
import os
import sys
import traceback
from copy import deepcopy
from pathlib import Path

sys.path.append('./')  # to run '$ python *.py' files in subdirectories

import numpy as np
import tensorflow as tf
import torch
import torch.nn as nn
import yaml
from tensorflow import keras
from tensorflow.python.framework.convert_to_constants import convert_variables_to_cons

[2021-06-28 04:29] taloot commented on #317
i found solution for this,  its related to class number i manage to run yolov5s on 512x512
https://www.youtube.com/watch?v=D9IExho8pwo
keep the classes less than 7 and it works i been debugging this for a month till i found it

[2021-06-28 05:03] #406 closed, assigned to nobody

[2021-06-28 06:55] mezdahun commented on #317
@taloot I don't know about @aviraljain99  but I have a single detection class and yet it is not getting compiled with the '-a' flag and therefore the inference is pretty slow. Have you tried compiling the 640x640 SSD Mobilenet v2 FPNLite instead of 512x512 Yolov5? It is good to know that Yolov5 is a possible option though. Is there any update on this @manoj7410 to know if it was possible at all?

[2021-06-28 19:26] TaylorBurnham opened #407 "/dev/apex_0 Not Found"
**Edit: This was being set up on an Intel NUC. This issue was resolved by disabling secure boot in the BIOS.**

I've installed the M.2 TPU and followed the steps, but when running the last step I am hitting this error. I've followed some of the other issues and can't find any similarity.

[code]

Here is the information for the system.

[code]

Build Log

[code]

recordmcount

[code]

[2021-06-28 19:35] pirazor commented on #405
Hmm, I am actually able to run the 640 pretrained model. it is slow, but it runs. I couldn't access your files btw, the link may have expired. But, I think my tflite model is compiled slightly different than yours. Can you share the netron images of your graph ?

[2021-06-28 22:08] magic-blue-smoke commented on #256
Hi @pdecat @mitchross @saket424 @jaburges @mattncsu @retrospectsecurity @F0rged @DeepDubbed
I'm developing adapters for Dual Edge TPU to use both cores on systems with single m.2 PCIe
Currently I soldered AE key adapter and have bare PCBs for BM
Could you please take a look at logs and suggest further tests to see if my design any good?
magic-blue-smoke/Dual-Edge-TPU-Adapter/issues/1

[2021-06-28 23:03] taloot commented on #405
[161512-int8_edgetpu.zip](https://github.com/google-coral/edgetpu/files/6729632/161512-int8_edgetpu.zip)
this is my working high speed yolov5s@512

this one im able to reach 20fps solid
yolov5s 512x512 = 45ms
yolov5s 448x448 = 38ms
yolov5s 416x416=26ms
yolov5s 320x320 = 18ms
yolov5m 448x448 = 90ms
thats my score how about urs
and i guess 640x640 with yolov5s will be perfect for my application,

[2021-06-28 23:06] taloot commented on #405
u success compiler 640 with -a flag?
without -a i can but with -a i cant

[2021-06-28 23:48] PINTO0309 commented on #279
I'm going to close it since I can't seem to get any response. Too much time has passed and it no longer makes sense, so I'm moving on to EfficientDet-lite.
https://github.com/PINTO0309/PINTO_model_zoo/tree/main/103_EfficientDet_lite

[2021-06-28 23:48] #279 closed, assigned to nobody

[2021-06-29 03:28] dungcules opened #408 "swiotlb buffer is full"
I am working with coral board and a camera SDK. I am able to run a few examples with this camera SDK. However, one examples returns me the a full swiotlb buffer. In dmesg, following errors are reports
`[  437.548691] dwc3 38200000.dwc3: swiotlb buffer is full (sz: 16384 bytes)`
`[  437.555402] dwc3 38200000.dwc3: DMA: Out of SW-IOMMU space for 16384 bytes `
`[  437.562892] usb 2-1.2: usbfs: usb_su

[2021-06-29 03:43] pirazor commented on #405
@taloot, your model has multiple subgraphs that might be causing IO issues with large tensors being sent to CPU back and forth. Are you using a USB accelerator attached to a PC ? Would you also share the int8 tflite model before you compile.  You may not need that last transpose operations which output large tensors into the TPU.

[2021-06-29 05:16] taloot commented on #405
thanks for ur quick response.
i have m2 coral,
[tpu.zip](https://github.com/google-coral/edgetpu/files/6730835/tpu.zip)

[2021-06-29 05:54] pdecat commented on #256
Logs look great, you may want to test Frigate NVR on this setup: https://github.com/blakeblackshear/frigate

Do you plan to publish the design of your adapter or sell some adapters?

[2021-06-29 08:44] caijinana commented on #403
i got the fllowing error:Operation is working on an unsupported data type，and edgetup_tflite is 0

[2021-06-29 09:07] caijinana opened #409 "tflite convert to _edgetpu.tflite"
Operator                       Count      Status

DEPTHWISE_CONV_2D              1          Mapped to Edge TPU
RESHAPE                        1          Mapped to Edge TPU
MAX_POOL_2D                    2          Mapped to Edge TPU
FULLY_CONNECTED                2          Mapped to Edge TPU
CONV_2D                        2          Mapped to Edge TPU
ARG_MAX                        1          Ope

[2021-06-29 10:02] brunovollmer opened #410 "tflite-runtime (2.5) needs GLIBC_2.29 with Python 3.8"
Hey,

I'm not sure if this is the right place but I'm having problems with the tflite-runtime and python 3.8 on the coral dev board.
I've upgraded to python 3.8 due to some other requirements and installed tflite-runtime with version 2.5.
Now when I try to import the runtime I get this error:
[code]
Any suggestions how to fix this?

Bruno

[2021-06-29 11:08] magic-blue-smoke commented on #256
@pdecat thanks. If models are there, I'll try it
I plan to sell these adapters and can send prototypes for testing. Let me know if you're interested

[2021-06-29 12:02] saket424 commented on #256
@magic-blue-smoke
I certainly would be interested in testing your part. Let us know when and how I go about procuring it

[2021-06-29 12:27] mattncsu commented on #256
I'd also be interested in testing one. Currently using a USB TPU to do inference on multiple cameras and have wanted to try out the dual edge tpu since it came out.
@pdecat- frigate looks awesome. I have a homegrown solution I developed in python a year ago to do "smart" ai detection but that seems 100x better!

[2021-06-29 12:53] manoj7410 commented on #407
@TaylorBurnham I assume that you are not running these commands on a virtual box ?
Can you also paste the output of 'dmesg' once you see the error: ls: cannot access '/dev/apex_0': No such file or directory ?

[2021-06-29 12:59] hjonnala commented on #403
If you don't mind please close this issue as it is not related to the original issue and create new issue with detailed error and the  the commands that you executed.

[2021-06-29 13:17] TaylorBurnham commented on #407
Correct, this is being run on the host OS. My intent is to expose this in a docker container but I wanted to run the benchmarks first.

`dmesg` output is below after a fresh reboot.

[code]

[2021-06-29 13:21] hjonnala commented on #409
please share your input tflite and command executed.

[2021-06-29 13:33] mitchross commented on #256
@magic-blue-smoke I am interested in trying. Your logs look perfectly fine. There is nothing wrong with the output.

[2021-06-29 13:37] caijinana commented on #409
how to upload file?

[2021-06-29 13:46] hjonnala commented on #409
Have it in google drive or any cloud based storage and share the link with us..

[2021-06-29 14:29] manoj7410 commented on #408
@dungcules Can you try the following method:

=> setenv othbootargs swiotlb=65536
=> printenv othbootargs
othbootargs=swiotlb=65536
=> saveenv

[2021-06-29 14:34] manoj7410 commented on #407
I don't see an apex entry in your dmesg logs.
Can you please confirm if you checked point 2 from https://coral.ai/docs/m2/get-started/#2a-on-linux ?
Which says: If your kernel version is 4.19 or higher, now check if you have a pre-build Apex driver installed:

lsmod | grep apex
If it prints nothing, then you're okay and continue to install our PCIe driver.

[2021-06-29 15:51] dungcules commented on #408
The setting of my environment is below:
`u-boot=> printenv`
`baudrate=115200`
`bootcmd=ext2load mmc 0:1 ${loadaddr} boot.scr; source; boota mmc0 boot_a`
`bootdelay=10`
`bootdev=0`
`ethaddr=`
`ethprime=FEC`
`fastboot.mmc_size=15678308352`
`fastboot_dev=mmc0`
`fdt_high=0xffffffffffffffff`
`fdtcontroladdr=ff931390`
`initrd_high=0xffffffffffffffff`
`loadaddr=0x40480000`
`m4boot=ext2load mmc ${bootdev}

[2021-06-29 15:54] TaylorBurnham commented on #407
I've confirmed that prior to following the steps, sorry for not including it in my original post. I verified it was not preinstalled with the Debian 10 network installer prior to moving forward.

[2021-06-29 16:35] PrplHaz4 commented on #256
For anyone else that can't get their hands on a USB Coral - I was able to get a Mini PCIe Coral TPU working with the Low Profile HP WN7004 PCIe WLAN Card (716869-001).  ProxMox passes it through successfully and is working fine in a docker container running Frigate.

[2021-06-29 17:15] pdecat commented on #256
Getting a single core Edge TPU working in a PCIe/mini PCIe port with only a 1x PCIe lane working is not an issue to be honest.
The real challenge here is getting both cores of the [Dual Edge TPU](https://coral.ai/products/m2-accelerator-dual-edgetpu) working.
Not sure how @magic-blue-smoke's adapter design makes that possible, but I'd be glad to try it too.

[2021-06-29 19:26] PrplHaz4 commented on #256
I partially agree - in my search there were numerous reports of the single core mini PCIe cards not working with some mini PCIe adapter boards, so I wanted to report back of a known working solution.  Bonus points for it working on recycled hardware that has very little (other) useful life left.

An adapter for the dual TPU would've been a clear winner when I was looking for a non-usb solution (bu

[2021-06-29 20:36] hjonnala commented on #410
@brunovollmer try this solution and let us know if it works or not.
https://forum.juce.com/t/solved-glibc-2-29-not-found-on-ubuntu-18-04/34960

[2021-06-29 21:04] hjonnala commented on #404
@BernardinD can you please provide some more details on your implementation with a camera loop.

[2021-06-29 21:46] smnschfr commented on #256
For those of you who missed it, there's now the ultimate [adapter card](https://iot.asus.com/products/AI-accelerator/AI-Accelerator-PCIe-Card/) from Asus that supports 8 Dual Edge TPUs. But it's not exactly cheap.

And also for anyone who might be interested, [this adapter card](https://www.ebay.de/itm/392900646263) has worked for me to get the Mini PCIe module working a PCIe slot.

[2021-06-29 22:49] judahkshitij opened #411 "Efficientdet-lite3 on TPU: compiler prints version and exits when using num_segments parameter"
Hello,
   I am trying to compile an efficientdet-lite3 tflite model using TPU compiler but when using --num_segments or -n option, the compiler just prints the compiler version and exits without outputting anything. The command I am running is:

**edgetpu_compiler -s -n 2 int8-lite3.tflite**

I also tried commmand: **edgetpu_compiler int8-lite3.tflite --num_segments=2** but it did not help, same b

[2021-06-29 22:52] judahkshitij commented on #411
The int8-lite3.tflite model can be found [here](https://drive.google.com/drive/folders/1dig57pnZD5-XMB7nzF5NbiCk5eiKOx5X?usp=sharing)

[2021-06-29 22:52] judahkshitij commented on #411
The only output I get from edge tpu compiler after running above command is:

**Edge TPU Compiler version 15.0.340273435**

[2021-06-29 22:55] judahkshitij commented on #411
I also see similar behavior with int8-lite4.tflite model which is also located [here](https://drive.google.com/drive/folders/1dig57pnZD5-XMB7nzF5NbiCk5eiKOx5X?usp=sharing)

[2021-06-29 23:33] judahkshitij commented on #411
Additional info: when I try to compile efficientdet-lite0, lite1 or lite2 models, i am able to compile successfully, although I dont get all operations mapped to TPU it seems.

[2021-06-30 00:00] magic-blue-smoke commented on #256
@saket424 @mattncsu @mitchross @pdecat and everyone interested in testing, please sign up here:
magic-blue-smoke/Dual-Edge-TPU-Adapter/issues/2

[2021-06-30 01:30] caijinana commented on #409
i want to know, Operation is working on an unsupported data type,Does it affect the result?

[2021-06-30 02:22] hjonnala commented on #411
Edgetpu compiler is not able to compile the given tflite models. If you remove -n 2, it can be observed error message: Internal compiler error. Aborting! . Ideally, you should be able to see same error message when used -n 2 also, so it is a bug in the code.

[2021-06-30 02:28] hjonnala commented on #403
closing the issue as the original issue is resolved. And getting 0kb output issue can be found at https://github.com/google-coral/edgetpu/issues/409

[2021-06-30 02:28] #403 closed, assigned to hjonnala

[2021-06-30 07:17] manoj7410 commented on #407
Can you also paste the output of :
- lspci -vvv
- lsmod | grep apex
- lscpu

[2021-06-30 07:21] manoj7410 commented on #408
Can you paste the output of the below command after reboot:

dmesg | grep command

[2021-06-30 09:19] brunovollmer commented on #410
@hjonnala What exact solution do you mean? I'm not building tflite-runtime from source. I just installed it from the correct wheel. But might be that I'm missing something here

[2021-06-30 09:19] brunovollmer commented on #410
I'm not building tflite-runtime from source. I just installed it from the correct wheel

[2021-06-30 12:38] hjonnala commented on #410
@brunovollmer we have seen similar issue for others. They try to resolve the issue by lowering the python version to 3.6. As of now, we don't have solution for python 3.8.

[2021-06-30 13:00] hjonnala commented on #409
please find the supported coral edgetpu operations https://coral.ai/docs/edgetpu/models-intro/#supported-operations . Any unsupported operation would run on  cpu instead of edgetpu processor.  No, it should not affect the result though the operation is mapped to cpu.

[2021-06-30 14:01] Johannes-vaki commented on #391
I had a problem with many of these tutorials, I think because they are not specifically aiming to be compatible for the edgetpu_compiler.
[code]
I've had to explicitly tell the converter to use only int8 and uint8 for input and outputs and that requires you to supply a representative data to the converter. This admittetly was not with quantization aware training but might work for that too.

[2021-06-30 14:10] caijinana commented on #409
May be it will cause the _edge.tflite file is 0kb?

[2021-06-30 14:11] Johannes-vaki commented on #396
@Naveen-Dodda Do you know when your next release is. I am excited for this feature. Are they scheduled somewhere? I have searched the coral.ai website but not found any release schedule.

[2021-06-30 14:12] hjonnala commented on #409
yes, it might cause in getting 0kb output from edgetpu compiler.

[2021-06-30 15:11] brunovollmer commented on #410
Due to some features I need python 3.8. Do you think that rebuilding it from source could solve the issue?

[2021-06-30 15:12] dungcules commented on #408
This is the result of the command after reboot:

`# dmesg | grep command`
`[    0.000000] Kernel command line: console=ttymxc0,115200 console=tty0 earlycon=ec_imx6q,0x30860000,115200 root=PARTUUID=70672ec3-5eee-49ff-b3b1-eb1fbd406bf5 rootfstype=ext4 rw rootwait init=/sbin/init net.ifnames=0 pci=pcie_bus_perf iommu=soft swiotlb=65536`
`#
`

[2021-06-30 19:03] judahkshitij commented on #411
Hello, thanks for the reply. While it is definitely a bug that the compiler did not output right error message when -n or --num_segments argument is passed to it, I think it is also a bug that the compiler is not able to compile Efficientdet-lite3 or lite 4 models, even when it is able to do so for lite0, lite1 and lite2. As per the this [tutorial](https://colab.research.google.com/github/google-c

[2021-07-01 00:58] taloot commented on #405
i love to map the transpose to tpu,, best i can achive for yolov5s is 38ms 512x512 which is perfect for me,, but the transpose mapping i guess will add littel bit gain

[2021-07-01 01:11] caijinana commented on #409
how to slove the edgetpu compiler unsupport arg.max()

[2021-07-01 06:18] manoj7410 commented on #408
Are there any particular steps that you can share to reproduce this error ?

[2021-07-01 09:42] manoj7410 commented on #370
@Gerfindel Is this issue still reproducible ?

[2021-07-01 09:44] manoj7410 commented on #357
@Sunkian Are you still facing this issue ?

[2021-07-01 10:25] manoj7410 commented on #104
Feel free to reopen if this is still an issue.

[2021-07-01 10:25] #104 closed

[2021-07-01 15:04] hjonnala commented on #409
To investigate further please share the model via attachment or email to coral-support@google.com. If they are any concerns regarding the model architecture, you can always send us fake architecture model as long as we can reproduce the same issue.

[2021-07-01 17:15] hjonnala commented on #370
@Gerfindel please try to Connect to the Dev Board's serial console

Please follow these steps:
1. download windows drivers from this link https://www.silabs.com/developers/usb-to-uart-bridge-vcp-drivers for Silicon Labs Dual CP2105 USB to UART Bridge
2. follow these instruction https://coral.ai/docs/dev-board/serial-console/#connect-with-windows
3. once you login with putty try this nmcli dev wifi

[2021-07-01 21:52] dungcules commented on #408
I think I found the root cause of this. The issue does not come from the board itself but from the SDK that I used. I am working with a camera SDK and the code is built when the size of buffer is 16KB. After I update this buffer size to 64KB without rebuilt the SDK correctly, the old buffer size is used for these builds. There are some other issues with matching clock between my board and the one

[2021-07-01 21:52] #408 closed, assigned to manoj7410

[2021-07-02 04:22] manoj7410 commented on #355
@vganjali Were you able to fix this problem ?

[2021-07-02 06:41] manoj7410 commented on #334
Marking this as closed due to lack of activity. Feel free to reopen if this issue is still persistent.

[2021-07-02 06:41] #334 closed, assigned to manoj7410

[2021-07-02 06:55] arun-kumark commented on #334
Sorry, it was a BIOS bug which was not binding the driver correctly, so the device just appeared at the time of boot and later disappeared. Now it has been solved with solving the BIOS bug. thanks for closing.

[2021-07-02 07:02] manoj7410 commented on #318
Looks like the issue has been fixed. Marking it closed. Feel free to reopen if the issue still persists.

[2021-07-02 07:02] #318 closed, assigned to manoj7410

[2021-07-02 07:09] manoj7410 commented on #316
@steamhyperpolyglot and @strubell are you still facing this issue ?

[2021-07-02 07:13] manoj7410 commented on #312
@harrison0451 Did you try to connect the board with any other host machine as well ?

[2021-07-02 07:18] manoj7410 commented on #308
@WagoAlex Were you able to fix this ?

[2021-07-02 07:25] WagoAlex commented on #308
No, due to the supported PCIE V2.0 it isn’t possible.

Holen Sie sich Outlook für iOS<https://aka.ms/o0ukef>
________________________________
Von: Manoj ***@***.***>
Gesendet: Friday, July 2, 2021 9:19:09 AM
An: google-coral/edgetpu ***@***.***>
Cc: Fugmann, Alexander ***@***.***>; Mention ***@***.***>
Betreff: Re: [google-coral/edgetpu] Failed to verify PCIE is loaded (#308)

@WagoAlex<https://ur

[2021-07-02 08:38] manoj7410 commented on #295
@stefano555 Were you able to fix this issue ?

[2021-07-02 08:41] manoj7410 commented on #288
@nadongguri Were you able to fix this ?

[2021-07-02 08:44] manoj7410 commented on #286
Feel free to reopen if this issue still persists.

[2021-07-02 08:44] #286 closed, assigned to manoj7410

[2021-07-02 08:44] #282 closed, assigned to manoj7410

[2021-07-02 08:56] manoj7410 commented on #260
Feel free to reopen if this issue still persists.

[2021-07-02 08:56] #260 closed, assigned to manoj7410

[2021-07-02 09:00] manoj7410 commented on #225
Feel free to reopen if this issue still persists.

[2021-07-02 09:00] #225 closed

[2021-07-02 09:10] manoj7410 commented on #218
Feel free to reopen if this issue still persists.

[2021-07-02 09:10] #218 closed

[2021-07-02 09:13] manoj7410 commented on #217
I believe this was fixed with the newer release of the compiler. Feel free to reopen if the issue still persists.

[2021-07-02 09:13] #217 closed

[2021-07-02 09:56] gilescoope commented on #410
I'm having the same issue. I need both Python 3.8 (for multiprocessing with shared memory) and Tensorflow 2.5.0 (training with an RTX 30XX card).

[2021-07-02 11:27] TaylorBurnham commented on #407
Here's the output - the hardware is an Intel NUC i5 for reference. I didn't install the OS with the module installed, and I'm not opposed to a scratch install with it to see if the Debian installer resolves it. I'm also willing to try another OS or live installer for troubleshooting purposes.

`lsmod | grep apex` returns no output.

[code]

[code]

`lspci -vvv`

[code]

[2021-07-02 12:01] hjonnala commented on #312
@harrison0451  try this coomand: nmcli dev wifi connect <NETWORK_NAME> password <PASSWORD> ifname wlan0
and then check: nmcli connection show

@kalron90 please try to connect using serial console https://coral.ai/docs/dev-board/serial-console/

[2021-07-02 12:54] manoj7410 commented on #407
Okay. Not sure if your machine supports MSI-X which is a requirement to run Coral PCIe products..
Can you run below commands :

- sudo modprobe apex
- lsmod | grep apex
- modinfo apex
- ls /dev/apex*

And then try the demo ?
apex device should be displayed as Global Chip Inc device in lspci -vvv.

[2021-07-03 18:51] forkineye commented on #256
Does anyone know if the B+M key version will work with a SATA adapter like [this one](https://www.amazon.com/Sabrent-2-5-Inch-Aluminum-Enclosure-EC-M2SA/dp/B01N6PMZLW) or does it require more from the M.2 slot?

[2021-07-03 19:06] awskhd commented on #224
@Namburger
Hallo ,
i have done the inference on Coral board using c++ and Python and results say that inference time in C++ slower than Python , i find that is not true but i can not find the reasons for that, thanks very much

[2021-07-03 19:48] magic-blue-smoke commented on #256
It will not work. Module expects PCIe, not SATA.

[2021-07-05 07:54] manoj7410 commented on #173
I believe this was fixed with the newer compiler release. Feel free to reopen if this is still an issue.

[2021-07-05 07:54] #173 closed

[2021-07-05 09:26] #140 closed

[2021-07-05 09:28] manoj7410 commented on #132
I believe this has been fixed. Feel free to reopen if this issue still persists.

[2021-07-05 09:28] #132 closed

[2021-07-05 09:30] #128 closed

[2021-07-05 10:07] brunovollmer commented on #410
Any news/ideas on this?

[2021-07-05 10:18] gilescoope commented on #410
The only solution I have is to train in Tensorflow 2.5, then copy the weights to a network built in Tensorflow 2.2 and convert and run on tflite_runtime 2.2. The interopability and support for newer Tensorflow versions with Coral hardware has been extremely disappointing to say the least.

[2021-07-05 11:47] dentigo opened #412 "Failed to compile quantized model"
Hi, I am trying to convert a frozen graph to a quantized model which is able to run on edge tpu.
And I tried several configurations, however, none of them worked.
Here are the details:

with tensorflow < 2.4.0:
unable to quantize

with tensorflow 2.4.0:
unable to quantize

error log:
[code]

with tensorflow 2.5.0 :

able to quantize
unable to compile

error log:
[code]

with tf-nightly-2.6.0.dev20

[2021-07-05 12:33] NobuoTsukamoto opened #413 "EfficientDet-lite3x Error: transfer on tag 1 failed. Abort. Deadline exceeded: USB transfer error 2"
### System information
- Raspberry Pi 4 Model B Rev 1.2 4GB
- Coral USB Accelerator
- Raspberry Pi OS 32bit (Release date: May 7th 2021)
- libedgetpu version 15.0
- tensorflow lite 2.5.0

### Describe the current behavior
The following error occurs on the Edge TPU model of EfficientDet-lite3x.
[code]
From the #11 and #70 issues, I thought it was a power problem and used a self-powered USB hub, but

[2021-07-05 13:41] hjonnala commented on #173
Newer version of edgetpu compiler able to compine tqn_quantized.tfile succeesfully!

Evidence log:

Edge TPU Compiler version 15.0.340273435

Model compiled successfully in 4076 ms.

Input model: /content/drive/Shareddrives/OSS Developer Support/Coral DevSupport/Github & SO Analysis/github/edgetpu/173/tqn_quantized.tflite
Input size: 10.72MiB
Output model: tqn_quantized_edgetpu.tflite
Output size:

[2021-07-05 17:17] hjonnala commented on #412
@dentigo can you share your saved model?

try to convert using one of the methods below:

1. tf.lite.TFLiteConverter.from_saved_model() (recommended): Converts a SavedModel.

2. tf.lite.TFLiteConverter.from_keras_model(): Converts a Keras model.

instead of tf.compat.v1.lite.TFLiteConverter.from_frozen_graph  method.

Reference: https://www.tensorflow.org/lite/convert

[2021-07-06 01:18] dentigo commented on #412
Actually, its a tensorflow 1.x model which can be only converted from frozen graph/session/saved_model (tf1 version).

[2021-07-06 09:54] brunovollmer commented on #410
@hjonnala Is there no other way? Or anything planned on your side? I mean python 3.8 is not that new.

[2021-07-06 16:28] Zee0549 opened #414 "Couldn't establish ssh connection to device: socket error: [Errno 60] Operation timed out"
Hi,

I can not establish ssh connection via MacOS Catalina. I have made the authorized key file following the instruction, but I still got the error:
'Couldn't establish ssh connection to device: socket error: [Errno 60] Operation timed out'
When I use the command: mdt devices, I got nothing, but when I use mdt wait-for-device, I got: Found 1 devices.

The coral dev board has the wifi connection.

[2021-07-07 00:48] hjonnala commented on #368
@shaunmitchellve sorry for the delay, are you still facing the issue? if yes, please try to flash the board using SD card.

Reference: https://coral.ai/docs/dev-board/get-started/#flash-the-board

[2021-07-07 09:41] manoj7410 commented on #414
The issue is that "Ethernet over USB" is not supported in Catalina.

You can ssh into the board without mdt. You can do this by connecting your host machine with the serial cable and use the "screen" command, as when you flashed the board. You can then copy the public key from your ~/.ssh/id_rsa.pub and put it in the ~/.ssh/authorized_keys on the dev board. Then you should be able to ssh with just

[2021-07-07 10:23] manoj7410 commented on #413
I would suggest you to change the log_level of libedgetpu at https://github.com/google-coral/libedgetpu/blob/master/port/default/port_from_tf/logging.cc#L171 and then rebuild this library by following the instructions given at https://github.com/google-coral/libedgetpu#building.

You can set the log_level value from 1 to 10 (10 being the most detailed) to get the detailed output of libedgetpu and

[2021-07-07 12:31] TaylorBurnham commented on #407
It's not showing up except for the `modinfo` command. This is a fresh install so I'm open to recommendations, including a scratch install to get this working.

[code]

[2021-07-07 16:18] hjonnala commented on #365
@WKMan are you able to compile the model?

[2021-07-07 17:20] hjonnala commented on #255
Closing the issue as it got fixed with newer versions.
![Screenshot from 2021-07-07 10-19-43](https://user-images.githubusercontent.com/86132058/124802588-fc464f80-df0c-11eb-8c74-b1a9adf65c28.png)

[2021-07-07 17:20] #255 closed, assigned to hjonnala

[2021-07-07 18:15] hjonnala commented on #85
Closing the issue due to inactivity. Feel free to reopen if this issue still persists.

[2021-07-07 18:15] #85 closed

[2021-07-08 06:29] manoj7410 commented on #407
Can you run these commands and share the output:

echo "deb https://packages.cloud.google.com/apt coral-edgetpu-stable main" | sudo tee /etc/apt/sources.list.d/coral-edgetpu.list

curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -

sudo apt-get update

sudo apt-get install gasket-dkms libedgetpu1-std

sudo sh -c "echo 'SUBSYSTEM==\"apex\", MODE=\"0660\", GROUP=\"apex\"

[2021-07-08 09:41] brunovollmer commented on #410
So far I think the solution seems to be to built the tf lite wheel by yourself with the provided docker image. Will test if it works tomorrow.

[2021-07-08 09:57] edumotya commented on #411
I have the same issue when compiling Efficientdet-lite2 with -n greater than 1. On the other, for -n equals 1 it works smoothly.

### 1 segment

I get the files model_edgetpu.tflite and model.tflite, and the following output for 1 segment:

[code]
### 2 segments

I do not get any files, and the following output for 2 segments:
[code]

### 3 or more segments

I do not get any files, and the followi

[2021-07-08 10:32] TaylorBurnham commented on #407
I ran through and confirmed all of those were already executed / in place. This is the only one which had useful output.

[code]

[2021-07-08 11:51] Zee0549 commented on #414
Hi,

Thanks a lot for this instruction. The ssh connection has been established, but I found another problem.
When I am trying to use mdt push command, I got the following error:

(base) apple@zz-2 Pictures % mdt push model_nasa_bearing_CNN.tflite
Waiting for a device...
Unable to find any devices on your local network segment.

If I run mdt wait-for-device, the output is 'Found 1 devices', and I

[2021-07-08 12:19] NobuoTsukamoto commented on #413
@manoj7410
Thank you for the information. The log when the `log_level` is set to 10 is attached.
It seems that the `LIBUSB_TRANSFER_TIMED_OUT` error is occurring repeatedly.

[error.txt](https://github.com/google-coral/edgetpu/files/6784282/error.txt)

[2021-07-08 13:13] AkkiSony opened #415 "ModuleNotFoundError: No module named 'pycoral'"
I am new to coral, and hence, I started to follow the official guidelines from https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu . I am getting an error as shown below.

**(myvirtenv) learningtime@learningtime:~/coral-tpu/coral/pycoral1$ python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_l

[2021-07-08 13:18] manoj7410 commented on #415
Please share the output of :

python3 --version

[2021-07-08 13:19] hjonnala commented on #415
Hello, have you tried these steps: https://coral.ai/docs/accelerator/get-started/#2-install-the-pycoral-library

[2021-07-08 13:24] AkkiSony commented on #415
@manoj7410  Python 3.6.9

[2021-07-08 13:25] AkkiSony commented on #415
@hjonnala Yes, I followed all the steps mentioned.
I even checked if pycoral is installed.

When I did, "pycoral.__version__" , I got an output of '1.0.1'

[2021-07-08 13:31] hjonnala commented on #415
can you try renaming pycoral1 to pycoral inside coral directory

[2021-07-08 13:32] AkkiSony commented on #415
@hjonnala I tried it, yet could'nt solve the issue.

(myvirtenv) learningtime@learningtime:~/coral-tpu/coral/pycoral$ python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg
Traceback (most recent call last):
  File "examples/classify_image.py", line 36, in <module>
    from pycora

[2021-07-08 14:04] hjonnala commented on #415
It seems virtual environment not able to recognize ..coral/pycoral/pycoral folder..

in classify_image.py  try adding these lines before import argparse:

import sys
sys.path.append(path of your coral directory)

[2021-07-08 14:28] AkkiSony commented on #415
I added this in the classify_image.py file

**import sys
sys.path.append('/home/learningtime/coral-tpu/coral')**

Yet, I did not resolve the issue.

But, when I added the path to pycorla folder, like shown below:
**import sys
sys.path.append('/home/learningtime/coral-tpu/coral/pycoral')**

I am getting another new error.
**(myvirtenv) learningtime@learningtime:~/coral-tpu/coral/pycoral$ python3 ex

[2021-07-08 14:46] hjonnala commented on #415
Please check if you have pybind folder inside  ../lib/site-packages/pycoral..

if you have adpaters, learn, pipeline and utils folders also in this folder try replace

sys.path.append('/home/learningtime/coral-tpu/coral/pycoral')
with
sys.path.append(path to site-packages/pycoral)

[2021-07-08 15:21] shaunmitchellve commented on #368
@hjonnala I am still facing this issue, I have yet to get past the booting loop.

I've tried to re-flash the board using the SD card method and the latest download enterprise-eagle-flashcard-20210518200035.

Once switching the eMMC switches back to ON OFF OFF OFF, the dev board continues to loop exactly as described in initial issue.

[2021-07-08 15:42] hjonnala commented on #368
Can you please confirm the below steps

1. The board is fully unplugged
2. Inserted the SD card
3. eMMC switches are ON OFF ON ON
4. Only USB-C power cable is attached to the board
3. Unplug the power only after  board shuts down and the red LED turns off.
4. Unplugged the power and removed sd card
5. Changed the switches back  ON OFF OFF OFF

[2021-07-08 15:43] Zee0549 opened #416 "Egdetpu.tflite Converting Error"
Hi there,

When I try to convert my .tflite model to Edgetpu.tflite, I got this error:

’‘’
Edge TPU Compiler version 15.0.340273435
Invalid model: model_nasa_bearing_CNN.tflite
Model not quantized
‘’‘

Here is how I convert my tf model to tflite:

‘’‘
run_model = tf.function(lambda x: model(x))
BATCH_SIZE = 1
STEPS = 4
INPUT_SIZE = 1279
concrete_func = run_model.get_concrete_function(tf.TensorSpe

[2021-07-08 15:55] hjonnala commented on #416
Hello,

I 've visualized the model using netron.app. I can see the model layers have datatype of float 32.
we need to fully quantize the model to int8 format.

please check these tutorial section convert to TF Lite
https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=P0_StAtZwJ5p

[2021-07-08 20:07] shaunmitchellve commented on #368
Yes, I can confirm that is the exact process I undertook. I just re-did it to make 100% sure and I left the serial port unplugged this time on first boot.

Now  the board fan kicks in (I assume during boot up process) but then it stops, the red power lights turns off for a split second and then everything start agains (fan spins up).

[2021-07-08 21:14] Zee0549 commented on #416
Hi,

I followed this instruction, but I got this error when I am converting LSTM:

ValueError: Failed to parse the model: pybind11::init(): factory function returned nullptr.

The weird thing is, when I created a CNN model, it works well. Does this mean LSTM is not supported yet?

This is how I create this demo LSTM model:

model = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape=(4, 1

[2021-07-08 21:20] hjonnala commented on #416
can you please share your quantization script and saved model?

[2021-07-08 21:26] Zee0549 commented on #416
Hi,
Here is the Colab link:
https://colab.research.google.com/drive/1_NstPsGiyZE5VqnRREDPwUvrV6Ethqma?usp=sharing

[2021-07-08 21:42] hjonnala commented on #416
There is an open issue in tensorflow repository for this error.

https://github.com/tensorflow/tensorflow/issues/46821

please check with tensorflow team.

[2021-07-08 23:06] Zee0549 commented on #416
Hi,

Thanks a lot for your support. I will check this with tf team.

BTW, I got this edgetpu.tflite works on the google dev board now. I noticed that, to run an inference with edgetpu.tflite, the data type should be uint8. However, while creating the tf model, I normalized my data to range (0, 1). In this case, if I convert my data to uint8, all my data will be 0 or 1. Does this mean I can not nor

[2021-07-09 03:13] manoj7410 commented on #368
@shaunmitchellve What is the power source that you are using to boot the board ?

[2021-07-09 04:06] manoj7410 commented on #413
The error that you are seeing is with a non-edgeTPU model or with an edgeTPU model ?
And does the inference run even once or it straight away gives the error?

[2021-07-09 04:08] manoj7410 commented on #414
@Zee0549  Just to be sure on what I am understanding, are you saying that the mdt shell is working but mdt push is not working ?

[2021-07-09 06:38] AkkiSony commented on #415
I cannot find this folder -  ../lib/site-packages/pycoral..
Can you please tell  me where is it located exactly, please??

[2021-07-09 10:44] ulrichMarco opened #417 "detection boxes are carried over when inferenceing multiple videos"
OS: Ubuntu 20.04
Edgetpu Device: Coral USB Accellerator
Python: 3.8.5
tflite runtime: 2.5.0

Hey,
i encountered a kinda strange behaviour when trying to inference several videos/video streams. A detection box that is detectet in one frame on one image is carried over to the frame of an other video and is displayed there as well. When processing only one video, everything is fine.
Example of my err

[2021-07-09 11:06] NobuoTsukamoto commented on #413
- It's Edge TPU Model (Edge TPU delegate).
- I am using the model converted in this notebook.
  https://gist.github.com/NobuoTsukamoto/c47ed552c412db4dbfac97a8568f17f0
- The model used is as follows. EfficientDet-All models from Lite0 to Lite4 (FP32, FP16, INT8, Edge TPU) are available.
  I am using efficientdet-lite3x_int8_edgetpu.tflite.
  https://drive.google.com/file/d/1h9jRfps3U_pskP2gtJB9ox5

[2021-07-09 11:19] Zee0549 commented on #414
Yes, that's correct.

[2021-07-09 12:20] hjonnala commented on #415
Open python shell try the below snippet commands in results look for item which has site-packages (This is the place third party libraries would get installed in general): try both in virtual environment without virtual environment.
I guess pycoral installed outside virtual environment

[code]
![Screenshot from 2021-07-09 05-16-00](https://user-images.githubusercontent.com/86132058/125076605-f8354

[2021-07-09 13:43] AkkiSony commented on #415
I tried the command inside and outside the environment. But I did not find the pycoral in both of them :/
I tried installing pycoral again, but it is already installed.

**(myvirtenv) learningtime@learningtime:~$ sudo apt-get install python3-pycoral
[sudo] password for learningtime:
Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-pycoral is already

[2021-07-09 14:09] TaylorBurnham commented on #407
@manoj7410 While digging into a separate issue I disabled secure boot and it's now working. This may be an issue specific to the NUC since I was having failures running a wireguard docker image that cleared up once I disabled it. This might be worth including in the troubleshooting documents specific to the NUC platform.

[code]

Classification test

[code]

[2021-07-09 14:11] hjonnala commented on #415
please confirm, you are using LINUX OS.

[2021-07-09 14:11] AkkiSony commented on #415
I am working on PC - Virtal Machine - Ubuntu 18.04

[2021-07-09 14:11] manoj7410 commented on #407
@TaylorBurnham I saw that option somewhere on the internet but was hesitant to share here without testing. Anyways, good to know that it works. Thanks for letting us know.

[2021-07-09 14:11] #407 closed, assigned to manoj7410

[2021-07-09 14:14] hjonnala commented on #415
what is your native OS? can you try on native OS once?

[2021-07-09 14:15] AkkiSony commented on #415
Native is Windows. But, my requirement is to work on Ubuntu. Why would it not work on VM?

[2021-07-09 16:52] hjonnala commented on #410
Hello, @brunovollmer  @gilescoope  sorry for the delay. Yes, as you said built form wheel works.
wheels can be found here: https://github.com/google-coral/pycoral/releases
![Screenshot from 2021-07-09 09-51-39](https://user-images.githubusercontent.com/86132058/125111949-65f46400-e09b-11eb-8908-4b841272ddf0.png)

[2021-07-09 20:11] hjonnala commented on #415
@AkkiSony please try to install using pip instead of sudo and try the code.

`python3 -m pip install --index-url https://google-coral.github.io/py-repo/ --extra-index-url=https://pypi.python.org/simple pycoral`

[2021-07-09 20:44] hjonnala commented on #416
Hi, Normalization of inputs does not affect the quantization. As quantization would be performed on weights of the model.

[2021-07-09 21:00] hjonnala commented on #412
@dentigo have you tried using tf1.x saved_model?

[2021-07-09 21:04] hjonnala commented on #409
@caijinana are you still facing the issue?

[2021-07-09 21:32] hjonnala commented on #402
@Kampi i haven't found the example images in the code.zip and models.zip. Please send us the example images that you tested.

[2021-07-09 21:45] hjonnala commented on #394
@alexanderfrey I've visualize the model using https://netron.app/. I can see the model layers have datatype of int32. Please convert them to int8 and try to compile.

[2021-07-10 02:47] caijinana commented on #409
yes

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "google-coral/edgetpu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月10日(星期六) 凌晨5:04
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [go

[2021-07-10 09:46] hjonnala commented on #409
Ok. Please share your uncompiled .tflite model.

[2021-07-10 10:12] caijinana commented on #409
this is my convert code and the uncompiled .tflite model

------------------ 原始邮件 ------------------
发件人:                                                                                                                        "google-coral/edgetpu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月10日(星期六) 下午5:46
***@***.***&gt;;
*

[2021-07-10 10:17] hjonnala commented on #409
Sorry, I don't find any attachments. Please resend them.

[2021-07-10 11:11] caijinana commented on #409
ok this is my convert code and .tflite model

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "google-coral/edgetpu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月10日(星期六) 晚上6:17
***@***.***&gt;;
***

[2021-07-10 14:24] hjonnala commented on #417
Hi, does adding this line **interpreter.reset_all_variables()** in while loop after post function call would solve your issue?

[code]

[2021-07-11 09:04] Kampi commented on #402
Hi,

I can not add the images as ZIP container, so you have to download them from [my NextCloud](https://cloud.server-kampert.de/s/r56MpTnzManw9Bo).

Please note that I have used specific images on my Edge device (see my initial post for the image names).

[2021-07-11 09:08] Kampi commented on #402
@hjonnala

I can not add the images as ZIP container, so you have to download them from [my NextCloud](https://cloud.server-kampert.de/s/r56MpTnzManw9Bo).

Please note that I have used specific images on my Edge device (see my initial post for the image names).

[2021-07-11 09:54] brunovollmer commented on #410
I have been able to compile the tensorflow lite runtime with the provided docker image. Will test tomorrow if it solves the problem on the coral dev board!

[2021-07-11 14:56] hjonnala commented on #402
Hi,

I am unable to run the shallownet_train.py due to pyimagesearch dependency.

So I have used one of our tutorial to build the model using mobile net with the provided datasets.

Tutorials: https://github.com/google-coral/tutorials

Please check these files in the attachment:
1. mobilenet_v2_1.0_224_quant_edgetpu.tflite (converted edgetpu model)
2. python code to model and generate edgetpu file

[2021-07-11 20:42] Zee0549 commented on #416
Hi,

Thanks a lot for your help. I finally understand that the input data type should be pre-defined while creating the quantized model. Thank you so much!

[2021-07-11 20:42] #416 closed, assigned to hjonnala

[2021-07-12 02:49] caijinana commented on #409
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "google-coral/edgetpu"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年7月10日(星期六) 下午5:46
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [google-

[2021-07-12 03:45] hjonnala commented on #409
Hello,

I can see there is quantization problem for the tflite models. All the layers inputs/outputs of tflite need to be in int8 format.

please check these tutorial section **convert to TF Lite**
https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=P0_StAtZwJ5p

aditional tutorials: https://github.com/google-coral/tutorials
mode

[2021-07-12 05:21] manoj7410 commented on #414
Can you share the output of : "mdt devices" ?

[2021-07-12 06:44] ulrichMarco commented on #417
Hi, sadly this doesnt resolve the problem. Detections are still carried over to multiple frames.

[2021-07-12 07:20] caijinana commented on #409
my model is size is[1,784],but the image_classify.py need size_,width,heigh,_,and i don't know how to edit it
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "google-coral/edgetpu"                                                                                    ***@***

[2021-07-12 10:51] manoj7410 commented on #387
@strubell  I was not able to reproduce this issue at my end.
Are you still facing this issue ?

[2021-07-12 10:55] manoj7410 commented on #355
Feel free to reopen if the issue still persists.

[2021-07-12 10:55] #355 closed, assigned to manoj7410

[2021-07-12 11:30] #308 closed, assigned to manoj7410

[2021-07-12 13:35] Zee0549 commented on #414
"mdt devices" doesn't output anything:

(base) apple@zz-2 ~ % mdt devices
(base) apple@zz-2 ~ % mdt devices
(base) apple@zz-2 ~ %

mdt wait-for-device:

Waiting for device...
Found 1 devices.

mdt shell:
(base) apple@zz-2 ~ % mdt shell
Waiting for a device...
Unable to find any devices on your local network segment.

 mdt shell 192.168.10.102    (successful):
Linux fun-eft 4.14.98-imx #1 SMP PREEM

[2021-07-12 13:39] hjonnala commented on #414
It seems you are able to connect to to device using mdt tool. Can you please try mdt push now

[2021-07-12 14:23] hjonnala commented on #409
please change model input size when building model layers for training.

please refer to this tutorial section **Build the model**
https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=P0_StAtZwJ5p

IMG_SHAPE = (IMAGE_SIZE, IMAGE_SIZE, 3)

[2021-07-12 14:39] hjonnala commented on #392
There is no  document with the specification of bytecode / instructions for the Coral EdgeTPU as the compiler is not open sourced.

Please refer to this [page](https://coral.ai/docs/edgetpu/compiler/ )  which describes how to use the compiler and a bit about how it works.

[2021-07-12 14:39] #392 closed, assigned to hjonnala

[2021-07-12 14:40] joshfox10 commented on #305
I have also had the same issue at least twice.  I must [force-boot](https://github.com/google-coral/edgetpu) in order for the board to be operable again.  This seems to happen out of nowhere.  No connections other than USB-C to a Linux machine via MDT shell.  Have others continued to see this?  Has anyone found the root cause and fix?  Thank you.

[2021-07-12 14:54] Zee0549 commented on #414
Hi,

It's still not working:

(base) apple@zz-2 ~ % mdt push /Users/apple/Downloads/model_nasa_bearing_CNN.tflite
Waiting for a device...
Unable to find any devices on your local network segment.

[2021-07-12 14:55] hjonnala commented on #389
can you please share B4-B7 tflite models to investigate further.

[2021-07-12 15:06] ricardodeazambuja commented on #392
That's my point! I may understand the reasons to keep the compiler source code as a commercial secret (considering Google is doing something really clever that is not based on some open source project...), but it doesn't make sense to hide the bytecode / instruction set because any educated person can generate as many tflite models as necessary (Mr. Random is your friend), pass them through the co

[2021-07-12 15:30] shaunmitchellve commented on #368
@manoj7410 Good call out! I was using a phone charger that was providing  5V 2.5Amps. I switched over to a larger block that is providing 5V 3Amps and re-flashed the board.

That has seemed to resolve the boot cycle issue.

[2021-07-12 15:30] #368 closed, assigned to hjonnala

[2021-07-12 15:44] Kampi commented on #402
Hi,

thank you for the link. I will try it out in the next few days. I think the tutorial is also a good base for using custom models instead of `MobileNetV2`.

[2021-07-12 16:28] hjonnala commented on #262
closing due to inactivity. Feel free to reopen if this issue still persists.

[2021-07-12 16:28] #262 closed, assigned to hjonnala

[2021-07-12 23:14] hjonnala commented on #321
@marcin-kamionowski  can you please attach your full model.

[2021-07-13 09:43] marcin-kamionowski commented on #321
@hjonnala:
[yolo_no_fake_input.zip](https://github.com/google-coral/edgetpu/files/6807764/yolo_no_fake_input.zip)

[2021-07-13 20:50] ycunxi opened #418 "Pipeline with flexible control of model segmentation [followed tutorial so we tried TOCO but does not work]"
[Test platform = USB Accelerator]
[EdgeTPU Compiler version = 15]

We are interested in pipeline the model using our own segmentation, instead of using EdgeTPU compiler with argument -n.

Specifically, we followed tutorial on https://coral.ai/docs/edgetpu/pipeline/#segment-a-model, where it indicates that "If you want complete control of where each segment is cut, you can instead manually cut your

[2021-07-13 21:03] hjonnala commented on #418
Please try changing the file names to model_segment_1_of_2_edgetpu.tflite and model_segment_2_of_2_edgetpu.tflite. I mean the same way edgetpu_compiler -n 2 model.tflite  generate names.

If it doesn't work please share the detail error message.

[2021-07-13 22:48] koldogut commented on #345
I have the same issue but I has been working for some weeks. I had to reboot after a system crash (maybe produced by the device?) and then it stopped working. Coral pci device seems to be installed properly and is recognized by the system as apex_0 but no luck making it work again. No updates were applied before system crash and reboot.

[2021-07-13 22:57] ycunxi commented on #418
Please find the specific steps we performed below.

1. We split the inceptionV3 model into one frozen graph
2. Using toco converter to split it into two models and the two models are quantized using post-training quantization simultaneously. Then the models are saved in tflite format.
3. Compile the two tflite files using edge-tpu compiler.
4. Names are changed accordingly ( inception_v3_299_quant

[2021-07-13 23:42] hjonnala commented on #418
Please cross check output tensors with the edgetpu compiled models when passing -n 2 to versus TOCO generated indivdual compiled modes.

[2021-07-14 13:04] akanksharma commented on #189
Hello @Naveen-Dodda ,

We are also getting the same issue on one of our quant models created with TF2.4.
[code]
We have tried to reduce the model size to around 5 MB only but the issue still exists.
We are however able to compile all other models except this one.

Any help for this is appreciated.

Thanks in advance.

[2021-07-14 13:08] hjonnala commented on #189
@akanksharma please share the ufs_128_quant.tflite model

[2021-07-14 13:11] hjonnala commented on #321
@marcin-kamionowski Thanks for sharing the full tflite model. I don't know the exact date of next release. This issue would be fixed in next release which is very soon.

[2021-07-14 13:12] akanksharma opened #419 "Internal compiler error. Aborting! with edgetpu_compiler"
We are getting the below mentioned error with  one of our quant models created with TF2.4.

[code]
We have tried to reduce the model size to around 5 MB only but the issue still exists.
We are however able to compile all other models except this one.
Unfortunately there are no logs available.

Any help to solve this issues is appreciated.

There is one more similar issue created about this but not

[2021-07-14 13:13] hjonnala commented on #419
please try using new compiler version. If it won't work, please share the ufs_128_quant.tflite model.

[2021-07-14 13:33] akanksharma commented on #419
I tried to upgrade but still I am getting the same error

[ufs_128_quant.tflite.zip](https://github.com/google-coral/edgetpu/files/6816412/ufs_128_quant.tflite.zip)

[code]

Attached the quant model here.

[2021-07-14 16:34] hjonnala commented on #419
The compiler is failing as there are  too many of transpose ops which are not supported.

You can use https://netron.app/ to visualize the models.

please check all supported operations here: https://coral.ai/docs/edgetpu/models-intro/#supported-operations

[2021-07-14 20:05] Xoisai commented on #114
Hello @ricardodeazambuja, did you manage to get this working for RESIZE_NEAREST_NEIGHBOR?

[2021-07-14 20:20] Xoisai opened #420 "RESIZE_NEAREST_NEIGHBOR - Operation version not supported during compile"
I'm having issues with compilation on a model, when compiling, all processes are mapped okay with the exception of resize operations.

Using:
 - Tensorflow 2.5.0
 - Tensorflow-model-optimization 0.6.0
 - Browser Edge TPU Compiler version 15.0.340273435

Compiling quantised tflite model leads to the following:

[code]

Any suggestions?

[2021-07-14 20:27] hjonnala commented on #420
please check out edgetpu supported operations and limitations for RESIZE_NEAREST_NEIGHBOR   here: https://coral.ai/docs/edgetpu/models-intro/#supported-operations

Any unsupported operations would be mapped and  performed on CPU instead of EdgeTPU.

[2021-07-14 20:33] Xoisai commented on #420
Thanks @hjonnala, I checked that before and it should be okay, is there a way to override the loss aversion and map anyway?

[2021-07-14 20:36] hjonnala commented on #420
can you please share your tflite model to check with the internal team.

[2021-07-14 20:44] Xoisai commented on #420
Of course, [here](https://drive.google.com/file/d/1vTayquHmWzQdpXIhOzCcQ2jkRewWfN3M/view?usp=sharing) it is. Thank you for your help!

[2021-07-14 20:50] hjonnala commented on #420
Sorry, I was referring to uncompiled tflite model. Please share uncompiled model.

[2021-07-14 21:07] Xoisai commented on #420
Of course, [this](https://drive.google.com/file/d/1aL8DSP6GWzSRSV94Z8FXgIS7Q3WCKppO/view?usp=sharing) is the architecture. I was having difficulties with concatenation layers when converting to quantized tflite, hence the quantization annotations, and generating the final model for tflite conversion with:

[code]

The tflite model was then saved with:

[code]

[2021-07-15 15:33] hjonnala commented on #420
Hi,

Current compiler only works for TF1.x RESIZE_NEAREST_NEIGHBOR

The support for TF2.x RESIZE_NEAREST_NEIGHBOR  will be added in our next release and It is going to release very soon. May be within month.

[2021-07-15 16:10] Xoisai commented on #420
Okay thank you for looking into it, I'll have a go with the 1.15 Lite converter.

[2021-07-16 10:07] kueblert opened #421 "Video encoding"
Has anyone found a good way to record video to file on the Coral dev board? It does not seem to have any kind of hardware acceleration. Software h264 is too slow :-/

[2021-07-16 10:18] ulrichMarco commented on #417
@hjonnala
anything new about this issue?
Do you see similar results when you run the code, just to confirm that this isnt due defect hardware or anything else on my side?

[2021-07-16 12:29] letdivedeep commented on #419
Hi @hjonnala

I am trying to convert PyTorch model to tflite using this pipeline :
`Pytorch -> onnx -> saved_model -> tflite`

As we know Pytorch format is (NCHW) and the PB from is (NHWC), so when we convert using onnx2tf it adds lots of transpose to handle this

do we have an alternative way to avoid it and make it run on edge tpu

[2021-07-16 12:31] hjonnala commented on #417
Hi,

I also see the similar results. But I don't think so it is due to hardware. It is more like opencv issue.

For example you can refer to these stack overflow issues.
https://stackoverflow.com/questions/56002672/display-an-image-over-another-image-at-a-particular-co-ordinates-in-opencv

https://answers.opencv.org/question/173100/imshow-sometimes-dont-clear-previous-image/

[2021-07-16 13:07] ulrichMarco commented on #417
@hjonnala
i dont think its an opencv issue. I use opencv only for image reading drawing the detection boxes and showing the output images. If it would be an opencv issue i wouldnt get the exact same box count when i print out the number of detection boxes directly from the output data like so:

[code]