[2020-11-24 06:15] Faoran commented on #263
That's exactly how I set up the pcie passthrough (except I've bound the host device to vfio-pci, which is the modern version of pci-stub) and it sadly is not working.
I've already successfully used the passthrough to a docker container, so for me it seems strange that it won't work for qemu.

I've also tried it with an Ubuntu 20.04 guest system with the same results.

[2020-11-24 06:58] gaogzs opened #265 "Internal compiler error. Aborting!"
The model I used was initially a [pytorch model](https://1drv.ms/u/s!AvZvArIp3xKtjm7YwhSgeJrjEtLB?e=FqTnI6)
trained based on https://github.com/bubbliiiing/yolo3-pytorch
using [dataset](https://github.com/gaogzs/road-cam-yolo/tree/master/YOLO_DATA)
and being converted to a [tflite model](https://1drv.ms/u/s!AvZvArIp3xKtjm3pY2ikrYxAmYjp?e=XbvnIP)
by https://github.com/kuroko1t/nne (where nne/tflite

[2020-11-24 12:28] Namburger commented on #265
@gaogzs the steps you described are only converting a graph model to tflite and not a fully quantized integer quantization model. Either that or maybe you didnt provide enough info?
Anyhow, on that repo has a edgetpu version, which looks to me fully quantized can you try that instead?

I also suggest checking this page: https://coral.ai/docs/edgetpu/pipeline/
And look at the ops compatibility tabl

[2020-11-24 19:29] nibeh opened #266 "Upgrade release?"
https://github.com/google-coral/edgetpu/blob/6d699665efdc5d84944b5233223c55fe5d3bd1a6/WORKSPACE#L5
and SHA should be upgraded according to libedgetpu https://github.com/google-coral/libedgetpu/blob/14eee1a076aa1af7ec1ae3c752be79ae2604a708/workspace.bzl#L8
[code]
Otherwise execution with libedgetpu 15 from deb does not work.

[2020-11-24 19:35] Namburger commented on #266
@nibeh Thanks for reporting, we actually deprecated this repo in favor of pycoral and libcoral so this is left likethis so that the edgetpu package is compatible with the older libedgetpu release

src: https://coral.ai/news/updates-11-2020

[2020-11-24 19:48] #266 closed, assigned to nobody

[2020-11-25 06:06] ZhouKai90 commented on #254
@Naveen-Dodda  TensorFlow 2.3.0

[2020-11-25 15:23] gdebrecz commented on #211
Hi !
I have very similar / same issues:

user@node:/hpegpu$ edgetpu_compiler -o /tmp/output.tflite.edgetpu  ./frozen_inference_graph.tflite
Edge TPU Compiler version 15.0.340273435

Internal compiler error. Aborting!

Tried on many different platforms, same result everywhere. also tried with previous compiler (13)

I'm trying to compile this model:
[frozen_inference_graph.tflite](https://drive.goo

[2020-11-25 15:56] anemo-hypostasis commented on #260
I'm using Python 3.8 and unfortunately I can't find `tflite_runtime-2.1.0.post1-cp38-cp38m-win_amd64.whl` anywhere (@Namburger the link for the Python 3.8 library leads to a 404 page). I'm forced to use `tflite_runtime-2.5.0`, and I'm forced to use the newer 20201105 driver (can confirm 20200728 driver doesn't work with `tflite` 2.5.0)

It seems like the newer drivers aren't/are improperly signed.

[2020-11-25 16:02] Namburger commented on #260
@pandalion98 ahh, that's true, I forgot that we did not have python38 supports in the previous release.
We're working on the fix for the new release, including the signed share lib now, please expect this to be done in a few weeks, apologies.

[2020-11-25 19:48] akosb opened #267 "documentation updates"
Hi Coral Team,

 got a new 4GB board delivered today :) flashing and installing it now, and I would like to have the following comments:

**Issue 1)**
https://coral.ai/software/#debian-packages suggests _you must first add our package repo to your sources list_
 Don't think that it's necessary as the newly flashed Mendel image seems to have those package repos:
[code]

**Issue 2)**
https://coral.a

[2020-11-25 22:19] Namburger commented on #267
@akosb Thanks for the suggestions, @scottamain what do you think on 1 and 2?

On issue 3, that's kind of concerning, does this meaning you're unable to flash the board at all on Big Sur?

[2020-11-26 13:30] akosb commented on #267
@Namburger if you're asking if you're _without serial_ on Big Sur until new driver comes? my answer is **yes**
... for sure I had to fallback to a machine with linux, and it's there where initial key for ssh auth had to be fixed as well(!)

[2020-11-26 19:28] Namburger commented on #267
@akosb yeah, I imagine there would be issues with getting the ssh key going. But kinda sucks that mac Big Sur user wouldnt be able to flash the board since serial driver wont come with it :/
Im not sure if we can do much about it though

[2020-11-26 21:44] akosb commented on #267
@Namburger guess documentation could have some warning until it's supported again? Under [Install the udev rule or driver on your host computer.](https://coral.ai/docs/dev-board/get-started#11-initiate-fastboot-mode), in the section for Mac there is already a Caution box, it could be extended with some text, stating that Big Sur _currently_ not supported.

[2020-11-27 14:05] PRK56249 commented on #235
Same issue for me with enterprise-eagle:

Cannot open access to console, the root account is locked.
See sulogin(8) man page for more details.

[2020-11-27 14:42] gdebrecz commented on #211
Same error also for this model:  [deeplabv3_cityscapes_quantized_frozen_graph.tflite](https://drive.google.com/file/d/19s0m_SzI6HHhSk0hicEwbAct1tLk3a_F/view?usp=sharing) that has been produced following the official description [here](https://github.com/tensorflow/models/blob/394baa9f21424d3522ccfbdcee8acd3840891ff6/research/deeplab/g3doc/quantize.md).

Thanks for any help,

[2020-11-28 13:44] Oppila-Microsystems opened #268 "."

[2020-11-28 13:45] #268 closed, assigned to nobody

[2020-11-29 02:56] g30ba1 commented on #232
Hi to all.

Has anyone tried to use an edgetpu (Different from the USB model, it is the one I own) with a Raspberry Pi?

I've been looking information/documentation about using the mini PCIe or M.2 variants with that little SBC.

I'm thinking on using the Raspberry's CM4 IO Board (Using its PCIe 2 Gen x1 socket) with the edgetpu mini PCIe accelerator, but I don´t know if that combination is possib

[2020-11-29 19:35] Guillaume-slize opened #269 "Partition error when trying to flash the board with MacOs Catalina"
* Doc you were trying to follow: Get Started -Flashing the board +Flash from U-Boot on an SD card
* Your host OS: MacOs Catalina 10.15.7
* Your Python3 version: 3.6.8

I have tried flashing my coral board for a few hours from my mac now but without much success. I started with the regular tutorial to get started and then tried to U-boot from the SD card but both were unsuccessful and led to the sa

[2020-11-30 14:25] Namburger commented on #269
Hello, this seems to be an issue with the fastboot binary that you have, could you try this response?
https://android.stackexchange.com/a/224765

[2020-11-30 16:27] Guillaume-slize commented on #269
Dear Nam Vu,

That did the trick. Thanks a lot!

On Mon, Nov 30, 2020 at 3:26 PM Nam Vu <notifications@github.com> wrote:

--

Guillaume Slizewicz
www.guillaumeslizewicz.com
+32 496 53 6666

[2020-11-30 16:28] Guillaume-slize commented on #269
This worked. Thanks a lot.

[2020-11-30 17:16] Namburger commented on #269
Awesome, thanks for the update, will check to see if we need changes to the documentation

[2020-11-30 17:16] #269 closed, assigned to nobody

[2020-12-01 02:27] #102 closed

[2020-12-01 02:46] usbguru commented on #232
@g30ba1
We have tested the CM4 with the edge TPU, and the CM4 does not provide MSI-X interrupt signaling.  That prevents the edge TPU from working.

@martijndierckx
We have a couple of customers working on PCIe cards that will hold up to 8 or 16 edge TPUs in a single x16 PCIe slot.  Watch https://coral.ai/news for announcements when those products are for sale.

[2020-12-01 02:46] #232 closed

[2020-12-01 02:48] #188 closed

[2020-12-01 02:50] #52 closed

[2020-12-01 02:54] usbguru commented on #122
It might be possible to re-write the driver to use polling instead of interrupts, but would it be worth the effort to bring up a new driver so the edge TPU can run at significantly reduced performance?

[2020-12-01 02:54] #122 closed

[2020-12-01 02:56] #109 closed

[2020-12-01 03:21] #89 closed

[2020-12-01 03:23] #174 closed

[2020-12-01 03:40] #157 closed

[2020-12-01 13:34] gdebrecz opened #270 "edgetpu_compiler compiles forever"
Following the official deeplab tutorials, I've retrained:

`https//github.com/tensorflow/models/blob/master/research/deeplab/g3doc/model_zoo.md`

i.e. the cityscape-pretrained quantized MobilnetEdgeTPU based Deeplabv3 network on my custom dataset having 2 classes only.

Training, model freeze, tflite export and inference (using the frozen graph pb) went without problem, however edgetpu_compiler ca

[2020-12-01 13:49] Namburger commented on #270
Hey @Naveen-Dodda @usbguru could you guys take a look at this one?

[2020-12-01 18:22] #163 closed

[2020-12-01 19:05] #72 closed

[2020-12-01 22:14] Naveen-Dodda commented on #254
Got it, the default version of "RESIZE_NEAREST_NEIGHBOR" in TF 2.3.0 is not supported by edgetpu_compiler yet. So I recommend you to export/quantize the model using TF1.x if possible for now.

[2020-12-02 06:04] ZhouKai90 commented on #254
May I ask what's the plan to support RESIZE_NEAREST_NEIGHBOR V3 for edgetpu_compiler? It is inconvenient to use the  TF1.x version.

[2020-12-02 06:05] ZhouKai90 commented on #254
May I ask what's the plan to support RESIZE_NEAREST_NEIGHBOR V3 for edgetpu_compiler? It is inconvenient to use the TF1.x version.

[2020-12-02 10:14] danschu commented on #176
@Namburger Can you confirm this as a compiler bug?

[2020-12-02 15:25] arun-kumark opened #271 "Rule is missing dependency declarations for the following files included by 'flatbuffers/src/flatc_main.cpp':"
Dear all,

On my Google Coral device. I am facing the problem in building up the CPP packages.
When I compile with the following command, I faced the following logs errors.

`bazel build --sandbox_debug --subcommands --experimental_repo_remote_exec --compilation_mode=opt --define darwinn_portable=1 --action_env PYTHON_BIN_PATH=/usr/bin/python3 --cpu=k8 --embed_label='TENSORFLOW_COMMIT=f394a768719a

[2020-12-02 15:31] Namburger commented on #271
Hi @arun-kumark !
What target are you building (you can give the full command used for building) and

are you trying to build this on the dev board?

[2020-12-02 15:47] arun-kumark commented on #271
Hi Namburger,

I am building on the following environment:

**Target processor:**
Texas Instruments ARM AM 6548 (+Secure Boot), 2 GB DDR4 RAM
Quad Core processor (AM6548 HS)
2 GB RAM (DDR4)
16GB eMMc
included battery for RTC
preinstalled Simatic Industrial OS 2.0 (incl. License) on the eMMc

**OS**
It is based on Debian 9 (Long Term Support Kernel)

USB Google coral device is attached with the IOT

[2020-12-02 16:00] Namburger commented on #271
hi again -
Sorry, what I meant to ask was which [binary target](https://github.com/google-coral/edgetpu/blob/master/Makefile#L100) are you building and on what platform are you building from?
The Makefile that we provided can only be built on an x86_64 machine and it can cross compiles for [these architectures](https://github.com/google-coral/edgetpu/blob/master/Makefile#L28).
you may want to use

[2020-12-02 17:06] arun-kumark commented on #271
Thanks for the help Namburger.
I will check this once, and will update soon here.

[2020-12-03 06:08] zldrobit opened #272 "Will EdgeTPU support LeakyRelu and Hardswish ops?"
I was converting [yolov5](https://github.com/ultralytics/yolov5/pull/1127) int8 TFLite model to EdgeTPU, but LeakyRelu and Hardswish ops are not supported. (https://github.com/ultralytics/yolov5/pull/959)

![](https://user-images.githubusercontent.com/3896992/99060706-5f305280-25db-11eb-8c70-c0febd919ff2.png)

LeakyRelu and Hardswish is the major part of CPU operations (8+51=59 out of 72).
I guess

[2020-12-03 09:16] brunovollmer commented on #272
The support would be awesome.

[2020-12-03 14:07] Namburger commented on #272
Hi folks, thanks for checking in!
Previous experiments with yolo or any models requiring leakyrelu, we suggest changing the model architect to use normal relu activation (as suggested [here](https://github.com/ultralytics/yolov5/pull/959#issuecomment-730813005)).
But it seems to me that at this point we should really push to have this activation functions be a part of our supported ops. Ill commun

[2020-12-03 22:24] Namburger commented on #272
Hi @zldrobit , @brunovollmer Okay!
* LeakyReLU you can substitute it with PReLU activation which you should not experience any mAP drops at all!
* For HardSwish. you can try using ReLU6 for very minimal drop in mAP.

In doing so your should have most ops mapped to the edgetpu for efficiency and still good accuracy and the compiler can supports these ops

[2020-12-04 08:07] zldrobit commented on #272
@Namburger Thanks for your suggestion.
After checking the PyTorch and TF documentation, I found that PReLU is actually identical to LeakyReLU.
I could just substitute LeakyReLU with PReLU without any further modifications.

I have already implemented HardSwish with ReLU6 op in TensorFlow API
(https://github.com/zldrobit/yolov5/blob/1f8499c047126d678f631b8ee73681c913c64995/models/tf.py#L82-L83)
[co

[2020-12-04 12:51] Namburger commented on #272
@zldrobit yes, PReLU is identical with an additional alpha parameter which you could default to 0.02(I believe) to keep it equivalent with LeakyReLU.
Regarding HardSwish @Naveen-Dodda do you have some suggestions on how we were able to keep it as ReLU6?

[2020-12-04 16:50] pirazor commented on #272
@zldrobit and @Namburger, this is great discussion ! I know a lot of people trying to use YoloV5 on coral accelerator. It is really an amazing model. We are looking forward to hearing good news on this issue !

[2020-12-04 17:37] pirazor opened #273 "Internal Compiler Error: Aborting - A Small Custom Model"
Hello,

I would like to kindly get your help in compiling this int8 quantized model. This is ERFNet, a segmentation model that has all the supported operations that should be compiled on Edge Tpu. I am using the latest Edge TPU Compiler version 15.0.340273435.

[Quantized tflite model](https://drive.google.com/uc?export=download&id=15WnUqpdGuPM0XZmtZbHT5sZCXmdpPo0s)

Thank you.

![erfnet](https://

[2020-12-04 17:54] Namburger commented on #273
@usbguru @Naveen-Dodda could you guys take a look at this model?

[2020-12-04 19:10] pirazor commented on #273
Thanks for very fast response @Namburger !

[2020-12-04 19:23] usbguru commented on #207
Hi @ppershing
The USB Accelerator is a development tool.  On occasion I have had to unplug it and plug it back in to continue.  We do continuous, rigorous testing on the production products such as the SoM.

As Nam suggested, a USB2 evaluation could be useful.  Could you use it at USB2 speeds if "Not Enough Bandwidth" error goes away?

Since this occurs rarely, and you want to automate the testing

[2020-12-04 19:23] #207 closed

[2020-12-05 00:44] usbguru commented on #197
@pch0561
As Nam pointed out, you can read the temperature of the chip.  You can also read the dynamic frequency scaling registers:
https://coral.ai/docs/pcie-parameters/#configure-the-shutdownwarning-temperatures

trip_point0_temp: 250MHz threshold
trip_point1_temp: 125MHz threshold
trip_point2_temp: 62.5MHz threshold
hw_temp_warn2: automatic shutdown threshold

You can access the current values o

[2020-12-05 00:44] #197 closed

[2020-12-05 07:30] PINTO0309 opened #274 "[Future Request] 5D Transpose support in the edgetpu compiler"
## 1. Overview
There are many good quality models nowadays, including the 5D Transpose. For example, YOLOv4, YOLOv5, NanoDet, and so on. Currently, EdgeTPU Compiler does not support 5D transpose, so being able to do the transformations will benefit many engineers as it will allow them to generate very high performance edgetpu tflite models.

## 2. Details
### 2-1. Environment
- Ubuntu 18.04
- Edge

[2020-12-05 11:17] PINTO0309 commented on #273
I also quantized ERFNet and compiled it into EdgeTPU for a test run.

Edge TPU Compiler version 15.0.340273435
TensorFlow tf-nightly==2.5.0-dev20201204
Dataset Cityscapes
The model's citation repository https://github.com/Eromera/erfnet_pytorch.git

- 256x512, 384x768, 512x1024
**https://github.com/PINTO0309/PINTO_model_zoo/tree/master/075_ERFNet**

Strangely enough, 512x1024 was aborted by the ed

[2020-12-06 01:36] PINTO0309 commented on #272
I have discussed this in my repository issues.
**https://github.com/PINTO0309/PINTO_model_zoo/issues/53**

I haven't tried it yet to see if it works properly.
![100876665-0887ab80-34eb-11eb-83e7-a5e072528e41](https://user-images.githubusercontent.com/33194443/101269004-f89eee80-37ac-11eb-9948-ee5689275796.png)

[2020-12-07 03:32] ZhouKai90 opened #275 "Internal compiler error. Aborting! Tiny_YOLOV4"
Edge TPU Compiler version 14.1.317412892
TensorFlow 2.1.0
I used edgetpu_compiler to comiled my int8 integer only tfltite model and got the abotting error.Could you guys take a look at this model?
[tiny-yolov4.tflite](https://drive.google.com/file/d/16ciUjamnhHUp1OefWAs-0_G9MVxMgR0o/view?usp=sharing)

[2020-12-07 14:05] ItsMeTheBee commented on #31
Would you mind sharing how you converted your model to tflite?
I managed to convert my model but even though printing input and output type yields `<class 'numpy.uint8'>`, the edge compiler states `Model not quantized`. Not sure how to proceed now so I´d be glad about any help =)

[2020-12-08 00:27] arccoxx opened #276 "putting input layer as opposed to output layer on cpu"
Hello,

I would like to run universal sentence transformer models using edge tpu. I cannot think of a way to do this as the model accepts text only as input and the tpu can only accept numerical input. Can we load the input layer to the cpu so it can accept text preprocess etc and then shuttle the rest of the computation to the tpu? The output is numerical so I believe this should be possible.

If

[2020-12-08 00:44] usbguru commented on #254
@ZhouKai90
RESIZE_NEAREST_NEIGHBOR V3 is one of our top priories for the next release.  Watch https://coral.ai/news for the latest information

[2020-12-08 00:44] #254 closed, assigned to Naveen-Dodda

[2020-12-08 01:24] usbguru commented on #249
@gdj0nes
Github does not have versions.  Specifically it has releases, tags, and commits.  As Nam suggested, the latest release will probably work for you.  Its just likely we have not tested that specific one.  By building with a specific commit, in a known-good docker, you will get the same exact file that we built and tested.

[2020-12-08 01:24] #249 closed, assigned to usbguru

[2020-12-08 04:47] pirazor commented on #273
Thank you @PINTO0309, amazing effort ! Did you use ONNX converter to a saved model, then implement the post-quantization ?

[2020-12-08 06:40] PINTO0309 commented on #273
@pirazor
I converted while optimizing the model with the following flow.
**`PyTorch -> ONNX -> ONNX Simplifier -> OpenVINO -> openvino2tensorflow`**

**`openvino2tensorflow`** automatically generates TensorFlow Lite and EdgeTPU Compiler-optimized NHWC models for 4D input models in NCHW format. Also, **`openvino2tensorflow`** can automatically generate a Post-Training quantization model.

## Proced

[2020-12-08 09:55] arun-kumark commented on #271
Hi Nam,
I am still doing it,

Could you explan, what is "but you'll have to use our legacy runtime package". Is there disadvantage of using this package over building ourselves?

Also would like to understand "deprecated in favor of pycoral and libcoral," some of my team is using PyCoral, and it works well with EdgeTPU. It means, we should/shouldn't use pycoral?

Could you explan little more on th

[2020-12-08 12:20] arun-kumark commented on #271
Hi Nam,
I am sorry to mix the question with already running one. You may direct me to some link for this.

I need one help in understanding the Google Coral device usages as a commerical product.

Could you point me some reference/document which can help me to understad the software components/packages, dependencies and libraries that require software licensing if we plan to sell it as a companion

[2020-12-08 14:45] Namburger commented on #271
@arun-kumark Sorry, I mean that this repo is deprecated and you should pursuit pycoral (for python) and libcoral (for c++) intead of this repo entirely. Here is the full release notes: https://coral.ai/news/updates-11-2020

Could you point me some reference/document which can help me to understad the software components/packages, dependencies and libraries that require software licensing if we pla

[2020-12-08 15:50] pirazor commented on #273
@PINTO0309 oh wow, that's awesome ! The struggles we are going through just to be able to serve a relatively simple model... I will give it a try. @Namburger don't get me wrong we love our Edge TPU, I just wish it would be as easy as using Jetson for inference :)

[2020-12-08 22:53] pirazor commented on #273
@PINTO0309, I spent my entire day to obtain the same result on my ERFNet model. Your work in the openvino2tensorflow was very impressive, yet I still have no luck with successful EdgeTPU compilation.

If it is not too much trouble for you, would you mind giving a try using your method ? I provided [here](https://drive.google.com/uc?export=download&id=1BE3ZcRQ8-uQs63J--SIbftpcOzl4gzCE) the model fi

[2020-12-09 02:03] usbguru commented on #271
@arun-kumark
When you buy a Coral device from Google, it is understood you are prototyping or shipping a commercial product.  The primary software libraries you will use are these:

https://github.com/google-coral/pycoral
https://github.com/google-coral/libcoral
https://github.com/google-coral/libedgetpu
https://github.com/tensorflow/tensorflow

Each of these are open source with the Apache 2.0 li

[2020-12-09 03:56] PINTO0309 commented on #273
@pirazor

In processing with NHWC, the following four Transpose OPs are unnecessary and must be removed. I will return home in nine hours to work on it and let you know the result.

Incidentally, one of the major advantages of using OpenVINO IR is that you can edit the .xml file to manually remove unwanted OPs and change the axis of the transposition. There is no need to modify the Model program a

[2020-12-09 06:32] carllhsiung commented on #222
Hi @Namburger ,

I can't compile INT8 TFLite model that contains `Conv2DTranspose` or `UpSampling2D` with 2.4.0-rc4 or tf-nightly, but it works with 2.2.0.

**System information**
- OS Platform and Distribution: Ubuntu 18.04
- TensorFlow installed from binary
- TensorFlow version: 2.4.0-rc4 / tf-nightly (2.5.0-dev20201208)

**Command used to run the converter or code**

Please check:

[2.4.0rc4 Co

[2020-12-09 12:48] arun-kumark commented on #271
Thank you for listing the packages. I will take it forward with my legal team.

thanks again :)

[2020-12-09 12:48] #271 closed, assigned to usbguru

[2020-12-09 14:45] PINTO0309 commented on #273
@pirazor
Transpose before and after Softmax is very tricky. Is it possible to remove Transpose and change Softmax axis=3 to axis=1? OpenVINO optimization is unstable.

[2020-12-09 16:57] Namburger commented on #275
@Naveen-Dodda could you take a look at this one?

[2020-12-09 17:53] pirazor commented on #272
@zldrobit, I was able to trick the MLIR by typing the Hardswish formula just slightly different such as x * ReLU6(x+3) * 0.16666671. Not sure it would impact the accuracy though. The problem is even though tflite converter now converts those ops as ReLU6 in the tflite quantized model, I don't see them in the Edge TPU compiled model.

@Namburger, I replaced the LeakyReLUs with PReLUs . But compiler

[2020-12-09 18:05] Namburger commented on #272
@pirazor
Generally, "Operation is otherwise supported, but not mapped due to unspecified limitation" means that the input size are too large :(
I would also love to hear about the impact of replacing Hardswish with Relu6 (interm of inference time and accuracy)

[2020-12-10 02:16] carllhsiung opened #277 "How to check TPU status, i.g. busy or idle?"
I found that multiple programs **can't** open same TPU device (`/dev/apex_0`) at one time.

The `edgetpu::EdgeTpuManager::GetSingleton()->OpenDevice(...)` will return nullptr.

Correct me if I'm wrong.

There are multiple programs need TPUs in our system.

I can check TPU by using:

[code]

How to get TPU usage (similar to top or htop tool for CPU/RAM)?

I can show which program blocks TPU with lo

[2020-12-10 06:30] Kuan-ChiehHsu opened #278 "performance improvement question on multiple models/concurrent execution"
Hi Team,
I notice that there are several ways to improve performance such as model pipelining on multiple edge TPUs, model co-compiling technique to avoid alter-eviction on cache. If two models' sizes are small enough to cache on device at the same time, does edgeTPU support concurrent execution on one single edgeTPU?

Another way to think about this is I can design a single model itself that it t

[2020-12-10 06:43] Kuan-ChiehHsu commented on #278
some details on my test:
I tried the following model:
[code]
and the edgetpu_compiler (version: 14.1.317412892) gives the error message:
[code]
Which I don't see why.

And the 'split' and 'concat' version I mentioned is the following:
[code]

[2020-12-10 14:22] Namburger commented on #277
@car1hsiung Hello,
unfortunately we don't support concurrent access to the edgetpu at the same time and we don't have a tool currently to show the tpu usage.  If you are planning to run multiple model with only one tpu, you'll nee to ensure that the Invoke() calls happens sequencially, similar to this: https://github.com/google-coral/libcoral/blob/master/coral/examples/two_models_one_tpu.cc

If yo

[2020-12-10 16:11] PINTO0309 opened #279 "[Future Request] EfficientDet D0 conversion support by EdgeTPU Compiler"
## 1. Overview
I have succeeded in generating a .tflite of EfficientDet D0 for the Full Integer Quantization model. There seems to be no problem in the structure of the model, but when compiled with edgetpu_compiler, the process is aborted. If I can figure out what is causing the error, I will adjust the model.
![Screenshot 2020-12-11 00:49:40](https://user-images.githubusercontent.com/33194443/10

[2020-12-10 17:45] emcfarlane commented on #267
Linking the issue on their forum for updating the VCP driver for Big Sur: https://www.silabs.com/community/interface/forum.topic.html/vcp_driver_for_macosbigsur110x-SWJK

[2020-12-10 21:01] usbguru commented on #277
@car1hsiung
Profiling a model is a common question.  Although the edge TPU doesn't have specific profiling registers, it is possible to take measurements and compute estimates.  You can see the difference between loading time and inference time in this example: https://coral.ai/docs/dev-board/get-started/#6-run-a-model-using-the-pycoral-api    The first time is longest because the model must be tr

[2020-12-10 22:52] msokoloff1 commented on #168
Any update on MLIR support?

[2020-12-10 22:55] Namburger commented on #168
@msokoloff1 should works now, are you still having issue?

[2020-12-10 23:18] msokoloff1 commented on #168
Actually, it looks like I am having an issue with tf 2.4.0. I want to convert a model trained with QAT. I have only been able to run full integer quantization on a QAT model in tf 2.4.0. But then when I go to compile for the edge tpu it I am getting the same issue as above.

Edge TPU Compiler version 15.0.340273435
Invalid model: model_out.tflite
Model not quantized

[2020-12-11 03:30] carllhsiung commented on #277
I will work on it.

One more question here: Does USB Coral have device nodes, `device_owner` and `device_owner`?

I can't find them in `/sys/bus/usb/devices/2-2`.

Thank you for your quick reply.

[2020-12-11 03:30] #277 closed, assigned to nobody

[2020-12-11 23:05] Naveen-Dodda commented on #276
Hello Aidan,

Yes what you mentioned is right, you can perform all the pre processing task on cpu and feed numerical to the model which can be mapped to edgetpu. For instance you can encode the text data with numbers (save key:values in dict which can be used to decode). Now you can build your model with numerical input which can mapped to edgetpu with supported ops.

Hope this helps,

Stay Safe,

[2020-12-13 00:56] timonsku opened #280 "Installation failing on Raspberry Pi CM4 for PCI-E driver"
Following the installation guide for the M.2 I get several compilation errors when its trying to install gasket.
Here the log of the make process:
[gasket-make.log](https://github.com/google-coral/edgetpu/files/5684009/gasket-make.log)

It seems its mostly the 3 same errors
`invalid use of undefined type ‘struct msix_entry’’`
`implicit declaration of function ‘writeq_relaxed’; did you mean ‘writel

[2020-12-14 13:32] vvkuryshev commented on #260
I had same problem on Windows 10 and downgraded runtime version to edgetpu_runtime_20200728.zip and tflite_runtime to 2.1.0. I was able to install the drivers after that, but trying to run the test script again was unsuccessful. What could be the problem here?

`C:\coral\tflite\python\examples\classification>python classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflit

[2020-12-14 13:39] vvkuryshev opened #281 "ValueError: Failed to load delegate from edgetpu.dll"
I had problem on Windows 10 and downgraded runtime version to edgetpu_runtime_20200728.zip and tflite_runtime to 2.1.0 (as it was described [here](https://github.com/google-coral/edgetpu/issues/260#issue-747388549)). This allowed the drivers to be installed afterwards, but trying to run the test script again failed. What could be the problem here?

[code]

[2020-12-14 15:13] vvkuryshev commented on #281
The problem was because the old version was not removed before the edgetpu_runtime version was changed. After reinstalling edgetpu_runtime_20200728 everything works. Three times slower than [here](https://coral.ai/docs/accelerator/get-started), but it worked. Perhaps the difference in speed due to my not newest hardware.

[code]

[2020-12-14 15:13] #281 closed, assigned to nobody

[2020-12-15 01:04] Namburger commented on #280
Hello @timonsku we have investigated the CM4 previously and unfortunately, we determined that it won't works with our PCIe modules as the CPU doesn't have MSI-X supports as required by our [requirements](https://coral.ai/docs/m2/get-started/#requirements).

[2020-12-15 01:15] timonsku commented on #280
Hey Namburger,
the pi engineers have worked on this and have added support for MSI-X in the latest kernel.
See this forum discussion: https://www.raspberrypi.org/forums/viewtopic.php?p=1772216&sid=fa34ae6597591c1f80cb68c8138c6a67#p1772216

[2020-12-15 01:44] Namburger commented on #280
As I mentioned, we have explored this path and there is still a little on going efforts but I don't believe it is something we can promise. @mbrooksx might be able to give you more info on this

[2020-12-15 01:57] timonsku commented on #280
Oh I see. If it doesn't turn out to be a true hw limitation I would be very interested in seeing this getting supported.
I currently have hardware in development that would see good use of the M.2 modules.

[2020-12-15 13:58] kingliantop opened #282 "mdt shell can not work on MacOS Catalina"
Following the instructions, the mdt can find the device, but mdt shell can not ssh to the Coral Dev board:

MacOS 10.15.7
(base) stevenlian-macbookpro:~ stevenlian$ mdt devices
indigo-mole		(192.168.1.15)
(base) stevenlian-macbookpro:~ stevenlian$ mdt version
MDT version 1.5.2

(base) stevenlian-macbookpro:~ stevenlian$ mdt shell
Waiting for a device...
Connecting to indigo-mole at 192.168.1.15
Tr

[2020-12-15 17:29] usbguru commented on #280
@timonsku
Unfortunately this ARM hardware does not support MSI-X.   The raspberry pi discussion you referenced raised my hopes that limited performance with emulated interrupts might work.  Although it still does not work, the on-going work is encouraging, and might lead to performance nearly as good as if the original MSI-X hardware interrupts were on the ARM silicon.  Stay tuned!

[2020-12-15 17:40] mbrooksx commented on #280
@timonsku : Yes, I'm actively working with the people in the Pi forum discussion. While MSI-X isn't technically supported by the BCM2711, as you saw from that patch if SW indicates it works then the PCIe hardware is actually able to map some MSI-X interrupts correctly.

We've validated farther than you have (including MSI-X), your errors are because you're building for the 32-bit kernel but the dr

[2020-12-15 17:52] timonsku commented on #280
Awesome that is great to hear :)

[2020-12-16 14:47] PINTO0309 commented on #279
I have narrowed down the patterns that fail to compile. It appears that the complexity of the model structure probably correlates with the high input resolution.

## 1. MIRNet (Model used for validation)
**https://github.com/sayakpaul/MIRNet-TFLite.git**

## 2. TFLite file - Full Integer Quantization
**https://drive.google.com/file/d/12Jo_9rmslWHJOzGtjUyDYQHz3qvztv6V/view?usp=sharing**

## 3. Stru

[2020-12-18 08:23] pdecat commented on #256
Hi @usbguru, are you 100% sure the tested Nexcom NDiS B537 M.2 E-Key slot reported to be compatible with the M.2 Accelerator with Dual Edge TPU has two instances of PCIe x1 lanes?

FWIW, I've plugged a M.2 Accelerator with Dual Edge TPU in a [M.2 E-Key to PCIe x1 adapter](https://www.amazon.fr/gp/product/B07887FF5K/) and obviously, only one TPU device is working:

[code]

[2020-12-18 09:03] dtlam26 opened #283 "What are the constraints to make ResizeNearestNeighbor work on Edge TPU compiler"
Eventhough I have successed int8 quantization, I recently experience failing on ResizeNearestNeighbor in Edge TPU. In the coral official website, they state that ResizeNearestNeighbor is allowed. So why when I am checking the condition on graph, it fails?
![image](https://user-images.githubusercontent.com/27914179/102594647-cf417380-4159-11eb-8b13-0b6b81d5a50e.png)

Furthermore, when I check the f

[2020-12-18 09:55] johannes-do opened #284 "TFLite quantization of bias"
In the docu regarding quantization of models (https://coral.ai/docs/edgetpu/models-intro/#quantization) this page of the tflite docu is linked: https://www.tensorflow.org/lite/performance/post_training_quantization#integer_only.

But the tflite quantization uses int32 for biases and I do believe there is no way around this. Is this going to be an issue with the edgetpu? In case it is a note within

[2020-12-18 22:09] Namburger commented on #283
Hello @dtlam26, is this still failing with the latest compiler release?

[2020-12-18 22:14] Namburger commented on #282
Hello, could you try ssh instead?
[code]

[2020-12-18 22:18] Namburger commented on #284
Bias should be okay with int32, do you have a broken model you would like for us to take a look?

[2020-12-19 04:48] hoangminhtoan opened #285 "Cannot run inference on *_edgetpu.tflite model"
My host computer:
- ubuntu 18.04
- Edge TPU Compiler version 15.0.340273435

Google Coral Board
- Name: tflite-runtime version: 2.1.0.post1

I clone this repo: https://github.com/google-coral/example-object-tracker today. there is no problem when I run an inference with non-edgetpu tflite models. However, it shows an error even with the model which is downloaded from the above repo:

`RuntimeError

[2020-12-19 11:05] johannes-do commented on #284
I compared the output of the quantized TFLite model (on CPU) vs the compiled model on the EdgeTpu and they seem to have the same output. So that would support the claim that int32 should be ok.
I am just surprised this is working since the EdgeTpu states all tensors must be 8-bit quantized. Anyway, thanks for the offer, but I think this can be closed.

[2020-12-19 11:06] #284 closed, assigned to nobody

[2020-12-19 18:38] Namburger commented on #285
hello @hoangminhtoan the tflite_runtime package version should be 2.5.0 with the latest edgetpu release, please update from here:
https://www.tensorflow.org/lite/guide/python

Thanks

[2020-12-21 00:48] hoangminhtoan commented on #285
Thanks, Nam,

However, I tried both the arm and linux_x86_64 version but both didn't work

![Screenshot from 2020-12-21 09-48-04](https://user-images.githubusercontent.com/1559257/102728914-a7c4f380-4371-11eb-8d69-04879c7ae1e3.png)

[2020-12-21 00:59] hoangminhtoan commented on #285
Thanks, Nam

It works! so I'll close this topic

[2020-12-21 00:59] #285 closed, assigned to nobody

[2020-12-21 01:38] dtlam26 commented on #283
Yes, I have built from sources both 14.1.317412892 and 15.0.340273435 and still failed with no logging.
[code]
You can check my models I attached above to verify,

[2020-12-21 07:17] zldrobit commented on #189
I am experiencing the same problem!
I am using TensorFlow v2.4.0 and EdgeTPU compiler 15.0.340273435.

The model is attached,
https://drive.google.com/file/d/18AZGsUwggoarKK797r1pgz3EyiICKVY8/view?usp=sharing
While I use `-a` option, the compiler exits abnormally
![image](https://user-images.githubusercontent.com/3896992/102749501-18ced000-439f-11eb-8212-993d1bedd566.png)

I can convert the model

[2020-12-21 16:04] Namburger commented on #283
@dtlam26 oh, sorry, I suggest trying it with the compiler from our apt repo, it is up to 15.x now, the edgetpu repo was deprecated, more info here:
https://coral.ai/news/updates-11-2020

[2020-12-22 01:46] dtlam26 commented on #283
What about the pycoral, without edgeTPU compiler, how can I compile my model to fit it edgeTPU configuration? By the pycoral compiler or sth?

As I attached above, I have try to compile with 15.0 version and it still failed. Is that the lastest version?.

Can you give me some details instruction about which steps I should do to get the version you mention?

[2020-12-22 03:43] dtlam26 commented on #283
For the pycoral, I install it from wheel and got the missing in runtime as bellow:
[code]

[2020-12-22 04:36] manoj7410 commented on #283
@dtlam26 You can get the tflite-runtime whl at : https://www.tensorflow.org/lite/guide/python
and then try to install the pycoral.

[2020-12-22 04:49] dtlam26 commented on #283
appreciate, I got pycoral now. But the newest edge_compiler from apt still fails:
[code]

[2020-12-22 04:52] manoj7410 commented on #283
@dtlam26 There is a compiler binary available at https://github.com/google-coral/edgetpu/tree/master/compiler/x86_64/edgetpu_compiler_bin , I am not sure about the version of this one since I am working on a Mac right now. Can you try this one and share the result ?

[2020-12-22 05:21] dtlam26 commented on #283
I have go to the location file, but can not execute with these errors:
[code]

However, I think that is the eel2 branch version, so I have checkout and compile, but still fails. You can verify with my model that I share in the drive above:

[code]

[2020-12-22 06:29] pdecat commented on #256
Hi, got confirmation from Nexcom that the NDiS B537 M.2 E-Key slot has 2 x PCIe Gen. 3 lanes.

[2020-12-22 12:44] Namburger commented on #283
@Naveen-Dodda could you check this one out?

[2020-12-22 18:16] scottamain commented on #267
Sorry for my delay on this folks! I've clarified the debian package info. And it looks like SiLabs just released the driver update for Big Sur. Thank you for this feedback!

[2020-12-22 18:16] #267 closed, assigned to nobody

[2020-12-23 05:47] dtlam26 commented on #283
Yes, for clarify, I have tried to install with the `sudo apt install edge-compiler` at first. Then I go with the git compling method as shown above

[2020-12-23 10:59] bhachauk commented on #233
One of my friend facing the same issue... Is any thing found to fix this ?

[2020-12-23 20:08] wb666greene opened #286 "Error using libedgetpu1-legacy on virgin Ubuntu 20.04 system"
sudo apt-get install libedgetpu1-legacy-std
sudo apt-get install python3-edgetpu
sudo apt-get install libedgetpu1-legacy-max
sudo -H pip3 install https://github.com/google-coral/pycoral/releases/download/release-frogfish/tflite_runtime-2.5.0-cp38-cp38-linux_x86_64.whl

But it looks like the TPU is not working:

`atomicpi@AtomicPi:~/AIdev$ python
Python 3.8.5 (default, Jul 28 2020, 12:59:40)
[GCC 9

[2020-12-23 20:14] Namburger commented on #286
@wb666greene
If you are using the libedgetpu legacy package, then you need to downgrade your tflite_runtime to 2.1post1 (the previous wheel) or use the edgetpu API as opposed to the pycoral API. My suggestion is still to upgrade libedgetpu to the none legacy version though

Another way to ensure that the versions all matches is to just uninstall the libedgetpu packages all together and loads the `

[2020-12-23 21:03] wb666greene commented on #286
This has got me more even confused.  I can't seem to find any previous tflite_runtime wheels, obviously I'm looking in the wrong place, but all I see are "frogfish" versions.

The libedgetpu github does have what looks to be a /etc/udev/rules.d file but my working AtomicPi 16.04 (edgetpu 2.14.1) and 20.04 (edgetpu 2.15.0) systems don't have it.  My laptop that had the 3.7 version installed in pyth

[2020-12-23 21:28] wb666greene commented on #286
Copying over the 99-edgetpu-accelerator.rules file, adding my user to the plugdev group and doing the usual to make it all active (reboot is easiest to explain, but I did the the hard way)  Got my code running.

Interesting that these warnings that I have pretty much always seen since my earliest use of the TPU seem to have gone away on this virgin system.

`W :81] Minimum runtime version required

[2020-12-24 13:10] markus-k opened #287 "Internal compiler error on model with multiple inputs"
I'm trying to compile a model that has multiple input tensors with the EdgeTPU compiler. I couldn't find any limitations about this in the [documentation on model requirements](https://coral.ai/docs/edgetpu/models-intro/#model-requirements).

This is my model. It's more of a test rather than anything thats supposed to give a meaningful output:
[code]

This model converts and quantizes fine using t

[2020-12-27 19:04] ricardodeazambuja commented on #229
These are the steps that worked for me:

Download [tflite_runtime-2.3.1-cp37-cp37m-linux_armv6l.whl](https://drive.google.com/drive/folders/1VtkKbpKnv9vHylQ62ekuGvyco2Jg9pQe?usp=sharing) to the RPI Zero. Install it using:
`$ sudo pip3 install tflite_runtime-2.3.1-cp37-cp37m-linux_armv6l.whl`
Get the SHORT_HASH:
`$ python3 -c 'print(__import__("tflite_runtime").__git_version__)'`
It was `0.6.0-8881

[2020-12-28 07:28] nadongguri opened #288 "The output result of the MUL operator is different between EdgeTPU and CPU."
Dear coral support team,

if any of the users have similar experiences, I would like to get help, so I post an issue.

I made a simple model that takes an input of 1x3x3 and a mul operator with 3 weight parameters. (The parameter value is learned by quantization-aware training.)
When running this model with the cpu backend, the result is the same as calculated by hand.
However, the result of the e

[2020-12-28 09:43] bayntun opened #289 "Streaming a custom (regression) model on a server"
Hi there, I've been using the coral dev board for a couple of months now, and I'm still pretty new to using gstreamer for inferencing and overlay simultaneously.  I'm currently using a modified version of edgetpuvision on the dev board but I've run into a couple of problems.  The first one is I can't seem to install edgetpuvision without breaking PyCoral on the dev board.  The second is that upon

[2020-12-28 13:49] Namburger commented on #233
@Bhanuchander210 can you send us an issue to coral-support@google.com?

[2020-12-28 14:16] bhachauk commented on #233
@Namburger Thanks. That issue was resolved after flash. Due to other issues, we ran `mdt reboot-bootloader`.

[2020-12-28 15:54] Namburger commented on #287
@Naveen-Dodda could you take a look at this one?

[2020-12-28 15:58] Namburger commented on #229
@ricardodeazambuja wow this is actually very nice, many many thanks!

[2020-12-28 16:01] Namburger commented on #289
Hello @bayntun since the edgetpu API was deprecated, it is necessary to run the newest edgetpuvision package that we upgraded to pycoral. Since you mentioned that you are using a modified version of it, I'm guessing that it must not be the latest version, you can checkout the code here:
https://coral.googlesource.com/edgetpuvision/+/refs/heads/master/edgetpuvision/

[2020-12-28 16:03] Namburger commented on #288
@nadongguri thank for submitting, this looks like a compiler issue, do you mind submitting your inference script for both model also?

[2020-12-28 17:07] nadongguri commented on #288
Dear @Namburger ,

here's the script file and the simple usage. :-)

--model mul_issue.tflite
--model2 mul_issue_edgetpu.tflite
diff[0] : -31 vs -71
diff[1] : -17 vs -43
diff[2] : 14 vs -59
diff[3] : -31 vs -62
diff[4] : -43 vs -20
diff[5] : 4 vs -53
diff[6] : -31 vs 8
diff[7] : -55 vs -10
diff[8] : -33 vs -30
$python inf_and_cmp_two_models.py --model mul_issue.tflite  --model2 mul_issue.tflite
--

[2020-12-29 07:09] Valdiolus commented on #280
Great to hear that somebody is working on this issue! Already received my RPI CM4 + IO Board + PCIe Coral acc.
Any news? Maybe I can help?

[2020-12-29 11:40] dtlam26 commented on #283
From [this issue](https://github.com/google-coral/edgetpu/issues/31) with Upsampling module. Is it also because my model input for upsampling layer is too big to keep precision so that the compiler stop working?

[2020-12-30 02:37] ugtony commented on #168
I installed TF-nightly(2.5.0-dev20201227) to train a model with QAT, and used the following configure to convert the model to tflite

    converter.optimizations = [tf.lite.Optimize.DEFAULT]
    quantized_tflite_model = converter.convert()
    converter.experimental_new_converter = False
    converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]
    converter.inference_input_t

[2020-12-30 05:58] Kuan-ChiehHsu commented on #287
I have similar issue.
I also tried multiple inputs with simple conv op for each of them and concatenate before output. But I get the error message instead:

**F tensorflow/lite/toco/graph_transformations/quantize.cc:606] Check failed: is_rnn_state_array
Aborted (core dumped)**

Which I don't think there is any rnn design is involved.

[2020-12-31 01:32] mitchross commented on #256
Are there any PCIe adapters that work with  M.2 Accelerator with Dual Edge TPU to get use of both TPU's ?

[2020-12-31 07:46] pdecat commented on #256
Did not find such an adapter on the market after a somewhat extensive search.

For now, I've collected the following list of devices with explicit M.2 E-Key 2x PCIe support (in addition to the [Nexcom NDiS B537](https://www.nexcomusa.com/Products/multi-media-solutions/digital-signage-player/high-performance-player/digital-signage-player-ndis-b537) device mentioned above).

Motherboards:
* Premio [

[2020-12-31 09:12] hoangminhtoan opened #290 "Need help to convert OSNet in order run Edge TPU"
I need your help to convert the trained OSNet model from
+ Pytorch: https://kaiyangzhou.github.io/deep-person-reid/MODEL_ZOO
+ Onnx: https://drive.google.com/uc?id=1dJ0ST2lgNlf1OrN4_PkRrWIN5FnH2nrE osnet_ain_x1_0_msmt17.onnx

input_shape [batch_size=16, 3, 256, 128]

Currently, I can covert Pytorch -> Onnx -> TFlite (not full int8), however, I am still stuck at converting to TFLite int8.
I tried t

[2020-12-31 09:47] zldrobit commented on #272
@Namburger I find a way to suppress HardSwish transformation in TFLite conversion.
Just comment out TensorFlow v.2.4.0 code:
https://github.com/tensorflow/tensorflow/blob/582c8d236cb079023657287c318ff26adb239002/tensorflow/compiler/mlir/lite/transforms/optimize_patterns.td#L247-L286
and build TensorFlow from source.
Then, one can use this modified TensorFlow to convert models to TFLite format with

[2020-12-31 14:26] mitchross commented on #256
@pdecat

Im going to try this combo. Ill report back and let you know if it works. Im trying to put this in an existing server/pc I have via PCIe..

https://www.amazon.com/gp/product/B07G8N8Y9J?ref=ppx_pt2_dt_b_prod_image + https://www.amazon.com/gp/product/B079NB8J3B/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1

[2021-01-01 00:41] glenn-jocher commented on #272
@zldrobit so it seems that hardswish op is a major cause of slowdown. Very interesting, nice work tracking this down!

We are currently preparing updated YOLOv5 models for a v4.0 release that use nn.SiLU() for all activations, replacing all instances of nn.Hardswish() and nn.LeakyReLU(0.1). These new models are slightly smaller and also slightly faster (on PyTorch GPU at least). I'm not sure what

[2021-01-01 09:46] keesschollaart81 opened #291 "EdgeTPU Compiler - Same model but `Internal compiler error`"
As described [here](https://github.com/hhk7734/tensorflow-yolov4/issues/49#issuecomment-748857685) in more detail; I have trained a yolov4 model with my own data, conversion to TF Lite works fine all the time, however... The TF Lite models that I convert from weights early on in the training run can be converted to EdgeTPU but when the training run progresses, they cannot.

Looking at the TF Lite

[2021-01-01 13:33] radu-at opened #292 "Edge TPU Mini PCIe Accelerator - Illegal instruction"
Hi,
i'm using Edge TPU Mini PCIe Accelerator connected by replacing the WiFi module on my old laptop

Installing and detecting of the Edge TPU Mini PCIe Accelerator was fine but I get "Illegal instruction" running the 1st example from installation tutorial...

Any advise will be appreciated.

`root@brain:~ lspci -x | grep 089a
08:00.0 System peripheral: Device 1ac1:089a
root@brain:~ ls /dev/apex_0

[2021-01-01 14:25] dothebart opened #293 "missing dependency to run example"
Trying to run the examples referenced here:
https://coral.ai/docs/accelerator/get-started/#2-install-the-tensorflow-lite-library
in a debian buster chroot. Needed to add:
[code]
in order to get the example running. Now its complaining:
[code]

[2021-01-01 15:57] Namburger commented on #293
Did you run the `bash install_requirements.sh`? It supposed to download the model for you

[2021-01-02 02:25] jimdinunzio commented on #260
Hi, I have a LattePanda windows mini board CPU and got the same error with the latest  driver installer: download edgetpu_runtime_20201204.zip. I had miniconda python 3.8 installed and tried the 1105 install as @pandalion98 did after disabling driver signature enforcement, but that made the install wonky and I still got the same error.  So I created a python 3.7 environment and went with the 0728

[2021-01-02 11:21] dothebart commented on #293
hm, yes - I did that; though it downloaded something else when invoking it again now. Maybe it errored out beforehand?
python3-imageio seems to be missing from `python3 -m pip install numpy Pillow` anyhow?

[2021-01-02 11:23] dothebart commented on #293
hm, next try:
[code]
re/plugging the Coral didn't help.

[2021-01-03 18:41] #292 closed, assigned to nobody

[2021-01-04 04:32] mitchross commented on #256
@pdecat confirmed adapters work. 1x TPU, but better than nothing. ( using https://coral.ai/products/m2-accelerator-dual-edgetpu )

[2021-01-04 14:19] Namburger commented on #290
@hoangminhtoan hello, we don't support `pytorch -> onnx -> tflite` but if you share your progression maybe I can give some pointers. Also, this would be a more appropriate place to ask this type of questions:
https://github.com/tensorflow/tensorflow/issues

[2021-01-04 14:29] Namburger commented on #291
@Naveen-Dodda could you take a look?

[2021-01-04 14:33] Namburger commented on #293
@dothebart that means libedgetpu version isn't matching with tflite_runtime version. The installation steps on our coral.ai page should give you the exact version you need, some of the older tutorials I found online will only complicates things. Can you share the outputs of this command with me?

[code]

[2021-01-04 20:07] ricardodeazambuja commented on #114
Hi @Namburger. I'm trying a really simple toy model to test the resize (Edge TPU Compiler version 15.0.340273435). I tried bilinear and nearest, but the compiler keeps telling me:
[code]

Here is my really simple toy model:
[code]

[2021-01-06 21:53] pirazor commented on #273
@PINTO0309, apologies for my delayed response. Would you mind trying converting the attached onnx model to edgetpu model. I removed the softmax and the uncessary transpose is now disappeared. But, I am now struggling to find a suitable Tensorflow version :(
[ERFNet_Lane](https://drive.google.com/uc?export=download&id=1lO6DelyAryaibEoIAmPqMIaDr027HFjj)
Happy New Year btw.

[2021-01-06 22:12] pirazor commented on #272
@zldrobit, did you also resolve the leaky_relu to prelu conversion ? I think 8 more TPU operations will add some more speed.

[2021-01-07 07:26] glenn-jocher commented on #272
@pirazor recent YOLOv5 v4.0 release replaces all nn.LeakyReLU() activations and nn.Hardswish() activations with nn.SiLU() activations. If the nn.SiLU() ops can be exported to run on TPU then most of the speed issues should be resolved.

See https://github.com/ultralytics/yolov5/releases/tag/v4.0

[2021-01-08 09:50] mentarus opened #294 "Constant red light when following Getting Started guide (sd card option)"
Hi, I've been trying to get my Coral EdgeTPU board working as per the [getting started guide.](https://coral.ai/docs/dev-board/get-started).
I've verified the SHA256 of the download (enterprise-eagle-flashcard-20201208133741.zip) and it matches, balenaEtcher also verifies the with no errors (multiple times) I've tried this a few times to no avail (the red light stays on). The serial output is belo

[2021-01-08 10:00] parthjdoshi commented on #290
@Namburger I am following a similar path and managed to get a full integer quantized tflite model as per [this](https://www.tensorflow.org/lite/performance/post_training_integer_quant#convert_using_integer-only_quantization) and [this](https://qiita.com/PINTO/items/865250ee23a15339d556#4-2-9-quantization-from-a-model-for-pytorch). However, when I try to compile it, it fails with the following erro

[2021-01-08 10:11] parthjdoshi commented on #290
Yeah, I realised my mistake. The TFlite model isn't fully quantized due to the `SQUARED_DIFFERENCE` and `RSQRT` operators. Any tips for this?

[2021-01-08 10:45] parthjdoshi commented on #290
Sorry for commenting multiple times.
I tried using tf-nightly instead of tf 2.4 and I was able to get the model fully quantized, even with the `SQUARED_DIFFERENCE` and `RSQRT` operators.
[code]
The file generated is shown below.
[osnet_ain_x1_0_msmt17_market1501_full_integer_quant.tflite.zip](https://github.com/google-coral/edgetpu/files/5786706/osnet_ain_x1_0_msmt17_market1501_full_integer_quant.

[2021-01-08 12:34] johannes-do commented on #212
I am having the same error when I save models during `on_train_begin()` or when I directly create it without training, thus only with the initialized weights. When training the model for at least one epoch and saving it again, the error does not appear anymore. A bit strange.

[2021-01-08 12:42] parthjdoshi commented on #290
From what I have been reading online, I guess these operations aren't supported by the Coral USB Accelerator. However, wouldn't it lead to a custom op or something which would then run on the CPU and not on the Coral?

[2021-01-08 13:09] hoangminhtoan commented on #290
I think so, I trained the OSNet model with Tensorflow v.1.15.4, the trained model could easily be converted to tflite int8 with Tensorflow >= 2.3. However, the full quantized model was said not full quantized when compiling with edgtpu_compiler.

[2021-01-08 13:12] parthjdoshi commented on #290
@hoangminhtoan What sort of output were you getting when you ran the edgetpu compiler? Could you please share that? Was it the same as the one I have posted above?

[2021-01-08 13:13] parthjdoshi commented on #290
Also, did you use `converter.target_spec.supported_ops = [tf.lite.OpsSet.TFLITE_BUILTINS_INT8]` when converting?

[2021-01-08 14:23] hoangminhtoan commented on #290
@arsenal-2004  Here is my converter code

onset was trained follow this repo:
[osnet_keras](https://github.com/jkjung-avt/keras_imagenet/blob/master/models/osnet.py)

[tensorflow_convert_example](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=w9ydAmHGHUZl)

[code]

Model size:
float32: (30MB)
tflite (10MB)
tflite-int8 : osn

[2021-01-08 14:27] Namburger commented on #290
Could you guys attach the model here?
@Naveen-Dodda Could you run it to our compiler to see what error message is present?

[2021-01-08 14:31] Namburger commented on #294
@mentarus sorry about that, it hard to tell exactly what went wrong, could you try manual flashing from our flash script as described here instead?
https://coral.ai/docs/dev-board/reflash/#flash-the-board

[2021-01-08 14:42] hoangminhtoan commented on #290
Hi @Namburger ,

Thanks for your quick reply,
Here are models

[keras_model](https://drive.google.com/file/d/1i5RIvtZNJL0qKQoRkDxY_pD32XuDSUmW/view?usp=sharing)
[osnet.tflite](https://drive.google.com/file/d/12X1RTUVXxTuYwjfAh8MzX_SCw0DmhdF1/view?usp=sharing)
[osnet_quant.tflite](https://drive.google.com/file/d/1m3Vq3YVHB14_6WDEaWoC96LHmkTAJk7M/view?usp=sharing)

[2021-01-08 15:15] parthjdoshi commented on #290
@Namburger , thank you for your help
This is the model generated using TF-nightly

The original Saved_Model is [here](https://drive.google.com/file/d/17yO7nRgjczY2RvjDfqomMAioOD7d5GdF/view?usp=sharing)

[2021-01-08 15:17] parthjdoshi commented on #290
@hoangminhtoan You could try `converter.allow_custom_ops = True` as well

[2021-01-08 21:24] mentarus commented on #294
Thanks for the quick response @Namburger, tried that earlier on windows but never got the fastboot to see the device (yes I did go into fastboot mode as I have the old version of the board) tries on two windows machines with the same effect. Eventually tried on Linux and it fastboot saw the device straight away. Would be good to understand why the default method didn't work though!

[2021-01-08 21:33] Namburger commented on #294
@mentarus I see, I have a feeling that the sdcard slot might be faulty, my suggestion is to check and see if you can mount anything form that sdcard slot at all. If it is ends up being a defective HW, we can definitely replace

[2021-01-08 22:21] johannes-do commented on #104
I am constantly running into this issue and often only change the number of filters and it seems to resolve. Regardless of what the issue actually is, I just wish there would be a more detailed error output so we know what we have to adapt. It is really time-consuming and frustrating otherwise :(

Here is an example model that did not work:
[model_quant.tflite.zip](https://github.com/google-coral/

[2021-01-08 22:27] saket424 commented on #256
@mitchross
I have a similar experience as you do with the M.2 dual TPU. Only one is visible, but better than 0. Anyone have any ideas/workarounds to expose both TPUs?

M.2 adapter https://www.amazon.com/gp/product/B079NB8J3B/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1
mated with
SeedStudio Odyssey Blue J4105 https://www.amazon.com/Mini-Odyssey-Blue-J4105-Bluetooth5-0/dp/B08FD3QHQC

running Ub

[2021-01-08 22:36] saket424 commented on #256
@mitchross
Here is another person with similar results as us

https://community.home-assistant.io/t/local-realtime-person-detection-for-rtsp-cameras/103107/2241
https://community.home-assistant.io/t/local-realtime-person-detection-for-rtsp-cameras/103107/2243

and he used this adapter

https://www.amazon.com/dp/B07SN3QYR9

[2021-01-09 02:51] parthjdoshi commented on #290
@Namburger @Naveen-Dodda Any updates on this? Could you please help me with this? Or, do you know of any person reidentification models trained for the EdgeTPU?

[2021-01-09 06:16] hoangminhtoan commented on #290
@arsenal-2004, thanks for your suggestion, I tried but it didn't work when compiling, still "Model not quantized"

[2021-01-10 08:59] zldrobit commented on #272
@glenn-jocher @pirazor According to the updated YOLOv5 v4.0 release, I could convert all activation layers to Edge TPU.
Inference time reduces from ~100ms (v3) to ~60ms (v4) for 320x320 input YOLOv5s model.

![image](https://user-images.githubusercontent.com/3896992/104118522-c4e35580-5364-11eb-84b6-abec561b5feb.png)

[2021-01-10 14:09] pirazor commented on #272
@zldrobit, I've tested your tf-export script and was able to produce the same model. What I am curious is if we can also somehow map the resize nearest neighbor operations that are in the middle of the graph. The edgetpu will not have to split the graph again if they were supported. The compiler says the version is not supported, so maybe we can find a matching Tensorflow version. @Namburger do yo

[2021-01-10 18:45] glenn-jocher commented on #272
@zldrobit that's great news! It seems I made the right change replacing Hardswish with SiLU.

@pirazor yes that's a good point. These are the two upscaling layers in YOLO that upscale from P3 to P4, and then from P4 to P5.

A second spot for improvement may be the STRIDED_SLICE layers. These are due to the very first YOLOv5 module called Focus(). This uses a method very similar Tensorflow space_to

[2021-01-10 18:47] glenn-jocher commented on #272
@pirazor the TF upsample op is here. Perhaps you can try alternative implementations (I see one is present but commented).
https://github.com/zldrobit/yolov5/blob/c761637b51701565a9efbd585a05f093f8aa5f41/models/tf.py#L219-L228

[2021-01-10 18:49] glenn-jocher commented on #272
@zldrobit the Focus() module that we might be able to replace with a space_to_depth layer is here. The problem is the current order of ops in the Focus() layer does not translate directly, so replacement is not possible in the v4.0 release models. I can try to work with the TF layer to create a compatible Focus() op for the next release.
https://github.com/zldrobit/yolov5/blob/c761637b51701565a9ef

[2021-01-11 04:21] hoangminhtoan commented on #290
@arsenal-2004 @Namburger @Naveen-Dodda

Hi, I now successfully convert to the full quantization the TPU model. I follow this [tutorial](https://colab.research.google.com/github/google-coral/tutorials/blob/master/fix_conversion_issues_ptq_tf2.ipynb#scrollTo=6MPyPU7RH7lO)

The model is not quantized because it received dynamic batch size, so I fix the number of batch size is 1 as the above tutorial,

[2021-01-11 08:12] dothebart commented on #293
Hi,
due to python 3.9 not yet being supported I'm working with a buster chroot:
[code]

[2021-01-11 08:39] parthjdoshi commented on #290
@hoangminhtoan That's nice to hear. However, I already have a fixed batch size of 16.
I think the issue with my model is the Instance Normalization layer, so I am trying one without that layer.
The error that I get now is
[code]

[2021-01-11 08:49] parthjdoshi commented on #290
@Namburger @Naveen-Dodda Can you guys try out with this new model as well? Since it uses batch normalisation instead of instance normalisation and throws a different error while compiling, as shown above.
[osnet_x0_25_msmt17.zip](https://github.com/google-coral/edgetpu/files/5794658/osnet_x0_25_msmt17.zip)

[2021-01-11 09:35] parthjdoshi commented on #290
@Namburger @Naveen-Dodda I tried a model with batch 1 as well. Faced the same issue.

[2021-01-11 12:24] ngotra2710 commented on #272
I try to do like this one. But got some error after I install tensorflow v2.4.0 from source.
This is the error when I try `python3 models/tf.py --weight ./runs/train/exp/weights/best.pt ....`

E tensorflow/stream_executor/cuda/cuda_blas.cc:226] failed to create cublas handle: CUBLAS_STATUS_NOT_INITIALIZED
W tensorflow/core/framework/op_kernel.cc:1763] OP_REQUIRES failed at conv_ops.cc:1106 : Not f

[2021-01-12 00:47] zldrobit commented on #272
Plz check your CUDA version and your GPU model type.
Or try running `models/tf.py` again after rebooting your machine?

Actually, I didn't build TF with CUDA support because `models/tf.py` does not require CUDA for inference.

At 2021-01-11 20:25:13, "ngotra2710" <notifications@github.com> wrote:

@Namburger I find a way to suppress HardSwish transformation in TFLite conversion.
Just comment out T

[2021-01-12 07:55] hoangminhtoan commented on #290
@arsenal-2004

I got the same problem as yours when changing batch_size from 1 to 16. How about you convert the model from osnet_imagenet from [model_zoo](https://kaiyangzhou.github.io/deep-person-reid/MODEL_ZOO). I haven't checked with pretrained pytorch model yet, that's why I retrained osnet with imagenet in keras tf1.15

[2021-01-12 07:58] NeuerUser commented on #122
Hello all
I find it difficult to understand what exactly the requirement is, given that I do not know much about PCIe standard.
According to the Coral-M2-dual-edgetpu-datasheet:

I have two potential hosts for the dual M.2 card, but cannot find if they would work with it. These are the two:
1. Rock Pi N10, based on RK3399pro (with a M.2 E-Key slot):
According to specs it supports PCIe 2.1 and has

[2021-01-12 11:09] ricardodeazambuja commented on #187
Any news on this issue?

I'm using  Edge TPU Compiler version 15.0.340273435 (tf.__version__ =>2.4.0) and it still gives me the message "Operation version not supported" if I try to use RESIZE_NEAREST_NEIGHBOR and RESIZE_BILINEAR.

[2021-01-12 16:31] stefano555 opened #295 "After Edge TPU conversion, model predicts always the same value"
Everything can be found in a shared google document at this link https://drive.google.com/drive/folders/1NmMyL1w2FcQJcbmfeHzCIz-TFbiF6n6B?usp=sharing

In the file "quick_tf_lite_test.ipynb" I created a simple model to run inference on an MNIST dataset. Validation accuracy was 98% and the model can be found in the folder under the name "test_addition.pb". After that, I converted the model to a tf l

[2021-01-12 16:43] gdebrecz commented on #270
Hi !
 May you had the chance to have a look at this problem ? It would be quite important for us !
Thanks  a lot in advance !
Gergely

[2021-01-12 18:22] Naveen-Dodda commented on #270
Hi Gergely,

Thanks for your patience, It seems like you have used TF2.0 for training / quantization.  Have you tried to use TF1.x ? If you does the problem still exist ?

Can you please conform this helps us to narrow down the issue and resolve it quick.

[2021-01-12 20:04] gdebrecz commented on #270
Hi Naveen !

First of all thanks for your reply, but as I mentioned in the original report I'm using tensorflow 1.15 (see above). In fact I'm using tensorflow's docker images tensorflow/tensorflow-1.15.4-gpu-py3.

What else could be the reason ?
Thanks for your quick help in advance !
Gergely

[2021-01-13 06:41] parthjdoshi commented on #290
@hoangminhtoan The Model_Zoo models have a batch size of 16. I did manage to get an OSNet model working, which did not contain the Instance Normalization layer. I followed the suggestions from this TensorFlow [issue](https://github.com/tensorflow/tensorflow/issues/46334). Thanks for your help :)

[2021-01-13 09:49] hoangminhtoan commented on #290
@arsenal-2004. So did you successfully compile OSNet model and run it on the board? If so, could you provide your conversion code with specific configurations? Thanks!

[2021-01-13 10:20] parthjdoshi commented on #290
@hoangminhtoan Yes, I compiled the OSNet model and ran it on the Coral USB Accelerator. I am using OSNet as a feature extractor for person-reid.
1. I used [the OSNet_x0_25](https://drive.google.com/uc?id=1MLC2lKnQvAQgBKZP1EXB6UdmqujY9qVd) model from [this](https://github.com/GeekAlexis/FastMOT/blob/master/scripts/download_models.sh) repo. I previously tried with the InstanceNormalization model fro

[2021-01-14 02:25] Naveen-Dodda commented on #270
Hi Gergely,

The compiler fails due to large reshape tensors that does not fit on the memory, this could be because it has fairly large input shape (640 x 640). Could you try to export a two model with sizes (320x320 and 512x512) and see if these models pass through compiler ?

Thanks,
Naveen

[2021-01-14 03:30] hoangminhtoan commented on #290
@arsenal-2004

Thanks for your help. I will close this topic as the model is fully converted!

[2021-01-14 03:30] #290 closed, assigned to Naveen-Dodda

[2021-01-14 23:32] IronBCC opened #296 "MacOS 11.1 initial `screen` step issue"
Hi,

Walked through "Starter Guide" for my Coral Mini, and stuck at a very early step - connect to the device via `screen` command.
`mdt devices` see nothing (as expected)
`ls /dev/cu.usbmodem*` -> `/dev/cu.usbmodemred_yarn1`

`screen /dev/cu.usbmodemred_yarn1 115200` says that "Can’t open line...: Resource busy" and "Cannot find FTY".

Rebooted both mac and device, tried via separate power and OT

[2021-01-15 03:52] manoj7410 commented on #296
@IronBCC MDT hasn't been tested with Mac OS 11 yet. Stay in touch with Coral's website for any updates regarding this.

[2021-01-15 12:14] markus-k commented on #280
Has anyone had a go at this? I've done a bit of debugging and hacking myself and got the kernel module to load and libedgetpu to start an inference (although it never finishes, some event is missing, and there is an HIB error?).

There are some changes needed in both the kernel module and the user-space drivers, so far primarily replacing 64bit memory accesses with two 32bit ones. My progress is [

[2021-01-15 14:07] Namburger commented on #280
@markus-k woa, thanks for sharing that
@mbrooksx for awareness

[2021-01-15 22:56] j2abro commented on #294
I too followed the getting started guide and got the identical output as @mentarus. I tried this on 2 different Coral boards and got the same output as shown above. I have successfully installed a number of boards using the previous (non-SDcard) method.

[2021-01-15 23:30] j2abro commented on #294
I solved it. I tried burning the flash image onto another SD card (new, out of box) and the install worked. So it looks like the problem was with the SD card. The previous failed attempt was using a card that had already been used so perhaps that was the issue. I posted the question and answer on SO as well:
[https://stackoverflow.com/questions/65745058/flashing-google-coral-board-from-sd-card-fai

[2021-01-16 05:09] mentarus commented on #294
Once I flashed through fastboot, I could mount and read the card no problem. Hopefully it was just a corrupt SD card issue! Closing the issue for now can always re-open if I encounter it again.

[2021-01-16 05:09] #294 closed, assigned to nobody

[2021-01-16 16:43] Co2Link opened #297 "Errorr when running for a long period of time"
I am using one Coral Edge Tpu on Raspberry Pi 4.  I run yolov5s created using this [repo](https://github.com/zldrobit/yolov5/tree/tf-android-tfl-detect) at about 5 ~ 10 fps.  I have encountered the following error consistenly when running the code for a long period of time (couple of hours) but also occasionally in shorter amounts of time(several minutes).

`F :859] transfer on tag 2 failed. Abort

[2021-01-17 11:02] NeuerUser commented on #122
OK, did quite some research on this. Just in case someone else thinks about the same situation.
Here are my findings:

- PCIe specifications is not the same as PCI specification. MSI-X as defined in PCI v3 seems to have been added to PCIe v2.0. So, apparently both systems should support MSI-X.
- Schematics of the Rock Pi N10, however, show that the M.2 E-key slot does not have the PCIe lanes conne

[2021-01-17 20:00] masc-it commented on #210
any updates about tf 2 od api support?

[2021-01-18 08:12] mpreach opened #298 "After connecting camera modul, device can not reboot"
I tried to connect the camera module to a dev board mini, after connecting the board can not boot anymore. Reproducible. I had to do a "Force-boot into fastboot mode" to get the board up and running again.

Looks like the error is based on the looked root user account.
`
06:10:58.881 -> system logs, "systemctl reboot" to r
06:10:58.881 -> Cannot open access to console, the root account is locked.

[2021-01-18 19:54] saket424 opened #299 "unable to install docker on google coral dev mini board"
I am trying to install docker on the google dev miniboard and am runnig into issues
[code]

[2021-01-18 20:48] saket424 opened #300 "rpi style 40-pin gpio library support"
Does the coral have a library for interfacing with the 40-pin gpio on the Coral dev mini?

I am trying to interface an enviro+ sensor that works fine on a raspberry pi0 to instead work on a the google dev miniboard

https://github.com/pimoroni/enviroplus-python

python lcd.py
Traceback (most recent call last):
  File "lcd.py", line 3, in <module>
    import ST7735
  File "/home/mendel/enviro+stuff

[2021-01-18 23:28] Namburger commented on #300
Hello, please check out the python-periphery library as documented here: https://coral.ai/docs/dev-board/gpio/#program-with-python-periphery

[2021-01-18 23:28] #300 closed, assigned to nobody

[2021-01-18 23:32] Namburger commented on #297
Hello, it seems to be a usb3 issue, which I sometimes have with the RPI3. Could you try to see if it is reproducible on a us2 port or with a different cable?

[2021-01-18 23:39] Namburger commented on #298
Hello @mpreach I'm suspicious that something went wrong using the flash process which causes some missing configs. Although I wouldn't expect it to be booting until you install a camera though o_0
Could you try reflashing it again?

[2021-01-19 05:42] Co2Link commented on #297
@Namburger
Thank you. I will try using a different cable first then usb2.

[2021-01-19 08:01] mpreach commented on #298
Hello @Namburger. It tried to flash without the camera connected. Same result..... but when I flashed with camera connected, it worked. So fine now for me.

[2021-01-19 12:29] itaialon1 commented on #256
Hi,

Does anyone managed to use M.2 Accelerator on Raspberry Pi 4?
I tried to buy USB Accelerator but it is out of stock everywhere.
So I was wondering if I can use the M.2

[2021-01-19 16:03] parthjdoshi opened #301 "YOLOv4 compilation"
Hello,

I have been trying to convert YOLOv4 for the Coral USB Accelerator, but keep facing one issue after the other. Now, I am having trouble with the Exp and Log operators, which prevents my model from being quantized and therefore, compiled.
I have created an issue [here](https://github.com/tensorflow/tensorflow/issues/46395)

Can anyone help me with this? Has anyone successfully converted YOL

[2021-01-19 16:44] saket424 commented on #299
https://stackoverflow.com/questions/65620825/docker-does-not-run-on-coral-dev-board-mini

[2021-01-19 16:46] Namburger commented on #299
ahh, I see it is missing some kernel modules

[2021-01-19 17:06] saket424 commented on #299
@Namburger
i would really appreciate a kernel update so an "apt-get install containerd.io docker-ce docker-ce-cli" succeeds out of the box on this mediatek platform

Thanks in advance

[2021-01-19 18:48] Co2Link commented on #297
@Namburger
Both options "using a different cable" and "use usb2 port" still encounter the same error.

This error could be related to yolov5s model, cuase my code work fine with [MobileNet SSD V2](https://github.com/google-coral/test_data/raw/master/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite)

The code from .7z file i attached here should be able to reproduce the error if you want to h

[2021-01-19 19:47] jakowenko commented on #296
@IronBCC I'm also having a similar issue with my dev mini. Followed the Mac specific steps of `ls /dev/cu.usbmodem*` and then `screen /dev/cu.usbmodemXXX 115200` and get the same error. Did you find any solutions?

[2021-01-19 21:24] jakowenko opened #302 "Did I brick my coral dev mini?"
Just got a coral dev mini today and started to play around with it.

I was SSHed into it and was attempting to update it according to the documentation. I never rebooted it but when I looked back at the terminal window I was disconnected from the device. I can no longer see it via usb when I run `ls /dev/cu.usbmodem*`. Did I brick it somehow, or is there something I'm doing wrong that I can't see

[2021-01-19 22:20] Namburger commented on #302
@jakowenko Updating the board shouldn't break it at all, matter fact, I update it all the time and exclusively use ssh with my board.
A couple of suggestions:
1) Could you try connecting the board form micro HDMI to a monitor to see if it boots up?
2) If you don't have one, you can also try reflashing it with the method you pointed out: https://coral.ai/docs/dev-board-mini/reflash/#force-boot-into

[2021-01-19 22:25] jakowenko commented on #302
@Namburger thanks for the suggestions. I don't have a micro HDMI cable so I'll start with the reflash first and report back. I was just worried I somehow nuked my board, but the green light still turns on.

[2021-01-20 05:40] Co2Link commented on #272
@zldrobit
I've used your tf-android-tfl-detect script to get the edget tpu model. And it accuracy is way better than [MobileNet SSD V2](https://github.com/google-coral/test_data/raw/master/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite) from the offical site.

But as mentioned in #297 . I consistently encounter the following error after i switching from [MobileNet SSD V2](https://github.co

[2021-01-20 05:54] jakowenko commented on #302
Force booting into fastboot and reflashing fixed the issue.

[2021-01-20 05:54] #302 closed, assigned to hjonnala

[2021-01-21 01:15] saket424 commented on #299
@Namburger
I tried following the steps outlined in the stackoverflow link above but I continue to have troubles launching docker. which kernel module is missing?

[2021-01-21 02:04] saket424 commented on #299
@Namburger
I replaced /usr/bin/dockerd with the static version available in
wget https://download.docker.com/linux/static/stable/aarch64/docker-20.10.2.tgz

and it magically worked with the new kernel which has the overlay2 driver

[2021-01-21 14:43] djalusic commented on #291
@keesschollaart81 have you had any progress with this issue? I am encountering the same problem.

[2021-01-21 16:30] keesschollaart81 commented on #291
No, no, still no solution! I switched to Yolov5 which is now compatible with EdgeTPU and does compile...

However, I'm still interested to hear why this yolov4 model cannot be converted by the edgetpu compiler which is why I did not close this issue.

[2021-01-21 23:03] #265 closed, assigned to nobody

[2021-01-21 23:04] #248 closed, assigned to Namburger

[2021-01-21 23:08] Namburger commented on #301
Hello Yolov4 definitely have some ops that isn't supported. Check [this table](https://coral.ai/docs/edgetpu/models-intro/#supported-operations) for reference.
The good new is there are ways to get around unsupported ops, which you can follow this thread for more info: https://github.com/google-coral/edgetpu/issues/272

[2021-01-21 23:08] #301 closed, assigned to nobody

[2021-01-21 23:11] Namburger commented on #299
Thanks for your input. The problem is that MendelOS were designed with prototyping in mind and we did not want to add too much non ML related features that would bloat the kernel. I do see merit in supporting docker, though. I'll put this in as a feature request.

[2021-01-22 01:03] zldrobit commented on #272
@ling9601 Thanks. My colleague run YOLOv5 v4 320x320 on EdgeTPU for 24 hours yesterday without errors.
He uses dpkg `libedgetpu1-max` library.
We just plug Coral EdgeTPU to a USB dock on PC.
So, there should not be any power issues in our situation.

[2021-01-22 01:50] saket424 commented on #299
@Namburger
Unlike the mediatek mt8167s_excelsior mini coral dev board, the NXP i.MX 8M SoC coral dev board  kernel supports docker. Both run mendel linux. So feature parity is yet another reason to normalize the kernel options across the two dev board platforms

[2021-01-22 11:07] siddhantsahu opened #303 "Error building posenet.decoder.so"
The main issue I have is https://github.com/google-coral/project-posenet/issues/52 and I'm trying to build my own posenet.decoder.so using https://github.com/google-coral/edgetpu/issues/127#issuecomment-636036478 to solve that.

OS: Ubuntu 18.04
Tensorflow version: 1.14

Steps I followed:
- Install bazel, clone [project-posenet](https://github.com/google-coral/project-posenet) repo.
- Set env vari

[2021-01-22 18:29] Namburger commented on #303
ahh, all you need is an `#include <memory>` in `src/cpp/posenet/posenet_decoder_tflite_plugin.cc` LOL

[2021-01-22 18:31] Namburger commented on #303
Also, this should already be fixed for posenet_decoder and I've prebuilt it in posenet decoder: https://github.com/google-coral/project-posenet/tree/master/posenet_lib

Lastly, this is what you want:
[code]

[2021-01-22 20:44] KushalHM opened #304 ""Internal Compiler Issue" for Mobilenet SSD Edge TPU model - 16:9 aspect ratio"
Training a int_8 ssd_mobilenet_edgetpu object detection model at **480 x 270** image fixed size on a custom 1 class dataset (based on coco). Below is the pipeline.

[pipeline.txt](https://github.com/google-coral/edgetpu/files/5858467/pipeline.txt)

tflite conversion command:
tflite_convert   --output_file="edge_mobdet.tflite"   --graph_def_file="tflite_graph.pb"   --inference_type=QUANTIZED_UINT8

[2021-01-22 21:14] Namburger commented on #304
@Naveen-Dodda could you take a look at this one?

[2021-01-23 18:26] saket424 opened #305 "Possible to boot minicoral dev board using microsd card or usb-c drive?"
I have had two occasions already where my board doesn't go green . It is half orange half green for some unknown reason. Another time I had a botched /etc/fstab file and had to start over with fastboot

It would help greatly if we could optionally boot from microsd sdcard instead of solely from internal 8gb storage

[2021-01-25 08:09] siddhantsahu commented on #303
Thanks a lot @Namburger , now I can build the `posenet_decoder.so` and the `OSError: /lib/x86_64-linux-gnu/libm.so.6: version GLIBC_2.29 not found (required by ./posenet_lib/x86_64/posenet_decoder.so)` issue seems resolved.

But, running `simple_pose.py` still brings another issue:
`RuntimeError: src/cpp/posenet/posenet_decoder_op.cc:128 (shorts->type == kTfLiteUInt8 || shorts->type == kTfLiteFloa

[2021-01-25 19:59] Naveen-Dodda commented on #304
Hello Kushal,

Non square aspect ratios should not be a problem. I have few questions to narrow down this issue,
1. Which export script are using to export from checkpoint
2. Are you using TF2.x object detection api for training or tflite_convert ?

[2021-01-25 21:54] Naveen-Dodda commented on #291
Hello @keesschollaart81

I have tired to run inference with both the tflite models. But aml-new-run-70.tflite model fails to run inference. Can you try to run inference on cpu model as well.

It seems like the issue is with tflite_convert or yolo.save_as_tflite  rather than edgetpu_compiler.

[2021-01-25 22:30] KushalHM commented on #304
Hi Naveen,
Thanks for the quick response.
 I am using object_detection/export_tflite_ssd_graph.py script to export and using TF1.15.0 version so TF1.x object detection api for training.

[2021-01-25 23:13] Namburger commented on #305
@saket424
thanks for checking in, I'll have to check with my team and get back with you on this.
To address the original issue, though, would you still encounter the issue with different cable?

[2021-01-25 23:25] saket424 commented on #305
@Namburger ,

Once it gets into the orange+green state, it doesn't matter what cable I use, it stays in that state.

My goal is to get power and ethernet connectivity to the minicoral using this

https://www.amazon.com/UCTRONICS-Raspberry-Ethernet-Chromecast-Compliant/dp/B0876N3PMZ

[2021-01-25 23:35] Namburger commented on #305
@saket424 sorry, could you clarify?
Once the board goes orange+green, you've tried switching to a different USB-C cable and it is still not booting? How did you finally get it to boot again?

[2021-01-25 23:36] saket424 commented on #305
@Namburger
The only way to boot again is to force it into fastboot mode and start over

[2021-01-26 10:23] Co2Link commented on #272
@zldrobit
Thanks.
I also run YOLOV5 on EdgeTPU for 48 hours on an ubuntu PC without  errors.
But error occur when runing on raspberrypi 4(Raspberry Pi OS)  even with TPU plugged to a USB hub.
so, it may be an os issue?

[2021-01-26 16:34] gdebrecz commented on #270
Hi !

Unfortunately, in the 512x512 case the compiler compiles forever (CPUs on 100%), while in the 320x320 case it return with the following error:

user@hpegpu:/data/shared/trained_models$ edgetpu_compiler -o /tmp/compile_dir ./deeplabv3_px320_quantized_frozen_graph.tflite
Edge TPU Compiler version 15.0.340273435

Internal compiler error. Aborting!

What other information should I give to make d

[2021-01-26 21:15] gdebrecz commented on #270
To be very specific what I'm doing is:

1.)
Take: edgetpu-deeplab_2020_03_09.tar.gz
Downloaded from: http://download.tensorflow.org/models/edgetpu-deeplab_2020_03_09.tar.gz

2.) Train:

cwd=`pwd`
export PYTHONPATH=$PYTHONPATH:$cwd:$cwd/slim

PATH_TO_DATASET=/root/models/research/deeplab/datasets/test320/tfrecord
PATH_TO_TRAINED_FLOAT_MODEL=/root/edgetpu-deeplab/model.ckpt
PATH_TO_TRAIN_DIR=./train

[2021-01-27 02:25] zldrobit commented on #272
@ling9601 I agree with you, but I can't assure that since I haven't an RPI.

[2021-01-27 02:29] pliablepixels commented on #272
@zldrobit @glenn-jocher is there a repo that holds links to  the latest compiled yolov5 weights specifically for edgeTPU? It looks like things are evolving reading the thread above. I develop [open source](https://github.com/pliablepixels/zmeventnotification) for home security and a lot of my users use coral. We are limited to using mobiledet or mobilenet  -  both of which are terrible on accuracy

[2021-01-27 03:17] zldrobit commented on #272
@pliablepixels You could export and test Edge TPU model with https://github.com/zldrobit/yolov5/tree/tf-android-tfl-detect.
PS: I attached the COCO Edge TPU model with 320x320 input resolution in case you're interested.

[yolov5s-int8_edgetpu.zip](https://github.com/google-coral/edgetpu/files/5877537/yolov5s-int8_edgetpu.zip)

[2021-01-27 03:34] Co2Link commented on #297
As mentioned [here](https://github.com/google-coral/edgetpu/issues/272#issuecomment-767448117)
Running on an ubuntu PC for 48 hours without error.
so, it may be an OS issue?

[2021-01-27 08:26] gdebrecz commented on #270
I'm just wondering if you have a docker container with a properly working example ? That would help a lot in debugging the issues !
Thanks a lot in advance,
Gergely

[2021-01-27 10:44] fransiskusyoga opened #306 "Problem in running test for 082_MediaPipe_Meet_Segementation"
I tried to run test.py from this folder (082_MediaPipe_Meet_Segementation) and got error. If I use a model I downloaded from "sudo gdown --id 1qOlcK8iKki_aAi_OrxE2YLaw5EZvQn1S" , I get this error.
[code]
if I use this model ( https://meet.google.com/_/rtcvidproc/release/336842817/segm_lite_v509.tflite ), I get this error
[code]

What model that I can use to run the test.py?

[2021-01-27 12:02] pliablepixels commented on #272
Issue moved to the right repo. Thanks @zldrobit

[2021-01-27 12:38] zldrobit commented on #272
@pliablepixels plz report Edge TPU YOLOv5 related issues to https://github.com/ultralytics/yolov5/pull/1127

[2021-01-27 18:22] Namburger commented on #306
Hello @fransiskusyoga
Sorry but I don't know where to go from here. First I don't exactly know where you got the model or what test.py even have.
From what I see:
1) For this issue:
[code]
Means that your input shape is different than your the input tensor of the model that you're trying to feed the input in.
2) For this issue:
[code]
That's more like a tflite_runtime issue when initializing the m

[2021-01-28 01:07] fransiskusyoga commented on #306
sorry, i did a wrong post

[2021-01-28 01:07] #306 closed, assigned to nobody

[2021-01-28 10:17] siddhantsahu commented on #303
Update (with solution): Most likely the way I was building `posenet_decoder.so` was incorrect. The steps mentioned [here](https://github.com/google-coral/project-posenet/tree/posenet-decoder-build-instruction) worked:

- `git clone --recurse-submodules https://github.com/google-coral/libcoral`
- `cd libcoral`
- `bazel build --compilation_mode=opt --copt=-DNPY_NO_DEPRECATED_API=NPY_1_7_API_VERSION

[2021-01-28 12:03] yihsinhung commented on #303
Hi siddhantsahu:
The ways can fix the issue after i test. Thank your information!

[2021-01-28 14:18] WagoAlex opened #307 "clear"

[2021-01-28 14:19] #307 closed, assigned to nobody

[2021-01-28 14:30] WagoAlex opened #308 "Failed to verify PCIE is loaded"
Hi there,

Im using the Mini PCIE Accelerator on a

- Linux edge 4.19.0-10-amd64 #1 SMP Debian 4.19.132-1 (2020-07-24) x86_64 GNU/Linux
The USB Accelerator works fine, but mPCIE verification fails..
Any idea?

My steps:

https://coral.ai/docs/m2/get-started/

root@edge:~# uname -r
4.19.0-10-amd64
root@edge:~# lsmod | grep apex
root@edge:~# echo "deb https://packages.cloud.google.com/apt coral-edge

[2021-01-28 17:26] Namburger commented on #308
@WagoAlex seems to be working fine from `lspci -x`, for apex, it should show up as `/dev/apex_0`, not `/dev/apex` could you check again?

[2021-01-28 17:39] WagoAlex commented on #308
Sorry copy past error.. Unfortunately /dev/apex_0 doesn’t appear at all ..
Only an error that this device doesn’t exist

[2021-01-28 17:40] Namburger commented on #308
I see, does modinfo gasket/apex shows anything?

[2021-01-28 17:51] WagoAlex commented on #308
at first I could run modinfo, so i tried
depmod -a
but it seems not to find the module?

root@edge:~# modinfo gasket/apex
modinfo: ERROR: Module gasket/apex not found.

[2021-01-28 18:00] Namburger commented on #308
humn, could you find a apex/gasket driver in /?
[code]
Then sudo modinfo path/to/gasket.ko, same for apex?

[2021-01-28 18:04] WagoAlex commented on #308
unfortunatly not..
root@edge:~# cd / && sudo find -name "gasket.ko"
root@edge:/#

[2021-01-28 18:31] Namburger commented on #308
Wait, id you actually install our driver?
[code]

[2021-01-28 18:53] WagoAlex commented on #308
yes. like in the getting started:
sudo apt-get install gasket-dkms libedgetpu1-std

ii  gasket-dkms                    1.0-14                              all          DKMS source for the gasket driver

[2021-01-29 07:51] WagoAlex commented on #308
I´ve tested an second  "Mini PCIe Accelerator" with the same result.
I think it´s unlikely that the issue is generated by the HW/-connection. Even if I couldn´t fix the module with a screw.
![Unbenannt](https://user-images.githubusercontent.com/40886443/106246706-cfc83200-620e-11eb-90d5-028c5ba4b653.JPG)

I hope my "engineering effort to fix the module "doesn´t create some sort of antenna ^^

[2021-01-30 08:46] Co2Link commented on #297
I tested on a different set of hardware(RPI4 and TPU), the error still show up.

[2021-01-31 05:29] hiwudery commented on #280
@markus-k thank your for your sharing.
I add othbootargs=gasket.dma_bit_mask=32 to avoid HIB error.
But after running the sample program, I still get the following errors.
Did you have any ideas ? (Rasbian OS is 32bit; all the code is download from markus-k's repo)
Thank you
-Jack

![messageImage_1612070152087](https://user-images.githubusercontent.com/35888527/106375575-2d53ae80-63c8-11eb-8b36-fd

[2021-01-31 10:15] markus-k commented on #280
@hiwudery That's weird. Your upper and lower 32bits are cloned when reading from the device (see the line with `I :229`), which my patch should fix. Maybe the compiler optimized the two reads into one ldrd? But since that still performs two 32bit accesses, I don't really understand why that happens.

I just tried setting `dma_bit_mask` but still get HIB Errors, in addition to out of memory errors

[2021-02-01 06:10] WagoAlex commented on #308
@Namburger any idea?

[2021-02-01 22:24] Namburger commented on #308
@WagoAlex humn, sorry, I'm not sure why the kernel module isn't findable. Could you share the outputs of this command:
[code]

[2021-02-02 07:31] WagoAlex commented on #308
root@edge:~# lspci -x | grep 089a
04:00.0 System peripheral: Device 1ac1:089a
root@edge:~# sudo lspci -vvv
00:00.0 Host bridge: Intel Corporation Atom Processor Z36xxx/Z37xxx Series SoC Transaction Register (rev 11)
        Subsystem: Intel Corporation Atom Processor Z36xxx/Z37xxx Series SoC Transaction Register
        Control: I/O+ Mem+ BusMaster+ SpecCycle- MemWINV- VGASnoop- ParErr- Stepping-

[2021-02-02 09:25] gavan-x commented on #256
Google's Coral hardware ecosystem is grossly under-tested, it's unfortunate the hardware does not have the same support as their software!

It is working with the Jetson Nano but the hurdles, Google support should document it on their homepage.

The Bananapi M4 has no hardware limitation, just not “supported” by their team.

[2021-02-02 13:39] mitchross commented on #256
https://github.com/google-coral/edgetpu/issues/96#issuecomment-616566015

[2021-02-02 19:08] Namburger commented on #256
@mitchross Jetson Nano should works, what issue do you have with it?
I believe the banana pi doesn't have msi-x support

[2021-02-03 04:29] #303 closed, assigned to nobody

[2021-02-03 20:38] mbrooksx commented on #280
Yes, what you've done is essentially everything I've done for debug. The only additional change you alluded to is correct - the compiler is too smart for libedgetpu and expects a competent system that would be able have 64-bit wide accesses. I fixed this by using volatile variables to skip caching.  My repos of progress are:
https://github.com/mbrooksx/libedgetpu (Userspace)
https://github.com/mbr

[2021-02-03 23:34] geerlingguy commented on #280
@mbrooksx - And for the benefit of anyone who hasn't touched BAR space allocations, here's a guide I wrote on it a few months back testing graphics cards on the CM4: https://gist.github.com/geerlingguy/9d78ea34cab8e18d71ee5954417429df

The latest 5.10.y kernels for Pi OS already increased the default allocation to 1 GB I think (maybe even 4 or 8 GB? I don't remember if I followed up and checked on

[2021-02-04 05:34] gavan-x commented on #256
@namburger @mitchross `I believe the banana pi doesn't have msi-x support`

how is this verified? Banana Pi is the company, the device (Banana Pi M4)
has an Arm v8 cpu, a cortex A53 that can run 64bit Linux.

Do you mean that the M.2 slots on devices need to be PCIE 3.0 (MSI-X was standardized in the pcie 3.0 revision).

[2021-02-04 06:04] gavan-x commented on #223
@Namburger who is we? Are you part of the coral team? Could you elaborate on steps to take to verify if the Bananapi M4 supports MSI-X, unless you have a device in your lab. I can loop you in with Banana Pi’s team.

[2021-02-04 10:56] markus-k commented on #280
Alright, at least I haven't been looking in the completely wrong place. I've done most of my debugging on a 32-bit kernel so far. The default BAR space seems to be 1GB, I'm not sure if that's enough, but I'm not seeing any BAR allocation errors.

In case this helps anyone, some more debug logs. I've added your additional debug print, on a 32-bit kernel without any additional parameters:
[code]

I'

[2021-02-04 11:19] johannes-do opened #309 "Another "Internal compile error. Aborting!""
I have the issue with this specific model:
[model_quant.tflite.zip](https://github.com/google-coral/edgetpu/files/5925349/model_quant.tflite.zip)

Tensorflow 2.2
Edge TPU Compiler version 15.0.340273435

But on an unspecific note, this error message is one of the biggest pain points I have with the whole EdgeTPU development (mostly it is really nice!). But it basically says nothing. Randomly chang

[2021-02-04 11:56] Namburger commented on #223
@gavan1 with with coral team, our engs have a bananapi now but as I mentioned, msi-x is required at the moment for our gasket driver. It is now documented on the requirements part of our m.2 getting started page. There are on going work to make this possible but we are experiencing road blocks

[2021-02-04 11:57] Namburger commented on #223
See here: https://github.com/google-coral/edgetpu/issues/280

[2021-02-04 17:28] Naveen-Dodda commented on #309
Hi @j-o-d-o,

Yes you are right size of the layers is the limiting factor here.
For example the model you shared is rejected due to large concat operation ( 60 x152 x 90). Changing filter sizes, input sizes, layer numbers will reduce the size of layers and fit on chip memory of edgetpu.

Current version of Quantization aware training in TF2.0 would introduce some quantise and dequantise layers wit

[2021-02-04 18:06] hiwudery commented on #280
@markus-k in gasket_page_table.c, the page table is 64bit format not 32bit format.  I think the gasket_page_table also need to modify in 32bit kernel.

 * Address format:
 * Simple addresses - those whose containing pages are directly placed in the
 * device's address translation registers - are laid out as:
 * [ 63 - 25: 0 | 24 - 12: page index | 11 - 0: page offset ]

[2021-02-04 18:18] johannes-do commented on #309
Cool, thanks for the quick response. Something like this would be nice as an error message. Then we don't have to create a github issues everytime this happens :)
Is there some documentation which operations we can assume are "too large"? Otherwise checking for every configuration is a bit tedious and it is hard to find the optimal sizes that still work. Here it says that if on-chip memory is not

[2021-02-04 18:19] #309 closed, assigned to Naveen-Dodda

[2021-02-04 20:11] johannes-do commented on #212
What fixes the above error for me is when I initialize the bias (in case the layer has `use_bias=True`) with anything else other than `"zero"`.

[code]

Edit: The above workaround did not work for Conv2DTranspose.

[2021-02-05 14:04] Namburger commented on #308
What base board are you using?
It seems that msi-x isn't supported, which is a requirements for our driver:
[code]
See https://github.com/google-coral/edgetpu/issues/280 for more info

[2021-02-05 14:58] WagoAlex commented on #308
I´m using this one:
https://www.wago.com/us/controllers-bus-couplers-i-o/edge-computer/p/752-9401

thx for you info. I´ll reach out to R&D.

[2021-02-05 20:01] mitchross commented on #256
Jetson nanon doesnt work out of the box without applying your fix.

@rdejana Hi, although I haven't seen these issue before, we have had success stories from jetson nano users. There is one thing that you can try:
Could you add pcie_aspm=off to your kernel command arguments?
You can do with by opening this file:

$ cat /boot/extlinux/extlinux.conf
TIMEOUT 30
DEFAULT primary

MENU TITLE L4T boot op

[2021-02-05 22:22] luke-iqt commented on #210
I also wanted to see if there is an update - Is it possible to use the TF2 Object Detection API, with a MobileNet SSD model and compile it to work on the EdgeTPU? Do I have to use TF1 if I want to use a custom model on the EdgeTPU?

[2021-02-06 01:28] luke-iqt commented on #210
I manage to get a custom MobileNet SSD model I trained to compile. I used the following:

**Export a TFLite compatible model**
[code]

**Use the Python API to export a Post Training Quantized trained TFLite**
[code]
[code]

[2021-02-07 12:11] Co2Link commented on #297
I found the problem, but don't know how to fix it.

[code]

`start_read()` method will start a new thread to read frame from usb webcam constantly.
`predict()` method do preprocessing and `invoke()` and postpreocessing using edge tpu.
I found that error won't show up if i comment out  `gen.start_read()`  (89hours without error).

So can it be the limitation of the usb bandwidth?

[2021-02-07 13:55] parhedberg opened #310 "Illegal instruction when trying to use example"
Hi!

Just installed the Coral USB on my system.

I am trying to use the examples found on [https://coral.ai/docs/accelerator/get-started/#1-install-the-edge-tpu-runtime](https://coral.ai/docs/accelerator/get-started/#1-install-the-edge-tpu-runtime) on my system that is running Debian 10, buster.

I think i have installed everything, but when i try to run the image classifier i get this:

[code]

.

[2021-02-07 14:14] alan303138 commented on #210
Can i know your tf 、cuda version and what GPU you using right now?
I compiled ssd_mobilenet_v2_FPN_320x320 model and get this log.
[code]

[2021-02-07 15:46] luke-iqt commented on #210
Oh Cool! I thought that TFlite was only working with SSD.

Here is my SMI info:
[code]

I am using the `FROM tensorflow/tensorflow:nightly-gpu-jupyter` docker container which reports it is using TF ver: `2.5.0-dev20210203`

I used transfer learning and start from this model: **ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz**

[2021-02-08 10:13] parhedberg commented on #163
I am having this same problem. Do I really need a new host with avx support?

[2021-02-08 11:38] CarMiranda opened #311 "Compiler for ARM"
Hi everyone,

I just wanted to have some clarity as to why the EdgeTPU compiler is no longer available for Arm architectures?
There are more and more capable, powerful devices powered by Arm (e.g. NVidia Jetson Xavier for embedded, Apple M1 SoC for desktop/laptop) so I don't get why:

![image](https://user-images.githubusercontent.com/24211207/107213877-5ea42e00-6a09-11eb-8a78-380d6f89ec5e.png)

I

[2021-02-08 13:58] Namburger commented on #310
@parhedberg ahh, that sounds like your CPU doesn't support some instructions that is required by the tensorflow package. Unfortunately, the only way to get it working on your HW is to build your own tflite package, you can follow this thread for more info: https://github.com/google-coral/edgetpu/issues/229

[2021-02-08 14:02] Namburger commented on #311
@CarMiranda hello, I believe we made the decision due to some limited capabilities of ARM chip back then. However I do understand your point, it seems ARM is the future :)
Let me bring it up to our team today to see what will we decide for the future. For now you can use an older version: https://github.com/google-coral/edgetpu/tree/657d2b654101540164af240eacb31440ff6f535d/compiler/aarch64

[2021-02-08 19:39] CarMiranda commented on #311
Nice, thank you for the prompt and clear answer @Namburger !

Please do keep us posted when you have more info on the matter :)

[2021-02-08 20:57] KushalHM commented on #304
Hi @Naveen-Dodda , any update on this issue?

Update from my side:
I was able to get a 16:9 aspect ratio work for a ssd_mobilenet_v2 feature extractor. However facing this same issue with ssd_mobilenet_edgetpu and ssd_mobiledet_edgetpu.

[2021-02-08 21:48] Namburger commented on #311
@CarMiranda Will bring it up with the team today, but also, FYI you can use colab to compile your model anywhere:
https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb

[2021-02-09 15:12] Namburger commented on #311
@CarMiranda apologies, but unfortunately for now we decided t push back this feature until there is a well defined target machine thatwe can set  and test. The issue with the M.1 chip is that it's with MacOS, which we never had a compiler build fr in the first place :/

[2021-02-10 05:10] kalron90 opened #312 "Your terminal lacks the ability to clear the screen or position the cursor."
how to connect wifi on connected USB

OS : Windows 10

1. not connect Lan

    mdt devices -> OK
    mdt shell -> OK

    but, nmtui command is "Your terminal lacks the ability to clear the screen or position the cursor."
      - > WSL, Windows bash, cmd (same problem)

2. connected Lan

    mdt devices -> not
    mdt shell -> not

    Also, USB connection is not possible when wired LAN is connect

[2021-02-10 14:30] vaibhavolarm commented on #270
same problem ..any solution for deeplab?

[2021-02-10 23:28] Namburger commented on #312
Humn, I haven't seen this one before.
Would this happens over putty or ssh in WSL also?

[2021-02-11 13:09] lupitia1 opened #313 "Invalid model, Model not quantized (After post-training full int8 quantization)"
Tensorflow version: 2.4.1
Edge TPU Compiler version: 15.0.340273435

**Issue description:**
I'm Fine-tuning MobilenetV2 in _Google Colab_ and I'm able to convert to normal and quantized TFLite.

But when I try to execute:

`! edgetpu_compiler mobilenet_v2_1.0_224_quant.tflite`

I got the following error:

---------------------------------------------------------------------------------------------

[2021-02-11 15:22] #289 closed, assigned to nobody

[2021-02-12 12:09] johannes-do commented on #313
Unfortunately, it seems the compiler has two error messages it can output:
"Model not quantized" and "Internal compiler error" ; )

What I usually do if I run into this problem. I write a script that tries different inputs, weights, etc. and just reports which configurations worked and which didn't. So yeah, try and error.

Also sometimes it helps to set: `converter.experimental_new_converter = Fa

[2021-02-12 13:51] marcin-kamionowski commented on #169
@Namburger
Where I can find edgetpu compiler 15.1?
Current version in [stable](https://packages.cloud.google.com/apt/dists/coral-edgetpu-stable/main/binary-amd64/Packages) repo is 15.0 - the same as in [unstable](https://packages.cloud.google.com/apt/dists/coral-edgetpu-unstable/main/binary-amd64/Packages)
Is compiler open sourced? I found only [binary](https://github.com/google-coral/edgetpu/tree

[2021-02-12 18:18] murreletinnovation opened #314 "Suspend-To-Idle and Suspend-To-RAM for Google Coral Dev Board"
Hi there,

I'm interested in putting the Dev Board in the deepest sleep mode possible, to then be woken up by a USB event. Looking through "/sys/power/state" I see that freeze and mem are both available.

I run the following commands to try to enter Suspend-To-RAM:
sudo sh -c “echo enabled > /sys/class/tty/ttymxc0/power/wakeup” (enabling wakeup on UART1)
sudo sh -c “echo deep > /sys/power/mem_slee

[2021-02-12 22:59] Namburger commented on #314
@murreletinnovation
UART1 may not be a valid wake source, could you take a look at page 2 on this doc and try to wake it with RTC to verify that it works?
https://github.com/mbrooksx/draft-coral-appnotes/blob/main/PowerSavings.pdf

[2021-02-12 23:36] murreletinnovation commented on #314
@Namburger RTC wakeup seems to work fine. Wakes up after 20 seconds, but I can't seem to access the Mendel Desktop or CLI. The LED peripherals on the board were also still on. Is this normal?

I'd ideally want to move away from an RTC solution and toward an asynchronous event like USB activity.

[2021-02-13 18:12] simoneangarano commented on #123
Sorry, could you please explain how am I supposed to do that? Thank you!

[2021-02-13 20:45] lupitia1 commented on #313
Thank you so much!! This solved the problem.

[2021-02-13 20:45] #313 closed, assigned to Naveen-Dodda

[2021-02-14 02:54] Aspirinkb commented on #270
same issue with edgetpu-deeplabv3 and 15.0.340273435 compiler.

[2021-02-14 03:45] Aspirinkb opened #315 "edgetpu-deeplab compile error"
After `edgetpu-deeplab` model trained on my customer dataset which has only two class, I convert the frozen model to tflite format. When I compile the frozen tflite model using edgetpu_compiler, it runs forever and return nothing on the terminal except '_Edge TPU Compiler version 15.0.340273435'_.

convert command:
[code]

I see that coral.ai provides a semantic segmentation model, deeplab_mnv2, c

[2021-02-14 05:54] Aspirinkb commented on #315
'Internal compiler error. Aborting!' error returned after running about 2 hours.

[2021-02-14 17:12] shermannatrix-old opened #316 "[Coral Dev Board] Failed to load delegate from libedgetpu.so.1"
Hey guys, so I've just started doing my dive into the Coral Dev Board. I managed to run the first demo with vehicular recognition. I think most should be familiar with that.

But when I tried to run the `edgetpu_demo --stream`, that is when I started to encounter the above-mentioned error message.

I also have the Coral Camera module as well, and I've been following the instructions to the 'T', bu

[2021-02-15 19:20] vaibhav810 commented on #75
Same issue with me..any update on this

[2021-02-16 16:44] e2r-htz opened #317 "How to overcome `More than one subgraph is not supported`"
Inference on Edge TPU is very slow if the operations are not mapped to TPU. One of the main reasons for not mapping on TPU is given to be `More than one subgraph is not supported`. For example, I am trying to convert a U-Net type architecture to TFLite. I noticed that the operations on the encoder are mapped on TPU but the ones on decoder are not.

[code]

compiling the above converted model gives

[2021-02-16 17:37] BalajiElumalai27 opened #318 "Noticing particular error in Raspberry pi 4 using coral usb accelerator"
Memory  :  16gb sd card
Edge Tpu compiler version:  14
Library : pre-build library in this git (arm 7a)
Tensorflow version:  1.15.2

        During inference the following is noticed in raspberry pi(Nuke OS). Following error

 **ERROR: Failed to execute request. Unable to find input for layer norm_lized_input_image_tensor.
ERROR: Node number 0 (edgetpu-custom-op) failed to invoke**

Appreciate if

[2021-02-16 18:33] xadrianzetx commented on #75
Hi @vaibhav810 ,

Dilated ```DepthwiseConv2D``` now maps to TPU with compiler version ```15.0.340273435```.

[code]

[2021-02-16 21:32] jaburges commented on #256
Hi folks,
Confirmed working Dual Edge TPU with [this](https://www.amazon.com/gp/product/B079NB8J3B) adapter.

Running in an Asus Z390I-G Mini-itx with i9 - 9900k on Unraid OS ([bit of a faff compiling gasket and apex](https://forums.unraid.net/topic/98064-support-blakeblackshear-frigate/?do=findComment&comment=945776))

As mentioned only a single TPU at time of writing.

The mobo as an M key slot,

[2021-02-16 23:55] Namburger commented on #316
Hello, would you share the outputs of these commands?
[code]

[2021-02-16 23:56] Namburger commented on #317
@e2r-htz There is an experimental feature with our compiler that you can try. Basically add a `-a` to your compiling command:
[code]

Although please keep in mind that this is still in the experimentation stage

[2021-02-16 23:59] Namburger commented on #318
@BalajiElumalai27 I havent seen this before, which pi version and OS are you using?

[2021-02-17 05:36] geerlingguy commented on #280
I also wanted to note something here that may be of interest—I noticed earlier someone mentioned `writeq` being present on 64-bit OSes. I'll soon be testing the Coral TPU (M.2 A+E key version) on a Pi so haven't yet had first-hand experience, but with a different driver I was taking a look at, it seems that one problem may be that `writeq` is _not_ supported on Pi OS / the Pi's PCI-E bus like it m

[2021-02-17 06:57] BalajiElumalai27 commented on #318
**
Raspberry model =  Pi4
Ram = 8gb ram
OS = noobs

using command **cat /etc/os-release** it shows
PRETTY_NAME="Raspbian GNU/Linux 10 (buster)"
NAME="Raspbian GNU/Linux"
VERSION_ID="10"
VERSION="10 (buster)"
VERSION_CODENAME=buster
ID=raspbian
ID_LIKE=debian
HOME_URL="http://www.raspbian.org/&quot;
SUPPORT_URL="http://www.raspbian.org/RaspbianForums&quot;
BUG_REPORT_URL="http://www.raspbian.org/Ra

[2021-02-17 08:52] e2r-htz commented on #317
Damn! That worked! What does `-a` do?

[code]

[2021-02-17 08:52] #317 closed, assigned to nobody

[2021-02-17 10:28] e2r-htz commented on #317
The compiled tflite model still runs very slow on the TPU. Maybe it is because of `RESIZE_NEAREST_NEIGHBOR`. I'm now looking at how to map this on TPU. The docs say that it only works with 2D or 3D array. Anybody had any luck with this?

[2021-02-17 12:25] shermannatrix-old commented on #316
1. When I execute cat `/etc/os-release`:

PRETTY_NAME="Mendel GNU/Linux 5 (Eagle)"
NAME="Mendel GNU/Linux"
ID=mendel
ID_LIKE=debian
HOME_URL="https://coral.ai/"
SUPPORT_URL="https://coral.ai/"
BUG_REPORT_URL="https://coral.ai/"
VERSION_CODENAME="eagle"

2. dpkg -l | grep edgetpu

ii  edgetpudemo                          3-1                                 all              Edge TPU demo script
ii

[2021-02-17 12:28] shermannatrix-old commented on #316
But if you want to know what is listed under the webcam (video1), here's the outputs:

mendel@s4lprod-coral:~$ v4l2-ctl --list-formats-ext --device /dev/video1
ioctl: VIDIOC_ENUM_FMT
        Type: Video Capture

        [0]: 'YUYV' (YUYV 4:2:2)
                Size: Discrete 640x480
                        Interval: Discrete 0.033s (30.000 fps)
                        Interval: Discrete 0.042s (24

[2021-02-17 14:04] kueblert opened #319 "USB cameras on dev board mini"
Hi,
are there any plans to support USB cameras on the dev board mini? I noticed the getting started guide said people are working on it. It there a roadmap or sth.?

I am trying to connect three cameras on a USB 2.0 hub (bandwidth-wise this works fine on other platforms). But when I try it on the dev board mini, only one camera comes up at a time. Is there a known (hardware/driver) limitation to t

[2021-02-17 23:01] Namburger commented on #319
@kueblert
I believe the 3 cameras may just be under powered. I'll check with my team to see progresses on this, but do you see anything interesting in dmesg?
Also, what usb cameras are you using?

[update] We haven't made much changes since MP, the mini board can only support the USB camera with VGA resolution and MJPEG format currently.

[2021-02-17 23:07] geerlingguy commented on #280
On 64-bit Pi OS (with latest kernel compiled at 5.10.14-v8+), I get the following kernel panic after running through the default steps in the setup guide:

![IMG_3633](https://user-images.githubusercontent.com/481677/108279640-8b132500-7142-11eb-9591-c116b37da44a.jpeg)

(Cross-linking to https://github.com/geerlingguy/raspberry-pi-pcie-devices/issues/44#issuecomment-780912830)

[2021-02-17 23:22] Namburger commented on #318
@BalajiElumalai27 What happen if you use the CPU model instead of the edgetpu, issue still occurs?

[2021-02-17 23:33] markus-k commented on #280
You should probably read the rest of this issue, there hasn't been any development since my last comment to my knowledge. The default gasket module won't work at all, my fixed one at least loads and can read temperature, but something is still wrong with the DMA, so it won't work either. Then there's probably still a few other things broken in the user space driver as well.

I don't have the time

[2021-02-17 23:41] timonsku commented on #280
@mbrooksx sounded like Google was working on it? Maybe he could update us. I still have very big interest in this for my product but don't have the resources or know-how to dig into this.

[2021-02-18 05:22] BalajiElumalai27 commented on #318
If i use cpu model it works fine. I worried because of that this issue occurs only when i using tpu model. I refer this link as source code  https://github.com/Namburger/edgetpu-detection-camera

[2021-02-18 12:42] kueblert commented on #319
Thank you for checking, @Namburger .
I tried connecting the cameras via a powered USB hub, but with the same effect.
The cameras are custom uvc cameras connected via a USB 2.0 hub.
They deliver up to 640x480 MJPEG @ 60fps each.

I'll provide a dmesg log later.

[2021-02-18 14:57] kueblert commented on #319
Ok, so I am running the following GStreamer pipeline:
`gst-launch-1.0 v4l2src device="/dev/video1" ! image/jpeg, width=640, height=480, framerate=60/1 ! queue ! decodebin ! compositor name=comp ! videoconvert ! fakesink v4l2src device="/dev/video4" ! image/jpeg, width=640, height=480, framerate=60/1 ! queue ! decodebin ! comp.
`
and receive this output:
Setting pipeline to PAUSED ...
Pipeline is l

[2021-02-18 15:10] TheSven73 opened #320 "Edge tpu PCIe on 32-bit armv7 ?"
We are investigating if it would be possible to use the PCIe version of the Edge TPU on an armv7 system (32-bit arm).

We have already integrated your [out-of-tree gasket driver](https://coral.googlesource.com/linux-imx/+/refs/heads/release-day/drivers/staging/gasket) into our v5.9 mainline Linux kernel. The gasket driver cannot be built, because it depends on ARM64:
[code]
After removing the depe

[2021-02-18 15:10] kueblert commented on #319
[https://e2e.ti.com/support/processors/f/791/t/845765?AM3352-Multiple-USB-cameras](Here) it sounds like musb might be the limiting factor (however, this seems a bit beyond my expertise...). Is it possible to enable that xHCI-thing that those people talk about on Mendel OS and can anyone tell whether it will have the expected outcome?

[2021-02-18 15:14] kueblert commented on #305
Had the same issue (stuck at orange+green) today after experimenting with a powered USB Hub. No clue whether related to that or not. Had to connect the force fastboot pin as well.

[2021-02-18 17:06] saket424 commented on #305
@kueblert
I found that if I interrupted the boot at the right time(almost towards the end of the boot sequence) via the serial console, i was able to get it out of the orange/green state and did not have to resort to fastboot

I suspect it is something relating to fsck failing and re-mounting it as readonly or something

[2021-02-18 17:51] BalajiElumalai27 commented on #318
Occasionally noticed this issue also  **malloc(): unsorted double linked list corrupted
Aborted**

[2021-02-18 22:47] Namburger commented on #318
just to clarify, this is happening with the CPU model?

Aborted

[2021-02-18 22:54] Namburger commented on #305
@saket424 sorry for the late response

do you mean to reflash the board again?

[2021-02-18 22:58] Namburger commented on #316
@steamhyperpolyglot

humnn, seems like you have the right software install and the camera is being detected.
Unless the tpu somehow... disappeared o_0

can you also share this?

[code]

[2021-02-18 23:01] Namburger commented on #320
@TheSven73 we currently don't plan on supporting 32 OS for the pcie module. Although other have open issues similar to this. You can take a look at this one for more info:
https://github.com/google-coral/edgetpu/issues/280#issuecomment-760907539

[2021-02-18 23:07] Namburger commented on #319
@kueblert wait, could you run this commands?
[code]
I may be wrong, but I believe `/dev/video1` is reserved for our camera module

[2021-02-18 23:32] saket424 commented on #305
@Namburger
I mean I did not need to reflash the board. By interrupting it at the right spot, i made the green&orange turn into all green
I think the real issue is this happens due to an ungraceful shut down. that is my current working theory

[2021-02-19 04:22] BalajiElumalai27 commented on #318
Yes this happening with CPU model also.

[2021-02-19 04:23] BalajiElumalai27 commented on #318
Is there any solution for this issue? Please let me know.

[2021-02-19 06:35] kueblert commented on #319
@Namburger should be video0 and video2.
platform:mt8167 (platform:mt8167):
/dev/video0
                                                                                                                                                                                                                            14001000.rdma (platform:mt8173):
/dev/video2

[2021-02-19 12:45] kueblert commented on #319
after enabling tracing on the uvc driver I got the following slightly more detailled log (of which I still cannot make much sense):

[ 33.757774] usb0_vbus_old: disabling
 [ 33.761344] backlight_vbus: disabling
[ 33.765106] ldo_vm25: disabling
 [ 56.782243] uvcvideo: Failed to query (GET_DEF) UVC control 13 on unit 1: -32 (exp. 8).
[ 56.859116] uvcvideo: Failed to query (GET_DEF) UVC control 13 on

[2021-02-19 13:12] markus-k commented on #280
If someone at Google is working on it, or is going to, it would be nice to get a very rough ETA (weeks, months) on when we can expect to know whether or not the TPU will ever work over PCIe on a CM4. I'll be creating a new revision of my products PCB in few weeks, and if there's very little chance the PCIe TPU won't work anytime soon, I'll have to switch both to USB.

[2021-02-19 13:48] timonsku commented on #280
Yea similar situation for me.

[2021-02-19 23:21] Namburger commented on #319
Humn, so it looks like your cameras are showing up as
/dev/video2,4, and 5. Could you run the pipeline over those devices?
[code]

[2021-02-22 07:36] kueblert commented on #319
Hi @Namburger , sorry for the delay over the weekend. I am pretty sure I got the camera devices right.
Video 0/2 are the built-in ones. Each of my cameras registers both a raw and a MJPG compressed stream. To be able to transfer all images simultaneously, I need to use the MJPG stream. Otherwise the bandwidth might be problematic.

The pipeline you wrote therefore fails. I modified it as follows,

[2021-02-22 07:40] kueblert commented on #305
Thanks @saket424 that will hopefully save some time in case it happens again. Connecting a display doesn't help either, as nothing is displayed at the stage where it fails.

[2021-02-22 08:49] kueblert commented on #305
Also, I need to unplug the cameras after each reboot so that they are recognized as cameras. I guess the board switches from device to host mode that way. Perhaps that interferes somehow?

[2021-02-22 10:54] marcin-kamionowski commented on #169
@feranick Do you have 15.1 compiler or this was you a typo?

[2021-02-22 16:36] bogdannedelcu commented on #235
I had the same issue, orange led not turning green.
I connected trough the serial pins, poweroff/poweron. Waited for the "Press enter" message and login with mendel. Then updated the board with

sudo apt-get update
sudo apt-get dist-upgrade
sudo reboot now

Board works fine after that.

[2021-02-22 18:18] murreletinnovation commented on #314
@Namburger bumping this discussion.

[2021-02-22 18:53] mbrooksx commented on #280
I unfortunately don't have an estimated date. The CM4 PCIe hardware is antiquated, and there are endless hacks required to try to have it operate competently (note that the TPU is a PCIe bus master, and I don't see any evidence of a bus master ever being tested with the CM4). We haven't been receiving the support needed from the Pi team, so for now it's continuing to try things to understand the i

[2021-02-22 23:39] Namburger commented on #314
@mbrooksx could you take a look?

[2021-02-23 00:10] mbrooksx commented on #314
This works fine for me.

(verify deep sleep)
mendel@tuned-rabbit:~$ cat /sys/power/mem_sleep
s2idle [deep]

(verify mxc0 is a wake source)
mendel@tuned-rabbit:~$ sudo cat /sys/kernel/debug/wakeup_sources | grep -i tty
ttymxc0         0               0               0               0               0               0               0               236520          0

echo mem | sudo tee /sys/power/stat

[2021-02-23 00:24] murreletinnovation commented on #314
@mbrooksx I just tried replicating the issue (verifying both deep sleep and mxc0 as a wake source) and did not see any activity on my console.

In the Application Notes on Power Savings, it outlines a method for waking up via RTC.
`echo +20 | sudo tee /sys/class/rtc/rtc0/wakealarm && echo mem | sudo tee /sys/power/state`

I went ahead and retried that and was able to enter suspend but not properly

[2021-02-23 22:09] Namburger commented on #318
@BalajiElumalai27 could you send a stack trace? just want to know the exact point where this error is happening.
Jut run it in gdb until it fails:
[code]
Then post the outputs here. Thanks

[2021-02-24 10:29] kueblert commented on #319
Did the team provide any hint of why only VGA&MJPG is supported? Is it a hardware limitation of the USB/Soc or a driver thing?

[2021-02-24 12:25] marcin-kamionowski opened #321 "Compiler produce large output model"
Hi!
We have model that cause size problem:

I see in hex editor that there is lots of zeros.
The problem still occurs even if we split the model to multiple segments:

The last output segment is always much larger so we decided to remove RESHAPE op just to check if it is causing this problem:

The problem can be reproduced with [this file](https://drive.google.com/file/d/1wBBIPYATk4mMHai4CzQBgVGSL

[2021-02-24 13:26] zshn25 commented on #279
+1 With lower resolution input, all operations are mapped on TPU but as resolution increases, less number of ops are mapped on TPU. At some point, it doesn't even compile anymore.

[2021-02-24 18:02] murreletinnovation commented on #314
Hi @mbrooksx I'm sorry to keep bugging, but I'm not able to replicate your output. Both from setting MXC0 as a wakesource or the RTC. See my above post for the behaviors

[2021-02-24 19:20] mbrooksx commented on #314
Your wake source is working from your logs but you're hanging in the resume path somewhere. You'll need to see what you have attached to the board, likely one of them is preventing resume. Also note that the board in this case was overheating (hence the GPU warning) - perhaps that is causing an issue as well. I ran with a Dev Board running Mendel Eagle with nothing attached but the USB-micro seria

[2021-02-24 19:26] murreletinnovation commented on #314
Thanks Michael, I'll try to replicate your setup exactly and see if the issue persists.

[2021-02-24 22:02] Namburger commented on #321
@marcin-kamionowski can you give me access to that file?
It seems like it could be related to this bug: https://github.com/google-coral/edgetpu/issues/169
which should be fixed...

[2021-02-24 22:03] Namburger commented on #321
@marcin-kamionowski it seems like you commented on that issue too, did you try compiling with 14.x?
if 14.x produces a small model, then it is likely that the bug still exist in some form :/

[2021-02-24 22:05] Namburger commented on #169
@marcin-kamionowski

unfortunately no

[2021-02-24 22:20] feranick commented on #169
Sorry it was a typo. 15.0.340273435 is the one I am referring to and it seems to work.

[2021-02-24 23:16] Namburger commented on #321
Just got your model, also tried with 14.x and the model is still abnormally large, running in in our unreleased compiler got the model size down to 4MB. If you attach your whole model, I'll compile it for you, apologies for the issue

[2021-02-25 01:13] murreletinnovation commented on #314
@mbrooksx Michael, I was able to wakeup from suspend through the serial console. Thanks for outlining your setup. I'm not sure what the issue was but I ended up re-flashing Mendel Eagle and things worked fine.

I'm wondering if you can educate me on how to replicate this process with a generic USB device? The eventual setup I want will require a wakeup from suspend on a USB event. For the moment,

[2021-02-25 08:55] BalajiElumalai27 commented on #318
I found the error came, it occurs when edgetpu library installed in system path and i referred in Libpath were different version.
When i remove edgetpu library in system path for  application works fine without this issue **malloc(): unsorted double linked list corrupted**

 And when i remove uuid preinstalled in system lib folder application works fine without this issue **ERROR: Failed to execut

[2021-02-25 13:40] tml444 opened #322 "Problem with post-training quantization on U-Net model trained with TF2"
Hello,

I am having problems with compiling a U-Net tensorflow 2.2 model for the coral tpu using post-training int8 quantization on windows 10 (wsl with Ubuntu 18.04 for compiler). According to the coral website, every operation should be supported. I applied int8 quantisation to the .pb model with the following code and tensorflow 2.5 (tf-nightly-gpu):

[code]

During the quantization process, th

[2021-02-25 16:26] RobertChenKFC opened #323 "RuntimeError: tensorflow/lite/kernels/unidirectional_sequence_lstm.cc:938 num_intermediate_tensors == 5 was not true.Node number 0 (UNIDIRECTIONAL_SEQUENCE_LSTM) failed to prepare."
**System Information**
- OS: Ubuntu 18.04
- TensorFlow version: 2.5.0.dev20210225
- tflite-runtime version: 2.5.0
- edgetpu_compiler version: 15.0.340273435
- Device: Coral USB Accelerator

**Current Behavior**
I am trying to train a simple LSTM, perform post-training full integer quantization, and then run the quantized model on the edge TPU, but running the model resulted in the following error

[2021-02-25 18:15] mbrooksx commented on #314
It would depend on what USB event you want to wake (such as a plug event or a USB HID event like a USB keyboard press) but overall it should be possible. I'd recommend looking at the NXP forum discussions (keep in mind this is all just an iMX8M). These ones look relevant:

https://community.nxp.com/t5/i-MX-Processors/i-MX8-MCIMX8M-EVK-Wakeup-from-sleep-USB-Device-Mode/m-p/846124
https://community.

[2021-02-25 23:51] Namburger commented on #323
@RobertChenKFC Thanks for checking in!
I believe this is due to the current released tflite_runtime version not able to handle the unidirectional lstm sequence yet. Could you also include the CPU tflite model?

[2021-02-26 01:25] Kuan-ChiehHsu commented on #322
I face the same problem here. Also, @tml444 how do you know the model takes float32 as inputs on edgeTPU? thanks.
[Edit] The same "Model not quantized" situation happens for tf2.3 and tf2.4. And I use the example model [here](https://www.tensorflow.org/lite/performance/post_training_integer_quant_16x8).
[Edit] Also could you provide your source code of alexnet? How do you make it work? thanks

[2021-02-26 03:52] RobertChenKFC commented on #323
Sure, [here](https://drive.google.com/file/d/1be-B-bFNleN13irD58c84qa6wVVO5PXu/view?usp=sharing) it is. I also modified the code in the [Jupyter Notebook](https://colab.research.google.com/drive/1rHp71oRF2fBnZFUILA4XbI-rcuO2lvQr?usp=sharing) so that the CPU tflite model can be ran instead, and it seems to run without any errors.

[2021-02-26 07:54] Kuan-ChiehHsu commented on #322
Related issue but no recent update: https://github.com/google-coral/edgetpu/issues/168

[code]
Adding this flag converts my model with this message: (I'm using tf 2.4.1)
[code]

[2021-02-26 09:00] marcin-kamionowski opened #324 "Off-chip memory used for very small models"
Hi!
We observe quite often cases when small amount off-chip memory is used.
Not sure why. It says that 7.77MiB is available so everything should be placed on chip:

This is the model: [tl_obj_experimental.zip](https://github.com/google-coral/edgetpu/files/6048517/tl_obj_experimental.zip)

[2021-02-26 17:11] paul218 commented on #270
**I used the next,
tensorflow-gpu 1.15.3 to train mobilenet_edgetpu with pascal_voc_seg**

python deeplab/train.py \
    --logtostderr \
    --training_number_of_steps="${NUM_ITERATIONS}" \
    --train_split="train" \
    --model_variant="mobilenet_edgetpu" \
    --output_stride=16 \
    --decoder_output_stride='' \
    --aspp_convs_filters=256 \
    --train_crop_size="513,513" \
    --train_batch

[2021-02-26 17:33] paul218 commented on #270
you must perform post-quantization to your tensorflow-lite model

[2021-02-26 17:34] paul218 opened #325 "Correct way to train mobilenet_edgetpu and compile into edgetpu"
I used the next,
tensorflow-gpu 1.15.3 to train mobilenet_edgetpu with pascal_voc_seg

python deeplab/train.py
--logtostderr
--training_number_of_steps="${NUM_ITERATIONS}"
--train_split="train"
--model_variant="mobilenet_edgetpu"
--output_stride=16
--decoder_output_stride=''
--aspp_convs_filters=256
--train_crop_size="513,513"
--train_batch_size=1
--dataset="pascal_voc_seg"
--tf_initial_checkpoint

[2021-02-26 18:43] neilyoung opened #326 "The tutorial ist not working for me"
Hi,

I'm talking about this tutorial: https://coral.ai/docs/edgetpu/retrain-detection/#configure-your-own-training-data

There is no visible issue while doing the re-training, but in the end the result is disappointing:

[code]

And the image of the cute dog on the screen. The same application works correctly if I use the downloadable, unchanged model.

For enthusiasts here the entire story. I did

[2021-02-26 22:39] Namburger commented on #326
@neilyoung Thanks for reaching out, could you try increasing the eval steps?
You can also try my tutorial, it has slightly more details and runs on colab instead:
https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain

[2021-02-26 22:43] Namburger commented on #324
@Naveen-Dodda could you take a look at this?

[2021-02-26 22:44] Namburger commented on #325
@paul218 Could you include the model?

[2021-02-26 22:50] Namburger commented on #324
@marcin-kamionowski
We use offchip  memory to stream the output tensors so there are some amount of offchip memory expected.
to test this, you try changing the output tensor size and check the compiler output again

[2021-02-27 07:22] neilyoung commented on #326
@Namburger Hi, thanks for the follow up. What eval step number would be suitable?

[2021-02-27 07:59] neilyoung commented on #326
Hi @Namburger, I was now trying to retrain the whole model, to no avail. It stops with `./retrain_detection_model.sh: line 50: 59 Killed` after a short time.

~~I'm now considering to use your approach, but I'm not familia with that colab. Is there any information, what is required to set it up and use it on Ubuntu 18.04?~~ Disregard please

Thanks

[2021-02-27 08:55] neilyoung commented on #326
OK, I was trying to follow your Medium article, but I got stuck on the demo:

![image](https://user-images.githubusercontent.com/731020/109382627-ea5efb00-78e1-11eb-9e52-cf1fa579b912.png)

[2021-02-27 09:07] neilyoung commented on #326
Really strange, I omitted the "width" parameter from the draw.rectangle call and it works. Strange, because I think, the parameter is correct...

BTW: Python 3.6

[2021-02-27 13:06] tml444 commented on #322
Thanks for your reply. When I inspect th tf25 quantized unet model i see this:
![image](https://user-images.githubusercontent.com/79641852/109387702-425a2980-7903-11eb-849e-a48dd8e87950.png)

And for the tf22 "quantized" unet model:
![image](https://user-images.githubusercontent.com/79641852/109387734-67e73300-7903-11eb-956e-fd5fdd88cac2.png)

Because of this I have to feed float32 tensors when in

[2021-02-27 14:18] brunovollmer commented on #99
Hey @Namburger,
I have a similar problem and similar to @BernardinD I was able to fix it by running the tpu stick over USB 2.0. Any suggestions on how to fix the Issue with USB 3.0?

[2021-02-27 15:21] johannes-do opened #327 "How to investigate camera connection problems with Coral Mini"
Brand new hardware (coral camera, coral dev board mini). Followed the getting started guide without any problems.

But when connecting the coral camera, it does not show up when running `v4l2-ctl --list-devices` and `snapshot` complains it can not find any camera. Already tried reflashing. Same result.

Imho the most probable issue is the ribbon cable. I have had that more than once with raspberry

[2021-02-27 18:40] neilyoung commented on #326
I was running your tutorial. It took 7 hours on the colab server and failed finally in step 17 and following.

`ERROR: tflite_runtime-2.5.0-cp36-cp36m-linux_x86_64.whl is not a supported wheel on this platform.
`

Step 25 has also an error, I cannot follow:

[code]

I finally downloaded something, not sure if it is OK:

![image](https://user-images.githubusercontent.com/731020/109396815-a3015a80-7

[2021-02-27 18:56] neilyoung commented on #326
I regret that I have to talk to myself only, but message to myself:

I guess this would be the correct call

`!edgetpu_compiler -s ssdlite_mobiledet_dog_vs_cat.tflite
`

instead of

`!edgetpu_compiler -s ssdlite_mobiledet_custom.tflite
`

But it is just a guess...I'm not the expert here

[2021-02-27 19:23] jimcortez opened #328 "Mini PCIe Accelerator disappears after reboot (Ubuntu 20.04)"
Hi there! I followed the instructions here: https://coral.ai/docs/m2/get-started/ and was able to get the modules installed and used them for some of the samples. However, after a reboot, the devices no longer show up until I do the install cycle again. After every subsequent reboot, the devices disappear again! It's possible that I have misconfigured something, but I can't find any system logs th

[2021-02-27 19:25] neilyoung commented on #326
Well, after the change I got an "edgetpu.tflite" file and I could confirm your results. 8 images, 0.15 s (if I interpret the output correclty).

I somehow had a couple of difficulties to download the results more than one time. I then mounted my Google Drive and it worked.

Compared to the original model provided by Google (MobileDetNet SSD,) which needs about 0.25 s for this, the re-trained model

[2021-02-27 21:59] dfm794 opened #329 "Wifi device on coral dev board stopped working"
A few days ago my coral board dropped off the network. After investigating a bit, I can connect to the board if I plug in an ethernet cable. nmtui-> 'edit a connection' shows the wifi setup is still present. However, no wlan0 shows up under activate a connection or via /sbin/ifconfig from the command line. I don't see anything that looks like a wifi device in the output from dmesg.

Any idea how t

[2021-02-27 22:22] neilyoung commented on #326
Created a PR regarding the wrong name https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain/pull/7
I hope I'm not wrong with this.

[2021-02-28 10:49] paul218 commented on #325
yes.
the link of models.
https://drive.google.com/drive/folders/1TXLkiw-kZYfAzqMGS_Nv-i0PvRkzDMZY?usp=sharing

In the folder train, was the trained model with deeplab/train.py.

In the folder export, there are three models:

*frozen graph with deeplab/export_model.py: frozen_inference_graph.pb
*post-quantization model: model8_seg.tflite
*compile into edge-tpu: model8_seg_edgetpu.tflite

thanks for

[2021-02-28 11:18] hmartinezf commented on #256
Requires a dual bus PCIe:
https://developers.googleblog.com/2020/09/doubling-down-on-edge-with-corals-new.html

[2021-03-01 08:15] neilyoung commented on #326
Besides this Colab excursion - are there other hints regarding how to make the initial tutorial run? I can't achieve any detection, not with full training (stops), not with changed NUM_ values. All these attempts don't lead to useful results.

[2021-03-01 09:57] marcin-kamionowski commented on #324
This is the model in Netron:
![Screenshot from 2021-03-01 09-56-10](https://user-images.githubusercontent.com/32487822/109474316-af410100-7a74-11eb-842c-4d3b02fb410a.png)
Output tensor is 1x4 so it is very small. Are you referring to this size?
I also checked inner operations sizes - biggest one is 22x10x32. I compared this to other model that do not use off-chip memory (144x144x32) so I'm confuse

[2021-03-01 13:34] kueblert commented on #319
Anyone knows whether USB with the normal, full-scale dev board is any better?

[2021-03-01 15:51] neilyoung opened #330 "Retrain tutorial is not working"
Hi,

I can't get anything useful from the retrain tutorial https://coral.ai/docs/edgetpu/retrain-detection/#configure-your-own-training-data.

I come through (even though there are errors in the tutorial) but the dog remains undetected.

If I try to change NUM_EVAL_STEPS and retrain I'm catching this in the docker container:

[code]

Do I have to clean some directories first before restarting?

[2021-03-01 15:59] neilyoung commented on #330
I removed the `~/google-coral/tutorials/docker/object_detection/out/train` dir and it works as it seems

[2021-03-01 20:22] neilyoung commented on #330
Arghh... this entire retrain stuff is a big mess....

After having changed NUM_EVAL_STEPS from 100 to 200 it runs for hours and hours just to stop like so:

[code]

[2021-03-01 22:18] Namburger commented on #323
@RobertChenKFC just checked with my team mates, we are still experimenting with one directional LSTM model on the edgetpu runtime side, however, it should be working by next release!

[2021-03-01 22:54] Namburger commented on #330
@neilyoung Are you sure the process finished?
It seems like normal logs at this point to me.

The full documentation for Object Detection API is here: https://tensorflow-object-detection-api-tutorial.readthedocs.io/en/tensorflow-1.14/
Our tutorial basically wraps around that

[2021-03-01 22:58] Namburger commented on #329
@dfm794 Thanks for reaching out!
Just for assurance, could you share the outputs of these commands?
[code]

[2021-03-01 23:06] Namburger commented on #328
@jimcortez Hey! Following a fresh reboot, do you have anything under:
[code]

[2021-03-01 23:09] Namburger commented on #327
@j-o-d-o
humn, I don't know of any replacement cable, unfortunately :/
How have you confirm that the cable/camera is working? Have you had a chance to try plugging it back to the original dev board to see if it detects it?

[2021-03-01 23:12] Namburger commented on #319
@kueblert allow me to check back with you regarding the dev board mini's usb camera issue, however the original dev board should be able to use the usb camera without issues

[2021-03-01 23:17] neilyoung commented on #330
Yes. It’s back at the prompt after that. Happened twice

[2021-03-01 23:43] jimcortez commented on #328
@Namburger no, nothing shows up. When it does work I see the /dev/apex_0 device.

[2021-03-01 23:46] Namburger commented on #328
@jimcortez ahh, I have a feeling that the issue is the apex and gasket driver not being loaded at all during boot...
What shows up if you run those modinfo commands before reinstalling them?

[2021-03-01 23:58] jimcortez commented on #328
@Namburger those commands were run before I reinstalled.

In another twist, they seem to have come up in my latest reboot, which was a normal reboot sequence and I had not re-installed. I am beginning to think that there may be some race condition that prevents the devices from coming up, but only in certain circumstances. I will keep checking on every reboot and try to dump dmesg if it happens ag

[2021-03-02 02:03] RobertChenKFC commented on #323
Ah okay, thanks for the update! Although I have a few questions:
- From the edgetpu_compiler output, it seems like the UNIDIRECTIONAL_SEQUENCE_LSTM operation is handled on the CPU (not mapped to the TPU), so I thought that at least for those operations, the behavior would be the same as those of the CPU tflite model's, but it seems like the error message is related to this operation that is handle

[2021-03-02 03:35] dfm794 commented on #329
Sure...keep in mind I connected an ethernet cable to get a connection after wifi failed...
mendel@jumping-rabbit:~$ nmcli connection show
NAME                UUID                                  TYPE      DEVICE
gadget0             a70367f2-3251-499f-ac16-cb47cbe91c49  ethernet  usb0
gadget1             149b5035-0ead-4b65-b04e-ab7f116639d7  ethernet  usb1
Wired connection 1  7e23bb82-30ec-3ef1-ad

[2021-03-02 03:37] dfm794 commented on #329
hmmm. don't know why the editor decided to strikethrough the nmcli command, so here it is again
mendel@jumping-rabbit:~$ nmcli connection show
NAME                UUID                                  TYPE      DEVICE
gadget0             a70367f2-3251-499f-ac16-cb47cbe91c49  ethernet  usb0
gadget1             149b5035-0ead-4b65-b04e-ab7f116639d7  ethernet  usb1
Wired connection 1  7e23bb82-30ec-3e

[2021-03-02 04:13] slbejaranom opened #331 "Mongo DB can't be installed"
Hello everyone, I have a server using nodejs mongo and dlib for tracking and counting cars, sending some info to mongo, however I have this running in docker, although I can get it out of docker it seems impossible to install mongo, i've tried some tricks from raspberry but still can't manage to do it, any help would be appreciated.

[2021-03-02 06:03] johannes-do commented on #327
No, I just have one Dev Board. I currently see no option for testing the camera other than getting another board and/or camera.

The ribbon cable is just a wild guess on my side. I opened the issue to maybe get some more creative ideas on how to further test the hardware and to make sure that I would buy the correct ribbon cable. (I just ordered it now, its really cheap)

But I understand that thi

[2021-03-02 06:03] #327 closed, assigned to nobody

[2021-03-02 06:34] neilyoung commented on #330
Wow, that's strange. I was searching for the warning message, which preceeded the break, and found this: https://github.com/tensorflow/models/issues/5707

Blindly followed the instruction to add the log level info line at the top of the script. Output was verbose, but at least it came through for the very first time with NUM_STEPS...

Let's see if it detects something now.

[2021-03-02 06:36] neilyoung commented on #330
Our tutorial basically wraps around that

Thanks for the link. Well, this tutorial talks about Python 3.7. What I see from your scripts is that it used Python 2.7

[2021-03-02 06:41] neilyoung commented on #330
But even with NUM_EVAL_STEPS=200 it does not produce any result, so this is the output.

[code]

Doesn't work for me.

BTW: As with your private project also this tutorial has a problem with the final path parameter. It uses "detection" instead of "object_detection". Where would I be able to fix at least this?

[2021-03-02 06:50] kueblert commented on #319
@Namburger Your help is much appreciated. I'd be happy to get it working with the mini.

[2021-03-02 09:29] pdecat commented on #163
FWIW, I had to patch the coral_crosstool Bazel toolchain to be able to compile libedgetpu on old CPUs without SSE4.2: https://github.com/blakeblackshear/frigate-hass-addons/pull/12/files#diff-ad233d86ed208369892f93711e1f006d9e5ce1d53ba85251259c187b21931e63R24-R29

[code]

It would be awesome if this could be passed as a parameter instead of having to patch the toolchain. Or did I miss something?

[2021-03-02 13:12] batrlatom commented on #272
@zldrobit Would you be able to share

Would you be so kind and share the prediction script? I have tried the detect_image.py from pycoral examples, but without any success. It would help me a lot. Thank you!

[2021-03-02 13:16] batrlatom commented on #272
I love the work! Thank you for the effort. Do you think you could share the script for prediction on the google coral devboard which is compatible with the tflite model you shared?

btw ... 60ms per image is comparable with the mobiledet and we could only improve from there. Perfect!
Unfortunatelly I am getting 350ms per prediction on this

My current code for inference is:

[code]

[2021-03-02 17:35] mbrooksx commented on #331
Hello,

Can you provide information about how you attempted to install mongo and the errors that it produced?

Thanks!

[2021-03-02 17:38] slbejaranom commented on #331
Well at first I tried like sudo apt-get install mongodb and it showed that there was no distribution for the armv8 processor, something like that if I remember well, after that, I tried building my docker-compose file and this is the one I'm talking about
[code]

It didn't install mongo as there's no distribution available for the processor

[2021-03-02 17:41] mbrooksx commented on #329
Can you output the following dmesg command:
sudo dmesg | grep -iE 'wlan|pcie'

I have a feeling that the device is not enumerating.

[2021-03-02 17:51] dfm794 commented on #329
Sure...
mendel@jumping-rabbit:~$ sudo dmesg | grep -iE 'wlan|pcie'
[    0.000000] Kernel command line: console=ttymxc0,115200 console=tty0 earlycon=ec_imx6q,0x30860000,115200 root=PARTUUID=70672ec3-5eee-49ff-b3b1-eb1fbd406bf5 rootfstype=ext4 rw rootwait init=/sbin/init net.ifnames=0 pci=pcie_bus_perf
[    8.118979] imx6q-pcie 33800000.pcie: 33800000.pcie supply epdev_on not found, using dummy regu

[2021-03-02 17:52] mbrooksx commented on #280
My latest theory isn't encouraging (note that this would be really easy to solve in a non-COVID world, where would just plug this into a PCIe bus analyzer and see what data the CM4 is malforming):

When you run a model through the compiler it assigns virtual memory locations for the various operations, scratch memory, weights, etc. There are two mappings these addresses use to map to physical page

[2021-03-02 17:52] dfm794 commented on #329
Sure... here it is.
mendel@jumping-rabbit:$ sudo dmesg | grep -iE 'wlan|pcie'
[    0.000000] Kernel command line: console=ttymxc0,115200 console=tty0 earlycon=ec_imx6q,0x30860000,115200 root=PARTUUID=70672ec3-5eee-49ff-b3b1-eb1fbd406bf5 rootfstype=ext4 rw rootwait init=/sbin/init net.ifnames=0 pci=pcie_bus_perf
[    8.118979] imx6q-pcie 33800000.pcie: 33800000.pcie supply epdev_on not found, using

[2021-03-02 21:34] Namburger commented on #331
@slbejaranom that is because `mongo` doesn't release debian packages for armv8 any more. See here (this was last year, but you get the point): https://developer.mongodb.com/community/forums/t/add-mongodb-4-2-arm64-builds-for-raspberry-pi-os-64-bit-debian-buster/5046/2

Looks like they do include some instructions to cross build the package your self though:
https://developer.mongodb.com/community/

[2021-03-02 21:48] slbejaranom commented on #331
Thanks Nam, I've seen you in some previous posts, I'll try to compile, with the 1GB coral would you recommend me to add more swap before doing it?

[2021-03-02 21:56] Namburger commented on #331
@slbejaranom I haven't tried it yet, but it seems to be a crossbuild thing, where you compile on your x86 machine and then copy the artifacts over to the dev board, so it's not a build on the dev board at all!

[2021-03-02 22:23] Namburger commented on #330
@neilyoung
have you tried it with different images? With just 200 steps, I wouldn't expect much accuracy..

[2021-03-02 22:27] neilyoung commented on #330
No, I'm a real beginner. I was just blindly following the tutorial.

What I did so far

NUM_TRAINING_STEPS=500 && NUM_EVAL_STEPS=100: Came through, no detection
NUM_TRAINING_STEPS=500 && NUM_EVAL_STEPS=200: Came through one out of three, no detection
NUM_TRAINING_STEPS=1000 && NUM_EVAL_STEPS=500: Aborted somewhen after hours
NUM_TRAINING_STEPS=5000 && NUM_EVAL_STEPS=1000: Crashed very quickly ("Ki

[2021-03-02 22:31] Namburger commented on #328
That's awesome lol

The best problems are problems that solves themselves
The worse problems are problems that solves themselves... sometimes

Let's see what you got :)

[2021-03-02 23:34] jimcortez commented on #328
Actually it disappeared on reboot again. I have trolled through all the system logs and can't find any errors or something that may indicate a problem. When comparing the working boots to non-working boots, I notice that gasket and apex have logs, with apex logging that it found a device. There are no references to apex or gasket in the system logs when it fails to bring up the device.

What would

[2021-03-03 10:41] jake-g commented on #315
i am having this issue as well using the quantized deeplab3 tflite model with the 15.0.340273435 edge tpu compiler. tried compiling on multiple ubuntu based systems. I'm also wondering how the coral.ai edgetpu-deeplab model was generated so that I can reproduce it

Specifically, im trying to go thru [these steps](https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/quantize.md),

[2021-03-03 11:51] Namburger commented on #328
@mbrooksx what do you think?

[2021-03-03 12:24] johannes-do commented on #327
Update, the replacement cables did not fix the issue.

And a word of advice, if you buy the cables from the link I posted, they have the blue coloring at the end of the cable flipped. Thus you will have one side different from what the official documentation shows. I had it the wrong way for the first time and afterwards the board wouldn't boot up anymore, had to force flash it again. Luckily it s

[2021-03-03 17:27] Naveen-Dodda commented on #325
Hello,

Can you switch the post training quantization to Tf1.x.
The complete model is not mapped due a unsupported Resize_bilinear variant op introduced by TF2.0

Can you conform if it works fine with TF1.x

Thanks

[2021-03-03 18:06] mbrooksx commented on #328
@jimcortez : Can you provide a complete dmesg for both the failed and successful cases? If you're not comfortable with that, how about just a dmesg including pci (something like dmesg | grep -Ei 'pci|apex' ). It sounds to me like we're not even reaching Apex probe - which indicates (as you see in lspci) that the upstream PCIe device doesn't even see the TPU. Perhaps there is something in the log e

[2021-03-03 18:29] drasmuss opened #332 "EdgeTPU produces wrong output if model contains duplicate weights"
Normally the output of a compiled/quantized model simulated in a standard TFLite interpreter matches the output from the same model simulated on a Coral board.  However, if the model contains duplicate weights (e.g. multiple layers that have weights with the same values) then the Coral board produces incorrect output.

Here is an example model demonstrating the issue
[code]
Comparing the output fr

[2021-03-03 21:29] jimcortez commented on #328
Working dmesg: https://gist.github.com/jimcortez/0460b32b6e84f2bb6d6a0b09df9b3f07

Not Working dmesg: https://gist.github.com/jimcortez/b13ddb4f20b096ece5c66a47bbd03f36

Thanks for the help @mbrooksx and @Namburger !

[2021-03-04 08:43] Tylersuard opened #333 "Can't close out of demo program"
Hello.  According to the "Get Started" tutorial here: https://www.coral.ai/docs/dev-board/get-started

I typed in edgetpu_demo --device.  The demo works wonderfully, but now I cannot exit without turning off the board!  You say specifically not to unplug it without shutting down.  How can I exit the demo?

[2021-03-04 08:46] Tylersuard commented on #333
Solution: alt-tab (or windows/apple command + tab) and then ctrl+c

[2021-03-04 08:46] #333 closed, assigned to nobody

[2021-03-04 21:54] paul218 commented on #325
@Naveen-Dodda
**I try with tensorflow-gpu 1.15.3,  python 3.6.9 the next code with some modifications.**

**import os
import tempfile
import numpy as np
import tensorflow as tf
print(tf.__version__)

def representative_dataset_gen():
    for _ in range(10):
        dummy_image = tf.random.uniform([1, 513, 513, 3], 0., 255., dtype=tf.float32)
        dummy_image = dummy_image / 127.5 - 1
        yi

[2021-03-04 22:00] paul218 commented on #325
**I try the same code, but with tensorflow 2.3.0 and pyhton 3.6.9**

[code]

**And EURECA¡¡¡¡¡¡ the most layers are into edge-TPU**

[code]

[2021-03-04 22:29] mbrooksx commented on #332
I don't see a different output. Here's an update that compiles it within the script and compares both:
[code]

Output:
[code]

[2021-03-04 22:37] mbrooksx commented on #329
This looks like a PCIe failure. Please contact coral-support@google.com and link this thread, we may need to replace the board due to the faulty phy.

[2021-03-04 22:37] #329 closed, assigned to nobody

[2021-03-04 23:25] drasmuss commented on #332
I don't think your example is actually running on the TPU, if I am understanding it correctly (it looks like you're just running the compiled model in the regular `tf.lite.Interpreter`). You should see the difference if you run on the actual device. Here is the script I am running on-device:
[code]

With the model generated with `do_bug=False` this gives the output
[code]
as expected.

With `do_bu

[2021-03-04 23:46] mbrooksx commented on #332
I'm running it on the TPU - I'm passing the delegate to the interpreter to handle the Edge TPU custom op. You can use tflite_interpreter.tflite.Interpreter or tf.lite.Interpreter - the important part is the delegate. I can verify it's a TPU model by removing the delegate and seeing it fail (or looking at the edgetpu model output in Netron)
[code]
If I do swap it to tflite_runtime.interpreter.Inter

[2021-03-05 00:42] drasmuss commented on #332
Something is definitely very different on your Coral board versus mine then. For one, as noted in the docs here https://coral.ai/docs/edgetpu/compiler/, the `edgetpu_compiler` doesn't usually run on the Coral board, as you appear to be doing in your script.

My board also doesn't have `tensorflow` installed, only the `tflite_runtime` (I tried for a while to install TensorFlow on the board, but cou

[2021-03-05 07:03] zldrobit commented on #272
@batrlatom I use an Intel CPU with 20 threads for the test, and it should be faster than the CPU on the dev board.
EDIT: There are still 12 operators running on CPU
![Edge TPU model](https://user-images.githubusercontent.com/3896992/104118522-c4e35580-5364-11eb-84b6-abec561b5feb.png)
I don't have a complete script for the dev board, but you could refer to [this comment](https://github.com/ultralyt

[2021-03-05 10:11] Naveen-Dodda commented on #325
@paul218  Thanks for the Update. Glad that Tf2.3 solved the issue.

Since you are able to solve the issue, I am closing the issue for now. Please feel free to reopen if you have any questions.

[2021-03-05 10:11] #325 closed, assigned to Naveen-Dodda

[2021-03-05 14:31] Namburger commented on #332
@drasmuss This could be a bug that has been fixed! Suggest upgrading both `tflite_runtime` and `libedgetpu`, for reference:
[code]

[2021-03-05 15:23] drasmuss commented on #332
I upgraded `tflite_runtime` and `libedgetpu`, but unfortunately I'm still getting the same incorrect output when running on the board.
[code]

[2021-03-05 17:17] mbrooksx commented on #332
Yes, I was running on an x86 system with our USB Accelerator attached. It was unclear which Coral board you were referring to and the results are expected to be the same. I've switched to the Dev Board:

[code]

Here's the code I ran:
[code]

[2021-03-05 17:37] mbrooksx commented on #319
Hi @kueblert ,

The limitation is USB. With the USB2.0 connection, we are limited to this input (when coming from USB) - we can't get pixels in and sent to the GPU fast enough. Theoretically a higher-resolution H264 camera could be used, but trying to decode that in streaming mode isn't very reliable on the MTK platform. These restrictions don't exist for MIPI Cameras on the Dev Board Mini or on t

[2021-03-05 18:01] drasmuss commented on #332
I was trying to think what the other differences could be between my setup and yours, and  noticed that I had an older version of the `edgetpu_compiler` (14.1). Upgraded that to 15.0, and now I have the expected output from the compiled model. Thanks for your help!

[2021-03-05 18:01] #332 closed, assigned to nobody

[2021-03-06 06:36] murreletinnovation commented on #314
@mbrooksx Hoping you can help me out with some followups.

I received 2 patches from NXP to allow for a USB wakeup. I am trying to patch the kernel and ATF with the patches they gave and then build the source tree (instructions found here: https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md)

The build hangs at the step `"Building database of manual pages ... "`

After using

[2021-03-06 08:02] arun-kumark opened #334 "Google Coral M.2 at mini PCIe not detected"
Hi,

I am using the M.2 on Mini PCIe and facing issues.
I referred already open and closed issues for M.2 card but nothing worked so far.

I have a fresh installation of Ubuntu18.04 and am following the steps mentioned here:
https://coral.ai/docs/m2/get-started/#2a-on-linux

**But lspci -nn | grep 089a returns nothing.**

my dmesg is attached after reboot.
**dmesg.txt**

I don't see anything in ls

[2021-03-07 03:40] murreletinnovation commented on #314
Followup: I hit the same bottleneck when I do NOT apply the patches and follow the instructions here: https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md

[2021-03-07 11:07] moscheIT commented on #256
HI , i try to run Dual Edge TPU whit a Dell optiflex 3060 Micro Form Factor
the mainboard have a M.2 E-key interface, unfortunaly the spec indicate for wireless card non for storage... very generic spec...

I had test varius OS ( Debian / ubuntu ) dont see it; also the bios seems not to see it, in the summary screen it shows empty slot.

Any suggestion? or can suggest me any adapter to try M.2 pci

[2021-03-08 05:24] manoj7410 commented on #334
@arun-kumark Which host machine are you working with? Can you share the output of 'lscpu' ?
PS: Are you sure that your machine boots fine and you don't face any hang or lag. I see these errors in the BIOS:

[    8.187455] ACPI BIOS Error (bug): AE_AML_PACKAGE_LIMIT, Index (0x0000000FF) is beyond end of object

[2021-03-08 05:36] arun-kumark commented on #334
Yes, here it is:

google@google:~$ lscpu
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              4
On-line CPU(s) list: 0-3
Thread(s) per core:  1
Core(s) per socket:  4
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:          6
Model:               150
Model name:          Genuine Intel(R)

[2021-03-08 06:05] manoj7410 commented on #314
@murreletinnovation which host OS version are you currently working with ?

[2021-03-08 06:13] manoj7410 commented on #256
@moscheIT Can you share the output of 'lscpu', 'uname -a' and 'dmesg' ?

[2021-03-08 07:40] moscheIT commented on #256
@manoj7410 certainly there are no problems! here are the required outputs:
the installation operations have already been performed on the system
https://coral.ai/docs/m2/get-started/#2-install-the-pcie-driver-and-edge-tpu-runtime

**lscpu**

[code]

**uname -a**
`Linux home 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux
`

**cat /etc/os-release**
[code]

**dmesg**

[code]
*

[2021-03-08 07:46] manoj7410 commented on #256
Please share the output of below commands too:
- lspci
- modinfo gasket
- ls /dev/apex*

[2021-03-08 07:55] moscheIT commented on #256
**lspci**
[code]
** modinfo gasket **
[code]
**ls /dev/apex* **
`ls cannot access '/dev/apex*' no such file or directory`

[2021-03-08 08:04] manoj7410 commented on #256
Please also share the output of : lsmod | grep apex

Also confirm if you have followed the instructions given at : https://coral.ai/docs/m2/get-started/#2a-on-linux
We should see an entry like "03:00.0 System peripheral: Device 1ac1:089a" once the PCIe device is connected to your machine.

[2021-03-08 08:40] moscheIT commented on #256
Yes I confirm that I have followed the instructions in the guide, in any case i dont't see the coral
unfortunately at the moment I have no other hardware available to evaluate if the mainboard or the coral, to make a double check in case they  have electrical problems.

 **lsmod | grep apex**
dont report anything

[code]

[2021-03-08 09:10] manoj7410 commented on #256
@moscheIT I assume that you are working with a Native installation of Ubuntu and not a VM or Virtual Box or WSL. Please correct me if my assumption is wrong.

[2021-03-08 10:00] moscheIT commented on #256
@manoj7410 yes you are correct I am working with a "native version", in this case of debian 10 buster.
as noted at the top of the therad debian 10 is supported on all devices

[2021-03-08 11:07] manoj7410 commented on #334
@arun-kumark Can you please share the output of :
lsmod | grep apex

[2021-03-08 11:45] arun-kumark commented on #334
It returns nothing ...

[code]

[2021-03-08 17:17] murreletinnovation commented on #314
Hi @manoj7410 I am using Ubuntu 16.04.1.

[2021-03-09 03:08] manoj7410 commented on #314
@murreletinnovation I recommend you to work with Ubuntu 20.04. 16.04 is bit older and many of the packages will fail to build on it.

[2021-03-09 05:23] jake-g commented on #315
so i've been trying to figure this out for a week. I've tried just about every deeplab checkpoint to initialize from. I can confirm that if i take a deeplabv3 .tflite model from the model zoo or edgetpu examples, the compiler DOES work (takes <10s to finish). it is just when i retrain and export my own model/tflite file when i run into issues. Even just re-training to my 3 class problem for 100 st

[2021-03-09 07:08] manoj7410 commented on #315
@jake-g Are there any compilation logs that you can share ? I tried to compile your model but my laptop got hanged.
Can you confirm the link to download deeplabv3.tflite which is being compiled by the EdgeTPU compiler ?
EDIT : Which TF version and Runtime version are you currently working with ?

[2021-03-09 08:55] kueblert commented on #319
Thanks!

[2021-03-09 08:55] #319 closed, assigned to nobody

[2021-03-09 10:06] manoj7410 commented on #334
Are you sure that your machine boots fine and you don't face any hang or lag. I see these errors in the BIOS:

[ 8.187455] ACPI BIOS Error (bug): AE_AML_PACKAGE_LIMIT, Index (0x0000000FF) is beyond end of object

[2021-03-09 10:23] arun-kumark commented on #334
Yes, the machine boots fine, I am able to do the normal work on the machine. do you see this could be the problem ?

[2021-03-09 10:36] manoj7410 commented on #282
@kingliantop Is this issue still reproducible ?

[2021-03-09 16:57] jimcortez commented on #328
@mbrooksx @Namburger is there anything else I can provide?

[2021-03-10 05:19] RangerFX4 commented on #256
hi,

I have a question. My hardware is Z87E-itx with i5-4570S with windows 10.
[code]
will a dual edge coral work with my setup? if so what do I need to purchase. I would like to use it with docker using [frigate](https://github.com/blakeblackshear/frigate)

TIA!

[2021-03-10 07:51] manoj7410 commented on #256
@moscheIT Can you check with Dell if 'Dell optiflex 3060 Micro Form Factor' supports M.2 A+E key devices?

[2021-03-10 09:11] akosb opened #335 "Missing documentation?"
Hi,

 just noticed that a new version of Mendel Linux become available ([5.2 Eagle (Feb 2021) | enterprise-eagle-20210204152958.zip](https://coral.ai/software/#mendel-linux)). This was not mentioned in the '[Releases](https://coral.ai/news/#releases)' section, so it's hard to know what this upgrade contains?

Regards, Akos

PS: [here](https://vaew.io/coral07/index.html) is a short demo how to use

[2021-03-10 09:58] jake-g commented on #315
Thanks for replying, ill give some more details
* I have `tensorflow-gpu==1.15.0`,  `tf-slim==1.0` the latest edgetpu compiler `version 15.0.340273435`, python `3.7.7`
* My main machine is ubuntu 20 with cuda 10.1 and 2 nvidia gpus, but i've also tried training/quantizing on windows

I can't get my **re-trained** and quantized deeplabv3 model to compile with the edgetpu compiler I get this...after

[2021-03-10 10:32] manoj7410 commented on #335
@akosb Thank you for bringing this to our notice. Have filed a bug with our documentation team regarding this.

[2021-03-10 15:06] moscheIT commented on #256
@manoj7410 i think dell documentation is lacking,or I have lost the ability to search for information.....
controversy (towards Dell support) aside, here are the facts:
the Manual report: [ [link](https://dl.dell.com/topicspdf/optiplex-3060-desktop_service-manual7_en-us.pdf) ]
`M.2 Connectors - 2230 (keyed to support Integrated or Discrete WiFi)`
in my opinion verry poor information....
[photo](ht

[2021-03-10 15:26] Laxnring opened #336 "Not compatible with tf-nightly"
Hi guys,
I've been trying to use the pycoral library with the USB Accelerator, but, having had issues with the interpreter on the latest stable tensorflow version (2.4.1), I was forced to use the tf-nightly version. However I ran into the following error when importing both pycoral and tensorflow at the same time:

[code]

I've since been able to mitigate the problem by wrapping the tensorflow cal

[2021-03-10 16:48] mattncsu commented on #256
Following... would like a way to run the dual edge tpu on a motherboard with empty PCIE x4 slots.

[2021-03-10 18:34] mbrooksx commented on #335
The documentation for the release can be found here:  https://coral.googlesource.com/docs/+/refs/heads/master/Releases.md

[2021-03-11 06:54] jake-g commented on #270
Is there a difference between 'post-quantization' and 'quantization aware training', as described in [quantize.md](https://github.com/tensorflow/models/blob/master/research/deeplab/g3doc/quantize.md)

I think Gergely did perform 'quantization aware training' by using `--quantize_delay_step=0`

Im having pretty much the exact same issue, but posted onto this issue: https://github.com/google-coral/e

[2021-03-11 15:51] johannes-do opened #337 "EdgeTpu Compiler depends on model weights"
Since the EdgeTpu compiler likes to do "Internal compiler error. Aborting!", I always test the model before training if it compiles. But now I have the issue that it compiles if I just randomly initialize the weights, but if I set the weights from the training I get our "Internal compiler error.". The model is the exact same otherwise, just different weights.

What can be the reason for such a beh

[2021-03-11 22:30] Namburger commented on #336
@Laxnring what does you try catch block looks like?
I believe this is an issue because both pycoral and tensorflow owns an instance of the tflite interpreter..

[2021-03-12 00:46] shermannatrix-old commented on #316
Hi, I'm sorry for not replying sooner. Been dealing with a lot. As per your request:

ls /dev/apex*
`/dev/apex_0`

sudo lspci -vvv

[code]

[2021-03-12 04:35] manoj7410 commented on #334
@arun-kumark Can you also share the output of :

sudo lspci -vvv

[2021-03-12 04:38] manoj7410 commented on #256
@moscheIT Can you also share the output of:

sudo lspci -vvv

[2021-03-12 07:46] moscheIT commented on #256
@manoj7410 of course there are no problems

here it is:

[code]

[2021-03-12 13:47] MacherelR commented on #259
Hello, I had the same problem and tried removing python3-tflite-runtime and the reinstalling it from your link (image linked) but as you can see tflite_runtime is still on 2.1.0.post1 even if the downloaded version is 2.5.0..
Do you have an Idea what is wrong ?
Thanks
![image_2021-03-12_144611](https://user-images.githubusercontent.com/64424331/110948485-afc57b80-8341-11eb-881d-67cffa27ba26.png)

[2021-03-12 16:22] johannes-do commented on #327
Update2: I got myself a new board and a new camera. Turns out the camera is just broken. That simple. The new one works fine on both boards.

[2021-03-12 21:56] murreletinnovation commented on #314
@manoj7410 Thank you, this was the issue. @mbrooksx, NXP gave me patches to apply to the kernel source tree. I attempted to patch 3 files and found that they were already applied (roughly 1 year ago in both the ATF and Kernel).

[2021-03-12 23:09] Namburger commented on #259
@MacherelR try pip uninstalling it?

[2021-03-13 08:39] MacherelR commented on #259
pip uninstall python3-tflite-runtime gets me the following message :
 "WARNING: Skipping python3-tflite-runtime as it is not installed."
 Even if i run sudo apt-get --purge remove python3-tflite-runtime it tells me that it is removed but if then I run command : python3 -c 'print(__import__("tflite_runtime").__version__)'
 It still tells me 2.1.0.post1 how is that possible even after deleting it ?

[2021-03-13 21:34] murreletinnovation commented on #314
@mbrooksx @Namburger @manoj7410

NXP pointed me to the following solution which works on the Google Coral Dev Board.

echo enabled > /sys/devices/platform/usb@38200000/38200000.dwc3/xhci-hcd.0.auto/power/wakeup

Thanks for all your help!

[2021-03-13 21:34] #314 closed, assigned to mbrooksx

[2021-03-14 00:15] Namburger commented on #259
@MacherelR how about do this:
[code]

It'll tell you where it is installed, delete it manually

[2021-03-14 12:25] Kuan-ChiehHsu opened #338 "Does edgetpu support EXPERIMENTAL_TFLITE_BUILTINS_ACTIVATIONS_INT16_WEIGHTS_INT8?"
Hi,
I found the EXPERIMENTAL_TFLITE_BUILTINS_ACTIVATIONS_INT16_WEIGHTS_INT8 flag is an [experimental feature](https://www.tensorflow.org/lite/performance/post_training_integer_quant_16x8) and there is example code to convert model into tflite model. However, the example code seems only run the 16x8 model on CPU. I'm wondering if edgetpu can support the 16 bit activation feature?
After searching ar

[2021-03-15 19:17] pranavgundewar commented on #270
I have followed this thread and I am doing exactly as jake-g  to Gergely mentioned! I am facing similar issues and unable to convert any model using edgetpu compiler

[2021-03-16 03:05] hudsonsecurity commented on #256
Has anyone gotten the dual TPU edge working on a normal pcie slot yet? Looks like everyone is only getting one core out of it no matter the adapter used.

[2021-03-16 08:42] MacherelR commented on #259
Okay I'll try this thank you !
But with the directory should I just use rm -r 'Path' to delete it or still sudo apt-get --purge remove 'Path' ?

Thanks for your help

[2021-03-16 08:48] MacherelR commented on #259
Ok I now have the right version of tflite_runtime when running : python3 -c 'print(import("tflite_runtime").version)'
Thanks for your help guys !

[2021-03-16 12:58] johannes-do commented on #337
I think the underlying issue on the training side is the mixing of having no activation on some outputs and sigmoid activation on others. If I just remove all activations of the output layers I do not get the issue anymore.

A better solution was to define an expected value range for each output and norm it to a [0, 1] range. That way I am able to keep the sigmoid activations which save some runti

[2021-03-16 13:58] Namburger commented on #338
@jk78346 We only accept int8 and float32 inputs at this time.
For the float32 case, only input/output is allowed to be float, intermediate tensors should still be int8!

[2021-03-16 16:44] #337 closed, assigned to nobody

[2021-03-16 16:48] Kuan-ChiehHsu commented on #338
Does this int16x8 experimental flag going to be any future feature of edgetpu?
Is edgetpu, the hardware itself, designed to be able to only process int8 data type, and not any other types (such as int16 activation)?

[2021-03-17 15:08] pridkett opened #339 "Coral M.2 Accelerator with Dual TPU not showing up on NVIDIA Jetson Nano"
There are a few people, myself included, who are experiencing the same problem with [the new M.2 Accelerator with Dual TPUs not showing up on NVIDIA Jetson Nano systems](https://forums.developer.nvidia.com/t/m-2-pcie-google-coral-in-ubuntu/108963/15?u=patrick43). For reference, I was able to get my Single TPU M.2 accelerator to function by [adding in `pcie_aspm=off` to my kernel boot arguments as

[2021-03-17 21:01] Namburger commented on #339
@pridkett hey!
I believe the E-Key on the jetson nano is only for wireless, only the M key is compatible with our module, but it's not dual :/

[2021-03-18 17:30] ghost opened #340 "ERROR: Didn't find op for builtin opcode 'REVERSE_V2' version '3'"
Hi all!

When I try to compile a quantized tflite-model I get the following error message. Have I done something wrong when quantizing my model or does it simply contain something that is not supported by edgetpu?

[code]

[2021-03-18 19:20] ghost commented on #340
[q8model.tflite.zip](https://github.com/google-coral/edgetpu/files/6166693/q8model.tflite.zip)

Model attached. The code used to quantize ->

[code]

[2021-03-18 22:55] Namburger commented on #340
@Haag-se This mostlikely means that the compiler doesn't support this op yet, but let me confirm!

[2021-03-19 16:50] ghost commented on #340
Changing the LSTM layers from bidirectional to undirectional made it compile. However, in runtime I get the same error as in issue #323

Seems like my initial error was from an unsupported op (REVERSE_V2). Case closed!

Thank you for replying and helping me sorting this out.

[2021-03-19 16:51] #340 closed, assigned to nobody

[2021-03-19 21:31] murreletinnovation opened #341 "Reducing Current Consumption"
Hi,

I wanted to re-open an issue under a different scope. I have successfully put the iMX8M into Suspend-to-RAM and enabled a USB wakeup. The current draw of the Dev Board is .7 A when idle and .52 A when in Suspend-to-RAM.

I mentioned in the previous post that 2 LEDs are still on while the iMX8M has been suspended. Do you have any recommendations on how to disable these LEDs without completely

[2021-03-20 08:13] saket424 commented on #299
@Namburger
Any update from the devteam on when the stock kernel on the minidevboard may support docker?

[2021-03-20 21:48] pridkett commented on #339
Thanks @Namburger! If I'm understanding it correctly (and I find the mess of different M.2 form factors confusing) the single TPU which is an A+E key works, probably because of the A key form factor connector or because it needs fewer of the E key lines. The dual TPU version, which is E key only (and has more connectors with traces on them), won't function because of the lack of full fledged M.2 E

[2021-03-20 21:48] #339 closed, assigned to nobody

[2021-03-21 15:27] shairoz-deci commented on #317
@e2r-htz did you resolve the issue? I've encountered the same problem. Without the -a flag, only two of the the 153 operations are mapped to TPU:

[code]

With the -a flag, most operations are mapped to TPU but the model is much slower when running on TPU
[code]

[2021-03-21 15:38] shairoz-deci opened #342 "Operations not mapped to TPU"
When compiling a quantized model, most operations are not mapped to TPU

[code]

when added the -a flag, the compiled model seems to to have more operations on TPU but the inference time for such a model is **ten times** larger than that of the quantized model or the model with a few operations on TPU

[code]
TF version == 2.4
tfa-nightly  == 0.13.0.dev20210313182006
tf-nightly               2.5.0

[2021-03-21 19:35] akosb commented on #322
@tml444 - see below (imho Netron naming for the field is a bit miss-leading)

[code]
(ref: [tflite-support](https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/metadata/metadata_schema.fbs))

[2021-03-22 04:55] manoj7410 commented on #342
In the list of supported operations at https://coral.ai/docs/edgetpu/models-intro/#supported-operations, TRANSPOSE is not mentioned.

[2021-03-22 08:59] jake-g commented on #315
@Naveen-Dodda any update? this seems to be affecting several people.

[2021-03-22 12:22] shairoz-deci commented on #342
@manoj7410 Thank you for your reply, I would accept the transpose not being mapped but the rest of the operations should still be mapped. Moreover this occurs with models without transpose as well:

[code]

[2021-03-22 12:29] manoj7410 commented on #342
@shairoz-deci Can you attach your CPU .tflite model here ?

[2021-03-23 17:23] jimcortez commented on #328
Just as an update, I still have this issue. The only solution so far seems to keep rebooting the system until the coral devices show up.

[2021-03-23 18:43] Naveen-Dodda commented on #315
Hello Jake,

Thanks for sharing details about the steps you have followed. Can you share checkpoints of model you trained on custom dateset.

Thanks,
Naveen

[2021-03-23 19:14] jake-g commented on #315
Sure, in the zip is the checkpoint at 15k quantization training steps along with the .pb and .tflite generated from it. Thanks for getting back to me!

Note the zip is too big to attach so i've included a google drive link
https://drive.google.com/file/d/125TUMvcmeTMtqXLLIuezBiatftc55j5Z/view?usp=sharing

[2021-03-23 20:17] Naveen-Dodda commented on #315
Thanks Jake,I assume these checkpoints are trained using Tf1.x.  You mentioned you have also trained these models with TF2.x can you share those checkpoints as well.

[2021-03-23 21:16] jake-g commented on #315
I had issues related to tf.slim and tensorflow.contrib when training with tf2 using the head [deeplab](https://github.com/tensorflow/models/tree/master/research/deeplab) code. I was never actually able to get it training, but  I was able to use tf2 when converting to tflite, but that didnt make a difference in my edgetpu compiler issues.

Training deeplab with tf2 is another issue, but I gave up o

[2021-03-24 13:45] dakota opened #343 "Apex failing with error -110 (No /dev/apex_0)"
I'm using the mini-pcie version with [this](https://www.amazon.com/Ableconn-PEX-MP117-Mini-PCI-Adapter/dp/B07JBCL1CJ) Ableconn adapter that has multiple reports of working. It is in Dell PowerEdge T420 running ESXi, and being passed through to a Ubuntu 20.04 VM. Followed the official guide to install the drivers.

The `/dev/apex_0` device is however not showing. Any ideas (bunch of debug info belo

[2021-03-24 20:41] smnschfr commented on #256
Hi, has anyone tested the [ASRock Ultra Quad M.2 Card](https://www.asrock.com/mb/spec/product.asp?Model=ULTRA%20QUAD%20M.2%20CARD#Overview) with the M.2 Accelerator B+M key successfully?
Looks like an alternative to the rare E-Key to get multiple TPUs on a system. But it's designed for NVM-E SSDs, so I'm not exactly certain that it will actually work.

[2021-03-24 22:44] Namburger commented on #343
@dakota we don't actually support virtual machines,
first I would try to install it on your host system first to remove any layer of indirection

[2021-03-25 01:31] Laxnring commented on #336
Yes, exactly, that seems to be the issue. Therefore, I put the try catch block around the call for interpreter wrapper by tensorflow lite.

[2021-03-25 10:21] masc-it opened #344 "'Internal compiler error. Aborting!', EfficientDet D0"
Hello, I've successfully trained (with post training quantization, tf 2.4.1) EfficientDet-D0 512x512 and converted it to tflite.
As soon as I run `!edgetpu_compiler -s "export/model.tflite"` I get a way too generic: 'Internal compiler error. Aborting!'.

As I read in other issues, it's not about unsupported operations, maybe something about number of params. It would be great to have a more detail

[2021-03-25 10:49] manoj7410 commented on #344
@masc-it Can you please share your model at coral-support@google.com ?

[2021-03-25 10:52] masc-it commented on #344
@manoj7410 sure can! Sending it right now

[2021-03-25 13:19] MattW2 opened #345 "Docker Device Passthrough - map pfn RAM range req uncached-minus"
Trying to get a Coral Mini PCIe running on an Unraid Server.
- Intel Xeon E3-1246 v3 CPU
- Unraid 6.9.1 Host - Linux Kernal 5.10.21
- mini PCI to PCI Adapter I am using:[ Ableconn PEX-MP117 Mini PCI-E to PCI-E Adapter Card](https://www.amazon.com/gp/product/B07JBCL1CJ/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1)
- Card appears to be correctly identified by the host
![Coral Edge TPU IOMMU](htt

[2021-03-25 14:18] dakota commented on #343
Works fine on the host system with Ubuntu installed. So definitely something that ESXi is doing (or not doing). Any suggestions on where to look? Or do I just scratch the whole idea :/

[2021-03-25 14:53] jan-kiszka opened #346 "Plans for Linux kernel driver"
Also asking here, in case someone not on CC and not following LKML can contribute to https://lore.kernel.org/lkml/30ee6d6b-9206-acad-b224-591fdeb0dad7@siemens.com: What are the plans now to get the needed driver support into Linux? The current situation is not very handy, specifically for non-Debian users, but also for integrators.

BTW, where are the latest drivers sources and commit history now?

[2021-03-25 21:25] Namburger commented on #346
@jan-kiszka that's okay, the mainline drivers was breaking for our HW anyways. You can just get it like this when you need it:
https://coral.ai/docs/m2/get-started#2a-on-linux

[2021-03-25 21:29] Namburger commented on #345
@MattW2 Although this is possible, please keep in mind that we don't support VMs.
couple of things I would check first:
1) Can it be use in the host machine outside of the docker container?
2) When running it, do you pass it the permission? something like this:
[code]

[2021-03-25 22:41] jan-kiszka commented on #346
Sorry, but that's not OK. We are missing mainline support, specifically when thinking beyond experimental usage. That the upstream driver didn't work anymore was apparently because someone forgot to submit the required updates. That's not a mainline issue.

What was/is missing to finish this? https://coral.googlesource.com/linux-imx/+/refs/heads/release-day/drivers/staging/gasket/TODO or more? Mis

[2021-03-25 23:11] Namburger commented on #346
@jan-kiszka wait, I'm confuse, the mainline driver was never working for our HW in the first place, could you clarify if I'm missing details?
From our instruction we mention to disable the mainline kernel and use the one we ship out: https://coral.ai/docs/m2/get-started/#troubleshooting-on-linux

[2021-03-26 04:36] YijinLiu opened #347 "edgetpu produces quite different results from tflite on CPU."
I am using edgetpu to run a SSD2 model. I found that quite frequently (maybe 20% of the time) edgetpu produces very different results (mostly it's missed detection) from running the same model using tflite on a CPU.

This is the code I use to convert to edgetpu model:
<pre>
    converter = lite.TFLiteConverter.from_frozen_graph(
        flags.data_dir + "/exported/tflite_graph.pb",
        ["norma

[2021-03-26 07:39] jan-kiszka commented on #346
I have no personal experience with the history of this driver (only started with it 2 days ago) but I would be surprised if nothing worked at all 3 years ago when folks from the Chromium project submitted the code back then to upstream, with your developers on CC and later on even involved. But this doesn't matter.

The point is that your way of supporting the hardware via downstream drivers is su

[2021-03-26 13:06] Namburger commented on #347
@YijinLiu that's odd, could you share the model? I can try  running through our internal compiler to see if you can achieve better results

[2021-03-26 17:58] YijinLiu commented on #347
You can find the model here: https://drive.google.com/drive/folders/1j-SAnqmZc7Wg5HKo80SoO6a9UXeQPNQ_?usp=sharing
tflite_graph.pb is the exported tflite graph using research/object_detection/export_tflite_ssd_graph.py

I used the following command to convert it to tflite model detect.tflite
<pre>
tflite_convert --graph_def_file=tflite_graph.pb --output_file=detect.tflite --input_shapes=1,300,300,3

[2021-03-26 18:14] YijinLiu commented on #347
I also added a test image in the same drive folder.
To make it clear:
- detect.tflite works fine
- detect_uint8.tflite and detect_uint8_edgetpu.tflite have the same issue.

[2021-03-26 19:08] Namburger commented on #347
@YijinLiu wait, so this is a matter of post training quantization?
The way I understand it, the non integer quantized version works but the quantized version is flaky?

[2021-03-26 23:39] YijinLiu commented on #347
Right. I just realized that it might be the quantization issue when I read this [issue](https://github.com/google-coral/edgetpu/issues/191) and did a test to confirm that. Sorry that I didn't make it clear initially.
Is this something I should expect?

[2021-03-26 23:41] harrison0451 opened #348 "'clear' not working when remote access dev board"
hello,

I am using gitbash mingw64 and when I remote access google dev board, mdt shell works well,
but after typing in "clear", it does NOT clear the screen.

if run command "clear" locally, it does clear the screen. so i doubt my mendel system missing some file or I did not set up correctly?

[2021-03-26 23:43] harrison0451 commented on #312
Hi,

I met similar problem while I use nmtui command to set up wifi. see picture:

![image](https://user-images.githubusercontent.com/81446036/112702497-e971a880-8e50-11eb-8fde-ea2ff5478d76.png)

It shows "Your terminal lacks the ability to clear the screen or position the cursor."

[2021-03-26 23:44] harrison0451 opened #349 "can not edit file using vim"
hello,

I am using google dev board, mdt shell working well and I can run demo without any issue.
but when I try to edit .txt or .py file using vim, the output looks strange, see attachment.

![vim_edit](https://user-images.githubusercontent.com/81446036/112702295-37d27780-8e50-11eb-8072-b235d163701e.png)

how to set it up and make this work? Thanks!

[2021-03-28 17:29] MattW2 commented on #345
Thank you for the advice, no luck yet getting this to work but here is what I have tried.

To see if another application or the host itself is using the device by running
`lsof | grep /dev/apex_0`
Didn't find anything

Yes, I am passing the device using exactly that docker line, here is my docker command. Ignore all the references to Blueiris, just using that as a shared located to store video fil

[2021-03-28 18:04] agjunyent opened #350 "Internal error on same model, different training"
Hi!

I'm getting a strange error when trying to compile a model that I've already compiled before with no problems. The error is just "Internal error", with no more information.

I attach here the two models, the one that works and the one that does not. They are based from the same keras model, just different training (different hyperparams and classes).

[models.zip](https://github.com/google-co

[2021-03-28 21:58] desmoteo commented on #315
This is exactly what I have been trying and I am getting the same behavior. I have been trying with both tf 1.15.0 and 1.15.3, with more or less the same results.

I tried as well https://colab.research.google.com/github/google-coral/tutorials/blob/master/fix_conversion_issues_ptq_tf2.ipynb#scrollTo=kujXSsDoXxCr  using tf 2.3 to convert to tflite. Tried both tflite_convert and convert_to_tflite.py

[2021-03-28 23:43] MattW2 commented on #345
@Namburger , any advice on how I might identify the application that could be using the device on the host?

[2021-03-29 21:38] Namburger commented on #346
Sorry if I confused you, but that's not what I meant. Our HW (coral) never worked with the mainstream driver (but it may works with other HW). We have our own separate forks of the driver, the instructions that we advised on our page to get the driver is how you get our. Unfortunately, we are not able to support the mainstream gasket driver, I suggest that you address the kernel maintainers for fe

[2021-03-29 22:11] Namburger commented on #349
@harrison0451 this is quite odd as I'm able to use vim in mdt without issues, is this also a problem with ssh?

[2021-03-29 22:13] Namburger commented on #348
@harrison0451 I see, the problem could also be with git bash..
Does this happen if you ssh from a linux machine?

[2021-03-30 00:32] YsYusaito commented on #187
Hi @Namburger , @ZhouKai90
In my case, even if I used TF 2.0.0, 2.1.0 or 2.2.0, the converter was MLIR.
Apparently, default converter is MLIR.
In order to use TOCO converter, we have to write 「converter.experimental_new_converter = False」
before converting models from .h5 to .tflite(tflite_model = converter.convert()). (Please reference link below.)
https://github.com/tensorflow/tensorflow/issues/

[2021-03-30 08:01] desmoteo commented on #270
I finally managed to make it compile, if I run training with the same flags and doing post-quantization as reported by @paul218  in #325 . But if I make changes to this configuration, e.g. change the crop size, compilation hangs again (even if the quantized tflite model seems well converged and is producing good results).

[2021-03-30 13:13] MEntOMANdo commented on #343
Can corroborate the same results here. Same Coral and same adapter. Probably many people looking into this since the USB versions are difficult to find.

Could you shed some light into what the error messages with apex mean with respect to resource management? I'm sure with enough hints we can figure out how to tweak Esxi.

[2021-03-30 16:21] harrison0451 commented on #348
git bash may not set up well.
I am using window10 now and do you think  Xmanager (Xshell) a good SSH for edgetpu project development?
and how much do I need a linux machine? I mean should I switch to linux immediately?
thanks!

[2021-03-30 16:25] harrison0451 commented on #348
git bash may not set up well.
I am using window10 now and do you think Xmanager (Xshell) a good SSH for edgetpu project development?
and how much do I need a linux machine? I mean should I switch to linux immediately?
thanks!

[2021-03-30 19:40] mbrooksx commented on #344
Hi @masc-it ,

EfficientDet won't directly compile to the EdgeTPU. We've been working with the team for EfficientDet-Lite: https://tfhub.dev/tensorflow/lite-model/efficientdet/lite0/int8/1. This model can be trained and compiled for the EdgeTPU. We are working to add Lite0-Lite4 onto our website as well as instructions for retraining using https://www.tensorflow.org/lite/guide/model_maker.

[2021-03-30 19:42] Namburger commented on #348
@harrison0451 linux is not extremely necessary, but recommended :)
I guess Xmanager is fine, I believe the issue is just with gitbash, you may even try with WSL

[2021-03-30 20:02] masc-it commented on #344
@mbrooksx great! So we will be to train it using the classical model.pipeline and tf1 ? Just in case, if you're going to release some beta version of it I'd be available to test it (training or whatever).
In general it would be great if you let the open source community test and, in case, help debugging new models (maybe a 'beta' section?)

[2021-03-30 20:11] masc-it commented on #350
@agjunyent try adding `-s -m 10` or `-s -m 11` flags when calling the compiler. Even though it didn't fix the problem in my case, at least it showed me some debugging info, apart the lame 'internal error'.

[2021-03-31 10:07] alekovargas opened #351 "image not found, edgetpu_runtime_20210119"
Hello. i am having some problems running the python3 examples/classify_image.py \in MAC os Catalina 10.15.7, it seems edgetpu image is missing, as follow;

--model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite
--labels test_data/inat_bird_labels.txt
--input test_data/parrot.jpg
Traceback (most recent call last):
File "examples/classify_image.py", line 39, in
from pycoral.utils.edge

[2021-03-31 11:41] #335 closed, assigned to nobody

[2021-03-31 16:14] harrison0451 commented on #348
SSH using WSL will solve this issue. clear works, and vim editor working well at the same time.
thanks!

[2021-03-31 16:16] harrison0451 commented on #349
using WSL SSH will solve this issue.

[2021-03-31 16:19] #348 closed, assigned to nobody

[2021-03-31 16:19] #349 closed, assigned to nobody

[2021-03-31 19:04] johannes-do opened #352 "Coral DevBoard Mini vs USB Accelerator performance differences"
When reading the Datasheet, both should have the edge TPU available. But when I run my code with the USB Accelerator I have around 5x faster inference speed vs the DevBoard Mini. I exclusively measured the call `interpreter->Invoke();` to evaluate the runtime and the edgetpu is found in both cases.

It is the same code and same model. The only difference is that used edgtpu lib file. `k8/libedgetp

[2021-03-31 23:49] KapitanKabzon opened #353 "MobileNetV3 transfer learning Hard_swish not supported"
What needs to be changed in the standard MobileNetV3small implementation to be able to transfer-learn it and then run it on the USB accelerator?

Is there a TF2 model(*.h5) that already has changed the HARD_SWISH to something the Coral TPU supports?

At the moment the model takes 200ms to infer on the Accelerator, while the Coral's own Mobilenet V3(https://coral.ai/models/) takes 12ms on classify_

[2021-04-01 13:08] Namburger commented on #352
@j-o-d-o The dev board mini interface with the tpu over usb2 which will be much slower than usb3 which is the port on the dev board, so this is sort of expected.
How are you printing out the tpu type on the coral  dev board?
It should looks like this:
[code]

[2021-04-01 13:58] johannes-do commented on #352
I am using the C++ interface to print it. But I ran your python code on the devboard mini and get this:
[code]
I am a bit confused why the integrated TPU on the dev board would show up as "usb".

[2021-04-01 14:08] Namburger commented on #352
@j-o-d-o yes, that's expected for the dev board mini, at some point you asked about the "Coral Dev Board" which got me a little confused :)

[2021-04-01 14:13] johannes-do commented on #352
Ah ok. Sorry, didnt know there was a difference in terms of TPU interface. Yes, the issue is with the DevBoard Mini. Can USB-2 vs USB-3 really account for such a big runtime difference (around 25ms vs 200ms)?

[2021-04-01 14:25] Namburger commented on #352
@j-o-d-o yes it could, unfortunately, and as a matter of fact, if you have a usb-c -> usb3 dongle and attach a usb accelerator on the dev board mini, I expect that the external tpu would be faster than the internal tpu :/

[2021-04-01 14:28] johannes-do commented on #352
Hmm, that is unforunate and not really what I expected. But alright. I think the next step will be to try to get the USB Accelerator connected to the DevBoard Mini and test it. Just to make sure I am not missing something else. Closing this for now. Thanks for the help.

[2021-04-01 14:28] #352 closed, assigned to nobody

[2021-04-01 19:54] mbrooksx commented on #351
Hello @alekovargas ,

This is running from the pycoral classify_image.py? Have you run https://github.com/google-coral/pycoral/blob/master/examples/install_requirements.sh?

[2021-04-01 20:05] #311 closed, assigned to nobody

[2021-04-01 23:09] #75 closed

[2021-04-01 23:13] #159 closed

[2021-04-02 22:21] Naveen-Dodda commented on #350
Hello,

can you please cross and conform the models you have shared.

model_KO.tflite compiles fine to me
model_OK.tflite fails

But the primary reason for the failure is tflite quantization has set the factor to infinity in the model. Can you share more details about how you have quantized the models ?

[2021-04-03 06:47] neilyoung opened #354 "Coral TPU transfer learning sample is not working"
I already reported this problem earlier to no avail.

There are several issues with this tutorial here https://coral.ai/docs/edgetpu/retrain-detection/ and I'm completely baffled that nobody of you cares:

1) Regardless of how many traning steps I configure, the result is always: No object detected from the dog picture. I tried with 500 up to 2000. The calculation runs between 8 and 12 hours and t

[2021-04-03 09:59] kampff commented on #280
(Thank you everyone for working on this issue!) I have a new setup (Custom CM4 carrier with M.2 PCIe-EdgeTPU) and would love to help get this integration working. Are the following repos still the latest progress in userspace/kernel?

[2021-04-04 06:12] neilyoung commented on #354
This is all not worth the efforts. 5000 steps. "No object detected". What a mess....

[2021-04-04 15:02] alekovargas commented on #351
hi @mbrooksx

yes I am running it for the python3 examples/classify_image.py,
I run properly the "install_requirements.sh"

however it stills fails as follow:

Traceback (most recent call last):
  File "/Users/davidvargas/Desktop/FH_demos/coral2/FH_detect.py", line 36, in <module>
    from pycoral.utils.edgetpu import make_interpreter
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/p

[2021-04-05 08:21] masc-it commented on #354
@neilyoung  I won't get into your doc-not-perfect complaints, I just believe the team is busy with more important dev-related stuff ! (I challenge you to find a more complete starter-doc for a system like this, if it exists at all )

**Anyways**, you should provide more detailed information about your **obscure warning**, otherwise no one's gonna understand you.

PS: check this [notebook of mine](

[2021-04-05 09:09] neilyoung commented on #354
Well, look. If they provide a "TUTORIAL" I think it totally legit to expect something working. This is just not working. And the obscure warning - I think, this is not tutorial related, more a tensorflow thing.

And I don't even "just complained". I also provided a correction. And this not just once. They ignore, so I don't think they are "too busy". This is Google, and it is as it always is: Half

[2021-04-05 11:13] Namburger commented on #354
@neilyoung i thought I shared this with you?
https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain

I’m no longer with the coral team, but I can assure you that they’re working to get around to everyone.

[2021-04-05 11:20] neilyoung commented on #354
@Namburger Yes, and I contributed a PR to this. The result was the same. "No object detected". I reported https://github.com/google-coral/edgetpu/issues/330

[2021-04-05 11:21] #354 closed, assigned to nobody

[2021-04-05 11:21] #330 closed, assigned to nobody

[2021-04-05 11:22] Namburger commented on #354
@neilyoung have you tried other images?