[2020-07-22 06:01] LINYOUWEI0804 commented on #178
My code:
[2.2.0.zip](https://github.com/google-coral/edgetpu/files/4958106/2.2.0.zip)

[2020-07-22 07:07] FabienSailliet commented on #180
My bad, I took the wrong .so file, with the [eel2 release of the lib](https://github.com/google-coral/edgetpu/blob/eel2/libedgetpu/direct/aarch64/libedgetpu.so.1.0) and TensorFlow Lite compiled from tensorflow/tensorflow@d855adf after aplying the patch tensorflow/tensorflow@72cd947 I can now run it.

Thank you very much!

[2020-07-22 07:07] #180 closed

[2020-07-22 07:50] LINYOUWEI0804 commented on #178
Can be successfully compiled    The model should be changed to this：

model = tf.keras.applications.MobileNet(include_top=False, weights='imagenet', input_shape=(224 ,224 ,3))
x = GlobalAveragePooling2D()(model.output)
x = Flatten()(x)
x = Dropout(0.5)(x)
output_layer = Dense(9 ,activation = 'softmax')(x)
model = Model(inputs = model.inputs, outputs=output_layer)
model.trainable = True
model.summa

[2020-07-22 11:58] llschloesser commented on #179
I am able to run a .tflite model (mobilenet_v2_1.0_224_quant.tflite) with the changes I proposed. However, after compiling to edgetpu model (mobilenet_v2_1.0_224_quant_edgetpu.tflite) I get the following errors:
[code]
[code]
My `libtensorflowlite_c.so` version is 2.2.0.

Where is the C API to add the custom ops resolver?

[2020-07-22 13:43] Namburger commented on #179
@llschloesser oh, you'll need to compile `libtensorflowlite_c.so` from this [tensorflow commit](https://github.com/google-coral/edgetpu/blob/master/WORKSPACE#L5) to be compatible with our current released library

[2020-07-22 14:18] Namburger commented on #173
@JohannSchumann Thanks for submitting the model, it's fixed internally for us, so this should not occurs after next release!
Appreciate your helps!

[2020-07-22 14:32] Namburger commented on #163
@lawrence-jeff sorry for all these toubles, wonder if you can get more info with the debug version of libedgetpu?
I believe you can add `COMPILATION_MODE=dbg` to [this line](https://github.com/google-coral/libedgetpu/blob/master/Makefile#L134)
to:
[code]
and then compile again with the command I gave from above.

If you're not using docker, it should be:
[code]

[2020-07-22 15:17] namigalyv commented on #175
Thanks all for your answers. I broke my servo motor accidentally while testing the hardware circuit and external battery.  And I ordered a new servo motor. I will get back to you about the results.

Thanks

[2020-07-22 15:59] Namburger commented on #177
@tommiesatellite
FYI, the `open_image_v4_subset.csv` file have a line that has an expired link, this may also cause a download problem.
Please remove [this line](https://farm8.staticflickr.com/4046/4413074160_a28a427470_o.jpg,Parrot,a88a4d64507a6501ee09606ce8e57545b70d1cd673f766b46e879dd97e121a55) from that file!

[2020-07-22 16:42] Namburger commented on #177
@tommiesatellite actually, it's probably better that you just use the download instructions [here](https://coral.ai/docs/edgetpu/retrain-classification-ondevice/#retrain-a-model-on-device-with-our-sample):
[code]

[2020-07-22 16:50] tommiesatellite commented on #177
Thank you Nam,
Yes, those instructions are definetly the way to go.  I got it running yesterday going through the steps on the imprinting_learning.py program on github.  My problem was mainly that I needed to use sudo before a few an a few of those.  I has been awhile since I worked in Linux so am a bit rough on obvious stuff.  Your tip on the link to one of the images helped.  I got all the rest

[2020-07-22 17:54] llschloesser commented on #179
@Namburger, after building the sha (some version of 2.1.X) of libtensorflowlite_c.so you pointed me to I am still seeing the same errors when trying run the edgetpu compiled .tflite model. `edgetpu_c.h` pointing at `tensorflow/lite/context.h` would make sense if I need to add the custom ops resolver which requires the C++ API. I think the real solution is to expose the custom ops resolver in the T

[2020-07-22 18:23] Namburger commented on #179
@llschloesser oh sorry, this could also occurs if you haven't registered the edgetpu ops, which I assumed you have. May I see how you initialized the interpreter in the c api?
it looks something like this for c++:
[code]

[2020-07-22 19:07] llschloesser commented on #179
In my header I have:
[code]

In my source file I have:
[code]

[2020-07-23 00:51] anilknayak opened #181 "Edge TPU golang tensorflow support"
1. Go TensorFlow does not support tflite model
2. Can I use the EdgeTPU in Tensorflow Go?

Is there any documentation for that?

[2020-07-23 02:49] Namburger commented on #181
Hey!
It is not officially supported by us, but this repo has made it possible: https://github.com/mattn/go-tflite

[2020-07-23 03:49] tommiesatellite commented on #177
Hi Nam,
I went through those instructions on a different raspberry pi and they worked perfectly.  Thank you.
Tom

[2020-07-23 05:06] LINYOUWEI0804 commented on #178
Can be successfully converted into a model supported by tpu,but This error occurred when executing the .py file

[mendel@orange-eft:~/sparrow$ python3 classify_image.py --model st_io_edgetpu.tflite
Traceback (most recent call last):
  File "classify_image.py", line 27, in <module>
    main()
  File "classify_image.py", line 21, in main
    for result in engine.classify_with_image(img, top_k=3):

[2020-07-23 13:15] namigalyv commented on #175
@mbrooksx

I copied pwm.dtbo file in /boot directory and edited overlays.txt
But nothing happened. Am I doing something wrong? especially about bitmask. I didn't know what to do with bitmask
[code]
[code]

Thanks

[2020-07-23 13:58] Namburger commented on #178
@LINYOUWEI0804 Looks like your model still has float I/O tensors, which won't with our classification engine.
Can you try Post Training Quantization again with tf-nightly(>2.3) and turn off mlir by adding this line:
[code]
Then you should have a working tflite model!

[2020-07-23 17:11] mbrooksx commented on #175
The overlay is applied on boot, you'll need to reboot. You can verify it is applied in the serial console (just before the kernel boots):

Normal Boot
Hit any key to stop autoboot:  0
1800 bytes read in 6 ms (293 KiB/s)
## Executing script at 40480000
23112192 bytes read in 694 ms (31.8 MiB/s)
56208 bytes read in 11 ms (4.9 MiB/s)
107 bytes read in 3 ms (34.2 KiB/s)
loaded overlay.txt: pwm
581 byt

[2020-07-23 17:18] Namburger commented on #177
awesome, no probs!

[2020-07-23 17:24] rajansaini691 opened #182 "Internal Compiler Error with RetinaNet"
Hello! I am trying to get retinanet (from tensorflow's [tpu zoo](https://github.com/tensorflow/tpu/blob/master/models/official/detection/MODEL_ZOO.md)) to run on the edge device. I have successfully converted it to tflite and quantized it (after removing non-max suppression). Unfortunately, on `edgetpu_compile`, the compiler aborts, and decreasing the input size (which should implicitly shrink the

[2020-07-23 18:29] namigalyv commented on #175
I have already restarted 100 times and could not verify it was applied.

[2020-07-23 18:53] mbrooksx commented on #175
What is the output on your serial port?

[2020-07-23 19:27] Namburger commented on #182
@rajansaini691 how did you quantize the model?
The model looks really odd when I visualize with netron:
![Screenshot 2020-07-23 at 2 27 30 PM](https://user-images.githubusercontent.com/25712149/88330200-ae7f0a00-ccf0-11ea-8eec-36dd8896eec4.png)

[2020-07-23 19:42] rajansaini691 commented on #182
@Namburger Thanks for the quick response. You know, I thought it looked strange too; thanks for confirming :)
Here's my quantization script:
[export_tflite.txt](https://github.com/google-coral/edgetpu/files/4968359/export_tflite.txt)
I don't think I did anything too out-of-the-ordinary with the quantization, but I'm not sure.

I'll also attach the SavedModel it accepts.

I also used the following

[2020-07-23 19:47] rajansaini691 commented on #182
[Here's the SavedModel](https://github.com/rajansaini691/retinanet-model-tflite/raw/master/tmp/saved_model.pb).

[2020-07-23 20:05] namigalyv commented on #175
I just saw the serial port.
[code]
It seems successful but servo doesn't working.
No problems with servos and cables.

These were the codes I was running
[code]
Thanks

[2020-07-24 03:28] mistake0316 opened #183 "Cannot compile tflite model to TPU version with GAP2D for large tensor (Internal compiler error. Aborting!)"
I found that when doing golbal average pooling to large tensor, then the compiler will show error message.

(tensor shape 1x256x256x32)

Internal compiler error. Aborting!

I write a colab ipynb file at this link:
https://colab.research.google.com/drive/1J0a80nVw2dw2XnmJn-qEVFxKCiRvkgCH?usp=sharing

Is there any way to overcome this problem?
I really need to do this operation to large tensor.

<pr

[2020-07-24 15:18] Namburger commented on #183
@mistake0316
GlobalAveragePooling2D is not a [supported op](https://coral.ai/docs/edgetpu/models-intro/#supported-operations), can you use AveragePooling2D instead?

[2020-07-24 15:42] mistake0316 commented on #183
@Namburger
I need to compute Variance of along channel dimension, so I need to use GlobalAveragePooling.
However, if I fix the input shape, I can use AveragePooling2D with full kernal size to solve this problem, but it will make the flexibility of my model become very weak.

If use AveragePooling2D, I need to add lots of modification to my code to make sure it will be running as my thought. And re

[2020-07-24 15:48] Namburger commented on #183
@mistake0316 I can definitely add `GlobalAveragePooling2D` to our feature request, but as of now the compiler just doesn't have this implemented :/
Would that be okay?

[2020-07-24 15:53] mistake0316 commented on #183
@Namburger
It okay, I fix the input shape now, and waiting for your implementation for GlobalAveragePooling2D. :)

[2020-07-24 16:04] namigalyv commented on #175
@mbrooksx

In the PWM overlay file, you submitted, there was only overlay for pwm1 and pwm2. I measured voltages on the PWM pins.

PWM1: 1.65V
PWM2: 1.65V
PWM3: 0.85V

As a result, the servo motor didn't work.

Could this be due to my Mendel OS version?

[2020-07-24 16:53] rajansaini691 commented on #182
Hi @Namburger just wanted to check in and see if you were able to reproduce the results. I'm happy to provide any more info if needed. No need to rush, just curious.

[2020-07-24 17:06] Namburger commented on #182
@rajansaini691 Hey, sorry I haven't had a chance to reproduce, but the error seems similar to what I've seen in the past. At glance I can't tell if it's an issue with tflite quantization (since your model looks a little odd), or if it's a compiler bug
@Naveen-Dodda could you take a look at this if you have some bandwidth?

[2020-07-24 17:11] rajansaini691 commented on #182
@Namburger No worries, really appreciate your help and look forward to any insight! Do you think the patch will be released in the next month or so, or is it too soon to tell?

[2020-07-24 17:13] #181 closed

[2020-07-26 13:01] danschu commented on #176
I removed the last upscaling layer, but I still get the same error.

[mymodel.zip](https://github.com/google-coral/edgetpu/files/4977629/mymodel.zip)

[2020-07-26 15:59] mistake0316 commented on #183
Hi, I fixed the input shape now, and replace layer from GAP2D to AvgPooling2D with full tensor size.
But it still showing **Internal compiler error. Aborting!** when I use very large tensor size (1, 256, 256, 32)
Is that solvable? :(

https://colab.research.google.com/drive/1p7hDgK9t2YhpaoEJr9FSze06kMfScBbG?hl=en#scrollTo=nC_qP4XEzA8v
****************
<pre>
!curl https://packages.cloud.google.com/

[2020-07-26 18:22] joeycasabar commented on #96
@rdejana any further development on wired connection instability? I was able to use `pcie_aspm=off` to get inferencing working but I am also having issues with ethernet no longer working

[2020-07-27 20:50] pliablepixels opened #184 "How does one use coral usb from a python daemon process? (It errors out)"
OS: Ubuntu 18.04
Device: Coral USB accelerator
Python: 3.6.9

Hi, I have a situation where my detection code needs to be invoked from a **daemon** process, using a user id of `www-data`.  To get `www-data` to access the device, I did a `sudo usermod -a -G plugdev www-data`

However, when run as a regular process, the detection works just fine (with `www-data` as the user)

It looks like when invok

[2020-07-27 21:13] Namburger commented on #184
Could you describe how exactly are you trying to access the tpu via this daemon process?
Did you restart or login/out after `sudo usermod -a -G plugdev www-data`?

[2020-07-27 21:17] pliablepixels commented on #184
Yes, I've logged out.
The process works just fine when not run as a daemon.

The way I am trying to access the TPU is exactly how Google describes in its example code.

[code]
It does not get to line 2. It crashes out in line 1.

Given the script works just fine without daemon mode, I don't think its a login/id issue.

[2020-07-27 21:26] pliablepixels commented on #184
WHOA. I just rebooted and it started working. 🤦
Can we leave this open for a bit? I want to make sure this is not irrational exuberance.

[2020-07-27 21:35] pliablepixels commented on #184
Yup, reboot it was 🤦 🤦 🤕

Thanks for the suggestion!

[2020-07-27 21:35] #184 closed

[2020-07-27 21:51] Namburger commented on #184
Awesome!

[2020-07-28 02:54] #178 closed

[2020-07-28 02:57] LINYOUWEI0804 commented on #178
Thank you!it work.

[2020-07-28 03:17] LINYOUWEI0804 commented on #178
Can be successfully converted to a model in tpu format. But there will be this error in the dev board prediction:

mendel@orange-eft:~/sparrow$ python3 classify_image.py --model false_edgetpu.tflite
Traceback (most recent call last):
  File "classify_image.py", line 27, in <module>
    main()
  File "classify_image.py", line 21, in main
    for result in engine.classify_with_image(img, top_k=3):

[2020-07-28 11:17] mehmetturanguzel commented on #175
@mbrooksx

[2020-07-28 12:04] Namburger commented on #178
1) Your model still has float IO tensor, try using tf-nightly.
2) the converter line needs to be right before converter.convert()

[2020-07-28 14:00] InCogNiTo124 commented on #168
Hello,
I also get `Model not quantized` when trying to quantize a `SavedModel`, but using `experimental_new_converter = False` is causing me an `Aborted (core dumped)`:
[code]

Any idea what could go wrong here? Could it be that the problem is in the model itself?

For completeness, my converter script is pretty basic:
[code]

[2020-07-28 14:31] Namburger commented on #168
@InCogNiTo124 It looks like a converter bug, if it's getting a core dump. Unfortunately that's out of our hand :(
[This](https://github.com/tensorflow/tensorflow/issues) would be the best place to report this bug

[2020-07-28 20:13] mbrooksx commented on #175
Yes, I only did PWM 1 and 2. You would just need to add PWM3 to the DTS file and recompile in the same fashion.

Here is that.

[pwm_overlay.zip](https://github.com/google-coral/edgetpu/files/4990905/pwm_overlay.zip)

[2020-07-28 20:20] namigalyv commented on #175
Thanks
Our pwm1 and pwm2 pins already were available to use. But the problem is 1.65V voltage, not enough for servo motor to work. I'm tried connected to pwm1 and pwm2. Doesn't work

[2020-07-28 21:19] Sri-Butlr commented on #74
Hi @Namburger It would be great if I could get this model converted as well. Could I know when will there be a new release with this bug fixed?
Thanks again!
[resnet50_age_gender_2_quant.tflite.zip](https://github.com/google-coral/edgetpu/files/4991219/resnet50_age_gender_2_quant.tflite.zip)

[2020-07-29 05:56] OmriTreidel commented on #100
@Namburger I am running into similar issues with my model (trained and quantized with TF-2.4) and I am trying to understand how to locate such mismatches. I've inspected the model @Eashwar93 attached to this ticket using Netron but was not able to find the mismatch you found.

Inspection of the tensor Openpose/MConv_Stage3_concat
inputs:
name: Openpose/MConv_Stage2_L1_5_pointwise/BatchNorm/FusedBa

[2020-07-29 09:37] albertfaromatics opened #185 "Leaky_relu -> tf.maximum(x, tf.multiply(0.1, x))"
As presented in #165 I tried to implement leaky_relu as title:

`x = tf.maximum(x, tf.multiply(0.1, x))`

The conversion to tflite works fine, giving this model:

[converted_model.zip](https://github.com/google-coral/edgetpu/files/4993985/converted_model.zip)

I can clearly see quantize ops BEFORE the Maximum operation.

When trying to compile with Edge TPU Compiler version 14.1.317412892, I get a

[2020-07-29 11:36] Namburger commented on #185
Can you provide a whole reproducible code?

[2020-07-29 15:54] sigurdurbjartmar opened #186 "E: Unable to locate package edgetpu"
I can't install edgetpu-compiler on any machine I try. I've followed [this:](https://coral.ai/docs/edgetpu/compiler/#system-requirements) installation guide. I've tried to install on Debian 6.0 64bit, Ubuntu 20.04 64bit, and [this](https://github.com/mattiantonini/edgetpu-compiler-container) Docker container. I'm getting the same error:

`E: Unable to locate package edgetpu-compiler"

I'm running

[2020-07-29 16:41] Namburger commented on #186
Can you share the outputs of this command:
[code]

[2020-07-29 21:21] rajansaini691 commented on #152
Hello again! My model quantizes and compiles, but it has inference times of ~1.5s. According to the logs, the `RESIZE_NEAREST_NEIGHBOR` op is not mapped to the edge device, which may account for the slowdown. I am also using the newest compiler version with tensorflow 2.3. What should I do to make the mapping successful and improve performance?

[model](https://github.com/rajansaini691/retinanet-m

[2020-07-29 22:01] rajansaini691 opened #187 "Resize Nearest Neighbor does not convert"
Hello again! I am attempting to adapt tiny yolo v3 to the edge tpu. My model quantizes and compiles, but it has inference times of ~1.5s. According to the logs, the `RESIZE_NEAREST_NEIGHBOR` op is not mapped to the edge device, which may account for the slowdown. What should I do to make the mapping successful and improve performance?

I am also using the newest compiler version with tensorflow 2.

[2020-07-30 14:37] Namburger commented on #187
@rajansaini691 Thanks for reaching out!
We are actually in the experimentation stage with the yolo models also so I don't know enough to give you too much details. However there are some experimental features that I can use to allow more ops to be mapped to the tpu (not released).
Here is the compiled model with 22/25 ops mapped to the tpu it should be fast enough for real time (this is what I can

[2020-07-30 14:39] Namburger commented on #182
@rajansaini691 sorry, it is too soon to tell, but one of our eng is going to look at this soon, should get an update sometimes within the next week.

[2020-07-30 14:43] Namburger commented on #187
@rajansaini691
FYI, the resize nearest neighbor for yolo is 4 dimensions, currently our compiler can only support 3 :(
https://coral.ai/docs/edgetpu/models-intro/#supported-operations

[2020-07-30 17:08] mehmetturanguzel commented on #175
@mbrooksx

[2020-07-30 22:28] namigalyv commented on #175
Hi,

our problem continues and we need your help. We did what you said, and the PWM pin output increase from 0.85V to 1.65V, but 1.65V is still not enough. We needed 3.3V. As you said before, you should "remove LVTTL and ODE for maximum drive power" but we couldn't find a document on how to do this. Our coral dev board going to be garbage.

Thanks

[2020-07-31 00:22] rajansaini691 commented on #187
@Namburger You'll find this very interesting. It turns out that the edgetpu compiler _fully_ compiles the tflite model [here](https://github.com/guichristmann/edge-tpu-tiny-yolo/tree/master/models), which goes on to run in 27 ms! I then followed their instructions to create a retrained model for our dataset. It was a very convoluted process, but I ended up with a tflite model that was nearly ident

[2020-07-31 02:34] #168 closed

[2020-07-31 13:51] Namburger commented on #187
@rajansaini691 I see, I have also been following that same guide, but have not been able to produce the same model :(
I believe it must be related to the tensorflow version changes and how the tflite model were produced, which all comes down to experimenting at this stage.

Totally, keep posting the model here, I'll help you compile it!

[2020-07-31 14:09] Namburger commented on #186
@sigurdurbjartmar can you provide the above infomation?

[2020-07-31 15:59] sigurdurbjartmar commented on #186
@Namburger This issue is solved and was a local error. The computer used also failed to install another package that needed 64bit. Tried on another known good computer and it worked perfectly. Thank you for your reply.

[2020-07-31 15:59] #186 closed

[2020-07-31 17:29] rajansaini691 commented on #187
@Namburger You'll find this very interesting. It turns out that the edgetpu compiler _fully_ compiles the tflite model [here](https://github.com/guichristmann/edge-tpu-tiny-yolo/tree/master/models), which goes on to run in 27 ms! I then followed their instructions to create a retrained model for our dataset. It was a very convoluted process, but I ended up with a tflite model that was nearly ident

[2020-08-01 15:46] moeiscool opened #188 "Node.js API?"
I see the python API but where is Node.js? Where is C++? with that we could at least make one without much trouble.

Think of it this way. I develop a DIY NVR platform (https://shinobi.video) . If each person bought a coral that would be a serious spike in sales. Add Node.js API wrappers and you’ll see what I mean ;)

Jetson Nano is a computer but similar idea. Because they made it easy for me to

[2020-08-01 19:07] Namburger commented on #188
@moeiscool Hey!
Thanks for the suggestion, I can put the nodejs API as a suggestion, but we do have a C++ API, matter fact, the python API is a wrapper around the C++. Here is the docs for the C++ api: https://coral.ai/docs/edgetpu/tflite-cpp/#run-an-inference

Note also: there are [go-tflite](https://github.com/mattn/go-tflite) what will also allow you to bind our library with go, I'm not sure ho

[2020-08-01 19:11] moeiscool commented on #188
thank you :) i am going to play with this! If i make anything usable I'll report back and perhaps we (the community) can make it merge ready. Cheers!

[2020-08-02 15:37] danschu commented on #176
@Namburger: Can you please check the last attached file? I have removed the 512x512x151 layer, but I get the same error.
Thank you :)

[2020-08-03 14:00] Namburger commented on #176
@danschu hey sorry, I forgot to update, this seems similar to an issue we've seen before and I've attached the model on the bug to have it looked at but haven't got a response yet. I'll ping it again today and will keep you updated

[2020-08-03 14:34] Namburger commented on #188
@moeiscool I've put this is as a feature request, if we decided to move forward, I'll keep you up to date :).
If you are interested in binding C++ to node, here is a standalone tflite object detection example in c++ (this should be a good start as it is much more simple than this repo): https://github.com/Namburger/edgetpu-detection-camera

[2020-08-03 18:06] Naveen-Dodda commented on #182
Hello Rajan,

edgetpe_compiler aborts as Model.tflite graph contains duplicate nodes (tensors are repeated). This is issue could be created at tflite end when you quatise the model. Currently we are supporting only models converted with TF 1.15. I have tired to reproduce the issues by quantizing your saved_model but this fails as we could not provide variables/. Can you conform which Tflite_conver

[2020-08-04 18:36] Namburger commented on #74
@Sri-Butlr Sorry, just now saw this: https://drive.google.com/file/d/1iJ-sEhGRuu4Jnghl9WE3qP5vIhmnvNV_/view?usp=sharing

[2020-08-04 18:36] #74 closed

[2020-08-04 22:41] rajansaini691 commented on #182
@Naveen-Dodda Thank you. I was using tf 2.3's `TFLiteConverter` API to perform the conversion and quantization correctly. Unfortunately I could not get `tflite_convert` to work with tf 1.15 without crashing: `Check failed: std::floor((limit - start) / delta) == buffer.data.size() (79 vs. 80)`

The original model I am trying to convert is the r50-fpn over [here](https://github.com/tensorflow/tpu/bl

[2020-08-05 04:02] ZhouKai90 commented on #187
But Why TF2.1 can support 4-D, I am confused.

[2020-08-05 11:48] Namburger commented on #187
@ZhouKai90 do you mean tflite converter?
Because that's a separate process from the compiler:

```Input/output is a 3-dimensional tensor. Depending on input/output size, this operation might not be mapped to the Edge TPU to avoid loss in precision```

[2020-08-06 17:57] nicolausYes opened #189 "Internal compiler error. Aborting!"
Experiencing error while compiling the model. Could the error message be more specific, so we could understand what's wrong and if the model is supported?
[code]

Attaching the model.
https://www.amazon.com/clouddrive/share/jGyMkyqWQmfPKZOZr3MzjLyZ2btdtCzTvWQS1E4a7nu

[2020-08-07 17:50] llschloesser commented on #179
I got it working. It comes down to needing `edgetpu::kCustomOp` and `edgetpu::RegisterCustomOp()` which are defined in `edgetpu.h`. Which is fine, but one would think that `edgetpu_c.h` is complete, right?
[code]

[2020-08-07 19:19] llschloesser commented on #179
Turns out it was as simple as rearranging the call order, creating the interpreter after adding the delegate to the options, which I guess makes sense. Original issue is still valid, might as well just point at the C headers.

[2020-08-09 05:48] ppershing opened #190 "Can we get better error reporting from the compiler please?"
I know this was reported here several times but I want ot reiterate that "Internal compiler error. Aborting!" on anything that compiler does not like is really frustrating. If the compiler knows what is wrong, let it report a better message (at least "assertion failed xyz").

I am trying to train a custom signal detection model (based on reduced nvidia quartznet) and so far I came across plethora

[2020-08-10 02:22] QING0304 opened #191 "mAP decrease by 20% for object detection with SSD MobileNet V2 model on TPU"
Hello,

I trained a SSD MobileNet V2 model on my own datasets for object detection. The mAP of .pb model that evaluated on PC is 72%. However, when I evaluated the .tflite model on Android and compiled .tflite model on TPU, the mAP both decreased to about 51%.

First, I referenced https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1_training_and_evaluation.md to do

[2020-08-10 10:56] DLMasterCat commented on #191
Hi,
May I ask what the version of edgetpu_compiler and run time you used
Thanks!

[2020-08-10 12:50] InCogNiTo124 commented on #173
When is the next release scheduled?

[2020-08-10 14:00] Namburger commented on #191
@QING0304 if mAP dropped from `.pb` -> `.tflite`, this seems like a tflite conversion issue rather than the compiler. May I know the full command you use to train the model also (any changes to num steps)?

[2020-08-10 15:17] arun-kumark opened #192 "Ubuntu 20.04, EdgeTpuDelegateForCustomOp"
Dear all,

I am trying to test the classification example for EdgeTPU on my Ubuntu 20.04 LTS VM.
Following is the version information:
•	TF>=2.4.0-dev20200728
•	Ubuntu 20.04
•	Python 3.8
While running the example, I am facing the following problem:

`RuntimeError: Internal: Unsupported data type in custom op handler: 71112720Node number 1 (EdgeTpuDelegateForCustomOp) failed to prepare.`

Additiona

[2020-08-10 15:27] Namburger commented on #192
@arun-kumark Hi!
We haven't started supporting python3.8 yet. Did you build the python3.8 wheel package yourself? If you can you give as much details as possible? I maybe able to help, but the best option right now is to use python3.7

[2020-08-10 15:31] Namburger commented on #173
Sorry, We don't have a date yet, if you are running into this issue, feel free to drip the model here and I can compile it for you!

[2020-08-10 15:32] arun-kumark commented on #192
Yes, I prepared my own wheel .

I prepared the **tflite_runtime-2.4.0-cp38-cp38-linux_x86_64.whl** and installed it following this guide.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package

Could you help if I missed something?

Kind Regards
Arun

[2020-08-10 15:37] Namburger commented on #192
@arun-kumark Ahhh, I see, please checkout [this commit](https://github.com/google-coral/edgetpu/blob/master/WORKSPACE#L5) of tensorflow, apply [this patch](https://github.com/tensorflow/tensorflow/commit/72cd947f231950d7ecd1406b5a67388fef7133ea) and rebuild the tflite_runtime package!
Basically the issue is due to `libedgetpu1-max:amd64` needing that specific tensorflow commit as a a dependency.

[2020-08-10 16:12] arun-kumark commented on #192
Hi,
Thanks for sharing this, I did exactly as you mentioned. The whl file is created too as I can see from build logs below:
But I couldn't find the build output in my PC. (I did updatedb, locate, find etc)

Copying tflite_runtime.egg-info to build/bdist.linux-x86_64/wheel/tflite_runtime-2.1.0.egg-info
running install_scripts
creating build/bdist.linux-x86_64/wheel/tflite_runtime-2.1.0.dist-info/W

[2020-08-10 16:24] Namburger commented on #192
Hi Arun, it should in the the `out` directory right?

[2020-08-10 16:35] Namburger commented on #179
@llschloesser a feature request is in place :)

[2020-08-10 16:46] Namburger commented on #179
@llschloesser wait, can you clarify, in the end this is all that should be needed to create the interpreter right?
[code]
There shouldn't be a need for adding the c++ custom ops (`TfLiteInterpreterOptionsAddCustomOp`) which was the concerning c++ part. I guess the issue is down to the c API needing the extra C++ header that you don't have installed (as original issue)?

[2020-08-10 17:28] ppershing opened #193 "Any possibility of supporting `transpose` operation?"
According to https://coral.ai/docs/edgetpu/models-intro/#supported-operations coral does not seem to support Transpose op. I would presume that under some limiting circumstances (e.g., not transposing batch dim, etc.) the device should be able to support this. And the operation would be very helpful -- given size limitations, using grouped convolutions might be an easy way to get better accuracy.

[2020-08-10 17:44] arun-kumark commented on #192
Hi Namburger,

unfortunately, the out directory not created, so I tool the whl file following the path given in Makefile, and found in /tmp/.. path instead. Installed finally.

Tested again, and got in same issue as below:

[code]

[2020-08-10 17:55] Namburger commented on #192
humnn, that is odd that it comes out to /tmp. Could you share the outputs of these commands?
[code]

[2020-08-10 18:03] ibrewster commented on #132
I'm just curious: what was the major change(s) (in brief) between python 3.7 and 3.8 that made this not work with 3.8? I would think that 3.8 would have added new features, maybe deprecated some things, as well as improvements/bug fixes for existing features, but not actually removed/changed anything significant over 3.7 (unless it was something that had been deprecated in an earlier release), but

[2020-08-10 18:15] Namburger commented on #132
Hi guys, still not released yet, but you guys can try downloading this:
https://drive.google.com/file/d/1xIB_zq_ctMVP1oyi3rPpFkPmvNvZcV1p/view?usp=sharing

@ibrewster The build rules just doesn't have a .so for python3.8, we are still inverstigating `tflite_runtime` api, but this should do for the edgetpu api in the mean time.

[2020-08-10 18:15] Namburger commented on #192
Also, if you are interested in the edgetpu API instead: https://github.com/google-coral/edgetpu/issues/132#issuecomment-671509187

[2020-08-10 18:19] Namburger commented on #170
@ItsMeTheBee can you try using the experimental edgetpu API wheel package we built from here? https://github.com/google-coral/edgetpu/issues/132#issuecomment-671509187
Also, can you share the `md5sum models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite` or cat-ting it? I wonder if the download link may have expired and you ended up with a fake file

[2020-08-10 18:23] ibrewster commented on #132
The link says "You need access" :-)

[2020-08-10 18:34] Namburger commented on #132
whoopes, just updated

[2020-08-10 20:59] arun-kumark commented on #192
Hi Nam,

I tried the experiment once again, but I am not able to find the whl file in the folder ..

[code]

Logs says that it successfully created:

[code]
I searched in all the places in my VM,but this **tflite_runtime-2.1.0-cp38-cp38-linux_x86_64.whl** is no where present.
I also couldn't find "build", "gen" or "out" directories

No idea what's wrong with this !

Additional information that you

[2020-08-11 00:46] QING0304 commented on #191
@DLMasterCat
Hi,
edgetpu_compiler version: 14.1.317412892
version of edgetpu api on TPU: 2.14.1
version of tflite-runtime on TPU: 2.1.0.post1

Any suggestions would be appreciated!

[2020-08-11 01:05] QING0304 commented on #191
@Namburger
Hi,
I used this script https://github.com/tensorflow/models/blob/master/research/object_detection/legacy/train.py for training the model and set parameters --pipeline_config_path and --train_dir to corresponding path.

Content of pipeline.config is as follows:
[code]

[2020-08-11 06:35] arun-kumark commented on #192
Yes, I installed this as well to test, the issue is same on my PC.

Kind regards
Arun

[2020-08-11 13:23] arun-kumark commented on #192
Unfortunately, these commands not working as is:
results:
[code]

the pip3 freeze gives the information of the versions on my VM

[code]
Thank you

Kind Regards
Arun

[2020-08-11 13:44] Namburger commented on #192
Humnn, `tflite-runtime` is still saying 2.4.0 on pip shows, that may be an issue and I'm sorry, the commands are supposed to be:
[code]

When you install the edgetpu API, you should be using these examples instead of the tflite examples: https://github.com/google-coral/edgetpu/tree/master/examples

[2020-08-11 14:21] arun-kumark commented on #192
Ok, I uninstalled manually the problematic version 2.4.0, and then installed the 2.1.0. Now pip3 freeze output seen below:

[code]
Seems it pushes the same error as before.

[code]
Appreciate your patience, kindly suggest, if something is wrong.

Also, both the commands unfortunately don't work,

It results to me:
[code]

Kind Regards
Arun

[2020-08-11 14:40] Namburger commented on #192
@arun-kumark sorry, I'm not sure why that isn't working :( keep in mind that we are also investigating the 3.8 build on our side, but I have a few questions:

* What changes did you make to it in-order to build the tflite_runtime package for python3.8?
* Did the edgetpu api example works for you?
* How did you initialized the interpreter?

FYI: The command should have `__import__` instead of just

[2020-08-11 15:09] Namburger commented on #191
Oh, could you try `model_main.py` instead? `legacy/main.py` is deprecated.
[code]

[2020-08-11 15:11] arun-kumark commented on #192
Oh! I see.. why commands didn't work, rather I could check this "__" missing. Thanks for the note !
[code]

and

[code]

**What changes did you make to it in-order to build the tflite_runtime package for python3.8?**
I not did any change, I compiled the pip package as indicated in the git [readme.md](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package)

**Did the

[2020-08-11 15:25] Namburger commented on #192
Hi Arun, so there are 2 APIs for using our library, the tflite_runtime API and the edgetpu API.
We've been trying to use the tflite_runtime API that you built yourself and it isn't working, could you try the edgetpu API instead?

Can you try to install this wheel that we built (it is also experimental): https://github.com/google-coral/edgetpu/files/5052663/edgetpu-2.14.1-py3-none-any.zip
And then

[2020-08-11 15:30] arun-kumark commented on #192
the example I built before are working seems,
The result on one of the test example is as follows:
[code]

[2020-08-11 15:43] arun-kumark commented on #192
Yes, the above python example is working as well.

[code]
Kind regards
Arun

[2020-08-11 15:57] arun-kumark commented on #192
I could not understand this quote you mentioned in your reply, what is the difference in bazel build and docker build ? Why they are not same, is there any document to follow this stream development ?

Thank you!

Kind Reards
Arun

[2020-08-11 16:14] Namburger commented on #192
@arun-kumark docker build are usually more "uniform". For instance, in docker, you can have the same exact environment for each package and user can make the exact replica of the package if they build it with docker in a different machine. With bazel, the build environment depends on each machine.

For now, my suggestion is ubuntu18 or 19, as long as the system's default python is 3.7 then everyth

[2020-08-11 16:25] arun-kumark commented on #192
Hi,
I understood the reason for having docker at your side, until officially released, I will wait to come back to Python 3.8.

There is no specific reason for choosing Python 3.8, as it was a default legacy python version, so we not downgraded it, as all AI models are working smoothly on the system.
To make them work with edgeTPU, I will downgrade to Python 3.7, I will update you downgrading the

[2020-08-11 17:54] Namburger commented on #170
@ItsMeTheBee Here is a complete dockerfile to shows that the edgetpu wheel is working :)
https://gist.github.com/Namburger/fc1e697f9415a1cb98cd95c74facd4de

(the tflite_runtime is still in the work)

[2020-08-11 19:19] arun-kumark commented on #192
Hi Nam,
I downgraded the Python from 3.8 to 3.7

[code]

Also tensorflow is installed through pip now.

[code]

When I run the inference, I again get the same issue.

[code]

Could you suggest once more, what's wrong with the setup now ?

Kind Regards
Arun

[2020-08-11 19:26] Namburger commented on #192
can you run it with `python3.7 classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/inat_bird_labels.txt --input images/parrot.jpg` instead of `python3 classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/inat_bird_labels.txt --input images/parrot.jpg`?

[2020-08-11 19:29] arun-kumark commented on #192
Ok, here is the result
[code]

[2020-08-12 01:16] QING0304 commented on #191
Thanks for suggestion! I will try it and share the result as soon as possible.

[2020-08-12 13:05] Namburger commented on #192
can you send an strace?
[code]
I have a feeling the wrong runtime were called

[2020-08-12 13:07] mmmoakley opened #194 "Power up Procedure"
After flashing and successfully running the demo. I shut every thing down and repowered.  Do i need to activate the network every time i reboot?

[2020-08-12 13:17] Namburger commented on #191
Also, I wonder if these flags were necessary, I just realized this?
[code]
usually that's needed if you trained without the quantization re-writer, wonder what would happens if you take that off?

[2020-08-12 13:19] Namburger commented on #194
@mmmoakley No that shouldn't be necessary every time. I believe only the first flash because the network manager setting reset after the first update & dist-upgrade.

[2020-08-12 13:38] arun-kumark commented on #192
[strace.txt](https://github.com/google-coral/edgetpu/files/5063014/strace.txt)

Please find attached strace.txt

Kind regards
Arun

[2020-08-12 13:42] Namburger commented on #192
[code]
sorry, no need to run the entire command, not just `python3.7 ...`
[code]

[2020-08-12 13:59] arun-kumark commented on #192
[strace_new.txt](https://github.com/google-coral/edgetpu/files/5063197/strace_new.txt)

Sorry,
I run this time the command you mentioned.
`strace python3.7 classify_image.py --model models/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels models/inat_bird_labels.txt --input images/parrot.jpg 2> strace.txt`

Kind Regards
arun

[2020-08-12 14:06] Namburger commented on #192
Humnn, from the strace, it seems that the runtime were loaded okay, but can you try this:
[code]
And do a full reboot?
Also, can you share the outputs of these:
[code]

[2020-08-12 14:30] arun-kumark commented on #192
I am sorry,
yes, the device has to connect manually after reboot, I did sometimes back and it remained in disconnected mode.
I reconnected the device, here are the logs.

**md5sum /usr/lib/x86_64-linux-gnu/libedgetpu.so.1**
`cd4084aa31622574297ca2f8faac99aa  /usr/lib/x86_64-linux-gnu/libedgetpu.so.1`

**ldd /usr/lib/x86_64-linux-gnu/libedgetpu.so.1**
	linux-vdso.so.1 (0x00007ffdf5915000)
	libusb-1

[2020-08-12 14:39] Namburger commented on #192
Hi, from the strace, I'm just try to see which libraries are loaded during runtime, this all seems correct so I'm not sure why it is not working. You did installed the tflite_runtime package from our released page right? https://www.tensorflow.org/lite/guide/python#install_just_the_tensorflow_lite_interpreter
I'm very confused as to why this isn't working...

[2020-08-12 18:14] arun-kumark commented on #192
Yes, you are right. I have taken the whl (tflite_runtime-2.1.0.post1-cp37-cp37m-linux_x86_64.whl) from https://www.tensorflow.org/lite/guide/python#install_just_the_tensorflow_lite_interpreter.

I am using the Virtual Machine environment, is that not the limitation? I am not sure.
I have google Coral SDK board as well, I can try repeating experiments on SDK board also.

Kindly suggest.

Best Regar

[2020-08-13 06:45] QING0304 commented on #191
@Namburger
Thanks for reply again!

Following your suggestions, I tried to use `model_main.py` to train MobileNet V2 model with the same pipeline.config and take off `--default_ranges_min` and `--default_ranges_max` when convert .pb to .tflite. The result is the same as before, the mAP still decreased by about 20% on Android and TPU.

In addition, I used `random_adjust_brightness` and `random_pixe

[2020-08-13 13:28] Namburger commented on #191
@QING0304 Well, you see there are 2 steps from getting your model from a tensorflow graph file to edgetpu compatible:

                                         1                                                              2
inference_graph.pb -> **tflite_converter** -> model.tflite (cpu) -> **edgetpu_compiler** -> model_edgetpu.tflite (edgetpu)

The way I understood the problem is that the model'

[2020-08-13 14:19] Namburger commented on #192
So the
[code]
issue boils down to the tflite_runtime is mismatched with libedgetpu,
when you ran the command, I see these logs:
[code]
which I only see in newer tflite_runtime package. I'm not 100% on this :/ but it's possible that your build form python3.8 is still being used some how. My suggestion is to remove all related tflite_runtime package and reinstall

[2020-08-13 15:49] mmmoakley opened #195 "Copying images from mac to Dev board"
I have been successfully running the demos and now i am trying to copy images from my mac to the dev board using scp and i keep getting
Permission Denied (Public Key)
scp tv.jpg mendel@xx.xx.xx.xx:/home/mendal/images
tried sudo scp as well

[2020-08-13 16:25] Namburger commented on #195
OH, this isn't a permission denied on your host machine, so `sudo` isn't going to works.
Simply, Mendel OS is rejecting the file because it doesn't know who your host machine is. In order to add your host to a list of authorized devices on the board, do this:

Create a id_rsa key on your mac with:
[code]
This creates a `~/.ssh/id_rsa.pub` file on your MAC. You can copy that key over to the board a

[2020-08-13 16:34] ibrewster commented on #132
Awesome, thanks. That works perfectly!

[2020-08-13 16:48] mmmoakley commented on #195
I did something like this when i flashed the board

[2020-08-13 16:57] Namburger commented on #195
Can you cat your keys and the authorized file to make sure they are matching? If it's not, then you will run into this issue.

Other wise you can also enable password authentication on mendel.
[code]
change PasswordAuthentication from no to yes and restart ssh service:
[code]

Then you can ssh and scp using password instead, the default password is mendel

[2020-08-13 17:03] mmmoakley commented on #195
thanks it worked now

[2020-08-13 19:32] namigalyv commented on #175
Hi,

we are fixed our problem. The problem is the Power cable. Our Power cable output is 5V/2A but the board requires 5V/3A.  We are changed Power cable and problem fixed.

Thanks

[2020-08-13 19:32] #175 closed

[2020-08-13 20:23] mmmoakley opened #196 "Tutorial for Using teachable machine models"
Im looking for a tutorial or video that shows what to do with the models that teachable machine creates for the dev board.
where this go on the dev board etc.
thanks

[2020-08-13 20:27] #195 closed

[2020-08-13 20:27] #194 closed

[2020-08-13 20:28] Namburger commented on #196
Here is the tutorial!
https://coral.ai/projects/teachable-machine/#k-nearest-neighbors

[2020-08-13 20:28] #196 closed

[2020-08-13 21:11] Namburger commented on #190
We understand your frustrations and appreciate you highlighting this issue in detail. The development team is aware of this issue and evaluating options to improve the compiler experience.

[2020-08-14 02:13] pch0561 opened #197 "The way to read core's current frequency and temperature"
Hi

I want to measure core frequency and temperature on Coral. (like vcgencmd in Raspberry Pi or tegrastats in TX board)
Is there any way to read core's current information?

Thanks

[2020-08-14 03:44] dpsm opened #198 "How to build tflite_runtime whl for edge tpu board"
Is it possible to build from source the tflite_runtime-2.1.0.post1-cp37-cp37m-linux_aarch64.whl referenced here https://coral.ai/docs/dev-board/get-started/#12-execute-the-flash-script ?

I would like to modify existing ops and add custom ops and be able to test non the dev board.

[2020-08-14 09:21] ZhouKai90 commented on #187
I means if I install TF2.3 and use python script 'tf.lite.TFLiteConverter.from_saved_model()' to convert savedmodel to xxx.tflite.  I got the "RESIZE_NEAREST_NEIGHBOR Operation version not supported" error info when i used edgetpu_compiler to compile the  xxx.tflite . But if I downgraded the TF2.3 to TF2.1，the convert and compile worked perfectly without any error.

[2020-08-14 09:32] ZhouKai90 commented on #187
In addition, I noticed the converter between TF2.3 and TF2.1. TF2.1 is TOCO, but TF2.3 is MLIR.

[2020-08-14 10:45] volcacius opened #199 "EfficientNet Edge Small ImageNet accuracy on Coral USB"
Hello,

I'm trying to reproduce the top1 accuracy on ImageNet validation reported [here](https://github.com/tensorflow/tpu/tree/master/models/official/efficientnet/edgetpu) for the quantized EfficientNet Edge Small distributed on the Coral website ([link to .tflite](https://github.com/google-coral/edgetpu/raw/master/test_data/efficientnet-edgetpu-S_quant_edgetpu.tflite)), running on the Coral USB

[2020-08-14 11:37] mmmoakley opened #200 "Teachable machine generated Model"
I used the teachable machine web site to train a bunch of Images.
I created 3 different classes
I exported Tendorflow Lite and EdgeTPU format
copied the files over to board and executed
edgetpu_detect_server --model model_edgetpu.tflite --labels labels.txt

Returned this error
Traceback (most recent call last):
  File "/usr/bin/edgetpu_detect_server", line 11, in <module>
    load_entry_point('edg

[2020-08-14 14:09] Namburger commented on #200
@mmmoakley It is not a bug, the teachable machine produces a classification model which only produces 1 output tensor, you are trying to load it in a detection engine, which expects 4 output tensors. See here: https://github.com/google-coral/edgetpu/blob/master/src/cpp/detection/engine.cc#L16

You should run this model on the `edgetpu_classify_server` instead

[2020-08-14 14:09] #200 closed

[2020-08-14 14:11] Namburger commented on #198
@dpsm
The main thing to watch for is that you'll need to build it from the same tensorflow commit as: https://github.com/google-coral/edgetpu/blob/master/WORKSPACE#L5 which is what we depends on.
Here are the steps:

1) Check out tensorflow, this commit: https://github.com/google-coral/edgetpu/blob/master/WORKSPACE#L5
2) Apply this patch (because this commit happens to have a small build bug): htt

[2020-08-14 14:14] Namburger commented on #197
@pch0561 We currently don't have any nice tools for this task, but you can see the board's temperature using this command below:
[code]

[2020-08-14 14:23] mmmoakley commented on #200
works, thanks again

[2020-08-14 14:40] Namburger commented on #199
@volcacius
Thanks for reporting, I'm waiting for the imagenet's permission to download the validation data and I'll give this test a try. I can look at your source code to see if something is off once I can get the dataset.

To clarify, you are using the [provided model](https://github.com/google-coral/edgetpu/raw/master/test_data/efficientnet-edgetpu-S_quant_edgetpu.tflite), correct?
Since the mo

[2020-08-14 15:38] volcacius commented on #199
Hello,

Yes I'm using the provided model linked.
I just had a look and noticed the problem had already been reported by someone last year [here](https://github.com/tensorflow/tpu/issues/483). They suggest might be preprocessing, so I tried changing crop to 256x224 & resize to 224x224 to just resize to 224x224, but that doesn't seem to make any difference. So there was no other follow up, so I'll a

[2020-08-14 17:40] dpsm commented on #198
@Namburger the build instructions from https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/pip_package build python 3.5 for aarch64. The package above is python 3.7.
Can you point to the exact command to build the aarch64 python 3.7 whl? Thanks!

[2020-08-14 18:20] Namburger commented on #198
Can you try this one (just change target from armf7h to aarch64)?
[code]
It may requires you to install different dependencies in order to produce the correct package.
Proprably better to build with the docker container to make sure there isn't any mismatch in glibc between your host and the dev board, I think something like this should do it:
[code]

[2020-08-14 18:46] Namburger commented on #182
@rajansaini691 update on the original issue, basically we've fixed similar issues that I mentioned. The model you posted is definitely odd and we believe that it is a tflite convertion problem which I suggest you reach out to the tensorflow team for.

[2020-08-14 19:28] Namburger commented on #199
@volcacius I see, I just took a look and ran your code, it looks good (very clean). I also tried our [preprocessing](https://github.com/google-coral/edgetpu/blob/master/edgetpu/utils/image_processing.py#L21) utils function but still get roughly the same results. A couple things I would try:

1) Use [this preprocessing](https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/expo

[2020-08-14 20:30] llschloesser commented on #179
@Namburger , that's correct, there was no need for `TfLiteInterpreterOptionsAddCustomOp`. Yes, issue is still valid, edgetpu_c.h should just point straight to the C API header.

[2020-08-14 20:55] Namburger commented on #179
Sure, a feature request is now in place. Thanks for reporting.

[2020-08-15 15:03] jpizarrom commented on #182
[code]

[code]

[code]

[2020-08-15 16:59] ppershing commented on #185
I have no idea how the compiler works but based on my experience it does not like quantize ops. You should try to convert so that there is no such op in the resulting tflite.
However, seeing your tflite model to be 8MB big, I would suspect that size of the model is another issue that compiler will not like. Most of my models end up with max of about 0.6MB and then the compiler will refuse to compi

[2020-08-15 17:22] j-o-d-o opened #201 "Specified Tensorflow Commit does not build Tensorflow Lite"
The docs specify to build Tensorflow Lite with commit: d855adfc5a0195788bf5f92c3c7352e638aa1109. (https://coral.ai/docs/edgetpu/tflite-cpp/#build-your-project)

But when building Tensorflow Lite with that commit with these commands:
[code]

I get this error:
[code]

It works fine on the current master branch. I am just wondering how everybody else is getting a working Tensorflow lite lib file from

[2020-08-15 17:25] Namburger commented on #201
HI @j-o-d-o!
Unfortunately, that commit had a makefile bug, you can apply this patch and it shall works: https://github.com/tensorflow/tensorflow/commit/72cd947f231950d7ecd1406b5a67388fef7133ea

More details here: https://github.com/google-coral/edgetpu/issues/137#issuecomment-641309262

[2020-08-15 17:25] #201 closed

[2020-08-15 18:00] j-o-d-o commented on #201
That does the trick! Thanks for the quick response and help.

[2020-08-15 21:43] jpizarrom commented on #182
Hello,
Could it be because in the line L35 of the resolve_constant_range code is used std::ceil, and in L39 is used std::floor

https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/lite/toco/graph_transformations/resolve_constant_range.cc#L35

https://github.com/tensorflow/tensorflow/blob/v2.3.0/tensorflow/lite/toco/graph_transformations/resolve_constant_range.cc#L39

[2020-08-17 09:05] arun-kumark commented on #192
Hi Nam,
I checked the python3.8 dependencies, and it's not depends on 3.8 now..
I did the experiment in a new virtual environment where only python 3.7 is present.
I am repeating the experiment on a new VM created for Ubuntu18.04 with default python version
`Python 3.6.9`

[code]

[code]

[code]

But above file is present,
Could you help once again seeing what's wrong, I am sure, something I am mi

[2020-08-17 16:37] Namburger commented on #192
Hi @arun-kumark I think it's better if we can try all of this without using VMs. Our packages from here is quite proven and we knows that it works: https://coral.ai/docs/accelerator/get-started/#3-run-a-model-using-the-tensorflow-lite-api

Basically, VM doesn't allows access to USB devices by default and you can enable it [like this](https://www.tecmint.com/enable-usb-in-virtualbox/) but it throws

[2020-08-17 17:11] dpsm commented on #198
@Namburger  works great! thanks for your support!

[2020-08-17 17:15] Namburger commented on #198
@dpsm No problems, thanks for the confirmation!

[2020-08-17 17:15] #198 closed

[2020-08-17 19:10] arun-kumark commented on #192
Thanks a lot Nam,

Unfortunately, from home office, I can test this device on VM only, as officially, for me it's not allowed to install a parallel OS on office PC, my host environment is Window 10.

Also, I followed the link that you shared for VM, I checked the Extension pack which turned out to be quite expensive extension. (1000 Euros + 200 Euro)

I also now think, the problem is VM, but not s

[2020-08-17 20:03] Namburger commented on #192
Hi @arun-kumark humn, I think you should be getting these extension for free in virtual box o_0 that's is very expensive, what is your current VM vendor?

[2020-08-17 22:31] Namburger commented on #201
no probs!

[2020-08-18 09:52] arun-kumark commented on #192
My VM Vendor is VMware® Workstation 15 Player, 15.5.2 build-15785246. In which this extension not there.

I have an update.

I repeated the steps from beginning in the thread on fresh VM.

Here are the details for the Packages I am using:
**edgetpu==2.14.0
tflite-runtime==2.1.0.post1**

It's working as below:
I checked, the message that model is loading into Edge TPU memory is right, as when I dis

[2020-08-18 13:52] Namburger commented on #192
@arun-kumark Awesome!
Thanks @dmitriykovalev for releasing the python3.8 wheel and @usbguru (Gene) for parallel assistance

[2020-08-18 13:52] #192 closed

[2020-08-19 10:12] 87878877 opened #202 "flir camera captures falling objects"
Sorry, I saw this tutorial on the webpage of https://coral.ai/projects/teachable-sorter/. After running the sorter.py program, I encountered some problems TypeError: is_good_photo() missing 1 required every time I value the line. positional argument:'sliding_wind ow' such an error, the camera model I use is flir's BFS-U3-04S2C-CS USB 3.1.
The following is my main program Spinnaker.py
[123.zip](htt

[2020-08-19 13:25] InCogNiTo124 opened #203 "Pad won't compile"
Hello,

I have a quantized model I can't compile. I tried slicing my model in half and smaller, but no dice. Now, it literally has _only_ a Pad operation and it still won't compile.

The sliced model and converted model are [here](https://gofile.io/d/Ui6jmV)

I tried timing it and it takes around 1.5 minutes to finally fail with `"Internal compiler error."`

[2020-08-19 14:49] Namburger commented on #202
@87878877 what arguments did you passed into it? The error message states that you are missing an argument, the expected arguments are defined [here](https://github.com/google-coral/project-teachable-sorter/blob/a58b016db4f10ecd304057faa00d2bc11a9e075e/Sorter/sorter.py#L56) as img, width, height, mean, sliding_window

[2020-08-19 14:56] Namburger commented on #203
@InCogNiTo124 it's rather the size of the inputs that rather causes these type of troubles, can you try making the input size smaller?

[2020-08-19 16:11] InCogNiTo124 commented on #203
@Namburger unfortunately, no, it is necessary for the input to be 640x480

[2020-08-20 02:29] 87878877 commented on #202
The values ​​I returned are img, width, height, mean, sliding_window, but cmd tells me NameError: name'img' is not defined when I execute it, is there any solution?
![12](https://user-images.githubusercontent.com/38930353/90709983-026d1680-e2d0-11ea-8388-f6c2e83c868f.PNG)
![11](https://user-images.githubusercontent.com/38930353/90709985-0436da00-e2d0-11ea-985d-cfa66f9f3630.PNG)
![10](https://user-

[2020-08-20 13:25] Namburger commented on #202
The error is: `Name Error: name 'img' is not defined`
That means you haven't initialed a variable calls 'img' yet.

[2020-08-20 13:48] dipampatel18 opened #205 "Pretrained Models for Commercial Use?"
Hi,

The repository is on the Apache-2.0 license which grants commercial use. However, I wanted to verify if we are allowed to use the pretrained models for commercial use. Do we also have to take into consideration the dataset that those models would be trained on since those might have restricted licenses?

Also, how would the license, copyright notice and changes would work for the code?

Would

[2020-08-21 19:51] ppershing opened #206 "What are restrictions on ResizeNearestNeighbor?"
Documantation states that

I have problems with compiler crashing and my suspicion is this operation (though, it could also be MaxPool2D).
The interesting question is
  - a) what combination of `align_corners` and `half_pixel_centers` does edgeTPU compiler support?
  - b) are there any limitations on the dimensions? In particular, I think I might be hitting some maximum as I am upsampling a rather

[2020-08-23 05:33] ppershing opened #207 "USB "Not enough bandwidth" after many runs of python inference"
I came across this several times by now.

I am trying to train many different architectures and see their accuracy on edge TPU. For this, I run a simple interence python program multiple times and once in a while I get
[code]

with dmesg showing
[code]

Note that this error cannot be unstuck by simply re-trying or even unplugging the device. I need to reset whole USB hub.

[2020-08-24 10:36] gan3sh500 commented on #168
@Namburger is the only solution in such a situation to wait for next release of edgetpu_compiler? tf 2.2 does not properly allow int8 quantization. 2.3 has fixed that 2.4 nightlies allow converting more models.

[2020-08-24 13:33] Namburger commented on #168
@gan3sh500 can you try turning off MLIR converter with tf2.3 and see if it works?

[2020-08-24 13:36] Namburger commented on #207
May i ask if you are plugging the Accelerator in a usb2 or usb3 port?

[2020-08-24 14:30] ppershing commented on #207
Should be USB3. This is relevant part of `lsusb -t`
[code]

[2020-08-24 14:50] Namburger commented on #206
@ppershing
Apologies, this is rather a bug :(
The compiler fails on this model only sometimes:

[2020-08-24 14:56] Namburger commented on #207
I see, would you be able to reproduce this under a usb2 port?

[2020-08-24 15:39] ppershing commented on #206
- Interesting - so the compiler is non-deterministic?
- I am using tf nightly 2.4.0-dev20200719 for post-trianing quantization
- `RESIZE_NEAREST_NEIGHBOR        5          Operation version not supported` basically says that the operation wasn't mapped. What operation "version" is then supported?

[2020-08-24 16:25] gan3sh500 commented on #168
@Namburger I tried but TOCO was failing and hard to understand the source of the error. Do you know when edgetpu_compiler with support for newer tf will be out?

[2020-08-24 16:29] Namburger commented on #168
Sorry, we're still working on supports for MLIR so there isn't a committed date for full compiler compatibility yet :/

[2020-08-25 09:55] yascov opened #208 "Box Tracking on Coral EdgeTPU"
Hi there,

Thanks for this amazing tool and examples.

I want to try out box tracking one edge device like raspberry pi with Coral TPU, are you guys planning to release it ? if not how can I start working on it ( Begginer here :-) ).

Thanks!

[2020-08-25 14:09] Namburger commented on #208
@yascov Hi!
Do you mean like a object tracking algorithm or to retrain a model to detect boxes?

* For object tracking, we don't have an official demo, but my colleague @usbguru (Gene) has one in his repo: https://github.com/usbguru/track
I think the automl team is also working on one but I'm not familiar with it: https://github.com/google/automl-video-ondevice#for-coral-device

* If you want to r

[2020-08-25 14:10] Namburger commented on #206
@ppershing sorry, my advice for now is to stick with tensorflow2.2 until we have next compiler release.

[2020-08-25 14:18] yascov commented on #208
Hello @Namburger ,

Thank you. I was looking for object tracking demo with mediapipe on Coral Dev Board.
I will definitely take a look at those repos you suggested.

Thanks again.
Cheers.

[2020-08-25 17:26] usbguru commented on #208
There are two mediapipe examples for Coral here:

https://github.com/google/mediapipe/blob/master/mediapipe/examples/coral/README.md

The object example generates data for object detection with screen
location.

Mediapipe does some tracking examples now using the box tracking
sub-graph:   https://google.github.io/mediapipe/solutions/box_tracking

These have not been combined into a single Coral de

[2020-08-26 07:24] ppershing commented on #207
I tried to reproduce this on usb2 but I failed so far. Note though that I don't have a clear reproduction on usb3 (that is - it happens from time to time but I am not exactly sure how to trigger this reliably. I tried cycling my quick benchmark tool many times in a loop but the reproduction is flaky)

Do you have an idea of what to focus on more? So far I cannot say whether the error is related to

[2020-08-26 10:43] volcacius commented on #199
@Namburger thanks for the reply, sorry I have been off work.

I'll try (1) and report back. With (2), do you re-doing the calibration step to quantize from float to int8?

In general though it would be really helpful if there was some official indication from Google of how to properly reproduce the results, especially given that EfficientNet Edge was supposed to be _the_ model designed to run on t

[2020-08-26 18:15] ppershing commented on #206
Just curious - any idea when we can expect next compiler release?

Anyway, I manually edited tflite & downgraded OP version from 3 to 2 + removed `half_pixel_centers` which seems to be unsupported in v2 of the op. Now the compiler complains about `Image-interpolation layer won't run precisely enough on Edge TPU`
Can you give some insides what are considered precise-enough image interpolations by t

[2020-08-28 12:18] jimxxmy opened #209 "Coral Accelerator getting disconnected and reconnected."
` Coral Accelerator gets disconnected on its own` when Interpretor Delegate is called. As for my case, `edgetpu.dll` was called. Once the execution of code is completed, the devices gets connected once again.

Operating System: Windows
Programming Langugage : Python
IDE : PyCharm

[2020-08-28 13:52] Namburger commented on #209
@jimxxmy Can you provide more details?
Are you getting some type of errors when running the demo, any logs would helps us debug

[2020-08-28 13:58] Namburger commented on #207
@ppershing we've seen similar issue but only with usb3 and very specific architecture, this is usually caused after a long period of time. Could you possibly submit the model so I can reproduce?

[2020-08-28 14:55] jimxxmy commented on #209
@Namburger There are no errors or warnings shown except the ones provided by the tensorflow module, which I think, is for my non gpu system.

The code is as follows :
`interpreter = tflite.Interpreter(model_path,
  experimental_delegates=[tflite.load_delegate('edgetpu.dll')])`

Once this code has been executed, the windows sound for detaching and connecting, again for detaching USB is alerted.

[2020-08-28 15:07] Namburger commented on #209
Humn, so let's say when you run this demo:
https://github.com/google-coral/tflite/tree/master/python/examples/classification
does it works? If not, does it outputs anything in the command prompt?

[2020-08-28 15:09] jimxxmy commented on #209
@Namburger As the link you provided above, I also tested one repo for the object detection, which is provided to test the inference. Both ended in the same issue. It gets disconnected.

[2020-08-28 15:22] Namburger commented on #209
@jimxxmy humnn, i know you mentioned that it gets disconnected, but I was hoping that there would be some type of messages that shows up on the command line interface. This message is crucial in getting some type of leads on the issue. I've not used pycharm, but I think you can open the commandline interface like this:
https://stackoverflow.com/a/28570162/6262757

[2020-08-28 15:26] jimxxmy commented on #209
@Namburger I don't have the device with me as of now, cause it's out of working hours, IST, but will be updating you on the logs/error or anything thats possible from my end, tomorrow.

[2020-08-28 15:34] ppershing commented on #207
@Namburger Unfortunately, this would be very tricky. I am basically running an architecture search so it is very hard to attribute if the problem is in single of my architectures, a subset of them or if all of them are leaking resources in some way. In order to speed up the process -- should I be testing process restarts / model reloads or just running one model over prolonged periods of time is e

[2020-08-28 16:30] Namburger commented on #207
@ppershing one model over a long period of usually may cause it, however any of the models that we have in our stress test never causes this issue (we do have continuous stress test for all of our canned model).
We did have one model submission from a user that we were able to use to reproduce it. It only happens over usb3 port and it takes a very long time, this is currently being looked into

[2020-08-28 16:36] Namburger commented on #209
Awesome, thanks! Tomorrow will be weekend for me but i;ll try to make it in the office :)
FYI, you are running this on window10, correct?

[2020-08-28 17:13] jimxxmy commented on #209
@Namburger Yes, tested the delegate on both Windows 10 Home and Pro. Resulted in the same.

[2020-08-29 06:14] jimxxmy commented on #209
Ran the code with the device today, surprisingly encountered with a bunch of errors, without the sound of reconnecting and disconnecting, which would add up to the leads.

Code:

`model_path = "C:/Users/XXXX/PycharmProjects/Image Classification - Copy/gui/inference_module/classifier/inception_v4_299_quant_edgetpu.tflite"
interpreter = tflite.Interpreter(model_path,
  experimental_delegates=[tflite

[2020-08-29 06:39] jimxxmy commented on #209
@Namburger Ran the inference code with a pre trained model provided on coral website today, got the following excpetion:

`"C:\Users\XXX\AppData\Local\Programs\Python\Python37\python.exe" "C:/Users/XXX/PycharmProjects/Image Classification - Copy/inference.py"
W driver/package_registry.cc:67] Minimum runtime version required by package (5) is lower than expected (10).
W driver/package_registry.cc:6

[2020-08-29 09:47] jimxxmy commented on #209
@Namburger,

 **Second Update:** I ran the example from here: [Google Coral Classification Example](https://github.com/google-coral/tflite/tree/master/python/examples/classification), device connected to both 2.0 and 3.0 USB port, code was executed but the issue persists of getting the device disconnecting and reconnecting!

Inference times :

[code]

[2020-08-31 09:30] vadim-SX opened #210 "error using edge tpu compiler"
when using the compiler on tflite model I get nest error:
ERROR: Didn't find op for builtin opcode 'CONV_2D' version '5'

the model was compiled with tf-nightly 2.4.0.dev20200831
and ubuntu 18.04
I needed to use that version of tf becuase in previous versions I cant compile the models to tflite
and I am trying to use this model from zoo ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8
on the edgetpu

[2020-08-31 11:26] prashant45 opened #211 "Internal compiler error. Aborting!"
I am facing an unusual problem. When I try to compile my model it throws me ```Internal compiler error. Aborting!``` error.

But I noticed sometimes I try running the same command again and again, it compiles after a few attempts.

[code]

[model-details.txt](https://github.com/google-coral/edgetpu/files/5149984/model-details.txt)

Can someone explain this behavior ?

[2020-08-31 13:51] Namburger commented on #209
@jimxxmy
On the first update, it looks like you are running custom code, I wouldn't really be able to tell what's wrong unless I can see it.
[code]
Seems to indicates that you're using a different tensorflow runtime?

On the second update, everything looks fine to me, the example ran inference 5 times over the [parrot](https://github.com/google-coral/edgetpu/blob/master/test_data/parrot.jpg) image

[2020-08-31 13:54] Namburger commented on #210
@vadim-SX
for now, I suggest that you stay within tf2.2 for full compatibility. There are some new features that the released compiler haven't supported yet

[2020-08-31 13:57] vadim-SX commented on #210
@Namburger the problem is that with 2.2 I cant compile the model into tflite.
so, I dont know what to do.

[2020-08-31 13:59] Namburger commented on #211
@prashant45
Hi! I've seen this before: https://github.com/google-coral/edgetpu/issues/173#issuecomment-659650552
It should be fixed internally, but could you attach model so I can take look?

[2020-08-31 14:02] Namburger commented on #210
Humn, I'm not sure if compiler supports fpn yet, so unless that is implemented and well tested, it isn't support. Could you attach your model here? I can take a look

[2020-08-31 14:33] vadim-SX commented on #210
Hi, thanks
I took the model from here
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md
I tried:
SSD MobileNet v2 320x320
SSD MobileNet V2 FPNLite 320x320
SSD MobileNet V2 FPNLite 640x640

I want to compile one of them to run on the coral.
BTW TF docker is with TF 2.3
But I wasn't able to compile neither of them to coral.
,y problem is that only

[2020-08-31 15:06] prashant45 commented on #211
@Namburger

Really appreciate the quick response.

Model -
[model-quant.tflite.tar.gz](https://github.com/google-coral/edgetpu/files/5151036/model-quant.tflite.tar.gz)

I use an input shape `[batch_size, 8000, 1]` that is converted to  `[batch_size, 1, 8000, 1]` by tflite converter.
Also the `Conv1D` operator is converted to `Conv2D` and there is an unnecessary `Reshape` ops added in the graph.

[2020-08-31 15:23] prashant45 opened #212 "BatchNormalization"
Hi,

I have a model with BatchNormalization layer.
Model -
[model-quant.tflite.tar.gz](https://github.com/google-coral/edgetpu/files/5151097/model-quant.tflite.tar.gz)

I get the following error when compiling for edgetpu -

[code]

Any possible way to have a workaorund for this issue?
The layer is simply a Mul and Add opp in tflite.

[2020-08-31 15:49] Namburger commented on #210
@vadim-SX I see, you are trying to use Object detection API for tf2.x, sorry, currently only tf1.x is supported for object detection, we are in the progressing of integrating to 2.x
For mobilenet you can use this one: http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03.tar.gz
mobiledet is also a good one:
https://github.com/tensorflow/models/bl

[2020-08-31 15:57] Namburger commented on #211
@prashant45 just checked, this is definitely a bug on our side, it should be fixed by next update for you, but the successfully compiled model model should works

[2020-08-31 16:36] jimxxmy commented on #209
@Namburger I have mentioned the code above. That was the three lines of code, including:
1. loading a pre trained model in .tflite.
2. calling the delegate for the interpreter.
3. allocating the tensor.

All that happens but only after the device gets disconnected. That is the issue. Coral being disconncted isn't odd to you?

[2020-08-31 17:20] Namburger commented on #209
@jimxxmy Sorry, I don't have a window machine so I can't say for sure if the connect/disconnect noise is normal or not. I'll have a call with someone in our team with a window machine to check.
However, libedgetpu does transfer bytes of models + inputs into the edgetpu and reset the state when allocate tensors is called so I wouldn't be surprised that it triggers some windows mechanism that thinks

[2020-08-31 17:30] Namburger commented on #209
Also, can you provide the md5sum of `edgetpu.dll`? Just wanted to make sure that you're on the most updated version

[2020-09-01 05:25] LINYOUWEI0804 opened #213 "EfficientNetB0 compiler Model not quantized"
I use EfficientNetB0 in jupyter notebook to transfer learning.Then use tensorflow to train and quantize to convert to INT8.
After the quantization is completed, the compilation starts, but there is no quantization problem.

My Version: ubuntu 18.04
                         Edge TPU Compiler version 14.1.317412892
                         python 3.6
                         tf-nightly-gpu

[2020-09-01 06:04] jimxxmy commented on #209
Ran this code of yours, with the command line interface as you suggested: `python your_code.py GET /feeds` and had this come up in the interface:
`python model_to_tflite.py GET /feeds
initialized for cpu
Traceback (most recent call last):
  File "model_to_tflite.py", line 33, in <module>
    main()
  File "model_to_tflite.py", line 20, in main
    interpreter = Interpreter(model_path)
  File "C:\U

[2020-09-01 06:12] jimxxmy commented on #209
For the direct one: `637B4ECE601BF447BFEB9257DC3403CA`

For the throttled one: `EA58212B2E690DA0DAF6289AC5B1BF08`

[2020-09-01 08:14] vadim-SX commented on #210
@Namburger thanks,
any Idea when It will be supported?

[2020-09-01 11:43] prashant45 commented on #211
@Namburger can you comment regarding why most of the operations are pushed to CPU?

[2020-09-01 14:29] Namburger commented on #209
[code]
sorry, but that's incorrect usage... the script expects a model path and get it from sys.argv[1],
[code]

Basically
[code]
The error you are seeing is the interpreter trying to load a model call "GET" which doesn't exist

[2020-09-01 14:39] Namburger commented on #210
No actual date yet, but we're working on it right now and has been going, lots o good progresses.
The problems is that tensorflow did not provides a way to export the model to the right format for our compiler so we're finding a better way for this. You can follow our news page for any updates: https://coral.ai/news

[2020-09-01 14:47] vadim-SX commented on #210
thanks for your quick replays,
another thing that I was interested with: you are planing to make compilation for efficientdet and efficientnet?

[2020-09-01 14:50] Namburger commented on #213
@LINYOUWEI0804 Hi!
Can you try adding this line?
[code]
that should force the tflite converter to apply quantization and fails if it's unable to

[2020-09-01 15:02] Namburger commented on #210
I believe efficientdet is pending progress on the tensorflow team, you can follow [this thread](https://github.com/google/automl/issues/11) I know it hasn't had any updates in a while :(

Efficientnet is already provided by tensorflow, here are the instructions: https://github.com/tensorflow/tpu/tree/master/models/official/efficientnet/edgetpu#post-training-quantization
There should already be com

[2020-09-01 15:05] Namburger commented on #213
If that doesn't work out, could you try the official tensorflow efficientnet instead?
https://github.com/tensorflow/tpu/tree/master/models/official/efficientnet/edgetpu

[2020-09-01 15:08] Namburger commented on #212
Humn, I inspected the model and it looks okay, anyways you can show your quantization process?

[2020-09-01 15:11] Namburger commented on #211
@prashant45 I see some ops with really large tensors that is otherwise supported but has really large inputs that the edgetpu couldn't handle, could you try shrinking the inputs?

[2020-09-01 18:26] jimxxmy commented on #209
@Namburger No, in the second one I gave the path to tflite model as you can see where it says `process exited with exit code 0` The device did not disconnected, neither did anything happen.

[2020-09-01 18:56] Namburger commented on #209
1) On the cmd you are not giving the model, I suggest you use this method and fix it
2) on the IDE it looks like you're just running the model, not  my script

My apologies, but I really need your info in order to debug, without collaboration on your side I'm not getting the necessary info to give you assistance. Anyhow, to me this still seems like a user errors to me as the demo is working just a

[2020-09-02 03:15] LINYOUWEI0804 commented on #213
Thanks for your reply!
I have this line already in line 36 of the program.

The official tensorflow efficientnet seems to be the teaching of Cloud TPUs, but I run it on jupyter notebook

[2020-09-02 06:07] jimxxmy commented on #209
Hi, @Namburger. Executed you script that goes a follows:

[code]

[2020-09-02 08:55] prashant45 commented on #212
My quantization,

[code]

[2020-09-02 14:02] Namburger commented on #209
This is actually what I was looking for:
[code]
That means that the model successfully loaded can ran on the edgetpu and produced outputs, this is exactly what is expected for the edgetpu to do.
Although I'm not sure what's causing the sound, it's possibly a window setting but I'm still trying to get with a window owner in my team to check if this is expected or not
As for the `edgetpu.dll`, that

[2020-09-02 14:22] Namburger commented on #213
@LINYOUWEI0804 Hi again!
I see, sorry I didn't catch that, I think it's because it's in a separate cell!
I know that previously the efficientnet-edgetpu models were released with tf1.15.3, I'm not 100% sure how different it is when you use tf2.x. However, there is one thing that could definitely cause this issue, see with keras from tensorflow2.x, the batchsize is not set by default, you can see i

[2020-09-02 14:31] Namburger commented on #212
@prashant45 oh, may I ask what tensorflow version you're using?

For 2.3 and above, I believe you'll need to set the batchsize or else it'll will not be static. It is not ideal since the visualizer like netron doesn't shows that the inputs in static.

[code]
Although the error still seems a different than what I expected. It is a possible bug

[2020-09-02 17:38] Namburger commented on #213
@LINYOUWEI0804 okay, had a little time today so I reproduced this notebook which is very similar to yours minus a few extra parameters you had that I didn't look into. Model evaluation and compiled just fine with the fix I mentioned above, you can follow this to customize your model:
https://colab.research.google.com/drive/1TicOJZGtt-oqmxmo84Dn8HKrwdwJiada?usp=sharing

Cheers

[2020-09-02 17:38] #213 closed

[2020-09-02 20:01] rgov opened #214 "Unsupported data type in custom op handler"
Related to #44 but I thought I would start a new issue since that one is a bit stale.

I'm trying to use the `detect_image.py` example with Coral USB Accelerator on a Beaglebone Blue (like Beaglebone Black), an armv7l processor, running Ubuntu Bionic and Python 3.7.

I built the `tflite_runtime` version 2.3.0 for this device, and installed the `libedgetpu1-std` package:

[code]

When trying to run

[2020-09-02 20:06] rgov commented on #214
Relevant comment: https://github.com/google-coral/edgetpu/issues/137#issuecomment-641309262

[2020-09-02 20:38] Namburger commented on #214
@rgov Hi!
Basically the issue is that you built your own `tflite_runtime` packages, which does not match the tensorflow commits that `libedgetpu.so` was built on which is [this one](https://github.com/google-coral/edgetpu/blob/master/WORKSPACE#L5).
Any reason for not using our released package from here?
https://www.tensorflow.org/lite/guide/python

[2020-09-02 20:39] rgov commented on #214
Yes, unfortunately the released one does not work on this CPU. I think it is built with a FPU option that the processor does not support.

[2020-09-02 20:45] Namburger commented on #214
@rgov
I see, maybe you can try rebuilding it using this instructions?
https://github.com/google-coral/edgetpu/issues/198#issuecomment-674094275

[2020-09-02 21:29] rgov commented on #214
I was able to build the specific version of `tflite_runtime` that was needed. Thank you.

[2020-09-02 21:29] #214 closed

[2020-09-02 23:27] rajansaini691 commented on #187
Hi @Namburger thanks for your help. Would it be alright if you could convert this model with the new compiler? Also, if it isn't too much trouble, would it be alright if you could post its inference time? I want to make sure that my environment maximizes the detection speed.

[tiny_yolo_test.zip](https://github.com/google-coral/edgetpu/files/5165265/tiny_yolo_test.zip)

[2020-09-03 03:52] LINYOUWEI0804 commented on #213
According to the notebook quantitative model, it can be successfully compiled as a result, thank you very much for your help!!

[2020-09-03 11:33] Namburger commented on #213
No problems!

[2020-09-03 13:48] Namburger commented on #187
Here it is: [tiny_yolo_test.tar.gz](https://github.com/google-coral/edgetpu/files/5169003/tiny_yolo_test.tar.gz)

[2020-09-03 18:06] #171 closed

[2020-09-03 18:11] Namburger commented on #65
Sorry it has been a while, but this seems like a tflite conversion issue rather than compiler.
My suggestion, maybe try post training quantization on it again with a newer version of tensorflow.
Closing for now

[2020-09-03 18:11] #65 closed

[2020-09-03 18:14] Namburger commented on #69
This is now supported!

[2020-09-03 18:14] #69 closed

[2020-09-03 18:25] #164 closed

[2020-09-04 05:13] jimxxmy commented on #209
@Namburger  Hi, apologies for the delayed response. Here is the md5sum once again for the `edgetpu.dll` that I checked in the `system32`

`EA58212B2E690DA0DAF6289AC5B1BF08`

Also, since the disconnect - connect sound is normal, I think it should be ignored as for now. : )

[2020-09-04 09:39] pkitszel opened #215 "`m` tool silently ignores errors, which could result in incomplete builds"
Hi,

first of all, I'm not sure if this is proper place to report bugs for *mendel*?

Actual bug:
`m` tool does not report errors through its exit code. As a result, rest of building environment got used to the fact, and is also building with errors...

[2020-09-04 13:51] Namburger commented on #215
@pkitszel This is a good place :)
Can you share some outputs?
[code]
Also, can you capture a full build log and attach it here?
[code]
There is most likely an error somewhere that isn't showing up in the bottom of the log. You can also check progress like this on a separate term:
[code]

[2020-09-04 14:56] pkitszel commented on #215
Thanks you for fast response,

I just started build, and I will attach log after it's completion.
In meanwhile, I spot just one place which could fail after proper error propagation from `m`. It is <coral-mendel-path>/build/docker.mk:86.

Here is patch with adds reporting errors from `m`: https://gist.github.com/pkitszel/d8472d31b8e298f52fd0e16fe3f65486

[2020-09-04 16:28] pkitszel commented on #215
Ok, I made repro without any other patches, but the one I already linked to (attaching it also here).

For your convenience, I recorded also version (git HEAD) in all repositories used (by use of `repo forall` command) in file _sep-04--ver.txt_.

I'm attaching also snapshot of version info from last month, where everything was ok, file _aug2020-ver.txt_

---

[aug2020-ver.txt](https://github.com/g

[2020-09-05 05:32] ppershing commented on #207
@Namburger finally reliably reproduced with this single model https://www.dropbox.com/s/4gzaxn8k3nrm4oh/poolx3r5_cos_adam_750_001.tflite?dl=0 (my previous reproductions we spread over dozens of models so it was hard to say which one/ if all are responsible)

[2020-09-08 05:42] LINYOUWEI0804 opened #216 "Query USB CON PORT"
I want to connect dev board to arduino but need COM PORT parameters (numbers like COM5, COM6), is there any command to check.

[2020-09-08 08:24] LINYOUWEI0804 commented on #216
Have you tried to send data to arduino from dev board?

[2020-09-08 13:50] Namburger commented on #216
@LINYOUWEI0804
I dont have a arduino with me currently, but I had one in my office and I remember being able to send data via [screen](https://linuxize.com/post/how-to-use-linux-screen/) on the dev board.
First of course, you need to write a program to have the arduino listen over serial port and then screen in the dev board terminal with the same baudrate you used in your arduino program

[2020-09-08 16:02] Namburger commented on #215
@pkitszel hi, sorry for the late response, let me try to reproduce this issue in 20.04 and will keep you updated

[2020-09-09 03:23] LINYOUWEI0804 commented on #216
I use USB to connect,Does coral need to install arduino IDE and Do I need to send the arduino program to coral?
THANK!

[2020-09-09 14:59] Namburger commented on #216
@LINYOUWEI0804
sorry I can't quite remember but I believe I have the IDE on a different machine and upload the program to the Arduino. Something as simple as [this example](https://www.arduino.cc/reference/en/language/functions/communication/serial/read/):
[code]
Upload that on the arduino, on the board you can type
[code]

[2020-09-09 23:14] mrusme commented on #159
Had the same issue for a Python script I've been working on, solved it by replacing the `tflite.Interpreter(...` call from @BotScutters (up there in the issue description) with a call to this function:

[code]

Also added the following to the script head:

[code]

That solved the issue, at least in my case.

[2020-09-09 23:56] rajansaini691 commented on #182
Hello! I used the new tf2 object detection API and got a "less weird" tflite model (attached). However, it also throws an internal compiler error.

I'm guessing it has something to do with the postprocessing. A potential method of attack might be to cut it off by setting intermediate tensors, but I'm not sure what nodes to specify.

[Here's the model](https://github.com/rajansaini691/retinanet-mod

[2020-09-10 02:50] Namburger commented on #159
@mrusme oh, that's most likely because EDGETPU_SHARED_LIB didn't mapped to the correct platform

[2020-09-10 13:31] prashant45 opened #217 "Compiler stuck"
Hi,

The edgetpu_compiler is stuck for a long time when I am compiling my model.

[model-Conv2D-quant.tflite.tar.gz](https://github.com/google-coral/edgetpu/files/5202479/model-Conv2D-quant.tflite.tar.gz)

[2020-09-10 13:53] Namburger commented on #182
@rajansaini691 We are actually still working on tf2 OD API integration, I suggest sticking with tf1.15 for OD API at the moment. Here is a colab :)
https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain

[2020-09-10 13:59] Namburger commented on #217
Isn't this the same model from https://github.com/google-coral/edgetpu/issues/212#issue-689291359?
I'm getting that same error instead of compiler being stuck

[2020-09-10 14:15] prashant45 commented on #217
@Namburger

Not exactly.
https://github.com/google-coral/edgetpu/issues/212#issue-689291359 uses `Conv1D` layer in tensorflow. If you look closely there are `Reshape` layers before the `Conv` layers. I think tensorflow-lite projects the ops to 4 dims using Reshape layer. Check the original input dimension.

To avoid that, I changed this model input to 4 dims and used `Conv2D` layers. You can see t

[2020-09-10 14:35] Namburger commented on #217
maybe you uploaded the wrong model?
the md5sum for both model from 212 and this one is giving me:
[code]
:)

[2020-09-10 14:48] prashant45 commented on #217
I renamed the filename in this issue, I hope that helps. The confusion might be because of the same filename for both models. Sorry for the confusion.

[2020-09-10 14:59] Namburger commented on #217
I see, thanks, I just downloaded the new one and trying to compile now, it seems to be stuck as reported
Let me take a look and will update shortly

[2020-09-10 20:49] Adman opened #218 "Cannot run inference - after conversion from keras model to tflite"
Hello,

I have a segmentation model taking input of size `(480, 640, 3)` with values in range from 0 to 1 and produces output of size `(480, 640, 1)`.
The conversion from keras model file to tflite went pretty fine. However, when I'm calling `run_inference` with flattened numpy array, it always raises `RuntimeError: external/org_tensorflow/tensorflow/lite/core/subgraph.cc:1044 required_bytes != by

[2020-09-10 20:58] Namburger commented on #218
Hello, that usually means that the model still has float input which our API doesn't support for the python interface yet.
Can you upload the model here?

[2020-09-10 21:26] Adman commented on #218
[resnetsmall.zip](https://github.com/google-coral/edgetpu/files/5204735/resnetsmall.zip)
Here is the original keras model.

[2020-09-10 21:46] Namburger commented on #218
Do you have the cpu tflite model?

[2020-09-11 08:50] Adman commented on #218
Yes, here it is
[resnetsmall.hdf5.zip](https://github.com/google-coral/edgetpu/files/5207784/resnetsmall.hdf5.zip)

[2020-09-11 09:43] Adman commented on #218
What do you mean by "cpu"? Is there any option to convert the model to tflite cpu vs gpu?

[2020-09-11 12:06] Namburger commented on #218
The tflite model after converting should be a CPU model before you compile it to an edgetpu model. Only edgetpu model can be run with our api

[2020-09-11 12:36] Adman commented on #218
Is it really hdf5 ? Here is the code I use for converting the model
[code]

[2020-09-11 13:47] Namburger commented on #218
@Adman I see, it is in deed `.hdf5.tflite`, the hdf5 part confused me, sorry about that (I was still not in the office this morning when I saw the zip file, just wanted to respond earlier).
Any how, as I suspected, the model is not quantized and also not compiled for the edgetpu, please go through the full [post training quantization](https://www.tensorflow.org/lite/performance/post_training_quant

[2020-09-12 15:33] danschu commented on #176
@Namburger
Any news on the model? Is it a compiler bug? If so, when do we get a new version of the compiler?

[2020-09-13 20:11] Adman commented on #218
@Namburger Thanks for clarification. I managed to run the quantization based on that example, but I had to use newest tensorflow. However, when I tried to run edgetpu compiler, I got this message
[code]

[2020-09-14 06:02] jk78346 opened #219 "Operation is otherwise supported and the performance"
This is the model I intend to use( a simple multiply operation):
[code]

The EdgeTPU compiler shows the following message:
[code]
edgetpu_compiler version 14.1.317412892
tf version: 1.13.2

I'm wondering how can I get multiply operation running on edgetpu( since it is mentioned in document)?
Also, is this sentence  ```A percentage of the model will instead run on the CPU, which is slower``` a vali

[2020-09-14 08:01] Adman commented on #218
The code that I used for converting this time looks as follows:
[code]

[2020-09-14 13:46] Namburger commented on #219
@jk78346 hey!
[code]
Usually means the input resolutions is too high for that op, you may try to reduce the input size

[2020-09-14 13:48] Namburger commented on #217
@prashant45 I've reach out to another team regarding this, will keep you updated

[2020-09-14 13:50] Namburger commented on #218
Hello, what tensorflow version are you using?
For tf >= 2.3*, the input size isn't static, we'll start documenting this soon, but can you add this line before instantiating the converter?

[code]

[2020-09-14 14:09] Namburger commented on #176
@danschu hey, so sorry for the late response, unfortunately it is still the size limitation which we currently don't have a way to overcome via software.
There are a couple of ops with inputs resolution of 65x65x960 and 257x257x96, these inputs are just a little too large, could you try shrinking those too?
Apologies, I understand that could cause much precision drop

[2020-09-14 23:10] jk78346 commented on #219
thank you for the reply!

[2020-09-15 10:16] mrdolmo opened #220 "Can't install gasket-dkms with linux-headers-rt-amd64 (debian 4.19.0-10-rt-amd64)"
Analyzing gasket-dkms*.deb control file, dependencies

Depends: dkms (>= 2.1.0.0), linux-headers-686-pae | linux-headers-amd64 | linux-headers-generic | linux-headers

nevertheless I am building my own debian image with ELBE (https://elbe-rfs.org/) and using the kernel debian 4.19.0-10-rt-amd64 so therefore I am using linux-headers-rt-amd64 and not linux-header-amd64.

When I run apt install gaske

[2020-09-15 10:30] vadim-SX opened #221 "error in coral::BuildEdgeTpuInterpreter"
Hi, I am trying to run my model:

[https://drive.google.com/drive/folders/1ubID-H0ctBLH0BZBTpg2uVCN9SK-vbcf?usp=sharing
](url)

and I get the next error in C++ :
Process finished with exit code 139
at
    std::unique_ptr<tflite::Interpreter> interpreter =
            coral::BuildEdgeTpuInterpreter(*model, edgetpu_context.get());

I don't get more info and don't know how to debug that.
any one have

[2020-09-15 11:50] Namburger commented on #221
Can you paste the full error or attach the model so I can try to run it?

[2020-09-15 12:01] vadim-SX commented on #221
[yolov4-tiny-relu.zip](https://github.com/google-coral/edgetpu/files/5224675/yolov4-tiny-relu.zip)

[2020-09-15 14:35] Namburger commented on #221
A few pieces of info is missing here for me do to further debug, would love to see if you registered the edgetpu ops with the resolver and the full error message when you ran the code. How ever I was able to create the interpreter with your model, here is the full code:
[code]

Cheers!

[2020-09-15 14:47] vadim-SX commented on #221
I run you code and get next output:
/home/user/project/edgetpuinference/cmake-build-debug/edgetpuinference /home/user/Downloads/yolo4/yolov4-tiny-relu_edgetpu.tflite
tpu: 0
type: Apex (USB)
path: /sys/bus/usb/devices/2-2
Building model: /home/user/Downloads/yolo4/yolov4-tiny-relu_edgetpu.tflite

Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

[2020-09-15 14:50] Namburger commented on #220
Hello @mrdolmo sorry for my lack of knowledge here, but what is the difference between `rt-amd64` and the normal `amd64` package?
What happen if you try building your self?
[code]

[2020-09-15 14:52] vadim-SX commented on #221
the lib I target is this one
libedgetpu//direct/k8/libedgetpu.so.1.0

[2020-09-15 14:55] Namburger commented on #221
Humnn, that's odd, `SIGSEGV` is an ernno for bad memory access o_0
When you build `libtensorflow-lite.a`, was it from [this commit](https://github.com/google-coral/edgetpu/blob/master/WORKSPACE#L5)?
and can you share the `md5sum` of `libedgetpu//direct/k8/libedgetpu.so.1.0`?

[2020-09-15 15:00] vadim-SX commented on #221
[k8.zip](https://github.com/google-coral/edgetpu/files/5225857/k8.zip)

[2020-09-15 15:01] Namburger commented on #221
1) Can you also run this to make sure your linux user has permission for the `plugdev` group:
[code]
2) Can you try running the model using my whole
https://drive.google.com/file/d/18IO9d0glJwhkJh5zqftNuxRDM2_VVuzr/view?usp=sharing

[2020-09-15 15:09] vadim-SX commented on #221
with your lib
it worked
can you tell me what commits you used at
edgetpu
and
tflite
thanks

[2020-09-15 15:18] Namburger commented on #221
I believe I just used this: https://github.com/google-coral/libedgetpu/blob/master/bazel/WORKSPACE#L39
But there is a README in that should give the exact process (and the same commit I used):

1) make a directory to do everything
[code]

2) build libedgetpu
[code]

3) Important, make a note of libedgetpu's tensorflow commit:
Example:
[code]

4) build tensorflow using the same commit from step 2
[

[2020-09-15 15:20] Namburger commented on #221
I also saw that you are using cmake?
Maybe this repo would be more relevant for your need: https://github.com/Namburger/edgetpu-minimal-example

Cheers

[2020-09-15 15:20] #221 closed

[2020-09-15 15:37] vadim-SX commented on #221
I used your code and added the line:
  const auto& required_shape = coral::GetInputShape(*interpreter, 0);

and i get :Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

[2020-09-15 16:08] goodwilj opened #222 "Edge TPU Compiler issue for TensorFlow 2.3.0 TFLite Quantization"
I'm attempting to compile a variation of the DenseNet model for the Edge TPU, and I'm having similar problems to the issue: https://github.com/google-coral/edgetpu/issues/64.  DenseNet seems to be supported by the CoralTPU as it is listed in the benchmarks: https://coral.ai/docs/edgetpu/benchmarks/.

Unfortunately, for DenseNet, the transpose convolution is not supported for integer quantization i

[2020-09-15 16:19] Namburger commented on #221
@vadim-SX more context?
Most likely a C++ pointer issue or even linker, try using gdb to debug, this is no longer related to edgetpu usage.
Suggestion: if you are just trying to get the input dimensions, this is working for me:
[code]

[2020-09-15 16:21] Namburger commented on #222
Hello! Could you also paste the snippet of the post training quantization code?

[2020-09-15 16:24] goodwilj commented on #222
Sure, here is the post-training quantization code:

`import tensorflow as tf
import numpy as np
from tensorflow import keras

keras_model = tf.keras.models.load_model("keras_model.h5")
converter = tf.lite.TFLiteConverter.from_keras_model(keras_model)
#input_arrays=["x"], output_arrays=["Identity"],input_shapes={'x':[1,32,32,1]})

def representative_dataset_gen():
  for _ in range(10):
    input_ar

[2020-09-15 16:27] Namburger commented on #222
@goodwilj

All good :)

Anyhow, there is this new thing with tf2.3 that took us a while to figure out. But the batchsize need to be set explicitly now or it won't be static, so can you add  this line:
[code]

We are working on documenting this!

[2020-09-15 16:29] Namburger commented on #222
Wait, we actually have a colab for it: https://colab.research.google.com/github/google-coral/tutorials/blob/master/fix_conversion_issues_ptq_tf2.ipynb

[2020-09-15 16:40] goodwilj commented on #222
Thanks! It now compiles for `-m 10` and `-m 11` runtimes but not 12 and 13, like I mentioned for TF 2.2.0 in the Note section of the original post.

For the 10 and 11 runtimes, none of the operations is actually mapped to the edge TPU:

`Edge TPU Compiler version 14.1.317412892

Model compiled successfully in 98 ms.

Input model: keras_model_2-3-0.tflite
Input size: 4.92MiB
Output model: keras_mod

[2020-09-15 17:31] Adman commented on #218
Hello, thanks for helpful advices. It started working, but compiling the tflite model raises that it does not recognize `RESIZE_NEAREST_NEIGHBOR` operation. I found this issue https://github.com/google-coral/edgetpu/issues/152 and based on that I downgraded tf version to 2.1, which solved the problem. The only thing which is problematic is prediction, which always returns zeros for all the pixels

[2020-09-15 17:36] Namburger commented on #222
Humnn, are you using tf2.3, could you also attach the keras .h5 model?

[2020-09-15 17:39] goodwilj commented on #222
Sure, here is the keras model:

[keras_model.zip](https://github.com/google-coral/edgetpu/files/5226729/keras_model.zip)

[2020-09-16 08:30] vadim-SX commented on #221
@Namburger thanks for the big help.
I continued the work and now I get to

at std::vector<float> RunInference
uint8_t* input = interpreter->typed_input_tensor<uint8_t>(0);

I get the input = NULL
and then get SIGSEGV at the next line
std::memcpy(input, input_data.data(), input_data.size());

you have idea how can it be that the interpreter is build but the interpreter->typed_input_tensor<uint8_t>(

[2020-09-16 15:14] Namburger commented on #217
Update: This is fixed internally for us, I don't have a release date for this fix yet, unfortunately.
[Here](https://github.com/google-coral/edgetpu/files/5233062/edgetpu_217.tar.gz) is the compiled model!

[2020-09-16 16:57] Namburger commented on #222
I see, after trying to perform post training quantization on the model you provide, here is my finding:

The compiler rejects the model on purpose because there are some mis matching in quantization parameter which could cause bad prediction:
![Concat](https://user-images.githubusercontent.com/25712149/93368442-9d93d600-f813-11ea-89c9-4906d828cfcc.png)

[2020-09-16 17:51] dermodmaster commented on #188
Please do not underrate this issue :heart: :)
NodeJS would be very awesome!

[2020-09-17 20:06] rajansaini691 commented on #187
Hi @Namburger , would it be alright if you could compile this model as well?
[tiny_yolo.zip](https://github.com/google-coral/edgetpu/files/5241566/tiny_yolo.zip)

Also, I'm experimenting with different quantization strategies, so I may end up sending you a few (not more than 1 or 2 per day) in the near future. Is there anything I can do to make the process more streamlined for you? Or perhaps comp

[2020-09-17 20:51] Namburger commented on #187
[tiny_yolo.tar.gz](https://github.com/google-coral/edgetpu/files/5241755/tiny_yolo.tar.gz)
@rajansaini691 how about send me an email?
namvu1291@gmail.com

[2020-09-18 09:50] Harishrelysys opened #223 "Unable to install gasket-dkms"
I'm trying to install pcie drivers on my armv8 board which has yocto. I'm using Renesas G2M processor with 4.19 kernel. I installed dkms but now it is asking for linux-headers, which isn't there. Is there any other way to install gasket-dkms without apt-get ??

[2020-09-18 13:45] Namburger commented on #223
@Harishrelysys the linux-hearders package is requires to do a dkms build.
The source code is available here: https://coral.googlesource.com/linux-imx/+/refs/heads/release-day/drivers/staging/gasket
The only way I believe this could work is to add this to your kernel source and build but I'm not sure the exact procedure for this.
Keep in mind that currently we are only supporting debian: https://co

[2020-09-19 10:14] vadim-SX opened #224 "different inference result in python and c++ edgetpu"
Hi,
I have done inference in both python and c++
and I see that the output is not the same.
I have saved the input to the inference from python as nparrray and loaded it to the cpp so the input is the same
but the output is not.
what can make this to happen?
is the input both python and cpp need to be the same or I need to make some process in the cpp?
thanks

in cpp I used the minimal as starting

[2020-09-20 18:46] vadim-SX commented on #224
the main question is it right to enter the vector in c++ as the one in python?
i.e. if I load the input to edgetpu from python (that saves as numpy array) and pass it as is to the inference at cpp i shpuld get same result? or I need to do some changes? and if yes, what changes?
thanks

[2020-09-21 07:15] Harishrelysys commented on #223
Hi Namburger,
              Thank you for the fast reply.We copied the source code from : https://coral.googlesource.com/linux-imx/+/refs/heads/release-day/drivers/staging/gasket and enabled the driver.We got /dev/apex_0 device.

But in dmesg we are getting error like

[    2.471002] apex 0000:01:00.0: Couldn't initialize interrupts: -22

Below is my pcie and apex log

dmesg | grep -i "pcie"
[

[2020-09-21 08:26] vadim-SX commented on #224
I have just noticed that in python I use the tflite API vs the c++ that I use the edgetpu API is there a diffrence in the expected inputs?

[2020-09-21 13:41] Namburger commented on #223
Hey Harish - apologies for the issue, it seems that your CPU doesn't support MSI-X which is necessary for our pcie devices:
[code]
I'll work with my team to get this documented

[2020-09-21 13:56] Namburger commented on #224
@vadim-SX If you are using our edgetpu c++ api, then the inputs should be a flat vector array. For instance, take a look at how we take an input from an image and feeding it to the interpreter here: https://github.com/google-coral/edgetpu/blob/master/src/cpp/examples/classify_image.cc#L26
You can see here to understand how we parse the outputs of the inference: https://github.com/google-coral/edge

[2020-09-21 14:11] vadim-SX commented on #224
thats what Im doing
[code]
and when I do break point at python and c++ I see that its the same input , but I see different output

[2020-09-21 14:22] Namburger commented on #224
@vadim-SX are you sure the inputs for your model is float and not uint8? Also, doesn't the cv [image.data](https://docs.opencv.org/master/d3/d63/classcv_1_1Mat.html#a4d33bed1c850265370d2af0ff02e1564) returns a uchar*?
For example, this is how I set the inputs using opencv:
https://github.com/Namburger/edgetpu-detection-camera/blob/master/src/detection_camera.cc#L50-L55

[2020-09-21 14:35] vadim-SX commented on #224
I doubt that's the issue;
the same input data taken from the Python version still doesn't work, so we can infer that it is not a preprocessing issue.

[2020-09-21 14:41] Namburger commented on #224
I'm confused, I thought you were able to make this work with python?
More info on the model?

[2020-09-21 14:42] vadim-SX commented on #224
I found the problem , I have done
  std::memcpy(input, input_data.data(), input_data.size());
and that float so shpuld be
  std::memcpy(input, input_data.data(), input_data.size()*sizeof(float));

[2020-09-21 14:47] Namburger commented on #224
@vadim-SX Ahh, yes, otherwise you're only feeding 1/4 of the pixels into the interpreter's input tensor :)

[2020-09-21 15:03] #224 closed

[2020-09-22 13:41] Harishrelysys commented on #223
Hi Namburger,
                  Thanks for your inputs.Do you have any plan to support pcie with MSI interrupt in future.

Thanks and regards,
Harish

[2020-09-22 13:57] mrdolmo commented on #220
Hello Namburger,

thank you very much for your fast response and your detailed instructions. I could build the module with my rt-kernel, rt stands for real time patch. We still need to evaluate proper funcion with hardware.

Additionally to your instructions I replaced following:
sed -i 's|#include <linux/rwlock.h>|#include <linux/rwlock_rt.h>|g' gasket/usr/src/gasket-1.0/gasket_interrupt.c

[2020-09-22 15:05] Namburger commented on #220
@mrdolmo I see, so that looks like the issues is that the linux-headers-rt only supplies header files with the extra `rt`, where our code basically depends on the same file but not rt based. Thanks for your confirmation!

[2020-09-22 18:38] rajansaini691 commented on #206
@ppershing Just curious if you were able to get ResizeNearestNeighbor to convert? Theoretically, if we could reverse-engineer the linked repo's setup, we should be able to get that performance boost. Maybe one of tensorflow's nightly builds around December 28, 2019 should do it? (I got that from the commit history)

[2020-09-23 12:22] mrdolmo commented on #220
Can confirm solution worked also with HW

[2020-09-23 12:22] #220 closed

[2020-09-23 13:38] prashant45 commented on #212
@Namburger this problem was solved when I use a smaller input size. For example, `[1, 4000, 1]`.

However, I incorporated some custom normalization layers for a new model. This is is not compiling.

[model-gln-quant.tflite.tar.gz](https://github.com/google-coral/edgetpu/files/5268476/model-gln-quant.tflite.tar.gz)

[2020-09-23 14:33] Namburger commented on #212
@prashant45 did you added the line to make the batch size static as I suggested?

[2020-09-24 09:13] TaWeiYeh commented on #25
@vmarkovtsev May I ask how did you run N 1D MatMul ops in parallel on Edge TPU? My model has only one "matmul" operation layer with two 1D inputs. Before converting to the TensorFlow Lite, the model would output a correct matrix multiplication result. However, after converting to the TensorFlow Lite model, the lite model would output an incorrect matrix multiplication result.

`
matrix1_input = ke

[2020-09-24 12:28] prashant45 commented on #212
@Namburger no, I just used a smaller input size

[2020-09-24 12:29] prashant45 commented on #212
@Namburger no, I just used a smaller input-size

[2020-09-24 13:53] Namburger commented on #212
@prashant45 lol can you try it? that was my suggestion.

[2020-09-24 16:20] prashant45 commented on #212
I tired it and it did not work. Otherwise I would had mentioned it. :P

[2020-09-24 16:26] Namburger commented on #212
I see, can you possibly attach the code to reproduce your model? it is rather weird that I've not seen this issue before

[2020-09-25 11:33] michalrudowicz commented on #211
Hi,

I am having a similar problem, though I'm getting the internal compiler error consistently. For example, the following model can be compiled sucesfully: [p_net_17_17_3.tflite.zip](https://github.com/google-coral/edgetpu/files/5282453/p_net_17_17_3.tflite.zip) while a slightly bigger [p_net_23_23_3.tflite.zip](https://github.com/google-coral/edgetpu/files/5282478/p_net_23_23_3.tflite.zip) resu

[2020-09-25 18:03] Namburger commented on #211
@michalrudowicz thanks for reporting, this is definitely a bug with the current compiler version, but we have fixed in internally, here is your model:
[pnet23x23.tar.gz](https://github.com/google-coral/edgetpu/files/5284554/pnet23x23.tar.gz)

We are expecting a new compiler release around mid q4, sorry for the issue

[2020-09-25 18:27] michalrudowicz commented on #211
Thanks a lot, good to know!

pt., 25 wrz 2020, 20:03 użytkownik Nam Vu <notifications@github.com>
napisał:

[2020-09-26 15:29] akssieg opened #225 "Compilation of tflite model shows that all operations will be on CPU rather than TPU even though all ops are supported."
I converted and quantized the cpm_hand model provided in the repo [https://github.com/timctho/convolutional-pose-machines-tensorflow](url) to tflite.

The quantized tflite file can be found at [https://drive.google.com/file/d/15aHHyR-iamsDDpooV-GaKE9rjRqzZsfe/view?usp=sharing](url).

When I executed `edgetpu_compiler -s -m 10  hand_quant.tflite` command in the terminal then it provided the followi

[2020-09-26 16:24] vmarkovtsev commented on #25
Ufff, that was some time ago, I don't remember... [This blog post](https://towardsdatascience.com/hacking-google-coral-edge-tpu-motion-blur-and-lanczos-resize-9b60ebfaa552) could probably shed the light.

[2020-09-28 11:00] LachlanDeGiorgio opened #226 "Didn't find op for builtin opcode 'RESHAPE' version '1'"
Hi, I'm trying to use the magic_wand example with my own gestures. The model builds and uploads fine however when I open the serial monitor I get the following error.

Didn't find op for builtin opcode 'RESHAPE' version '1'

Failed to get registration from op code d

If someone knows how to fix this it would be a HUGE help!

[2020-09-28 12:15] Namburger commented on #226
Hello, could you give more info on the magic wand example?

[2020-09-28 15:23] Namburger commented on #225
@akssieg apologies, it seems to be hitting a compiler bug that we've fixed. We're expecting a new release round mid Q4 along with this fix, for now, here is your model:
https://drive.google.com/file/d/13Lm9WrcJIyP-iIX13_piyef9YyGEhfYE/view?usp=sharing
FYI, that looks like a really kool project o_0

[2020-09-28 16:36] akssieg commented on #225
@Namburger thanks for the reply, I tried unzipping the files you provided via the link [](https://drive.google.com/file/d/13Lm9WrcJIyP-iIX13_piyef9YyGEhfYE/view?usp=sharing) using the command `tar -xzf hand_quant.tar.gz` but every time I get the following output:

[code]
Secondly, I have a query regarding Coral TPU. Can I create my own custom ops for the TPU and then register it on the TPU compile

[2020-09-28 17:19] Namburger commented on #225
@akssieg oh, you should be able to decompress it with this `tar -xvf hand_quant.tar.gz`
Unfortunately, since the compiler isn't opensource, you won't be able to implement this support for custom ops

[2020-09-28 19:40] BernardinD commented on #74
@Namburger has a fix to this error been released?

[2020-09-28 19:56] Namburger commented on #74
@BernardinD we are expecting a release in mid q4 which should include this fix!

[2020-09-28 20:37] akssieg commented on #225
@Namburger there was a little issue from my end regarding the decompression :| . Now its fine.

[2020-09-29 06:50] keesschollaart81 commented on #4
I want to make a note that the edgetpu compiler can be a bit flaky/indeterministic. For others reading this, trying a few times might 'fix' this... In my case, sometimes it gives the 'vector' errors, sometimes just the 'internal compiler error' and sometimes it just works:

![image](https://user-images.githubusercontent.com/6755359/94522795-7df7a700-0230-11eb-9648-50ac849d25ca.png)

[2020-09-29 11:38] Namburger commented on #4
@keesschollaart81 this could be due to a memory allocator that is flaky in the compiler, we've fixed this and expecting this to be released by mid q4.
Would you be able to submit your model? I would like to try compiling it again from our head

[2020-09-29 11:40] keesschollaart81 commented on #4
Sure, model attached, based on [this config](https://github.com/tensorflow/models/blob/master/research/object_detection/configs/tf2/ssd_mobilenet_v2_fpnlite_640x640_coco17_tpu-8.config).

[model.zip](https://github.com/google-coral/edgetpu/files/5298663/model.zip)

[2020-09-29 15:11] Namburger commented on #4
@keesschollaart81 can confirm this is no longer an issue!

[2020-09-29 17:00] prashant45 commented on #212
[code]

[2020-09-30 15:08] Namburger commented on #223
@Harishrelysys unfortunately, we don't have a plan to support MSI on our side

[2020-10-02 00:25] akssieg commented on #225
@Namburger quantized tflite model which has float input and output produces the desired correct results but when I do full integer quantization then the inference produces wrong results.

Since full integer quantized tflite model is not working, TPU compiled model is also not working.

Is there any way around? Could graph surgery be a good option? Like executing first layer on the cpu and the rest

[2020-10-02 14:34] Namburger commented on #225
@akssieg Oh, may I see how you perform the post processing ops?
Make sure you take the scale and zero points into consideration, similar to this: https://github.com/google-coral/tflite/blob/master/python/examples/classification/classify.py#L40-L41

The compiler should already take care of this for you :) When you compile the model and your i/o is still float, those ops wil automatically be on the

[2020-10-03 00:43] akssieg commented on #225
For the float Input/Output tflite model, I do the following:

[code]
The float model could be found at [https://drive.google.com/file/d/1LymgBrWkUbxKk1njQFagbiYYCB6_8AAN/view?usp=sharing](url).

And for the full integer quantized tflite model:

[code]

Fully quantized float model => [https://drive.google.com/file/d/1HHeNbsYQnyYwMODYsz-2sYmFp7XklBe_/view?usp=sharing](url).

@Namburger Sorry for ask

[2020-10-03 08:18] muka opened #227 "Error building posenet_decoder.so"
Hi, I am attempting to build the `posenet_decoder.so` to have `posenet` running on tflite on cpu as suggested in #127

I prepared a [bazel setup](https://github.com/muka/posenet-tflite-convert) in docker to compile the library but I am hitting some compilation errors.

[code]

Do you have any suggestion on why it is failing?

Thank you

[2020-10-04 04:45] muka commented on #227
After some more digging I ended up adding an include to `src/cpp/posenet/posenet_decoder_tflite_plugin.cc`

[code]

[2020-10-04 10:06] muka commented on #227
Ok I read better the issue in and the missing part is that the url referenced there are not found.
The new one are under `models/*/components`
https://github.com/google-coral/project-posenet/tree/master/models/mobilenet/components

Closing

[2020-10-04 10:06] #227 closed

[2020-10-04 21:59] Namburger commented on #227
@muka wait, what was your fix?

This build actually failed because we forgot this:
[code]
in `src/cpp/posenet/posenet_decoder_tflite_plugin.cc`

[2020-10-05 06:34] muka commented on #227
Hi @Namburger sorry I did all my self :D

I added to `src/cpp/posenet/posenet_decoder_tflite_plugin.cc`  the include to `interpreter.h` which resulted in a successful compilation.

My final goal is to have the `posenet` project to work both with TPU and with CPU in case the hardware is missing.

Reading in more detail #86 seems like I have to take a different model instead.

Thanks

[2020-10-05 12:20] kruftindustries opened #228 "DKMS gasket-dkms modules no longer build after upgrading kernel version > 5.7"
`  MODPOST 2 modules
ERROR: modpost: "__stack_chk_guard" [/var/lib/dkms/gasket/1.0/build/apex.ko] undefined!
ERROR: modpost: "__stack_chk_guard" [/var/lib/dkms/gasket/1.0/build/gasket.ko] undefined!
make[1]: *** [scripts/Makefile.modpost:99: __modpost] Error 1`

[2020-10-05 13:58] Namburger commented on #228
@kruftindustries hello, could you provide a little more details or steps to reproduce?

[2020-10-05 14:13] Namburger commented on #227
@muka I see, you can definitely run the non edgetpu models here with cpu: https://github.com/google-coral/edgetpu/tree/master/test_data/posenet
Just remember to register the posenet_decoder.so so you won't get the "unregister op" error

[2020-10-05 14:32] Namburger commented on #225
@akssieg It is actually our fault that the compiler is being flaky :) Hopefully we'll have less bugs on the next release, here is the models you requested:
https://drive.google.com/file/d/1OGyBGKDcvnHO_iHt7R8ANscSUdHwvxVa/view?usp=sharing

[2020-10-05 14:48] muka commented on #227
Thank you!

[2020-10-05 15:14] kruftindustries commented on #228
Sure. After upgrading the kernel (have not confirmed this is the cause of the problem but did reveal it) dkms fails to build gasket-dkms modules apex.ko and gasket.ko with the error message "__stack_chk_guard undefined!" this symbol seems to be related to the [stack smashing protector compiler feature](https://wiki.osdev.org/Stack_Smashing_Protector), I am not familiar with it.

System information

[2020-10-05 15:48] Namburger commented on #228
Hi @kruftindustries Ahh, I see, I believe this is due to a missing kernel configs for the stackguard.
I'm not sure how to turn this on for the Rockchip, but I suggest checking to see if these configs are turned on:
[code]

if not I suggest you change the defconfig to turn it on and recompiling the kernel

[2020-10-05 19:14] kruftindustries commented on #228
Configs look correct:

**cat /boot/config-5.8.13-rockchip64 | grep STACKPROTECTOR**

`CONFIG_CC_HAVE_STACKPROTECTOR_SYSREG=y
CONFIG_STACKPROTECTOR_PER_TASK=y
CONFIG_HAVE_STACKPROTECTOR=y
CONFIG_CC_HAS_STACKPROTECTOR_NONE=y
CONFIG_STACKPROTECTOR=y
CONFIG_STACKPROTECTOR_STRONG=y`

[2020-10-05 21:32] kruftindustries commented on #228
@Namburger any further suggestions?

[2020-10-06 17:31] Namburger commented on #228
@kruftindustries I see, could you try compiling the kernel again with out pcie source code in the kernel tree?
It is hosted here: https://coral.googlesource.com/linux-imx/+/refs/heads/dkms/drivers/staging/gasket

[2020-10-06 20:35] rhadnum opened #229 "unable to run tflite_runtime with libedgetpu on raspberry pi zero wh"
Hi,

Having some issues getting the edgetpu runtime to work with the tflite_runtime package on my raspberry pi zero (with the USB accelerator) - I'm new to all this and I've tried everything I can think of, can anyone help? Findings are below, many many thanks in advance.

[code]

Attempting using my own compiled tflite_runtime package following the steps specified here: https://github.com/google-

[2020-10-06 21:32] Namburger commented on #229
@rhadnum hello, couple you share the outputs of this:
[code]

[2020-10-06 21:40] rhadnum commented on #229
hi @Namburger, here you go:

[code]

[2020-10-06 21:43] Namburger commented on #229
The issue is that we no longer release binaries for armv6 as per [requirements](https://coral.ai/docs/accelerator/get-started/#requirements). So when trying to use the tflite_runtime package, it is throwing some illegal instruction because it wasn't built for that.
Just to ensure that you've built the right commit, could you also share this outputs?
[code]

[2020-10-06 21:51] rhadnum commented on #229
Ah right, that makes sense.

Weirdly it returns the below:
[code]
although I definitely remember running `git checkout d855adfc5a0195788bf5f92c3c7352e638aa1109` in the tensorflow repo route, am I doing something wrong here?

Regarding the LD_PRELOAD - if I don't specify that then it returns the below so not sure if I've compiled something wrong there:
[code]

[2020-10-06 22:00] Namburger commented on #229
Hope I'm not spamming or throwing too much info, but here is my suggestion:

1) As above, get your tflite_runtime package commit version (use one that doesn't cause your Illegal instruction issue, since that's an external dependencies that we can't control):
[code]

2) Build your own `libedgetpu.so` from this repo: https://github.com/google-coral/libedgetpu/
Make sure to change the commit [here](h

[2020-10-06 22:04] rhadnum commented on #229
Not spam at all, the more I can try the better! 😄

Brilliant yeah I never thought of building the edgetpu runtime myself, completely overlooked that.

This is more of a hobby project for me, curious to see what the performance improvements look like with the usb accelerator as without it's 0.07 fps (which is understandable considering the memory limitations of the RPI0).

Once again, many thanks f

[2020-10-07 00:23] rhadnum commented on #229
Managed to get it working on my raspberry pi zero now following the steps mentioned by @Namburger. Performance is still subpar which is to be expected but a definite increase in fps at around 0.7 / 0.8 (roughly 10x with the usb accelerator!)

[2020-10-07 00:23] #229 closed

[2020-10-07 06:00] xwyangjshb commented on #69
great job!

[2020-10-07 11:17] Namburger commented on #229
Awesome!

[2020-10-08 01:20] jbergler commented on #228
This seems like it might have a similar root cause to the problem I've been trying to debug in https://github.com/openzfs/zfs/issues/10985

Out of curiosity, can you check the gcc version that the kernel was built with vs the what toolchain you're running.
[code]

[2020-10-08 13:29] denissuh opened #230 "Difference between TFLite and USB Accelerator"
Hi,

I'm using Resnet18 from torchvision and doing inference on EdgeTPU.
In order to do so, I'm converting the model as following: Pytorch -> Onnx - > Keras -> TFLite -> EdgeTPU.
I compared the output of each step:

**torch predictions vs onnxruntime predictions**
	**max**: 5.7220458984375e-06
	**std**: 1.8011219253821764e-06
	**min**: -7.331371307373047e-06

**torch predictions vs keras predictio

[2020-10-08 13:35] kruftindustries commented on #228
**gcc --version**
[code]

[2020-10-08 13:59] Namburger commented on #228
@jbergler thanks for your inputs,
@kruftindustries it may be worth trying to build this again after upgrading gcc to 9.2.1

[2020-10-08 14:38] kruftindustries commented on #228
I noticed earlier my kernel source also has Apex and Gasket in the staging (Device Drivers > Staging drivers > Gasket devices). I will try building on the development machine after enabling with menuconfig.

[2020-10-08 16:18] Namburger commented on #230
Interesting, I'm not sure if we  ever tested this pipeline, there are a couple things I can think of here:

1) Model created from pytorch and then converts to keras -> tflite, I guess technically it's possible, but I imagine the implementation difference can play a role here.

2) This trick:
[code]
Again, I guess it's also technically do able, but I would definitely investigate this first. The exe

[2020-10-08 18:56] kruftindustries commented on #228
The build was successful and looks like there were no compilation errors. I ended up using the armbian tool to cross compile with gcc version 9.3.0(-17ubuntu1~20.04), enabled apex and gasket in menuconfig and upon booting the board I have /dev/apex_0

The new image has gcc version 9.3.0(-12ubuntu2) so I probably couldn't reproduce this issue without doing buildroot, however the reported issue with

[2020-10-08 18:56] #228 closed

[2020-10-08 19:48] Namburger commented on #228
@kruftindustries , but def thanks @jbergler for inputs!

[2020-10-10 01:56] Tetsujinfr opened #231 "Struggling to install the examples on a Jetson Xavier NX (ARM8) with Coral USB"
hi
I have the USB accelerator and I am trying to use it on the Xavier NX.

When I follow [those steps](https://coral.ai/docs/accelerator/get-started/#1a-on-linux), the final quick inference on the parrot picture works fine.

However, when following the steps to infer the other examples, I run into issues.
I am trying to run the semantic [segmentation example](https://github.com/google-coral/edgetp

[2020-10-11 21:05] Celt1967 opened #232 "Installing Mini PCIE EdgeTPU"
I have a Gigabyte Z370 Gaming 5 motherboard with Debian Buster 10 (AMD64).  I have used a wifi PCIE to Mini PCIE card to install the Mini PCIE EdgeTPU into the PCIE slot on my motherboard; but when i boot Debian the boot hangs with :

"watchdog: BUG Soft lockup - CPU#2 stuck for 23s! [swapper/0:1]
rcu ; INFO: rcu_sched detected stalls on CPUs/tasks:
rcu: o2-....: (1024 ticks this GP) idle=c3a/1/0x

[2020-10-12 14:37] denissuh commented on #230
1. Could you please explain why implementation difference can play a role here ? I understand that there is a difference between PyTorch and TensorFlow, but once I moved to the TensorFlow EcoSystem, why the EdgeTPU compiler creates a difference between *.tflite and *_edge.tflite models ?

2. Though I attached a windows code, the difference between the models exists in Linux too.

Quantized tflite

[2020-10-12 15:00] Namburger commented on #230
@denissuh
To be clear, 1 is just my speculation, since the edgetpu architecture is fundamentally different than a normal CPU, the compiler should be aware of a normal tflite model, however your pipeline is much different than what we expected.

For 2, I compiled your model on my linux with a more updated compiler version, could you test this?
[resnet18.tar.gz](https://github.com/google-coral/edget

[2020-10-12 15:04] Namburger commented on #231
Hello, the segmentation example here requires the python3-edgetpu package which we already built.
You should be able to use it after installing the `python3-edgetpu` package:
[code]

[2020-10-12 15:12] Namburger commented on #232
Hi @Celt1967
Could you share the outputs of these commands?
[code]

[2020-10-12 19:58] Celt1967 commented on #232
uname -a gives:
Linux DESKTOP-K297L6M 4.19.0-11-amd64 #1 SMP Debian 4.19.146-1 (2020-09-17) x86_64 GNU/Linux

The other commands are unknown.  I'm assuming they would not return anything of much help as i have to remove the PCIE card to allow Debian to boot and i have not installed the PCIE driver or apex.  I did on an earlier build with no changes.  The system would still hang with the soft lock

[2020-10-12 20:05] Namburger commented on #232
@Celt1967 oh,

We do provide the apex/gasket driver to interact with our pcie card, so if you haven't installed anything, it may actually be the issue.

[2020-10-12 22:06] Tetsujinfr commented on #231
ok thanks but I ad installed the python3-edgetpu already.
The problem seems that I need to build the python API to run the example no?

Here are the error messages when I try to run the semantic_segmentation, just with the python3-edgetpu package installed:

Seems I need to build the swig cpp python wrapper no?
Can I not build it on ARM8?? argh!

[2020-10-12 22:24] Celt1967 commented on #232
Though of that so i removed the card, installed the drivers etc as per the instructions and re-installed the card with the same effect ie. it hung with the soft lock.  I have installed the mini pcie card in my laptop which has a wifi mini pcie slot and it worked perfectly on Debian Buster.  I'm guessing its either an issue with my pcie slots on the motherboard (unlikely as everything else works e.

[2020-10-12 22:28] Celt1967 commented on #232
Here is the card i bought to convert the Mini PCIE to PCIE X1:
https://www.amazon.co.uk/fenvi-Wireless-Network-Converter-Broadcom/dp/B01K4EASPI

[2020-10-12 23:23] Tetsujinfr commented on #231
Ok so I sorted it out, that was an install issue!
Thanks to this [thread](https://github.com/f0cal/google-coral/issues/7) and this [thread](https://github.com/f0cal/google-coral/issues/13) I figured out what was wrong:
1) for whatever reason, the example program was trying to use some edgetpu python module which was installed locally under my user name space (user/.local/lib/python3.6/sites-packag

[2020-10-12 23:23] #231 closed

[2020-10-13 13:11] Namburger commented on #231
@Tetsujinfr apologies, we actually didn't expect this, may I ask what is your default python3 version?

[2020-10-13 13:25] Namburger commented on #232
@Celt1967 Interesting, I don't think we've ever tested any adapter board, but I believe there were success stories. May I know what motherboard you are using? Just wanted to make sure the slot you use actually supports pcie and not just for wifi

[2020-10-13 15:07] Celt1967 commented on #232
Its a Gigabyte Z370 Gaming 5 motherboard, link:  https://www.gigabyte.com/uk/Motherboard/Z370-AORUS-Gaming-5-rev-10#kf
Its has three PCIE x1 slots and three full length slots.  I have removed my graphics card and tried the adaptor in each slot with the same results.  The interesting fact is that Windows 10 will boot and i can see the card with the right hardware id in device manager.
I should have

[2020-10-14 06:47] JavierGSanchez commented on #225
Hi Namburger,

My Project is experiencing the same issue regarding the compiled tflite model having 0 Edge TPU subgraphs.  As we need the formfactor of the Pi Zero combined with an Edge TPU, we don't have another option and our project is completely blocked.

We look forward to your team's next release that will address this issue, but can you help us now by compiling our quantized tflite model li

[2020-10-14 14:14] Namburger commented on #229
@rhadnum hey I was wondering if you also built your own tflite_runtime package for 2.3.1? I have another user who is trying to work with the pi0 and this may helps

[2020-10-14 14:27] Namburger commented on #225
@JavierGSanchez sincerely apologize for this issue. As it turn out, even with our latest compiler, I can map everything to the edgetpu for the newest runtime version, but for runtime version 10
[second_part.tar.gz](https://github.com/google-coral/edgetpu/files/5378775/second_part.tar.gz)

Since libedgetpu and tflite_runtime are both open source, would you like to try with a  newer runtime version

[2020-10-14 15:27] rhadnum commented on #229
Hi @Namburger - yeah I did manage to build it but it took a while to do (and I don't quite remember how I did it 😄 )

All the .whl files that I tried can be found here (only the 2.3.1 one worked in the end for me): https://drive.google.com/drive/folders/1VtkKbpKnv9vHylQ62ekuGvyco2Jg9pQe?usp=sharing

To build the libedgetpu runtime I:
1. got the commit hash for this specific build by running:
[code

[2020-10-14 15:50] Namburger commented on #225
@JavierGSanchez See this answer for everything you need to get a very updated version of everything that works on a pi0!
Cheers!

[2020-10-14 15:51] Namburger commented on #229
@rhadnum thanks for the package, you're amazing!

[2020-10-14 20:55] JavierGSanchez commented on #225
Hi @Namburger, this is invaluable information and we'll be working on this today as moving to the latest version of the runtime is perfect for our project.

Just to confirm, you are recommending that we cross-compile both the tflite_runtime (or use rhadnum's wheels) and the libedgetpu.so for the armv6 arch per you instructions on #229 (comment)?

[2020-10-14 21:08] Namburger commented on #225
@JavierGSanchez Hello!
I definitely suggest using rhadnum's wheel (2.3.1) as he is nice enough to to provide it and we know for sure his wheel is working, then compile `libedgetpu.so` using my instruction.

Unfortunately, you'll still need to use the compiler, but you can use the latest runtime as opposed to the runtime version 10.

[2020-10-14 21:10] JavierGSanchez commented on #225
Perfect!  Will do!

[2020-10-15 16:19] alan303138 commented on #210
How can i retrain my own data using Efficientnet-edgetpu ?

[2020-10-15 17:35] Namburger commented on #210
@alan303138 I believe this flag can be flipped: https://github.com/tensorflow/tpu/blob/master/models/official/efficientnet/main.py#L43
Althoughyou may get a more appropriate answer here: https://github.com/tensorflow/tpu/issues

[2020-10-16 10:22] kavinkumar912000 opened #233 "Error: device wlan0 is not a wifi device"
Problem : I have 2 Coral Dev Boards . I followed the Installation Procedure and successfully setup Coral Dev Board .  I could connect through the WiFi interface (wlan0) and everything was going ok .Then suddenly wlan0 disappears from the ifconfig(in fact, ifconfig only displays eth0 and lo). Moreover, Ifconfig wlan0 up returns that there's no such device. I decided to reflash the os. But, I got th

[2020-10-16 13:42] Namburger commented on #233
Hello, this seems like a HW issue, I saw that you've already submit an issue in our email, will response to you there

[2020-10-16 13:42] #233 closed

[2020-10-16 15:36] kavinkumar912000 commented on #233
will i use this below mentioned wifi adapter to solve this problem?
[https://www.amazon.in/TP-Link-TL-WN725N-150Mbps-Wireless-Adapter/dp/B008IFXQFU](url)

[2020-10-16 15:42] Namburger commented on #233
@kavinkumar912000 I think the issue is with the dev board and that should be address, I've responded to you email, did you get it?

[2020-10-18 18:04] JamilHaidar opened #234 "Can not connect to mdt and ssh. Not visible on fastboot."
I have been using the Google Coral Devboard in a project for a while.
Today, I am surprised to see that using ssh does not work. Something went wrong somewhere.
ssh mendel@192.168.0.111 gives
ssh: connect to host 192.168.0.111 port 22: Connection refused

I have checked the authorized_keys file and my own private keys and they match.

I can only connect to the devboard using Serial communication.

[2020-10-18 20:24] JamilHaidar opened #235 "Cannot Access Latest Mendel 5.0 Serial Console"
After following the Google Devboard Getting started guide, I finally flashed the devboard with the latest enterprise-eagle-20200724205123 Mendel 5.0 OS. However, when accessing it from the console, I get this:
[code]
`mdt devices` does not recognize the board too.
How do I fix this?

[2020-10-19 13:35] Namburger commented on #235
@JamilHaidar Looks like something went wrong during flash, could you try reflashing it again? with [these instructions](https://coral.ai/docs/dev-board/reflash/#flash-a-new-system-image)?

[2020-10-19 13:39] Namburger commented on #234
@JamilHaidar That' odd, it maybe because the board disconnection from the network.
For the ssh/mdt issue, can you share this outputs:
[code]
Regarding fastboot issue, what if you try to initiate fastboot with an [sdcard like this](https://coral.ai/docs/dev-board/reflash/#flash-from-u-boot-on-an-sd-card)?

[2020-10-20 00:59] tbec opened #236 "Provide Schematic for Environmental Sensor Board"
Is the actual schematic for the [Coral Environmental Sensor Board](https://coral.ai/docs/enviro-board/datasheet/) available to download? I would like more specific information than what is listed on the site.

[2020-10-20 02:49] YijinLiu opened #237 "USB accelerator stops working after the second process tries to use it."
The first process crashes with "HandleQueuedBulkIn transfer in failed. Not found: USB transfer error 5 [LibUsbDataInCallback]"
The LED on the accelerator flashes when this happens. I have to unplug and plug it to make it work again.
Is there any way to avoid this? For example, fail the second process instead of crashing the first one and refuse to work any more.

[2020-10-20 07:31] fandahao17 opened #238 "Compiler complains 'Model not quantized' on quantization-aware trained models"
Hi, there!

I'm trying to port MobileBERT to EdgeTPU. It's 26MB after quantization (originally 96MB), so I guess I may be able to run it on 4~5 EdgeTPUs. However, the `edgetpu_compiler` reports `Model not quantized` on my quantized model.

This is how I converted the model:

[code]

I downloaded the model [here](https://github.com/google-research/google-research/tree/master/mobilebert#pre-trained-

[2020-10-20 13:10] Namburger commented on #236
@tbec Unfortunately the schematic for it is not available, are there any details that you'd like to have added?

[2020-10-20 13:16] Namburger commented on #237
@YijinLiu May I ask what were you running when this happens and any code to reproduce?

[2020-10-20 14:34] Namburger commented on #238
@fandahao17
I don't know too much about mobilebert (or bert) so I can't immediately tell if it would be fully supports, unfortunately.
Also, I guess the FakeQuant does indicates quant aware training but I still see int32 and float ops, could you give post training quantization a go?

[2020-10-20 14:43] denissuh commented on #230
Hi,

- My project has a more complicated pipeline, thus unfortunately I cannot use tf.keras.applications.ResNet50 at the moment.

- Unfortunately, the difference between tflite and EdgeTPU still exists with the model that you've compiled.
I wondering if it can be a hardware issue. Is there a chance you could check the models with your USB Accelerator ?

- Another related issue, I found that the la

[2020-10-20 14:46] denissuh commented on #230
Hi,

- My project has a more complicated pipeline, thus unfortunately I cannot use tf.keras.applications.ResNet50 at the moment.

- Unfortunately, the difference between tflite and EdgeTPU still exists with the model that you've compiled.
I wondering if it can be a hardware issue. Is there a chance you could check the models with your USB Accelerator ?

- Another related issue, I found that the la

[2020-10-20 19:59] Namburger commented on #232
@Celt1967 I don't want to say that this is the case, I know we had success story in the past with it but I can't quite remember what adapter :/

[2020-10-21 02:24] YijinLiu commented on #237
I run it on ubuntu 18.04.5/5.4.0-51-generic
The code is here https://github.com/YijinLiu/tf-cpu/blob/master/benchmark/classify_lite.cc
Thanks!

[2020-10-21 08:41] alexanderfrey commented on #217
@Namburger Very much waiting towards the new version ! Is there any eta ?

[2020-10-21 08:50] alexanderfrey opened #239 "How to run several m2/pcie TPU modules in parallel"
Hi,

I'm facing the problem to run 3 models on 3 different m2/pcie TPU modules. I'm loading the models with the tflite api:

`Interpreter(model_path=model_path,
                                            experimental_delegates=[load_delegate('libedgetpu.so.1.0', {})])`

The question I have is how can I specify the m2 module for each model ? With the usb TPU dongle I have the option to pass this s

[2020-10-21 08:57] alexanderfrey commented on #239
Found the answer here: https://coral.ai/docs/edgetpu/multiple-edgetpu/#using-the-tensorflow-lite-python-api

[2020-10-21 08:57] #239 closed

[2020-10-21 10:57] Celt1967 commented on #232
@Namburger another update:  i had an old motherboard and CPU laying around so built a quick test rig and installed Debian Buster AMD64 and the adaptor cards work fine.  So on my Z370 motherboard with the same Debian build it will fail to boot at all.  I'm beginning to wonder if there is a setting in BIOS i could change or if there is some sort changes i need to make to the way Debian boots ?

[2020-10-21 13:34] Namburger commented on #239
yep! For future reference for others:
`{"devide":"apex:0"}`

[2020-10-21 13:39] Namburger commented on #237
@YijinLiu Oh wait, sorry, I just realized that you said there was a second process trying to use it on the title, this is expected behavior. The linux kernel doesn't allow multiple processes trying to access the same usb resource, I believe this happens due to libusb and it's not something we can fix with libedgetpu. In the same fashion, this is also why we can't allow multi threading on the same

[2020-10-21 16:04] Namburger commented on #232
@Celt1967 I guess something we should look into is the full dmesg, could you attach that here?

[2020-10-22 11:03] fandahao17 commented on #238
Thanks for your rapid reply!

I inspected the converted .tflite file and found that it indeed isn't fully quantized. Thus, I guess it's a MobileBERT or tflite issue. Thanks!

[2020-10-22 11:03] #238 closed

[2020-10-22 12:03] blazekadam opened #240 "Will you make the compiler open source?"
If yes, when?

[2020-10-22 13:34] Namburger commented on #240
@blazekadam good question, I believe it is in the road map but I'm not sure what's the timeline for that will be!
Let me check with our team and will let you know!

[2020-10-22 18:27] sim-kelly commented on #229
Hi @rhadnum
Just wondering how you got the full hash of the tflite_runtime from the SHA? (perhaps I'm missing what git directory I'm supposed to me in)

[2020-10-22 18:40] Namburger commented on #229
@sim-kelly I think after having the SHORT_HASH, you can use `git rev-parse SHORT_HASH`

[2020-10-23 14:05] #77 closed

[2020-10-23 14:10] #222 closed

[2020-10-23 14:10] #202 closed

[2020-10-23 14:10] #237 closed

[2020-10-23 14:10] JamilHaidar commented on #234
It would seem like the issue was simply a connection problem. I fixed it and re-flashed the google coral. One note of advice, do not try Windows, it's not worth the hassle of getting all drivers and connections set up. Instead, just run a bootable Linux image and do all initial setup there. Switch to Windows and append your ssh key to gain access.

[2020-10-23 14:10] #234 closed

[2020-10-23 14:12] Namburger commented on #234
LOL yes, we do not recommend window, glad you fixed it!

[2020-10-23 14:12] JamilHaidar commented on #235
@Namburger I tried that and still got the same issue. I downgraded to Mendel 4.0 and that fixed it. Not really sure why that happened.

[2020-10-23 14:12] #235 closed

[2020-10-23 14:16] #226 closed

[2020-10-23 14:17] #223 closed

[2020-10-23 14:17] #216 closed

[2020-10-23 14:18] Namburger commented on #217
@alexanderfrey I have no ETA, so sorry :(
we're having tons of roadblock, expect some library changes very soon though

[2020-10-23 14:19] #208 closed

[2020-10-23 19:54] Celt1967 commented on #232
@Namburger It does not create a dmesg log.  The boot stops on the flash screen that says loading ramdisk.....

[2020-10-23 21:25] salonit opened #241 "Internal Compiler Error with InceptionResnetV2"
Hi I have created a classifier with Keras's InceptionResnetV2 and getting the following error:

Edge TPU Compiler version 14.1.317412892

Internal compiler error. Aborting!

When I trained the model with a smaller subset of the same dataset I am being able to successfully compile the model whereas when the model is trained with whole dataset it gives the above error.. Any help would be appreciated

[2020-10-23 21:38] Namburger commented on #241
@salonit Hello, so the only difference between the too model is the training dataset? No changes to the architecture?
Could you attach both models here?

[2020-10-23 23:27] salonit commented on #241
Yes @Namburger the only difference between the two models is the training dataset and no changes to the architecture

These are the links to the models:
[model1](https://drive.google.com/file/d/1S6DqmT4gxkk2rkpzcVoBGKC-XEepPhG6/view?usp=sharing)
[model2](https://drive.google.com/file/d/1QObOGNfHUQfLIkKJeiDLCaNdObcGeCh4/view?usp=sharing)

[2020-10-24 00:53] YijinLiu commented on #237
I understand that part. However, can you add a global lock or sth. like that to make it's the second process fail instead of crashing the first one? Just sth. like when you run apt.

[2020-10-25 18:33] ludgerh commented on #211
This is very similar to what prashant45 found:
`ludger@debian-laptop:~/temp$ edgetpu_compiler cam-ai_model_quant.tflite
Edge TPU Compiler version 14.1.317412892

Internal compiler error. Aborting!
ludger@debian-laptop:~/temp$ edgetpu_compiler cam-ai_model_quant.tflite
Edge TPU Compiler version 14.1.317412892

Internal compiler error. Aborting!
ludger@debian-laptop:~/temp$ edgetpu_compiler cam-ai_m

[2020-10-25 18:39] ludgerh commented on #211
[model.zip](https://github.com/google-coral/edgetpu/files/5435647/model.zip)
Here is my model. Would it make sense to wait for the next compiler version?

[2020-10-26 13:23] Namburger commented on #241
@Naveen-Dodda could you take a look?

[2020-10-26 20:34] sim-kelly commented on #229
OK - thanks so much for the help with this!!
So I think I'm just missing something in following this.
I have installed the specific .whl that @rhadnum linked (I now have 2.3.1 tflite_runtime).
When I get the short hash, following the instructions, I do not follow which .git directory (if any, and on what machine (the armv6 or x86_64) I should be in to run the following command

`git rev-parse SHOR

[2020-10-26 20:38] Namburger commented on #229
Oh, so after installing tflite_runtime 2.3.1, you need to run this:
[code]
That give you the SHORT_HASH, then you can run git rev-parse to get the full hash

[2020-10-26 22:23] sim-kelly commented on #229
Yes - I have the short hash, but I cannot run the git rev-parse from the root directory?? (and I dont know which directory I should be in as I installed the .whl without touching git)

[2020-10-27 08:39] ludgerh commented on #241
I have done extensive testing of compilation with many trained models from keras.applications, all used headless combined with my own two connection layers on the top. I found that:

- Small models are very likely to go through nicely. Off course, with low quality of results.
- Very large models (like NASNet large for example) never make it.
- Moderate size models (like InceptionResnetV2) are bein

[2020-10-27 12:30] Namburger commented on #229
@sim-kelly so `git rev-parse` should works anywhere that you have git installed :)

Right, I forgot you need to change that too.

Now that you have it compiled, you can move the new `libedgetpu.so` to `/usr/lib/arm-linux-gnueabihf`. If the commits I sent is correct then everything should works!

[2020-10-27 12:51] ludgerh commented on #241
...I have to correct a part of what I wrote before: My slightly modified InceptionResnetV2 trains nicely, converts nicely, quantizes nicely and compiles nicely. But:
When trying to instantiate an Interpreter, I get:
[code]
The code to reproduce:
[code]
 If I am right, I now hit issue #74 . Correct?

[2020-10-27 13:11] ludgerh commented on #241
Here is my model before compiling (Upload did not work because of Size):
[cam-ai.de/InceptionResNetV2.zip](url)

[2020-10-27 14:57] ludgerh commented on #241
It gets more interesting every minute. With repeated attempts to compile this quantized model I get either
- Nothing. Just the error message @salonit mentioned before.
- A converted file, 5 times the size of the original, that will not initiate an tflite interpreter.
- A proper, working model for the edge TPU
Maybe it is better to put the edge TPU back into the box and wait for the compiler update

[2020-10-27 16:06] ofeknesher2 opened #242 "Operation Not Supported: TRANSPOSE"
after converting a custom model from Pytorch to tflite ( Pytorch -> ONNX -> savedModel -> tflite).
the converter added transpose nodes to overcome nhwc only support and now when compiling the tflite with edge tpu compiler 14, the compiler stop mapping to tpu after the first transpose (which is after the input node) due to Unsupported operation,

Edge TPU Compiler version 14.1.317412892
.
.
.
Opera

[2020-10-27 16:09] ofeknesher2 commented on #193
+1

[2020-10-27 16:48] Namburger commented on #193
Hi guys, I do have a feature request opened for this internally, will keep update if we move forward with it.

[2020-10-27 16:48] Namburger commented on #242
Let's keep track of this via https://github.com/google-coral/edgetpu/issues/193

[2020-10-27 16:48] #242 closed

[2020-10-27 21:23] Naveen-Dodda commented on #230
Hello Denis,

There are no such constraints while building a model for edgetpu . I am attaching a new compiled model, could you check if predictions are still different with this model. Its interesting to know that Can you share us both .tflite models with and without batch norm ?

[resnet18_edgetpu.tar.gz](https://github.com/google-coral/edgetpu/files/5448162/resnet18_edgetpu.tar.gz)

Thanks

[2020-10-27 21:30] alexanderfrey opened #243 "Running co-compiled models on one USB TPU"
Hi,

maybe I am not seeing the obvious but nowhere in the doc for co-compiling it is stated on how to run those n models on the same TPU, or is it ?

https://coral.ai/docs/edgetpu/compiler/#co-compiling-multiple-models
https://coral.ai/docs/edgetpu/multiple-edgetpu/#using-the-tensorflow-lite-python-api

The thing is that I tried to specify the same device for both models like this:

`interpreter_1

[2020-10-28 02:20] Namburger commented on #243
@alexanderfrey it really should works, does it fails with some error messages? Although if you;re just using the same tpu, there isn't a need to specify the `{"device": "usb:0"}` part. Here is how I'd do it on my dev board:
[code]

[2020-10-28 07:41] alexanderfrey commented on #243
Thanks a lot - yes leaving out the device part seems to do the trick.

Best,Alexander

ps Really looking forward to the new software release and any updates in general !!

[2020-10-28 07:41] #243 closed

[2020-10-28 11:03] Namburger commented on #243
Expect it next week or week after :)
There's going to be quite changes, particularly you'll get to use a newer version of tensorflow, which I feel would benefits many.

[2020-10-28 20:40] #25 closed

[2020-10-29 12:13] ofeknesher2 commented on #193
For any one face this issue
by converting pytorch to **keras** (not tensorflow) i was able to fully convert my model to NHWC and by that avoiding the TRANSPOE nodes, edge tpu comile was able to map all operations to TPU  (:

[2020-10-29 13:44] Namburger commented on #232
@Celt1967 wait I just realized that the answer you put here: https://github.com/google-coral/edgetpu/issues/232#issuecomment-707375405
Is for your laptop, we kind of need to know that your Desktop have the same apex/gasket driver

[2020-10-29 13:47] Namburger commented on #215
@pkitszel kindly resync the repo and build again we have made some recent changes that fixed some issues, sorry I forgot to get back to you earlier :)

[2020-10-29 13:47] #215 closed

[2020-10-29 13:49] Namburger commented on #185
@ppershing it isn't just the model size, the input size for each layer also matter. It is an issue with limited ram in the tpu, unfortunately

[2020-10-29 16:21] Celt1967 commented on #232
Hiya, below are the commands on my Desktop:

modinfo gasket
filename:       /lib/modules/4.19.0-12-amd64/updates/dkms/gasket.ko
author:         Rob Springer <rspringer@google.com>
license:        GPL v2
version:        1.1.3
description:    Google Gasket driver framework
srcversion:     EE63B2D1E7E5BEBAF51CEE1
depends:
retpoline:      Y
name:           gasket
vermagic:       4.19.0-12-amd64 SMP mo

[2020-10-29 21:19] cliffjao commented on #99
I came across this issue as well. For me, it turned out that the included USB cable is somehow bad. I switched it with another one that I had lying around, and it seems to be a lot more stable now. Haven't ran into this problem so far.

[2020-10-30 19:02] PushkarChatterji opened #244 "Complier error with ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03"
Hi,

I have retrained the ssd_mobilenet_v1_fpn_shared_box_predictor_640x640_coco14_sync_2018_07_03 model on my own dataset using tf 1.15 and converted it to tflite to run it on the Coral using export_tflite_ssd_graph.py in the object detection API.

When I use toco I get this error:

`Edge TPU Compiler version 14.1.317412892
ERROR: :83 input->params.zero_point != output->params.zero_point (113 !=

[2020-10-30 21:34] usbguru commented on #190
Hi Peter,
Please continue to open new issues when you run into the internal compiler error.  We can test your model and see if this is something our compiler team is already working on, and perhaps give you a work-around.

[2020-10-30 21:34] #190 closed

[2020-10-30 21:44] tbec commented on #236
I apologize for not responding earlier. Can you elaborate on the ADC? It is not explained in the datasheet.

[2020-10-30 23:42] usbguru commented on #236
Hi Tom,
We are using the TLA2021IRUGT ADC.

https://www.ti.com/store/ti/en/p/product/?p=TLA2021IRUGT

What information are you looking for?

[2020-10-31 07:51] trungnguyensju commented on #189
I got the same problem! Have no clue yet. If you have any update, could you please post it here. Thank you.

[2020-10-31 07:53] trungnguyensju commented on #244
I got the same problem. Would highly appreciate any help! Thank you.

[2020-10-31 08:00] trungnguyensju commented on #210
I use ssd_mobilenet_v2_quantized_300x300_coco_2019_01_03 for transfer learning. The final model can't detect any objects. I've checked the "detection_scores" and figured out that all the scores are really small (just around .20 for highest scores). Any idea on this would be highly appreciated. Thank you!

[2020-10-31 08:12] trungnguyensju commented on #173
Could you please help me to compile this? I've tried many time but kept getting the same error. Thank you!
[tqn_quantized.tflite.zip](https://github.com/google-coral/edgetpu/files/5468755/tqn_quantized.tflite.zip)

[2020-10-31 11:00] Namburger commented on #210
@trungnguyensju do you mind attaching your entire pipeline?

[2020-10-31 22:46] YijinLiu commented on #191
I am experiencing a similar issue.
I trained a ssd mobilenetv2 model using research/object_detection/model_main.py.
The tflite model works fine on CPU. However the edgetpu version produces much worse results.
I used the following command to convert to tflite:
tflite_convert --graph_def_file=tflite_graph.pb --output_file=detect.tflite \
             --input_shapes=1,300,300,3 --input_arrays=normali

[2020-11-01 09:59] YijinLiu commented on #191
OK, I found the issue.
<pre>
image = image / 255.
</pre>
should be
<pre>
image = image / 255. - 0.5
</pre>

[2020-11-02 03:33] LINYOUWEI0804 commented on #213
Hello, this is the model I recently trained. After quantification, the size should be 1/4 smaller, but mine is 1/10 smaller. Is this normal?

![h5大小](https://user-images.githubusercontent.com/58504153/97827394-26e96400-1cff-11eb-9eb9-0b646cd71a91.png)

![tflite](https://user-images.githubusercontent.com/58504153/97827384-1fc25600-1cff-11eb-8513-b684f323fb21.png)

[2020-11-02 11:39] ludgerh commented on #241
This fix works for me and my keras-model based on inception_resnet_v2. 100 % so far...
[code]

[2020-11-02 16:07] usbguru commented on #101
@najiji
There are no published articles yet about power consumption vs. performance.  Yours could be the first!

@Inesteem
The edge TPU architecture is significantly different from the 2017-tpu-v1 design.  There are no performance counters.   You can make some rough estimates by the difference between the initial and secondary inferences to calculate the transfer time.  Then compare that against t

[2020-11-02 16:07] #101 closed

[2020-11-02 16:12] #209 closed

[2020-11-02 16:24] usbguru commented on #41
@jk78346
There is no formal TOPs tool at this time.   To make a rough estimate, you can run an inference several times to measure the loading time vs. inference time.  Then compare that against the inference time of models with different sizes.  Use a neural network visualization tool to see how many operations of what size are done on the model, and you can estimate the number of operations that

[2020-11-02 16:24] #41 closed

[2020-11-02 16:27] tbec commented on #236
I was just looking for the name of the ADC, as I do not see it listed in the datasheet. Can this info be added to the datasheet? Would you like me to open a new issue?

[2020-11-02 18:19] Naveen-Dodda commented on #241
Please reopen if you have more issues.

[2020-11-02 18:19] #241 closed

[2020-11-02 18:30] JoshuaABarnett commented on #232
Hi,

I am also having issues with the Mini PCIE EdgeTPU and that same adapter in my setup. Maybe more information will help?

I have the mini PCIE accelerator plugged into an FV-101 mini PCIE to PCIE 1x adapter which is plugged into a PCIE x1 slot in my motherboard.  My motherboard is the Gigabyte Ultra Z390, my cpu is an i7-9700k @3.60Hz. The gpu is the Radeon Vega 56, the power supply is the COR

[2020-11-02 18:40] Naveen-Dodda commented on #244
Hello Pushkar,

This is not a generic issue, description the error is missing details to reproduce the issue. Can you please share following details to reproduce the issue.

1. Source of checkpoints and pipeline
2. How did you qunatize the model ?
3. have you tried to use /export_tflite_graph_tf2.py

Thanks

[2020-11-02 18:57] Naveen-Dodda commented on #189
Hello,

This a very generic error from the compiler. We valued your feedback and shared it. Team is working on it to share more detailed error msg.

@trungnguyensju  could you attach your model as well.

Thanks

[2020-11-02 21:29] usbguru commented on #240
@blazekadam
There is no schedule to release the compiler as open source.   Is there a new feature you wish to add, or some new application that we have not thought of?

[2020-11-02 21:33] usbguru commented on #236
Thanks.

That is a good suggestion.   I will pass it along to our documentation team.

[2020-11-02 21:33] #236 closed

[2020-11-03 03:33] LINYOUWEI0804 opened #245 "Size problem after model quantification"
I used keras to train a cat and dog identification model. The size of the cat and dog identification model was 80.0Mb. Then I used tensorflow Post-training integer quantization to quantize to INT8. The model size was 8.2MB. Finally, it was compiled into edgetpu.

Excuse me, if float32 is quantized to INT8, it should be reduced to 1/4, but mine is reduced to 1/10. What is the reason for this?

My m

[2020-11-03 11:33] PushkarChatterji commented on #244
Hi Naveen,

Thanks for your attention.

1. Source of checkpoints and pipeline: tf1 model zoo
2. I have run a quantized aware training
3. No. Since this is a tf1 model.

Let me know if you need any more details.

Thanks

[2020-11-04 10:08] hamhochoi opened #246 "Does tflite_runtime support multiprocessing?"
Hi,

Currently I want to speedup my code run yolov3-tiny for object detection on TPU by using ```multiprocessing``` or ```multithreading``` in python.

As I tried ```multithreaing```, the performance when running more threads is worst than single thread. I also tried to use ```multiprocessing Pool``` but the code stop right before function call ```interpreter.invoke()```.

Have anyone had tried to

[2020-11-04 17:29] jolloqui opened #247 "Fastboot cannot find devices."
I am following the dev-board installation manual and I am not able to see the device in fastboot devices. I have tried with five different USB C cables, with various versions of fastboot (now I have 30.0.5). I have two Coral dev-board boards and it only happens to me on one. What can I do?

[2020-11-04 17:44] usbguru commented on #246
Hi @hamhochoi,
Python multiprocessing is hard to do with Tensorflow.  You can find some ideas here: https://stackoverflow.com/questions/36610290/tensorflow-and-multiprocessing-passing-sessions

If you have more than one edge TPU, you can pipeline the ML to speed up the inference time: https://coral.ai/docs/edgetpu/pipeline/

When TFlite runs on a CPU, it might be an advantage to run a number of th

[2020-11-04 17:44] #246 closed

[2020-11-05 03:03] manoj7410 commented on #247
@jolloqui Which operating system are you working with and which version ?

[2020-11-05 11:52] jolloqui commented on #247
On the host I have Ubuntu 20.04.

[2020-11-05 21:13] Namburger commented on #247
@jolloqui Could you try reflashing the board again using the sdcard method?
https://coral.ai/docs/dev-board/reflash/#flash-from-u-boot-on-an-sd-card

[2020-11-05 21:20] Namburger commented on #245
@LINYOUWEI0804 I believe there's more in quantization than just the size of the tensors. Particularly, the format of the file goes from `model.pb` which is a protocol buffer to `.tflite` which is a flatbuffer format.
I wouldn't expect this to be a real issue unless you are actually spotting something.
Anyhow, our team only works with the edgetpu API and compiler, so I would open issue at [tensorfl

[2020-11-05 21:20] #245 closed

[2020-11-05 21:52] #240 closed

[2020-11-05 22:21] Celt1967 commented on #232
@Namburger Just a little more info:  Tried a different adaptor card with the same result.  Installed same Debian distro on a different motherboard and CPU etc and it works fine.  Works fine in my laptop with Debian 10.  Tried with just the adaptor card with no TPU and it works.  Placed a wireless Mini PCIE card, just as a test,  in the adaptor card and that works.  So the only combination that doe

[2020-11-05 22:24] Namburger commented on #232
@Celt1967 I'm actually not sure as to what could happens and this is especially hard without dmesg :/

[2020-11-05 22:27] Celt1967 commented on #232
@Namburger Bit of a novice with all of this as you can probably tell, but is there a way to force Linux to provide more debug into at startup and its is loading the Ramdisk ?  If it reported to the terminal at least i could take a photo.

[2020-11-05 23:47] Namburger commented on #232
@Celt1967
When window booted, are you actually able to use the edgetpu or did it just boot?
A team mate asked if you would like to give [this card](https://www.amazon.com/Ableconn-PEX-MP117-Mini-PCI-Adapter/dp/B07JBCL1CJ) a try instead? The card you sent is only certified for wifi and we have success stories from the other card

[2020-11-06 00:53] mitchross commented on #188
@Namburger any update?

[2020-11-06 00:54] JoshuaABarnett commented on #232
@Namburger I got it working with the adapter you just posted, the Ableconn PEX-MP117 Mini PCI-E to PCI-E Adapter Card. Boot, sleep, restart etc work fine. I tested the edgetpu with the get started example and it worked. After following the setup instructions, I was able to get the reductions in inference time on the TPU for the test model. I am now convinced it was the adapter.

[2020-11-06 04:20] Namburger commented on #188
Unfortunately, no :(
We just haven't got a chance to support other languages at this time as we're going through tons of refactoring and will have a new release soon

[2020-11-06 09:11] jolloqui commented on #247
Yes, I have tried it, but when launching "fastboot devices" it still comes out empty.

[2020-11-06 09:20] ludgerh commented on #211
For me it looks like this is fixed with compiler version 15.0.340273435...

[2020-11-06 11:30] Namburger commented on #211
Hey, sorry I was out of town, we just had a release, please try compiling again!

[2020-11-06 12:12] ludgerh commented on #211
Thank you guys, you fixed it. Compiler Version 15.0

[2020-11-06 14:58] mitchross commented on #188
@Namburger Can you share whats going on in this refactor?

[2020-11-06 15:20] hamhochoi commented on #246
Thanks for your respond. I'll try your links.

[2020-11-06 16:40] Namburger commented on #188
@mitchross Please take a look at [libcoral](https://github.com/google-coral/libcoral) and [pycoral](https://github.com/google-coral/pycoral), we'll soon deprecate this repo. It won't affects you if you are using tflite_runtime, we've also released a newer version of libedgetpu and the compiler. Watch out for our [release](https://coral.ai/news#releases) updates, there will be news soon.

Unfortuna

[2020-11-06 16:59] Rariusz opened #248 "Convert Tensorflow model to TFLite model - problem with boxes after quantization"
Since this is my first post, congratulations on the project! Good job ! I have seen in the repository that there are many tensorflow models available for the coral device. I assume the authors are experts in this field. I want to covert tensorflow to TFLite. After a few tries and help, I got to the point where I do discretization, but I have a problem with boxes. Everything is described here https

[2020-11-06 17:05] Namburger commented on #248
@Rariusz ahh, we actually do have issues with accuracy from the OD API with tensorflow2.x, we are actively working on this currently. I suggest that you check out the tensorflow 1.x OD API for now.
@Naveen-Dodda maybe you have some more info on the tf2.x OD API integration?

[2020-11-06 17:10] Namburger commented on #248
@Rariusz Just took a look at your config, I'm not sure if tf2.x supports quantization aware training for OD yet, but could you try adding this to the config?
[code]
With this you won't need to perform post training quantization.
tagging @usbguru as it is a good one for you to follow :)

[EDIT] ahh, scratch that, it looks like you are just quantizing an existing model as opposed to retraining it

[2020-11-06 17:26] Rariusz commented on #248
@Namburger Thank you for your answer!!!. I am retraining it but for now, I want to prepare the code based on the ready model. I am trying to train the model, do conversions for almost two months. There is a lot of models in the repository after discretization. How was it done? I try and try and try and every time there is a problem with something. As you can see in my post on tensorflow, I am clos

[2020-11-06 17:44] Namburger commented on #248
@Rariusz I have here an end to end pipeline colab that may help as it gives you the exact steps: https://github.com/Namburger/edgetpu-ssdlite-mobiledet-retrain

[2020-11-06 19:00] gdj0nes opened #249 "Better Notice for Breaking Changes"
I might not be going to the right place for information regarding deprecation and new releases but it was concerning to have all of my builds suddenly failing last night without notice because of the latest library changes.

[2020-11-06 19:48] Rariusz commented on #248
@Namburger  I add
[code]
to config and we will see. Then I wil try Tensorflow 1.15. However, it is a bit strange that such a problem is with boxes after quantization

[2020-11-06 20:55] usbguru commented on #249
Hi Gareth,
What specifically broke?  Which hardware?  Are any of the public examples breaking for you?

[2020-11-06 21:03] gdj0nes commented on #249
We had issues with debian package installation due to changes in `libedgetpu1-std` and `python3-edgetpu`

[2020-11-06 21:50] Namburger commented on #249
@gdj0nes Apologies, here is the release, we just deprecated `python3-edgetpu` in favor of pycoral and libcoral. Although python3-edgetpu should still works if you didn't update `libedgetpu`. Our long term goal is to eventually continuous integration with better way to communicates about releases.

[2020-11-06 21:54] Namburger commented on #248
@Rariusz with that config added, the training will be aware of quantization, meaning you won't need to quantized the model again after it is done training so your tflite model may get very similar outputs from your graph model.

Yes, it is. But as I mentioned, we are aware that there are issues with tf2.x and this is one of the issues that we are trying to tackle.

[2020-11-06 22:10] Namburger commented on #247
@jolloqui humm
Can you share the outputs of `lsusb` on the dev board?
Also, one thing to try, instead of `mdt reboot-bootloader` could you try connecting to the board over serial console using the `screen /dev/ttyUSB[board-id]` and then reboot the board, within the first few seconds, tap any keys to enter uboot and then type "fastboot 0"

[2020-11-06 22:37] gdj0nes commented on #249
I'm a little confused about the versioning with tflite-runtime too. How does a tflite-runtime release relate to the underlying Tensorflow version the model was created with. We've seen how important this given issues with Bilinear size operation between 2.2 and 2.3.

[2020-11-06 22:39] Namburger commented on #249
@gdj0nes It is because `libedgetpu.so` depends on tensorflow, so we don't want to have users using a `tflite_runtime` version that was build on a different commits than `libedgetpu` which can have code changes that causes undefined behaviors

[2020-11-06 22:42] gdj0nes commented on #249
Ok so the `libedgetpu.so`  and `tflite-runtime` are both built on which tensorflow version? The naming would imply version `2.5.0`

[2020-11-06 22:53] Namburger commented on #249
@gdj0nes this commit: https://github.com/google-coral/libcoral/blob/master/WORKSPACE#L18

[2020-11-06 23:01] gdj0nes commented on #249
So should be developing models by building off specific tf commits and not stable releases?

[2020-11-06 23:09] Namburger commented on #249
You should be able to develop models on the latest release on most cases, however there maybe features missing on our runtime in some rare instances :/

[2020-11-06 23:12] gdj0nes commented on #249
I feel like a lot of this would be simplified from a communication standpoint if the tflite version just matched the previous tf version with a suffix indicating the intermediate commit if that is a development requirement

[2020-11-06 23:37] feranick commented on #169
This seems to have been fixed with the new release of the compiler 15.1 and new drivers for Linux. However the drivers for MacOS and Windows seems to be still the old ones in this page, so effectively there are no working drivers available for MacOS or Windows....

https://coral.ai/docs/accelerator/get-started#1b-on-mac

[2020-11-06 23:58] feranick commented on #169
So I found the updated macOS and Windows drivers, here:

https://coral.ai/software/#edgetpu-runtime

All seems to work. I will report on possible performance regressions if any. However the link above should be updated with the correct URL for the drivers.

https://coral.ai/docs/accelerator/get-started#1b-on-mac

[2020-11-06 23:58] #169 closed

[2020-11-07 00:00] Namburger commented on #169
@feranick yes, please get the latest one from here, I'll have our team update the link from the tutorial, thanks for reporting

[2020-11-07 03:53] AustinDeric commented on #214
I also have this issue when following the documentation

[2020-11-07 14:30] Celt1967 commented on #232
@Namburger that adaptor card is about $60, it would be cheaper to buy two more EdgeTPU that would fit my M.2 slots in my motherboard although i would be worried that they too may have an issue.  The adaptor card and EdgeTPU work in my other setup just not in my Z370 Debian setup so i'm assuming is some sort of setting either in the BIOS or the Kernel.  It all works fine in Windows10 and runs the e

[2020-11-07 17:06] Rariusz commented on #248
@Namburger  Thank you for the information. So far I can see that the loss is very big compared to the float model. For float model loss is 0.2. With quantization settings is 32. Interesting. I will wait until training is over and see the results.

Some time ago I worked with this repository https://github.com/guichristmann/edge-tpu-tiny-yolo?fbclid=IwAR0-OrnFUL-k9xXbTieLb4sJr3YS3xIdeLyfxGlaYWJu1rh

[2020-11-08 11:39] Rariusz commented on #248
@Namburger I I trained the model according to your settings. The accuracy is not the same as during normal training, but this is due to the fact that I have little memory in the graphics card and the size of the bach is set to 5. I made a graph export
[code]
and I convert the model to TFLite. The sie of model is 53MB and the accuracy is 0. It means that after fun detector there is no any boxes on

[2020-11-08 14:21] Namburger commented on #248
@Rariusz sorry, I thought you followed my repo and stick with tf1.x,  as I mentioned we *know* about issues with tf2.x OD API and we are working on it. I don't have much progresses on it though
@Naveen-Dodda maybe you have more info on this one?

[2020-11-08 14:27] Rariusz commented on #248
@Namburger I will follow tf1.x thank you for your help !! but now I try to run yolo model on google coral because I have models for my custom data set but I hev new problems.

[2020-11-08 15:42] keesschollaart81 commented on #248
@Namburger are these issues with TF2.x OD towards edgetpu tracked/documented somewhere?

[2020-11-08 17:40] Rariusz commented on #248
@Namburger I follow you advice about tensorflow 1.x but now every time in the second iteration tensorflow return
[code]
[code]

[2020-11-08 19:35] bartezz32 commented on #248
@Rariusz Maybe there will be something useful [stackoverflow - Tensorflow NaN bug?](https://stackoverflow.com/questions/33712178/tensorflow-nan-bug/33713196#33713196)

[2020-11-09 21:27] Naveen-Dodda commented on #248
Hello Rariusz,

Are you able find a solution ?

[2020-11-09 21:32] Rariusz commented on #248
@Naveen-Dodda No. I'm waiting for help and I try many combination. I has tried different approaches so far to no solution.

[2020-11-10 00:26] #187 closed

[2020-11-10 00:53] Naveen-Dodda commented on #244
Hello Pushkar,

Thanks for the info, I was able to reproduce the issue, let me work on it update back to you.

[2020-11-10 08:22] martijndierckx commented on #232
Can anyone point me to a PCI-e x4 card that allows me to plug 4 mini PCI-e or M2 Coral TPUs?

[2020-11-10 10:11] Rariusz commented on #248
@Naveen-Dodda for now I increase the bach size and the problem is solved. But now I see that tensorflow 1.15 do not see GPU.

[2020-11-10 14:19] Namburger commented on #248
@Rariusz you are running into a lot of system configuring issues, this isn't a bug.
Different nvidia drivers is going to want different cudnn and it also depends on your OS, it's just not feasible for us to try trouble shoot this if it isn't our system. I suggest that you look up guides on how to install drivers and specifically for your system

[2020-11-10 14:52] Rariusz commented on #248
@Namburger Thank you for your reply and sorry to bring up so many problems on one topic. I created a new virtual environment in conda and installed tensorflow-gpu == 1.15 and now the system can see the GPU. Currently, these are my training results:

[code]
step is set to 400000. What do you think about these results at this moment?

[2020-11-11 00:22] PushkarChatterji commented on #244
Hi Naveen,

Thanks.

Looking forward to hearing from you on this soon.

[2020-11-11 08:34] jolloqui commented on #247
Hi, sorry about the delay but I haven't been able to try before.

I don't know how to run "lsusb" in u-boot since it is the only way I can connect to the dev-board.
From the host computer with the serial connected the output is:

usuario@HP:~$ lsusb
**Bus 002 Device 004: ID 10c4:ea70 Silicon Labs CP2105 Dual UART Bridge**
Bus 002 Device 002: ID 8087:0024 Intel Corp. Integrated Rate Matching Hub
Bu

[2020-11-11 09:09] DemolationPeter opened #250 "USB accelerator cannot run `edgetpu` model"
HI guys,

Yesterday I tried to get the USB accelerator to work on my Desktop PC with Ubuntu 18.04. Unfortunately I couldn't get python examples to run with the  'mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite'. The  'mobilenet_v2_1.0_224_inat_bird_quant.tflite'  model is working.
It seems that the Problem is similar to [#44](https://github.com/google-coral/edgetpu/issues/44) and [#214](https:

[2020-11-11 09:13] LINYOUWEI0804 opened #251 "TFlLite model changes through edgetpu_compiler"
After the TFLite model (INT8) is successfully compiled by edgetpu_compiler, what will happen to the model?

.tflite --------->edgetpu.tflite What changes have been made to the model

[2020-11-11 12:33] selrahc commented on #250
I ran into the similar issue and found some information from another thread: https://github.com/google-coral/pycoral/issues/1#issuecomment-724312390

[2020-11-11 14:10] Namburger commented on #251
All of the compatible ops get wraps into a single edgetpu custom ops, you may use tools like [netron](https://github.com/lutzroeder/netron) to visualize it.

[2020-11-11 14:10] #251 closed, assigned to nobody

[2020-11-11 14:14] Namburger commented on #250
@DemolationPeter
Hey, sorry about basically this is because tflite_runtime 2.5 doesn't match with libedgetpu 14.1. We did have it in our apt repo but needed to temporary rollback to make some changes, it should be re-release soon. For now, you can take a look at this to use the new version:
https://github.com/google-coral/pycoral/issues/1#issuecomment-724312390

[2020-11-11 17:15] DemolationPeter commented on #250
@Namburger and @selrahc
Thank you for the quick response. Know everything works like a charm.

[2020-11-11 17:15] #250 closed, assigned to nobody

[2020-11-11 22:17] Namburger commented on #247
@jolloqui sorry, I mean over serial, not u-boot:
[code]
Then turn on the dev board and it should boot & ask you for a username/password, which will both be "mendel".
Then you can run:
[code]

I suspect that somehow the board's usb port is having issues which is causing your host to not being able to see it as a fastboot device. Here is what a normal lsusb should looks like:
[code]

[2020-11-12 07:15] BalajiElumalai27 opened #252 "Coral USB accelerator device periodically goes to inaccessible state"
Past few months i using Coral USB Accelerator in a Ubuntu 18.04 (Linux) Application for inferencing. I have noticed that the USB accelerator device periodically seems to go into inaccessible state, while our application is still running. When it gets in this state, the USB device does get not detected even after restarting the machine (Power Recycle). The only way is to fix this physically unplug

[2020-11-12 09:14] jolloqui commented on #247
Hi @Namburger,

As you have indicated, I have started from the serial port with screem but when I start I get these characters. I do not know if it's normal.
![init_serial_characters](https://user-images.githubusercontent.com/6246664/98919772-8699f900-24cf-11eb-8545-564ee6629b51.png)

Once I have installed "usbutils" I get the following lines with "lsusb". Everything seems fine:
![lsusb](https://u

[2020-11-12 10:55] jolloqui commented on #247
Sorry I was wrong, I have tried with the dev-board that the installation worked for me and it already has mendel.
With the one that I don't have installed mendel doesn't start me on the serial port. I get a series of strange characters but there is no login.
![Captura de pantalla de 2020-11-12 11-52-48](https://user-images.githubusercontent.com/6246664/98931135-ef886d80-24dd-11eb-94e7-dfc1b368c29e

[2020-11-12 10:55] alexanderfrey opened #253 "Internal compiler error. With version 15.0.340"
Hi, I'm facing a compiler issue with a model that was already compiling several weeks before.
Unfortunately we are still getting the same cryptic error messages we saw in older versions of the compiler...

Maybe someone can have look ?

[Lite_test.zip](https://github.com/google-coral/edgetpu/files/5530032/Lite_test.zip)

Thanks,
Alexander

[2020-11-12 13:17] Namburger commented on #247
@jolloqui
Sorry, the reason why you are getting garbage characters is because screen doesn't know what bitrate is being transferred, I forgot to mentioned:
[code]

[2020-11-12 13:25] Namburger commented on #253
:( looks like a regression occurs, @Naveen-Dodda could you take a look?

[2020-11-12 13:26] Namburger commented on #252
@usbguru could you take a look at this one?

[2020-11-12 14:18] jolloqui commented on #247
@Namburger
Excuse my ignorance, I didn't know what the bitrate number was for.
I have a question, can a board on which a linux mendel has never been installed can show a mendel login from the screem console?
In which I managed to install it, I login without problem but in the other one u-boot it always runs.
There seems to be a problem with the USB but I don't know how to check it.

Thank you very

[2020-11-12 14:27] Namburger commented on #247
@jolloqui actually, I think I mis-understood the problem from the beginning, I thought you were trying to reflash a board without success, but it looks like one of the board just doesn't go into fastboot mode at all (and I suspect that is due to a faulty usb-c port).
To answer your question, if mendel haven't been installed,  you wouldn't be able to get a login screen, since u-boot is the only thi

[2020-11-12 15:26] jolloqui commented on #247
Don't worry, I don't think I have explained myself very well either.
I really appreciate your work.
I will write to the support email.
A greeting.

[2020-11-12 15:37] Namburger commented on #247
@usbguru for awareness, expect an email from @jolloqui!

[2020-11-12 15:41] ravinemo commented on #187
@rajansaini691 Where you able to fix this issue. Our model also takes around 2 secs to inference.

[2020-11-12 17:04] usbguru commented on #252
Hi @BalajiElumalai27
First, USB was never intended as an industrial/embedded component for long-term, hands-off operation.  PCIe would be better.  USB is meant for mice, memory sticks, and development systems.

That said, your question has been asked before.  Here is a possible answer: https://unix.stackexchange.com/questions/122234/is-it-possible-to-simulate-force-fake-an-usb-device-unplug-and-re

[2020-11-12 17:04] #252 closed, assigned to usbguru

[2020-11-13 05:42] ZhouKai90 opened #254 "How to update edgetpu compiler from 14.1 to 15.0?"
I've tried uninstalling edgetpu compier and reinstalling, but I still get the 14.1 version。

[2020-11-13 14:07] Namburger commented on #254
@ZhouKai90 hey, it is uploaded to the apt repo recently, have you tried a `sudo apt update`?

[2020-11-14 14:20] #247 closed

[2020-11-14 15:17] jolloqui opened #255 "RuntimeError: Error in device opening (/dev/apex_0)!"
Hi,

I am following the execution instructions from the Coral posenet example.

When I try to run:

The output is:

Any help would be appreciated.

EDIT:
After upgrade de distribution whit `sudo apt-get dist-upgrade` know the output is:

[2020-11-16 02:05] ZhouKai90 commented on #254
Sure, Can you give me the .deb download link? like this https://packages.cloud.google.com/apt/pool/edgetpu-compiler_14.1_amd64_ef6eef29200270dcb941d2c1defa39c7d80e9c6f30cf7ced1c653a30bde0a502.deb

[2020-11-16 02:06] ZhouKai90 commented on #254
@Namburger Sure, Can you give me the .deb download link? like this https://packages.cloud.google.com/apt/pool/edgetpu-compiler_14.1_amd64_ef6eef29200270dcb941d2c1defa39c7d80e9c6f30cf7ced1c653a30bde0a502.deb

[2020-11-16 14:02] Namburger commented on #254
Hello, here is the actual package, you can just extract and install:
[edgetpu-compiler_15.0_amd64.deb.tar.gz](https://github.com/google-coral/edgetpu/files/5546715/edgetpu-compiler_15.0_amd64.deb.tar.gz)
[code]

[2020-11-16 14:05] Namburger commented on #255
@jolloqui our posenet repo is being updated as the edgetpu repo has been deprecated in favor of pycoral and libcoral, this should be fixed soon. However,
[code]
Seems to be a different issue, can you share the outputs of these commands?
[code]

[2020-11-16 15:45] DiscretePython commented on #156
@Namburger I'm wondering if there are any updates on this given that some time has passed.
It seems that tflite still doesn't support full integer quantization for LSTMs but has added float16 support, which I realize doesn't help for running on an edge tpu... but maybe some progress has still been made?

[2020-11-17 02:10] ZhouKai90 commented on #254
@Namburger ths a lot.

[2020-11-17 02:13] Namburger commented on #254
No problems, although you should be able you get it now, could you try updating the apt repo and reinstall?

[2020-11-17 02:34] ZhouKai90 commented on #254
@Namburger when I use edgetpu-compiler_15.0 compile my tflite model , I still get the "RESIZE_NEAREST_NEIGHBOR Operation version not supported" error information. The newest version still hasn't fixed this problem?

[2020-11-17 03:03] ZhouKai90 commented on #206
@Namburger I updated the edgetpu-compiler to 15.0.  But  when I used edgetpu-compiler_15.0 compile my tflite model , I still got the "RESIZE_NEAREST_NEIGHBOR Operation version not supported" error information. The newest version still hasn't fixed this problem?

[2020-11-17 06:14] LINYOUWEI0804 commented on #251
When using netron to watch edgetpu model, only edgetpu-custom-op appears. What does edgetpu-custom-op mean?

[2020-11-17 06:16] LINYOUWEI0804 commented on #251
![edgetpu model](https://user-images.githubusercontent.com/58504153/99353449-7aeb6f80-28df-11eb-9661-71abbe54b35f.png)

[2020-11-17 12:02] Namburger commented on #251
Thats the ops that the runtime knows to delegate to the edgetpu, if you look at the cpu model, itll contains all original ops

[2020-11-17 12:07] LINYOUWEI0804 commented on #251
So we have no way to know what changed in the tflite->edgetpu.tflite model, right?

[2020-11-17 14:07] Namburger commented on #251
Well if you compare the 2 models, you would see what ops was converted to the edgetpu, if your model isn't fully compatible, you'll see a lot more cpu ops on the edgetpu model

[2020-11-17 14:11] Namburger commented on #254
@ZhouKai90 I will contact our compiler team today to get more info, mean while can you please confirm that you can get the new compiler installed via apt-get as it should?
Also, can you attach your model?

[2020-11-17 14:34] jolloqui commented on #255
@Namburger I have installed the system again to get the error. Because it only happens before the update.

[code]

[2020-11-17 18:12] gdj0nes commented on #254
Nearest Neighbors should not be listed as a supported operation on the website until this has been resolved

[2020-11-17 21:54] usbguru opened #256 "What Edge TPU Works with What Hardware/Software"
Each Coral product has been tested with specific hardware and software versions.

\
These development systems must be connected to a host computer:
Product  |     Host Operating System
--------- |     --------------------
[USB Accelerator](https://coral.ai/products/accelerator) | Ubuntu 18.04 20.04, Debian 10 Buster, Win10 64-bit, Mac 10.15 Catalina
[Dev Board](https://coral.ai/products/dev-board)

[2020-11-17 21:57] Namburger commented on #256
Thanks @usbguru!!!

[2020-11-18 02:24] Naveen-Dodda commented on #253
Hi Alex,

I tired compile the model internally, it fails as reshape op exceeds the memory limit on the chip. can you conform if there are any changes in model size/shape.

Thanks,
Naveen

[2020-11-18 02:25] ZhouKai90 commented on #254
@Namburger  Thanks for your answer!!! I have been able to use via apt-get to  install the new compiler . Otherwise, here is my model.
[https://github.com/ZhouKai90/YOLO_Tensorflow2/blob/main/save/pedestrian/pedestrians_mobilenetv2_yolov3_540_960_uint8_MLIR.tflite](url)

[2020-11-18 02:30] ZhouKai90 commented on #254
@Namburger Thanks for your answer!!! I have been able to use via apt-get to install the new compiler . Otherwise, here is my model.
[https://github.com/ZhouKai90/YOLO_Tensorflow2/blob/main/save/pedestrian/pedestrians_mobilenetv2_yolov3_540_960_uint8_MLIR.tflite](url)

[2020-11-18 02:31] Naveen-Dodda commented on #244
Hello Pushkar,

I have investigated a little bit, seems like the issue is tflite_convert at quantization step. Can you try to do qunatize using Post training quantization and see if the issue is at your end.  if you can share me the exported graph i can try on  my end as well.

Thanks,
Naveen

[2020-11-18 02:41] ZhouKai90 commented on #254
I also tried with bilinear, but still produces too high tflite op version for the edgetpu compiler.

[2020-11-18 11:28] staebchen0 opened #257 "edgetpu.dll Load Faild"
Hi,

When Loding `edgetpu.classification` I get the following error

Python Code:
`from edgetpu.classification.engine import ClassificationEngine`

Error:
DLL load failed: The specified module was not found.

Install:
from (https://coral.ai/software#edgetpu-python-api)

- edgetpu (2.14.0)
- tflite-runtime (2.5.0)
- Python 3.7
- Windows10 PC

I cannot find the dll edgetpu.dll on the PC either. Perh

[2020-11-18 13:18] OctaM commented on #156
Hello, I have the same problem. Is there any timeline that i can follow? Or just update tensorflow from time to time and try to convert and see if it works?

[2020-11-18 14:16] Namburger commented on #257
Hello, [edgetpu package is deprecated](https://coral.ai/news/updates-11-2020), I suggest using [pycoral](https://coral.ai/software#pycoral-api) instead. [Here](https://github.com/google-coral/pycoral/tree/master/examples) are some examples of pycoral in action, it is not much different than edgetpu.

Make sure you also have the edgetpu.dll installed following [these steps](https://coral.ai/docs/ac

[2020-11-18 14:28] Namburger commented on #253
@Naveen-Dodda
I can definitely confirm that the model passes for previous compiler release but not the current one, so to me this is a regression.
@alexanderfrey
I'll get some more info from our compiler team and will update ASAP, thanks for reporting!

[2020-11-18 19:01] Naveen-Dodda commented on #253
@alexanderfrey  can you conform which tflite version have you used to train and quantise the model

[2020-11-19 08:44] krittin-kulrat opened #258 "Couldn't use MobileNet SSD v2 (Faces) for object detection"
I tried to run detect_image.py example using [MobileNet SSD v2 (Faces) model](https://coral.ai/models/)
[https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py](https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py)

I know that this model is different from other model since it doesn't require label file but I wish to know how to use this model properly

[2020-11-19 09:53] krittin-kulrat commented on #258
Look like the model is corrupt during downloading process.

[2020-11-19 09:53] #258 closed, assigned to nobody

[2020-11-19 09:53] apieceofmou opened #259 "Unsupported data type in custom op handler"
Get started with the M.2 or Mini PCIe Accelerator, follow the instructions, end to this:
    RuntimeError: Internal: Unsupported data type in custom op handler: 0Node number 1 (EdgeTpuDelegateForCustomOp) failed to prepare.

dpkg -l | grep edgetpu
ii  libedgetpu1-std:amd64                      15.0                                                                                         amd64

[2020-11-19 14:10] Namburger commented on #259
Hello, it looks like you somehow installed an older version of `tflite_runtime`, the version should have returned 2.5:
[code]
I suggest that you remove that package completely and reinstall form this link: https://www.tensorflow.org/lite/guide/python

[2020-11-19 15:03] staebchen0 commented on #257
Thanks for your help. It Works :-)

I still have a fundamental question:

I created a model in the h5 format for my project.

With the same database I created a model in tflite format.
(all about Teachable Machine, there you can save a trained model in different formats)

Now one would expect that the prediction results of the two models are the same! Unfortunately, this is not the case.
The tflit

[2020-11-19 15:56] Namburger commented on #257
@staebchen0 There are too many things that can go wrong with post training quantization and compiler in the pipeline, I suggest that you open a new issue with more details, including your h5 to tflite conversion codes.
I can either look into it or assign someone to it for you!

Closing this one for now.

[2020-11-19 15:56] #257 closed, assigned to nobody

[2020-11-19 15:59] Namburger commented on #255
@jolloqui yes, posenet just won't works at the moment due to our new update, which deprecated [this import](https://github.com/google-coral/project-posenet/blob/master/pose_engine.py#L24)
we're working on it, however you should be able to run any other example, correct?

[2020-11-19 18:17] jolloqui commented on #255
@Namburger yes, the other examples work fine!
Thank you very much!

[2020-11-20 02:19] apayne19 commented on #53
@samsterckval which carrier board did you switch to? Having similar issues on the B01 carrier board

[2020-11-20 08:49] alexanderfrey commented on #253
@Naveen-Dodda Thanks for your reply and investigations into this issue. My tflite version is tflite-runtime==2.5.0

Best
Alexander

[2020-11-20 10:49] MSoegtropIMC opened #260 "Windows: siganture errors installing driver"
Dear Coral Team,

I tried installing the Coral Windows driver from (https://dl.google.com/coral/edgetpu_api/edgetpu_runtime_20201105.zip).

I get these error messages when running the installer:
[code]
So two of the driver packages are not installed cause of signature errors. As a consequence the sample code does not run ("Failed to load delegate from edgetpu.dll").

[2020-11-20 14:07] Namburger commented on #260
@MSoegtropIMC Thanks for reporting, we are looking into this now.

[2020-11-20 14:13] Namburger commented on #260
For now, I suggest rolling back to the older driver:
https://dl.google.com/coral/edgetpu_api/edgetpu_runtime_20200728.zip

And you also need to remove your current tflite_runtime and downgrade it to an older version (make sure to change to the right python version):
[code]

Apologies, we are working to get this fixed ASAP

[2020-11-21 11:02] MSoegtropIMC commented on #260
Thanks!

Btw.: it might make sense to change the installer batch file such that it produces a more prominent error message and pauses in case of an error. If you run the batch file with a click from explorer, you likely won't see the error message(s), because the console just closes at the end. This might result in all sorts of hard to spot errors down the road. I did run the batch file from a con

[2020-11-21 13:44] Namburger commented on #260
@MSoegtropIMC thanks for the input, will also forward this to the team

[2020-11-21 16:25] danschu commented on #176
@Namburger
I used the new compiler (v15.0) and splited the model into many parts. The problem is on the attached part of the model. I think that is not the input resolution. I still get an "internal compile error". Can you have a look on it?

Thank you
[mymodel_segment_21_of_24.zip](https://github.com/google-coral/edgetpu/files/5577982/mymodel_segment_21_of_24.zip)
![image](https://user-images.git

[2020-11-22 14:09] nibeh opened #261 "Wrong initialization of bias in flatbuffer"
https://github.com/google-coral/edgetpu/blob/6d699665efdc5d84944b5233223c55fe5d3bd1a6/src/cpp/learn/utils.cc#L483 memcpy should actually copy `bias.size() * sizeof(bias.data()[0]` Bytes, as it is checked in the previous line?!

[2020-11-23 05:34] apieceofmou commented on #259
Thank you so much! After update tflite_runtime to 2.5.0, the problem has been solved.
The Chinese language version of tflite_runtime link (https://www.tensorflow.org/lite/guide/python) is still 2.1.0, that's why I install the wrong version at first.

[2020-11-23 05:46] #259 closed, assigned to nobody

[2020-11-23 05:52] ZhouKai90 commented on #254
@Namburger Thanks for your answer!!! I have been able to use via apt-get to install the new compiler . Otherwise, here is my model.
[pedestrians_mobilenetv2_yolov3_540_960_uint8_MLIR.tflite](https://drive.google.com/file/d/1eKHb14XXmeobDrDiePsh5u0Rbj6Z8VHJ/view?usp=sharing)

[2020-11-23 05:54] ZhouKai90 commented on #254
[de](https://drive.google.com/file/d/1eKHb14XXmeobDrDiePsh5u0Rbj6Z8VHJ/view?usp=sharing)

[2020-11-23 06:37] apieceofmou opened #262 "Multi PCIE TPUs in one system"
Hi, I am working for multi PCIE TPUs in one system. Here's my solution. I used several pcie expansion cards that expands 3 x1 PCIE slots from 1 x1 PCIE slot, each slot set a PCIE2miniPCIE adapter that a PCIE TPU installed. Model inference works fine, but the inference speed(about 93ms) of large model, such as Resnet50, is significantly slower than the USB accelerator(about 43ms). The Mobilenet inf

[2020-11-23 08:21] samsterckval commented on #53
Same carrier board, but a new one.  It seems a power related issues, the previous carriers seems to fail every time we connected both a coral m.2 and a CSI camera.  Haven't tried if the B01 version fixed it, but apparently it didn't :-(

[2020-11-23 13:58] Faoran opened #263 "Using mPCIe TPU in qemu VM"
I'm trying to use the mPCIe EdgeTPU, which works perfectly fine in the host system, in a qemu VM and I'm unable to get any of the examples working.

Host System: Ubuntu 20.04
Guest System: Fedora 33 with Python 3.8

I have installed the necessary drivers and tools (edgetpu) after some trial and error, setup the PCI passthrough from Host to Guest system and the Edge TPU device is listed in the Gues

[2020-11-23 13:59] akosb opened #264 "LEGO"
Hi Coral Team,

 not sure where stuff like this belongs to, but I've created an _article_ series around my board usage. [Part III.](https://vaew.io/coral03/index.html) for example describes how to take the board for a walk outside. Rest is about my LEGO character recognizer.
 Would be nice to have some user stories sections somewhere, just like TFJS has some [GALLERY](https://github.com/tensorflow

[2020-11-23 14:07] Namburger commented on #263
@Faoran I can't say for certain since I've never used qemu, however, for most VMs, you'll need to set up passthrough for pcie devices. For instance, with docker, you need something like this (**--device /dev/apex_0:/dev/apex_0**:
[code]
Here is a reference for qemu: https://unix.stackexchange.com/a/96613

[2020-11-23 14:07] #263 closed, assigned to nobody

[2020-11-23 14:10] Namburger commented on #264
@akosb Kool project!
@usbguru @Naveen-Dodda @mbrooksx What do you guys think?

[2020-11-23 14:12] Namburger commented on #261
@nibeh Thanks for reporting!

[2020-11-23 19:49] Naveen-Dodda commented on #254
@ZhouKai90 which version of TensorFlow have you been using for training and quantization ?

[2020-11-23 20:10] usbguru commented on #262
Hi @apieceofmou
What PCIE2miniPCIE adapter are you using?  What results do you get if you try two TPU instead of three?  If there is a power issue, that might help find it.

How big is your power supply, and what are the power requirements of your other boards?  Could you remove the GPU and test with just the built-in graphics to lower the system power?

Try these pipelined models:  https://github

[2020-11-23 21:48] usbguru commented on #264
@akosb
This is great.

I will remind the marketing team that we need a place to highlight projects like this.

[2020-11-24 00:13] allisterb commented on #260
Can confirm uninstalling the new version and using the older driver works. Also Windows SmartScreen by default blocks unknown/unsigned scripts downloaded from the Internet that ask for admin privileges and you have to manually tell it to go ahead. If the work done in the install.bat script can be moved to the signed installer then it would be a better user experience.