[2022-05-25 22:05] hjonnala commented on #492
@brilthor can you please try with libedgetpu1-max frequency and new m.2 device if possible.

[2022-05-25 22:06] hjonnala commented on #592
yes, both FPN 320x320 and 640x640 are supported by Edge TPU.

[2022-05-25 22:06] RaphaelPiatek opened #593 "DevBoardMini Unecpected high latency"
### Description

Hi,
i just run the inference_benchmark on my DevBoardMini with following results.
Are this values normal 10x reference time?

<details><summary>Click to expand!</summary>

 ### Issue Type

Performance

### Operating System

Mendel Linux

### Coral Device

Dev Board Mini

### Other Devices

_No response_

### Programming Language

Python 3.7

### Relevant Log Output

[code]
</detai

[2022-05-25 22:19] hjonnala commented on #593
Hello @RaphaelPiatek those reference values are not for DevBoardMini. Please check the below links for benchmarks reference:
https://github.com/google-coral/cts/tree/main/example_outputs
https://github.com/hjonnala/snippets/blob/main/board_comaprison.md

[2022-05-25 22:37] RaphaelPiatek commented on #593
Hi @hjonnala thank you for the files, so if i understand them correctly, the results i got are within the range that can be expected from the DevBoardMini.

Thank you the fast response.

[2022-05-25 23:02] hjonnala commented on #593
Yes those are within the expected range.

[code]
[code]

[2022-05-25 23:03] #590 closed, assigned to hjonnala

[2022-05-25 23:13] #551 closed, assigned to hjonnala

[2022-05-26 01:24] smart-face commented on #589
Hello, sorry for the delay, the first device with continuous inference was not showing any of the PCI devices, and later it started heating up more so I dumped it. I tried flashing a new installation.

For a second case,  I figured out the issue by reinstalling a new Mendel. There was a problem with a kernel module that handles the socket connections.  BTW thanks for the replay.

[2022-05-26 13:03] hjonnala commented on #589
@smart-face Thanks for response. Can you please confirm that issue got resolved with new Mendel software for the second case. Thanks!

[2022-05-26 13:37] smart-face commented on #589
Yes, the story behind this issue is as follows,
I use this device as a tiny HTTP server that processes the requests in a FIFO fashion. During testing, I have performed multiple sockets queries where the kernel module failed and all TCP requests got stuck, resulting in the entire PCI line getting down. In imx8, a Wi-Fi uses pcie1 data lines and pcie2 for EdgeTPU. The issue was there until I re-flas

[2022-05-26 16:01] #589 closed, assigned to hjonnala

[2022-05-26 16:17] smart-face commented on #583
Hi, you can open the Bluetooth port by using sudo rfcomm listen  hci0 command which will enable UART at /dev/rfcomm0. At this point, you can use the UART to transfer the data.
You might need to enable the above command during boot time but make sure use nohup for background operations.
Good Luck!

[2022-05-26 17:56] fjzhangcr opened #594 "a model with just one conv2d layer can not run on Edge TPU~~"
### Description

i have yolo model converted to tflite already, but edgetpu_compiler said all the operations can not run on edgetpu....so, i make a model just contain a conv2d layer... the edgetpu_compiler said such a simple model tflite model  not run on edgetpu...  i am confuse~~help me

my tf=2.8, edgetpu runtime=14, edgetpu_compiler=16

<details><summary>Click to expand!</summary>

 ### Issue

[2022-05-26 18:21] hjonnala commented on #594
@fjzhangcr Please  perform the [full integer quantization](https://www.tensorflow.org/lite/performance/post_training_quantization) to be able the map the operations to edgeTPU.

Here is some sample example: https://github.com/google-coral/edgetpu/issues/586#issuecomment-1119842063

[2022-05-26 18:39] davidallenmann opened #595 "dev board mini power through header requires button press"
### Description

We are powering a Dev Board Mini through the power header.
It appears that the firmware currently requires a power button press to turn on the Dev Board Mini.

The desired behavior is that if power comes through the header the board should automatically turn on (like it does if powered through the USB OTG connector).

We are operating in a location where it needs to power on autom

[2022-05-26 19:39] fjzhangcr commented on #594
that works in int8 ,but my first purpose is to run in float16~~~
i notice there are several tips about model requirements here:
https://coral.ai/docs/edgetpu/models-intro/#model-requirements
the first one is about the quantilization~~~
i want to make it sure : EDGETPU ONLY SUPPORT 8BIT-QUANTILIZATION, do not support float16 or float32~~
am i right?

============================
Model requirements

[2022-05-26 19:47] RaphaelPiatek commented on #593
Thank you a lot for making it clear for me.
Grate support!

[2022-05-26 19:47] #593 closed, assigned to hjonnala

[2022-05-26 20:01] hjonnala commented on #594
Yes, you are right.

[2022-05-27 05:16] fjzhangcr commented on #594
thank you~~~

[2022-05-27 05:16] #594 closed, assigned to hjonnala

[2022-05-27 10:07] fjzhangcr opened #596 "model with pure keras layer convert to int8 tflite well, but kernel crash when interpreter.allocate_tensors() and edgetpu_compiler compile the tflite file failed, without any hint,just failed"
### Description

use lots of tricks learned from here to make a int8 tflite file successfully, but edgetpu_compiler compile failed.
by the way the converter.covert() line, runs about 40 minutes, is that too long?
i am pretty sure there are no dynamic-sized tensor, no dimention more than 1 in the innermost 3 dimention~~~
anything wrong?~~~

the model initialized and set static shape:
[code]

prepar

[2022-05-27 14:13] fjzhangcr opened #597 "just make sure upsample2d, image.resize, leakyrelu, are all supported by edgetpu?"
### Description

i saw a issue clossed which shows upsample2d is support by edgetpu compiler...
https://github.com/google-coral/edgetpu/issues/396

but i try a toy model with conv2d, upsample2d, image.resize, leakyrelu, the edgetpu compiler shows only conv2d layer is running on tpu, others all runs on cpu..

toy model:
[code]

outputs:
[code]

the edgetpu compiler logs:
[code]

<details><summary>C

[2022-05-27 17:13] hjonnala commented on #597
Hello @fjzhangcr leakyRelu operation  is not supported. RESIZE_NEAREST_NEIGHBOR and RESIZE_BILINEAR are supported but not mapped to TPU due to their size. Feel free to experiment by reducing the model input size.

[2022-05-27 18:42] fjzhangcr commented on #596
i update my issue and take screenshots about the model architechture, and make a colab to reproduce the kernel crash when interpreter.allocate_tensors()~~

[2022-05-27 18:52] hjonnala commented on #596
This model won't be able to compile to edgeTPU as It has lot of float operations in between and has  leaky Relu..

![image](https://user-images.githubusercontent.com/86132058/170771658-36f0ead4-2d72-43a2-be0f-df70e620c91f.png)

[2022-05-27 18:54] fjzhangcr commented on #596
let me update  again~~ i just updated a colab, but the content i edited all gone~~~
https://colab.research.google.com/drive/1lZRxp8DCLKFQ4wSWPTTzgOQV6Q1xhDzo?usp=sharing

[2022-05-27 18:55] fjzhangcr commented on #596
do you mean all layer are regular and shapes are ok.
here is my layers shape and layers type:
[code]

![image](https://user-images.githubusercontent.com/102020341/170773362-54813dee-6203-4eee-955b-81bd76aed1ca.png)
![image](https://user-images.githubusercontent.com/102020341/170773387-241423bf-bbc5-4c39-9d51-851b534250c6.png)

[2022-05-27 19:59] hjonnala commented on #596
Regarding kernel crash with uncompiled tflite model please check with [tflite support team](https://github.com/tensorflow/tflite-support). And please check the model in https://netron.app/ it has lot of [exp](https://www.tensorflow.org/api_docs/python/tf/math/exp), [log](https://www.tensorflow.org/api_docs/python/tf/math/log) and Leaky Relu operations which are not supported with EdgeTPU.

Btw, pl

[2022-05-28 03:51] gworkman opened #598 "LSTM Size Constraints"
### Description

It seems like there is a limit on supported LSTM sizes. I have a model that uses an LSTM on MobileNetV2 features extracted from video frames. The LSTM input shape is (5, 1280). While the model converts to TFLite and quantizes perfectly, the edgetpu_compiler fails without any information.

A toy example:

[code]

When the value of X is below 900 (ish), the edgetpu compiler succeeds

[2022-05-29 00:12] magic-blue-smoke commented on #280
[Designed m.2 card](https://github.com/magic-blue-smoke/CM4-Coral-m.2-TPU) with Coral Accelerator Module that seem to work fine with Piunora CM4 baseboard.
Test suggestions are welcomed
![](https://github.com/magic-blue-smoke/CM4-Coral-m.2-TPU/raw/main/coral-m2.jpeg)

[2022-05-29 08:17] TimPearson commented on #280
Brilliant idea - Why not try the cheap and widely available Waveshare board that are  only around $20 and have an M key M.2 interface. I had all but given up on Coral they don't work over PCiE on RPi4 but this now becomes a new possibility.

[2022-05-29 10:40] vukitoso opened #599 "Where can I buy "M.2 Accelerator with Dual Edge TPU"?"
### Description

Hello.
I can not find "M.2 Accelerator with Dual Edge TPU" for sale anywhere on the Internet. Please tell me where can I buy?
Thank you.

<details><summary>Click to expand!</summary>

 ### Issue Type

_No response_

### Operating System

_No response_

### Coral Device

_No response_

### Other Devices

_No response_

### Programming Language

_No response_

### Relevant Log Outpu

[2022-05-29 10:42] fjzhangcr commented on #597
i found the size limitation of upsample2d layer to map to edgetpu. But i still confused by the activation function.
i know i have lots of leakyrelu, i want to repalce it by prelu which is equivalent.
so i carefully check the page of Supported operations  :
https://coral.ai/docs/edgetpu/models-intro/#supported-operations
it says
![image](https://user-images.githubusercontent.com/102020341/170863276

[2022-05-29 11:04] vukitoso commented on #280
can you give a link to "Waveshare board"?

[2022-05-30 00:40] hjonnala commented on #597
Please add [Activation layer](https://towardsdatascience.com/everything-you-need-to-know-about-activation-functions-in-deep-learning-models-84ba9f82c253) after the weight layer (something like CNN, RNN, LSTM or linear dense layer).

[code]

[2022-05-30 04:06] hjonnala commented on #598
Hello @gworkman Yes, LSTM operation seems to have size limitation.

Please try the below the options here:
1. Reduce the model input size
2. Map the LSTM op to CPU and other ops to TPU using [intermediate tensors flag](https://coral.ai/docs/edgetpu/compiler/#usage). In this case, please compare the latency btw uncompiled tflite model vs edgeTPU model.

`! edgetpu_compiler -s -a -i "tfl.quantize" m

[2022-05-30 09:12] fjzhangcr commented on #597
thank you~~that is the solution~~~
my toy tiny experiments is too tiny~ in a real neural network activation layer always follows a conv2d or dense~~
problem solved~~thanks again~~~

[2022-05-30 09:12] #597 closed, assigned to hjonnala

[2022-05-30 12:23] timocafe opened #600 "Which sha256 number for Tflite and libedgetpu"
### Description

Hello,

[Short] I have some issue with bazel specially for the sha number I should indicate in the WORKSPACE.  With my current number my binary crash into InterpreterBuilder. Similar problem [here](https://github.com/google-coral/edgetpu/issues/221).

[Long] my python code works with 8/16 bits quantize model. Due to performance, I wanted to test the cpp version. To obtain a binary

[2022-05-30 13:15] fjzhangcr commented on #596
my issue is a big and complex problem including:
1, unsupport ops such as exp log and mish activation (unsolved)
2, matrix dimention greater than 1 outside the innermost 3 dims ( re-coding fixes my problem)
3, unsupport leakyReLU activation function~~(Replacing with PReLU fixes my problem)
4, other problem about edgetpu_compiler ( will be solved sooner or later~~ :) )
This issue should be closed.

[2022-05-30 13:15] #596 closed, assigned to hjonnala

[2022-05-30 13:56] fjzhangcr opened #601 "most ops mapto edgetpu, except a few supported ops(concatenation conv2d pad) not , shows More than one subgraph is not supported"
### Description

i am compiling yolov4 model to edgetpu.
i have replace leakyrelu with prelu successfully, replace all mish activation with prelu too.
although now most of ops map to edgetpu, the procedure is weird.
my python code give me a tflite file : yolov4_bb.tflite
then i switch to ubuntu to edgetpu_compiler it~~

At first, i type in -s -a flag:
[code]
then i found some issue about the -d fl

[2022-05-30 16:40] timonsku commented on #280
Glad to see Piunora making full circle. It was the original reason I opened this thread :)
Hope it worked out for you so far!

[2022-05-30 19:17] gworkman commented on #598
Thanks for the quick response! I went for option 1 here, since that made more sense for my model, but it would be helpful for others who come across this limitation to add some error messages to the output, and maybe a mention of the limitation in the docs. I'd be happy to provide a quick PR, if you can point me to where I should take a look.

Thanks again! 😄

[2022-05-31 03:27] hjonnala commented on #601
Hello @fjzhangcr

 Please check this page for compiler flags and their usage: https://coral.ai/docs/edgetpu/compiler/#usage

-d search_delegate tries to compile the model with intermediate tensors. In your case the intermediate tensors (you can get the input names with help of netron visualizer) are used are:

`model_2/p_re_lu_181/add;model_2/p_re_lu_181/Relu;model_2/p_re_lu_181/Neg_1;model_2/p_re

[2022-05-31 08:27] fjzhangcr commented on #601
what do you mean by intermediate tensors ? there are 4 intermediate tensors,~~~ am i right?
my question:
1, why do you attatch only the first intermediate tensors( number 181) to the -i flag, withou other 3 intermediate tensors?
2, what is so special for  the tensors? i have check my code, they are all short-cuts~~ but i have many other short cuts, why only these tensors are intermediate tensors.

[2022-05-31 09:36] fjzhangcr commented on #601
update:  excellent solution!~~~ just one conv2d and a pad layer runs on cpu~~~
but i still confused by your solution~~
1, why you only add the 181 intermediate tensor to the i flag, not the others
2, what is the cause? My guess is  because the 181 short-cut requires too much(more than 8Mb) cache?
looking forward for your explanation~~thank you
[code]

[2022-05-31 11:45] fjzhangcr commented on #601
i have a further try with your help. i make another model, which attatch a decode network after the backbone network.
the backbone netword is what i post at first **[yolov4_bb.tflite]**,.
https://drive.google.com/drive/folders/1gwlu00vOaRQiuN8M5MHPx0xNazpEtHiz?usp=sharing
the new network attatched a decode network named **[yolov4_Decode_Collect_390.tflite]**.
https://drive.google.com/drive/folders

[2022-05-31 13:39] cappittall commented on #455
@kiteklan Özgür, did you solved the problem?
Hakan

[2022-05-31 13:40] kiteklan commented on #455
No i did not solved the problem .

On Tue, May 31, 2022 at 16:39 Hakan Çetin ***@***.***> wrote:

[2022-05-31 18:05] hjonnala commented on #601
I am able to compile the model with the above command. I am not sure why you are not able to compile. Please try this colab: https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb

![image](https://user-images.githubusercontent.com/86132058/171254223-724749b9-05c3-4381-a5f0-0d4370fd6837.png)

I just chose this one as this is the first operation which i

[2022-06-01 06:22] fjzhangcr commented on #601
i succeed in colab then i fail agian in ubuntu, but after i delete the tflite and re-copy it, it compiler successful in ubuntu...the reason i failed last time seems a mistery...
anyway,i remain confused..
the correct connection passed to -i flag is "model_7/p_re_lu_502...". 502 connection is  derived manually from the first compilation failure, in which 181 connection jump out.
according to your a

[2022-06-01 18:15] hjonnala commented on #599
Currently the product is out of stock. Please check the [product available countries](https://coral.ai/products/m2-accelerator-dual-edgetpu#tech-specs) and place your pre order with any one of the retailers listed on the [Coral website](https://coral.ai/products/m2-accelerator-dual-edgetpu), such as Mouser, Pi3g, OKdo, etc. Thanks!

[2022-06-01 18:15] #599 closed, assigned to hjonnala

[2022-06-01 18:17] #592 closed, assigned to hjonnala

[2022-06-01 18:27] langestefan commented on #280
Cool stuff. Is this available somewhere?

[2022-06-01 21:44] hjonnala commented on #601
For yolov4_bb.tflite, I have chosen the first operation from the logs which is not able to map to TPU when you tried with -a -d flags and the model is able to compile successfully. https://drive.google.com/file/d/1-eWHt9hLFka_NzZOPI5gxHHn0n4lhdK3/view?usp=sharing

For yolov4_Decode_Collect_390.tflite, I haven't taken it form logs. I just tried with the intermediate tensors from your comment: https

[2022-06-02 12:59] Protozzzer opened #602 "Error boot from sd card image"
### Description

Hi, a have unknown error when i try to boot my sd card image Mendel Linux last version. First of all i built Mendel Linux bootable from sd card by command:

`FETCH_PACKAGES=true m docker-sdcard ` by this instruction
https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md

Final img file weights was 4.4 GB and it successfully loaded and worked, but the free space

[2022-06-02 16:39] hjonnala commented on #600
Hello @timocafe

Please try the below steps:
STEP1:

1. git clone --recurse-submodules https://github.com/google-coral/libcoral
2. add bug.cpp file to examples folder: https://github.com/google-coral/libcoral/tree/master/coral/examples
3. add the foolowing code to build file: https://github.com/google-coral/libcoral/blob/master/coral/examples/BUILD
[code]
4. add the below line at: https://github.c

[2022-06-02 20:05] Path-A opened #603 "Dev Board Mini periphery library permission error"
### Description

I'm getting an ```Operation not permitted``` error trying to turn on an LED using the Coral Dev Board Mini. Here is a simple python script as an example:

[code]

I've attempted to modify my ```udev``` rules (seen in #457), but I can't seem to get it to work as either sudo or user.

This issue does not occur when using the Adafruit-blinka library and I am able to turn on an LED. R

[2022-06-02 21:03] hjonnala commented on #603
Hi @Path-A can you try with the below GPIO sample code: https://coral.ai/docs/dev-board-mini/gpio/#gpio

[code]

[2022-06-02 21:09] chrisevans1001 opened #604 "Apex driver appears to have disappeared after a powercut"
### Description

Coral M.2 Dual Edge TPU in a PC running Ubuntu 20.04.4.

Has been working fine for months.

Had a power cut the other day and now the driver has stopped loading but the device itself is still detected.

I have tried uninstalling by following the opposite of the install instructions. I have then reinstalled and there is no change.

Relevant outputs included below. I have attached d

[2022-06-02 22:05] chrisevans1001 commented on #604
Closing this. Bit bizarre but after half hour of it not working - not touched a thing but it's suddenly started working again.

[2022-06-02 22:05] #604 closed, assigned to hjonnala

[2022-06-02 22:44] Path-A commented on #603
Thanks! That worked. I see that I made a simple mistake and used a write command to a pin set to "in".

[2022-06-02 22:44] #603 closed, assigned to hjonnala

[2022-06-02 22:56] hjonnala commented on #600
Please check the sha256 numbers at: https://packages.cloud.google.com/apt/dists/coral-edgetpu-stable/main/binary-amd64/Packages

[2022-06-03 12:37] timocafe commented on #600
I succeed the cross compilation and it run, thank you very much. Just a last question currently on the dock env the GCC version is gcc 6.3, on the coral it is 8.3. It is bit painful for the c++17 and std::filesystem which is experimental for GCC 6.3. Is it possible to modify the WORKSPACE and update to 8.3 ? Cheers.

[2022-06-03 12:37] #600 closed, assigned to hjonnala

[2022-06-06 23:20] dylan-alfi opened #605 "Dual TPU not showing up on 1x2 pcie e key"
Hi everyone,
I have a CT-MCL01 premio motherboard with 1x M.2 (E Key, PCIe x2). After installing the driver and libraries only one tpu shows up.
`lspci -nn`
System peripheral [0880]: Global unichip corp. Coral Edge Tpu [1ac1:089a]

Any help is greatly appreciated.

[2022-06-07 05:06] vyang2968 opened #606 "Fast Custom Object Detection Model"
### Description

When will we ever be able to quantize a custom-trained Tensorflow model and make it as fast as the pretrained models that are supplied by Google Coral? All the resources provided by Google Coral are severely lacking with FPS under 10 and over 200 ms of delay. I have been struggling with this a while.

<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

[2022-06-07 12:20] fjzhangcr opened #607 "why the input and output of a Quantize Ops inside a tflite model are not equal?"
### Description

hi, i am checking inside  a tflite model which give me fault result.
The first wired thing i discover was the behavior of Quantize Ops.
I have make a toy model and make sure the Quantize Ops not change the value but just modify the Quantization.
But in my a big model,  when i use interpreter.get_tensor() to get the Quantize Ops's input and output, i found they are not equal.
my ke

[2022-06-07 12:41] fjzhangcr commented on #607
in my concept, the Quantize Op is just for data type transformer. Since Quantize Op is just a bias shifter to re-range the [0,255] to [-128,127], the interpreter.get_tensor() from inputs and outpus of Quantize Op, should be a constant of 128.
but this Quantize Op acts abnormal
[code]

![image](https://user-images.githubusercontent.com/102020341/172381222-4915484f-36da-4c8c-9b7c-af9325fc8424.png)

[2022-06-07 17:01] hjonnala commented on #605
Hello @dylan-alfi please check with community here if anyone has successfully detected two TPUs with CT-MCL01 premio motherboard: https://github.com/google-coral/edgetpu/issues/256

Thanks!

[2022-06-07 18:34] hjonnala commented on #607
It is because by default TFLite doesn't preserve intermediate tensors this is because it optimizes memory usage and reuse allocated memory of a tensor based on the data flow dependency. You can use the newly added debugging feature to preserve all tensors.

`interpreter = tflite.Interpreter(model_path=model_path,  experimental_preserve_all_tensors=True)`
 https://stackoverflow.com/questions/531099

[2022-06-08 16:51] hjonnala commented on #607
Feel free to reach out to tflite team for any additional questions on this one: https://github.com/tensorflow/tflite-support

[2022-06-08 16:51] #607 closed, assigned to hjonnala

[2022-06-08 20:36] hjonnala commented on #595
Hello @davidallenmann Unfortunately, this is an unsupported configuration.  Thanks!

[2022-06-08 22:23] hjonnala commented on #606
Hello @vyang2968  can you please share what type of model network you are trying to train and the model input size. Thanks!

[2022-06-09 09:52] fjzhangcr commented on #607
thank you

[2022-06-09 16:13] dylan-alfi commented on #605
Hi @hjonnala I checked on[#256 ]( https://github.com/google-coral/edgetpu/issues/256). The CT-MCL01 is supported.

[2022-06-09 16:48] fjzhangcr commented on #601
use all keras layer and use some clip_by_value ops to limit the dynamic range solve the accuracy problem~~~suggest this issue clossed~~thanks

[2022-06-09 16:48] #601 closed, assigned to hjonnala

[2022-06-09 18:51] fjzhangcr opened #608 "intermediate tensor problem or large activation tensors problem"
### Description

i have a tflite model which have [1,16128,4] and [1,16128,80] output.
https://drive.google.com/file/d/1rQzAIlU2nCbAgn2Xd9br6pqj8kK0dAiD/view?usp=sharing

at the very beginning, i use the command of edgetpu_compiler with -a -s -d flag, got the following print:
[code]
i have no idea which intermedia tensor can be added with -i flag.
i have try ` -i model/pred_cls_prob/concat`
i have

[2022-06-09 22:19] #595 closed, assigned to hjonnala

[2022-06-09 23:39] hjonnala commented on #608
Please try with this -i flag: model/p_re_lu_74/add;model/p_re_lu_74/Relu;model/p_re_lu_74/Neg_1;model/p_re_lu_74/Relu_1;model/p_re_lu_74/mul

If you are not sure which -i flag to use and not able to compile with -d flag, please try to get the layer names with the below snippet and pass it to the compiler. Thanks!

[code]

[2022-06-10 03:49] vyang2968 commented on #606
@hjonnala, so far I have worked with [EfficientDet-Lite](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_efficientdet_model_maker_tf2.ipynb) and [SSDLite](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_ssdlite_mobiledet_qat_tf1.ipynb). I have also simply trained SSD MobileNet V2 FPNLite 320x320 with the Tensorflow 2 Object De

[2022-06-10 05:22] fjzhangcr commented on #608
i know how to get all tensor names, only different is i use the interpreter in the tensorflow full package.
and get the following name. my confusion is how to identify the correct intermediate tensor in all these tensor names.
the edgetpu_compiler did not give any intermediate tensor names matching the intermediate tensor name you mention below
![image](https://user-images.githubusercontent.com/10

[2022-06-10 13:07] hjonnala commented on #608
- edgetpu_compiler -s  -d model.tflite (This should give first intermediate tensor that is not able to map to EdgeTPU when the model got compiled successfully. For any reason if its not working please reach out to [coral-support@google.com](mailto:coral-support@google.com). When you do, please share the TensorFlow Lite model that you're trying to compile so we can debug the issue (we don’t need th

[2022-06-10 15:34] fjzhangcr commented on #608
thank you, i am afraid i am the second condition. the log do not give any useful information.
May i mail directly to the email of [coral-support@google.com](mailto:coral-support@google.com)
or should i post an issue here
which is prior?

[2022-06-10 16:47] hjonnala commented on #608
If there are no concerns to share the model please post it on GitHub, otherwise please reach out to [coral-support@google.com](mailto:coral-support@google.com).

For the model linked in this issue you can use this [i flag](https://github.com/google-coral/edgetpu/issues/608#issuecomment-1151714602) to compile. Thanks!

![image](https://user-images.githubusercontent.com/86132058/173111766-f2f4a4d2-6

[2022-06-12 13:40] Shubham-23Joshi opened #609 "zero operations running on Edge TPU"
### Description

hello, I have a simple handwriting recognition model which I've saved and converted it into tflite including default optimizations (for quantization). The model gets compiled; however, no operations run on the Edge TPU.
The log shows 'Operation is working on an unsupported data type' for all the operations, although all the operators in the model are supported by Edge TPU.
Kindly

[2022-06-13 13:37] hjonnala commented on #609
Hello @Shubham-23Joshi  please go through this issue: https://github.com/google-coral/edgetpu/issues/594#issuecomment-1138880149.. Thanks!

[2022-06-13 17:06] DougLorenz commented on #256
I know that @magic-blue-smoke was developing something to allow the Dual Coral Edge TPU to use both chips, but since he's in Moscow and under brutal tech sanctions, I'm willing to bet that he won't be getting the parts to make more for a few years at least, and he might not even have internet access anymore.

So the question is this:  Is anyone else working on an m.2 M-key to E-key adapter that us

[2022-06-13 17:17] magic-blue-smoke commented on #256
Hi @DougLorenz, actually PCIe adapters are being produced at the moment in China and will be sold on one of marketplaces there in July.
To get stock notification and marketplace link you can follow me on Twitter or subscribe this thread: https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter/issues/8

[2022-06-13 17:26] DougLorenz commented on #256
Cool.  I'll keep watching and hopefully China won't try to invade Taiwan.  That would be really inconvenient.  :-)

[2022-06-14 18:57] alexvazvi opened #610 "Unable to connect"
### Description

Hello, I'm trying to connect via ssh and trying to test the demo

[code]

But this error occurs:

[code]

When I try the example model (classify_image.py), this other error occurs:

[code]
I don't know what can it be.
Thank you very much in advance.

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Operating System

Mendel Linux

### Coral Device

[2022-06-14 20:08] tehniemer opened #611 "Failed to load delegate from libedgetpu.so.1 M.2 Accelerator with Dual Edge TPU"
### Description

The image classifier test from https://www.coral.ai/docs/m2/get-started/ fails. I had this coral device installed and working in Frigate for months before it quit.

Thank you!

1. This is an M.2 TPU and it is connected.
2. Permissions are 660, output below.
3. Added the user to that group with the same end result.

<details><summary>Click to expand!</summary>

 ### Issue Type

Sup

[2022-06-14 20:33] hjonnala commented on #610
Can you please share the output of below commands:

- uname -a
- cat /etc/mendel_version

Thanks!

[2022-06-14 20:42] hjonnala commented on #611
Hello @tehniemer can you please add the below lines [here](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L41) and share the logs.

[code]

[2022-06-14 21:19] tehniemer commented on #611
[code]

[2022-06-14 21:33] hjonnala commented on #611
can you please try the demo after performing step 3 and 4 at: https://coral.ai/docs/m2/get-started/#2a-on-linux

[2022-06-14 21:36] tehniemer commented on #611
I followed that guide from start to finish, including the troubleshooting steps.

[2022-06-14 21:57] hjonnala commented on #611
Okay, can you try the demo as user as user i.e: ` user@nvr:~/coral/pycoral# `

[2022-06-14 23:14] tehniemer commented on #611
Here's the results from running under the user `user`
[code]

[2022-06-15 06:55] alexvazvi commented on #610
Of course.

uname -a

[code]

cat /etc/mendel_version

5.3

[2022-06-15 14:16] #484 closed, assigned to hjonnala

[2022-06-15 14:17] #608 closed, assigned to hjonnala

[2022-06-15 17:08] hjonnala commented on #611
can you please try the below options:

- sudo python3 examples/classify_image.py
- adding `root `to apex and plugdev groups.
   sudo adduser root apex
   sudo usermod -aG plugdev root

[2022-06-15 17:57] tehniemer commented on #611
Same errors
[code]
[code]
[code]
[code]

[2022-06-16 19:34] ghost opened #612 "EdgeTPU Compilation Fails for Unknown Reasons Using TFLite Lane Detection Model"
### Description

EdgeTPU fails compilation on tflite model quantized from float32 to int8 for Coral USB Accelerator requirements.

There is no clear indicator why this is failing currently. Our model was a pytorch-trained model converted to onnx, then to tensorflow, then to tensorflow lite, and quantized from float32 to int8 using the a process detailed below. Included are the model's configuratio

[2022-06-16 20:05] hjonnala commented on #612
The model is failing to compile since the inference test for lane-detetction-model.tflite itself failing with [tflite_runtime-2.5.0.post1](https://github.com/hjonnala/snippets/blob/main/coral_inference.py).

https://github.com/hjonnala/snippets/blob/main/coral_inference.py

[2022-06-16 20:09] hjonnala commented on #610
Have you stopped any script with ctrl +z? If so, please reboot(sudo reboot now) the device and try the demo. From next time try to stop with ctrl+ c.

[2022-06-16 21:01] hjonnala commented on #611
can you please share the [EdgeTPU junction temperature](https://coral.ai/docs/pcie-parameters/#read-the-edge-tpu-temperature) here using the Command below on LInux.

`cat /sys/class/apex/apex_0/temp`

[2022-06-16 21:09] tehniemer commented on #611
[code]

[2022-06-16 21:18] ghost commented on #612
@hjonnala I had ran this script prior as well, and receive a `Aborted (core dumped)` message is all. Is there any other information that this can provide me? It's a little unclear what is causing the failure still.

Is there a way to output what is causing the core dump, or perform more verbose logging here?

[2022-06-16 21:20] hjonnala commented on #611
Thanks! Also please share the output of below commands..

- cat /sys/class/apex/apex_0/hw_temp_warn2
- cat /sys/class/apex/apex_0/hw_temp_warn2_en

[2022-06-16 21:23] tehniemer commented on #611
[code]

[2022-06-16 21:30] hjonnala commented on #611
can you try the demo changing this value to 0.

[2022-06-16 21:33] hjonnala commented on #612
Please check with tensorflow/tflite team regarding `Aborted (core dumped) `issue. https://github.com/tensorflow/tflite-support/issues

[2022-06-16 22:05] ghost commented on #612
I will do that. Thanks!

[2022-06-16 22:37] tehniemer commented on #611
Sorry, how do I change that value?

[2022-06-16 22:39] kampff opened #613 "Why is pycoral faster than libedgetpu (c API)?"
I am benchmarking MoveNet (Lightning) performance on a Raspberry Pi 4b (32-bit buster, 4Gb RAM, overlocked to 2 GHz, USB Accelerator) with "libedgetpu1-max" runtime installed.

I have compared inference performance (latency) using pycoral and libedgetpu's c API using the following minimal programs (attached, renamed as txt files...because...GitHub):

[benchmark_movenet_pycoral.py.txt](https://gith

[2022-06-16 23:01] hjonnala commented on #611
Please try the command below as super user:
`echo 0 >  /sys/class/apex/apex_0/hw_temp_warn2_en`

[2022-06-16 23:22] alexvazvi commented on #610
It doesn't work. It shows the same errors.

El jue., 16 jun. 2022 22:09, Hemanth-Jonnala ***@***.***>
escribió:

[2022-06-17 01:41] tehniemer commented on #611
Looks like the same results.

[code]

[2022-06-17 18:50] hjonnala commented on #610
Okay, can you please add the below lines [here](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L41) and share the logs.

[code]

[2022-06-17 18:59] hjonnala commented on #611
Okay, please revert revert the `hw_temp_warn2_en` value to 1.

Can you please try the demo  after unplug and plugin the device back to host machine, and restarting the machine.

Also please share the output of below command:

` lspci -vvv|grep -i MSI-X`

[2022-06-17 19:37] hjonnala commented on #613
Please compare average latency for at least 1000 inferences. And please check these issues it is expected that for some models  python API is faster than C API. https://github.com/tensorflow/tensorflow/issues/29746, https://github.com/tensorflow/tensorflow/issues/15552#issuecomment-396573076

MoveNet (Lightning)  has some operations running on CPU. The latency difference is due to difference betwe

[2022-06-18 18:59] bluearcher-bc commented on #334
EDIT: Disregard, problem solved - "Wireless" was disabled in the BIOS and this appears to shut down the M.2 slot entirely

[2022-06-20 03:28] sleyb commented on #256
Hi, would the below motherboard work with the dual edge tpu? I can’t tell if it is has two PCI lanes for the m.2 e key. If it doesn’t, what apparels have people been successful with?

https://www.msi.com/Motherboard/H510M-A-PRO

[2022-06-20 06:14] arun-kumark commented on #334
Thats great ! :)

[2022-06-20 11:18] fjzhangcr opened #614 "how to set a .sh command file auto run at mendel start?"
### Description

i have make a .sh file which contains the scrips to run a python file...
but how can i make it autorun the moment coral devboard boot?
i have try rename it as rc.local and chmod +x and put it in /etc/ ,but it fail to autorun at system reboot~~
pls tell me how, thank you

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

###

[2022-06-20 13:20] alexvazvi commented on #610
The logs

[code]

[2022-06-20 13:50] hjonnala commented on #610
Thanks! can you please try the share the output of below command:

[code]

And please try to run the demo script with sudo.

[code]

[2022-06-20 13:54] hjonnala commented on #614
Please try the steps mentioned at: https://stackoverflow.com/questions/57302900/how-do-i-run-a-python-script-on-boot-on-google-coral

Thanks!

[2022-06-20 13:56] #572 closed, assigned to hjonnala

[2022-06-20 13:58] hjonnala commented on #566
Closing the issue as the underlying problem is not relevant to Coral Specific. Here's the reproducible code without any Coral specific calls.

[code]

[2022-06-20 13:58] #566 closed, assigned to hjonnala

[2022-06-20 13:59] alexvazvi commented on #610
Oh, I haven't noticed, my bad.

[code]

[code]

[2022-06-20 14:05] #612 closed, assigned to hjonnala

[2022-06-20 14:05] #609 closed, assigned to hjonnala

[2022-06-20 22:10] tehniemer commented on #611
Same results after re-seating the device.

That command outputs nothing
[code]

[2022-06-20 22:11] tehniemer commented on #611
nevermind, forgot to sudo
[code]

[2022-06-20 22:28] hjonnala commented on #611
I am not sure how to enable MSI-X support for your host system. It seems MSI-X is disabled on your host system, which is required for [M.2/PCIE-e products](https://coral.ai/docs/m2/get-started/#requirements):
https://docs.kernel.org/PCI/msi-howto.html#how-to-tell-whether-msi-msi-x-is-enabled-on-a-device

[2022-06-20 23:06] tehniemer commented on #611
That was it. I had `pci=nomsi` in my `grub.cfg` file, removed that and all is well.

[2022-06-20 23:06] #611 closed, assigned to hjonnala

[2022-06-21 18:26] pedymaster commented on #491
What helped my solve the issue was this [reddit thread](https://www.reddit.com/r/VFIO/comments/l5awg0/using_google_coral_mpcie_tpu_in_qemu_vm/)
I put `options vfio-pci ids=1ac1:089a disable_idle_d3=1` into `/etc/modprobe.d/tpu.conf` rebooted and it worked like a charm.
My system is `Ubuntu 20.04.4 LTS` and I run M.2. cortex through adapter in PCI slot

[2022-06-21 18:51] kampff commented on #613
The benchmarks reported were run with 1000 iterations. Thanks for linking to the other issues. However, in my case, I discovered that I had compiled libtensorflow_c.so without XNNPACK, and given your insight that MoveNet uses many CPU-only OPS, this explains the performance difference.

Having rebuilt libtensorflow, I now achieve ***11 ms*** latency using the C API. All good, you can close the iss

[2022-06-21 18:51] #613 closed, assigned to hjonnala

[2022-06-21 19:44] hjonnala commented on #610
The calssify_image.py demo is working fine so you can disable the verbosity logs.

[2022-06-21 19:46] hjonnala commented on #605
can you please share the output of below command:

- lspci -vvv

[2022-06-23 05:43] jeffdunn opened #615 "Example hangs on new Coral USB TPU"
### Description

I'm having trouble with a brand new Coral USB TPU that I purchased. Some of the examples will hang (not 100% of the time, but most of the time). I suspect there must be some sort of deadlock and USB communication error.

Repro steps:
- Follow the instructions at https://coral.ai/docs/accelerator/get-started/#requirements to install TPU runtime with max frequency and PyCoral.
- Ins

[2022-06-23 09:05] fjzhangcr commented on #614
excellent solution！！thank you！

[2022-06-23 09:05] #614 closed, assigned to hjonnala

[2022-06-23 14:28] hjonnala commented on #615
This seems to be issue with [kernel version](https://ubuntu-bugs.narkive.com/i6kgAbRA/bug-1667750-new-xhci-hcd-error-transfer-event-trb-dma-ptr-not-part-of-current-td-ep-index-2-comp#post100). Please try with different host machine or kernel version. Thanks!

[2022-06-25 11:27] vleonn opened #616 "Change the Frequency of TPU on Dev Board"
Hello,

I know that the TPU accelerator module supports frequencies of 500MHz (default), 250MHz and 125MHz.

The question is, can you change between them on Dev Board? For example, set frequency = 250MHz.

I have not seen any relevant documentation for Dev Board.
The only information I have seen refers to the USB accelerator and the installation of the Edge TPU runtime on the host-PC (you can choo

[2022-06-27 13:35] hjonnala commented on #616
Hello @vleonn

Dev Board, uses SOM, is a PCIe based device. For PCIe-based devices, both packages behave the same because the PCIe driver performs [dynamic frequency scaling](https://coral.ai/docs/pcie-parameters/#use-dynamic-frequency-scaling) to adjust the operating frequency based on programmable temperature thresholds.

Please note that, You **cannot manually specify the Edge TPU operating fre

[2022-06-29 17:18] mjsobremonte commented on #550
This worked for me to remove the deprecation warning on Ubuntu 22.04 | 5.15.0-40-generic:

[code]

Credits [here](https://github.com/hashicorp/terraform/issues/30911#issuecomment-1107861907) and [here](https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html)

[2022-06-29 17:45] #524 closed, assigned to hjonnala

[2022-06-29 19:02] bsteiner-dandy opened #617 "Lock the Screen on Startup - Coral Dev Board"
How can I lock the screen at startup? Right now it automatically logs in if there is a keyboard and monitor attached. I am looking to add some basic security. Thanks!

[2022-06-29 19:25] hjonnala commented on #617
Unfortunately, Security features are not supported with Mendel OS as Coral development is primarily focused on embedded ML inference on the edge TPU. You may please try the solution provided here: https://stackoverflow.com/a/65240554/16660336. Thanks!

[2022-06-29 21:48] #537 closed, assigned to hjonnala

[2022-06-30 15:04] bsteiner-dandy opened #618 "How to Use Security Features on Coral for Encryption"
### Description

The documentation lists multiple security features that are included with the Coral:

Resource Domain Controller (RDC) supports four domains and up to eight regions
Arm TrustZone (TZ) architecture
On-chip RAM (OCRAM) secure region protection using OCRAM controller
High Assurance Boot (HAB)
Cryptographic acceleration and assurance (CAAM) module
Secure non-volatile storage (SNVS): S

[2022-06-30 15:04] #617 closed, assigned to hjonnala

[2022-06-30 15:22] vleonn opened #619 "2 Dev Boards on Windows10 PC (Problem: same IP)"
### Description

Hello,

I am on Windows 10 and I have successfully installed the MDT tool and flashed 2 Dev Boards.

When I connect only one of the Dev Boards, it takes the IP 192.168.101.2, and I can successfully log in either via "ssh" or "mdt shell".

The problem is when I connect both of them.

As you can see, they take the same IP:
$ mdt devices
neat-valet       (192.168.101.2)
neat-mole

[2022-06-30 16:52] hjonnala commented on #618
We don't directly support the security features for the imx8m, but we have used the crytographic processor to store security keys.
You can check the [coral cloud repo](https://coral.googlesource.com/coral-cloud/+/refs/heads/master).This enables using the [ecc608](https://coral.googlesource.com/coral-cloud/+/refs/heads/master/python/coral-cloudiot/coral/cloudiot/ecc608.py) for communicating with Go

[2022-06-30 22:14] hjonnala commented on #619
Please check the  **/etc/NetworkManager/system-connections/** folder,  there will be **gadget0.nmconnection** and **gadget1.nmconnection**. In that file, you can set a static ip address (for instance 192.168.101.3) that stays static with the board on the next reboot.

[code]

[2022-07-01 06:41] in-die-nibelungen opened #620 "fastboot does not work on Coral DevBoard Mini, be frozen with a message "musb-hdrc: peripheral reset irq lost!""
### Description

After an illegal power off, my Coral Dev Board Mini have not been able to boot up.
The attached [CoralDevBoardMini_Boot_Failed.txt](https://github.com/google-coral/edgetpu/files/9026513/CoralDevBoardMini_Boot_Failed.txt) is the log message when booting got from serial console.
Found some "failed" and "Could not" among this log such as:

- SELinux:  Could not open policy file <= /e

[2022-07-01 14:44] hjonnala commented on #620
Can you please try to [flash the board](https://coral.ai/docs/dev-board-mini/reflash/#force-boot-into-fastboot-mode) with Ubutnu 18.04 or Ubuntu 20.04. Thanks!

[2022-07-01 16:42] vleonn commented on #619
Thank you for the answer.

I changed in "gadget1", and then in both "gadget0" and "gadget1", the address1 to 192.168.101.3/24 (from 101.2).
However, it is still recognized as 192.168.101.2 in the host PC.

Update: Now I cannot even log in to the device via mdt shell.

[2022-07-01 16:56] hjonnala commented on #619
Please try to connect with [serial console](https://coral.ai/docs/dev-board/serial-console/#connect-with-windows) to revert the changes and change only one gadget(gadget0 or gadget1) which says 192.168.101.2 previously and reboot the device.

If you are not able to connect with serial console please [reflash](https://coral.ai/docs/dev-board/get-started/#flash-the-board) the board. Thanks!

[2022-07-01 17:41] vleonn commented on #619
Hello,

I just found the problem:
when I change the IP to 101.3 (only in gadget1, i.e., where it was 101.2), it is saved, but when I reboot it is reverted back to 101.2.

[2022-07-01 18:26] hjonnala commented on #619
Okay.. please try the below steps I am assuming Dev board is recognized with USB1 gadget:

1. **sudo vim /etc/dnsmasq.d/02-usb-gadget**

change this line as below: https://coral.googlesource.com/usb-gadget/+/refs/heads/master/etc/dnsmasq.d/02-usb-gadget#7

`dhcp-range=usb1,192.168.102.50,192.168.102.99,255.255.255.0,12h`

2. **sudo vim /usr/bin/usb-gadget-start.sh**

Change the logic here as below

[2022-07-01 22:06] in-die-nibelungen commented on #620
@hjonnala , Thanks for your comment!

I tried it now on Ubuntu 20.04 with python 3.8.10, but almost no change on both of host PC terminal and the serial console outputs.

One change on the host PC's terminal is that the following texts appears after running "bash enable_lk_fastboot.sh"

[code]

I've never seen this on Ubuntu 16.04. What does this mean? Especially, I'm concerned about "manually tog

[2022-07-01 22:14] estebanvalles commented on #453
I have a similar problem with compilation. Not sure if it should be part of this thread or a separate thread, but it seems to be an issue with weight conversion to int8

My model compiles when I create it **as long as I don't load my Tensorflow weights:**
- If I create the model, don't train or load weights, quantize and compile with the same settings as in this thread, things work.
- When I load

[2022-07-01 22:17] CoMPaTech commented on #491
fwiw - I had the `RAM did not enable within timeout` when accidentally switching my reserved memory in a (desktop) BIOS from 32 MB to 512 MB (for other reasons playing with additional GPU which didn't pan out). (Re)setting it to 32MB and the issue was gone, it might be worth a shot?

[2022-07-01 22:31] hjonnala commented on #620
Those logs are expected. Here is the complete reflash log: https://github.com/hjonnala/snippets/blob/main/devboardmini/flashlogs.md

[2022-07-02 06:00] will127534 commented on #280
![_DSC0396-Edit](https://user-images.githubusercontent.com/6110733/176988621-1b60a02f-c038-41aa-81be-e0afadc77208.jpg)]

Also just finish one using M key lol.
Was looking to check if Google or RPI fix this but oh well.

[2022-07-02 22:06] rosikand opened #621 "Coral.ai Edge TPU support with Jax + Flax?"
### Description

Would coral.ai's edge tpu support Jax + Flax neural network models?

<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Operating System

_No response_

### Coral Device

_No response_

### Other Devices

_No response_

### Programming Language

_No response_

### Relevant Log Output

_No response_</details>

[2022-07-03 23:53] in-die-nibelungen commented on #620
@hjonnala ,
Thanks for the prompt replay.

That's very helpful.
Could you tell me how long it will take for "INFO: Got /dev/ttyACM0" to appear after "INFO: Waiting to connect platform..." show up?
As for me, waited for more than 10 seconds after "INFO: Waiting to connect platform..." showed up (but nothing appeared on the terminal :( ).

The text outputs of "bash enable_lk_fastboot.sh" are as foll

[2022-07-04 11:11] MarioCavero opened #622 "Not being able to mount an Overlayfs"
### Description

I have been trying to set up the root filesystem of my coral dev board as an overlay (OverlayFS), with a lower layer RO and an upper layer RW. I have tried it with [overlayroot](https://github.com/chesty/overlayroot) and [this .sh](http://wiki.psuter.ch/doku.php?id=solve_raspbian_sd_card_corruption_issues_with_read-only_mounted_root_partition). Both uses for Raspbian, but state it

[2022-07-04 15:24] vleonn commented on #619
Hello, thanks for the help!
It worked.

Now, I am going to setup a 3rd device.

I will add in the respective files:

`dhcp-range=usb1,192.168.103.50,192.168.103.99,255.255.255.0,12h`

[code]

First attempt didn't work, but I will check it again.

[2022-07-04 20:28] lamaks opened #623 "Support Coral USB in WSL2 Docker"
### Description

I am trying to run Coral USB version on WSL2 in Docker Ubuntu 20.04 container. The USB Coral device is shared using [usbipd-win](https://github.com/dorssel/usbipd-win/wiki/WSL-support) tool. The Coral example works but still getting the error at the end of the detection run. This error prevent using Coral USB with other apps.

Is there any way to resolve this issue in this setup?

[2022-07-05 16:41] hjonnala commented on #621
We don't have official support for Jax+Flax models. But, these models can be run on Edge TPU if they can be converted to [full int8 tflite models](https://www.tensorflow.org/lite/performance/post_training_integer_quant) and can be compiled with [Edge TPU compiler](https://coral.ai/docs/edgetpu/compiler/).

Please check the Edge TPU model requirements and supported operations at: https://coral.ai/d

[2022-07-05 16:41] #621 closed, assigned to hjonnala

[2022-07-05 16:48] hjonnala commented on #620
This is not expected. I think re flashing the board would fix this issue. Please refer to the serial console logs at: https://github.com/hjonnala/snippets/blob/main/devboardmini/serailconsole_logs.txt#L285

[2022-07-05 16:49] #618 closed, assigned to hjonnala

[2022-07-05 16:53] #616 closed, assigned to hjonnala

[2022-07-05 16:53] #615 closed, assigned to hjonnala

[2022-07-05 16:54] hjonnala commented on #610
Feel free to reopen if you are still having any issues here. Thanks!

[2022-07-05 16:54] #610 closed, assigned to hjonnala

[2022-07-05 19:46] bsteiner-dandy opened #624 "Push MDT key for new user on Coral Dev Board"
### Description

I have created a new user and I would like to be able to `mdt shell` to connect as that user. However when I try to push the key I get `Unable to push keys to the device: Authentication failed.` What should I be doing differently?

This is the process I am using so far:
[code]

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Lin

[2022-07-05 23:39] in-die-nibelungen commented on #620
@hjonnala ,
Thanks for the respond.

I understood this is not expected.
Since the boot process is frozen after showing this message in the serial console when I enter it into 'fastboot' mode, I can't run re-flashing.
So, I'm having trouble on what to do next.

Thanks.
I looked through it and found it's the log in normal boot mode, right? I'd like to see one in fastboot mode, if possible.

Thanks,

[2022-07-05 23:42] lokesh-0706 opened #625 "Distinguish edge tpu models from regular tflite models"
### Description

While visualising several edge tpu models using netron I found 'edgetpu-custom-op' in all of them. Do all edge tpu models and only edge tpu models contain 'edgetpu-custom-op'? Can we use this 'edgetpu-custom-op' to differentiate edgetpu models from regular tflite models?
(I tried to get ops using interpreter._get_ops_details() in python )

<details><summary>Click to expand!</summa

[2022-07-06 02:32] hjonnala commented on #620
Hello @in-die-nibelungen  I don't see any logs on serial console while doing fastboot and It is recommended to connect Dev board mini only with usb cable while doing fastboot.

please check these comments for the next steps after these steps: https://github.com/google-coral/edgetpu/issues/505#issuecomment-972943815, https://github.com/google-coral/edgetpu/issues/505#issuecomment-973698267

[2022-07-06 02:34] hjonnala commented on #625
yes, you can use the edgetpu-custom-op to differentiate edgetpu models from regular tflite models: https://github.com/google-coral/edgetpu/issues/546#issuecomment-1050665727. Thanks!

[2022-07-08 03:55] KyawSawLIN opened #626 "problems on downloading required library"
### Description

I am trying to make use of GPIO pins of google coral dev board and I needed to download python peripheral library. But the problem occurs at downloading python library using command "python3 -m pip install python-periphery ". But the following error prompts and I cannot proceed anymore.

<details><summary>Click to expand!</summary>

 ### Issue Type

_No response_

### Operating Sy

[2022-07-08 14:21] hjonnala commented on #626
@KyawSawLIN  please try the below command. Thanks!

`python3 -m pip install --trusted-host files.pythonhosted.org python-periphery`

[2022-07-11 02:51] KyawSawLIN commented on #626
Thanks for your reply. That command still prompts the exact same error. Do you have any other ideas how to resolve?

[2022-07-11 17:47] hjonnala commented on #626
[The issue](https://python-forum.io/thread-12634.html) might be due to a corporate proxy/firewall/mitm-box is not allowing traffic to pypi.org and/or files.pythonhosted.org. Have you connected to the board with any restricted wifi network?

Can you try to install it with whl file: https://pypi.org/project/python-periphery/#files

python3 -m pip install https://files.pythonhosted.org/packages/00/2c

[2022-07-12 01:45] KyawSawLIN commented on #626
Thanks for your feedback. It works when I changed the network.

[2022-07-12 09:36] corvitacvision opened #627 "Runtime profile tool for edgetpu models"
### Description

Hello Google-Coral team, I would like to know that if there is any tool/api available to profile the runtime of edge tpu model. It would be great to have such tool which can be very helpful for model optimization.

<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Operating System

Ubuntu

### Coral Device

USB Accelerator, M.2 Accelerator A+E, M.

[2022-07-12 13:02] #626 closed, assigned to hjonnala

[2022-07-12 13:31] hjonnala commented on #627
Individual operation level profiling is not available for Edge TPU models.

Please refer to this link to compile the models based on profiling: https://coral.ai/docs/edgetpu/compiler/#profiling-partitioner

Thanks!

[2022-07-12 13:31] #627 closed, assigned to hjonnala

[2022-07-12 13:33] #519 closed, assigned to hjonnala

[2022-07-12 13:33] #625 closed, assigned to hjonnala

[2022-07-12 17:43] rodneyML commented on #620
I have the same issue. Did you manage to fix it @in-die-nibelungen ?

[2022-07-12 20:23] croissantpetrichor commented on #256
Would anyone know where to find a M.2 A+E key to Thunderbolt / USB 3.0 A adapter?

[2022-07-12 22:40] magic-blue-smoke commented on #256
@DougLorenz PCIe version is available now: https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter/issues/8#issuecomment-1181686907

m.2 version will be available late August-September

[2022-07-12 22:58] DougLorenz commented on #256
Thanks!  I've got one on order.

[2022-07-12 23:52] bantar76 opened #628 "New Coral Dev Board reboots on edgetpu_demo --device"
This is my 2nd Coral Dev Board, and I also have a Dev Board Mini.  Neither of those have had any issues like this.  Right now, after a fresh flash, the board is rebooting when I run  "edgetpu_demo --device".  "edgetpu_demo --stream" seems to work ok.  Before previous flashes I've had it reboot on any attempt to run edgetpu_demo --device or --stream, and it also went into a boot loop after one flas

[2022-07-13 03:10] bantar76 commented on #628
Hello again, I just plugged in a known good USB webcam and it fell into the boot loop again (immediately on plug in of the webcam).  Now, even with USB webcam removed, the boot loop remains.  I connected via serial console and captured console messages during boot loop.  Please advise.
[putty.log](https://github.com/google-coral/edgetpu/files/9098622/putty.log)

<edited> I tried flashing one more

[2022-07-13 08:59] tingggggg commented on #608
Hi @hjonnala ,

I meet the same issue when I compile my tflite model to tpu format.
[code]

I want to know how to find out which output that be set at `-i "flag"`  so that i can successfully complie my model to tpu format.
Is there a right way to find out?

thanks

[2022-07-13 15:06] hjonnala commented on #628
Hello @bantar76 , Can you please confirm that you are using 5V/3A power supply to the board and this power supply is working for the other Dev Board.

[2022-07-13 17:37] hjonnala commented on #608
@tingggggg you may try to compile the model for [each intermediate tensor](https://github.com/google-coral/edgetpu/issues/608#issuecomment-1151714602) and find the one which can map most operations to TPU. Here is an example on how to do it: https://github.com/hjonnala/snippets/blob/main/compiler/intermediate_serach_compilation.ipynb

Thanks!

[2022-07-13 19:56] bantar76 commented on #628
That was it, a bad power supply.  Many thanks!

[2022-07-13 19:56] #628 closed, assigned to hjonnala

[2022-07-14 02:14] in-die-nibelungen commented on #620
@reynhardtstef , not yet.

Followed @hjonnala 's advice below, but didn't fix it.

However, my board can boot up OS now after several trials of booting (without fastboot), where tried more than 40 or 50 times.
Let me know if you would like to know what I did more details.
I don't think it's recommended way and don't know it's helpful for your situation.

[2022-07-14 02:16] tingggggg commented on #608
Hi @hjonnala ,
Thank for your example.
I ran your example with my model, but still can not successfully converte my model(got `Compilation failed: Compilation failed due to large activation tensors in model.` on each intermediate tensor).
Do you have any ideas?

[2022-07-14 05:45] divemasterjm opened #629 "ValueError: Failed to load delegate from libedgetpu.so.1.0 on coral usb tpu"
### Description

im in ubuntu 22.04 LTS (GNU/Linux 5.15.0-39-generic x86_64), docker Docker version 20.10.14, build a224086349 and python3 3.10.4-0ubuntu2

run lsusb with the result Bus 001 Device 002: ID 1a6e:089a Global Unichip Corp.
there is no way to initialize usb acelerator
i run in docker frigate and get

Process detector:coral:
[2022-07-13 11:54:51] frigate.edgetpu ERROR : No EdgeTPU was d

[2022-07-14 18:23] hjonnala commented on #608
@tingggggg please share you model to debug the issue. You model input size op itself might be too big. Please try reducing the model input size. Thanks!

[2022-07-14 21:35] hjonnala commented on #629
can you try running either any [libcoral](https://github.com/google-coral/libcoral) example ([single model benchmark](https://github.com/google-coral/libcoral/blob/master/coral/single_model_benchmark.cc)) or [pycoral demo](https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu) on local system once and try the docker frigate.

The below single model benchmark file only works

[2022-07-15 03:11] yishinhung opened #630 "Download and configure the training data by docker issue"
Hi Coral team:
     I use the following link to training edgetpu model by docker. But, i encounter the following "110 Illegal instruction" issue.
Did you have any idea about this? Thank a lot!

- System enviroment:
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.3 LTS
Release:        20.04
Codename:       focal

- Reference link: https://coral.ai/docs/edgetpu/retr

[2022-07-15 09:28] divemasterjm commented on #629
this is the example model
juanma@juanma pycoral % python3 examples/classify_image.py \
--model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite \
--labels test_data/inat_bird_labels.txt \
--input test_data/parrot.jpg
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/tflite_runtime/interpreter.py", line 160, in load_delegate
    delegate = Delegate(libra

[2022-07-15 09:32] divemasterjm commented on #629
this is the test
root@pve:~/coral/pycoral# sudo chmod 770 single_model_benchmark
-bash: sudo: command not found
root@pve:~/coral/pycoral# chmod 770 single_model_benchmark
root@pve:~/coral/pycoral# ./single_model_benchmark --model /home/test_data/efficientdet_lite0_320_ptq_edgetpu.tflite
2022-07-15 11:31:22
Running ./single_model_benchmark
Run on (8 X 3800 MHz CPU s)
CPU Caches:
  L1 Data 32K (x4)

[2022-07-15 10:02] divemasterjm commented on #629
this is in another machine

2022-07-15 12:01:02
Running ./single_model_benchmark
Run on (8 X 3900 MHz CPU s)
CPU Caches:
  L1 Data 32K (x4)
  L1 Instruction 32K (x4)
  L2 Unified 256K (x4)
  L3 Unified 6144K (x1)
Load Average: 3.50, 3.35, 3.34
WARNING: Logging before InitGoogleLogging() is written to STDERR
F20220715 12:01:10.899340 159111 tflite_utils.h:236] Check failed: 'GetEdgeTpuContext(devic

[2022-07-15 10:42] divemasterjm commented on #629
on debian host

root@pve2:~/coral# ../single_model_benchmark --model test_data/mobilenet_v2_1.0_224_inat_bird_quant.tflite
2022-07-15 12:39:56
Running ../single_model_benchmark
Run on (4 X 2700 MHz CPU s)
CPU Caches:
  L1 Data 32K (x2)
  L1 Instruction 32K (x2)
  L2 Unified 256K (x2)
  L3 Unified 3072K (x1)
Load Average: 0.04, 0.16, 0.24
WARNING: Logging before InitGoogleLogging() is written to ST

[2022-07-15 16:31] HeywardLiu commented on #479
@hjonnala
Hi, I'm facing with same issue while compiling to an edgetpu model.
The following error are similar to poster.
[code]

The model to compile is converted from `pytorch` -> `onnx` -> `tensorflow` -> `fully quantized tflite`
Here's the error messages from code you post to run tflite model inference.

[code]

https://github.com/google-coral/edgetpu/issues/274
I also found a post said edgetpu

[2022-07-15 17:35] divemasterjm commented on #629
i've found also in dmsg, everytime i try i've got reset

[  744.412281] usb 1-4: new high-speed USB device number 25 using xhci_hcd
[  744.562248] usb 1-4: New USB device found, idVendor=1a6e, idProduct=089a, bcdDevice= 1.00
[  744.562252] usb 1-4: New USB device strings: Mfr=0, Product=0, SerialNumber=0
[  772.828156] usb 1-4: reset high-speed USB device number 25 using xhci_hcd
[  846.062913] us

[2022-07-15 18:31] HeywardLiu commented on #274
@PINTO0309
Hi, Is 5D-transpose still unsupport in the edgetpu compiler?
I'm trying to convert a model from `pytroch` -> `onnx` -> `tensorflow` -> `tflite`,
but I found there's additional 5D transpose ops have been added during conversion.

So, If edgetpu compiler still not support 5D-transpose operation,
I guess it is impossible to run my model on coral tpu?

Thank you for your attention and patie

[2022-07-15 19:04] hjonnala commented on #274
@HeywardLiu @PINTO0309
[Tensors](https://coral.ai/docs/edgetpu/models-intro/#model-requirements) have to be either 1-, 2-, or 3-dimensional. If a tensor has more than 3 dimensions, then only the 3 innermost dimensions may have a size greater than 1.

For example:
(1,320,320,3) and (1,3,320,320,1) --> supported
(320,1,320, 3) and (3,320,1,320) --> unsupported.

We don't have any plans to support te

[2022-07-15 19:33] HeywardLiu commented on #274
@hjonnala
I appreciate your message.
Thank you for your quick reply!

[2022-07-15 21:27] hjonnala commented on #629
can you  share the output of below command:

[code]

If you are getting the same output as above please try the demo with the below lines [here](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L41) and share the logs..

[code]

[2022-07-15 21:43] divemasterjm commented on #629
i've got same result
BuildLabel(COMPILER=6.3.0 20170516,DATE=redacted,TIME=redacted), RuntimeVersion(14)

root@pve:~/coral/pycoral# python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg
I tflite/edgetpu_manager_direct.cc:453] No matching device is already opened for shared owners

[2022-07-15 22:29] hjonnala commented on #629
It seems there is some issue with either the host machine or usb port. Please try with different host machine or with different usb ports. Thanks!

[2022-07-15 22:31] #274 closed, assigned to hjonnala

[2022-07-15 22:35] divemasterjm commented on #629
do you mean, with this parameters? cause i've tried in other machine and reseults where the same, this is a nuc, i can try in a laptop or mac mini

[2022-07-15 22:38] divemasterjm commented on #629
other usb port

I tflite/edgetpu_manager_direct.cc:453] No matching device is already opened for shared ownership.
I driver/driver_factory_default.cc:31] Failed to open /sys/class/apex: No such file or directory
I driver/usb/local_usb_device.cc:944] EnumerateDevices: vendor:0x1a6e, product:0x89a
I driver/usb/local_usb_device.cc:979] EnumerateDevices: checking bus[2] port[0]
I driver/usb/local_usb_

[2022-07-15 22:45] divemasterjm commented on #629
in a macbook

I tflite/edgetpu_manager_direct.cc:453] No matching device is already opened for shared ownership.
I driver/usb/local_usb_device.cc:944] EnumerateDevices: vendor:0x1a6e, product:0x89a
I driver/usb/local_usb_device.cc:979] EnumerateDevices: checking bus[20] port[1]
I driver/usb/local_usb_device.cc:998] EnumerateDevices: found [/sys/bus/usb/devices/20-1.1]
I driver/usb/local_usb_device

[2022-07-15 22:48] PINTO0309 commented on #274
Thanks.

[2022-07-15 22:53] divemasterjm commented on #629
in a laptop
I driver/driver_factory_default.cc:31] Failed to open /sys/class/apex: No such file or directory
I driver/usb/local_usb_device.cc:944] EnumerateDevices: vendor:0x1a6e, product:0x89a
I driver/usb/local_usb_device.cc:979] EnumerateDevices: checking bus[1] port[1]
I driver/usb/local_usb_device.cc:979] EnumerateDevices: checking bus[1] port[0]
I driver/usb/local_usb_device.cc:979] Enumerat

[2022-07-15 23:22] hjonnala commented on #629
Have you connected the USB accelerator via any USB hub? If so, please try connecting directly to the host machine USB port.

[2022-07-15 23:23] divemasterjm commented on #629
is connected to the host machine usb port

On Sat, Jul 16, 2022 at 1:22 AM Hemanth-Jonnala ***@***.***>
wrote:

[2022-07-16 14:20] divemasterjm commented on #629
i'm installing a debian 11 from scratch, just to avoid any interference, and only install coral demo, do you have some more advise?
its a hp laptop from 2017
after install everything, same results
can you please help me? maybe a defective unit?

[2022-07-16 16:41] hjonnala commented on #630
I am not able to reproduce this issue. It might be that [TensorFlow](https://tech.amikelive.com/node-887/how-to-resolve-error-illegal-instruction-core-dumped-when-running-import-tensorflow-in-a-python-program/) has crashed even before it does anything.

Here are the full successful logs for the above command: https://github.com/hjonnala/snippets/blob/main/docker/download_training_data_log.txt#L124

[2022-07-17 15:00] ropeguru commented on #256
A downside having to order from China right now…

Destination
Origin - Sync Time: 2022-07-17 10:55:58 (GMT-04:00)
2022-07-17 21:29
杭州萧山国际操作中心, During epidemic period, resources are significantly restricted and we don’t promise any transit time. We are trying our best to coordinate the resources to arrange export.

From: magic-blue-smoke ***@***.***>
Sent: Tuesday, July 12, 2022 6:41 PM
To: google-

[2022-07-18 02:00] tingggggg commented on #608
[model.zip](https://github.com/google-coral/edgetpu/files/9129056/model.zip)
@hjonnala this is my model(fcn architecture).
I will try your hint about model input size. Thanks!

[2022-07-21 16:56] #630 closed, assigned to hjonnala

[2022-07-21 17:01] hjonnala commented on #619
Feel free to reopen if you are still having issues here. Thanks!

[2022-07-21 17:01] #619 closed, assigned to hjonnala

[2022-07-22 01:38] yishinhung commented on #630
Hi @hjonnala
     I found it is related about our cpu don't support the avx by cat /proc/cpuinfo.
I change the cpu supported avx and then don't happen the crash.
Thank your help!

[2022-07-22 06:27] southwestflavorz commented on #343
I'm experiencing the same issue. I've been pulling my hair out for the last several hours thinking I was missing something, but I guess this is a known issue. Doing passthrough via ESXI 7 just does not work! It's a shame to have to invest in another dedicated server just to use this :(

[2022-07-22 07:59] martinikolaev commented on #343
Unfortunately I had to migrate some of my servers to Proxmox :(

[2022-07-22 08:00] martinikolaev commented on #343
Unfortunately I had to migrate some of my servers to Proxmox :(

[2022-07-22 10:31] KillahB33 commented on #343
I migrated my one server to proxmox as well. It wasn't as bad as I was expecting but I was only running UnRaid and a VM for Docker.

[2022-07-22 15:38] divemasterjm commented on #629
change unit and now works from first time, thanks for your help

[2022-07-22 15:49] hjonnala commented on #629
@divemasterjm Thanks for the update..

[2022-07-22 15:49] #629 closed, assigned to hjonnala

[2022-07-22 23:09] 0xE1 commented on #579
Depends on the slot, some have NC, some NO. At least they all seem to be connected to ground.

For example
MEM2061-01-188-00-A is NC
and DM3CS-SF is NO

[2022-07-26 17:06] motilal76 opened #631 "ERROR: Didn't find op for builtin opcode 'CONV_2D' version '6'"
Tensorflow 2.9.1, edgetpu_compiler 16.0

ERROR: Didn't find op for builtin opcode 'CONV_2D' version '6'. An older version of this builtin might be supported. Are you using an old TFLite binary with a newer model?

ERROR: Registration failed.

[2022-07-26 17:50] hjonnala commented on #631
@motilal76  please try with Tensorflow version 2.8.2. Thanks!

[2022-07-26 19:46] motilal76 commented on #631
for 2.8.2 it throws an error

/usr/local/lib/python3.8/dist-packages/keraslayers/convolutional.py:233 Error 'tf.Conv2D' op is neither a custom op nor a flex op

[2022-07-26 19:47] motilal76 commented on #631
Thanks Hemanth,
for 2.8.2 it throws an error

/usr/local/lib/python3.8/dist-packages/keraslayers/convolutional.py:233 Error 'tf.Conv2D' op is neither a custom op nor a flex op

    On Tuesday, July 26, 2022, 10:50:18 AM PDT, Hemanth-Jonnala ***@***.***> wrote:

@motilal76 please try with Tensorflow version 2.8.2. Thanks!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are r

[2022-07-26 20:16] hjonnala commented on #631
Does this error occur during tflite conversion, if so please check with tflite support team at: https://github.com/tensorflow/tflite-support

[2022-07-26 20:27] motilal76 commented on #631
Yes thats for conversion. What is the issue with 2.9.1 though? Seems like conversion goes through smoothly with that version but edgetpu_compiler bombs outMoti

    On Tuesday, July 26, 2022, 01:16:23 PM PDT, Hemanth-Jonnala ***@***.***> wrote:

/usr/local/lib/python3.8/dist-packages/keraslayers/convolutional.py:233 Error 'tf.Conv2D' op is neither a custom op nor a flex op

Does this error occur d

[2022-07-26 21:57] hjonnala commented on #631
Current compiler uses [tflite runtime 2.5.0 post1](https://github.com/google-coral/py-repo). Please check if your tflite model is able to run [inference](https://github.com/hjonnala/snippets/blob/main/coral_inference.py) with this runtime. If not then you may try with lower version of tensorflow (e.g, 2.8, 2.7, 2.6, 2.5).

[2022-07-28 23:39] magic-blue-smoke commented on #605
@dylan-alfi
Dual TPU card has two independent TPUs and each TPU requires it's own PCIe bus, ie not PCIe x2 lanes, but rather 2xPCIe x1

I went through [CT-MCL01 manual](https://premio.blob.core.windows.net/premio/uploads/resource/user-manual/CT/UM_CT-MCL01_Generic.pdf) and block-diagram on page 8 shows PCIe lanes 19 and 20 are going to m.2 E-key slot. Later in that document in BIOS section there's

[2022-08-01 09:51] joriham opened #632 "Tpu mpcie-version is not showing up"
### Description

I've a confirmed working Coral TPU, with Windows 11 and mpcie=>pcie adapter I can use the TPU for example to recognize the Parrot. So I think hardware is fine.

When I swap the same TPU to mini-pc with mini pci-e slot coral plugs in fine to physical port, but on Debian 11 OS with lspci -nn I cannot see any trace of 089a-device, nor in dmesg looking for PCI.

Mini-PC is topton pfse

[2022-08-01 13:06] joriham commented on #632
Ok, via server the home -site I found manufactor changwang.com and there is some documentation of the motherboard. Naturally in Mandarin. With Google Lens I was able to make something out of it.

Basically it says:
Expansion slots:
1*Mini-PCIE slot support WIFI, 3G, 4G modules
1xM.2 slot, support PCIE signal, SSD hard disk module

**Note: MINIPE is USB signal, only supports USB signal module**

So

[2022-08-01 18:21] basilfx opened #633 "USB Accelerator not showing up"
### Description

I just received my Coral USB Accelerator, but it does not seem to work.

When I plug it in, I don't see any `dmesg` or `lsusb` messages. Tried different cables (USB-C -> USB-C, USB-C -> USB3) and different systems (Linux, MacBook Pro, Raspberry Pi3). The on-board led also does not light up.

Did I receive a defective device? Is there anything else I can try?

<details><summary>Cli

[2022-08-01 19:41] hjonnala commented on #633
Hello @basilfx  If there is no issue with the USB cable and USB port then the device is defective. Please reach out to the original place of purchase to get this product replaced. Thanks!

[2022-08-01 19:53] basilfx commented on #633
OK, thanks for your response. Was hoping for something I could try/did wrong, but I'll contact the seller and get it replaced.

[2022-08-01 19:53] #633 closed, assigned to hjonnala

[2022-08-01 21:11] Jorgeuri opened #634 "u-boot reflash problem"
### Description

Working with the Coral SOM i accidentaly erased u-boot from the system. I'm trying to flash directly to the eMMC with the u-boot that is provided by google in "Get started with the System-on-Module" with uuu but it gets stuck in "Back to ROM, SDP" .  Since i'm using a personal carrier i cant boot it with a SD , only with USB . Is there any new "u-boot" that i can use or are there

[2022-08-02 08:00] joriham commented on #632
By anything I mean CoralTPU firmware upgrade etc

[2022-08-02 19:28] derTim opened #635 "M.2 Accelerator B+M key only available after cold boot"
I own the B+M M.2 version for some time, and it was working fine with a cheap M.2 > PCIe X4 Adapter (N-M2X4) in my old system.

To save some power, i replaced the system with a Fujitsu Futro S740 Thin Client, which has a J4105 Gemini Lake SOC.

- Mainboard: Fujitsu D3544-A14 (stripped down version of a Kontron D3544-S1/2/3)
- M.2 A/E Key Slot with a A/E -> M.2 M/B Adapter (Amazon ASIN: B07887N7RH)

[2022-08-02 21:40] hjonnala commented on #634
Hello @Jorgeuri we don't support UUU. Please try the fastboot, it's purpose is flashing the eMMC over USB, by following the regular steps at: https://coral.ai/docs/dev-board-mini/reflash/#first-time-setup. Thanks!

[2022-08-03 02:28] dldldlfma opened #636 "tflite(uint8) model's accuracy is not match original tf model (VGG16 & MobileNetv2 is good but EfficientNetV2xx is bad)"
Hello Coral !

I try to convert trained model to Coral TPU tflite model

before the compile it

i tested my model on my MacBook

My result is strange.

Why accuracy is not match with original model?

Some model is fine.. like MobileNetv2 or VGG16.

But EfficientNetV2B0 or EfficientNetV2B1 is not match with original model's accuracy.

i attached two train log which are EfficientNetV2B0 and VGG16.

[2022-08-03 12:39] hjonnala commented on #636
Hello @dldldlfma

Please check with tflite team regarding accuracy drop from original tf model to quant tf lite model at :https://github.com/tensorflow/tflite-support

Thanks!

[2022-08-03 12:39] #636 closed, assigned to hjonnala

[2022-08-03 12:45] hjonnala commented on #635
Please check with [proxmox community](https://forum.proxmox.com/threads/lost-of-pci-device-even-after-reboot.74871/) on why the devices are not showing up after reboot. Thanks!

[2022-08-03 23:12] magic-blue-smoke commented on #632
@joriham
mPCIe slot has USB interface on pins 36/38 and it's not multiplexed with PCIe signals. From [Mini PCIe Accelerator pictures](https://coral.ai/products/pcie-accelerator) I see that USB pins are physically missing
This means that slot is missing PCIe interface, Coral card is missing USB interface.
If you're not using m.2 slot, try to find adapter from m.2 to mPCIe, however with quick search

[2022-08-04 07:47] joriham commented on #632
Thank you @magic-blue-smoke for full answer, so it is missing pins.

So I just wonder why the bus is not named separately, like "mpci-e" vs "mpci-usb" as if bus does not contain pci-express signals. Now it fools normal consumers.

Unfortunately M.2 is already occupied with MVNE drive so it cannot be used. So the mini pci-e was only free port on MB.

[2022-08-04 20:47] Jorgeuri commented on #634
Hi @hjonnala , i erased the fastboot , is there another way to flash the eMMC without using SD  ?

[2022-08-05 08:32] #632 closed, assigned to hjonnala

[2022-08-05 12:02] youngsooroh opened #637 "Edge TPU access denied for new users on Coral Dev Board"
Only the "mendel" user seems to have access privilege to the EdgeTPU.
I have been trying to run Posenet example on the coral dev board using another user rather than the default "mendel" user, but I was not able to do this yet. I wasn't able to find any resources on the web or any documentation about this topic.

OS: Linux wishful-snail 4.14.98-imx #1 SMP PREEMPT Tue Nov 2 02:55:21 UTC 2021 aarch6

[2022-08-05 12:57] Boppel11 opened #638 "Hi, Here are some log details with Linux Machine."
Hi, Here are some log details with Linux Machine.

[code]

- At this point, please use a wire to connect the KPCOL0 test point to ground, as shown in figure 2. Ideally, use a female-to-male jumper wire, with the female end attached to pin 39 on the GPIO header (ground), and then hold the male end firmly on the test point.

-  While maintaining a firm connection with the jumper wire, carefully conn

[2022-08-05 13:54] hjonnala commented on #638
Hello @Boppel11 have you tried with either LInux or MacOS host machine?

[2022-08-05 14:06] Boppel11 commented on #638
Thanks for your reply,
First I only tried with Win10 but dint come anywhere so I tried it with
MacOS, wich didnt work out as well so I've finally installed Linix Ubuntu,
and in it I can come to the point has benn described in your post.

Hemanth-Jonnala ***@***.***> schrieb am Fr. 5. Aug. 2022 um
15:55:

[2022-08-05 15:20] Boppel11 commented on #638
![image](https://user-images.githubusercontent.com/71565754/183108294-4c629bb1-a0c3-415b-bce5-dceb43f5c46d.png)
This is what was going on in the terminal, it just doesn't work the way described on the coral.ai website...

[2022-08-05 15:23] hjonnala commented on #638
It seems fastboot is not installed. Please complete the first time setup: https://coral.ai/docs/dev-board-mini/reflash/#first-time-setup

[2022-08-05 15:26] Boppel11 commented on #638
![Screenshot from 2022-08-05 17-24-04](https://user-images.githubusercontent.com/71565754/183109672-9a9ba176-f4a9-400c-8eae-f1213d1cd032.png)
fastboot 28.0.2- debian is and was installed when trying... can I get another version of it?

[2022-08-05 15:37] hjonnala commented on #638
Have you reload the udev rules, added your user name (florian) to the dialout and plugdev group and **[reboot](https://coral.ai/docs/dev-board-mini/reflash/#first-time-setup)** the machine?

[code]

[2022-08-05 15:55] Boppel11 commented on #638
I'm not sure if I had, but the top one definitely not... Now I have, but sadly I can't spot a single difference to before...

[2022-08-05 16:15] hjonnala commented on #638
Please remove the fastboot and try the entire setup from scratch.

- sudo apt-get purge fastboot
- https://coral.ai/docs/dev-board-mini/reflash/#first-time-setup
- https://coral.ai/docs/dev-board-mini/reflash/#force-boot-into-fastboot-mode

[2022-08-05 18:12] hjonnala commented on #637
Please try the below steps to run simple_pose.py with other user(mendel2):

[code]
`mendel@deft-goose:~$ sudo usermod -aG sudo mendel2`

`mendel@deft-goose:~$ sudo su mendel2`

[code]
Ref: https://www.freecodecamp.org/news/the-ultimate-guide-to-linux-creating-a-sudo-user/

[2022-08-05 19:57] Boppel11 commented on #638
Update: I have done:
sudo apt-get purge fastboot
sudo apt-get install fastboot
sudo udevadm control --reload-rules && sudo udevadm trigger
sudo usermod -aG plugdev,dialout florian

then checked if all Python packages are still installed so:
python3 -m pip install pyftdi pyserial
python3 -m pip install --user mendel-development-tool

and then I rebooted and tried to force into fastboot mode as I al

[2022-08-05 20:19] hjonnala commented on #638
I have seen users having issues to fastboot with Ubuntu. Which Ubuntu version are you using? Are you trying to do fastboot on native LInux host Machine or on a virtual machine installed on win 10?

https://github.com/google-coral/edgetpu/issues/620
https://github.com/google-coral/edgetpu/issues/505#issue-1056967225

[2022-08-05 20:28] Boppel11 commented on #638
I'm using Ubuntu 20.04 installed beside my Win10, but not virtual machine...  Can you recommend another version of Linux? I'm only using it for that one project...

[2022-08-05 21:17] hjonnala commented on #638
I have the below OS on my Linux machine.

$ uname -a
Linux  5.17.11-1rodete2-amd64 #1 SMP PREEMPT Debian 5.17.11-1rodete2 (2022-06-09) x86_64 GNU/Linux

[2022-08-06 10:03] Boppel11 commented on #638
I couldn't find the version 5.17.11, so I'm now installing debian version-11.4.0 let's hope it works, thanks for the recommandation!

[2022-08-06 13:30] Boppel11 commented on #638
Debian version-11.4.0 is now installed, and I've done the first time setup again, installed the python packages, and tried to forceboot, but no success again...

[2022-08-08 15:15] youngsooroh commented on #637
@hjonnala Thanks for the update.

It's not the perfect solution since you need to run the script as sudo, nonetheless, better than nothing since I can at least make use of the EdgeTPU. I do still think that we should be able to run the script without sudo privilege as you can do with the "mendel" user.

Regards,

[2022-08-08 21:14] hjonnala commented on #638
Wondering if you have [Raspberry pI 4b](https://www.raspberrypi.com/products/raspberry-pi-4-model-b/) as I am able to forceboot Dev Board Mini with this device also.
[code]

[2022-08-08 22:29] hjonnala commented on #637
To run without sudo,
try adding the below groups to new user:

[code]

and add the below line to at the end of `sudo visudo /etc/sudoers `file:
`mendel2 ALL=(ALL) NOPASSWD: ALL`

and reboot the device.

[code]

[2022-08-08 23:13] youngsooroh commented on #637
@hjonnala It works, thanks.

[2022-08-08 23:14] #637 closed, assigned to hjonnala

[2022-08-09 11:03] ZXRobotum opened #639 "Can't compile driver on my DEBIAN Linux - System ...."
Hello all,

I have installed DEBIAN "bookworm" in the latest version: 5.18.0-3-amd64 #1 SMP PREEMPT_DYNAMIC Debian 5.18.14-1 (2022-07-23) x86_64 GNU/Linux on my computer.

Until recently I was able to use the M2.Coral card, but now (after kernel update) the system can no longer find this card and I can no longer activate it.

What can I do or is there already a remedy for this?
Best regards Z. Mat

[2022-08-09 19:57] hjonnala commented on #624
@bsteiner-dandy Please try the below steps:

[code]

`mendel@deft-goose:~$ sudo vim /etc/passwd`
modify the test user line as : `test:x:1000:1000:,,,:/home/mendel:/bin/bash`

mendel@deft-goose:~$ sudo vim /etc/ssh/sshd_config
Add the below line at the end of /etc/ssh/sshd_config file:
`AllowUsers test`

`mendel@deft-goose:~$ sudo reboot now`

[code]

[2022-08-12 15:33] bsteiner-dandy commented on #624
I tried this process, but in the mdt shell, I ran `whoami` and it reports "mendel"

[2022-08-12 16:14] hjonnala commented on #624
Please try echo "$USER". The output of the whoami command is slightly different from $USER because whoami outputs the username that the user is working under, whereas $USER outputs the username that was used to log in

[code]
https://en.wikipedia.org/wiki/Whoami#:~:text=On%20Unix%2Dlike%20operating%20systems,was%20used%20to%20log%20in.

[2022-08-12 16:17] bsteiner-dandy commented on #624
I see, thank you

[2022-08-12 16:17] #624 closed, assigned to hjonnala

[2022-08-14 09:58] Boppel11 commented on #638
Thank you so much hjonnala for your help, a friend of mine was able to help me and the board is now running as expected.

[2022-08-14 09:58] #638 closed, assigned to hjonnala

[2022-08-14 10:02] Boppel11 opened #640 "Power Coral Dev Board Mini over GPIO Pins"
### Description

I'm not sure if I can power the board over the board over the GPIO Pins...

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install, Feature Request

### Operating System

Mendel Linux

### Coral Device

Dev Board Mini

### Other Devices

_No response_

### Programming Language

Other

### Relevant Log Output

_No response_</details>

[2022-08-14 14:38] tehniemer opened #641 "Second TPU on dual M.2 Accelerator not working, Failed to load delegate from libedgetpu.so.1"
### Description

I have a dual TPU M.2 accelerator, both devices are seen by the system and the first device is working properly in [Frigate](https://github.com/blakeblackshear/frigate), but the second device is not. When I run the test from the [Getting Started](https://coral.ai/docs/m2/get-started/#pycoral-on-win) page I see a similar error to what I was experiencing [here](https://github.com/go

[2022-08-15 10:45] Abdol opened #642 "Environmental Sensor Board Inaccurate Readings"
Hello,

I’d like to report strange reading taken from the Environmental Sensor Board attached to the Coral Dev Board. Using the official sample code provided, the temperature, humidity and luminosity readings were significantly less accurate than reported in the tech specs.

Below is a table of comparison between the Environmental Sensor Board and reference meters. I haven’t tested barometric pres

[2022-08-15 15:23] hjonnala commented on #640
Yes, You can power the Dev Board Mini by connecting a DC power supply to the 5 V pins on the GPIO header. Please check page 13 for board operation at: https://coral.ai/static/files/Coral-Dev-Board-Mini-datasheet.pdf

[2022-08-15 15:41] hjonnala commented on #641
can you please share the output of below command. Thanks!

- `lspci -vvv|grep -i MSI-X`

[2022-08-15 17:51] tehniemer commented on #641
[code]

[2022-08-15 18:56] sairaghava7 opened #643 "Edge TPU Compilation Error"
I'm trying to compile a tifle model so that I can use it on an edge device, which is the error I'm getting. Does anyone know anything about it?

Edge TPU Compiler version 16.0.384591198
/usr/bin/edgetpu_compiler: line 3:  1531 Segmentation fault      (core dumped) ${d}/edgetpu_compiler_bin/ld-linux-x86-64.so.2 --library-path ${d}/edgetpu_compiler_bin ${d}/edgetpu_compiler_bin/edgetpu_compiler "$@"

[2022-08-15 19:20] hjonnala commented on #643
Please try to compile the tflite model with this colab: https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb

[2022-08-16 14:43] didi767 opened #644 "Error gathering device information while adding custom device "/dev/apex_0": not a device node"
Hi Everyone,

Having this issue and for the last few hours, I tried to troubleshoot it with various suggestions and examples I found that worked for others. It's not like any other Issue I found but I based my configuration on those settings.

getting this error message while trying to start the docker-compose:

Recreating a8cfc9c069ee_frigate ... error

ERROR: for a8cfc9c069ee_frigate  Cannot sta

[2022-08-16 20:48] chpego commented on #644
https://github.com/google-coral/edgetpu/issues/556

[2022-08-16 20:58] schmiegelt commented on #556
Just as an addition to this previous comment:

Apparently I had a kernel version which did not have headers in the repository, by manually installing a newer version it worked.
See this [article](https://wiki.debian.org/HowToUpgradeKernel) for reference.

[2022-08-17 00:47] tehniemer commented on #641
@hjonnala, do you have any next steps?

[2022-08-17 14:11] hjonnala commented on #641
Seems to be issue with host system configuration, not sure how to fix it. Can you try this example without frigate container on your host machine: https://github.com/google-coral/pycoral/blob/master/examples/model_pipelining_classify_image.py

[2022-08-17 16:31] #640 closed, assigned to hjonnala

[2022-08-17 23:33] aslanpour commented on #99
I face this error when a container loads an object detection model while a previous container has done so already. The older container fails and the new one gets the TPU, but I have no idea how to catch the error so the container does not fail.

[2022-08-18 00:04] aslanpour opened #645 "Allowing multiple users use a single loaded model on CORAL TPU"
Hi, I just ran an object detection using the prebuilt SSD Mobilenet v1 model on the CORAL TPU device. It is working perfectly as a python code in a Flask framework.
Then, I turned the code into containers. Once the container runs, it loads the model to the TPU device and sets an interpreter variable. That is also fine and just needs some access to USB and stuff.
However, I would like to run multip

[2022-08-18 14:52] didi767 commented on #491
Do you mean to add it to the Proxmox machine itself?

[2022-08-18 21:22] dmitriykovalev commented on #645
Hi @aslanpour, TPU device is not designed to be (easily) shared between several processes or containers. As an option you can try to implement client/server architecture, i.e. server owns the TPU device and handles inference requests from multiple clients. Otherwise you need some mechanism to implement mutual exclusion between containers (e.g. you could try file system locks).

[2022-08-19 02:56] synaption commented on #634
Hey @Jorgeuri did you get anywhere with uuu?  I'm trying to do that now.  Also if you put an image on an sd card that has uboot with fastboot, you can boot from that and use it to load the emmc with fastboot.  The stock mendel sd card should work.  I am interested in uuu for mass flashing at the "factory".

[2022-08-21 02:01] tehniemer commented on #641
It's odd, because at one point both tpus were working in Frigate.

Here's the output from trying to run that model on the host machine:
[code]

[2022-08-21 18:21] sairaghava7 opened #646 "Inferences are taking 8 seconds on the dev board"
I'm working on age and emotion recognition using a coral board. The inferences on my development machine are about 120 ms but whereas the inferences on the board take 6-8 seconds. I'm using quantized models and compiled them for edge tpu. Can anyone take a look at my code and provide suggestions?

from tensorflow.keras.utils import img_to_array
from keras.preprocessing import image
import cv2
impo

[2022-08-22 08:15] pedymaster commented on #491
I dont do proxmox / virtualization. I have it on baremetal.

[2022-08-22 11:57] Victor-Martinez-Pozos commented on #526
I have been searching for an alternative to connect multiple cameras, I thought that the easiest way of doing this is by using usb cameras and an adapter
but I found here https://github.com/google-coral/edgetpu/issues/319 that it is not possible due to usb 2 limitations, I also search between the multi cam adapter but I couldn't find any of them suitable for the coral, finally I found this alterna

[2022-08-22 19:06] Path-A commented on #527
@hcindyl @hjonnala  Is there a way to disable emergency mode? Our board will be placed in a location that is almost always unreachable and we would like it to attempt booting after a power failure.

[2022-08-22 19:16] hjonnala commented on #646
Hi @sairaghava7 Seems to be you are running the tflite models(which are not compiled for EdgeTPU) on Dev Board. The performance difference is due to your desktop CPU and Dev Board CPU.

Feel free to try some pycoral examples located at: https://github.com/google-coral/pycoral/tree/master/examples

[2022-08-22 21:09] alcandelario commented on #529
Hi @hjonnala , the original poster (and myself now) are asking for confirmation of the required bootmode 1:0 settings for an emmc based boot, and if there are any other core signals that must be in known states for emmc boot to work as intended.

The official coral schematic shows 00 as "boot from fuses" which was assumed how emmc boot was achieved but even if not this page seems to suggest 1:0 is

[2022-08-22 22:45] hjonnala commented on #529
Hi @alcandelario the default configuration to boot SOM from eMMC is
BOOT_MODE0=0,  BOOT_MODE1=1, SAI1_TXD4 =0 and SAI1_TXD5=1

[2022-08-23 16:44] markmghali opened #647 "Unraid PCIe issues"
### Description

Hello,

I have been trying to get your PCIe adaptor to work for a few months now with no luck. I am using unraid with Frigate v0.10 Docker container. I can see both TPUs as apex_0 and apex_1. Symptom is Frigate will un for a bot then I get a PCIe error in my syslog for unraid. IT will then shutdown one of the TPUs and the Temp goes negative. I have posted my issues in the Frigate

[2022-08-23 17:57] hjonnala commented on #647
Hi @markmghali can you please share how did you turn off pcie_aspm. have you added pcie_aspm=off to the  `/boot/extlinux/extlinux.conf`?

[code]

[2022-08-23 18:10] markmghali commented on #647
I disabled it via BIOS on my motherboard

![image](https://user-images.githubusercontent.com/17356528/186232710-85105730-b7fd-45cd-b0d0-afdd0f6b1553.png)

![image](https://user-images.githubusercontent.com/17356528/186232743-a40fdd78-f937-434a-af5c-5bb2a136ea12.png)

let me look at this file and let you know

[2022-08-23 18:15] markmghali commented on #647
I am on unraid it does not seem to have an extlinux folder. seems like the other user added it to their syslinux config? not sure how to check that

![image](https://user-images.githubusercontent.com/17356528/186233642-03814fd4-9016-428e-b041-1c72682411fb.png)

[2022-08-23 22:35] hjonnala commented on #642
Hello @Abdol , temp inaccuracy could be due to the Enviro sensor board is above the heat sink. Can you please try to check the accuracy by connecting the sensor board via ribbon cable. Thanks!

Ribbon cable: https://www.amazon.com/dp/B07D991KMR?psc=1&ref=ppx_yo2ov_dt_b_product_details

![20220823_133006](https://user-images.githubusercontent.com/86132058/186277902-5eb726fc-df91-4487-b84c-ce4419a89

[2022-08-25 05:43] Bomberski commented on #232
![Screenshot_20220819-020910_AliExpress](https://user-images.githubusercontent.com/51887282/186584149-e89528f6-539f-4133-ad37-2dc1be9d1ec9.jpg)

Tape works with this one...

[2022-08-25 19:58] hjonnala commented on #643
Hi @sairaghava7  are you still having the issue with the compiler?

[2022-08-25 19:59] #645 closed, assigned to hjonnala

[2022-08-29 15:23] eagle239 commented on #256
apologies, I did review this whole thread....I just received my dual edge TPU 2 days back.

I have previously bought a miniPCIe to M.2 e-key adapter. so far, so good.

Will a miniPCIe to PCIe x1 adapter work, as in will both TPUs be visible to the system. My Debian based system has a PCIe 3.0 x4 slot.

...or is the only viable solution to use both CPUs of the dual-edge to use https://www.makerfabs

[2022-08-29 18:20] cdrose commented on #256
Can I ask where from? Do you know of someone who has stock at the moment?

[2022-08-29 21:11] PrplHaz4 commented on #256
mouser just shipped what appears to be a large number of orders on the dual coral

[2022-08-30 00:58] tehniemer commented on #641
I swapped the card into another machine, and everything works as expected. I then moved the card back to the original machine, but in a different slot and it worked as expected. Then I moved it back to the original slot and the problem is back.

Another tidbit of information is that when I moved to a different slot in the same machine my network adapter was renamed, and I lost all network access.

[2022-08-30 14:07] MrGibbage opened #648 "Coral Dev Board + Raspberry Pi "Build Hat" (Lego)"
### Description

I am trying to use the "Raspberry Pi Build Hat"
https://www.raspberrypi.com/documentation/accessories/build-hat.html
with my dev board. This build hat has ports for connecting lego motors and sensors. The problem is, when I have the hat mounted on the dev board, it doesn't boot up. The fan comes on, the red LED comes on, but I can't mdt in to the board and nothing comes out of the

[2022-08-31 00:12] tehniemer commented on #641
I was able to get both working again by removing the associated PCI devices and rescanning, however, this fix does not survive a reboot.
[code]
[code]
[code]

[2022-08-31 10:28] tehniemer commented on #641
I think I misunderstood your request here.

I figured out the problem I was having wasn't really a problem after all, turns out the host machine can't use a PCI device that has been passed into a docker container. Once I realized that I determined everything is working properly.

[2022-08-31 10:28] #641 closed, assigned to hjonnala

[2022-08-31 10:41] Abdol commented on #642
Thanks @hjonnala for the suggestion. I'll update you once I get my hands on a ribbon cable.

[2022-08-31 19:41] hjonnala commented on #648
We don't think RPI PI hat is supported because Dev Board pins doesn't really match with the pi hat. Please check with RPI community also if he anyone has tried it: https://forums.raspberrypi.com/search.php?keywords=coral

[2022-09-01 17:50] synaption opened #649 "How to use Serial Download"
### Description

I am trying to be able to use the serial download functionality to be able to recover my coral som attached to a custom base PCB (currently I am just using the dev board).  Are there any resources on how to make this work?  I am compiling my own uboot, so any help with the config would be helpful.  So far I have added:
[code]
This config works, and has fastboot.  I can upload it w

[2022-09-01 19:27] sairaghava7 commented on #643
The issue has been resolved. Thanks!

On Thu, Aug 25, 2022 at 3:59 PM Hemanth-Jonnala ***@***.***>
wrote:

[2022-09-01 19:41] #643 closed, assigned to hjonnala

[2022-09-02 08:20] locker941010 opened #650 "Will relevant packages support Ubuntu Core (using Snap)?"
Hi,
I'm struggling to develop an app on a Ubuntu Core device.
I would wonder if it is possible for the relevant packages, such as python3-pycoral, to support Ubuntu Core (using snap, not deb)?
Alternatively, could you please provide a tutorial or project example using snap?

Thanks,

[2022-09-03 15:16] LukaBanovic commented on #527
@hjonnala @hcindyl I know it's written in the instruction manual but still...how is it possible for this to happen so easily? Many people are using Coral boards in the same way they are using raspberry pi, which hasn't got this issue.. It's really inconvenient.

[2022-09-05 02:21] PeterMalkin commented on #527
@LukaBanovic Raspberry pi has exactly same issue. Even worse. If you unplug it during a write operation is in progress, the filesystem gets corrupt and the system becomes unbootable. At least with the Coral board you can recover using the emergency mode. No such option for raspberry pi, unless you repartition the sdcard and mount the root filesystem as readonly, like in this article: https://mediu

[2022-09-05 17:08] ghbn8 opened #651 "Compile Errors EfficientDet Lite 3 and EfficientDet Lite 4: Compilation failed due to large activation tensors in model"
### Description

I am attempting to compile Tensorflow Hub EfficientDet Lite models [https://tfhub.dev/s?deployment-format=lite&module-type=image-object-detection&tf-version=tf2](url) using the Google Colab notebook provided by Google [https://colab.research.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb](url) -- and I am receiving the following error from the Colab

[2022-09-05 17:34] ghbn8 opened #652 "EfficientDet Lite 2 Model on Raspberry Pi and Coral Edge TPU | ValueError: Object detection models require TFLite Model Metadata but none was found"
### Description

I have downloaded the standard EfficientDet Lite 2 model (with metadata) from Tensorflow Hub [https://tfhub.dev/s?deployment-format=lite&module-type=image-object-detection&tf-version=tf2](url), compiling with the provided Google Colab notebook [https://colab.research.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb#scrollTo=joxrIB0I3cdi](url), and dep

[2022-09-06 00:29] #652 closed, assigned to hjonnala

[2022-09-06 00:30] ghbn8 commented on #652
While it is not required to have a labels.txt file to run a tflite model on the CPU, the example python script for the TPU does require a label text file (or "metadata").

[2022-09-06 00:53] hjonnala commented on #651
Hi @ghbn8 please try to compile the models with -d and -a flags.

`edgetpu_compiler -s -d -a  lite-model_efficientdet_lite3_detection_metadata_1.tflite `

[2022-09-06 01:12] ghbn8 commented on #651
@hjonnala thanks for the rapid response. The model successfully compiled with the recommended flags, and it runs on the raspi without error.

What are these flags doing? It appears that the command is reducing the number of operations (ops) to be performed on the TPU until it successfully compiles -- it took four attempts to compile (removing four ops)?

**Here is the output for reference:**
_Edge

[2022-09-06 01:44] hjonnala commented on #651
yes, your understanding is correct. Please check the detailed usage of flags at: https://coral.ai/docs/edgetpu/compiler/#usage

-a flag is not listed there as it is an experimental flag. It enables multiple subgrpahs (Mutiple `edgetpu-custom-op` in edgetpu model if required, and you can visualize the model using https://netron.app/).

[2022-09-06 13:32] #651 closed, assigned to hjonnala

[2022-09-06 14:03] ghbn8 opened #653 "EfficientDet Lite 3 WITH TRANSFER LEARNING: Compilation failed due to large activation tensors in model"
### Description

I have a EfficientDet Lite 3 model that I have retrained **with TRANSFER LEARNING** (code below), that I am attempting to compile using the Google Colab notebook provided by Google [https://colab.research.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb](https://github.com/google-coral/edgetpu/issues/url).

The colab notebook provided above _failed du

[2022-09-06 14:31] johannesheid opened #654 "Quantization and conversion from an LSTM model"
hey, i'm working on a model to predict a sensor signal. The last 50 values are used to predict the next 15.

I want to run this model on a TPU from Coral, but I get the following error message from the coverter after the INT8 qunatization of the model:

[code]

But I don't know where these dynamic tensors should be included and how I can eliminate them. Before the qunatization I set the batch size

[2022-09-06 16:01] hjonnala commented on #653
Hi @ghbn8 can you please share the model that you are not to compile with the compiler. Thanks!

[2022-09-06 17:33] ghbn8 commented on #653
Please find the EfficientDet Lite 3 with transfer learning attached.

[082822_pm.zip](https://github.com/google-coral/edgetpu/files/9499440/082822_pm.zip)

[2022-09-06 18:24] eagle239 commented on #256
mouser, my order was delivered finally.

[2022-09-06 18:27] eagle239 commented on #256
anyone...?

A pci to mini-pci adapter, and a mini-pci to m.2 e key adapter, connected to a dual edge coral ...would that work, has it worked for anyone please ?

or is my only option the makerfabs adapter?

[2022-09-06 19:35] hjonnala commented on #654
Hi @johannesheid  can you please share the tflite model that you are trying to compile. Thanks!

[2022-09-06 20:58] johannesheid commented on #654
of course
here is the initial model and the tflite model with quantization
[sensor_models.zip](https://github.com/google-coral/edgetpu/files/9500669/sensor_models.zip)

[2022-09-06 21:08] magic-blue-smoke commented on #256
Hi @eagle239 Dual Edge TPU card has two identical TPUs at the same board with two independent PCIe interfaces. Only m.2 E-key slot implemented to full specs has two PCIe interfaces. This means that with passive adapters to any mPCIe/PCIe/m.2 you'll get only one TPU visible. Second TPU will not be connected via PCIe and won't be visible.

I've designed adapter you're mentioning, it's using PCIe swi

[2022-09-06 22:05] hjonnala commented on #654
Your model has a while loop (dynamic sized tensor), because of that compiler is failing to compile.

can you  try with tanh activation layer here.

[2022-09-07 00:24] hjonnala commented on #653
Reshape layers are not able to fit on edgeTPU memory. Please try the command below to compile the model. Thanks!

`edgetpu_compiler -s -i "Reshape_1/shape,Reshape/shape" 082822_pm.tflite `

[2022-09-07 03:16] ghbn8 commented on #653
@hjonnala thank you, this resolved my issue -- with the referenced flags I am able to compile the model, and with the example below (from the Coral team) I am able to run inference with the model [https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py](url)

Here is the command I ran to execute the example script above (referencing the labels.txt file):
`python3 examples/de

[2022-09-07 10:45] johannesheid commented on #654
yes, it helped to quantize the lstm layer as desired, however the conversion with the edgetpu compiler still does not succeed:
![new_quant_model](https://user-images.githubusercontent.com/49682611/188858807-7fac9aea-a33f-47e1-bcc8-96e11e492580.PNG)

[code]
[code]
[sensor_model_tanh.zip](https://github.com/google-coral/edgetpu/files/9505426/sensor_model_tanh.zip)

now i don't understand at all why

[2022-09-07 14:20] hjonnala commented on #654
I suggested to try with tanh as its the default one as per the documentation: https://keras.io/api/layers/recurrent_layers/lstm/. Regarding quantization and conversion issues please check with tflite support team at: https://github.com/tensorflow/tflite-support

LSTM layers has limitations with input shape and/or the number of units. We don't find  any concrete limits to document these limitations

[2022-09-07 15:22] hjonnala commented on #653
Please check the tutorial at: https://www.youtube.com/watch?v=QqTLkw1IenI&list=RDCMUC0rqucBdTuFTjJiefW5t-IQ&index=35 and reach out to tflite support team for any further help: https://github.com/tensorflow/tflite-support. Thanks!

[2022-09-07 15:44] johannesheid commented on #654
ok with 60 layer it worked. Then I have to see what number of layers is best for my case and can be compiled too. Thank you very much for the help. I will first see myself if I can control the influence of the representative dataset. If not, i will contact tflite-support.

[2022-09-07 21:38] #653 closed, assigned to hjonnala

[2022-09-07 22:47] #654 closed, assigned to hjonnala

[2022-09-08 20:37] gsirocco opened #655 "Converting a TF model to TFLite and then to EdgeTPU"
I have submitted the following issue to github/tensorflow without any resolution or much feedback, so trying here:
https://github.com/tensorflow/tensorflow/issues/57490

basically trying to take a simple keras model with an Add operation and convert to TFLite and then to EdgeTPU.
Quantization for int8 needs to take place, but depending on the conversion parameters provided it results in either an

[2022-09-08 21:35] hjonnala commented on #655
Please try the below code, you would be able to compile the model to edgeTPU. Thanks!

[code]

[2022-09-08 23:04] gsirocco commented on #655
Awesome, thanks!! This worked I was able to convert this model to utilize the TPU!!!

`edgetpu_compiler -s testmodel.tflite
Edge TPU Compiler version 16.0.384591198
Started a compilation timeout timer of 180 seconds.

Model compiled successfully in 78 ms.

Input model: testmodel.tflite
Input size: 1.03KiB
Output model: testmodel_edgetpu.tflite
Output size: 20.59KiB
On-chip memory used for caching

[2022-09-08 23:25] #655 closed, assigned to hjonnala

[2022-09-09 19:21] caiomapzer opened #656 "Compiled version of EfficientDetLite 1 too slow"
### Description

Hello :)

I tried to follow the [colab tutorial](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_efficientdet_model_maker_tf2.ipynb) to retrain the EfficientDet Lite 1 detector.

I just changed the following line of code:
```spec = object_detector.EfficientDetLite0Spec()```
to
```spec = object_detector.EfficientDetLite1Spec()```

After trying to

[2022-09-09 20:09] hjonnala commented on #656
Compiler fails to compile due to large activation tensors mostly due to transpose and/or reshape operations. At that time please try to visualize the tflite model with netron and pass the name of reshape (with max input shape) as [intermediate tensor](https://coral.ai/docs/edgetpu/compiler/#usage) to the compiler.

Please try the command below to map max operations to edgeTPU.

`!edgetpu_compiler

[2022-09-09 20:17] hjonnala commented on #653
Please try the command below to map the max operations to EdgeTPU:

`edgetpu_compiler -s -i "class_net/class-predict/BiasAdd;class_net/class-predict/separable_conv2d_4;class_net/class-predict/separable_conv2d;class_net/class-predict/BiasAdd/ReadVariableOp,box_net/box-predict/BiasAdd;box_net/box-predict/separable_conv2d_4;box_net/box-predict/separable_conv2d;box_net/box-predict/BiasAdd/ReadVariable

[2022-09-09 22:44] caiomapzer commented on #656
Hello @hjonnala, thank you for answering :)

How do I know that these intermediate tensors are the ones I need to pass to the compiler in order to compile successfully?
"class_net/class-predict/BiasAdd;class_net/class-predict/separable_conv2d_4;class_net/class-predict/separable_conv2d;class_net/class-predict/bias"

The reason is that this is the largest operation (1x20736x90)?

[2022-09-11 00:58] JakobTewes commented on #280
Also quite some interest here 😜

[2022-09-12 14:41] hjonnala commented on #656
This script might help you to choose the intermediate tensors: https://github.com/hjonnala/snippets/blob/main/compiler/intermediate_serach_compilation.ipynb. In future, if it doesn't help please create a github issue. Thanks!

[2022-09-12 16:29] #648 closed, assigned to hjonnala

[2022-09-12 16:36] hjonnala commented on #598
Closing this issue as we haven't find any concrete limits for input shape/LSTM number of units to document the limitations. Thanks!

[2022-09-12 16:36] #598 closed, assigned to hjonnala

[2022-09-14 03:53] synaption opened #657 "Confused about different 3.3v rails on som."
### Description

I could use some clarification on the different 3.3v rails in the schematic for the som and dev board.  What is the difference between V3V3 on the header, and DCDC_3V3 and VDD_3V3 on the hirose connector?  I'm most interested on the relative current each is able to supply.  I am also curious to know why the board does not boot at all if I tie DCDC_3V3 and VDD_3V3 together?

<detai

[2022-09-14 15:58] #656 closed, assigned to hjonnala

[2022-09-14 20:46] ilonadem opened #658 "which IP address to use to view demo?"
### Description

I am connecting to the google coral from my Mac computer via a micro usb and connecting the coral itself to a power source (note: NOT using mdt).

I'm trying to run the demo app as in step 7 of https://coral.ai/docs/dev-board/get-started/, and when I run `edgetpu_demo --stream`, I see:

[code]

The instructions on the google coral website I linked above say "Then on your desktop (

[2022-09-14 21:01] hjonnala commented on #658
please get the ip address with the below command:

- ip addr | grep wlan

[2022-09-14 22:22] ilonadem commented on #658
Which of these would say the IP address?
[code]

[2022-09-14 22:42] hjonnala commented on #658
Please try connecting to the [wifi](https://coral.ai/docs/dev-board/get-started/#connect-internet) first and then try to get the ip address.

mendel@arid-pig:~$ ip addr | grep wlan
3: wlan0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq state UP group default qlen 3000
    inet **192.168.7.160**/24 brd 192.168.7.255 scope global dynamic noprefixroute wlan0lan0

 In the above output 192.168.7

[2022-09-16 00:23] gsirocco opened #659 "Converting TFLite model to run entirely on the Edge TPU as much as possible"
### Description

I have converted a TF model to TFLite and then to Edge TPU using the edgetpu_compiler. I have 3 operations that it says can run on the Edge TPU and 3 that can't. Output is below. I'm wondering if there's anyway to get the remaining 3 operations that run on CPU to run on Edge TPU? From the operations compatibility table (https://coral.ai/docs/edgetpu/models-intro/#supported-operati

[2022-09-16 12:19] UcefMountacer opened #660 "segmentation fault"
I'm a raspberry pi user. I followed the guide on this page : https://coral.ai/docs/accelerator/get-started/#next-steps
[code]

and with the demo model they provided, I get the error:

`user@raspberrypi:~/coral/pycoral $ python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg
Segmen

[2022-09-16 14:55] ilonadem commented on #658
Having my device connected to wifi I get:

[code]

So if my IP address is 172.20.10.15, and when I run the edgetpu demo I get the output "INFO:edgetpuvision.streaming.server:Listening on ports tcp: 4665, web: 4664, annexb: 4666", is 172.20.10.15:4664 the right website to put into the chrome browser? When I do, chrome cannot load the page saying
<img width="810" alt="Screen Shot 2022-09-16 at 10 55

[2022-09-16 14:58] UcefMountacer commented on #660
This is a raspbian Bullseye issue.
It works with Buster.

[2022-09-16 18:31] hjonnala commented on #659
Yes,  FLOOR_MOD and DEQUANTIZE are not supported. We don't have any alternative supported operation for FLLOR_MOD.

Quanitze operation can be mapped to EdgeTPU if its input either uint8 or init8. Here is an example model: https://raw.githubusercontent.com/google-coral/test_data/master/efficientdet_lite0_320_ptq.tflite

https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retr

[2022-09-16 20:13] hjonnala commented on #658
yes, the device and and the computer has to be on the same network..Please try 172.20.10.9:4664

[2022-09-16 21:01] hjonnala commented on #660
Its working for me on Bullseye. Can you try  uninstall Coral packages and install it again. Thanks!

[2022-09-16 22:51] UcefMountacer commented on #660
Okey. I will do it once I have an opportunity to access the Pi.

Can you tell me some details about your setup?

Thanks

[2022-09-16 23:35] hjonnala commented on #660
Sure Thing!!
[code]

[code]

[code]

[code]

[2022-09-17 07:40] skynet01 commented on #615
Any updates on this? it happens to me with both Ubuntu 20.4 and 22.04 also tried different cables and different docker versions (I am trying to use it with frigate, same issue in all the cases).

[2022-09-17 14:57] gsirocco commented on #659
Thanks for the response. We will look into the example.

[2022-09-17 14:57] #659 closed, assigned to hjonnala

[2022-09-17 23:06] gsirocco opened #661 "Running converted TFLite model on Edge TPU (Dev Board) in C++ resulting in Segmentation Fault"
### Description

I'm trying to run my simple TFLite converted model on the Dev Board using C++ but am getting a Segmentation Fault for some reason when executing "interpreter->ModifyGraphWithDelegate(delegate);"

**Here is the C++ code:**
`
#include <algorithm>
#include <cassert>
#include <fstream>
#include <iomanip>
#include <iostream>
#include <numeric>
#include <string>
#include <utility>
#incl

[2022-09-18 16:48] ilonadem commented on #658
Got it! Thank you so much :)

If I want to run a standard python program and have my computer be the monitor, is all I need to do just append "--stream" to whichever bash script or python file that I run?

[2022-09-19 14:08] jeffdunn commented on #615
I found a workaround rather than a fix. Turns out one of the USB-C ports on my machine has a separate USB controller. Using that one instead worked. Seems like some sort of incompatibility between the Coral and other controller.

[2022-09-19 17:23] hjonnala commented on #661
Hi, I am not sure how did you build the example. Please check this comment to build examples with cross compilations for dev board on linux machine: https://github.com/google-coral/edgetpu/issues/600#issuecomment-1145076778

[2022-09-19 20:14] eagle239 commented on #256
Thanks, I didnt realize you designed it @magic-blue-smoke Thank you for explaining again !! I have placed the order for my adapter, and will update here, once received.

[2022-09-19 20:38] hjonnala commented on #658
Unfortunately, I don't understand the ask here. Please try what you are trying to do and let us know if you are facing any issues with it.

[2022-09-19 23:37] ilonadem commented on #658
No worries!

The idea is to be able to run a script (for example https://github.com/google-coral/project-posenet/blob/master/pose_camera.py) and view what is normally on the monitor without the monitor, as a link I could put into chrome. Right now I have an HDMI cable connecting the coral to a separate monitor. Would it be possible to do something like in the edgetpu_demo and view the visual outpu

[2022-09-20 03:57] gsirocco commented on #661
I actually built native on the Dev Board using the following make file below.
I'll try running with gdb to try to get more insight
$ make -f Makefile_test2

'COMPILER     := g++

LINKER       := g++

CXX_FILES    := tfedgetpu.cpp

OBJ_FILES    := $(CXX_FILES:.cpp=.o)

EXE_FILE     := tfedgetpu

INCLUDE_DIRS := -I/home/gsosnow/include -I/home/gsosnow

LIB_DIRS := \
	-L. \
	-L./_deps/fft2d-build \

[2022-09-20 04:17] gsirocco commented on #661
This is the error I got when running with gdb, not sure if it helps.
I'll take a look at the build procedure you had in the link.
(gdb) cont
Continuing.

Thread 1 "tfedgetpu" received signal SIGSEGV, Segmentation fault.
0x0000aaaaaab91fc4 in tflite::Subgraph::OpInit(TfLiteRegistration const&, char const*, unsigned long) ()

Here's the stack trace:

(gdb) bt
#0  0x0000aaaaaab91fc4 in tflite::Subgra

[2022-09-20 04:21] gsirocco commented on #661
One doubt in the build of the code was if **_model_** should be dereferenced in the call to InterpreterBuilder.
It doesn't seem to build if I don't do this, but in other code examples this isn't the case

  auto model = tflite::FlatBufferModel::BuildFromFile(model_file.c_str());
  tflite::ops::builtin::BuiltinOpResolver resolver;
  std::unique_ptr<tflite::Interpreter> interpreter;
  if (tflite::In

[2022-09-20 04:22] gsirocco commented on #661
One other thing, I'm wondering is if there could be a version mismatch of libraries or something?

[2022-09-20 12:54] hjonnala commented on #661
Hi @gsirocco we recommend to build using cross compilation for  C++ applications/code rather than native build as for some applications dev board resources won't be enough to build the entire application. https://github.com/google-coral/examples-camera/tree/master/nativeapp#prepare-the-device-and-copy-the-source-code-to-the-device  Thanks!

[2022-09-20 13:27] hjonnala commented on #658
Please check the source code of edgetpuvision at :https://coral.googlesource.com/edgetpuvision/ and make the necessary changes to your script to send the video to an IP address.. Thanks!

[2022-09-21 19:01] gsirocco commented on #661
I have followed the instructions for cross compilation, it looks like it's almost working, except at the last step it is having an error copying the binaries. Not sure if I have done something incorrect?

'  exec env - \
    PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games \
    PWD=/proc/self/cwd \
  /usr/bin/aarch64-linux-gnu-gcc @bazel-out/aarch64-opt/bin/coral/examples/backprop_la

[2022-09-21 20:48] hjonnala commented on #661
Are you building inside docker shell? Can you please try the below steps without any changes first. Thanks!

[code]

[2022-09-21 22:08] gsirocco commented on #661
Yes, I built in the docker shell like below. I'll try building without modification. Thanks!
Btw, I am building on VM on Win PC running Ubuntu 20.04.4 LTS

gsosnow@9fc8b3fb1492:/workspace$ make CPU=aarch64 examples

[2022-09-21 22:20] gsirocco commented on #661
I ran the  unmodified sequence and am still getting the same issue:

'SUBCOMMAND: # //coral/examples:backprop_last_layer [action 'Linking coral/examples/backprop_last_layer', configuration: c638c7497735a6613bff0d1b21bf0f4ae9145f63efe305f136064691b6ca0f4f, execution platform: @local_execution_config_platform//:platform]
(cd /home/gsosnow/.cache/bazel/_bazel_gsosnow/eab0d61a99b6696edb3d2aff87b585e8/

[2022-09-21 22:22] gsirocco commented on #661
when I do "make docker-shell", it looks like this:

'(base) gsosnow@ubuntugsosnow:~/doc/coralunmod/libcoral$ make docker-shell
docker build  -t "coral-edgetpu-debian-stretch" \
    --build-arg IMAGE=debian:stretch /home/gsosnow/doc/coralunmod/libcoral/docker
Sending build context to Docker daemon  11.78kB
Step 1/14 : ARG IMAGE
Step 2/14 : FROM ${IMAGE}
 ---> 662c05203bab
Step 3/14 : COPY update_so

[2022-09-21 23:12] hjonnala commented on #661
Okay, if you are having any issues with Ubuntu please try this [colab](https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/build_cpp_examples.ipynb) from [tutorials](https://github.com/google-coral/tutorials) repo.

[2022-09-22 00:43] gsirocco commented on #661
ok, so I was able to build the examples using colab. I'm not clear how I would build my file in this environment?

[2022-09-22 12:31] kahlenberg opened #662 "Does coral work with 2 cameras on Raspberry Pi"
Hi,
Because it is very difficult to get help from coral (you have to fill a long form on google docs) I want to ask here:
Does coral support two cameras for stereo vision?
If I connect 2 cameras to CM4IO board and coral to USB3, does it work?

[2022-09-22 13:33] hjonnala commented on #661
Please try making [relevant changes](https://github.com/google-coral/edgetpu/issues/600#issuecomment-1145076778) to respective files in libcoral folder and build the examples.

![image](https://user-images.githubusercontent.com/86132058/191760942-f17ec101-0fc7-4b29-a9be-dd429c09f772.png)

[2022-09-22 14:54] gsirocco commented on #661
Thanks! I was able to build my file. Now I will try to run it on the dev board

[2022-09-22 17:03] hjonnala commented on #662
Hi @kahlenberg could you please elaborate your use case for stereo vision with Coral? Do you have any tflite model that works with the current setup?

[2022-09-22 18:52] kahlenberg commented on #662
Hi,
I don't have any setup yet. I want to make a project with stereo camera for depth estimation.
I wonder if it is possible with coral and two raspberry cameras.

[2022-09-22 19:14] hjonnala commented on #662
I think, its possible if your your project uses int8 tflite model as [Coral USB accelerator](https://coral.ai/docs/accelerator/get-started/) used to  run [edgeTPU models](https://coral.ai/docs/edgetpu/models-intro/#model-requirements)  ([int8 tflite models](https://www.tensorflow.org/lite/performance/post_training_integer_quant) that are compiled with [compiler](https://coral.ai/docs/edgetpu/compi

[2022-09-23 02:51] gsirocco commented on #661
I have tried to run the image and it's working, no Segmentation Fault!! Thank you for your help!!

[2022-09-23 03:57] #661 closed, assigned to hjonnala

[2022-09-24 21:39] ilonadem commented on #658
I'm a little new to gstreamer, so would I just have to change the address of where the video is being sent? So for example if I wanted to modify this demo (https://github.com/google-coral/project-posenet/blob/master/pose_camera.py) to be able to view it on a streaming server, would I have to add a different argument into gstreamer.run_pipeline in line 122? Or would this change have to be executed

[2022-09-24 21:53] ilonadem commented on #658
or alternatively, should I write a bash script that calls pose_camera.py followed by a line that sets up a web server stream? e.g. something like
[code]
at least as far as I understand this is how the edgetpu_detect demo (https://coral.googlesource.com/edgetpudemo/) does it.

[2022-09-25 22:08] gsirocco opened #663 "Edge TPU performance for various models on dev board"
### Description

I have a simple model that I've been able to run on the deb board that utilizes the edge TPU and have benchmarked it's performance running it 1000 times and averaging. It's getting ~300us/Invoke. I have a more complicated model that has some operations that are able to be mapped to the edge TPU but not all. Its average is ~74ms/Invoke. I was looking to make this more along the lin

[2022-09-26 17:43] hjonnala commented on #663
Hello @gsirocco if your model has some operations not mapped to TPU then please try to modify them in a way those can be mapped to TPU. If that's not possible please use Coral USB accelerator with HIGH CPU machine to reduce the inference time.
And feel to check [single_model_benchmark](https://github.com/google-coral/libcoral/blob/master/coral/single_model_benchmark.cc) tool, by building libcoral

[2022-09-26 21:24] semaf opened #664 "Using performance of 4 Google Coral USB Accellerator"
Hey,

I was testing the performance of 2x Google Coral USB Accelerator on Raspberry Pi where a single Coral USB Accelerator recognized the macaw picture with 0.75781 score and both of the Coral USB Accelerator it at 0.99609. What other benefits could I get if I run 4 pieces of the Coral USB Accelerator? Faster results? Better scoring? Higher FPS?

Read a lot of using single Coral USB Accelerator b

[2022-09-27 00:12] gsirocco commented on #663
### Thanks!! This looks really good to try, however when I build on my VM running Ubuntu Linux on Win PC, I seem to be getting the same error as before when trying to build the examples where it can't seem to create the output file in the docker. I found much earlier in the build that it for some reason cannot create symbolic links because operation not permitted?

'WARNING: failed to create one o

[2022-09-27 05:05] hjonnala commented on #664
Hello @semaf running on multiple TPU module is useful when your input model is more than 8MB. If so, please try to compiling the model with -n flags (num_segments=model_size/8). The objective of this to make the inference faster for larger models (>>8MB). It won't change the accuracy of the model.

Also, please check the documentation at: https://coral.ai/docs/edgetpu/pipeline/

[2022-09-27 05:09] hjonnala commented on #663
Please replace` ! git submodule init && git submodule update libedgetpu ` to `! git submodule init && git submodule update` to build for benchmarks.

An download the file using the below snippet. Thanks!
[code]

[2022-09-27 11:27] #662 closed, assigned to hjonnala

[2022-09-27 11:29] #646 closed, assigned to hjonnala

[2022-09-27 14:29] gsirocco commented on #663
Thanks, I am trying the build as I write this. One clarification on the output of the benchmark, the Time is the total time the model runs on cpu and tpu, while CPU is the time it spends on cpu only, so if you subtract the two this would be the time run on the TPU? Is that the correct interpretation?

[2022-09-27 15:02] hjonnala commented on #663
yes, the interpretation is correct.

[2022-09-27 23:49] gsirocco commented on #663
I did find a useful utility that shows how the flow of the model is divided between cpu and tpu: [visualize.py](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/tools/visualize.py)
I have also found the experimental option for the tpu compiler -a to enable multiple subgraphs.
Also, it's good to know that:
 Note: Currently, the Edge TPU compiler cannot partition the model more t

[2022-09-28 03:14] gsirocco commented on #663
I've been able to run the benchmark and to my surprise, it seems the processing is majority TPU from the output:

[code]

Here is the visual of the model, is the ~68ms TPU time just a factor of the data size and operation or transfer in this case? Or just the operations being performed and number of them, or a combination of all or something else? I have also included the model analyzer output and

[2022-09-28 19:39] gsirocco commented on #663
One possibility for speed up that we were thinking would be to use multiple TPUs in parallel for this model, but before doing that it would be good to get an understanding of what the limiting factors are currently. Thanks for any pointers or suggestions on this. You've been very helpful just to get things to this point.

[2022-09-29 00:09] hjonnala commented on #663
Hello @gsirocco

Good to know about this. You can also use the https://netron.app/ to visualize the model.

Yes, it is true without -a flag. with -a flag you can map all the supported operations to EdgeTPU unless they have some limitations.

As your model is larger(>>8MB) than the EdgeTPU SRAM, you can try to compile the model --num_segments flag to make the inference faster. Please check the docu

[2022-09-29 00:50] gsirocco commented on #663
Just to clarify regarding this comment for compiling with --num_segments flag to make inference faster, would require having as many TPUs as given in the number provided to this flag? I'm assuming no speed up will be obtained for a single TPU on the dev board by doing this, correct?

[2022-09-29 00:55] hjonnala commented on #663
Yes, that's correct.

[2022-09-29 01:09] gsirocco commented on #663
If we have 8 TPUs, then the compiler can divide the model into 8 separate ones regardless of the model architecture (operations, data, etc.) by setting --num_segments to 8? Although if the cache can hold 8MB then 3 or 4 TPUs may be the sweet spot for performance gain with a size of ~25MB?

[2022-09-29 01:12] hjonnala commented on #663
3 TPU's would be enough for your model.

[2022-09-29 01:20] audunmg commented on #455
I also have this issue intermittently.
The ethernet can be up for a while, and then just not, and the reason is not obvious. Reboot does not help, and sometimes it comes back by itself.

Edit: tested with different cables, switches and ports. I'm at a loss. The only thing that seems consistent is that once i reconnect the cable, it is unlikely to come back up on its own.

[2022-09-29 05:36] gsirocco commented on #663
This would serialize the model in a pipeline as explained in the link.
Would this reduce the end to end latency from ~68ms significantly? If so
any estimate by how much (most likely from using the tpu sram)? Or is the
only real gain in pipelining multiple invocations of the model with minimal
latency impact?

On Wednesday, September 28, 2022, Hemanth-Jonnala ***@***.***>
wrote:

[2022-09-29 13:43] hjonnala commented on #663
Unfortunately, we won't be able to tell the performance gain/loss when pipe lining the model as it varies from model to model.

[2022-09-29 15:35] benank opened #665 "Converting MoveNet.Multipose.Lightning for use with Coral"
### Description

Hello, I'm attempting to use [MoveNet.Multipose.Lightning](https://tfhub.dev/google/lite-model/movenet/multipose/lightning/tflite/float16/1) with Coral but am having difficulty converting it to the proper format for Coral.

I can see that there is already a [pre-converted model here](https://github.com/google-coral/pycoral/blob/master/examples/movenet_pose_estimation.py), but that

[2022-09-30 21:26] gsirocco commented on #663
I think this should work, but am getting a core dump when I try to segment my model. If I compile my model without --num_segments it compiles fine. Btw, I tried this on colab and am getting the segmentation fault as well. Is it because it has an unsupported operation that is a mapped to the CPU in addition to 3 that are mapped to TPU?

`$ edgetpu_compiler --num_segments=5 testmodel.tflite
Edge TPU

[2022-10-01 03:48] hjonnala commented on #663
please share your uncompiled tflite model here..Thanks!

[2022-10-01 03:59] gsirocco commented on #663
sure, here it is, added .txt suffix to be able to upload. Please let me know if there is any trouble downloading the model. Thanks!
[testmodel.tflite.txt](https://github.com/google-coral/edgetpu/files/9689492/testmodel.tflite.txt)

[2022-10-03 04:01] #665 closed, assigned to hjonnala

[2022-10-03 23:21] gsirocco commented on #663
We were thinking of other possible optimizations for space. One was to use tf.sparse.SparseTensor, however I didn't notice if the Edge TPU would support it, as there is no mention of it in the compatibility page. Thanks!!

[2022-10-03 23:38] gsirocco commented on #663
One other thing we are trying is a reduced test case where our matrix size is 1/8 what we would normally use, in order to see the performance increase of trying to have everything on the TPU memory wise. However, in trying to compile the model, I notice that even though the memory size is indeed reduced, the compiler says that no memory on-chip is used and it is all external. Not sure why this is

[2022-10-04 08:03] hjonnala commented on #663
could you please share the code snippet to generate the tflite model here. Thanks!

[2022-10-04 14:47] gsirocco commented on #663
Just to clarify, do you want the code to generate the TF model itself, or the code to convert the TF model to TFLite?

[2022-10-04 15:01] hjonnala commented on #663
The code to generate the TF model please..

[2022-10-04 18:36] gsirocco commented on #663
Here's the code to generate the TF model. Thanks!!!

[2022-10-05 01:28] hjonnala commented on #663
![image](https://user-images.githubusercontent.com/86132058/193959443-6c6910ce-5f0e-4927-81e2-5e54b76e3a43.png)

Here the operations input and output sizes are too big for TPU. Because of this SRAM memory not allocated. We can't say any concrete limits at which they can be mapped to SRAM as it varies from operation to operation. For this model you may try replacing `14400` with `2560 `or some othe

[2022-10-05 03:35] gsirocco commented on #663
Thanks for the evaluation of the model, we will try to see if we can reduce the 14400.
How about the possibility of using tf.sparse.SparseTensor on the TPU?

[2022-10-05 19:32] eagle239 commented on #256
very basic question: how do I find out that my DualEdge TPU card is dead on arrival.
I also want to find out just in case if I'm doing anything wrong.

I am on a TrueNAS SCALE Debian based NAS platform, A2SDi-H-TP4F SuperMicro motherboard, with an onboard PCI 3.0 x4.

I tried two options, added the right packages, rebooted , lspci...**nothing new**:
1. dualedge M.2 e-key-->M.2 ekey to miniPCI adap

[2022-10-06 00:22] hjonnala commented on #663
I think, its not possible to use tf.sparse.SparseTenosr on TPU as its not listed as a supported operation. https://coral.ai/docs/edgetpu/models-intro/#supported-operations

[2022-10-06 03:02] gsirocco commented on #663
With regard to the restricted size from 14400 to 2560, we need to process a data size of 14400x1800 within a couple of milliseconds. If we have to reduce this to 2560x180 chunks then this would not be practical. Is there a way to get a concrete understanding of what the data size restrictions are for TPU memory operation?

[2022-10-06 04:52] hjonnala commented on #663
Unfortunately, The only way to know is by experiments as it varies from operation to operation. Please check the pretrained models input size as well if your application falls under one of those categories: https://coral.ai/models/. Thanks!

[2022-10-06 14:32] manju-rn commented on #256
@magic-blue-smoke  Is there a way to use your adapter with some PCIe converter to USB to be used in RPI?

[2022-10-06 14:39] gsirocco commented on #663
Are there any TPU alternatives which are supported that could be explored to better handle a data size of 14400x1800 in hw? Maybe any GPUs which can be recommended to explore as alternatives? Thanks!

Doing a little googling, it looks like Nvidia ones are supported pretty well for Tensorflow, not sure if there are others that could be possibilities?

It looks like short of a hw change, there's no

[2022-10-06 16:18] synaption commented on #580
belanaOS and yocto are also publicly available.

[2022-10-06 23:22] feranick opened #666 "edgetpu segmentation fault using tflite-runtime 2.10.0 - MacOS"
### Description

I compiled tflite_runtime using the official source of tensorflow 2.10.0 on MacOS 12.6, using the following command:
[code]
When I run a code that uses the following calls:
https://coral.ai/docs/edgetpu/tflite-python/#update-existing-tf-lite-code-for-the-edge-tpu

Leads to a segmentation fault. When I repeat the same (i.e. tflite_runtime 2.10.0, compiled in the same way) on a Ubun

[2022-10-07 01:32] magic-blue-smoke commented on #256
@eagle239
1. Could you point out which "miniPCI" adapter is used?
2. Could you show output for `lspci -nn | grep 1182` with my adapter installed?

@manju-rn
I'm not familiar with any adapter which connects to the host using USB and provides fully functional PCIe root complex. Also don't be confused by USB3.0 enclosures for NVMe drives: those don't provide bridging functionality, but rather impleme

[2022-10-07 02:39] ImanHosseini opened #667 "How to post-quantize a model with GELU (or any unsupported Op)"
### Description

I'm trying to prepare a trained model to run on edge TPU:
[code]
Then on the output I run "edgetpu_compiler model.tflite" but I get:
[code]
150 is GELU (which is something that my model uses). How can I fix this? (obviously, without retraining my model anew without GELU)

<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Operating System

Ubuntu

### Coral

[2022-10-07 05:00] ImanHosseini opened #668 "What Can & Can't be done with Coral"
### Description

There is no clear part in the documentation highlighting the limitations of edgetpu [not low level what ops you can use, but more useful info in terms of: so you want to do CausalLM? BERT? you can't], just to clarify what I infer is this, in case someone is weighting on getting a Coral or looking at issues here to port some model:
1. There are limitations with respect to tensor di

[2022-10-09 00:52] eagle239 commented on #256
[code]

`empty, no output !!`

[2022-10-09 16:34] Jorgitou98 opened #669 "Error compiling fully connected models to form a multi-segment pipeline"
### Description

Hello, I am doing a study of the performance of Edge TPU on different types of models. Specifically, I am now evaluating model segmentation in a multi-TPU pipeline. With the different models of fully connected layers that I generate I get an error when trying to compile with --num_segments > 1:

[code]

It is strange because when I have done the same experiment with convolution ne

[2022-10-09 23:17] magic-blue-smoke commented on #256
@eagle239 With my adapter you should see at least some output with `lspci -nn | grep 1182`. With this I keen to think there's something with host system. Do you have an option to try with another PC/mobo?
Also worth trying to change some BIOS settings: disable OPROM and ASPM for CPU Slot 7 in PCIe settings to begin with

[2022-10-11 01:47] hjonnala commented on #667
Hi, @ImanHosseini
Please check if you are able to run [inference](https://github.com/hjonnala/snippets/blob/main/coral_inference.py) for int8 tflite model with the [latest tflite runtime](https://coral.ai/software/#pycoral-api). If you are not able run inference then it is not possible to compile the model with the compiler. Thanks!

[2022-10-11 04:30] hjonnala commented on #658
closing the issue here. As we have another issue opened for the same at: https://github.com/google-coral/project-posenet/issues/88

[2022-10-11 04:30] #658 closed, assigned to hjonnala

[2022-10-11 05:33] ImanHosseini commented on #667
I sure cant compile. But will this be fixed? Will this ever be supported?

[2022-10-11 14:36] gsirocco commented on #663
Hi, just checking if there was an update on the segmentation fault? Thanks!

[2022-10-12 00:52] hjonnala commented on #667
Unfortunately, as of now we don't have any plans to add support for new activations.

[2022-10-12 08:07] djalusic opened #670 "GUI on Coral Dev Board"
### Description

Hi,

I'm trying to set up a VNC server on Coral Dev Board. I ran into an issue while trying to use display manager.
Trying to start `/etc/systemd/system/display-manager.service` reports this error:
[code]
I have been trying to find information about this error or if some GUI is supported on Mendel, but couldn't find any. Is there a custom solution for display manager on Coral Dev

[2022-10-12 15:06] #667 closed, assigned to hjonnala

[2022-10-12 17:38] CipherLab commented on #280
Lets say I wanted to use coral usb and inserted a M.2 to USB pcie Riser Adapter... on a PC you'd go into the bios and change it from m2 to pcie, but would I have to do something similar on the Yellow? If so, can someone guide me to how?

[2022-10-14 14:17] Plessen commented on #651
Ran into this exact same issue. I see @ghbn8 compiled it for a single edge tpu, even though the minimum required for efficientdet3 and 4 is 2 edges. This solution does not hold for --num_segments = 2. @hjonnala

[2022-10-14 16:13] Plessen opened #671 "Multiple ops mapped to cpu when compiling efficientdet-lite3 and 4 models!"
Ran into this exact same issue. I see @ghbn8 compiled it for a single edge tpu, even though the minimum required for efficientdet3 and 4 is 2 edges. This solution does not hold for --num_segments = 2. Not only that, but if I use the -a flag the compilation times out at lower ops than it does without it. It does compile using the -d flag combined with -k 10, but 50% of the ops are mapped to cpu ins

[2022-10-14 18:07] Plessen commented on #671
Here is the command (the model architecture is EfficientDet-Lite3):

- !edgetpu_compiler -s -d -k 10 -n 2 "/content/rede_modelo3_73.tflite"

The output is:

Edge TPU Compiler version 16.0.384591198
Searching for valid delegate with step 10
Try to compile segment with 84 ops
Started a compilation timeout timer of 180 seconds.

Model compiled successfully in 2270 ms.

Input model: rede_modelo3_73_se

[2022-10-15 21:04] eagle239 commented on #256
Apologies I could not test earlier, this is on my NAS. I tried both OPROM for CPU slot 7 in PCIe, as well as  pcie_aspm=off.
(I did pcie_aspm=off through grub conf, I didnt know how to do for one pci slot, as there was no option in BIOS.)

No extra response from lspci, and unfortunately I do not  have any other system available to test.

[2022-10-15 21:39] TheOfficialMrBlah commented on #343
I have exactly the same problem. Same behavior, same errors.
Proxmox may be a workaround but not a solution to this problem.

Are there any updaes?

___

Yes, I have tested (Ubuntu) Debian, FreeBSD (TrueNAS) and Windows (also different versions), everywhere the same...

[2022-10-17 18:04] bsteiner-dandy opened #672 "How can I connect to a Coral dev board from another Coral dev board using mdt shell?"
Say I have one Coral dev board connected to a monitor, keyboard, and mouse. How can I run `mdt shell` and connect to another Coral dev board attached via USB? I am trying it now, but it seems the second Coral is not recognized and `mdt shell` only tries to connect to itself

[2022-10-18 04:21] hjonnala commented on #672
Please try the changing the static ip address of the connected dev board and try to connect with mdt shell `new ip address`. Please check the instructions to change the static ip address at: https://github.com/google-coral/edgetpu/issues/619#issuecomment-1172606933. Thanks!

[2022-10-18 04:53] hjonnala commented on #671
Hello @Plessen please share the models you are trying to compile here. Thanks!

[2022-10-18 05:00] hjonnala commented on #280
Hello @magic-blue-smoke feel free to run the [CTS](https://github.com/google-coral/cts) test to evaluate the hardware design. Thanks!

[2022-10-18 08:42] hjonnala commented on #668
Hi, Please check the small selection of model architectures that are compatible with the Edge TPU at: https://coral.ai/docs/edgetpu/benchmarks/

Contributions welcome from the users for any other model architectures that are compatible with the Edge TPU. Thanks!!

[2022-10-18 08:44] #660 closed, assigned to hjonnala

[2022-10-18 08:46] hjonnala commented on #642
Feel free to reopen if you still have any questions here. Thanks!

[2022-10-18 08:46] #642 closed, assigned to hjonnala

[2022-10-18 10:33] Plessen commented on #671
Hi @hjonnala, thanks for the early reply, I noticed there are a lot of issues being assigned to you, and your work has been amazing  throughout. This are some examples of  models that do not compile properly (and don´t compile at all with the -a flag):

[efficientdet-lite3-models.zip](https://github.com/google-coral/edgetpu/files/9809398/efficientdet-lite3-models.zip)

I only included 2 files (of

[2022-10-18 13:54] hjonnala commented on #671
Hi @Plessen to map the most of the operations the model needs to be compiled with intermediate tensors due to the large activation tensors. But, passing intermediate tensors is not possible when segmenting the model. As a workaround you can either split the model with the external tools or tweak the [profile based partitiner tool](https://github.com/google-coral/libcoral/blob/master/coral/tools/pa

[2022-10-18 14:17] bsteiner-dandy commented on #672
Hi hjonnalo, thank you for the response. I was able to successfully set the IP address of the first dev board as you described and verified with `sudo netstat -rn`. Unfortunately I am still unable to connect to the second dev board from that first dev board. It is not even showing up with `mdt devices`. However I double checked that this second coral works by connecting it to my laptop, and it sho

[2022-10-18 22:39] Plessen commented on #671
Well I'm impressed how quickly and easily you explained that to me. This tool is actually pretty handy for my work.  I will be closing this issue as it is solved. Thank you very much @hjonnala.

P.s: In your answer you mentioned I should uncomment a specific line, but it was already uncommented.

[2022-10-18 22:39] #671 closed, assigned to hjonnala

[2022-10-19 19:11] k1n6b0b commented on #343
Following this.. +1 for esxi passthrough support / workaround

[2022-10-20 00:19] smallsam commented on #343
This is of significant interest to the homelab community right now, hopefully someone like @lamw might be able to socialise internally with VMware engineering to see if there are any workarounds/fixes that would allow people to stay on ESXi.

[2022-10-20 00:21] gsirocco commented on #663
Had a clarification on the Invoke function when running on the TPU.  I'm assuming this is a blocking call and returns when it's finished. If there are 4 TPUs, is there a non-blocking invocation where other TPUs can be invoked while others are busy?
I'm not doing pipelining here, but would really be doing parallel invocations of parts of an input and then combining at the end after all 4 would be c

[2022-10-20 05:14] hjonnala commented on #672
Please try changing the address1 in `sudo cat /etc/NetworkManager/system-connections/gadget0.nmconnection` file and reboot the device to change the usb0 ip address.

[code]
(coral_venv) hemanth:~ mdt devices
arid-pig                (192.168.100.2)
After changes:
(coral_venv) hemanth:~ mdt devices
arid-pig                (192.168.100.3)

[2022-10-20 14:20] gsirocco commented on #663
I guess one strategy would be to have a separate thread for each Invoke, if there is no alternative?

[2022-10-20 15:46] bsteiner-dandy commented on #672
I updated the file and after a reboot am seeing the correct output:

[code]

However I am unable to connect to it:
[code]
Is there anything else I need to change?

[2022-10-21 16:08] lamw commented on #343
Hi @smallsam - Appreciate you making me aware of this. Since the PCIe device isn't on VMware's HCL (supported HW device), its really hard to say what the issue could be and not having the device on hand would make it difficult to troubleshoot. It sounds like the USB-based version does work as expected, just not the PCIe device?

Since you mentioned "significant interests", could you help me unders

[2022-10-21 17:33] petr-vmware-com commented on #343
Unfortunately the device in question violates PCI specification by mapping PBA, MSI-X vector table, and other registers into same 4KB page (PBA is at 0x46068, VT at 0x46800, but there is a bunch of other registers in 0x46XXX range).  PCIe spec 6.0, page 1020, has this to say:

[code]

So having CSR registers in same page as MSI-X VT page violates the spec, and under ESXi CSR registers become unrea

[2022-10-23 19:15] LordNex commented on #166
It looks like this occurs as well on a Dell PowerEdge R620 running VMWare ESXi 7 with an Ubuntu 20 LTS Server VM running Frigate in Docker-Compose. The server has dual redundant power supplies and is capable of running massive arrays. Yet when I plug in the USB coral I get this error in Ubuntu and frigate won't see the USB device at all. I've tried Hardware pass through and it just gets stuck on E

[2022-10-24 07:55] atamomark opened #673 "Corrupted ALC5645 microphone data capture"
### Description

I am getting strings of zeroes in audio data (wav) captured with the AL5645 codec external "headphone" microphone input on the Coral dev board. It's happening for me with default settings using "arecord -D hw:CARD=edgetpuaudiocar,DEV=0 -t wav -f S16_LE -r16000 -d5 arecord.wav", as well as my python code using PyAudio. 16 bit (mono) samples, sample rates 16000Hz and 44100Hz. Exampl

[2022-10-24 21:47] victoryred opened #674 "Segmentation fault caused by *_quant_edgetpu.tflite"
### Description

I'm using the USB Accelerator.
Tetra@raspberrypi4:~/coral/pycoral $ lsusb
Bus 002 Device 004: ID 090c:1000 Silicon Motion, Inc. - Taiwan (formerly Feiya Technology Corp.) Flash Drive
Bus 002 Device 005: ID 18d1:9302 Google Inc.
Bus 002 Device 002: ID 05e3:0626 Genesys Logic, Inc. USB3.1 Hub
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 005: ID 046d:

[2022-10-25 05:09] hjonnala commented on #674
Hi @victoryred could you please if you have the same setup as mentioned at: https://github.com/google-coral/edgetpu/issues/660#issuecomment-1249936643.

Can you try the demo with user as  `pi` instead of `Tetra`.

[2022-10-25 13:02] Aryankids commented on #623
have the same issue, Is there any way to resolve this issue in this setup, pls?

[2022-10-25 18:00] victoryred commented on #674
Tetra@raspberrypi4:~ $ cat /etc/os-release
PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"
Tetra@raspberrypi4:~ $ uname -a
Linux raspberrypi4 5.15.61-v8+ #1579 SMP PREEMPT Fri Aug 2

[2022-10-26 16:20] victoryred commented on #674
I have several updates and comments......First of all, thank you for your support.

Secondly, I found several installations of the tflite_runtime installed. I must have become out of sync with all the installs/uninstalls. Again, I was literally following the install instructions on the website. I was tired.....I repeatly uninstalled versions until nothing was found. That was subtle.

Thirdly, look

[2022-10-28 07:45] tyfoon opened #675 "USB EdgeTPU keeps disconnecting"
### Description

The TPU works for a few mins, then after a few minutes the USB TPU disconnects and goes into led blinking stage (2, 3 or 5 blinks). Ubuntu on bear intel J4125 metal

What I tried:
- Different cable
- Powered USB hub
- Tries USB 2 & USB 3 ports
- 2 clean bare metal systems
- Measured power consumption (never above 700mh)

Log below (this is whit the USB powered hub but output is si

[2022-10-28 11:33] #668 closed, assigned to hjonnala

[2022-10-30 20:13] kevin1024 commented on #494
This was happening to me, and moving the coral USB device to a powered USB hub seems to have resolved the issue.

[2022-10-31 16:10] rodneyML opened #676 "Coral Dev Board Mini cannot set a PWM frequency lower than +- 25 Hz"
### Description

I am working on a project which involves variable PWM frequency. I am able to set the PWM frequency to most frequency values above 25 Hz, but for some reason it crashes when setting a frequency lower than approximately 25 Hz. I have tried Adafruit-Blinka as well as Periphery, but none of these API's work with frequencies lower than approximately 25 Hz.

Code produced with Adafruit

[2022-11-01 07:50] tyfoon commented on #675
I just received another Coral and tested with that one; This one does NOT have this behavior! So this seems a hardware failure (yes, I have also switched cables etc).

[2022-11-01 09:39] hjonnala commented on #675
Yes, it seems to be a hardware failure. Thanks for letting us know.

[2022-11-01 14:44] gsirocco opened #677 "Invoking Inferences on multiple TPUs in parallel"
### Description

I had a clarification on the Invoke function when using multiple TPUs. I'm assuming Invoke is a blocking call and returns when it's finished. If there are 4 TPUs, is there a non-blocking invocation where other TPUs can be invoked while others are busy?
I'm not doing pipelining here, but would really be doing parallel invocations of parts of an input and then combining at the end a

[2022-11-01 15:06] hjonnala commented on #677
please check this example to run multiple models on multiple TPUs(One model on each TPU) at: https://github.com/google-coral/libcoral/blob/master/coral/examples/two_models_two_tpus_threaded.cc#L107

[2022-11-02 00:08] gsirocco commented on #677
Thank you, this is very helpful!!

[2022-11-02 00:08] #677 closed, assigned to hjonnala

[2022-11-02 14:57] #675 closed, assigned to hjonnala

[2022-11-03 04:33] hjonnala commented on #674
Not sure, what error you are receiving but this line should work normally..
![image](https://user-images.githubusercontent.com/86132058/199648055-049acf6c-82c0-41f9-9856-87d1f69636b3.png)

Unfortuanltey, we don't have nay planned updates to update the tflite_runtime and pycoral versions.

[2022-11-04 15:51] hjonnala commented on #672
I have one coral dev board and dev board mini and I am able to connect dev board mini, connected via usb OTG, from the dev board.

[code]

[2022-11-04 17:18] #672 closed, assigned to hjonnala

[2022-11-05 22:31] gsirocco opened #678 "Colab build cpp examples for k8 target"
### Description

I'm trying to build the cpp examples on colab (https://colab.research.google.com/github/google-coral/tutorials/blob/master/build_cpp_examples.ipynb#scrollTo=lG1HxB21BA8d) for k8 target instead of aarch64 and am getting the error below.
Are there any other changes that need to be made in the example when building for a different target besides:

<details><summary>Click to expand!</

[2022-11-06 15:48] gsirocco commented on #678
Would I need to change the arm64 here in the "Install dependencies to cross-compile" section to something like x86_64? Thanks!

I tried changing to amd64 but that didn't work.

[2022-11-07 01:44] hjonnala commented on #678
Please run the below additional command and try to build for k8.

`!sudo apt-get install libusb-1.0-0-dev`

[2022-11-07 21:26] gsirocco commented on #678
Thanks, I have gotten it to build and tried to run, but it is not seeing the 8 TPUs that are present on the PCIe card in the system. I can do a lspci and see them as below. However, the code that enumerates them does not see them through either method below. The card is (https://github.com/kkohtaka/edgetpu-device-plugin). Is there some persmissions or something that's preventing it from being seen

[2022-11-08 01:37] hjonnala commented on #678
Please create a new issue as this is not relevant to building cpp examples. Thanks!

[2022-11-08 01:37] #678 closed, assigned to hjonnala

[2022-11-08 03:37] gsirocco opened #679 "Edge TPU devices not seen"
### Description

I'm running the multithreaded example on my Ubuntu x86_64 system, however it's not seeing the 8 TPUs that are present on the PCIe card in the system. I can do a lspci and see them as below. However, the code that enumerates them does not see them through either method below. The card is (https://github.com/kkohtaka/edgetpu-device-plugin). Is there some persmissions or something th

[2022-11-08 04:09] hjonnala commented on #679
Please let us know which version of ubuntu are you trying to use and do the [examples](https://github.com/google-coral/libcoral/tree/master/coral/examples) working fine without the card?

[2022-11-08 04:16] #674 closed, assigned to hjonnala

[2022-11-08 04:19] gsirocco commented on #679
It is Ubuntu 22.04 LTS (GNU/Linux 5.15.0-52-generic x86_64)
The example two_models_two_tpus_threaded does not see the TPUs either.

[2022-11-08 04:32] hjonnala commented on #679
Is it a native operating system or is it on the virtual box? Also please let me know the python version if its installed on Ubuntu 22.04.

[2022-11-08 04:44] gsirocco commented on #679
It is native, not virtual.
Python is  3.10.6 (main, Nov  2 2022, 18:53:38) [GCC 11.3.0] on linux

[2022-11-08 04:47] hjonnala commented on #679
Please install the pycoral and tflite runtime with the below command and try the demo at: https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu

pip install https://github.com/hjonnala/snippets/raw/main/wheels/python3.10/tflite_runtime-2.5.0.post1-cp310-cp310-linux_x86_64.whl

pip install https://github.com/hjonnala/snippets/raw/main/wheels/python3.10/pycoral-2.0.0-cp310-cp3

[2022-11-08 05:04] gsirocco commented on #679
After running this I see the edge tpu library does not appear to be there

[2022-11-08 05:14] hjonnala commented on #679
Please install the runtime with the instructions at: https://coral.ai/docs/accelerator/get-started/#1-install-the-edge-tpu-runtime

[2022-11-08 05:19] gsirocco commented on #679
I have installed and tried to run again but getting the below error:

[2022-11-08 05:33] hjonnala commented on #679
please try the demo with the  below lines [here](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L41) and share the logs..

[code]

[2022-11-08 05:49] gsirocco commented on #679
Here is the output after adding the 2 lines:

[2022-11-08 06:24] hjonnala commented on #679
Wondering if you have any [USB accelerator device](https://coral.ai/products/accelerator) with you. Please try installing the [pcie drivers](https://coral.ai/docs/m2/get-started/#2-install-the-pcie-driver-and-edge-tpu-runtime)  and save the installation logs for reference. If they are any issues with gasket-dkms installation please try building from the source code at: https://github.com/google/ga

[2022-11-08 15:51] gsirocco commented on #679
Thank you!! After installing the pcie drivers, it works!! The C++ example two_models_two_tpus_threaded is able to see the tpus now.

[2022-11-08 15:51] #679 closed, assigned to hjonnala

[2022-11-09 07:11] #664 closed, assigned to hjonnala

[2022-11-09 16:30] bsteiner-dandy opened #680 "flash.sh is failing, write to device failed"
### Description

Hi, I am trying to follow the steps of "Flash a new system image" https://coral.ai/docs/dev-board/reflash/#flash-a-new-system-image

These steps are working on my personal laptop, however I am not having luck when trying them using a different laptop, and I am not sure what is going wrong. Here is the output:

[code]

Anything I should check?

<details><summary>Click to expand!</s

[2022-11-09 16:38] hjonnala commented on #680
Could you please share the output of below command:

`fastboot devices`

[2022-11-09 16:40] bsteiner-dandy commented on #680
Output is: `0c2169d6ef944da7	fastboot`

[2022-11-09 17:46] hjonnala commented on #680
Hmm..the flash.sh script working fine for me. Could you please connect the board with [serial console](https://coral.ai/docs/dev-board/serial-console/#connect-with-linux) and check the [logs](https://github.com/hjonnala/snippets/blob/main/devboard/fastboot_flash.txt#L1413).

[2022-11-09 18:05] bsteiner-dandy commented on #680
Here is the end of the log when it errors out, let me know if you need more:

[code]

[2022-11-09 18:16] hjonnala commented on #680
Not sure the reason for the Bad status. Please try to flash with [sd card](https://coral.ai/docs/dev-board/get-started/#flash-the-board).

[2022-11-09 18:24] bsteiner-dandy commented on #680
Any other suggestions? I am able to flash this Coral using my personal laptop, but I would like to setup this other laptop to flash multiple corals. I just don't understand why it would work on one laptop and fail on the other

[2022-11-09 18:31] hjonnala commented on #680
Are you getting the same error with other Corals too with the same laptop?

[2022-11-09 18:36] bsteiner-dandy commented on #680
Yeah, tried it with two Corals with the same effect

[2022-11-09 18:40] hjonnala commented on #680
Seems to be issue with when downloading some data.. not sure the issue is due to Coral device or the laptop. Can you try to flash  with sd card once and then try the flash.sh script.

[2022-11-09 18:42] hjonnala commented on #680
can you also try the `sudo bash falsh.sh` as well. Thanks!

[2022-11-09 18:58] bsteiner-dandy commented on #680
Slightly different output, but still an error:

[code]

[2022-11-10 16:24] johannesheid commented on #156
@hjonnala Hey, has anything happened since last year that LSTM-Model can run without the `USB_ENABLE_BULK_DESCRIPTORS_FROM_DEVICE=1` command on the Coral USB accelerator + for example RaspberryPi4?

In addition, I would be very interested to know why this command is/was needed, what exactly it does and why it results in this large latency. My model is twice as fast on the CPU (RaspPi4) compared to

[2022-11-10 16:46] tokenwizard opened #681 "Labels not Matching?"
### Description

I'm using the model and labels files referenced below with an instance of DOOD2 (https://github.com/snowzach/doods2)

It seems the Detection Model is detecting objects but the labels being applied are incorrect.

I am using the "ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite" model along with the coco_labels.txt, both from the same test_data folder of this project.

It det

[2022-11-10 17:06] hjonnala commented on #681
It's because pycoral API reads the label file starting with [index 0](https://github.com/google-coral/pycoral/blob/master/pycoral/utils/dataset.py#L20) and DOOD2 API reads the label file with [index 1](https://github.com/snowzach/doods2/blob/master/detectors/labels.py#L5).

[2022-11-10 17:44] hjonnala commented on #680
Does both laptops have same fastboot version? and can you try by connecting the dev board to any other laptop usb ports.

[2022-11-10 18:59] bsteiner-dandy commented on #680
I think it was the USB port! I swapped which one I had connected to serial and the one for OTG and its working now! Thanks!

[2022-11-10 18:59] #680 closed, assigned to hjonnala

[2022-11-11 04:23] hjonnala commented on #676
I think, the error is due to [PWM driver](https://coral.googlesource.com/linux-mtk/+/refs/heads/master/drivers/pwm/pwm-mediatek.c#182) limitation..

[2022-11-13 19:04] rodneyML commented on #676
Alright, so what is the direct conclusion? Can it be resolved or should I accept that this is an unfixable limitation?

[2022-11-14 14:04] hjonnala commented on #676
This driver is implemented by [Mediatek Team](https://coral.googlesource.com/linux-mtk/+/refs/heads/master/drivers/pwm/pwm-mediatek.c#5) and we don't have any plans to fix/ignore this limitation. If possible, please try your project with [Dev Board](https://coral.ai/products/dev-board) as it would work with frequencies lower than 25. Thanks!

[2022-11-14 17:22] rodneyML commented on #676
Luckily I managed a work around, since my project is due Thursday, but I'll keep this in mind for future projects. Thanks

[2022-11-14 17:32] #676 closed, assigned to hjonnala

[2022-11-14 17:40] #681 closed, assigned to hjonnala

[2022-11-17 12:24] #413 closed, assigned to hjonnala

[2022-11-19 02:21] toxicantidote commented on #639
I am also having this issue with my mini PCI-E Coral. The device is listed as "Global Unichip Corp. Coral Edge TPU" as expected, however /dev/apex_0 does not exist. Platform is a HP DL360p server.

Kernel 5.18.0-2-amd64 #1 SMP PREEMPT_DYNAMIC Debian 5.18.5-1 (2022-06-16) x86_64

**lspci -vvv (_snipped for Coral_):**

**lsmod:**

**lscpu:**

[2022-11-19 02:38] toxicantidote commented on #639
Upgrading to kernel 6.0.0-4 (Debian 6.0.8-1 2022-11-11) resolved this issue for me.

[2022-11-21 08:03] asymingt opened #682 "Serial peripheral blocks boot"
### Description

I have a GNSS module connected to the TX/RX lines of the 40 pin header of a Coral Dev Board Mini. The NMEA sentences appear to block booting, presumably because fastboot or serial console interprets them as input on a tty. Is there a recommended way of handling this correctly. Everything works well if I unplug and replug the lines before and after boot, but that's not a sustainabl

[2022-11-21 08:52] f0b04707 commented on #615
I also get the same error messages in `dmesg -T` on Debian kernel 5.19.0 with my Coral.

[code]

[code]

[2022-11-21 14:02] hjonnala commented on #468
This issue has been fixed. Please try with the updated [runtime](https://coral.ai/software/#edgetpu-runtime).

[2022-11-21 14:02] #468 closed, assigned to hjonnala

[2022-11-21 14:17] hjonnala commented on #663
closing as this got covered at: https://github.com/google-coral/edgetpu/issues/677#issuecomment-1298652707

[2022-11-21 14:17] #663 closed, assigned to hjonnala

[2022-11-22 20:13] jwallis43 opened #683 "It there a way to remove the custom op edgetpu-custom-op from a tflite model file?"
I can can run everything fine on the TPU, however I think at some point
I may need to run the model without a TPU.

Is that possible?

my attempts get:
RuntimeError: Encountered unresolved custom op: edgetpu-custom-op.
See instructions: https://www.tensorflow.org/lite/guide/ops_custom Node number 0 (edgetpu-custom-op) failed to prepare.

[2022-11-23 00:11] skynet01 commented on #615
I gave up on it and sent the coral back. I assumed for me it was because I was using Parallels VM on Mac mini m1 and not bare metal.

[2022-11-23 01:38] k1n6b0b commented on #343
Who would be able to determine if these registers can be modified/hidden via firmware? Still hoping for a solution here - and with the Coral USB shortage I assume there's a good bunch of people who would benefit from Coral PCIe TPU + ESXi working together!

The TPU is used with Frigate NVR for AI object detection / classification https://github.com/blakeblackshear/frigate

There's tight integratio

[2022-11-23 10:12] hjonnala commented on #683
No, it's not possible to remove the edgetpu-custom-op from edgetpu tflite model. You have to use the [uncompiled tflite model](https://github.com/google-coral/test_data) to run the models without a TPU.

[2022-11-23 11:50] jwallis43 commented on #683
sigh

[2022-11-23 15:32] #683 closed, assigned to hjonnala

[2022-11-25 00:41] asymingt commented on #682
I can confirm this behavior with two different board. The Coral Dev Mini Board never progresses past the Amber LED phase.

![PXL_20221125_003939712.jpg](https://user-images.githubusercontent.com/37671/203878800-e3311576-c750-48e2-9ea0-49700e1d9801.jpg)

[2022-11-26 19:14] fjzhangcr opened #684 "edgetpu seems not support Conv2DTranspose"
### Description

1, EdgeTPU Supported operations tabel says it support Conv2DTranspose, as follow
[Supported operations](https://coral.ai/docs/edgetpu/models-intro/#supported-operations)
![image](https://user-images.githubusercontent.com/102020341/204104561-2fc803b1-d592-4f8e-9bf5-85bccea74cda.png)

2, I setup a simple model which has only one layer of Conv2DTranspose with input shape (32,32,1024)

[2022-11-27 12:13] koeewin commented on #665
hello benank, hello hjonnala,

any update of the movenet multipose for coral usage?

I've seen this on the move net tensor hub website:
Initial release of the tflite MoveNet.Multipose model. Note that the current model uses dynamic shape input which makes it incompatible with accelerators, e.g. GPU. We are working on the accelerator-compatible version and will release them soon.

Do you know when

[2022-11-27 16:23] charbull commented on #526
Hi @Victor-Martinez-Pozos,

I bumped into your post here, was curious if you managed to connect any raspberry pi camera?

It seems that the Coral Camera for the Coral Dev Board is out of stock: https://coral.ai/products/camera/
Was curious if someone plugged a raspberry pi camera instead on a coral dev board?

Cheers
Charbull

[2022-11-28 08:08] Dnlee17 opened #685 "The results produced by edgeTPU are completely different from int8 tflite"
### Description

I successfully converted the int8 tflite (input:uint8,output:float32) to edgetpu tflite,
but when using the same image as input, the output of the two models is inconsistent,
Not sure which part went wrong that causes the output to be so different, or is there a value loss when int8 tflite compiles to edgetpu tflite?what should I do to minimize the value loss?

### 1.CMD edgeTPUco

[2022-11-28 08:44] hjonnala commented on #685
can you run the int8 tflite model with edgetpu tflite process code and share the results.

[2022-11-28 10:14] Dnlee17 commented on #685
### Issue

I retried compile with a new model, both run on coral board with same code,but the result is still different.

### run on coral board

with int8 tflite model

edgeTPU$ python3 val_list.py --model models/uint8_11.tflite --input images/TPU

099.png , [[-14.896992]]
098.png , [[-11.704779]]
097.png , [[-10.108673]]
096.png , [[-5.320354]]
095.png , [[-13.832921]]
094.png , [[-0.5320354]]
0

[2022-11-28 11:39] hjonnala commented on #685
can you please share the tensor flow saved model here..

[2022-11-28 12:17] Dnlee17 commented on #685
[fp32wt.zip](https://github.com/google-coral/edgetpu/files/10103605/fp32wt.zip)

[2022-11-28 14:19] hjonnala commented on #685
Is there any reason for your model has 6 channels and you are using only 3 channel input(RGB) to the model?

[2022-11-28 14:44] Dnlee17 commented on #685
int8 tflite model
[uint8_11.zip](https://github.com/google-coral/edgetpu/files/10104573/uint8_11.zip)

The original input is RGB+HSV, in order to simplify the issue, so I only put 3 channels as input in the description.
Only image pre-processing is added to the code.

RGB_img = cv2.imread(img_path) # RGB order image
HSV_img = cv2.cvtColor(RGB_img, cv2.COLOR_RGB2HSV)
input_ = np.concatenate([RGB_im

[2022-11-28 15:16] hjonnala commented on #685
can you lease sample image files also for testing..Thanks!

[2022-11-28 15:43] hjonnala commented on #684
Can you try the below code, pretty much same as yours, with tensorflow 2.10.0..

[code]

[2022-11-28 16:04] Dnlee17 commented on #685
[GIT.zip](https://github.com/google-coral/edgetpu/files/10105388/GIT.zip)

images and int8 tflite model predict score (run on ubuntu) file in zip,Thanks!

[2022-11-28 17:09] hjonnala commented on #682
It could be a power supply issue. Can you try the recommendation on page 13( 5.1.3 ) : https://coral.ai/static/files/Coral-Dev-Board-Mini-datasheet.pdf

[2022-11-28 19:05] asymingt commented on #682
I doubt that's the issue. The largest power consumer on both boards I've tested is the ublox GNSS module, and it's around 120mA@5v, which is a tenth of that threshold.

[2022-11-28 19:07] asymingt commented on #682
I'll try and probe the serial line to see what's going on between the GNSS receiver and fastboot on boot. To re-iterate, if I plug the GNSS module or board in *after* boot (status LED on edgetpu board moves to green) everything works as expected.

[2022-11-29 02:21] fjzhangcr commented on #684
base on your code, i change the input and output dtype with uint8...so the tflite model can have the uint8 intput and output. I get the tflite file here
![image](https://user-images.githubusercontent.com/102020341/204422433-4c98d573-d7fb-4601-99c4-682ba393211f.png)
but edgetpu_compiler still can not compile the model.
here is my log

[code]
![image](https://user-images.githubusercontent.com/102020

[2022-11-29 02:41] hjonnala commented on #684
seems to be issue with the [tensorflow](https://github.com/hjonnala/snippets/blob/main/colab/Untitled3.ipynb) version you are using, please try with [tensorflow 2.10.0](https://github.com/hjonnala/snippets/blob/main/colab/Untitled4.ipynb)

[2022-11-29 02:52] hjonnala commented on #685
[code]

The results seems to be similar for most of the images, except for some images.

 Are there any expected results for these images to check the accuracy?  Wondering have you compared the results with tensorflow vs tflite model?
[code]

to debug this please compare the input tensor values on ubuntu vs dev board.

[2022-11-29 03:06] fjzhangcr commented on #684
**PROBLEM SOLVED! Thank you!**
It is the version which cause this problem.
When I switch to tf 2.10, the tflite model generate named [test_transConv2D_model_uint8_inout_tf210.tflite ]
It can successfully be compiled and all ops mapped to edgetpu.

[code]

[2022-11-29 03:07] #684 closed, assigned to hjonnala

[2022-11-29 05:32] asymingt commented on #682
Looks like fastboot allows you to push any key to stop the boot. So, obviously if you have a GPS unit streaming NMEA sentences at 20Hz, one of the characters is going to look like a keypress on UART0.

Here's what the serial console looks like on boot...

[code]

The board just hangs on the final line because the incoming sentences don't match any of the u-boot instructions.

[2022-11-29 06:03] Dnlee17 commented on #685
### 1.
It seems that the value is easily affected when the value is in the range of -40~40.

and most of my target images predictions are in this range,

so I was wondering what causes the value loss.

### 2.
Is the value loss problem definitely happen when int8 tflite converting to edgetpu?

(the edgetpu_costom_op or the dequantize part went wrong ? or something else like int8 tflite output is tf

[2022-11-29 07:42] spacebares commented on #302
hello, this is top result on google. Reboot did not help. I had to do a full powercycle to fix my stuck coral after some shenanigans.

[2022-11-29 13:36] fjzhangcr opened #686 "One of Four Conv2DTranspose Layer can not be mapped to TPU, it is in the middle, not the biggest one."
### Description

tf version is 2.10
int8 tflite model has 4 Conv2DTranspose Layer.
int8 tflite model has uint8 input and output
edgetpu compiler version 16.x

When I edgetpu compile the tflite model, the third Conv2DTranspose layer can not be mapped to TPU while the other 3 can be.

This is my tflite model architecture:
![image](https://user-images.githubusercontent.com/102020341/204539050-b7a62c5

[2022-11-29 16:10] hjonnala commented on #686
Can you try the [post integer quantization](https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/retrain_classification_ptq_tf2.ipynb#scrollTo=kRDabW_u1wnv) instead of quantization aware training to get a tflite model?

[2022-11-29 16:24] hjonnala commented on #685
There could be slight variations for tflite to edgetpu results. But the results posted are not expected. To debug the operations causing the difference

1. model needs to be compiled with [-i flag](https://coral.ai/docs/edgetpu/compiler/#usage).
2. And the output of edgetpu-custom-op needs to be compared with respective tflite operation output(by creating the interpreter with experimental_preserve

[2022-11-29 19:20] hjonnala commented on #682
Hmm.. Thanks for the details. There are two [UARTs](https://coral.ai/docs/dev-board-mini/gpio/#header-pinout) exposed on the header. Can you try to switch the console UART in UBOOT to be UART1?

[2022-11-30 00:30] rvalitov commented on #621
It would be awesome if supported. With popularity of Stable Diffusion and similar AI image generators, the Coral could be a great tool.

[2022-11-30 06:10] fjzhangcr commented on #686
I had a try but end up with a failure~~~ The model can not be compiled even~~
I am going to share you with my tflite model and the edgetpu compiler log
TFLite file with uint8 input and output is :[TFLite_INT8_post_training_Quantization_UINT8_IN_OUT.tflite](https://drive.google.com/file/d/14UhhHDXt41I_9Hj4aGDhaw2LmDDOlqQy/view?usp=share_link)

the log from edgetpu compiler, the compiler really try

[2022-11-30 08:40] hjonnala commented on #682
Can you also try to see if there is bootdelay in uboot environment variables and set it to -2..https://coral.googlesource.com/u-boot-mtk/+/refs/heads/master/common/Kconfig#357

[code]

[2022-11-30 15:20] G3zz opened #687 "Disable the LED on the USB accelerator"
### Description

Is it possible to permanently disable the coral LED on the USB accelerator? The light can leak into images taken at night.

Thanks

<details><summary>Click to expand!</summary>

 ### Issue Type

Feature Request

### Operating System

Linux

### Coral Device

USB Accelerator

### Other Devices

_No response_

### Programming Language

_No response_

### Relevant Log Output

_No res

[2022-11-30 18:13] hjonnala commented on #687
I think, there is no way to disable it as we don't have any API for that (the LED is controlled by MCU firmware). Thanks!

[2022-11-30 18:50] asymingt commented on #682
Thanks, @hjonnala. I have kernel recompilation working, so I can switch or disable the Linux console. But I've never changed the U-Boot UART, I'll need to work out how exactly to do that.

[2022-11-30 20:52] asymingt commented on #682
Looks to me like u-boot serial is configured in this way:
[code]
I would guess I need to configure stderr, stidin, stdout like this:
[code]
And then persist them with:
[code]
I can see from the `bootloader/u-boot/arch/arm/dts/mt8516.dtsi` file that serial@1100500 comes from this block:

[code]

But there is no `uart1` declared. My best guess is that I'd need to recompile the bootloader after addin