[2021-10-14 21:55] hjonnala commented on #490
can you please share your tflite model?

Thanks

[2021-10-15 05:07] mogorman opened #491 "Initial setup of M.2 Accelerator with Dual Edge TPU fails"
I tried to get it the dual edge tpu card working in my pc and cant seem to get it to do any work.  I am running a fresh ubuntu 21.04 and followed instructions from here https://coral.ai/docs/m2/get-started/ .  I tried the one troubleshooting suggestion, ` pcie_aspm=off` and it seemed to have no effect. ~~Also shouldnt I see two boards? I am only seeing the one apex_0 input.~~ I see my m.2 is only

[2021-10-15 10:06] sfc-gh-mruge commented on #485
1. Yes, I had made sure of that.
2. When I do this, two small LEDs turn on right by the ethernet plug (picture below).
3. Yes, that is what I meant with toggling the switches back and forth, to ensure that they have the correct setting.

[IMG_7412.pdf](https://github.com/google-coral/edgetpu/files/7352683/IMG_7412.pdf)

[2021-10-15 13:54] hjonnala commented on #491
can you please share the output of below snippet.

[code]

[2021-10-15 19:40] mogorman commented on #491
when i run that command my output looks the same except I am on python 3.9.7 and gcc 11.2.0
[code]

[2021-10-15 19:45] davidgressett commented on #490
[tfmmeffdetl0.zip](https://github.com/google-coral/edgetpu/files/7355689/tfmmeffdetl0.zip)

Please see the attached model that exhibits this behavior.

[2021-10-16 03:57] murkumurdok commented on #256
I just tried to use this exact card for my dual edge TPU but my motherboard isn't recognizing it.  What hardware are you using?  Anything special you did to have it recognized?

[2021-10-16 04:05] Homas commented on #256
It didn't work in PCIeX1 but does in a regular PCIe slot (X16). I'm using pretty old PC with ASUS P8Z68-V PRO motherboard.
Ubuntu 20.04 and frigate in docker.

[2021-10-16 04:11] murkumurdok commented on #256
Interesting, i'm on a Asrock B560M mini-itx, so I only have one PCIe X16 slot to work with, running Win10.  About to plug it into another machine to see if it's detected there.

[2021-10-16 04:34] murkumurdok commented on #256
Confirmed, my mini itx motherboard is the problem, I just installed it in my older gaming machine and it was recognized correctly/I successfully ran the bird photo test.  Anyone have any idea why my mini-itx won't recognize it?

[2021-10-16 09:32] mrshu commented on #43
@ryanm101 I sadly was not -- I still think it should not be such a big deal though :)

[2021-10-17 05:19] brilthor opened #492 "Inference times an order of magnitude higher using examples on M.2/pcie connected edgetpu"
### Description

It would appear that I'm seeing inference times that are an order of magnitude higher than they should be.  Thus far I've been unable to track down the source of the issue nor find references to similar behaviour in the issues here or more broadly through search.

- Using latest install/clone/dkms build as of 2021-10-17
- Temperature seem good (see temperature readouts)
- Link spe

[2021-10-18 04:05] manoj7410 commented on #443
Feel free to reopen if you are still facing this issue.

[2021-10-18 04:05] #443 closed, assigned to manoj7410

[2021-10-18 04:13] manoj7410 commented on #431
@shred86 Yes. that is true that some manufacturers lock the module to be used with only WiFi / SSD devices. Have you checked with the platform vendor regarding this ?

[2021-10-18 04:16] shred86 commented on #431
I have. Unfortunately their response is "we can only guarantee compatibility with SSDs". I suspect it's something they've locked down in the BIOS because like I mentioned previously, I had two nearly identical models of their mini PCs and on the older one it worked. I did notice the newer mini PC had updated BIOS and far less user configurable options in the BIOS.

I've since moved to the Odyssey

[2021-10-18 04:26] manoj7410 commented on #485
@capsfan95 Okay. Now, try to connect to the serial console as instructed at https://coral.ai/docs/dev-board/serial-console/#connect-with-macos except that do NOT connect to the power yet.

When your screen terminal is ready, then connect the power and see if you get any logs on the serial console.

It is difficult to accept that all three boards are having the same issue but can't be ignored as we

[2021-10-18 06:24] manoj7410 commented on #486
@cku239 This has been fixed. Please try to run the demo again.

[2021-10-18 06:24] #486 closed, assigned to manoj7410

[2021-10-18 06:30] manoj7410 commented on #489
@dungcules Can you also paste the output of the command 'dmesg' after the connection drops?

[2021-10-18 06:39] manoj7410 commented on #491
@mogorman Which machine/hardware are you working with ?

[2021-10-18 06:46] manoj7410 commented on #492
@brilthor On which hardware/machine have you connected the M.2 device ?
Please share the output of following commands:
- lscpu
- uname -a

[2021-10-18 08:55] ryanm101 commented on #43
ahh no worries, i just rebuilt it with debian.

[2021-10-18 10:23] ghost opened #493 "Installation for M.2 Accelerator on RockPI 4 fails ....."
### Description

Hello,

I have (as also under the RaspBerry) problems with the installation of the drivers /software and would be very pleased if I am helped here.
I have proceeded according to your installation instructions:

                               https://coral.ai/docs/m2/get-started/

and up to this step 6 everything worked fine, also verify that the PCIe driver is loaded.

Here I get

[2021-10-18 12:41] brilthor commented on #492
@manoj7410

HP DL360 Gen9

[code]

[code]

[2021-10-18 14:16] mogorman commented on #491
@manoj7410 currently trying this on a librem mini v1. with a Coral M.2 Accelerator with Dual Edge TPU

[2021-10-18 14:53] hjonnala commented on #490
Please try the command below to map more number of operations to edgetpu.

`!edgetpu_compiler -s -i "class_net/class-predict/BiasAdd;class_net/class-predict/separable_conv2d_4;class_net/class-predict/separable_conv2d;class_net/class-predict/bias"  "detector.tflite"`
[code]

[2021-10-18 15:27] kampff commented on #280
Any updates on this issue?

There was a tentative plan to investigate further when a PCIe Analyzer became available. Have these tests been done?

Thanks!

[2021-10-18 18:07] davidgressett commented on #490
Using the given parameters produced the same results. :) :)

[2021-10-18 18:25] hjonnala commented on #490
Max operations can be mapped to edgetpu for the given model are 261. Are you getting the same ?

[2021-10-18 18:50] wittzer commented on #256
Just share mine,
my dual edge TPU m.2 is working (only 1 TPU is running) on Nano Jetson 4Gb version and Gigabyte brix GB-BRi3H-10110.
So if two edge is running I should see apex0 and apex1 right?

[2021-10-18 18:54] davidgressett commented on #490
Exactly the same.

[2021-10-18 18:54] #490 closed, assigned to hjonnala

[2021-10-19 06:45] manoj7410 commented on #492
@brilthor I am trying to reproduce this on my machine but unable to.

Can you share the output of:
- modinfo apex
- modinfo gasket

[2021-10-19 06:57] manoj7410 commented on #491
@mogorman Please disable the secure boot on your machine and then try to run the demo again.

[2021-10-19 07:09] mogorman commented on #491
it doesnt have secure boot enabled.  its using stock seabios

[2021-10-19 10:01] ozett commented on #256
@willertan
could you confirm: both TPU from the dual are working on the jetson-nano?
that would be great!

[2021-10-19 10:34] dominch commented on #493
Were there any installation errors? Is DKMS module loaded into kernel?
what is output of:
`sudo modprobe apex`
`sudo modprobe gasket`

[2021-10-19 10:46] manoj7410 commented on #493
@Zhexue-M

[2021-10-19 12:00] soerensen3 commented on #256
I have bought the 2GB version of the Jetson Nano and the Dual Edge TPU but obviously this version of the Jetson Nano does not have an M.2 slot.

[2021-10-19 12:03] AkkiSony commented on #451
@hjonnala Is there a way to generate graph, which shows the cpu usage for high frequency and normal frequency?

[2021-10-19 14:02] brilthor commented on #492
@manoj7410

[code]

[code]
[code]

[2021-10-19 16:05] hjonnala commented on #491
can you please paste the output of below command:

`python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'`

[2021-10-19 16:34] mogorman commented on #491
[code]

[2021-10-19 17:11] hjonnala commented on #491
can you please check the permissions of` /dev/apex_0` and check if [this](https://github.com/tensorflow/tensorflow/issues/35054#issuecomment-716477440) works for you.

[2021-10-19 17:17] mogorman commented on #491
its already 660.
[code]

[2021-10-19 21:16] lolouk44 opened #494 "bulk out for header failed. Abort. Unknown: USB transfer error 1 [LibUsbDataOutCallback]"
### Description

Error message when trying to use Coral USB. (works fine when using CPU instead of TPU in config)
Frigate running on docker container.
In case it makes a difference, I have previously tried to run the M.2 Accelerator via a PCIe Adapter but my motherboard is PCIe 2.0, not 3.0. I had installed the relevant drivers as per the [Coral Instructions](https://coral.ai/docs/m2/get-started/#

[2021-10-19 21:42] hjonnala commented on #494
Are you able to run it locally without docker container? Can you please share the standalone script to reproduce the issue?

[2021-10-20 09:13] wittzer commented on #256
Sad to say, both Nano Jetson 4Gb & brix GB-BRi3H-10110 cant support 2 TPU, only 1 is detected.
I did some research and motherboard that support 2 TPU is rare or too "big" (full itx size) for robotic project

[2021-10-20 12:07] ghost commented on #493
modprobe apex brings: modprobe: FATAL: Module apex not found in directory /lib/modules/5.10.63-rockchip64
modprobe gasket brings: modprobe: FATAL: Module gasket not found in directory /lib/modules/5.10.63-rockchip64

modinfo gasket brings: modinfo: ERROR: Module gasket not found.
modinfo apex brings: modinfo: ERROR: Module apex not found.

[2021-10-20 12:14] dominch commented on #493
@Zhexue-M did that line returned errors?
`apt-get install gasket-dkms`

Can You please share `uname -a` too?

[2021-10-20 12:27] lolouk44 commented on #494
Thanks. I have not tried running without the container.
I've just checked the doc and Docker is the recommended install method, and there isn't any method listed for manual install so not too sure how to do this.

What do you mean by this? all I do is docker-compose up and the container eventually shuts down, logs provided were from the container.

In case it helps, here is my docker-compose:
[cod

[2021-10-20 12:42] ghost commented on #493
If in type "apt install gasket-dkms", I´ve got the following information back:

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
gasket-dkms is already the newest version (1.0-17).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

By "uname -a" it comes out:

Linux <hostname> 5.10.63-rockchip64 #21.08.2 SMP PREEMPT Wed Sep 8 10:57:23 UT

[2021-10-20 18:48] Matssa56 commented on #256
Hey guys I would like to use the Google Coral at home in order to use frigate. Since RPI5 isn't compatible, I was thinking of moving to a mini PC. I found some pretty nice HP EliteDesk 800 G4 i5-8500T but I can't seem to know if the m.2 slot is compatible with Google Coral.
Indeed I remember seeing sometimes that the m.2 slot is only for SSD and not something else.

When checking the specs, the fi

[2021-10-20 19:44] hjonnala commented on #494
Thanks for the details. Can you please share the model you are trying to run. or try to run the inference with below script.

[code]

[2021-10-20 19:53] lolouk44 commented on #494
Thanks. Am I supposed to run this in a specific location?
Should frigate be running?
I've tried to run it from within the docker container and here is what I'm seeing:
[code]
The model I'm using is the default provided one, I've not amended anything.
Would a copy of my config help?

[2021-10-20 19:55] magic-blue-smoke commented on #256
@Matssa56

I'm looking at HP EliteDesk 800 G4 i5-8500T specs here: https://support.hp.com/us-en/document/c06045012 and what I can tell is:

This one sounds promising. PCIe on m.2 slot is what you need for Coral TPU

I'd be cautious here. Specs point out "Intel 9560 802.11ac 2x2 Wi-Fi with Bluetooth M.2 Combo Card" and Intel specs https://www.intel.com/content/www/us/en/products/sku/99446/intel-wir

[2021-10-20 20:00] Matssa56 commented on #256
Ah perfect thanks for your help, I'm in France so not going with the Brasil stuff hehe.

For the NVMe, I watched the website https://www.servethehome.com/hp-elitedesk-800-g4-mini-tinyminimicro-guide-review/ and it seems like there are indeed 2 NVMes so I can use one for coral and another one for NVMe.

Next thing I need to do now is manage to buy a Coral A+M key but seems like out of stock EVERYWH

[2021-10-20 20:01] lolouk44 commented on #494
Thought I'd share my config anyway before I head off to bed
[code]
I've only just received my accelerator yesterday so for the time being I'm using CPU detectors until I can fix the accelerator issue

[2021-10-20 20:07] hjonnala commented on #494
please share your tflite model also.

Thanks

[2021-10-20 20:09] soerensen3 commented on #256
Hi @magic-blue-smoke,

I just found this project of yours:

https://hackaday.io/project/180953-dual-edge-tpu-adapter
https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter

From the description it seems that there a several prototypes actively beeing tested at the moment but not available for buying yet. But it seems like this would be a solution to anyone here failing to get the 2nd dual edge

[2021-10-20 20:12] lolouk44 commented on #494
Where do I find it pls?

[2021-10-20 20:16] hjonnala commented on #494
please check in your deployment folder with .tflite extension. Or please zip all the files you have  and share it as attachment.

[2021-10-20 20:19] lolouk44 commented on #494
Thanks. Like I said this is what come with the container.
[edgetpu_model.zip](https://github.com/google-coral/edgetpu/files/7384077/edgetpu_model.zip)

[2021-10-20 21:06] magic-blue-smoke commented on #256
@Matssa56 if you're in rush to build the system, then pre-order what you can and then look for motherboard. I don't know your requirements, but for example Single TPU A+E key card will be available from Mouser at the end of October. From what I see here in the first post, it works with Jetson Nano. Bigger options are: motherboard with normal A+E key (PCIe, not CNVio); or it will work in desktop PC

[2021-10-20 21:58] Matssa56 commented on #256
I'm not in a big rush since I already use a RPI4 4Gb. However seeing that there are some sales on some HP mini PCs and that my RPI is getting a bit crowded, I'd figure it would be the good time to switch. However, since I plan on using the Google Coral with my cameras (2 at the moment, 3 or 4 in a couple of weeks), I'm trying to make everything fit so that I don't buy useless stuff. So no need to

[2021-10-20 21:58] hjonnala commented on #491
can you please try the demo with the  below lines [here](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L41) and share the logs..

[code]

[2021-10-20 23:17] soerensen3 commented on #256
@magic-blue-smoke
Thanks for the explanation. Yes it is mentioned there but this m.2 stuff is difficult for me to understand. Until a few days ago I believed there was only one format.

I have HP Elite Desk 800 G1 DM which has a free m.2 slot which I believe is Key-A. Is it possible to use the Dual-TPU there? I did not find an adapter but according to this https://www.delock.de/infothek/M.2/M.2_e.

[2021-10-21 00:12] magic-blue-smoke commented on #256
Please check what key it has. Dual Edge TPU card is E-key only.

E-key has option to have two PCIe buses, ie 2x PCIe x1, not to be confused with two PCIe lanes. A-key can have only one bus.
Dual Edge TPU takes advantage of this option and has two independent TPUs on two independent buses.
Most hardware manufacturers don't believe someone would ever need two PCIe buses on m.2 E-key, implementing on

[2021-10-21 02:49] mogorman commented on #491
[code]
i didnt go further as couldnt talk to it

[2021-10-21 08:34] SamueldeFaria commented on #280
Thanks for your kind response.
My questions are:
1- Why don't you provide complete and professional looking made datasheets as all the other manufacturers?
2 - Whats the idea to provide that link? A company that is designing hardware as are we? Thanks but no thanks. I'm glad I didn't provide any information after all.

The product is working now with solution from other manufacturer. They were rea

[2021-10-21 09:56] dominch commented on #493
It seems that DKMS module is not installed, is that Armbian? Have You installed kernel headers modules?
try `apt update && apt upgrade -y && apt install -y linux-headers-current-rockchip64`
Then `apt-get --reinstall install gasket-dkms` and past here dkms build log.

[2021-10-21 10:26] ghost commented on #493
I had do that an now, I´ve got an Error - Message:
Error! Bad return status for module build on kernel: 5.10.63-rockchip64 (aarch64)
Consult /var/lib/dkms/gasket/1.0/build/make.log for more information.
dpkg: error processing package gasket-dkms (--configure):
 installed gasket-dkms package post-installation script subprocess returned error exit status 10
Errors were encountered while processing:

[2021-10-21 10:45] monte-monte commented on #280
@SamueldeFaria could you maybe specify which product have you chosen instead. This may be helpful for others who follow, or will stumble on this issue in the future.

[2021-10-21 11:15] dominch commented on #493
try as root:
`cd /usr/src/linux-headers-$(uname -r)`
`make scripts`
then reinstall dkms module again

[2021-10-21 16:41] hjonnala commented on #491
I am not sure how to fix the device open error..  Seems to be issue with MSI-X support (lspci -vvv|grep -i MSI-X).. Might be your host machine does not support M.2 dual edge TPU.

`I tflite/edgetpu_context_direct.cc:401] Failed to open device [Apex (PCIe)] at [/dev/apex_0]: Failed precondition: Device open failed : -1 (Connection timed out)`

[2021-10-21 16:45] hjonnala commented on #494
The model works fine locally. Can you please provide all the files/python scripts inside docker container?

Thanks

[2021-10-21 16:53] mogorman commented on #491
see above where i posted the output of lspci for info. seems it should support it?

[2021-10-21 19:46] dungcules opened #495 "Hard Time To Detect USB Storage Device"
### Description

Hello,

I got some situation that my 4GB Coral Development Board had a hard time to detect my USB storage device. Due to my attention, this situation happens more and more on low temperature. The datasheet mentioned that the board can work in range of 0-50 Celsius. Then, I made a temperature test with a clean Mendel OS.

To do the test, I put my board into freezer for 5 minute, po

[2021-10-21 20:00] dungcules commented on #489
I realize that the board uses BLE. Then, if there is not any data transfer, the connected status returns value 0. However, it is still able to ping the paired devices.

[2021-10-21 20:00] #489 closed, assigned to manoj7410

[2021-10-22 12:59] anuragkarwa001 opened #496 "running yolov3 on edge TPU"
### Description

I have tried running yolov3 tiny and its working fine but now I want to test yolov3 on edge TPU can anyone help me regarding that

<details><summary>Click to expand!</summary>

 ### Issue Type

_No response_

### Operating System

Ubuntu

### Coral Device

Mini PCIe

### Other Devices

_No response_

### Programming Language

C++

### Relevant Log Output

_No response_</details>

[2021-10-22 13:18] hjonnala commented on #496
Hi @anuragkarwa001 please convert tflite model to edgetpu model using [this tutorial](https://colab.sandbox.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb).

we don't have example script to run the inference for yolov3 model on edge TPU. But, you can try this [yolov4 model](https://github.com/google-coral/edgetpu/issues/460#issue-987611983) as a reference.

Thanks

[2021-10-24 19:58] mogorman commented on #491
tried on 2 other machines, only worked in one of them.  pretty frustrating.  happy to test anything on my other machine.

[2021-10-25 04:04] xsacha commented on #460
I believe I am also running in to this issue. Is there a workaround? Can I get it to map just that one op to the CPU? What is special about this Conv2d operator?

[2021-10-25 05:58] manoj7410 commented on #477
@EricXh Please share the output of:
- modinfo gasket
- modinfo apex

[2021-10-25 06:48] manoj7410 commented on #451
@AkkiSony We haven't created such tool to monitor the CPU usage however, you can collect the data using the tool like 'pidstat' and then plot that data on a graph.

[2021-10-25 06:58] AkkiSony commented on #451
@manoj7410 Thank for your input. I will try that!
Is there a way where I can compare few parameters with other harware accelerators? What parameters would you try to compare if you would be using two different accelerators? @hjonnala

[2021-10-25 07:26] manoj7410 commented on #491
@mogorman The machine, on which the PCIe device is working, has same configuration of the machine, on which the device is not working ?

[2021-10-25 09:59] lolouk44 commented on #494
Apologies I've been away, and also realised that for some reason I thought I was raising an issue on the frigate repo from [blakeblackshear](https://github.com/blakeblackshear/frigate)

Trying to go back to basics / start.
I'm following the [Run a model on the Edge TPU](https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu) instructions
Having downloaded the required data fr

[2021-10-25 14:01] brilthor commented on #492
Any other information / debug steps that would be helpful? @manoj7410 @hjonnala

[2021-10-25 14:22] mogorman commented on #491
they are different types of machines. currently working on a seed odyssey board via an nvme to mini pci e adapter. the others where just straight into the mini pcie slot

[2021-10-25 15:30] hjonnala commented on #458
@HanChangHun  sorry for the delay. Yes, it is not possible to allocate SRAM in order of factors.

The current compiler is assigning the SRAM regardless of order. It is best to use co compilation when you have multiple models and all of them can fit to SRAM to speed up performance.

[2021-10-25 16:10] lolouk44 commented on #494
Something interesting: I rebooted my computer and tried to run the above sript. It works for a few times (managed 3):
[code]
Before returning the error in the previous post.
Could it be that the drivers get overwritten? Or maybe the script works until some drivers get finally loaded and then it no longer works?

[2021-10-25 16:17] alsutton commented on #256
Adding a data point that may be useful to folk who find this; The [ASRock B365 Pro4 motherboard](https://www.asrock.com/mb/intel/b365%20pro4/index.asp) has a single bus m.2 E Key slot, and so you only get access to one of the two TPUs.

[2021-10-25 18:15] lolouk44 commented on #494
Something else:
I can run the classify_image.py script about twice before it fails. When it does, the accelerators's white led flashes quickly.
If I unplug the accelerator and plug it back, the LED returns to Solid on and the script will work another couple of times.
Can you confirm what the quick flashing means ? From the doc I can only see `On (Solid)` and `Pulse (Breathe)`

[2021-10-25 19:58] hjonnala commented on #494
The below error happens when the USB accelerator can't run the model. Are you trying to run same `mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite` model or a different model. If its a different model can you please share the model.

Also can you try the model with max operating frequency (`sudo apt-get install libedgetpu1-max`).. Thanks!
[code]

[2021-10-25 20:14] lolouk44 commented on #494
Thanks for coming back.

I tried the model that comes with instructions [here](https://coral.ai/docs/accelerator/get-started/#3-run-a-model-on-the-edge-tpu) so the one from your repo: [mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite](https://github.com/google-coral/test_data/blob/104342d2d3480b3e66203073dac24f4e2dbb4c41/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite)

Thanks I've tried an

[2021-10-25 20:22] hjonnala commented on #494
can you try this
[code]

[2021-10-25 20:25] lolouk44 commented on #494
Same issue. Works twice then fails.

[2021-10-25 20:43] hjonnala commented on #494
can you please try with other machines/laptops if you have them?

[2021-10-25 22:10] hjonnala commented on #380
Feel free to reopen if you have any questions on this issue.

[2021-10-25 22:10] #380 closed, assigned to hjonnala

[2021-10-25 23:52] lachlants opened #497 "Devboard Mini Inference Times"
### Description

Hello,
I'm getting lower than expected performance on the Coral Devboard Mini running the "Getting Started" PyCoral example. e.g. Running the command: `python3 examples/classify_image.py --model test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite --labels test_data/inat_bird_labels.txt --input test_data/parrot.jpg`

With the Mini I get an inference time of ~18.6ms and ~1

[2021-10-26 00:41] OzSpots-Wireless opened #498 "Parameters missing in apex_0"
### Description

The page https://coral.ai/docs/pcie-parameters/#using-the-parameters-on-linux shows the temp can be read.

Other posts show something like "cat /sys/class/apex/apex_0/temp"

I can't find anything to do with temp anywhere.

This is on Debian 11 using m.2 a+e accelerator in a pcie card:

<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Bug

### Operating

[2021-10-26 03:38] HanChangHun commented on #458
@hjonnala Oh, Thank you for your reply.

I wanted to allocate SRAM directly according to my priority. But I think it's okay.

[2021-10-26 03:38] #458 closed, assigned to hjonnala

[2021-10-26 09:09] manoj7410 commented on #492
@brilthor modinfo information seems correct. Please share the output of:

- lsmod | grep apex

Additionally, run below commands:

[code]

Then reboot the system and run the demo again. Let us know if this improves the inference speed.

[2021-10-26 12:33] manoj7410 commented on #498
@ozrouter Are you able to run the demos using Coral device ?

[2021-10-26 15:07] hjonnala commented on #488
Can you please try [this](https://github.com/adaptant-labs/edgetpu-exporter/blob/master/edgetpu-daemonset.yaml) and let us know if its working or not.

[2021-10-26 16:08] hjonnala commented on #460
@xsacha yes, you can map that op to the CPU using `-i flag` during the compilation.

`! edgetpu_compiler -s -i "node(operation) name" model.tflite`

[2021-10-26 17:02] lolouk44 commented on #494
I'm afraid I don't have a space machine with a USB 3.0 that I can use.
I've also received the power USB Hub and I experience the same issue. It works 2-3 times and then the same errors shows and and the accelerator start flashing like crazy.
Can you please find out what that flashing mode means so we can move forward?

[2021-10-26 18:25] brilthor commented on #492
@manoj7410 inference times did not improve:

[code]

[2021-10-26 21:51] OzSpots-Wireless commented on #498
hi, it runs fine in the Frigate docker app. The CPU is old with no AVX - don't know how to rebuild the demo's to try.

[2021-10-27 07:26] EricXh commented on #477
@manoj7410
`ait@ait-desktop:~$ modinfo gasket
modinfo: ERROR: Module gasket not found.
ait@ait-desktop:~$ modinfo apex
modinfo: ERROR: Module apex not found.
`

BR Erich

[2021-10-27 08:19] EricXh commented on #477
`sudo modprobe apex
modprobe: FATAL: Module apex not found in directory /lib/modules/4.9.253-tegra
`

`lspci -nn | grep 089a
01:00.0 Non-VGA unclassified device [0000]: Device [1ac1:089a]
`

[2021-10-27 11:00] manoj7410 commented on #477
@EricXh Did you try to compile the kernel again with our gasket module which is available at https://coral.googlesource.com/linux-imx/+/refs/heads/dkms/drivers/staging/gasket ?

[2021-10-27 11:04] manoj7410 commented on #491
Do you see any useful difference in the output of <lspci -vvv> from both the machines ?
Additionally, do you see this error on the other machine too ? [    1.643067] gasket: module verification failed: signature and/or required key missing - tainting kernel

[2021-10-27 11:10] EricXh commented on #477
@manoj7410 No, this I do not want to do because I use an nvidia nano board with custom mainboard with custom camera sensor drivers - so I do not have all needed sources to do this.

[2021-10-27 12:41] manoj7410 commented on #477
@EricXh Did you check if your kernel 4.9.253-tegra comes with default apex/gasket drivers ?

[2021-10-27 13:03] EricXh commented on #477
Hmm, how do I check this?

[2021-10-27 14:13] pdobrien3 commented on #256
So, all this m.2 key stuff is very confusing to me.  I have a Dell Optiplex MT 7040 with an m.2 slot.  The only thing I can find on the slot is SSD | M.2 22x80 socket3.  Would love to use the dual tpu google coral if possible.  Any hints on the best google coral to purchase would be greatly appreciated.

[2021-10-27 14:39] ajayrgb commented on #256
I think you'll want the M.2 B+M Key version since it's going in the SSD slot of the Optiplex.  You'll want to first make sure that slot isn't already occupied by an SSD.  It looks like this is the only M.2 slot on the motherboard.

[2021-10-27 17:50] hjonnala commented on #497
Hi @lachlants the extra latency is  due to `dev board mini` Uses `USB 2.0 interface` with the MT8167s SoC, whereas `dev board` Uses `PCIe  interface` with the iMX 8M SoC.

[2021-10-27 22:17] lachlants commented on #497
Okay, that makes sense... bit of a shame though.

Is there anyway to hide the increased latency and maintain throughput? e.g. via batching, etc.

[2021-10-28 08:42] dakota commented on #343
No idea, I gave up on trying to get it working on ESXi and rather got a cheap dedicated computer for the device.

[2021-10-28 15:32] hjonnala commented on #495
If possible, can you try to experiment by keeping the dev board in a thermal chamber and connect to host machine.

[2021-10-29 16:30] hjonnala commented on #494
The crazy flashing mode indicates that there is no chance USB accelerator can make inference further. The more reasonable next step would be resetting the device.

[2021-10-29 16:33] lolouk44 commented on #494
Thanks. Do you know if this is triggered by software or hardware?
I'm just trying to confirm if the issue is hardware to go claim a replacement before the device is too old.
If it's software it would be great if we could find out what triggers it. I'm more than happy trying to run some debugs with you to that end.
Thanks for your help thus far and have a great weekend

[2021-10-29 16:38] hjonnala commented on #494
It is triggered by software. I would suggest to test with another machine to check if there is some issue with USB 3.0 port as it is working fine with USB2.0 port.

[2021-10-29 17:23] msaeedm opened #499 "Exit DFU mode?"
### Description

Hello,

I am using coral usb accelerator on a remote computer that recently had a power outage. When the computer restarted, I noticed the coral usb device is now listed under Windows device manager as "Coral USB accelerator (DFU)". When that happened before I simply removed the coral device and inserted it again and that restored the normal mode. The problem is that the machine i

[2021-10-31 01:05] yanfali commented on #256
I have a 7040 Micro. I got 1 pci channel of the dual TPU m.2 a+e recognized in the m.2 NVME slot using an adapter. The WIFI adapter is keyed all wrong for the coral, even though it's the right dimensions. I'm waiting for magic-blue-smoke's dual m.2 b+m adapter to take advantage of both accelerators. Supposedly going on sale real soon now.

https://www.amazon.com/gp/product/B07WBXP632/ is the adapt

[2021-10-31 05:58] Vindhya07 commented on #336
I have tried the try/catch block approach and it didnt work :(
Is this a new modification to the library, cuz it was working fine a month ago

[2021-11-01 05:24] manoj7410 commented on #485
Feel free to reopen this thread if the issue still persists.

[2021-11-01 06:01] manoj7410 commented on #498
@ozrouter Which host OS are you working with ?
Any detailed steps to reproduce this on another machine ?

[2021-11-01 06:14] manoj7410 commented on #477
@EricXh On a fresh install try these commands:
- lsmod | grep apex
- lsmod | grep gasket
- modinfo apex
- modinfo gasket

and see if you get a pre-installed version of apex or gasket ?

[2021-11-01 06:18] OzSpots-Wireless commented on #498
Debian 11
brand new install using the a+e instructions - all worked perfectly and the coral works..

does the a+e m.2 actually provide a temperature?

[code]

[2021-11-01 19:03] hjonnala commented on #497
Unfortunately, we haven't explored any such options. Thanks!

[2021-11-01 19:03] #497 closed, assigned to hjonnala

[2021-11-01 19:12] hjonnala commented on #437
Closing due to inactivity. Please feel free to reopen if you still have any questions. Thanks!

[2021-11-01 19:12] #437 closed, assigned to hjonnala

[2021-11-01 20:37] hjonnala commented on #453
@xadrianzetx yes, its due to  depth wise conv layer limitation(Tensor has unsupported rank (up to 3 innermost dimensions mapped), those ops  are mapped to CPU.

[2021-11-02 10:23] EricXh commented on #477
@manoj7410 Did a fresh install.
The grep commands did not show any answer and the modinfo both module xxx not found.

[2021-11-02 17:39] hjonnala commented on #499
Hi @msaeedm  I think this is the default state when you plug in USB accelerator.

Can you please check the state after running at least one inference.

libedgetpu checks if USB accelerator is in DFU mode and then uploads the firmware, i.e. switches to normal working mode

[2021-11-02 23:25] mostafaayesh opened #500 "H264 hardware decoding"
### Description

Has anyone been able to decode H264 video using the hardware decoder on the Coral dev mini? I'm trying to decode RTSP streams using the hardware decoder but ffmpeg doesn't seem to work with `h264_v4l2m2m` and produces the following output:
[code]
The specsheet mentions the hardware is capable of decoding 1280x720 30 fps H264 video but I can't find a way to utilize it. Any help wit

[2021-11-03 00:47] mbirrell66 commented on #256
going to try a dual TPU with Sintech NGFF M.2 (Key-A+E/Key-E) to Mini PCI-E Express Adapter Card...

[2021-11-03 03:44] manoj7410 commented on #500
@mostafaayesh You can take reference from https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py regarding how decodebin is being used.

[2021-11-03 11:41] lolouk44 commented on #494
Thanks, Iike I said I don't have another machine available with a USB3 to test. It's working on a USB2.0 port so for now I'm "happy".
If you're able to share any details on what part of the software might trigger this I'll see if I can invetigate further, but for now I'll close this issue.

[2021-11-03 11:41] #494 closed, assigned to hjonnala

[2021-11-03 12:21] manoj7410 commented on #498
@ozrouter Please share the output of:

- uname -r

Did you blacklist the pre-installed Apex driver ?

[2021-11-03 13:00] hjonnala commented on #494
Please refer to this script: https://github.com/google-coral/libedgetpu/blob/master/driver/usb/usb_driver.cc#L802

Thanks
[code]

[2021-11-03 16:03] hjonnala commented on #113
Closing due to lack of activity. Feel free to reopen if issue still exists.

[2021-11-03 16:03] #113 closed

[2021-11-03 16:21] mostafaayesh commented on #500
@manoj7410 Thanks, I'll give that a try. But is it only possible with gstreamer and not ffmpeg?

[2021-11-03 20:25] msaeedm commented on #499
@hjonnala well that worked just like you said. The state changed from DFU to normal working mode.

Thank you

[2021-11-03 20:25] #499 closed, assigned to hjonnala

[2021-11-03 22:16] OzSpots-Wireless commented on #498
uname -r is above.

Yes, I blacklisted the driver. Installed the new one and un blacklisted as per instructions.
On default Debian 11 it looks to be the same driver...

[2021-11-04 10:29] kiwisax opened #501 "Sterling-LWB5+ WiFi 5 + Bluetooth 5.2 Module driver and Linux Mendel conflict"
### Description

Hi, we are using Coral SoM with Mendel Linux for our product and we are trying to integrate the driver of **Sterling-LWB5+** (the SoM is in a metal enclosure and it is not possible to add external antennas to the wi-fi and bluetooth builtin modules).
We added also other drivers, so we downloaded the linux Mendel repo, added drivers in linux-imx directory, changed the configuration

[2021-11-04 10:35] #394 closed, assigned to hjonnala

[2021-11-04 10:35] #379 closed, assigned to hjonnala

[2021-11-04 10:35] #347 closed, assigned to hjonnala

[2021-11-04 10:35] #324 closed, assigned to hjonnala

[2021-11-04 10:35] #191 closed

[2021-11-04 10:35] #473 closed, assigned to hjonnala

[2021-11-04 10:35] #210 closed

[2021-11-04 10:35] #404 closed, assigned to hjonnala

[2021-11-04 10:35] #382 closed, assigned to hjonnala

[2021-11-04 10:35] #304 closed, assigned to hjonnala

[2021-11-04 10:35] #431 closed, assigned to manoj7410

[2021-11-05 13:52] sfc-gh-mruge commented on #485
Hi,
sorry for the very delayed response, but we are still working from home office most of the time and the devices are at the office.

I tried the proposed approach on both a linux and a Mac machine, however I'm not sure about the details. In order to get a login prompt once the system finishes booting up, I would need to have a usable OS, so I first followed the steps of setting the device up an

[2021-11-05 14:10] hjonnala commented on #485
@capsfan95 can you please try to flash the board with [5.0 Eagle (Jul 2020)](https://mendel-linux.org/images/enterprise/eagle/enterprise-eagle-flashcard-20201208133741.zip) from [software](https://coral.ai/software/#mendel-dev-board) page.

[2021-11-06 07:37] Ouwen opened #502 "Input Size and Inference Speed"
### Description

I've been playing with different input size and inference speed for a simple Unet model on the USB accelerator.

For 128x128 input, I get around the benchmarked 3.3ms. However, for shapes like (1152x128) it takes around 250-300ms. It seems like it would be better to chunk the work into 9 (128x128) chunks to get an overall faster runtime. I'm curious what happens under the hood tha

[2021-11-07 12:40] ps-nl commented on #256
I can confirm that this E-key to M-key adaptor works: https://www.aliexpress.com/item/1005001274922542.html?spm=a2g0s.9042311.0.0.1fb44c4dbvMX3F

Obviously, only connects 1 of the 2 TPU's.

[2021-11-08 14:59] hjonnala commented on #502
Hi, @Ouwen can you please share compiler logs with s flag for 128x128 and 1152x128 inputs. (!edgetpu_compiler -s model.tflite)

[2021-11-08 16:09] hjonnala commented on #453
Fee free to reopen if you have questions.

[2021-11-08 16:09] #453 closed, assigned to hjonnala

[2021-11-08 16:17] #496 closed, assigned to hjonnala

[2021-11-08 17:42] darkalfx commented on #343
Then support it?

It's one of the most common use cases in the industry, put it on your roadmap or something.

[2021-11-08 18:42] KillahB33 commented on #343
I see this is still getting action so just gonna post my solution. I moved over to proxmox as there has been a posted solution.

@darkalfx this isn't a coral thing though, this is an issue with how hypervisors deal with this hardware.

[2021-11-09 02:55] tino926 opened #503 "different results from cpu and edgetpu"
I ran the sample and got different results from edgetpu model and cpu model. Is that normal?

This is what I got: (the scores of "tabby, tabby cat" are obviously different)
[code]

[2021-11-09 05:05] Ouwen commented on #502
All operations map to edge TPU, let me see if I can upload two as an example

[2021-11-09 05:29] Ouwen commented on #502
(larger input 896x208)
https://drive.google.com/file/d/1y8Sm0AlFaj-NXJNbCu4nXpvOuYAfX1PB/view?usp=sharing
250ms inference for a 896x208 image

(smaller input 208x208)
https://drive.google.com/file/d/1LovsCvsFp7M2CV2emvXZ0ET5OHGeZBNa/view?usp=sharing
45ms inference for a 896x208 equivalent image via padded patches

Insight as to why there is such a performance difference would be greatly appreciate

[2021-11-09 06:48] manoj7410 commented on #503
@tino926 I think it is not fair to expect exact same numbers from both the models. There can be a slight difference.

[2021-11-09 17:26] hjonnala commented on #502
Hi, Inference time would depends on operations mapped to edgetpu, operation involved and  model size etc..

For your model the performance difference is due to total number of compute operations, which increase with increase in model input size.

Unfortunately, we don't have any profiling tool to check computation time for individual operation.

Thanks.

[2021-11-09 19:44] Ouwen commented on #502
I see, so even if it is the same number of tflite operations, just by virtue of increased input size the compiler will use more or less ops under the hood.

In that case, is it a simple matter of trial and error to discover what the most optimal input size will be? Or is there a better way to explore this.

[2021-11-09 19:46] hjonnala commented on #503
@tino926 for some models there might be slight difference between cpu and edgeptu results. But for this model I am getting the same results. Have you used this `TENSORFLOW_COMMIT = "a4dfb8d1a71385bd6d122e4f27f86dcebb96712d"` to build the code.

[code]

[code]

[2021-11-09 20:11] hjonnala commented on #502
Optimal model input size would vary from model to model.

Yes, Depending on the inference and accuracy requirements you can experiment with different input sizes.

[2021-11-09 20:30] #502 closed, assigned to hjonnala

[2021-11-10 01:52] tino926 commented on #503
@hjonnala , thanks for your reply.
I found that I post the question at the wrong place,
I was going to post at https://github.com/Namburger/edgetpu-minimal-example .
However, still wish you can kindly help me about one more question:

By following Namburger's steps, the libedgetpu.so.1 is pre-built and included in download files. I thought I don't need to change the "TENSORFLOW_COMMIT" since it sh

[2021-11-10 09:15] tino926 commented on #460
@hjonnala, with this method, my yolov4-tiny edgetpu model became from
 ![image](https://user-images.githubusercontent.com/2639399/141083216-2471ca32-ce4b-4ef8-8275-4bdbcdedbf14.png) to ![image](https://user-images.githubusercontent.com/2639399/141083326-908108b4-ee2b-4e65-9c5c-a17e4bd36449.png).
They look similar, but the fps became from 100fps to 0.82fps. I guess the huge decrease of the performa

[2021-11-10 15:20] brilthor commented on #492
Is there a debug build for the kenel modules or similar that could help debug this?  Is the coral hardware faulty and needs to be returned? @manoj7410 @hjonnala

[2021-11-10 16:36] hjonnala commented on #503
As the repo that you are working has not been updated from 2 years, you would be working with old edgetpu runtime. Please find the latest ones here: https://github.com/google-coral/pycoral/tree/master/libedgetpu_bin

To install it form packages, please refer to software page: https://coral.ai/software/#debian-packages

If you want build the edgetpu runtime for yourself, please check this link: htt

[2021-11-10 17:48] hjonnala commented on #492
@brilthor  can you please try this and share the logs: https://github.com/google-coral/edgetpu/issues/491#issuecomment-948069240

[2021-11-10 18:42] brilthor commented on #492
Added and run, output is below:

<details><summary>Expand for the run output</summary>

[code]

[2021-11-10 21:16] hjonnala commented on #460
@tino926  As tflite does not support partial quantization yet, the only option is to split the mode into [two parts](https://stackoverflow.com/questions/43349489/how-to-split-a-model-into-two-seperate-models/43363915). But, I am not sure if it can be done for yolov4 model.

[2021-11-10 22:47] hjonnala commented on #492
It seems coral hardware does not support your motherboard, you might face the same issue with replacement also.

Can you please try the demo by changing this [line](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L71) to

case 1: `interpreter = make_interpreter(*args.model.split('@'), device='pci:0')`
case 2: `interpreter = make_interpreter(*args.model.split('@'), de

[2021-11-10 23:14] brilthor commented on #492
Added and run, output is below: (pci:0 had the same performance, pci:1 had a traceback)

<details><summary>Expand for the outputs</summary>

### `pci:0`
[code]

### `pci:1`
[code]

[2021-11-10 23:27] hjonnala commented on #492
It looks only one tpu got detected. can you please share the output of below snippet.

[code]

[2021-11-10 23:40] brilthor commented on #492
[code]
[code]

[2021-11-10 23:44] hjonnala commented on #492
yes, Only one tpu got detected with the motherboard and there is some data transfer issue with the mother board and coral hardware which is causing high latency.

[2021-11-10 23:54] brilthor commented on #492
I could live with 1 tpu if the inference speed was as expected, any idea for where to start digging to root out the high latency?

[2021-11-11 00:16] hjonnala commented on #492
can you try to run this [c++ code](https://github.com/hjonnala/snippets/blob/main/single_model_benchmark)

[code]

[2021-11-11 01:24] brilthor commented on #492
[code]

[2021-11-11 03:51] PenguinPaws commented on #256
Did you have to connect the USB header too?

[2021-11-11 05:52] ps-nl commented on #256
No, worked without the usb

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: PenguinPaws ***@***.***>
Sent: Thursday, November 11, 2021 4:52:10 AM
To: google-coral/edgetpu ***@***.***>
Cc: ps-nl ***@***.***>; Comment ***@***.***>
Subject: Re: [google-coral/edgetpu] What Edge TPU Works with What Hardware/Software (#256)

I can confirm that this E-key to M-key adapto

[2021-11-11 10:38] tino926 commented on #503
@hjonnala

I want to duplicate your result at (https://github.com/google-coral/edgetpu/issues/503#issuecomment-964479232),
however, I still can't get the same result as you got.

This is how I get the library and sample codes (follow https://coral.ai/docs/accelerator/get-started/):
[code]

And these are what I got:
[code]

[code]

[2021-11-11 14:02] hjonnala commented on #503
can you try with models from this [test data](https://github.com/google-coral/test_data)

[2021-11-11 14:22] hjonnala commented on #492
I am not sure of exact thing that causing high latency. I am working with USB accelerator. The difference I can see the number of DMAs scheduled. you can find the relevant code here: https://github.com/google-coral/libedgetpu/blob/master/driver/single_queue_dma_scheduler.cc#L132

M.2 Dual EDGE TPU
[code]

USB accelerator:

[code]

<details>

 python3 examples/classify_image.py   --model test_data/

[2021-11-12 13:27] sfc-gh-mruge commented on #485
I believe that it has something to do with the power. I tried to flash two of the devices with 5.0, with the pwr LED again remaining off and the board not powering up, after waiting for the boards to be flashed for a while. I will try to ensure the power supply with a volt meter, as soon as I get my hands on one. Any other suggestions?

[2021-11-12 20:15] PenguinPaws commented on #256
Awesome. Thank you! I'll probably give it a shot then.

[2021-11-12 22:50] JiashuGuo opened #504 "Error when run thr self converted coral model: RuntimeError: external/org_tensorflow/tensorflow/lite/kernels/elementwise.cc:59 input->type != expected_type (9 != 1)Node number 10 (RSQRT) failed to invoke."
### Description

I have a coral pose estimation model that I converted from the trained chekpoint follow [https://github.com/scnuhealthy/Tensorflow_PersonLab](). The model is tested to be able to run as TFlite format, but when I run it on Coral edgetpu it reports the error:
[code]
Do you have any idea about what does this error means and is it able to be fixed?

- Coral model: [https://drive.googl

[2021-11-12 23:14] hjonnala commented on #504
Hi, edgetpu api is deprecated. Can you please try with [pose_engine.py](https://github.com/google-coral/project-posenet/blob/master/pose_engine.py) from [project_posenet repo](https://github.com/google-coral/project-posenet).

[2021-11-12 23:33] JiashuGuo commented on #504
Yeah, I tried the new pose_engine and got an new error:
[code]

[2021-11-12 23:38] hjonnala commented on #504
can you please try to replace the custom posenet lib path [here](https://github.com/google-coral/project-posenet/blob/master/pose_engine.py#L32) and try the script.

[2021-11-12 23:50] JiashuGuo commented on #504
What do you mean by replacing the custom posenet lib path? I didn't change the path from the original script, not sure what is the correct path for that lib. If I change that line to `POSENET_SHARED_LIB = 'posenet_decoder.so'` I got:
[code]

[2021-11-13 00:12] hjonnala commented on #504
I am not able to run the tflite model.. can you please share the tflite code that you are able to run this model.

[code]

[2021-11-13 00:32] JiashuGuo commented on #504
Here is the code I run the tflite model:
[code]

[2021-11-13 00:37] JiashuGuo commented on #504
And here is the link for compiled edgetpu model: [https://drive.google.com/file/d/1OuGu05H2QwuJhMPQU3KIDp44kLSTSDSS/view?usp=sharing](url)

[2021-11-15 15:31] hjonnala commented on #504
Hi, please try this [script](https://github.com/hjonnala/snippets/blob/main/edgetpu_504/test_inference.py) to run inference..As your model output looks different from this [model](https://github.com/google-coral/project-posenet/blob/master/simple_pose.py#L26) you might to have to write your own [pose_engine.py](https://github.com/google-coral/project-posenet/blob/master/pose_engine.py) script with

[2021-11-15 16:28] JiashuGuo commented on #504
I actually tried to write a script that uses `tflite.Interpreter(model_path=str(tflite_file)` to run the model, and it seems the inference ended up with "Python Core dumped" error.

[2021-11-15 16:43] hjonnala commented on #504
for edgetpu models please include [experimental delegates](https://github.com/hjonnala/snippets/blob/main/edgetpu_504/test_inference.py#L9) to run the inference.

[2021-11-15 19:59] #472 closed, assigned to hjonnala

[2021-11-15 22:52] JiashuGuo commented on #504
Tried the script and got:
[code]

[2021-11-15 23:04] hjonnala commented on #504
Hmm.. Is it the same model you are running? I don't find **EdgeTpuDelegateForCustomOp** in kp_short_edgetpu model.

can you please share the following info:
[code]

[2021-11-15 23:10] JiashuGuo commented on #504
Yes, it is the kp_short_edgetpu.tflite model. Here is the output:
[code]

[2021-11-15 23:16] hjonnala commented on #504
please upgrade the edgetpu runtime to RuntimeVersion(14) and try the script.

[code]

[2021-11-16 00:13] JiashuGuo commented on #504
The script is able to run after upgrading the run_time to version 14, though it takes a super long time to finish. But I think this issue is solved, thanks for helping.
For others' reference, I upgrade run_time following this link: [https://coral.ai/software/#debian-packages](url), since `sudo apt-get dist-upgrade` doesn't work.

[2021-11-16 00:24] #504 closed, assigned to hjonnala

[2021-11-16 11:34] manoj7410 commented on #500
@mostafaayesh Gstreamer is what we have tried with. Not really sure how to do this with ffmpeg. But if you get some other way then you can paste that here so that other users may get help from that.

[2021-11-16 11:52] manoj7410 commented on #501
@kiwisax Are there any detailed steps to reproduce this issue ?
And what is the objective of installing this driver ?

[2021-11-16 13:06] kiwisax commented on #501
Hi @manoj7410 thank you for your reply. I'll answer first to the second question: we need to install this driver in order to use a Laird Wi-Fi + Bluetooth module, called Sterling-LWB5+. Without the driver it is not possible to use it. We need to use it, because it is not possible to use the Wi-Fi + Bluetooth built-in on the SOM, due the fact that we have a metal enclosure and it is not possible to

[2021-11-16 22:33] hjonnala commented on #503
Please try with updated models: https://github.com/google-coral/test_data/blob/master/mobilenet_v1_1.0_224_quant.tflite
https://github.com/google-coral/test_data/blob/master/mobilenet_v1_1.0_224_quant_edgetpu.tflite and let us if you have any questions

Thanks

[2021-11-16 22:33] #503 closed, assigned to hjonnala

[2021-11-17 06:34] tino926 commented on #503
@hjonnala
 Thanks for your replying, I got the same result with the models you provided.

[2021-11-17 06:59] tino926 commented on #460
@RobertChenKFC ,
Could you share how you convert darknet's weight to tflite? I suspect that the difference between the results is due the weight files. Like what happened in https://github.com/google-coral/edgetpu/issues/503 . Where tpu and cpu only output the same results with newer mobilenet_v1_1.0_224_quant(_edgetpu).tflite files.

[2021-11-17 07:28] tino926 commented on #460
@hjonnala , could you give some hints about this issue?
Due to the test in https://github.com/google-coral/edgetpu/issues/503#issuecomment-971250391 , I now suspect that the reason my yolov4-tiny model produces different results on tpc and cpu is that the tool I used to produced these models is too old ... which relies on tf 2.3.0rc.

Do you think that if I can solve the inconsistent result by upd

[2021-11-17 07:51] biharitomi commented on #446
Hey @bennyryan,
Did the adapter work for you?
I am in the same situation with an AsRock DeskMini with H310M-STX motherboard and a dual Edge TPU. No detection either from BIOS or lspci side of Ubuntu.

[2021-11-17 16:13] hjonnala commented on #460
@tino926 may be, please try with tf2.5.

[2021-11-17 18:51] mostafaayesh commented on #500
Thank you @manoj7410. I'm thinking about modifying the project to support GStreamer. For ffmpeg, I think it needs low level support for it to work which is more complicated. Feel free to close this issue if there is no one else who has a comment on this.

[2021-11-18 02:33] #500 closed, assigned to manoj7410

[2021-11-18 05:30] mbirrell66 commented on #256
I can confirm that tekit M.2 NGFF Key E Card to mPCIe (PCIe+USB) works with the Dual TPU (with 1 TPU working) plugged into a Ableconn PEX-MP117 Mini PCI-E to PCI-E Adapter Card (previously mentioned)...
https://www.amazon.com.au/gp/product/B07JK3VTZQ/ref=ppx_yo_dt_b_asin_title_o01_s00?ie=UTF8&th=1
https://www.amazon.com/dp/B07JBCL1CJ?psc=1&ref=ppx_yo2_dt_b_product_details

Debian 10 with Docker.

[2021-11-18 05:43] Hazeline2018 commented on #302
Hey guys, I have a dev mini board that doesn't work. So I'm trying to following the same forcing fastboot and reflashing procedure as you are doing. However, I tried using Ubuntu 20.04 installed on Win10, flashing failed. I'm wondering how exactly you did it and does it only work on true Linux machine as in the docs, it says the flashing procedure works for Mac and Linux only. Thanks for the help!

[2021-11-18 05:51] Hazeline2018 opened #505 "Coral Dev mini board forcing fastboot mode and reflashing failed"
### Description

I have a dev mini board that doesn't work. So I'm trying forcing fastboot and reflashing procedure as instructed. However, I tried using Ubuntu 20.04 installed on Win10, flashing failed. I'm wondering how exactly it should be done and does it only work on true Linux machine? as in the docs, it says the flashing procedure works for Mac and Linux only. Thanks for the help!

<details

[2021-11-18 14:58] hjonnala commented on #505
Hi, Here are some log details with Linux Machine.

[code]

- At this point, please use a wire to connect the KPCOL0 test point to ground, as shown in figure 2. Ideally, use a female-to-male jumper wire, with the female end attached to pin 39 on the GPIO header (ground), and then hold the male end firmly on the test point.

-  While maintaining a firm connection with the jumper wire, carefully conn

[2021-11-18 15:33] hjonnala commented on #492
@brilthor perhaps you can try with the new dual edge tpu or with any other machines to figure out if the issue is with motherboard or with the coral device.

[2021-11-18 17:27] hjonnala commented on #369
I have also tried with pycoral and libcoral don't see much difference in inference with both of them:

libcoral:

[code]

[code]

pycoral with 70 iterations:

[code]

[2021-11-18 17:27] #369 closed, assigned to hjonnala

[2021-11-18 18:01] flyingdorothia opened #506 "SRAM hierarchy description"
### Description

Maybe I missed the point of this bug issue thread. But I think this is the only way to get communications with you.
1. I am looking for a detailed description of the memory hierarchy of the edge TPU. Where could I find it?
2. To change the RTL of the TPU, could I use this repository to build my own RTL?
Thanks

<details><summary>Click to expand!</summary>

 ### Issue Type

_No res

[2021-11-18 20:42] brilthor commented on #492
will try swapping it into another host when I have a maintenance window and report back

[2021-11-18 21:02] MartnIV commented on #256
I just bought a Dual edge TPU and I got to connect it to a x1 PCIE.
Do you have any Aliexpress (or europe amazon) adapter that works to do the job to get one TPU working? (until I can get the MBS adapter)

[2021-11-19 03:24] Hazeline2018 commented on #505
Thanks for the prompt reply. I was actually asking if the reflashing process MUST be done on true Linux machine. Anyway, I tried it on a Linux machine, and it worked. So I'm good for now. Please close this thread. Thanks!

[2021-11-19 04:29] #505 closed, assigned to hjonnala

[2021-11-19 07:21] RobertChenKFC commented on #460
Hi @tino926, I pretty much followed [these instructions](https://wiki.loliot.net/docs/lang/python/libraries/yolov4/python-yolov4-edge-tpu), except I modified `yolov4-tiny.cfg` to use `yolo_tpu` layers instead of `yolo` layers, used `yolov4-tiny.weights` instead of `yolov4-tiny-relu.weights`, saved `yolo.model` as a TensorFlow Saved Model, and converted it into the quantized TFLite model using the

[2021-11-19 13:16] RobertChenKFC opened #507 "HIB Error on Coral Dev Board"
### Description

### Problem
I was running a TFLite model on the PCIe Edge TPU of the Coral Dev Board, but encountered this error:
[code]
I did follow the instructions from [here](https://coral.ai/docs/m2/get-started/#troubleshooting-on-linux) to modify the kernel command line arguments to include `gasket.dma_bit_mask=32`, but it didn't help. Here is the output of `cat /proc/cmdline` after the mod

[2021-11-19 18:23] hjonnala commented on #507
Hi @RobertChenKFC I am not able to reproduce it on coral dev board. Can you please try with any other coral dev board?

![image](https://user-images.githubusercontent.com/86132058/142672407-fda36aff-fcc4-4788-a543-b5968422a3ce.png)

[2021-11-22 14:21] RobertChenKFC commented on #507
@hjonnala Huh, that's weird. I just ran it again on my Coral Dev Board and the HIB error still popped up. Unfortunately, I don't have another Coral Dev Board to test with. I guess I will close the issue and reopen it later when there is a more reliable method to reproduce this error.

[2021-11-22 14:21] #507 closed, assigned to hjonnala

[2021-11-22 16:07] Tigran98 opened #508 "Can not successfully compile tflite model for Edge TPU"
### Description

I am trying to compile depth estimation .tflite model for Coral Dev Board. My goal is to map all operations to Edge TPU.
Initially my model contained ELU operations, and those where the only operations that could not be converted after using compilers' -sa flags. I've replaced ELU operations with PReLU to be able to use only Edge TPU.  But now I encounter an error:

**Compilation

[2021-11-22 17:50] hjonnala commented on #508
Hi @Tigran98 if you have multiple TPUs please try to segment the model to fully map to edgetpu and [pipeline](https://coral.ai/docs/edgetpu/pipeline/#run-a-segmented-model-in-a-pipeline) the model with multiple Edge TPUs.

`!edgetpu_compiler -s -n 2 prelu_test_640x192.tflite`

or please try to reduce the model input size and  compile it.

[2021-11-22 19:17] Tigran98 commented on #508
Hi @hjonnala . Thank you for your answer, I will try to reduce the input size.
BTW is there any method to measure the highest allowed input size or should I find it by experiments?
I want to use the highest values, because reducing much input size may degrade the accuracy.

[2021-11-22 19:55] hjonnala commented on #508
Unfortunately, we have to find the highest allowed input size by experiments only as it varies from model to model.

[2021-11-22 20:23] hjonnala commented on #506
Hello @lucyfan7266

Memory management is handled by the runtime/compiler. Please find an overview here: https://coral.ai/docs/edgetpu/compiler/#performance-considerations

As the TPU is not a FPGA, the RTL can not be programmed/changed.

Thanks.

[2021-11-22 21:05] cdrose opened #509 "Conv2DTranspose with strides > 1"
### Description

I have a model which I am trying to run on an edge TPU, but it performs upsampling of feature maps using layers like:

`layers.Conv2DTranspose(filters=256, kernel_size=2, strides=2, activation='relu')`

These quantize fine and run in the tflite interpreter but do not compile for the edge TPU.

Whats the best way to adjust my model using supported functions to achieve a similar eff

[2021-11-22 22:48] hjonnala commented on #509
@cdrose  Could you please describe the objective of your model and share the CPU tflite model.

[2021-11-23 00:33] cdrose commented on #509
@hjonnala The model uses mobilenetv2 as a base model and adds conv2dtranspose layers to upsample and generate segmentation masks from the features. Example attached.

I am currently experimenting with using UpSampling2D followed by Conv2D which seems to work though not yet as well as the original model. This arrangement does compile for edge TPU.

[mobilenet_quant.zip](https://github.com/google-co

[2021-11-23 03:56] OzSpots-Wireless commented on #498
this was caused by using a pcie adaptor (a+e wifi)

even though it worked the parameter's weren't loaded

[2021-11-23 03:56] #498 closed, assigned to manoj7410

[2021-11-23 20:59] hjonnala commented on #509
@cdrose I am able to compile the model. Are you trying to map all operations to edge TPU?

[2021-11-24 00:03] cdrose commented on #509
@hjonnala yes, sorry I should have been more clear. I am aiming to have all operations running on the edge TPU.

[2021-11-26 09:02] jirkulka opened #510 "GPIO pull-up to 3.3V at boot + after halt"
### Description

Hello,

I would like to make following pin go to 3.3V at boot and after linux halt, while controlling it freely through /sys/class/gpio/ in between boot and shutdown - just like RPI3 does it on some pins.

GPIO_P22 | /sys/class/gpio/gpio140 | chip: 4, line: 12

Required behavior: Coral Boot -> PIN HIGH -> app running, toggle PIN OFF -> Shutdown -> PIN HIGHT automatically -> halt -

[2021-11-27 10:38] jeremypsl opened #511 "M.2 Google Coral Dual TPU in VirtualBox ?"
Hello

i am wondering if it is possible to passtrough a M.2 Google Coral Dual TPU in VirtualBox ?

Thanks

[2021-11-27 13:40] phodgers opened #512 "Yolov5s Edge TPU Compilation - Operation is otherwise supported, but not mapped due to some unspecified limitation"
### Description

Hello,

The work at https://github.com/zldrobit/yolov5/tree/tf-edgetpu has progressed and compilation with edge tpu compiler v16 maps nearly all operations onto edge tpu but it reports a couple of operations where 'Operation is otherwise supported, but not mapped due to some unspecified limitation'. Is this a bug/limitation in the compiler? It seems it is very close to being able

[2021-11-27 13:51] phodgers commented on #512
Here is the exported yolov5s-int8_edgetpu.tflite if that is useful.

[yolov5s-int8_edgetpu.tflite.gz](https://github.com/google-coral/edgetpu/files/7611822/yolov5s-int8_edgetpu.tflite.gz)

[2021-11-29 03:06] manoj7410 commented on #511
@jeremypsl Few users have successfully accessed Coral devices on Virtual Box but I do not have the exact instructions available to do that. I'll check with the team here and will update this thread if there is a solution available. Meanwhile, let us see if any other Coral user provides a solution here.

[2021-11-29 14:55] hjonnala commented on #512
@phodgers It is due to transpose operations size they won't be able to map to edgetpu. Please try with the reduced model input size. Also, please share the uncompiled tflite model. Thanks!

[2021-11-29 15:42] cappittall opened #513 "How to feed image/jpeg format into edgetpuvision demo."
### Description

Hi,
First of all thank you for all.
I have maybe very sipmle problem but so far some trial not able to fix the issue.
with the command of `v4l2-ctl --list-formats-ext --device /dev/video1`
[code]
I am tring to use camera at 30 fps with high resulution. And  YUY2 formats have only low resulutions.

at the Coral's site mentioned only[ YUY2 format supported.](https://coral.ai/docs/de

[2021-11-29 17:11] phodgers commented on #512
@hjonnala thanks for the reply. The img size is set to 320, so not that large. When I try different img sizes I get different results, sometimes 2 operations not mapped and also the operation differs, it can be transpose, or quantize or reshape. I have also tried the smaller yolov5n (compiles to 2.5 MB, but also the same results in terms of 4 operations not mapped at 320 image size). So it leads m

[2021-11-29 19:15] hjonnala commented on #512
Hmm..For yolo5s-int8.tflite transpose operations [(1, 400, 3, 85),(1, 1600, 3, 85)] are too big for edgetpu. I hope reducing the input size would reduce the transpose operations size so that they can be mapped to edge TPU. Can you please share the tflite file, which reshape operation is not mapped. Thanks!

[2021-11-29 21:40] hjonnala commented on #513
Can you please share the notebook that you are able to run in this format?

 Yes, you cannot use image/jpeg format in Coral demo` edgetpu_demo --device`.

[2021-11-30 01:45] cappittall commented on #513
Thanks @hjonnala,

regarding to this [issue](https://github.com/google-coral/edgetpu/issues/319#:~:text=gst%2Dlaunch%2D1.0%20glvideomixer%20name%3Dm%20background%3Dblack%20sink_0%3A%3Axpos%3D0%20sink_0%3A%3Aypos%3D0%20sink_0%3A%3Azorder%3D1%20!%20glimagesink%20v4l2src%20device%3D/dev/video6%20!%20image/jpeg%2Cframerate%3D60/1%2Cwidth%3D640%2Cheight%3D480%20!%20jpegdec%20!%20glupload%20!%20glcolorc

[2021-11-30 11:22] phodgers commented on #512
Here are some selected results, I'll post each .tflite and its log output in following posts for reference.
img 224 - **2** operations not mapped due to some unspecified limitation
img 256 - **4** operations not mapped due to some unspecified limitation
img 352 - Compilation **failed**: Compilation failed due to large activation tensors in model.
img 384 - **5** operations (including **RESHAPE**)

[2021-11-30 11:23] phodgers commented on #512
img 224

[yolov5s-int8.zip](https://github.com/google-coral/edgetpu/files/7625305/yolov5s-int8.zip)

[2021-11-30 11:25] phodgers commented on #512
img 256

[yolov5s-int8.zip](https://github.com/google-coral/edgetpu/files/7625311/yolov5s-int8.zip)

[2021-11-30 11:26] phodgers commented on #512
img 352

[yolov5s-int8.zip](https://github.com/google-coral/edgetpu/files/7625320/yolov5s-int8.zip)

[2021-11-30 11:26] phodgers commented on #512
img 384

[yolov5s-int8.zip](https://github.com/google-coral/edgetpu/files/7625328/yolov5s-int8.zip)

[2021-11-30 11:28] phodgers commented on #512
img 480

[yolov5s-int8.zip](https://github.com/google-coral/edgetpu/files/7625339/yolov5s-int8.zip)

[2021-11-30 11:29] phodgers commented on #512
img 512

[yolov5s-int8.zip](https://github.com/google-coral/edgetpu/files/7625345/yolov5s-int8.zip)

[2021-11-30 18:17] hjonnala commented on #512
please try the command below for this model (image 480):
`!edgetpu_compiler -s  -i "model/tf_detect/Reshape_2/shape_1"  yolov5s-int8_480.tflite `

and for (image 352):
`edgetpu_compiler -s  -i "model/tf_detect/Reshape/shape_1"  yolov5s-int8_352.tflite`

In all  cases operations are not mapped due to edge TPU **compiler limitations** with the operation sizes.. Thanks!

[2021-11-30 22:25] hjonnala commented on #513
@cappittall  we don't have any planned updates to edgetpuvision repo in the near future, please refer to [examples-camera](https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py#L214) repo for image/jpeg implemenation.

![image](https://user-images.githubusercontent.com/86132058/144138009-aff1ef7e-5f6e-47a8-b139-135e0060fb84.png)

[2021-12-01 02:15] cappittall commented on #513
Thanks @hjonnala , So, i can use image/jpeg format at coral device in proper pipeline. At your first comment i got wrong you that i can not use this option at device.

[2021-12-01 02:15] #513 closed, assigned to hjonnala

[2021-12-01 10:42] phodgers commented on #512
@hjonnala Yes I can see using above options, that the 352 and 420 can now both also compile, with some more unsupported operations.

Do you have a feeling for whether the TPU compiler limitations are something that could be overcome with future release of compiler, or is it an issue that is unlikely to be possible for technical reasons?

Thanks,

[2021-12-01 12:24] cappittall commented on #513
Hı @hjonnala, thank you very much ;  i implemented the code as you directed. Works fine but at output (screen) significantly slow.  Have any suggestion?  `gst_base_sink_is_too_late`

EDİT:
Coral type ('mt8167' **NOT** in coral:)  I added `sync=false` to pipeline, then seams fixed this problem!

[2021-12-01 14:30] #506 closed, assigned to hjonnala

[2021-12-01 16:40] hjonnala commented on #511
Hi @jeremypsl  I think it is possible to pass through M.2 Google Coral Dual TPU in virtualbox. Please share the details if you are able to do it.  Here are some examples: https://www.reddit.com/r/Proxmox/comments/n34f8q/proxmox_vm_ubuntu_2004_frigate_2x_google_coral_tpu/

Please feel free to reopen if you are getting into any issues while pass through M.2 Dual Edge TPU in Virtual Box.

Good luck!

[2021-12-01 16:40] #511 closed, assigned to manoj7410

[2021-12-01 23:50] hjonnala commented on #512
I am not sure, most likely it is not possible map the large size operations especially  transpose and reshape operations.

[2021-12-01 23:50] #512 closed, assigned to hjonnala

[2021-12-02 01:47] hjonnala commented on #510
@jirkulka  are you able to make PIN HIGH during boot (Coral Boot -> PIN HIGH -> app running) with these instructions: https://github.com/google-coral/edgetpu/issues/175#issuecomment-661985170

[2021-12-02 05:39] flyingdorothia commented on #506
yes

[2021-12-02 17:17] hjonnala commented on #509
@cdrose do unet models from this [link](https://coral.ai/models/all/#segmentation) would work for you? I Hope you are using the latest `Edge TPU Compiler version 16.0.384591198`.

[2021-12-02 17:38] hjonnala commented on #405
@taloot  can you please share the tflite model with size 640. Thanks!

[2021-12-03 01:09] tedzhouhk commented on #491
Any updates on this? I meet basically the same issue when running M.2 B+M key TPU on either M.2 slot of intel 7700k on STRIX Z270i motherboard with Ubuntu 20.

I'd like to add that sometime when I reboot the machine, the coral edge TPU can be entirely gone and not visible until the next reboot.

@hjonnala Please let me know if anything I can share will be useful.

[2021-12-03 10:13] ibrahimsoliman97 opened #514 "Different Classification results in Python and C++ on EdgeTPU"
### Description

By running examples/classify_image.py with parrot.jpg image and mobilenetv2 model, i am getting exact classification restults as reported on the [documentation ](https://coral.ai/docs/m2/get-started/#4-run-a-model-on-the-edge-tpu)
Ara macao (Scarlet Macaw): 0.75781

But when i use the EdgTPU C++ API with same image and model, i am getting:
Ara macao (Scarlet Macaw): 0.703125
For C

[2021-12-03 12:30] cappittall commented on #513
Hello @hjonnala , i am very sorry to disturb again:

At the end i executed examples-camera at coral device which is **freescale i.MX8MQ Phanbell**

But can't be faster than 8 fps. And i need min 30fps for correct tracking. Looking for solutions.

- image/jpeg:1280x720:60:1

- Camera Logitech c922

I retrained my model with efident0 in order to make lighter size.

model link: https://drive.google.c

[2021-12-03 14:25] jirkulka commented on #510
@hjonnala the script #175 mentions device tree overlay which was helpful in the end.

What I did was to add external pull-up resistor of 820 Ohm and add the device tree overlay that modifies the strength of the pin to 40 Ohms, according to "iMX 8M Dual,8M QuadLite,8M Quad Applications Processors Reference Manual", page number 1618.

[code]

My original thought was to disable pull-down resistor, wh

[2021-12-03 14:39] #510 closed, assigned to hjonnala

[2021-12-03 16:00] hjonnala commented on #513
@cappittall since all operations are not mapped to edgeTPU the model is taking more time on CPU. Please try with USB accelerator or with some other [object detection](https://coral.ai/models/object-detection/#trained-models) models.

Dev Board
[code]
USB accelerator:
[code]

[2021-12-03 16:21] hjonnala commented on #514
Hi @ibrahimsoliman97 EdgTPU C++ API is deprecated. Can you please try with [libcoral](https://github.com/google-coral/libcoral) C++ API.

[2021-12-03 16:28] hjonnala commented on #491
@tedzhouhk can you please share the following details:

[code]

[2021-12-03 16:59] tedzhouhk commented on #491
Sure, here's the output (it's the same as yours expect the python version.
[code]

[2021-12-03 17:27] hjonnala commented on #491
@tedzhouhk  please add these two lines to the [demo](https://github.com/google-coral/pycoral/blob/master/examples/classify_image.py#L41) and share the output in txt file.

[code]

[2021-12-03 17:56] cappittall commented on #513
hi @hjonnala , Thank you very much and sorry still keeping you busy . For now usb acceleration not available in the country. Will take time to import, same as I did for coral dev board before.

However, I have re-build the model at colab file which you provided at your website. [link](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_efficientdet_model_maker_tf2.i

[2021-12-03 17:57] tedzhouhk commented on #491
Here's the result. There's around 10 seconds before the "failed to open device" error showed up after the "opening /dev/apex_0. read_only=0" message.
[code]
"dmesg | grep apex" after the execution:
[code]

[2021-12-03 18:29] hjonnala commented on #513
we have only tutorials with tf1 to retrain moblenet object detection model but not with tf2: https://github.com/google-coral/tutorials

Please check this comment to try with tf2: https://github.com/google-coral/tutorials/issues/16#issuecomment-916290558

[2021-12-03 18:59] hjonnala commented on #491
can you try the Workaround to disable Apex and Gasket section form this page: https://coral.ai/docs/m2/get-started/#troubleshooting-on-linux

[2021-12-03 19:45] tedzhouhk commented on #491
Do you mean disable apex and gasket when installing the driver? There is no apex or gasket before I install the driver.

[2021-12-03 20:50] hjonnala commented on #491
@tedzhouhk  Yes, please try the  Workaround to disable Apex and Gasket section. If still not working, if possible please try with Linux container or Ubuntu 18.04.

[2021-12-05 08:49] vukitoso commented on #280
Will this problem be wherever "Raspberry Pi CM4" is used or are there exceptions?

Did I understand correctly that at the moment (December 2021) it makes no sense to buy "Raspberry Pi CM4" to use "Coral edge Mini PCIe" and "Coral edge m.2"?

[2021-12-06 00:53] ibrahimsoliman97 commented on #514
Hi @hjonnala Actually I am using the API in [this link](https://coral.ai/docs/reference/cpp/edgetpu/) with TensorFlow Lite, I link both of them dynamically to my C++ Application.
For the Python side, i am using the libcoral API.
I just want to confirm with you again that EdgeTPU C++ API is deprecated.
My issue with using Libcoral C++ API, it is required to compile the library with my project using

[2021-12-06 01:23] ibrahimsoliman97 commented on #514
And one last question: what is the TF commit in [this docs](https://coral.ai/docs/edgetpu/tflite-cpp/#build-your-project-with-libedgetpu) for dynamic linking that used to build edgetpu_runtime_20210726.zip, because i cannot see any  TENSORFLOW_COMMIT in this [workspace](https://github.com/google-coral/libcoral/blob/master/WORKSPACE)?

[2021-12-06 03:45] manoj7410 commented on #514
@ibrahimsoliman97 I believe the TF version is being fetched from https://github.com/google-coral/libedgetpu/blob/master/workspace.bzl#L9.

libedgetpu_dependencies() is being called at https://github.com/google-coral/libcoral/blob/master/WORKSPACE#L25.

[2021-12-06 07:44] ibrahimsoliman97 commented on #514
Thanks for your reply @manoj7410 . I have tried TF Lite 2.5.0. and the issue still exist.
I have tried to build libcoral for C++. But i think Build for windows is not supported. am i right? @hjonnala

[2021-12-06 08:43] ibrahimsoliman97 commented on #514
Ok, I got some updates, the results differences are due to Python using PIL library while in C++ i am using OpenCV.
when I use OpenCV in Python, i am getting exactly same inference output. I believe it is due to the resize implementation on each library.

To summarize my questions in a single comment:
1- Does this method >> [linking libedgetpu.lib and dll with my tflite project](https://coral.ai/d

[2021-12-06 16:53] hjonnala commented on #508
Feel free to reopen if you have any questions. Thanks!

[2021-12-06 16:53] #508 closed, assigned to hjonnala

[2021-12-06 17:14] hjonnala commented on #514
Sorry, I thought you are using [edgetpu repo](https://github.com/google-coral/edgetpu/blob/master/libedgetpu/edgetpu_c.h). Edge TPU Runtime library ([libedgetpu](https://github.com/google-coral/libedgetpu/blob/master/tflite/public/edgetpu.h)) API is not deprecated. You can use libedgetpu repo to build your project.

Can you try to build libcoral using [build.bat](https://github.com/google-coral/li

[2021-12-07 07:37] ibrahimsoliman97 commented on #514
Thanks for you confirmation on Q1.

When i am trying to build libcoral on windows, I am getting these errors
![image](https://user-images.githubusercontent.com/30038478/144979030-9554551f-ca49-4fee-8277-dbc1acd9d03f.png)

Any reason why libcoral is not built as a shared library?

[2021-12-07 20:22] hjonnala commented on #514
@ibrahimsoliman97  yes, libcoral is a source-only library, there are many non-trivial issues in distributing and maintaining shared C++ library. It makes more sense for C language, not C++.

[2021-12-08 00:51] ibrahimsoliman97 commented on #514
I will be closing this issue, because the problem originally is inference differences between Python & C++ API which caused by PIL vs OpenCV Resize method. I will be using the TensorFlow Lite with libedgetpu for now.
Thanks for your support. However I want to write my feedback/suggestion about Coral Chip,
"From our testing with single TPU chip, we are impressed by how powerful the TPU is, compared

[2021-12-08 00:51] #514 closed, assigned to hjonnala

[2021-12-10 11:25] gj-raza opened #515 "Does the TFLite_Detection_PostProcess Op runs on the TPU or the CPU"
### Description

I've been experimenting with ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite model on an edge tpu, and from the edge tpu compiler doc, the compiler wraps all the tpu supported ops in one custom op mapped to tpu  and non supported ops as seperate nodes mapped to cpu, by looking in netron, the post process op  apprears as a seperat node, does that mean it is mapped and runs o

[2021-12-11 09:06] Tigran98 opened #516 "Power usage on Coral Dev board"
### Description

Hi,

How can I measure/monitor the power usage on Coral Dev Board?

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

### Coral Device

Dev Board

### Other Devices

_No response_

### Programming Language

_No response_

### Relevant Log Output

_No response_</details>

[2021-12-13 01:43] hjonnala commented on #515
Hi @gi-raza  yes, the TFLite_Detection_PostProcess Op runs on the CPU.

[2021-12-13 05:53] manoj7410 commented on #516
@Tigran98 Coral Dev Team hasn't developed any power measuring utility. However, you can try to run general Linux tools on the Mendel and see if that works for you. Few tools are:
- upower
- acpi
- powertop

[2021-12-13 07:31] ghost opened #517 "Can't find partition image to flash when flashing Google Coral on Mac OS 12"
I am trying to flash a google coral with a new mendel linus. I flashed a memory card with the recovery.img to get to uboot from where I rebooted into fastboot. The device is visible to fastboot but when I run bash flash.sh I get Can't find partition image  to flash.

[2021-12-13 07:52] ghost commented on #517
The output I get from Uboot is `request 000000007f959440 was not queued to ep1in-bulk`

[2021-12-13 08:42] gj-raza commented on #515
Got it. Thanks!

[2021-12-13 08:42] #515 closed, assigned to hjonnala

[2021-12-13 10:08] ghost commented on #517
Hello, the issue has been resolved. I think the memory card was corrupted. Even though blenacEtcher gave me a successful message, the recovery.img had not been written properly. I went out and got a new card and now it works fine. I was able to flash the entire flashcard_arm64.img and it executed correctly. I have successfully logged in Mendel 5.3.

[2021-12-13 10:09] #517 closed, assigned to hjonnala

[2021-12-14 11:26] torsteinelv commented on #256
dont think its possible on a single pci port, can only use 1 of the tpus

[2021-12-15 01:17] hjonnala commented on #509
Hi @cdrose are you still working on this? This [unet model](https://raw.githubusercontent.com/google-coral/test_data/master/keras_post_training_unet_mv2_128_quant.tflite) has  Conv2DTranspose with strides =2 and those operations are  mapped to edge TPU. Can you try to export the model with fixed tensor shapes and convert to tflite and compile with the edgetpu compiler.

`TRANSPOSE_CONV

[2021-12-15 01:30] cdrose commented on #509
Yes I am still working on these models. I have been using the Upsampling2D layer followed by a Conv2D as a workaround. I will try and have a look over the next couple of days and see if I can get it to work.

[2021-12-16 11:36] mikecamara commented on #259
Hey @Namburger  by any chance did you ever find a solution for this?

I'm also trying to implement the stop sign detection on the donkey car and got the very same error.

[2021-12-17 08:31] r06922090 opened #518 "Changing the order of co-compiling multiple models behaves differently on single EdgeTPU."
### Description

I tried to co-compile multiple models (a CNN and a RNN) running on an EdgeTPU. The iteration number of  RNN is set to 5. Since the SRAM size of EdgeTPU is only 8MB, some parameters load in off-chip memory.

Here is the co-compiled result of caching the CNN in the SRAM first.
Edge TPU Compiler version 15.0.340273435
Models compiled successfully in 2988 ms.
Input model: cnn.tflite
I

[2021-12-17 11:04] Tigran98 opened #519 "OPs of the Edge TPU model"
### Description

Hi,

How can I measure the number of OPs of a .tflite model compiled with Edge TPU Compiler?
By OPs I mean the number of operations, similar to FLOPs of floating point models.

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

### Coral Device

Dev Board

### Other Devices

_No response_

### Programming Language

_No respo

[2021-12-17 15:09] hjonnala commented on #518
Hi @r06922090 It looks like you are using old compiler version.  Can you please share the results with new `Edge TPU Compiler version 16.0.384591198`. Also please compare the combined execution time when the models co compiled and when the models compiled individually.

[2021-12-18 00:48] bodiroga commented on #256
Hi @willertan, just one simple question: did you place the Dual Edge TPU in the M.2 SSD slot (PCI-e x4 /SATA) of the Gigabyte Brix or did you replace the WiFi+BT card? In my case I have a Gigabyte Brix J5005 model and I would like to know if I can replace the WiFi card with the Dual Edge TPU (with a single TPU active, for sure), without sacrificing the M.2/SSD drive.

What's your experience? Would

[2021-12-18 15:45] r06922090 commented on #518
I tried to co-compile multiple models running with new Edge TPU Compiler version.
Here is the co-compiled result of caching the CNN in the SRAM first.
Edge TPU Compiler version 16.0.384591198
Started a compilation timeout timer of 180 seconds.
Models compiled successfully in 3498 ms.
Input model: cnn_first_edge.tflite
Input size: 8.00MiB
Output model: cnn_first_edgetpu.tflite
Output size: 9.31MiB

[2021-12-18 22:06] hjonnala commented on #518
@r06922090 Thanks for sharing the details. Please let us know if you have any questions now. Thanks!

[2021-12-19 21:18] Tigran98 commented on #519
Is there any profiler for Edge TPU models?

[2021-12-19 22:11] Tigran98 commented on #516
Hi @manoj7410 . Could you please help to run powertop on Coral Dev Board?
It gives errors now.
![coral_powertop](https://user-images.githubusercontent.com/47828848/146692621-a62b53e2-b467-4aee-831d-2bdd1adb7492.PNG)

[2021-12-20 03:50] manoj7410 commented on #516
Here is what I am getting in the output:

![Screenshot from 2021-12-20 09-18-30](https://user-images.githubusercontent.com/2090835/146709146-6c98ef8d-3229-4b43-9f17-809da136187e.png)
![Screenshot from 2021-12-20 09-18-11](https://user-images.githubusercontent.com/2090835/146709164-4994ed42-2da7-4813-ae18-62b5c94c9ebe.png)
![Screenshot from 2021-12-20 09-17-52](https://user-images.githubusercontent

[2021-12-20 06:36] Tigran98 commented on #516
@manoj7410, Yes, I am also getting such an output, but there is no information about power consumption. Also, the summary row has no useful information, there are nan values only. Here is the output on ubuntu virtual machine (there is power estimation column). How can I get such an output on Coral?
![ubuntu_powertop](https://user-images.githubusercontent.com/47828848/146722410-dde24e70-044e-44f9-a

[2021-12-20 06:49] manoj7410 commented on #516
Looks like the tool is not working on the Dev Board as expected. Apologies, but these are the only tools that I aware of.

[2021-12-20 18:41] Lagree007 commented on #480
How is this supposed to be inatalled. It has no .sh file

[2021-12-20 23:18] hjonnala commented on #519
Individual operation level profiling is not available for Edge TPU models.

Please refer to this link to compile the models based on profiling: https://coral.ai/docs/edgetpu/compiler/#profiling-partitioner

[2021-12-21 15:36] hjonnala commented on #480
Hi @Lagree007 no need of any installation. Just extract the zip folder and run the edgetpu_compiler command.

Please make sure your system has these requirements: https://coral.ai/docs/edgetpu/compiler/#system-requirements

[code]

[2021-12-22 03:51] r06922090 commented on #518
Now I  try to co-compile multiple models running with Edge TPU Compiler version 15.0.340273435. At this time, the iteration number of RNN is set to 1.

Here is the co-compiled result of caching the CNN in the SRAM first.
Edge TPU Compiler version 15.0.340273435
Models compiled successfully in 2704 ms.
Input model: cnn_first.tflite
Input size: 8.00MiB
Output model: cnn_first_edgetpu.tflite
Output s

[2021-12-22 13:54] muxamilian commented on #484
Got the exact same error when running on Linux on x86-64. Restarting the device didn't help but powering it off and on again (physically disabling the power supply) and then restarting it fixed the error.

[2021-12-22 16:53] hjonnala commented on #518
I think execution time significantly  shorter for RNN model with one iteration due  to small output size(3.11MiB vs 4.79MiB) and reduction in number of operations(17 vs 78) to be performed.

[2021-12-22 20:57] cappittall commented on #513
Hello @hjonnala,

I have tried to create new model since your above recomendation. But unfortunately, I could not able to create faster and at least same accurancy. My question is: USB acceletator is better then coral device? as I need more device to count for this project. (Bread counting) And if yes, this USB accelerator should be used at coral dev board device or any lightweight device like ras

[2021-12-23 13:39] cubit9-danielpeyer opened #520 "Unable to use v4l2loopback"
### Description

I can successfully install v4l2loopback-dkms and v4l2loopback-v4l2loopback-utils with `sudo apt install v4l2loopback-dkms v4l2loopback-utils`. But if I try to use it, like `sudo modprobe v4l2loopback devices=2`, it gives me an error like this `modprobe: FATAL: Module v4l2loopback not found in directory /lib/modules/4.14.98-imx`.

How can we fix that?

<details><summary>Click to ex

[2021-12-23 16:42] hjonnala commented on #513
Hello @cappittall I think, you have to use USB accelerator with a machine, which has high CPU. You might get same results if you use the USB accelerator with coral Dev Board or Raspberry Pi because of low CPU power with the existing model.

[2021-12-23 17:01] hjonnala commented on #520
@cubit9-danielpeyer can you please share the output below commands. Thanks!
[code]
<details>
[code]
</details>

[2021-12-23 23:55] cubit9-danielpeyer commented on #520
mendel@vexing-tang:~$ sudo apt install v4l2loopback-dkms v4l2loopback-utils
Reading package lists... Done
Building dependency tree
Reading state information... Done
v4l2loopback-dkms is already the newest version (0.12.1-1).
v4l2loopback-utils is already the newest version (0.12.1-1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

mendel@vexing-tang:~$ ls /lib/modules/4.14.98-imx/

[2021-12-24 05:41] cubit9-danielpeyer commented on #520
@hjonnala Thanks for your help. I figured out what I missed.
First I removed the two packages (`sudo apt remove v4l2loopback-dkms v4l2loopback-utils`) and then installed them again (`sudo apt install v4l2loopback-dkms v4l2loopback-utils`).
If I had looked more closely to the output of the installation, the reason would be clear.

...
**_Module build for kernel 4.14.98-imx was skipped since the
ker

[2021-12-24 05:41] #520 closed, assigned to hjonnala

[2021-12-24 09:59] r06922090 commented on #518
The RNNs of caching the CNN in the SRAM first and caching the RNN in the SRAM first have the same output size and operations. The execution of caching the CNN in the SRAM first must load the RNN parameters in SRAM, but caching the RNN in the SRAM first does not need to load any RNN parameter from off-chip memory. For caching the RNN in the SRAM first, the difference of RNN's execution time  betwee

[2021-12-24 10:54] cappittall commented on #513
Thanks @hjonnala for very valuable information. İ just remember to check original model which came with device "mobilenet_ssd_v1_coco_quant_postprocess_edgetpu.tflite" which works quite fast as good as camera frame. (İnf. rate 16ms- 60 fps) Now i need to find the way how this model created. Even mine is just one class (bread)

So device is ok for now.

[2021-12-24 10:57] cappittall commented on #513
![20211224_135214](https://user-images.githubusercontent.com/14778803/147346953-b3229a58-cf5f-45db-98b2-29af5fb0ce15.jpg)

[2021-12-24 13:20] r06922090 commented on #518
The total parameters of RNN is the same for different number of iterations. Does the increasing operations require more executable space that makes the file size become larger?

[2021-12-28 17:18] alexisc67 opened #521 "Problems running demo example in documentation"
Hi,

I am working with the development board and are trying to run some examples.

I am following the instructions here
https://coral.ai/docs/dev-board/get-started/#update-mendel
and all seems to be well.

However:

On step 7.
Running
edgetpu_demo --stream

Gives the error:
-bash: /usr/bin/edgetpu_demo: No such file or directory

On Step 8. After following the instructions to download and install

[2021-12-28 18:08] hjonnala commented on #521
Hi @alexisc67 can you please share the output of `nmcli connection show`

If the device is connected to the internet please try to run the below commands on dev board:

[code]

If there is any issue with  pycoral examples please install python3-pycoral:
`sudo apt-get install python3-pycoral`

[2021-12-28 19:33] alexisc67 commented on #521
Hi,

This the output for `nmcli connection show`

[code]

I will try your instructions now.

Alexis

[2021-12-28 20:01] alexisc67 commented on #521
Hi,

I followed the instructions.

For the first example.
The command `edgetpu_demo --stream` still gives the same error.
`-bash: edgetpu_demo: command not found`

For the second example. Installing `python3-pycoral` fixed. I just had to remove an old version of tflite-runtime and install with apt as explained here.
https://www.tensorflow.org/lite/guide/python

Thanks,
Alexis

[2021-12-28 20:08] hjonnala commented on #521
Okay, can you please share the output of following command:
[code]

[2021-12-28 20:15] alexisc67 commented on #521
Hi,

Here it is:

[code]

[2021-12-28 20:21] hjonnala commented on #521
Hi, Thanks for the info. Have you flash the board using sd card before. Can you please try to [reflash the board](https://coral.ai/docs/dev-board/get-started/#flash-the-board) using the sd card most probably that would fix the issue. Thanks!

[2021-12-28 20:27] alexisc67 commented on #521
Hi,

Ok, I will. I don't have a sd card now.

Alexis

[2021-12-28 20:32] hjonnala commented on #521
Meanwhile feel free to try the gstreamer camera examples: https://github.com/google-coral/examples-camera/tree/master/gstreamer

[2021-12-28 21:27] alexisc67 commented on #521
Hi,

The demo example works now after a new flash.

I will try other examples now.

Thanks for your help.

Alexis

[2022-01-01 01:27] RourkeDawson commented on #280
It seems that the issue revolves around support for MSI-X, (and depending on which TPU, how the m.2 slot is designed).

For embedded applications, is Google specifically highlighting that the whatever is carrying the TPU must support MSI-X for use over a PCIe lane? I can see in the datasheet under section 5.1 for the dual TPU ([https://coral.ai/docs/m2-dual-edgetpu/datasheet/](https://coral.ai/doc

[2022-01-01 15:12] vukitoso commented on #280
As I understand it, yes, the problem is everywhere with the "Raspberry Pi CM4".
The closest analogue is "ROCK3 Compute Module" - https://wiki.radxa.com/Rock3/CM3

And as I understand it, "Raspberry Pi CM4" can be replaced with "ROCK3 Compute Module" - https://forum.radxa.com/t/introduce-radxa-cm3-a-drop-in-replacement-for-the-cm4/7736

[2022-01-01 20:39] tedzhouhk commented on #491
@hjonnala Happy new year and sorry for the late reply, I finally have time to try this out on Ubuntu 18.04. Unfortunately, I got the same error. Any chance that it's a hardware problem?

[2022-01-01 22:05] geerlingguy commented on #280
@vebmaster - So far I haven't been able to get that compute module (nor Pine64's SOQuartz) to get to a state where I can test it but TPUs are some of the first devices I'm planning on testing!

[2022-01-03 14:50] #521 closed, assigned to hjonnala

[2022-01-03 14:52] hjonnala commented on #518
@r06922090 Feel free to reopen if you have any questions. Thanks!

[2022-01-03 14:52] #518 closed, assigned to hjonnala

[2022-01-07 11:15] christianbaun opened #522 "Is it possible to preload a model into the Coral Edge TPU and keep it there for some time?"
For a software project, I want to do object detection with many individual images over some time (hours/days).

When using the Coral Edge TPU Accelerator (USB) on a RasPi 4 (4 GB) with the Raspberry Pi OS (I tested versions with Debian 10 or Debian 11), the performance for analyzing single images by just using the CPU is faster compared with using the Coral TPU.

Here, some measurements of [this c

[2022-01-07 18:26] hjonnala commented on #522
Yes, It is possible to load a model into the Edge TPU. The [script](https://github.com/christianbaun/pestdetector/blob/main/TFLite_detection_image_modified.py#L125) you are using also loading model into interpreter for only once when passing image directory as input. Can you please share the detect.tflite model you are using. Thanks!

[2022-01-07 19:38] christianbaun commented on #522
But I never execute the script for a group of images. Only for a single image. The most recent one.

The workflow is: I create an image with the camera and execute the script for object detection for exactly this new image. And I do this this in an infinte loop.

The question is: Can I load the model into the Edge TPU memory and keep it there for some time?

And can I do object detection for a sin

[2022-01-07 20:42] hjonnala commented on #522
Okay, I think, It is not possible to preload a model into the Coral Edge TPU and keep it there for some time.

We can pass images in image directory or stream of images to avoid loading it for every image.

Feel free to check the streaming examples from this repo: https://github.com/google-coral/examples-camera. Thanks!

[2022-01-07 21:10] christianbaun commented on #522
But this way (if I collect a number of images and do the object detection when I have a number X of images available), it is no longer "real time". I still hope there is another solution that includes working with single images but still performs well.

If in the end object recognition is not possible without the prior upload of a model, then it is likely that the Coral TPU cannot be used to work

[2022-01-08 17:57] asmirnou opened #523 "USB devices are not auto detected after start until plugged"
### Description

UVC-Compliant USB 2.0 camera connected to USB 2.0 Type-C OTG connector on Coral Dev board mini is recognised well only when plugged. After dev board reboots the device is no longer detected until re-plugged.

I've tried resetting USB device, re-binding USB bus, triggering UDEV service - all to no avail, nothing helps until physically reconnect the device. I also tested with anothe

[2022-01-09 02:00] BasavaG commented on #167
Hi all,
I am facing the same issue windows10. Any work around? Please help me,

[2022-01-10 17:11] hjonnala commented on #522
The total script execution is more for single image when running edgeptu model is because of the time taken to make edgeptu [interpreter](https://github.com/christianbaun/pestdetector/blob/main/TFLite_detection_image_modified.py#L130) line vs cpu tflite [interpeter](https://github.com/christianbaun/pestdetector/blob/main/TFLite_detection_image_modified.py#L134).

You can check the inference time d

[2022-01-10 20:32] ghost opened #524 "Coral TPU Accelerator Module for ARMv7 32-bit A83T"
### Description

I was looking into the Coral TPU Accelerator Datasheet, and I realized that the module only supports ARMv8 64bit. But I am only planning on using the USB2.0 drivers for the module. Is it possible to write drivers for the Allwinner A83T? I know there was a very similar post on this but they was planning on using the PCIe. I will not be using a usual linux operating system but a bar

[2022-01-10 21:14] cdrose opened #525 "QAT with Concatenate Layers"
### Description

I am trying to do QAT on a model with Concatenate layers and get the following error:

`RuntimeError: Layer concatenate:<class 'keras.layers.merge.Concatenate'> is not supported. You can quantize this layer by passing a `tfmot.quantization.keras.QuantizeConfig` instance to the `quantize_annotate_layer` API.`

Plenty of the precompiled models for the Edge TPU use Concatenate layers

[2022-01-10 21:41] hjonnala commented on #525
Hello @cdrose  please check the model in this [comment](https://github.com/google-coral/edgetpu/issues/420#issuecomment-887706210) and let us know if it helps fix the issue. Thanks!

[2022-01-10 23:13] cdrose commented on #525
@hjonnala Thanks, you got me on the right track. Heres my solution:

[code]

[2022-01-11 16:47] hjonnala commented on #524
I think, Coral TPU accelerator works with armv7a 64 bit architecture also. As we have [projects](https://github.com/google-coral/project-posenet/tree/master/posenet_lib) that work on armv7 architecture. Thanks!

[2022-01-11 17:18] cdrose commented on #525
I have now tested this and the code above does work and does allow QAT and compilation to tflite. The compiled model will run fully on edge TPU and works as expected. Closing =)

[2022-01-12 16:59] oriyaish commented on #523
I am also struggling this issue.
Did you find a solution?

Thanks

[2022-01-12 17:45] hjonnala commented on #516
@Tigran98 here are some resources that might help you:

- https://github.com/mbrooksx/draft-coral-appnotes/blob/main/PowerSavings.pdf
- power consumption section in [SOM datasheet](https://coral.ai/static/files/Coral-SoM-datasheet.pdf) page 11.

Also, please explore usb adapter type hardware tools to connect to the board to monitor the power consumption. Thanks!

[2022-01-13 00:26] MostHated commented on #256
Hello all, I finally got my hands on a Coral, but it's the dev board variant. I realize that this is probably a long shot, but I was wondering if it's possible to use dev board to emulate the USB accelerator (as it's only the 1gb model, so I worry running NVR software on it will have the memory packed to the brim), so that I could simply plug the dev board into a device running Frigate and have it

[2022-01-14 03:32] Victor-Martinez-Pozos opened #526 "Coral multicamera compatibility"
Is it posible to use an arducam adapter/hat to conect multiple cameras to a dev mini board mipi-csi connector?

[2022-01-16 18:07] brilthor commented on #492
I've done an entirely fresh install of ubuntu 20.04 on a separate system and am still getting the same results:

[code]

[2022-01-17 09:27] manoj7410 commented on #523
@asmirnou Which Mendel version are you working with?

[2022-01-17 09:36] asmirnou commented on #523
the latest, 5.3

[2022-01-17 15:13] fryc88 commented on #256
Ok, so what are options 'out of box' to get both TPUs working? Adapters are not available, i've got my coral dual tpu in hands, been using it with 1 chip for ages.
I was hoping to see devices here saing 'this' motherboard and cpu works with both chips, but so far cant see a single device here?

[2022-01-17 16:11] raintonr commented on #256
Coming soon... https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter

[2022-01-17 16:20] fryc88 commented on #256
Yeah I've seen that info. I could change my hardware too, I'm not too bothered, but so far I'm unable to find compatible device.
Also I've seen those adapters are 'switching' PCIE devices, but I don't understand how it works. Is it affecting any timing or its not affecting any efficiency of dual tpu?
Plus I think my dell Wyse 5070 got a+e slot and I can't see adapter for it or I'm blind(I've seen

[2022-01-17 16:40] #525 closed, assigned to hjonnala

[2022-01-17 16:52] cdrose commented on #522
@christianbaun From what I can gather you have some other process which is saving images into a folder and then you trigger your python script to run inference on the images in that folder? Instead of creating a new edgetpu interpreter every time, you need to have a long running script that creates the interpreter, loads the model then loops indefinitely processing images as they become available.

[2022-01-18 07:40] christianbaun commented on #522
@cdrose This is a very good idea. Probably the approach that requires the least change to my existing software. I will try this way.

[2022-01-18 11:07] oriyaish commented on #305
@joshfox10
I am also struggling this issue.
Did you find a solution?

Thanks

[2022-01-18 13:14] oriyaish opened #527 "Unplug power cable while device is running - coral dev mini"
### Description

Hello,
When I'm using excelsior-eagle-20201210233645 image(mendel version: 5.0) , I have no problem to unplug the board while it is running.

**but** when I build mendel for the coral dev board mini by this tutorial:
https://coral.googlesource.com/docs/+/refs/heads/master/GettingStarted.md
(mendel version : 5.3)
every thing is fine , **until** I unplug the board.
when I unplug the

[2022-01-18 18:58] hjonnala commented on #527
Hello @oriyaish it is expected that the system image could get corrupted if you unplug it when it is running.

https://coral.ai/docs/dev-board-mini/get-started/#8-safely-shut-down-the-board

[2022-01-19 09:15] oriyaish commented on #523
@manoj7410
@asmirnou

It is also the situation in 5.0

[2022-01-19 09:20] oriyaish commented on #527
@hjonnala
I guess it's a software issue because it's depends on version/update.

[2022-01-19 14:49] joshfox10 commented on #305
@oriyaish
I did not find a solution, but fortunately the issue hasn't happened since.  Best of luck!

[2022-01-20 13:38] christianbaun commented on #522
@hjonnala As you suggested, I did some timing tests to find out where most time is lost, and responsible is not the [line](https://github.com/christianbaun/pestdetector/blob/b9a1050fe467e9cfed3962cbed24cc26cf9a10e0/TFLite_detection_image_modified.py#L110) where the `invoke`-operation happens:

`interpreter.invoke()`

This operation ([here](https://github.com/christianbaun/pestdetector/blob/b9a1050

[2022-01-21 01:21] bowen-song commented on #345
Having the same issue as @koldogut. Everything was working fine in the docker container for a bit, then after a restart of the VM it wouldn't work anymore.

[2022-01-21 03:12] manishbuttan commented on #280
Hello, has there been any progress on this? I understand from RPi that the issue is with the Coral Driver re-write. Is the driver open source? We at Artificial Machines have experience writing PCI drivers and can work on this if the driver is open source. Thanks.

[2022-01-21 03:17] bowen-song commented on #345
In case anyone is looking for the fix, here's what worked for me on my machine.

On proxmox in `/etc/default/grub`, make sure you include `pcie_aspm=off` in default boot:
`GRUB_CMDLINE_LINUX_DEFAULT="pcie_aspm=off"`

This seems to stop proxmox from allowing the pci device to enter a sleep state.
After updating grub, make sure to run `update-grub`

I've also included the same `pcie_aspm=off` in my

[2022-01-21 16:13] HeedfulCrayon commented on #345
@bowen-song I have that in my set up as well, and it mostly works, but there is an occasional reboot that causes the TPU to no longer work.  Normally just rebooting the VM will get it working again, but it is still frustrating

[2022-01-22 16:21] micahvandeusen commented on #343
Is there any update on this issue and where it is on the roadmap to be fixed?

[2022-01-24 03:46] KevinShek opened #528 "2 LED lit up on the Dev Board Mini and would not boot anymore"
### Description

Hi,

I was following the tutorial of https://coral.ai/docs/dev-board-mini/get-started/ to flash my Dev Board Mini. I was trying to view the device on my PC but was not able to. After trying different methods to view the device on my PC, the board then had 2 LED lit up and the board would not boot anymore. I have tried to see if I am getting any feedback with a keyboard and monitor

[2022-01-24 10:37] KevinShek commented on #528
I have used the following solution and it solved my issue.

https://github.com/google-coral/edgetpu/issues/235#issuecomment-783504099

[2022-01-24 10:37] #528 closed, assigned to hjonnala

[2022-01-24 23:46] hjonnala commented on #280
@manishbuttan I think, this is the source code for gasket-dkms package: https://coral.googlesource.com/gasket-dkms-debian/

[2022-01-25 00:03] mbrooksx commented on #280
The driver is located at https://github.com/google/gasket-driver

[2022-01-25 02:53] manishbuttan commented on #280
Thank you Michael.

[2022-01-26 07:36] slaygirlz commented on #280
incredible this issue is still open after 2 years

[2022-01-26 13:00] timonsku commented on #280
A year and one month is a fair bit off from 2 years :)
The limitations are clear and it has been stated at the very beginning that the chances are slim. Maybe @manishbuttan has success but its clear that Google does not plan to spend resources on the CM4 specifically given the limitations that need to be worked around.

[2022-01-27 15:37] ViPeR5000 commented on #256
Same here

[2022-01-30 21:10] magic-blue-smoke commented on #256
@fryc88 PCIe bus is more like Ethernet network (including routed data packets), rather than "bus". Imagine PCIe switch as network switch with downstream port and aggregated upstream port. My current adapters use PCIe Gen 2 switch with one upstream lane. This means that two TPUs are sharing same bandwidth of upstream port, but both working in parallel. It adds some latency: https://github.com/magic

[2022-01-30 22:36] fryc88 commented on #256
Dual Edge TPU works in my 5070 as 1 chip visible, so i'm assuming it is PCIe?

There is no room for 2280 indeed, however after moving 1 cap i would be able to install longer card easily, or possibly after moving two caps install 2280. Problem would be only with mounting hole :)
![obraz](https://user-images.githubusercontent.com/50572708/151720683-7ad745c4-fd82-4832-bfcb-235a64c76e67.png)
Also, the

[2022-02-01 04:10] murreletinnovation opened #529 "Booting SoM on Custom Board"
### Description

Hi Google Coral Team,

I am working on a custom board that makes use of the Google SoM, but unfortunately it is failing to boot. I have written a startup script that flashes an LED (GPIO 6) after the SoM has booted, and I have confirmed its functionality when working off of the Dev Board. When I move the SoM to the custom board, I am unfortunately not seeing this behavior.

I was

[2022-02-01 13:46] vikashpatel1985 opened #530 "Model has multiple output"
### Description

Hi Google Coral Team,

I am converting a quant model to EdgeTPU model using edgetpu compiler version 14.1.317412892. Quant model has multiple output (3 output), when I am trying to convert it to edgeTPU model using command "edgetpu_compiler -i outputname *.tflite", multiple outputs are not generated, only single output is generating. Can you please help me on how to convert quant

[2022-02-01 14:21] hjonnala commented on #530
Hi @vikashpatel1985  please try with latest `compiler version 16.0.384591198`

https://colab.research.google.com/github/google-coral/tutorials/blob/master/compile_for_edgetpu.ipynb

[2022-02-01 17:07] simonyel opened #531 "Coral Dual TPU not detected"
### Description

I have a Lenovo P340 Tiny. I replaced Intel AX210NGW with Coral Dual TPU E-key. Followed the install instruction and don't see even one apex device detected.

PC: https://pcsupport.lenovo.com/us/en/products/workstations/thinkstation-p-series-workstations/thinkstation-p340-tiny
OS: Ubuntu 20.04.3 LTS
Coral: Dual TPU E-Key

<details><summary>Click to expand!</summary>

 ### Issue Ty

[2022-02-01 19:31] #531 closed, assigned to manoj7410

[2022-02-01 20:35] hjonnala commented on #529
Hi BOOT_MODE0=0 and BOOT_MODE1=1 is for serial downloader boot type. Can you please let us know which type of boot  are you trying to perform? Thanks!

https://coral.ai/static/files/Coral-SoM-datasheet.pdf

[2022-02-01 20:47] murreletinnovation commented on #529
I believe we're trying to perform an internal boot. Am I misunderstanding what BOOT_MODE[1:0]=10 means? I thought that would imply that the 0-index bit is 0 and the 1-index bit is 1.

[2022-02-02 17:22] hjonnala commented on #529
Sorry, I misunderstood it.

Unfortunately, we don't have resources to  review the custom baseboard design. Please check the dev board schematics below and compare it with the custom board. Thanks!

https://github.com/google-coral/electricals/tree/master/dev_board

[2022-02-02 19:52] bogi0704 opened #532 "apex module not starting"
### Description

I have setup the M.2 Dual TPU on my Proxmox Host and forwarded the pcie device to my UbuntuVM where Homeassistant is running. I have also used this guide: https://www.reddit.com/r/Proxmox/comments/n34f8q/proxmox_vm_ubuntu_2004_frigate_2x_google_coral_tpu/

The issue is that the apex module does not load inside the UbuntuVM like it should:

[code]

The modules are properly installe

[2022-02-03 10:23] corvitacvision opened #533 "How to train SSD_MobiletNetV2 using Tensorflow2"
Recently, SSD_MobileNet V2 was added in the list of [https://coral.ai/models/object-detection/](url).

- Can I get information how it trained using Tensorflow version 2 specifically?
- Is it trained using Tensorflow Object Detection API with Tensorflow2 version?
- Is it possible to do quantize aware training with Tensorflow version 2 (with Tensorlfow Object Detection API)?
-
Thank you very much fo

[2022-02-03 11:51] colab999 opened #534 "Which optimizations parameters can be tuned to get better performances?"
### Description

Hello everyone!
I've been working with a Google Coral Dev Board Mini and converted different models (most of them based on mobilenet). They compiled successfully, but I was wondering if there are any parameters or options to be set in order to further optimize the models. For example, the edge tpu supports only 8bit quantization, so trying to quantize on 16bit is out of the list.

[2022-02-04 19:52] asmirnou opened #535 "Raspberry Pi HQ camera and Coral Dev Board Mini"
### Description

I'd like to connect Raspberry Pi HQ camera and Coral Dev Board Mini through MIPI CSI-2 camera interface. Their buses and voltages are compatible except for the connectors are different: 15-pin and 24-pin accordingly. I made an adaptor linking two boards together, making sure all lines match another side.

The camera sensor is controlled through I2C interface by the kernel driver.

[2022-02-08 20:39] jcastro opened #536 "Coral USB changing ID and Vendor"
Running Proxmox + LXC Container + Frigate on docker.

I'm setting up the Coral USB as it's being shown by the lsusb command as
`Bus 002 Device 002: ID 1a6e:089a Global Unichip Corp.`

I create a UDEV rule, then I restart to apply the changes and the ID/Vendor changes as
`Bus 002 Device 003: ID 18d1:9302 Google Inc.`

It is listed as 18d1:9302 Google Inc. only AFTER classify_image.py has been succe

[2022-02-08 20:59] hjonnala commented on #536
Hi @jcastro it is an expected behavior. When Coral USB connected it would list as `Global Unichip Corp` and after first inference it would change to 'Google Inc'.

[2022-02-08 21:09] jcastro commented on #536
How is it possible to map it then? This behaviour makes it really difficult to use it on Linux

[2022-02-08 22:12] hjonnala commented on #536
Can you please refer to the below link and try to passthrough the port than passing the device ID.
https://www.reddit.com/r/Proxmox/comments/nmsknx/proxmox_vm_ubuntu_2004_connect_google_coral_usb/

[2022-02-10 18:56] jcastro commented on #536
Thanks, I will try this soon and see if it helps. Need to figure out how to do it as I'm not using a VM but a LXC (Container) on Proxmox

[2022-02-11 10:02] cl3m3nt opened #537 "TPU Edge performance on RPI 4"
### Description

Hi,

I am trying to leverage TPU Edge HW on Raspberry Pi 4 Model B.
I trained an SSD Mobilenet 320x320 object detection model to run inference on RPI with TPU Edge.
I got better performance using XNNPACK CPU delegate (RPI default) than TPU Edge delegate on same tflite model.
Full code code without TPU and TPU + Data sample here: https://drive.google.com/drive/folders/1ZDCHHNGWd7sh

[2022-02-11 19:15] leloch commented on #343
Same problem here with PCI passthrough for m.2 flavour of Coral, on ESXi 7.0 Update 2 + Supermicro H11SSL-I + EPYC 7551, running Ubuntu 20.04.3 VM.

The device is detected correctly:
[code]
But apex module is not happy:
[code]

Using various kernel options, like `pcie_aspm=off gasket.dma_bit_mask=32 pci=nocrs`, as well as `pciPassthru.use64bitMMIO=TRUE` on VMware side does not make any difference.

[2022-02-11 20:01] hjonnala commented on #537
Hello @cl3m3nt  can you please share the following details:
- edgetpu compiler logs (edgetpu_compiler -s model.tflite)
- output of the below script with cpu tflite and edgeptu tflite model : https://github.com/google-coral/pycoral/blob/master/examples/detect_image.py

Thanks!

[2022-02-12 10:31] cl3m3nt commented on #537
Hi Hemant, thanks for your feedback.
Please find below output from edgetpu complier logs as well as pycoral detect_image.py example script:

- edgetpu compiler logs:
Edge TPU Compiler version 16.0.384591198
Input: tflite_quant_model.tflite
Output: tflite_quant_model_edgetpu.tflite

Operator                       Count      Status

RESHAPE                                    6          Mapped to Edg

[2022-02-13 02:10] Yin-Jiaqi opened #538 "Run MAC operation on Edge TPU"
### Description

We are trying to run MAC operations on Edge TPU with the self-defined matrix. But the results are not correct.

The model is a simple Dense layer. I defined the kernel is a [2], input is [3]. So basically it's a simple 2*3 multiplication. But the Edge TPU result is 3. As a comparison, I run it on CPU, it got the correct results 6. I also build a self-defined dense layer. The resul

[2022-02-14 21:19] hjonnala commented on #533
Hello @corvitacvision  SSD_MobileNet V2 was trained with TF 1.x version.

The [quantization-aware training API with TF2](https://www.tensorflow.org/model_optimization/guide/quantization/training) is not compatible with the object detection API; it is compatible with image classification models only. For more compatibility, including with the object detection API, you may use [quantization-aware tr

[2022-02-14 21:27] hjonnala commented on #534
Hello @colab999

Yes,The [quantization-aware training API with TF2](https://www.tensorflow.org/model_optimization/guide/quantization/training) is not compatible with the object detection API; it is compatible with image classification models only. For more compatibility, including with the object detection API, you may use [quantization-aware training with TF1](https://github.com/tensorflow/tensor

[2022-02-14 21:31] hjonnala commented on #537
Hello @cl3m3nt  seems to be most the operations are not mapped to TPU. Please try to compile wit -a flag. ((edgetpu_compiler -s -a  model.tflite) and share the inference time results for both tflite_quant_model.tflite and tflite_quant_model_edgetpu.tflite models.

Thanks!

[2022-02-15 09:26] paloj opened #539 "Mac OSX 12 Monterey. unable to install PyCoral library"
### Description

Following install instructions here: https://coral.ai/docs/accelerator/get-started/#2-install-the-pycoral-library
I get stuck on 2b:
python3 -m pip install --extra-index-url https://google-coral.github.io/py-repo/ pycoral~=2.0
gives error:
ERROR: Could not find a version that satisfies the requirement pycoral~=2.0 (from versions: 0.0.4, 0.0.5, 0.0.6, 0.0.7, 0.0.8, 0.0.9)
ERROR: No

[2022-02-15 20:22] hjonnala commented on #539
@paloj can you please try to install [tflite runtime](https://github.com/google-coral/pycoral/releases/) and pycoral in the same order from the whl flles: https://coral.ai/software/#pycoral-api.. Thanks!

[2022-02-16 17:35] #534 closed, assigned to hjonnala

[2022-02-16 17:36] #533 closed, assigned to hjonnala

[2022-02-17 22:48] hjonnala commented on #538
Hello @jiaqiyin1995  can you please check with tflite team as cpu tflite model result itself is 3. Thanks

<details>
<summary>code</summary>

import tflite_runtime.interpreter as tflite
import os
import numpy as np
import tensorflow as tf

input_size=1;initializers=2;unit=1;input_value=3

class LinearLayer(tf.keras.layers.Layer):
    def __init__(self, units):
        super().__init__()
        se

[2022-02-18 00:13] hjonnala commented on #530
Feel free to reopen if issue still exists. Thanks!

[2022-02-18 00:13] #530 closed, assigned to hjonnala

[2022-02-18 15:31] JasonCruz-Dev opened #540 "Did I brick my Coral Dev Board?"
### Description

Hi,

Thanks ahead of time for reading this.

So my friend that has zero knowledge plugged in my Google Coral Dev Board without my permission or knowledge. Once I figured out what he was up too, I got onto him about it. And I guess from the whole situtation, he booted it up the board without the sd and fireware, when I got onto him about messing with my things, he immediately pulle

[2022-02-18 21:33] ZXRobotum opened #541 "Installing CORAL on x86-64bit DEBIAN ...."
Good evening,
I no longer understand anything about your software. I followed your instructions to install a PCIe card in my x86 system. Now I get another ERROR, although it is a normal computer with DEBIAN.

I get the following error message in the LOG (/var/lib/dkms/gasket/1.0/build/make.log):

DKMS make.log for gasket-1.0 for kernel 5.16.0-1-amd64 (x86_64)
Fri Feb 18 10:26:47 PM CET 2022
make:

[2022-02-18 21:55] ZXRobotum opened #542 "Installing CORAL on RaspBerry CM4 with M.2 - Board ...."
### Description

Good evening,
I completely rebuilt my CM4 today with the latest RASPI OS (Debian OS) and the installation of the software went through completely error-free, which initially made me very happy.

BUT!
After rebooting the computer, I don't see any apex* file under "/dev".

What went wrong here? What else can I do?)
Best regards from Berlin

Z. Matthias

<details><summary>Click to ex

[2022-02-18 22:05] hjonnala commented on #542
Hello @ZXRobotum Coral M.2 device is not supported with RPI CM4. Please check the below issue for more details. Thanks!
https://github.com/google-coral/edgetpu/issues/280#issuecomment-744932186

[2022-02-18 22:13] hjonnala commented on #540
Hello @JasonCruz-Dev  can you try to connect with [mdt](https://coral.ai/docs/dev-board/get-started/#requirements) or [serial console](https://coral.ai/docs/dev-board/serial-console/) on native windows 10 instead of virtual machine. Thanks!

[2022-02-18 22:16] hjonnala commented on #541
Hello @ZXRobotum could you please share the complete installations logs to investigate the issue. Thanks!

[2022-02-18 22:59] ZXRobotum commented on #541
Hey @hjonnala, what do you mean with "installation" log file? I sent the LOG in my message. Best regards Z. Matthias

[2022-02-18 23:02] ZXRobotum commented on #542
Hey @hjonnala Thank you very much. But if I read all that, I saw, that all the tests was with the old IMAGE from Raspberry and CM4, not with the NEWEST from RaspBerry. And I wrote, that it installed it without any error - messages. But after them, I can't see the driver - files. So, I think it is very useful to verify it again.... Best regards Z. Matthias

[2022-02-19 03:22] JasonCruz-Dev commented on #540
hi thanks for reaching out. If this what im doing nojw doesnt work, thats my next thought. I tried the fastboot like everyone suggested on other threads but not success. ill try windows 10 and see what i can come up with.

[2022-02-19 07:31] JasonCruz-Dev commented on #540
Hi

So I got further going through windows 10. Installing all the packages was a challenge. But the most difficult challenge that I had/have is using powershell to run `mdt wait-for-device` or `mdt reboot-bootloader` or even `mdt shell` but with non of those commands was I able to see the dev board boot into mendel linux fireware.

I did however, notice my windows 10 laptop recognize the USB's onc

[2022-02-19 07:35] JasonCruz-Dev commented on #540
Also, now I use to get 2 different blinking lights on the dev board, now the only orange lights blinks ( see picture) . I wish there was documentation that could tell us what 31 flashes of amber says what the problem is for.
![20220219_013145](https://user-images.githubusercontent.com/54033391/154791669-96fb7f47-5a81-4f5f-b00d-84b786a37b67.jpg)

[2022-02-19 07:59] JasonCruz-Dev commented on #540
ok. So for that problem. I had both cables plugged into USB 2.0 Ports and not USB 3.0 Ports. I changed that and now im not getting any errors. But still no `mdt devices` will show for me. Or `mdt shell`. This is where I am at.

![Screenshot 2022-02-18 235756](https://user-images.githubusercontent.com/54033391/154792400-fb502852-1d4c-40bc-a852-ee16baea2f8e.png)

[2022-02-19 12:34] ZXRobotum opened #543 "Installing CORAL M.2 - Board under x86 with DEBIAN"
Good day,
I completely rebuilt my 2nd server today with the latest Debian OS installed.
The computer has the M.2 module on board.

Unfortunately, the installation of "gasket-dkms" did not go through here either. Here is the complete output of the LOG file (/var/lib/dkms/gasket/1.0/build/make.log)

DKMS make.log for gasket-1.0 for kernel 5.16.0-1-amd64 (x86_64)
Sat Feb 19 01:29:13 PM CET 2022
make:

[2022-02-19 16:55] messnerdev opened #544 "Install gasket-dkms not supported on linux kernel 5.16"
### Description

Following the [Get started m.2 guide](https://coral.ai/docs/m2/get-started/) guide, the installation of `gasket-dkms` fails on linux kernel 5.16. This is the latest linux kernel that supports my Alder Lake CPU with iGPU support required for my project. Relevant Log Output contains the terminal output when attempting to install gasket-dkms.

<details><summary>Click to expand!</summ

[2022-02-20 04:19] JasonCruz-Dev commented on #540
after looking at google documentation, there isnt any.

Only for linux and macOS

this is troubling. And the MDT service is from what I can see only for when you want to connect through ethernet. But in order to do that, you must first connect through the USB first, BEFORE using the MDT service or connecting through it via ethernet.

This is what I have so far. I did swap out monitors and switched

[2022-02-20 05:48] JasonCruz-Dev commented on #540
I would like to thank myself for getting through this.

If anybody needs help, connect with me i got you. Ill help you figure it out. I made it. lots of trial and errors. I used Putty on Windows and this [Documentation](https://coral.ai/docs/dev-board/serial-console/#connect-with-windows) once you have installed everything, python, pip, flashed your microsd card, and even done your flashed bios, l

[2022-02-20 05:51] #540 closed, assigned to hjonnala

[2022-02-21 18:33] evaristocuesta opened #545 "Accelerator module detected but PCIe driver is not loaded"
### Description

Following the [Get started with the M.2](https://coral.ai/docs/m2/get-started) I can verify that the accelerator module is detected

[code]
but I cannot verify that the PCIe driver is loaded

[code]

I'm using Ubuntu Server 20..04.4 LTS in a [MSI Cubi N JSL-001BEU](https://es.msi.com/Business-Productivity-PC/Cubi-N-JSL/Specification). I removed the INTEL/9462.NGWG.NV Wifi and BT c

[2022-02-22 15:25] paradigmn opened #546 "Distinguish between regular and Edge TPU model"
### Description

This issue is concerned with the distinction of TFLite models before and after the Edge TPU Compiler. Both share the same file extension (.tflite) but are fundamental different in terms of execution. A regular model will not utilize the TPU, even though it is loaded with the libedgetpu delegate. On the other hand, a TPU model can not be executed on the CPU, if it contains at least

[2022-02-23 12:29] ZXRobotum commented on #545
Hey,
i had the same problem with PCIe and M.2 - Module in x86 - Systems. I saw all the relevant informations, but no driver would be installed on it.

[2022-02-23 12:30] brunovollmer opened #547 "M2 not detected on Khadas board"
### Description

Hey,

I want to connect the dual edge tpu accelerator to my Khadas VIM 3 board. After a fresh install of Ubuntu 20.04 with the mainline kernel (5.16) I am unable to detect the borad.

Both `lspci -nn | grep 089a` and `ls /dev/apex_0` return nothing.

Output `modinfo gasket`:

[code]

Output `modinfo apex`:

[code]

Any ideas where to look for the problem?

Thanks

<details><summar

[2022-02-23 12:31] ZXRobotum commented on #544
Hey,
what kind of machine is that directly? x86 - pure or over an Container - Applikation?

[2022-02-23 13:47] constantinfite opened #548 "Detection problem with custom Yolov5 model"
### Description

I want to run my custom yolov5 model on the coral dev board.
I follow this tutoriel for this : https://github.com/jveitchmichaelis/edgetpu-yolo.
I exported my yolov5s.pt model into a tflite file with the official repository of yolov5.
Then I used the edgetpu_compiler on my tflite file. (log in copy)
I try to run my edgetpu yolov5 model in my coral. It runs but the detection is ver

[2022-02-23 13:52] messnerdev commented on #544
22.04 Ubuntu pure

[2022-02-23 20:27] hjonnala commented on #548
Hello @constantinfite  can you try with relu or relu6 instead of LEAKY_RELU as this operation is not [supported](https://coral.ai/docs/edgetpu/models-intro/#supported-operations) on TPU.

[2022-02-23 20:59] hjonnala commented on #546
@paradigmn if you are using linux machine you can use the compiler log to determine whether it is already compiled for edgetpu or not during runtime.

[code]

[2022-02-23 22:46] constantinfite commented on #548
Hi @hjonnala thanks !
I saw that after the yolov5-4.0 version this relu was replaced. But I can't retrain my model with another version. Do you have some explanations on how to replace this relu ?

[2022-02-24 08:56] paradigmn commented on #546
@hjonnala this workaround does not feel satisfactory to me. It should not be necessary to ship the compiler log alongside the model for deployment. Basically, I am looking for a method to identify whether an external model, I just know the interface about (input/output), is TPU bound or not. The whole crux of this issue is that all models share the same file extension, regardless of their given as

[2022-02-24 10:30] paradigmn commented on #548
@constantinfite replacing the activation functions without retraining the weights will most likely render the model useless as the error introduced will add up from operation to operation.

[2022-02-24 12:56] constantinfite commented on #548
@paradigmn So what's the best option in your opinion?

[2022-02-24 13:21] hjonnala commented on #546
@paradigmn please try to get ops using `interpreter._get_ops_details()`. With this output you can determine the tflite model has edgetpu-custom-op or not.

[2022-02-24 19:45] mbrooksx commented on #544
Both the source (https://github.com/google/gasket-driver) and the gasket-dkms package have been updated with support for >= 5.16.

[2022-02-24 19:45] #544 closed, assigned to hjonnala

[2022-02-24 19:45] mbrooksx commented on #541
Both the source (https://github.com/google/gasket-driver) and the gasket-dkms package have been updated with support for >= 5.16.

[2022-02-24 19:45] #541 closed, assigned to hjonnala

[2022-02-24 19:46] mbrooksx commented on #543
Both the source (https://github.com/google/gasket-driver) and the gasket-dkms package have been updated with support for >= 5.16.

[2022-02-24 19:46] #543 closed, assigned to hjonnala

[2022-02-24 19:47] mbrooksx commented on #545
Both the source (https://github.com/google/gasket-driver) and the gasket-dkms package have been updated with support for >= 5.16.

[2022-02-24 19:47] #545 closed, assigned to hjonnala

[2022-02-25 05:20] xsacha commented on #460
I feel like my issue happens during quantization because the result gets worse with more images in the dataset I use for quantization.

[2022-02-25 08:22] paradigmn commented on #548
@constantinfite if you require the EdgeTPU, you have to train the model again, either with a modified YOLOv5-4.0 without leaky-relu or better with the newest version 6.1. If the accelerator type is not set, you could export your current model to Tensorflow/ONNX and run it on GPU.

[2022-02-25 08:44] constantinfite commented on #548
Ok @paradigmn , I need to run it on the Coral dev Board, so it is only EdgeTPU no ? It doesn't have GPU on it ?

[2022-02-25 08:59] ZXRobotum opened #549 "Cannot install NEW image on x86 - Server ...."
### Description

Hello,
after your eMail from yesterday, that you have now fixed this problem with the NEW Kernel 5.x -> I must say: NO, it's NOT working.

best regards

Z. Matthias

<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Operating System

Linux

### Coral Device

Mini PCIe

### Other Devices

_No response_

### Programming Language

Other

### Relevant Log Output

[2022-02-25 09:04] paradigmn commented on #546
@hjonnala I think I can work with that, thank you. A code snipped for everyone with the same issue:
[code]
Another question in this regard: Is it possible to inject the delegate after the session was created? So the workflow would be: create session from model file -> check for EdgeTPU ops -> load libedgetpu if op is in model

[2022-02-25 09:05] ZXRobotum opened #550 "Warning about KeyRing ....."
### Description

Hello,

if I start the new installation, I´ve got a WARNING from "apt update" -> please verify, if your KEY-RING ist correct...
best regards

Z. M. Krawutschke

<details><summary>Click to expand!</summary>

 ### Issue Type

Bug

### Operating System

Linux

### Coral Device

M.2 Accelerator B+M

### Other Devices

_No response_

### Programming Language

_No response_

### Relevan

[2022-02-25 09:08] paradigmn commented on #548
In theory the Coral Board has an embedded ARM GPU, though I do not think there is any easy way to utilize it. You could try running it CPU only, but that will result in poor performance.

[2022-02-25 11:14] constantinfite commented on #548
@paradigmn ok so I need to retrain it ^^
Thanks !

[2022-02-25 14:29] hjonnala commented on #546
I think, its not possible to load libedgetpu after the session got created. You have to recreate the session with the experimental delegates.

[code]

[2022-02-25 15:48] evaristocuesta commented on #545
Thanks @mbrooksx.
I just installed the gasket-dkms 1.0-18 version and it still have the same issue.
To installed it, I changed the apt url to https://packages.cloud.google.com/apt coral-edgetpu-unstable in /etc/apt/sources.list.d/coral-edgetpu.list file
Any suggestion?

[2022-02-25 19:19] ZXRobotum commented on #549
Hello together,
I tried it today again, after reinstalling my ComputeNode after crashing ....
But it seems the same error, like in my first time:

DKMS make.log for gasket-1.0 for kernel 5.16.0-1-amd64 (x86_64)
Fri Feb 25 08:17:58 PM CET 2022
make: Entering directory '/usr/src/linux-headers-5.16.0-1-amd64'
/bin/sh: 1: /usr/src/linux-headers-5.16.0-1-common/scripts/pahole-flags.sh: not found
/bin/s

[2022-02-26 15:33] ZXRobotum commented on #545
Thanks, @mbrooksx.

But it doesn't work on my both x86_64 - Nodes.
I've got the same error-message and it stop with installing it.

Any other ideas?

[2022-02-26 20:10] jumping2000 commented on #545
Same problem for me: I upgraded my miniPc to OMV 6 (debian 11 based)  and the PCIe driver is not loaded

CORAL TPU M.2 Accelerator A+E key

`
root@openmediavault:~# lspci -nn | grep 089a
02:00.0 System peripheral [0880]: Global Unichip Corp. Coral Edge TPU [1ac1:089a]

root@openmediavault:~# uname -r
5.14.0-0.bpo.2-amd64

root@openmediavault:~# modprobe apex
modprobe: FATAL: Module apex not found

[2022-02-28 03:47] Yin-Jiaqi opened #551 "Complex operation for edgetpu"
### Description

I'm trying a TensorFlow model with complex number operations using Edge TPU.  This model can be compiled correctly into TFlite CPU version and get correct output. But it cannot be compiled by EdgeTPU compiler.

How to make Edge TPU compiler compatible with complex number operation?

The full code are attached in Colab:
https://colab.research.google.com/drive/1n1kgI3Hcs1Z_j6CE2-9L9

[2022-02-28 10:27] paradigmn commented on #546
Alright, this changes the workflow to: test for edgetpu -> if available load with libedgetpu delegate -> allocate tensors.

Thank you, that answers my questions.

[2022-02-28 14:47] #546 closed, assigned to hjonnala

[2022-02-28 16:10] elgorro commented on #280
There was an update 4 days ago to [1.0-18](https://github.com/google/gasket-driver/commit/97aeba584efd18983850c36dcf7384b0185284b3).

[2022-02-28 22:54] hjonnala commented on #551
Hello @jiaqiyin1995 FlexComplex operation is not supported on edgeTPU. Please check the supported operations at: https://coral.ai/docs/edgetpu/models-intro/#supported-operations

[2022-03-01 18:42] mbrooksx commented on #549
The gasket-dkms package has been updated, please make sure you are getting version 1.0-18.

[2022-03-01 20:49] #538 closed, assigned to hjonnala

[2022-03-01 20:50] #536 closed, assigned to hjonnala

[2022-03-02 09:26] ZXRobotum commented on #549
Good Morning,
thank you very much for this information.
The "gasket-dkms" was successfully installed last night on my x86_64 Server. Now, I make the next step. One Question about the Modul (hw): How many Cores and Memory are on this?

Best regards

Z. Matthias

[2022-03-04 18:30] Yin-Jiaqi opened #552 "Run self-defined operations on Edge TPU but output is different with tflite CPU"
### Description

We are trying to run some self-defined operations on Edge TPU. But the results are not correct.

- Tensorflow CPU output:

array([[0.01454818, 0.051111  , 0.01396228, 0.05225142, 0.41379207,
        0.28845084, 0.04657562, 0.0190449 , 0.08210775, 0.01815593]])

- tflite CPU version output:

array([[0.015625  , 0.05078125, 0.015625  , 0.05078125, 0.42578125,
        0.27734375, 0.0

[2022-03-07 05:47] manoj7410 commented on #547
@brunovollmer Can you paste the output of below mentioned commands after connecting the M.2 device:

- dmesg
- lspci -vvv

[2022-03-07 05:55] manoj7410 commented on #550
@ZXRobotum Please provide more details:

Which kernel version?
Which host board ?
Complete error ?
dmesg ?

[2022-03-07 11:35] abucka opened #553 "Run ocr model on edgetpu"
### Description

Hello,

I try to convert ocr tfilte model to edgetpu model using edgetpu_compiler, unfortunately I get an error.

The model I try to convert is available here:
https://tfhub.dev/tulasiram58827/lite-model/keras-ocr/dr/2.

The error can be found below.

Should I use some additional parameters to convert it or it is just not possible to convert this type of model?

<details><summary>

[2022-03-07 18:26] hjonnala commented on #553
Hello @abucka this model is not compatible with edgetpu due to FlexCTCGreedyDecoder operation. I have tried another OCR ful_int8 model(https://tfhub.dev/tulasiram58827/lite-model/rosetta/dr/1). Unfortunately, this model is also not fully compatible with edgetpu due to padv2 and large Transpose operations.

[2022-03-07 20:52] ZXRobotum commented on #550
@manoj7410
This is the Message, that I´ve got:
W: https://packages.cloud.google.com/apt/dists/coral-edgetpu-stable/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.

Kernel Version:
5.16.0-3-amd64

Host-Board:
x86_64 Industrial-Board

dmesg:
this is too long to send it to you. Which part did you need directly?

[2022-03-07 20:53] ZXRobotum commented on #543
With your new Package, I can solved my problem. Thanks....

[2022-03-07 20:54] ZXRobotum commented on #541
With your new Version of package it's work now. Thank you.

[2022-03-07 20:54] ZXRobotum commented on #544
With your new version of package, it's work now. Thank you.

[2022-03-07 21:54] #529 closed, assigned to hjonnala

[2022-03-08 11:27] abucka commented on #553
Hello @hjonnala, thank you for the information. Does it mean it's not possible to run the rest of the model on edgetpu and unsupported operations on CPU?

[2022-03-08 15:48] hjonnala commented on #553
The first check would be to test the inference with tflite-runtime-2.5.0post1. As [inference](https://github.com/hjonnala/snippets/blob/main/coral_inference.py) with tflite-runtime is not possible for this model(https://tfhub.dev/tulasiram58827/lite-model/keras-ocr/dr/2), it won't be able to compile with edgetpu compiler.

[2022-03-08 18:09] #548 closed, assigned to hjonnala

[2022-03-09 18:50] cdrose commented on #509
@hjonnala sorry this took so long but I have finally got some time to do some more work on this issue. I have been working to replicate the example unet architecture above. My models are very similar so this is an ideal example. What I have found is there seems to be some limitations around the Conv2DTranspose operation which I do not fully understand. The two examples that do not work will export

[2022-03-10 06:35] tingggggg opened #554 "Differenct performance on [Desktop(Intel i7-9700 CPU) + TPU(M.2 Accelerator B+M key) ] & [RADXA Rock 3A + TPU(M.2 Accelerator A+E key)]"
### Description

Hello,

I ran the same model(mobilenet-yolov3) both on
[Desktop(Intel i7-9700 CPU) + TPU(M.2 Accelerator B+M key) ] &
[RADXA Rock 3A + TPU(M.2 Accelerator A+E key)].

I got the inference performance(average execution time) as

[Desktop(Intel i7-9700 CPU) + TPU(M.2 Accelerator B+M key) ]: **about 9.1 ms**
[RADXA Rock 3A + TPU(M.2 Accelerator A+E key)]: **about 36.4 ms**
_(measure t

[2022-03-10 15:48] hjonnala commented on #554
@tingggggg Inference time would depends on following factors:

- Model Size
- Host operating system CPU
- Number of Operations Mapped to TPU vs CPU
- Interface b/w CPU and TPU (PCIE/USB 3.0/ USB 2.0)

In you case, it might be some operations mapped to CPU. Due to this you are getting different results. If you would like to know the time taken for CPU please try to build [libcoral](https://github.c

[2022-03-11 13:30] ghollingworth commented on #280
So, having spent a little time understanding this problem I've come to the following conclusions:

Doing a downstream 64bit access (either read or write) through the PCIe interface is broken into two 32bit accesses incorrectly such that the least significant word is repeated.  So if you do

*(unsigned long long *) addr = 0x12345678aabbccdd;

It'll actually write 0xaabbccddaabbccdd to the address.

[2022-03-12 19:09] paulnegz opened #555 "Mediapipe"
Mediapipe is an open sourced ML library by google. It might be helpful to have a repo that has examples using the python APIs the library. Im currently trying to download the mediapipe python library using pip3 but it's not compatible with an ARM CPU.

[2022-03-12 19:24] tjcampanella commented on #545
I am on kernel 5.16 and I am having the same issues. The module is detected using lscpi but the apex_0 driver is not loaded.

[2022-03-12 19:31] kampff commented on #280
Many thanks! @ghollingworth. Great write up...looking forward to the PR.

We'll get there!

[2022-03-12 19:45] tjcampanella opened #556 "apex_0 driver not loaded"
### Description

I have just installed a fresh ubuntu server 21.10 and installed the latest 5.16 kernel. I am able to detect the coral with
`user@server:~$ lspci -nn | grep 089a`
`02:00.0 System peripheral [0880]: Global Unichip Corp. Coral Edge TPU [1ac1:089a]`.

However, running
`user@server:~$ ls /dev/apex_0`
`ls: cannot access '/dev/apex_0': No such file or directory`

I have tried doing the i

[2022-03-12 21:17] evaristocuesta commented on #545
Finally, I installed kernel 5.13 and it works correctly.

[2022-03-14 03:28] manoj7410 commented on #555
@paulnegz Here is one demo https://github.com/manoj7410/trackerSortAndMediaPipe that uses MediaPipe. This was never published on the main repo due to the performance issues.

[2022-03-14 18:37] Calimerorulez commented on #491
Same error here still, despite I disabled power save via the kernel parameter `pcie_aspm=off`

[2022-03-15 11:45] ghollingworth commented on #280
Ok,

I've committed my changes as a fork of google-coral/libedgetpu and google/gasket-driver here:

https://github.com/ghollingworth/libedgetpu
https://github.com/ghollingworth/gasket-driver

I've tried to keep my changes to an absolute minimum, so they're easy to understand

To force the CM4 to use a window of 0x01000040 you just need to copy the pcie-32bit-dma-overlay-dts and change the dma-rang

[2022-03-15 13:56] tingggggg commented on #554
@hjonnala
ok, I got it. I will try it.
Thanks for your help.

[2022-03-15 13:56] #554 closed, assigned to hjonnala

[2022-03-15 21:07] tjcampanella commented on #556
@manoj7410 Any help?

[2022-03-16 06:40] manoj7410 commented on #556
@tjcampanella Can you paste the output of following commands:

- lspci -vvv
- dmesg
- modinfo gasket
- modinfo apex

[2022-03-16 09:09] tyouritsugun opened #557 "Can not segment efficientdet_lite3_512_ptq.tflite"
Hi,

Although others like `efficientdet_lite2_448_ptq.tflite` works well, I met a trouble when I tried to segment  `efficientdet_lite3_512_ptq.tflite` that grabbed from

https://github.com/google-coral/test_data.git

When I ran the command below to segment the model,

[code]
I got the error below
[code]

Could anyone kindly tell me how to fix this?

Thank you in advance.

Tyouritsugun

[2022-03-16 13:36] hjonnala commented on #557
@tyouritsugun efficientdet_lite3_512_ptq.tflite  can be compiled with intermediate tensor flag only. Since it can be compiled with -i flag only, we can't pass --num_segments commands to the compiler. https://coral.ai/docs/edgetpu/compiler/#usage

`edgetpu_compiler -s  -i "box_net/box-predict/BiasAdd;box_net/box-predict/separable_conv2d_4;box_net/box-predict/separable_conv2d;box_net/box-predict/bia

[2022-03-16 14:37] tyouritsugun commented on #557
Thank you for your kindly reply.

Does this mean that I can not pipeline `efficientdet_lite3_512_ptq`?

Another question, the parameters of `box_net/box-predict/BiasAdd;box_net/box-predict/separable_conv2d_4;box_net/box-predict/separable_conv2d;box_net/box-predict/bias` are arcane to me, where can I find the documents to help me configure the correct parameters?

Tyouritsugun

[2022-03-16 15:04] dimigaro opened #558 "wlan0 MAC address spoofing"
### Description

I have a Coral Dev Board 4gb.
I am booting from a 32gb SD card where I store the source code of my product and all the relevant results.
I need to make another board run the same code so I created an image from the SD card of Coral Dev Board A and placed it
into another SD carg of 32gb for Coral Dev Board B. Now both A and B have the same wlan0 MAC address which makes it impossibl

[2022-03-16 15:26] tjcampanella commented on #556
@manoj7410 Thank you for any help. Here are the outputs.

lspci -vvv

[code]

dmesg

[code]

Modinfo
[code]

[2022-03-16 20:20] hjonnala commented on #557
Yes, you can't pipeline efficientdet_lite3_512_ptq.tflite model.

The parameters to pass for [-i flag](https://coral.ai/docs/edgetpu/compiler/#usage) are the operation names. You can find these visualizing the model using https://netron.app/

![image](https://user-images.githubusercontent.com/86132058/158683224-af38cc00-29f2-4c26-8e59-4c5d814da8f1.png)

[2022-03-16 21:18] hjonnala commented on #552
@jiaqiyin1995 the issue is with Batch Mat Mul operation. It is a bug with the compiler as it is mapping the batch mat mul operation to edgeTPU even though it is not supported.

[2022-03-16 23:32] tyouritsugun commented on #557
Thank you!

I think that I've met you somewhere else in github, you help me a lot!

Tyouritsugun

[2022-03-17 04:32] manoj7410 commented on #556
@tjcampanella gasket and apex drivers are not found. Please take a look at this comment https://github.com/google-coral/edgetpu/issues/544#issuecomment-1050202424 and install the driver.

[2022-03-17 04:35] tjcampanella commented on #556
I have followed the install guide from the coral site I need to install that driver from source?

[2022-03-17 04:39] manoj7410 commented on #556
@tjcampanella You can simply install the gasket-dkms package from https://github.com/google/gasket-driver/tree/main/debian

[2022-03-17 04:45] tjcampanella commented on #556
Ok I will try that and report back. Thanks.

[2022-03-17 08:49] chao-camect opened #559 "Cannot use CombinedNonMaxSuppression"
I have a keras model that use CombinedNonMaxSuppression. When I compiled the model using edgetpu_compiler. I got the following error:

[code]

The model works if I just run it using CPU:
[code]

I see that tflite does support some NMS operation. Does this mean I need to change my model to use other NMS operations like
`tf.image.non_max_suppression`?

[2022-03-17 11:12] manoj7410 commented on #550
Are you now able to run the demo on 5.16 kernel version ?

[2022-03-17 15:07] hjonnala commented on #559
@chao-camect can you please  try to run the [inference](https://github.com/hjonnala/snippets/blob/main/coral_inference.py) with latest [tflite_runtime](https://coral.ai/software/#pycoral-api).

[2022-03-17 15:08] #557 closed, assigned to hjonnala

[2022-03-17 16:31] chao-camect commented on #559
@hjonnala Running inference always works for me. It's edgetpu_compiler failed..

[2022-03-17 16:59] hjonnala commented on #559
Flex delegates are not supported with edgeTPU. Are you applying any delegates to run the inference? Can you please share your model here? Thanks!

[2022-03-17 17:08] chao-camect commented on #559
Thanks for the suggestion... I figured that edgetpu doesn't support flex.
My question is how to make my model work. Should I use `tf.image.non_max_suppression` instead of `tf.image.combined_non_max_suppression` or is there any other better way to do it?

My model summary is like following:
[code]

[2022-03-17 17:18] tjcampanella commented on #556
This is the output I get from building it from source and trying to install. It seems to install correctly but the drivers still aren't being loading. I tried rebooting.
Still getting module not found.
[code]

[code]

[2022-03-17 23:40] chao-camect commented on #559
I think the way to do it is something like [export_tflite_graph_lib_tf2.py](https://github.com/tensorflow/models/blob/master/research/object_detection/export_tflite_graph_lib_tf2.py).
It would be nice if you guys could make this easier.

[2022-03-18 15:24] hjonnala commented on #559
please try with `tf.image.non_max_suppression` or  `TFlite_Detection_postprocess`.  Fell free to check [object detection retraining tutorials](https://github.com/google-coral/tutorials) also.Thanks!

[2022-03-18 16:47] tjcampanella commented on #556
@manoj7410

[2022-03-18 17:22] hjonnala commented on #556
It seems kernel headers are missing. Can you try to install the modules after installing kernel headers: https://www.tecmint.com/install-kernel-headers-in-ubuntu-and-debian/

[2022-03-18 19:19] tjcampanella commented on #556
After correctly installing the headers for the kernel and building from source of the gasket driver it worked. Thank you so much. @manoj7410

[2022-03-18 19:23] #556 closed, assigned to manoj7410

[2022-03-21 16:22] hjonnala commented on #522
Feel free to reopen if you have any questions. Thanks!

[2022-03-21 16:22] #522 closed, assigned to hjonnala

[2022-03-21 16:24] #553 closed, assigned to hjonnala

[2022-03-22 13:13] john-maidbot opened #560 "Understanding Post-processing Operation for Compiled Models"
### Description

Hello :wave:
I am currently investigating unusually high cpu usage while using the edgetpu with a model that the compiler claims had almost all of its operations mapped to the edgetpu.
The model I am investigating is an EfficientDet-lite0 model created using the tflite-model-maker library. Previously, I had tried using a MobileNetV1-SSD model created using the tensorflow object de

[2022-03-22 14:57] johncblacker opened #561 "colab retrained mobilenet_v2 model won't run on raspberry pi - requires runtime version (14)"
I used google colab tutorial for retraining a mobilenet v2 model (flowers) but used my own image datasets (2 categories).  I then downloaded the model: mobilenet_v2_1.0_224_quant_edgetpu.tflite to my raspberry pi along with the "critters_labels.txt" file.  As a test, I first verified that the "classify_image.py" script would run (in coral.pycoral/examples/classify_image.py) using the "mobilenet_v2

[2022-03-22 15:09] hjonnala commented on #561
@johncblacker please verify the runtime version using the command below and upgrade to` edgetpu runtime 14` (libedgetpu1-std or libedgetpu1-max)  using instructions at:  https://coral.ai/software/#debian-packages.  Thanks!

[code]

[2022-03-22 15:31] johncblacker commented on #561
Thank you.  The command verified version 13 was installed.  Followed the directions and installed v14 libedgetpu1-std and successfully executed my model!

[2022-03-22 15:31] #561 closed, assigned to hjonnala

[2022-03-22 23:10] hjonnala commented on #560
@john-maidbot TFlite_Detection_postprocess is a custom op generated when exporting model to tflite. Please check the below links for more details and contact tensorflow tflite team for better understanding. Thanks!

https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/running_on_mobile_tensorflowlite.md

https://github.com/tensorflow/models/blob/master/research/object_d

[2022-03-23 00:14] #560 closed, assigned to hjonnala

[2022-03-23 23:25] martinikolaev commented on #343
Has anyone tried any other OS beside Ubuntu? This weekend I am gonna try windows VM 🤷‍♂️

[2022-03-24 10:27] tingggggg opened #562 "Mapping NMS operator to TPU for acceleration"
### Description

Description:
I encounted ERROR when compile yolov3-tiny(include NMS) model by edgetpu_compiler.
I just want to know. Can any way that could do NMS op with pure tf op so that  I can map NMS to TPU for acceleration?
or
NMS op just only be executed on CPU now?

error msg:
[code]

Ref:
https://github.com/ultralytics/yolov3

I did some modification that add NMS operator at tail of yolo

[2022-03-24 13:57] hjonnala commented on #562
@tingggggg NMS operation can only be executed on CPU.

 Your model is getting failed to compile even though there are no dynamic size tensors in the graph, the above graph has a control flow op, While op. Currently, graphs with control flow ops are regarded as dynamic graphs and those graphs are not supported through the hardware acceleration delegates, which allow the only static graph structure.

[2022-03-24 14:29] hjonnala commented on #558
To generate a new MAC address with `cloned SD cards` please run the below command `once` on each new device:

`sudo /etc/runonce.d/10-set-mac-addresses`

This script (as the pathname suggests) typically runs only once on first boot up and sets the wlan mac address relative (+1) to the fused eth0 mac address. The wlan mac address is written to the filesystem ( /lib/firmware/wlan/wlan_mac.bin).

To

[2022-03-24 14:29] #558 closed, assigned to hjonnala

[2022-03-24 19:20] johncblacker opened #563 "get_runtime_version() fails"
Trying to get the runtime version of the libedgetpu module and get failure:
ModuleNotFoundError: No module named 'pycoral.pybind'
Followed instructions from issue: 561

[2022-03-24 19:27] johncblacker commented on #563
Just a FYI, this error did not occur when I had runtime version 13 installed, but after I installed runtime version 14, it fails with the above error!

[2022-03-24 19:28] hjonnala commented on #563
You probably trying pycoral as base directory.. Please try from any other directory.

[code]

[2022-03-24 19:32] johncblacker commented on #563
Yes, that was the problem.  No problem, now that I know that it won't work if I'm in the pycoral directory when I issue command...

[2022-03-24 19:32] #563 closed, assigned to hjonnala

[2022-03-24 19:33] johncblacker commented on #563
As suggested got out of the pycoral directory...command worked.

[2022-03-28 08:41] DevelopingElectronics opened #564 "Developing a motherboard for Coral System-on-Chip (SOM)"
### Description

Hello everyone,

I want to develop my own motherboard for Coral SOM for an audio application. I want to route my own PCB for an specific purpose. I will like to know where I can find more information about this issue, in order to help me in this task of creating a motherboard for the SOM (apart from the schematics files you can download from Coral's Guide). Any example would be we

[2022-03-28 08:46] DevelopingElectronics opened #565 "Programming the SoC in Coral System-on-Chip (SOM)"
### Description

Hello everyone,

I would like to know how to programme the microprocessors (the two ARM Cortex) inside the SoC in Coral SOM. I want to use the System-on-Chip with my own motherboard and I need to know if it is necessary to add a new system (like Rapsberry) or microprocessor (another ARM to control the SOM) or if I can just use the two ARM Cortex that are included in the SoC, and h

[2022-03-28 14:28] Drulludanni opened #566 "Memory leak when edgetpu run in thread"
### Description

Hi, I'm running into a memory leak when the edgetpu is runs in a thread.

    from threading import Thread
    import cv2
    import numpy as np
    from pycoral.utils import edgetpu
    model = edgetpu.make_interpreter(model_path)

    def find_points(frame):
        image_size_for_model = (256, 256)
        scale = np.shape(frame)[:2]/np.array(image_size_for_model)
        frame

[2022-03-28 22:42] hjonnala commented on #564
@DevelopingElectronics  can you try reaching out to the NXP community: https://community.nxp.com/

Fell free to refer to the coral dev board baseboard design at:
https://github.com/google-coral/electricals/tree/master/dev_board
https://github.com/google-coral/mechanicals/tree/master/dev_board

[2022-03-29 02:47] hjonnala commented on #566
issue seems to be similar to this issue : https://stackoverflow.com/questions/53348644/python-threads-memory-leak

can you try to del frame and see whether it solves the issue or not. Thanks!

[code]

[2022-03-29 09:34] Drulludanni commented on #566
no, it seems that calling `del frame` does not solve the issue

[2022-03-29 12:49] alexx-km opened #567 "Problem connecting a display (image artifacts)"
### Description

Hi,

I am currently trying to connect a [Joy-It RB-LCD-7-2 display](https://joy-it.net/en/products/RB-LCD-7-2) to the Dev Board Mini. Having set the provided resolution in [weston.ini](https://coral.ai/docs/dev-board/datasheet/#hdmi-port), the display is recognized and the "homescreen" is displayed after booting. As you can see in the picture below, there are some strange artifact

[2022-03-29 13:04] hjonnala commented on #566
okay, can you please share how you are calculating the memory leak on linux? Thanks!

[2022-03-29 14:52] Drulludanni commented on #566
I just watch the amount of reserved memory go up in htop, program usually starts at around 80 MB then in an hour it is at around 150 MB, I left it running over the weekend and the memory footprint was at 4GB when I came back monday morning so it is definitely not just random fluctuations.

[2022-03-29 17:37] dave-andersen commented on #523
Noting that this is still a problem at the end of March, with a different USB device. (And one that's a blocker for us.). Also on 5.3. It means we can't connect a cellular modem to the board.

[2022-03-29 21:40] hjonnala commented on #523
It is the expected behavior. The USB-C port is set to OTG, and the mode detection is triggered at the plug/unplug interrupt https://coral.googlesource.com/linux-mtk/+/refs/heads/master/drivers/usb/musb/mediatek.c#277 . (Reboot is not an interrupt event)

To have the USB port stick to the host mode, please change the dts https://coral.googlesource.com/linux-mtk/+/refs/heads/master/arch/arm64/boot/d

[2022-03-30 15:20] dave-andersen commented on #523
Thank you. This worked perfectly.

[2022-03-30 16:47] #523 closed, assigned to manoj7410

[2022-03-31 14:59] vladmarian20005 opened #568 "libedgetpu.1.dylib not found"
### Description

Hello,

 I've come across an issue while trying to get started with the Coral USB accelerator. When I've tried running the example code it gave me an error saying that "/usr/lib/libedgetpu.1.dylib" does not exist and it truly does not. How can I correctly install it?

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Operating System

Mac OS

### Co

[2022-03-31 15:44] hjonnala commented on #568
Can you please uninstall pycoral and install it using instructions at: https://coral.ai/docs/accelerator/get-started/#pycoral-on-linux. Thanks!

[2022-03-31 15:50] vladmarian20005 commented on #568
Just uninstalled and reinstalled pycoral for mac and i get the same error! Here is what i have in the pybind folder:
<img width="1304" alt="Screenshot 2022-03-31 at 18 48 51" src="https://user-images.githubusercontent.com/78913181/161096967-7ac584ff-961f-4366-9be4-1677bf5147c4.png">

[2022-03-31 15:54] hjonnala commented on #568
Okay, edgetpu runtime seems to be missing. Please install it using instructions at: https://coral.ai/docs/accelerator/get-started/#runtime-on-mac

[2022-03-31 15:57] vladmarian20005 commented on #568
I had just reinstalled edgetpu and ran the code again. I still receive the same error.

Also, I am able to see some files related to edge tpu so i do not belive that this is the issue

[2022-03-31 16:23] hjonnala commented on #568
I have libedgetpu.1.dylib in /usr/local/lib/ directory.

can you please share the output of below commands:
- ls -al  /usr/lib/libedgetpu*
- ls -al /usr/local/lib/libedgetpu*

[2022-03-31 18:28] vladmarian20005 commented on #568
Definitely!

When I run **ls -al /usr/lib/libedgetpu*** it gives me 'zsh: no matches found: /usr/lib/libedgetpu*'

and when i run **ls -al /usr/local/lib/libedgetpu*** it gives me this :

-rwxr-xr-x  1 root  admin  1024408 Mar 31 18:56 /usr/local/lib/libedgetpu.1.0.dylib
lrwxr-xr-x  1 root  admin       20 Mar 31 18:56 /usr/local/lib/libedgetpu.1.dylib -> libedgetpu.1.0.dylib

[2022-03-31 18:37] hjonnala commented on #568
lrwxr-xr-x 1 root admin 20 Mar 31 18:56 /usr/local/lib/libedgetpu.1.dylib -> libedgetpu.1.0.dylib

can you please try the demo copying these files to /usr/lib/.

[2022-03-31 18:57] vladmarian20005 commented on #568
I have tried moving the files like this:

sudo cp /usr/local/lib/libedgetpu* /usr/lib
Password:
cp: /usr/lib/libedgetpu.1.0.dylib: Operation not permitted
cp: /usr/lib/libedgetpu.1.dylib: Operation not permitted

Seems like I am unable to move or copy them to usr/lib

[2022-03-31 19:32] hjonnala commented on #568
Okay, can you try this script by passing any edgetpu model path to the script:: https://github.com/hjonnala/snippets/blob/main/coral_inference.py

`python3 coral_inference.py --model ../../pycoral/test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite`

changing:
[code]
to

[code]

[2022-03-31 19:39] vladmarian20005 commented on #568
It asks me for a model:

usage: tempCodeRunnerFile.python [-h] -m MODEL
tempCodeRunnerFile.python: error: the following arguments are required: -m/--model

[2022-03-31 19:44] hjonnala commented on #568
Please pass any edgetpu model path to the script:
` python3 coral_inference.py --model /pycoral/test_data/mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite`

[2022-03-31 20:00] vladmarian20005 commented on #568
this is the error I receive:

Traceback (most recent call last):
  File "/Users/vladmarian/coral/pycoral/examples/coral_inference.py", line 25, in <module>
    model_path=model_path, experimental_delegates=[tflite.load_delegate(_EDGETPU_SHARED_LIB,  {})])
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/tflite_runtime/interpreter.py", line 160, in load_delegate

[2022-03-31 20:12] hjonnala commented on #568
I am not sure why the script is looking for these paths(OSError: dlopen(libedgetpu.1.dylib, 0x0006): tried: 'libedgetpu.1.dylib' (no such file), '/usr/lib/libedgetpu.1.dylib' (no such file), '/Users/vladmarian/coral/pycoral/libedgetpu.1.dylib' (no such file), '/usr/lib/libedgetpu.1.dylib' (no such file)) even though we explicitly define the path.

Can you please change this line

with
`model_path=

[2022-03-31 20:20] vladmarian20005 commented on #568
I have just done! This is what it gives me:

6.13 ms

I believe that this is what it is supposed to give me. Is it?

[2022-03-31 20:29] hjonnala commented on #568
yes, please go to this file:
`/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pycoral/utils/edgetpu.py` and change these lines (https://github.com/google-coral/pycoral/blob/master/pycoral/utils/edgetpu.py#L34) as below..It would resolve your issue..

[code]

[2022-03-31 23:11] hjonnala commented on #565
For others, please check this link for reference or contributions: https://community.nxp.com/t5/i-MX-Processors/Programming-the-iMX-8M-SoC-in-Google-s-Coral-System-on-Chip-SOM/m-p/1435277.

Thanks!

[2022-03-31 23:12] hjonnala commented on #564
For others, please check this link for reference or contributions: https://community.nxp.com/t5/i-MX-Processors/iMX-8M-SoC-Developing-a-motherboard-for-Google-s-Coral-System-on/m-p/1435274.

Thanks!

[2022-04-01 13:11] vladmarian20005 commented on #568
Just did! Seems like I have a similar issue! It still looks for libedgetpu.1.dylib in usr/lib. I made sure I have saved the modified file.

Traceback (most recent call last):
  File "/Users/vladmarian/coral/pycoral/examples/classify_image.py", line 40, in <module>
    from pycoral.utils.edgetpu import make_interpreter
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-pac

[2022-04-01 15:43] #565 closed, assigned to hjonnala

[2022-04-01 15:44] #564 closed, assigned to hjonnala

[2022-04-01 18:57] hjonnala commented on #568
Okay, I see in this [script](https://github.com/hjonnala/snippets/blob/main/coral_inference.py) I haven't used pycoral. You might have to work with tflite_runtime for now.

Can you please share the output of below commands:
- uname -a
- sw_vers

[2022-04-01 19:05] hjonnala commented on #568
Can you please try to revert those changes and try the command below. Thanks!

- sudo cp -r /usr/local/lib/libedgetpu*  /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pycoral/pybind/

[2022-04-01 20:29] vladmarian20005 commented on #568
uname -a
Darwin 192-168-0-179.rdsnet.ro 21.3.0 Darwin Kernel Version 21.3.0: Wed Jan  5 21:37:58 PST 2022; root:xnu-8019.80.24~20/RELEASE_X86_64 x86_64
vladmarian@192-168-0-179 ~ % sw_vers
ProductName:	macOS
ProductVersion:	12.2.1
BuildVersion:	21D62

[2022-04-01 20:32] vladmarian20005 commented on #568
this is the error i get when trying to run the example code:

`Traceback (most recent call last):
  File "/Users/vladmarian/coral/pycoral/examples/classify_image.py", line 121, in <module>
    main()
  File "/Users/vladmarian/coral/pycoral/examples/classify_image.py", line 71, in main
    interpreter = make_interpreter(*args.model.split('@'))
  File "/Library/Frameworks/Python.framework/Versions/3

[2022-04-01 20:55] hjonnala commented on #568
can you please try to copy to pycoral folder as well.

sudo cp -r /usr/local/lib/libedgetpu* /Users/vladmarian/coral/pycoral/

[2022-04-01 20:59] vladmarian20005 commented on #568
Wow i have just did and it worked!!! Finally!!

`----INFERENCE TIME----
Note: The first inference on Edge TPU is slow because it includes loading the model into Edge TPU memory.
19.2ms
6.0ms
5.5ms
5.2ms
5.0ms
-------RESULTS--------
Ara macao (Scarlet Macaw): 0.75781`

Thank you so much for the help! I believe that I have nothing left to do! Thanks!!

[2022-04-02 09:13] #568 closed, assigned to hjonnala

[2022-04-02 09:18] vladmarian20005 opened #569 "Example Code"
### Description

Hello! This isn't really an issue but a simple question! Is there any example code on how I can use edgetpu and the Coral USB Accelerator for live object detection using opencv(cv2.VideoCapture)?

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mac OS

### Coral Device

USB Accelerator

### Other Devices

_No response_

### Programming

[2022-04-02 14:28] hjonnala commented on #569
please check the  opencv example from examples-camera repo: https://github.com/google-coral/examples-camera/tree/master/opencv

[2022-04-02 16:45] vladmarian20005 commented on #569
I have tried running this code with the bird model given in the example codes and this is the error i get:

`Traceback (most recent call last):
  File "/Users/vladmarian/testcam/examples-camera/opencv/detect.py", line 99, in <module>
    main()
  File "/Users/vladmarian/testcam/examples-camera/opencv/detect.py", line 56, in main
    interpreter = make_interpreter(args.model)
  File "/Library/Frame

[2022-04-02 21:14] vleonn opened #570 "Use of Coral Dev Board as USB Accelerator (also for "Multiple TPU Scenarios")"
### Description

Hello, I have two (associated) questions regarding the Coral Dev Board.

1) Is it possible to use it like USB accelerator, i.e., attach it to a host PC (with MDT, TFlite runtime, libedgetpu.so.1, etc.), bypass the ARM and inference directly on the TPU ASIC?

2) I have seen that it is possible to attach "USB" and "PCI" TPUs on a host PC to run multiple models / pipeline a model wit

[2022-04-03 08:29] vladmarian20005 commented on #569
I have tried the same code with an object detection model from https://coral.ai/models and it seems like i get the same error:

Loading ssd_mobilenet_v1_coco_quant_postprocess_edgetpu.tflite with coco_labels.txt labels.
Traceback (most recent call last):
  File "/Users/vladmarian/Desktop/CoralTest/detect.py", line 99, in <module>
    main()
  File "/Users/vladmarian/Desktop/CoralTest/detect.py", l

[2022-04-03 12:55] hjonnala commented on #569
To resolve this please try : sudo cp -r /usr/local/lib/libedgetpu* /Users/vladmarian/

To resolve this please try : sudo cp -r /usr/local/lib/libedgetpu* /Users/vladmarian/Desktop/CoralTest/

To fix this issue permanently please try this option: https://github.com/google-coral/edgetpu/issues/568#issuecomment-1085072224

Thanks!

[2022-04-03 13:32] vladmarian20005 commented on #569
Thank You!! It works properly now!

[2022-04-03 13:32] #569 closed, assigned to hjonnala

[2022-04-04 05:58] maniranjanojha opened #571 "Board booting issue"
Hello,

I am facing an issue of the delayed boot (intermittently)
Sometimes the board boots like everything is right, but a few times the board freezes at the boot for like 15-20 minutes with an error "index -1 is not correct"

Also, a few times the Wifi adapter does not shows up.

I have installed a clean enterprise-eagle-flashcard-20211117215217 image multiple times but still, the issue is persi

[2022-04-04 14:15] hjonnala commented on #570
Hello @vleonn

It is not possible to use dev board like USB accelerator.

It is not possible.

Thanks!

[2022-04-04 14:22] muxamilian opened #572 "Edge TPU Compiler doesn't use all on-chip memory"
I have a small model that consists of `MobileNetV3Small` (without the head) and another convolutional layer after that, which returns a tensor with 128 elements.

When I compile the model using the `edgetpu_compiler`, it only uses a couple of 100 KiB for caching the model parameters and it puts the biggest part of the model in the off-chip memory, even though the model is quite small:

[code]

The

[2022-04-05 02:23] hjonnala commented on #572
Hi @muxamilian I think, its due to the parameter size of con2d layer (which might be too large for edgeTPU). Please let me know if you have any other models with same behavior. Thanks!

[code]

[2022-04-05 09:10] DevelopingElectronics opened #573 "How to load software in the Cortex inside the Coral SoM? Using the microprocessors to control the TPU"
### Description

Hi everyone,

I want to develop my own board using Google's Coral SoM. I don't know if I need another device (such as a microprocessor or a full system like Raspberry Pi) to manage the use of the SoM (acting like a supervisor/controller) or if I can load software into the two Cortex that are already included in the System-on-Module board. This second option would be better for me,

[2022-04-05 16:06] hjonnala commented on #571
Can you please share the serial console boot logs when an error `index -1 is not correct` has occurred. Thanks!

[2022-04-05 19:31] hcindyl commented on #527
The file system emergency mode is expected if you don't shutdown the board properly, and the board needs to check the integrity of the file system. If you have the UART debug console linked to the 40-pin header, you can recover the board from the emergency mode without reflashing the board.

[2022-04-06 11:04] muxamilian commented on #572
I have experimented with other models and have come to the conclusion that there's probably a limitation of the maximum parameter size as you said. If this is the case, it would be great if it were documented. I spent a considerable amount of time trying to figure out why my model wouldn't fit into the Coral's 8 MB SRAM even though it was only around 4 MB.

[2022-04-06 17:53] hjonnala commented on #573
Hi, [SOM](https://coral.ai/docs/som/get-started/#requirements) is a complete system itself. It does not require any other microprocessor to control the TPU.

May I please know what are the things you want to control the TPU with microprocessors/using program. I think, you can only control when to turn on/off TPU to reduce the power reduction. Please check this link for details on it: https://githu

[2022-04-07 06:34] DevelopingElectronics commented on #573
Hello @hjonnala,

I want to use the two Cortex included in the SoC of the SoM to control a full PCB with all the features available, not just turning on/off the TPU. For example, I will like to programme the Cortex to manage data saving in a SD memory, controlling audio inputs, manage wireless communications, etc. Is this possible?
I want to use those microprocessors as the cores of the new board

[2022-04-08 08:42] DevelopingElectronics opened #574 "Using the JTAG pins to control the Cortex in the System-on-Chip"
### Description

Hello everyone

I have seen the JTAG pins in the Google's Coral Dev Board schematic and I want to know if I can use them to programme the Cortex microprocessor inside the iMX (SoC) in the SoM. Can I use JTAG to control the microprocessors? Can I use JTAG to control the microprocessors without corrupting the OS image? I want to control communication features of the two Cortex and G

[2022-04-08 15:58] #570 closed, assigned to hjonnala

[2022-04-08 15:59] #562 closed, assigned to hjonnala

[2022-04-11 09:20] constantinfite opened #575 "Coral dev board with camera IP"
### Description

I am working with a Coral development board. Am I wondering with the Coral board can support IP camera with rstp protocol ? I only saw that it can support Coral Camera or a USB camera. Thanks

<details><summary>Click to expand!</summary>

 ### Issue Type

Documentation Feature Request

### Operating System

Mendel Linux

### Coral Device

Dev Board

### Other Devices

_No response

[2022-04-11 13:56] mathieugalle opened #576 "Recurrent Convolution Model : how to get past the tensor dimension limit ?"
### Description

Hi,

With my company, Vitirover, we have a mower robot navigating on a vineyard. We trained some convolutional models for obstacle detection, and it is working great. The input is an image, and the output are classes of obstacles (or no obstacles)
However, our robot sometimes hits obstacles that are invisible now (not in the immediate detection field), but were visible a few secon

[2022-04-11 17:33] hjonnala commented on #575
Can you please try the gstreamer example from exampels-camera repo with rtsp source. https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py#L221. Thanks!

[2022-04-11 22:44] constantinfite commented on #575
Ok I will try thanks,
Do you if nvcompositor works on coral dev board ?

[2022-04-12 14:00] hjonnala commented on #575
nvcompositor does not work with coral dev board. I think it only works with NVIDIA products.

[code]

[2022-04-12 21:29] #555 closed, assigned to hjonnala

[2022-04-12 21:35] #559 closed, assigned to hjonnala

[2022-04-13 06:41] manishbuttan commented on #280
Hello Michael,
We have procured 500 Google chips for a project. The datasheet says that USB 3 is available but we need to contact Google for this. Can you please guide on where to get the USB3 details from?

Regards,
Manish

[2022-04-13 06:53] manoj7410 commented on #280
@manishbuttan Please contact at Coral sales link given at https://coral.ai/products/accelerator-module#tech-specs

[2022-04-13 07:07] manishbuttan commented on #280
Thanks Manoj. I have posted the query on the sales link, but it usually takes a long time to hear back from them. Since this is a bit urgent, I was hoping someone from Google here can connect me to the right team to take this forward.

[2022-04-14 23:09] IfaizulHasan opened #577 "Coral Dev Board Mini cannot booting up"
### Description

Hello, I have a problem with my coral dev board.

Before this, I had used this board smoothly but somehow today when I tried to turn it on, the orange indicator lit up. I read the datasheet stated that there was a possibility of boot failure.

The chronology was on yesterday I installed opencv-python-headless for about 12 hours with HDMI attached. Then when I turn off the board an

[2022-04-14 23:27] #516 closed, assigned to manoj7410

[2022-04-15 15:46] hjonnala commented on #577
Hello @IzuruSakamaki have you tried to re flash the board using [fastboot](https://coral.ai/docs/dev-board-mini/reflash/#force-boot-into-fastboot-mode) method?

can you please provide the following details:
- host operating system used to connect with dev board mini
- board refalshing logs
- serial console logs

Thanks!

[2022-04-15 18:17] brilthor commented on #492
I've now also tested this on the listed version of debian with identical results

[2022-04-15 18:50] hjonnala commented on #492
Can you please try to build [libcoral](https://github.com/google-coral/libcoral) and try the [single_model_benchmark.cc](https://github.com/google-coral/libcoral/blob/master/coral/single_model_benchmark.cc) script and share the results. Thanks!

[code]

[2022-04-15 19:44] brilthor commented on #492
@hjonnala

[code]

[2022-04-16 01:28] hjonnala commented on #576
Hello @mathieugalle

No, we aren't planning to support higher dimensions in future. For now this is a software limitation ( we may not disclose complete info about limitation)

Yes, the model would be 4d if input is 3d. This can be applicable for 2d inputs, where model can be 3d.

 it applies to every tensor executable on edgetpu

Not exactly sure about work around can you try with gray scale imag

[2022-04-18 11:24] manishbuttan commented on #280
Hello, anyone here from Google Coral Team? I have filled the online form for Sales contact twice, but there is no response. Please share USB3 implementation details for Coral Accelerator Module. I have already received over 200 Corals Accelerator Modules and can't proceed with PCB design without this information. Thanks.

[2022-04-18 17:33] hjonnala commented on #280
Hello @manishbuttan  Our sales team have responded to your inquiry on our website. Please check your email and follow up there.  Thanks!

[2022-04-18 17:42] manishbuttan commented on #280
Thanks Hemanth. Yes, I just received an email from Bill from Google. Am working with him to get this completed.

[2022-04-19 06:48] eungiHong opened #578 "Modify trip_point_*_temp permanently"
### Description

Hello,

I am using Coral Dev Board.

I succeeded to change trip_point_*_temp in -
/sys/class/thermal/thermal_zone0
or
/sys/devices/virtual/thermal/thermal_zone0

However, after reboot, the modified trip points are set to default.

Is there any way to change them permanently?

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

[2022-04-19 10:05] DevelopingElectronics opened #579 "Micro-SD Slot pinout does not follow the standard"
### Description

Hello,

I am checking the schematics for Dev Board. In sheet number six you can find the pinout for the micro-SD slot. My question is that why you can find a signal called "SD2_nCD" in pin number 9 in the slot if the standard for the slots says there are only 8 pins. I have check iMX8 documentation and that signal is for card detection, so it is an input for the SoM, but... how ca

[2022-04-19 19:24] hjonnala commented on #578
Hello @eungiHong please refer to this link and let me know if its solves the issue: https://forum.manjaro.org/t/persisting-change-to-sys-class-thermal-thermal-zone-mode/53556

Thanks!

[2022-04-19 22:36] hjonnala commented on #579
Hello @DevelopingElectronics please check this article and let me know if you have any questions: https://community.circuitmess.com/t/understanding-the-sd-card-slot/2801

[2022-04-19 22:54] #527 closed, assigned to hjonnala

[2022-04-20 00:19] eungiHong commented on #578
Hello @hjonnala your link solved the problem perfectly!
Thank you so much!

[2022-04-20 00:19] #578 closed, assigned to hjonnala

[2022-04-22 10:04] vaishnavils97 opened #580 "Coral-dev-Board support for OS"
Hi, Please give a list of Operating System or Linux Distribution For the Coral Development Board

[2022-04-22 13:07] hjonnala commented on #580
Hi, we only support [Mendel Linux](https://coral.googlesource.com/docs/+/refs/heads/master/ReadMe.md) for the Coral Dev Board.

[2022-04-25 08:49] smart-face opened #581 "sudo apt-get update certificate issues"
### Description

I tried flashing all the available mendel versions on EdgeTpu. I am getting apt-get update issues on the coral edge tpu dev board with the fresh installation.
I think you guys are not updating the certificates or it has been no longer supported?

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

### Coral Device

_No respon

[2022-04-25 09:43] smart-face commented on #581
Not able to install any package without an apt-get update on EdgeTPU mendel.

[2022-04-25 10:03] smart-face commented on #581
Solved it... stupid institutional internet

[2022-04-25 10:03] #581 closed, assigned to hjonnala

[2022-04-25 13:24] #580 closed, assigned to hjonnala

[2022-04-25 16:05] #576 closed, assigned to hjonnala

[2022-04-25 16:41] #575 closed, assigned to hjonnala

[2022-04-27 03:45] tbgoose commented on #363
@mbrooksx, any update if we will be seeing more of these? I haven't seen any in stock for a long time now, and have never really had the chance to buy one being in Australia.

[2022-04-27 04:41] ykhorzon opened #582 "Any method to get serial number by pycoral or linux command?"
### Description

How can I get  a unique serial number by pycoral or linux command?
https://coral.ai/legal/pcie-m2/#regulatory-information-eu

I found that only pycoral can list_edge_tpus() but it does not have serial number
[code]
Thanks

<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Operating System

Ubuntu

### Coral Device

Mini PCIe

### Other Devices

_No respons

[2022-04-27 08:58] david128kim commented on #582
I find a way to get "unique_id". But i' m not sure. ```cat /sys/class/apex/apex_0/unique_id```

[2022-04-27 10:19] DevelopingElectronics commented on #579
I still don't understand where to connect a pin that does not exist in the SD slot footprint

[2022-04-27 13:55] hjonnala commented on #363
@tbgoose We have a small shipment of USB modules to some retailers such as OKDo and Pi3g this month. It's possible that there are already long waiting lists at the retailers.

We recommend to place a pre order with Mouser or other retailers and wait for delivery.

Thanks!

[2022-04-27 22:06] hjonnala commented on #526
We haven't tested this. It may not work, as per the [product description](https://www.arducam.com/product/multi-camera-v2-1-adapter-raspberry-pi/) it works only with below products:

- 5MP OV5647 (V1.3) for Raspberry Pi
- 8MP IMX219 (V2.1)  for Raspberry Pi
- 12MP IMX477 (HQ) for Raspberry Pi

Whereas [coral camera](https://coral.ai/static/files/Coral-Camera-datasheet.pdf) uses OV5645 camera conne

[2022-04-28 00:04] tbgoose commented on #363
I placed an order with RS components in August last year. They've continued
to push delivery dates out as they approach and are now saying expected
stock end of July 2022. Fingers crossed...

On Wed, Apr 27, 2022 at 11:55 PM Hemanth-Jonnala ***@***.***>
wrote:

[2022-04-28 16:42] wb666greene commented on #363
I placed an order with Mouser in Oct 2021, its been pushed back to Aug 2022.

It's time to start considering Plan B.

[2022-04-28 17:50] hjonnala commented on #535
Hello @asmirnou

I appreciate your efforts here and thanks for sharing your work!

This would require supporting the full ISP pipeline along with MIPI CSI configuration change to support the RAW12 format. Unfortunately, our team is prioritized on other work but we will pass to our dev team for consideration.

All the Best!

[2022-04-28 22:50] tbgoose commented on #363
Probably is, it's not even properly listed on mouser AU to be able to place
a pre-order there. What is plan b? Get a whole SoC board just for TPU edge
processing?

My use case was for frigate detection on my rpi4 home assistant setup. The
USB is just perfect for that.

On Fri, 29 Apr 2022, 2:42 am wb666greene, ***@***.***> wrote:

[2022-04-29 01:40] wb666greene commented on #363
Unfortunately for the Pi4 class systems there doesn't seem to be any alternative.  The Movidius NCS2 is far inferior to the Coral TPU accelerators for my purposes.  If you only need a single camera input, perhaps the OAK cameras with integrated MyraidX could fill the bill.  The Jetson Nano and TensorRT seems the best option I'm aware of in the Pi4+TPU price range.  See the Nano TensorRT blogs of J

[2022-05-02 22:18] hjonnala commented on #582
Hello @ykhorzon we don't have any method to get the serial number by pycoral. The [solution](https://github.com/google-coral/edgetpu/issues/582#issuecomment-1110746055) provided by @david128kim is correct to get the serail number using linux coomand.

One can find this info on dev board too by updating/installing gasket-dkms driver. Thanks!

[2022-05-02 22:18] #582 closed, assigned to hjonnala

[2022-05-03 09:35] constantinfite commented on #575
@hjonnala Do you know if there is a replacement of nvcompositor working on google coral ?

[2022-05-03 09:42] Lee-Ji-won104 opened #583 "how to transfer files from dev board to android via bluetooth???"
### Description

I am a beginner Korean developer who is currently developing using the color dev board.
I searched transfer files from raspberry pi to android via Bluetooth on Google.
I used it because there is a good example as below.

// 라즈베리파이 업데이트
**_Sudo apt-get update
Sudo apt-get upgrade_**

// 필요한 라이브러리 설치
**_Sudo apt-get install bluetooth blueman bluez
Sudo apt-get install python-bluetoo

[2022-05-04 13:29] constantinfite opened #584 "Record 4 rtsp stream and concatenate them 1 file"
### Description

Hi, I want to record into a single file the stream of 4 IP camera working in RTSP.
I've already done it on a Jetson with this command
`gst-launch-1.0 -e nvcompositor name=mix background-w=2560 background-h=1440 \
    sink_0::xpos=0 sink_0::ypos=0 sink_0::width=1280 sink_0::height=720  \
    sink_1::xpos=1280 sink_1::ypos=0 sink_1::width=1280 sink_1::height=720 \
    sink_2::xpos=0

[2022-05-04 16:19] bsteiner-dandy opened #585 "Training a new segmentation model for the Coral"
Hi, do you have any resources on how to train a new segmentation model to run on the Coral? (something like the Colab training tutorials?) I see the pre-trained models here https://coral.ai/models/semantic-segmentation/#examples and inference code here https://github.com/google-coral/pycoral/blob/master/examples/semantic_segmentation.py but I am not sure how to train a new segmentation model in a

[2022-05-04 23:41] hjonnala commented on #585
@bsteiner-dandy Unfortunately, we don't have any scripts or support to train a segmentation model. Please check helpful threads at https://github.com/google-coral/edgetpu/issues/315 and https://discuss.tensorflow.org/t/suggestion-for-choosing-a-model/4057/11. Thanks!

[2022-05-05 16:55] #441 closed, assigned to hjonnala

[2022-05-05 16:56] #585 closed, assigned to hjonnala

[2022-05-06 13:57] samagalhaes opened #586 "RetinaNet compilation fails due to dynamic-size tensors"
### Description

Dear all,

I am trying to compile a RetinaNet ResNet50 to a USB Coral TPU. I wrote the network using the Sequential API of TF2 Keras.
After training the network, I removed the incompatible layers, i.e. the pre and post-processing layers and made a post-training quantisation.

For the network quantisation, I used the following code:

[code]

Any error was thrown.

However, when com

[2022-05-06 14:56] hjonnala commented on #586
Hello @samagalhaes the model has dynamic signatures shape('**shape_signature': array([ -1, 384, 384,   3]**). It should be ('**shape_signature': array([ 1, 384, 384,   3]**). Please make signatures static and convert to int8 tflite model to be able to compile with edgetpu compiler. Thanks!

`[{'name': 'serving_default_image:0', 'index': 0, 'shape': array([  1, 384, 384,   3], dtype=int32), 'shape_

[2022-05-06 16:46] samagalhaes commented on #586
Hi, @hjonnala Thank you for the help. Indeed.

I am trying to make the input static, but I do not know how to do it. May you aid me?

Thanks!

[2022-05-06 17:35] hjonnala commented on #586
I am not sure of custom objects section. But with the below code you would be able to convert and compile the model with the compiler.

[code]

[2022-05-06 20:43] vyang2968 opened #587 "Model Does Not Contain Only Custom Operations"
### Description

Hello, I am new to Google Coral's Edge TPU, but am familiar with Tensorflow. To get started, I ran this [Colab notebook](https://colab.research.google.com/github/google-coral/tutorials/blob/master/retrain_efficientdet_model_maker_tf2.ipynb). I compiled the model with the `edgetpu_compiler`, I got an output which said that 3 operations would still run on the CPU. I still downloaded

[2022-05-06 23:11] hjonnala commented on #587
Hi, It is not possible to map those 3 operations to TPU. As EdgeTPU does not support [dequantize](https://www.tensorflow.org/api_docs/python/tf/quantization/dequantize) and TFLite_Detection_PostProcess custom operation.

Please go through this page for model requirements and supported operations: https://coral.ai/docs/edgetpu/models-intro/.

[2022-05-07 03:33] vyang2968 commented on #587
That's unfortunate. How can I improve my model's FPS then? Does it depend on the architecture? Does SSD MobileNet V2 perform better than the EfficientLite-D0?

[2022-05-07 16:34] ropeguru commented on #256
So I have 2 Dual TPU cards and fully realize that I will only get one TPU per card. I am looking for a card to go into a desktop PCIe slot and be able to run both adapters.
I have read through MANY threads and they always seem to talk about on board M.2 slots and not much about full PCIe adapter cards.

What actually works. I will even settle for an adapter which will only work with a single dual

[2022-05-07 22:46] mattncsu commented on #256
These work for dual tpu- https://github.com/magic-blue-smoke/Dual-Edge-TPU-Adapter

[2022-05-08 00:11] ropeguru commented on #256
I know about those but they are not shipping and no idea when any will ship. I am on the waiting list.

What I asked for was a standard PCIe adapter for a normal workstation which will allow one of the 2 TPU's to be used. If the card has two M.2 E key slots would be great because I could use my two coral dual TPU and make use of one TPU on each card.

My question was what PCIe adapter can I use in

[2022-05-08 00:43] yanfali commented on #256
You could try https://www.newegg.com/riitop-model-dul-m2tpce4x-pci-express-controller-card/p/17Z-0061-00056?Description=dual%20M.2%20PCIe%20adapter%20card&cm_re=dual_M.2%20PCIe%20adapter%20card-_-17Z-0061-00056-_-Product&quicklink=true

[2022-05-08 00:51] yanfali commented on #256
https://www.newegg.com/riitop-dul-nvtpce8x-pci-express-controller-card/p/17Z-0061-00097?Description=dual%20nvme%20PCIe%20adapter&cm_re=dual_nvme%20PCIe%20adapter-_-9SIARE9F592947-_-Product&quicklink=true this might work. It has the ASM2812 PCIe switch on it. No idea if it'll work, but it might be worth a try.

[2022-05-08 02:04] murkumurdok commented on #256
This is what worked for me.  Connect the Dual TPU to this [M.2 to mini PCIe converter](https://www.amazon.com/gp/product/B083YW3RM3/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1), then use the mini PCIe converter to this [Mini PCI-E to PCI-E Adapter Card](https://www.amazon.com/gp/product/B07JBCL1CJ/ref=ppx_yo_dt_b_asin_title_o06_s00?ie=UTF8&psc=1).  It's not the most elegant or efficient soluti

[2022-05-08 21:29] nlublovary opened #588 "After flashing - You are in emergency mode. Cannot open access to console, the root account is locked."
### Description

Hello, I used to have a working Coral Dev Board Mini with Mandel 5.0 for couple of month, but by mistake I deleted /etc/systemd/ subfolders and several services didn't start anymore. So I decided to start over and flashed the board for the first time by following instruction and images found on coral.ai. First I tried with the latest excelsior-eagle-20201210233645.zip, flashing wa

[2022-05-08 22:29] nlublovary commented on #588
Found a solution to this problem, flash the board using the -H parameter:

### bash flash.sh **-H**

Upon looking inside flash.sh I noticed there is this an -H flag which will trigger overwrite_home and basically erases the entire MMC storage. I was on the right track and luckily this tiny command has solved my problem, the board is booting normally now.

![mRemoteNG_5Z5Jl6m7b3](https://user-image

[2022-05-08 22:29] #588 closed, assigned to hjonnala

[2022-05-09 08:27] samagalhaes commented on #586
Hi @hjonnala ,

Thank you for the support. Indeed solved the issue. Cheers!

[2022-05-09 08:27] #586 closed, assigned to hjonnala

[2022-05-09 18:53] nlublovary commented on #383
While it's not possible to boot directly from an SD card, it is possible to mount the entire root filesystem / (also /boot and /home) from an SD card. I think it's useful to have the entire root on an SD which allows for quick backups and recovery should the filesystem get messed up.

It's pretty simple to achieve this with an **empty** SD card (at least 8GB), the trick is to either swap the SD ca

[2022-05-09 20:55] hjonnala commented on #587
Yes in terms of latency SSD Mobilenet V2 perform better than the EfficientLite-D0, but accuracy would be higher in case of EfficientLite-D0.

[2022-05-10 03:33] smart-face opened #589 "Edge TPU lifespan resulted in Failed to load delegate"
### Description

I have used Dev board SoM continuously for 2 years in the following two cases:
case (1) EdgeTPU lasted about 8 months for continuous object detection (without motion sensing) on the mobilenetSSD model and now I got the following error,
  **During handling of the above exception, another exception occurred:
  Traceback (most recent call last):
    File "face_run.py", line 129, in <

[2022-05-10 16:00] hjonnala commented on #589
Hello @smart-face can you please update/reflash the [mendel software](https://coral.ai/docs/dev-board/get-started/#update-mendel) and share the output of following commands.

[code]

[code]

[2022-05-10 16:33] #526 closed, assigned to hjonnala

[2022-05-11 00:27] vyang2968 commented on #587
Alright thank you. I will try it with SSD Mobilenet V2.

[2022-05-11 00:27] #587 closed, assigned to hjonnala

[2022-05-11 11:07] a1994sc commented on #455
Hello, I also have a Google Coral Dev Board and flashed via the SD card. My Ethernet port isn't working at all, it has a dim/faint orange light regardless if a RJ45 is present or not. Has anyone found a fix for this issue?

[2022-05-11 19:07] Teme-V commented on #256
Looks a like my dual TPU is faulty. I replaced it with single TPU and it started to work immediately

[2022-05-13 15:47] jlpoolen commented on #383
For posterity, the current instructions for the Coral Dev Board (not Mini) have the DIP switch manipulations as follows:

https://coral.ai/docs/dev-board/get-started
Before flashing:

    While the card is being flashed, make sure your Dev Board is completely unplugged, and change the boot mode switches to boot from SD card, as shown in figure 1.

    Boot mode 	Switch 1 	Switch 2 	Switch 3 	Switc

[2022-05-13 16:07] nlublovary commented on #383
Those instructions apply to the "Coral Dev Board" only. The "Coral Dev Board **Mini**" is a different hardware and it has no DIP switches. This discussion was about the mini.

![2022-05-13 20_13_30-Products _ Coral and 9 more pages - Personal - Microsoft​ Edge](https://user-images.githubusercontent.com/7830031/168325101-14a126d6-71d5-44c2-9e58-c682a17c24b9.png)

[2022-05-16 14:29] hjonnala commented on #584
closing this as we have duplicate issue at: https://github.com/google-coral/examples-camera/issues/90

[2022-05-16 14:29] #584 closed, assigned to hjonnala

[2022-05-19 05:42] Yin-Jiaqi opened #590 "Pycoral 1.0.1"
### Description

I'm trying to install pycoral 1.0.1.

But I found all possible version is 2.0.0. Is there methods to install 1.0.1?

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Operating System

Linux

### Coral Device

USB Accelerator

### Other Devices

_No response_

### Programming Language

Python 3.7

### Relevant Log Output

_No response_</details>

[2022-05-21 14:33] hjonnala commented on #590
@jiaqiyin1995 Please try to install using wheel files at: https://github.com/google-coral/pycoral/releases. Thanks!

[2022-05-23 08:57] sharoseali commented on #589
Hi, I am using py coral on raspberry PI4 with a USB edge TPU accelerator. I get the same error when I run the example code provided in pycoral. I also download edge you runtime repo from here [https://github.com/google-coral/libedgetpu/releases/download/release-grouper/edgetpu_runtime_20210726.zip](https://github.com/google-coral/libedgetpu/releases/download/release-grouper/edgetpu_runtime_2021072

[2022-05-23 16:14] hjonnala commented on #589
@sharoseali can you please share the output of below commands:

- ls -al /usr/lib/arm-linux-gnueabihf/libedgetpu*
- python3 -c 'from pycoral.utils.edgetpu import get_runtime_version; print(get_runtime_version())'

[2022-05-24 12:09] tsgouvea opened #591 "mdt connection breaks when setting up Wifi connection with nmcli"
### Description

While following instructions in Coral documentation ([Get started with the Dev Board > Connect to the Internet](https://coral.ai/docs/dev-board/get-started#connect-internet)), I got an error at the following step:

[code]
(variables SSID and PW contain network name and password respectively).

Trying to restablish connection immediately after will fail:

[code]

After some time th

[2022-05-24 12:19] sharoseali commented on #589
Here are the results
[code]
[code]
Good News !! I managed to make it work by using `libedgetpu.so.1`  from `usr/lib/arm-linux-gnueabihf/` by running python3 with `sudo` and it worked. Without `sudo` even if you point  ` usr/lib/arm-linux-gnueabihf/libedgtpu.so.1` it didn't work. Thanks for your reply and sorry for my late reply.

[2022-05-24 12:22] tsgouvea commented on #591
[SOLVED]
Connection can be established with a slightly different call:

[code]

[2022-05-24 12:22] #591 closed, assigned to hjonnala

[2022-05-24 12:37] hjonnala commented on #589
@sharoseali can you please try changing the permissions so that you don't need to run with sudo.

[code]

[2022-05-24 13:01] sharoseali commented on #589
Thanks @hjonnala  i tried but it gives the same message without sudo

[code]

[2022-05-25 13:33] Petros626 opened #592 "TensorFlow 2 SSD-Models support"
Hello,

I would like to know if both current SSD models (FPN 320x320 and 640x640) of the Model Zoo 2 are supported by Edge TPU. According to Google Coral, only the FPN 640x640 has been trained and compiled.

source: https://coral.ai/models/object-detection/